/*------------------------------------*\
    $BASE - Footer
\*------------------------------------*/

footer {
    background-color: $text-color;
    color: $text-color-light;
    width: 100%;
    padding: $default-padding 0;
    border-top: $default-border solid $brand;
    font-family: $secondary-font-stack;
    font-weight: 600;
    text-transform: uppercase;
}
