/*------------------------------------*\
    $BASE - Page
\*------------------------------------*/

html {
    background-color: $white;
    color: $text-color;
    min-height: 100%;
    position: relative;
    overflow-y: scroll;
    font: 400 normal #{$base-font-size}/1.875 $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
