/*------------------------------------*\
    $OBJECTS - Aside Widgets
\*------------------------------------*/

.featured-pens,
.related-articles {
    @include media(">medium") {
        margin-top: $default-margin;
    }
}
.featured-pens-title,
.related-articles-title {
    margin-top: 0;
}
.featured-pens-link {
    width: 100%;
    display: block;
    margin-top: ($default-margin / 2);
    font-weight: 600;
    text-align: right;
    @include media("<=medium") {
        margin-bottom: $default-margin;
        text-align: center;
    }
}