/*------------------------------------*\
    $OBJECTS - Comments
\*------------------------------------*/

.comments-link {
    display: inline-block;
    margin-top: 1.625em;
    font-family: $secondary-font-stack;
    font-weight: 600;
    line-height: 1;
    &:after {
        content: "\00a0\2192";
    }
    @include media(">medium") {
        float: right;
    }
    @include media("<=medium") {
        display: block;
        margin-top: $default-margin;
    }
}

// Appears only on article pages
.comments {
    text-align: center;
    @include media(">medium") {
        .pagination + & {
            padding-top: $default-padding;
        }
    }
    .show-comments-button:before,
    .show-comments-button:active:before {
        position: relative;
        top: 0;
    }
    noscript {
        font-family: $secondary-font-stack;
        font-size: 1.25rem;
        font-style: italic;
    }
}