/*------------------------------------*\
    #OBJECTS - Icons
\*------------------------------------*/

// Hide our SVGs injected just below `<body>`
.svg--master {
    display: none;
}

/*a*/.icon {
    opacity: $opacity-high;
    height: $icon-size;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include transition;
    @include will-change(opacity, transform);
    &:hover,
    &:focus,
    &:active {
        opacity: 1;
        text-decoration: none;
    }
    &:active {
        @include translate3d(0, .125rem, 0);
    }
    @each $brand in $brands {
        $name:  nth($brand, 1);
        $ratio: nth($brand, 3);
        &.icon--#{$name},
        &.link--#{$name} {
            width: ($ratio * $icon-size);
        }
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
