/*------------------------------------*\
    #OBJECTS - Primary Navigation
\*------------------------------------*/

.primary-navigation {
    padding-bottom: $default-margin;
    white-space: nowrap;
    @include media(">medium") {
        float: right;
        padding-top: 1.5rem;
    }
    @include media("<=medium") {
        width: 100%;
    }
}
    .primary-navigation-list {
        height: 3.75rem;
        font-size: 0;
        @include media(">medium") {
            float: right;
        }
        @include media("<=medium") {
            text-align: center;
        }
        li {
            display: inline-block;
            font-size: 1rem;
            @include media(">medium") {
                float: left;
            }
            + li {
                margin-left: 1em;
                @include media("<=medium") {
                    margin-left: .5em;
                }
                @include media("<=small") {
                    margin-left: .25em;
                }
            }
        }
        a {
            color: $text-color-alt;
            display: block;
            padding: .75rem 1rem;
            border-bottom: 0 solid $brand;
            margin-bottom: .25rem;
            position: relative;
            font-family: $heading-font-stack;
            font-size: 1.25rem;
            line-height: 1.25;
            text-transform: uppercase;
            @include transition(color                $transition-time  $transition-function,
                                padding-bottom       $transition-time  $transition-function,
                                border-bottom-width  $transition-time  $transition-function,
                                transform            $transition-time  $transition-function);
            @include will-change(color, padding-bottom, border-bottom-width, transform);
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                @include translate3d(0, .2rem, 0);
            }
            @include media("<=small") {
                padding-left:  .75rem;
                padding-right: .75rem;
            }
        }
    }
        // Primary Navigation Hover Effect
        .primary-navigation-list a:hover,
        .primary-navigation-list a:focus,
        .primary-navigation-list a:active,
        .page-home .primary-navigation-home a,
        .page-about .primary-navigation-about a,
        .page-articles .primary-navigation-articles a,
        .page-pens .primary-navigation-pens a {
            color: $text-color;
            padding-bottom: .5rem;
            border-bottom-width: $default-border;
        }
            // Primary Navigation Active Page Arrow
            .page-home .primary-navigation-home a:after,
            .page-about .primary-navigation-about a:after,
            .page-articles .primary-navigation-articles a:after,
            .page-pens .primary-navigation-pens a:after {
                content: "";
                border-top:   .5em solid $brand;
                border-right: .5em solid transparent;
                border-left:  .5em solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                @include translate3d(-50%, 0, 0);
            }
