@charset "UTF-8";
@font-face {
    font-family: "League Gothic";
    font-style: normal;
    font-weight: 400;
    src: local("League Gothic Regular"), url("https://chrisburnell.com/fonts/league-gothic-regular.woff2") format("woff2"), url("https://chrisburnell.com/fonts/league-gothic-regular.woff") format("woff"), url("https://chrisburnell.com/fonts/league-gothic-regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova Regular"), url("https://chrisburnell.com/fonts/proxima-nova-regular.woff2") format("woff2"), url("https://chrisburnell.com/fonts/proxima-nova-regular.woff") format("woff"), url("https://chrisburnell.com/fonts/proxima-nova-regular.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 400;
    src: local("Proxima Nova Italic"), url("https://chrisburnell.com/fonts/proxima-nova-italic.woff2") format("woff2"), url("https://chrisburnell.com/fonts/proxima-nova-italic.woff") format("woff"), url("https://chrisburnell.com/fonts/proxima-nova-italic.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova Semibold"), url("https://chrisburnell.com/fonts/proxima-nova-semibold.woff2") format("woff2"), url("https://chrisburnell.com/fonts/proxima-nova-semibold.woff") format("woff"), url("https://chrisburnell.com/fonts/proxima-nova-semibold.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #f9f9f9;
    color: #4f4f4f;
    width: 100vw;
    margin: 0;
}

html {
    font-family: "Proxima Nova", sans-serif;
    font-display: swap;
    background-color: #4f4f4f;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "lnum" 1;
            font-feature-settings: "lnum" 1;
}

/**
 * Content Elements
 */
/**
 * Heading Elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

h1[id]:target,
h2[id]:target,
h3[id]:target,
h4[id]:target,
h5[id]:target,
h6[id]:target {
    -webkit-animation: heading-target 2s linear;
            animation: heading-target 2s linear;
}

@-webkit-keyframes heading-target {
    0%, 50% {
        background-color: gold;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes heading-target {
    0%, 50% {
        background-color: gold;
    }
    100% {
        background-color: transparent;
    }
}

/**
 * Heading - Alpha
 */
.alpha,
h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "League Gothic", Impact, sans-serif;
    font-display: swap;
    font-size: 4.5rem;
    line-height: 1;
    text-shadow: 0.25rem 0.25rem 0 rgba(6, 6, 6, 0.05);
}

@media (max-width: 500px) {
    .alpha,
    h1 {
        font-size: 3.50195rem;
    }
}

/**
 * Heading - Beta
 */
.beta,
h2 {
    font-size: 1.375rem;
    line-height: 1.25;
}

/**
 * Heading - Gamma
 */
.gamma,
h3,
.lede {
    font-size: 1.125rem;
    line-height: 1.875;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2.25rem;
    border-bottom: 0.125rem solid #dddddd;
    font-weight: 600;
}

h3:not(:last-child) {
    margin-bottom: 1.25rem;
}

.content > h3,
.widget h3 {
    clear: both;
    zoom: 1;
    width: auto;
    max-width: 100%;
    display: inline-block;
    padding-right: 2.25rem;
}

.content > h3::before, .content > h3::after,
.widget h3::before,
.widget h3::after {
    content: "";
    display: table;
}

.content > h3::after,
.widget h3::after {
    clear: both;
}

@media (max-width: 800px) {
    .content > h3,
    .widget h3 {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}

.lede + h3 {
    margin-top: 0;
}

/**
 * Heading - Delta
 */
.delta,
h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

h4 {
    margin-bottom: 0.625rem;
}

/**
 * Heading - Epsilon
 */
.epsilon,
h5 {
    font-size: 16px;
    line-height: 1.25;
}

/**
 * Heading - Zeta
 */
.zeta,
h6 {
    font-size: 16px;
    line-height: 1.25;
}

p {
    margin: 0 0 1.25rem;
}

p:last-child, p.ciu_embed {
    margin-bottom: 0;
}

p:empty {
    display: none;
    visibility: hidden;
}

@media (min-width: 501px) and (max-width: 800px) {
    p.columns {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 1.25rem;
           -moz-column-gap: 1.25rem;
                column-gap: 1.25rem;
    }
}

@media (min-width: 1141px) {
    p.columns {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 1.25rem;
           -moz-column-gap: 1.25rem;
                column-gap: 1.25rem;
    }
}

/**
 * Lists
 */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ol:not([class]),
ul:not([class]),
dl:not([class]),
.default-list {
    margin-bottom: 1.25rem;
}

ol:not([class]) ol:not([class]),
ol:not([class]) + ol:not([class]),
ul:not([class]) ol:not([class]),
ul:not([class]) + ol:not([class]),
dl:not([class]) ol:not([class]),
dl:not([class]) + ol:not([class]),
.default-list ol:not([class]),
.default-list + ol:not([class]), ol:not([class])
ul:not([class]),
ol:not([class]) +
ul:not([class]),
ul:not([class])
ul:not([class]),
ul:not([class]) +
ul:not([class]),
dl:not([class])
ul:not([class]),
dl:not([class]) +
ul:not([class]),
.default-list
ul:not([class]),
.default-list +
ul:not([class]), ol:not([class])
dl:not([class]),
ol:not([class]) +
dl:not([class]),
ul:not([class])
dl:not([class]),
ul:not([class]) +
dl:not([class]),
dl:not([class])
dl:not([class]),
dl:not([class]) +
dl:not([class]),
.default-list
dl:not([class]),
.default-list +
dl:not([class]), ol:not([class])
.default-list,
ol:not([class]) +
.default-list,
ul:not([class])
.default-list,
ul:not([class]) +
.default-list,
dl:not([class])
.default-list,
dl:not([class]) +
.default-list,
.default-list
.default-list,
.default-list +
.default-list {
    margin-top: 1.25rem;
}

ol:not([class]) li,
ul:not([class]) li,
.default-list li {
    position: relative;
    padding-left: 2.25rem;
}

ol:not([class]) li:not(:last-child),
ul:not([class]) li:not(:last-child),
.default-list li:not(:last-child) {
    margin-bottom: 0.625rem;
}

ol:not([class]) li::before,
ul:not([class]) li::before,
.default-list li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
}

ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;
}

ol:not([class]) > li,
ol.default-list > li {
    counter-increment: ordered-list;
}

ol:not([class]) > li::before,
ol.default-list > li::before {
    content: counter(ordered-list, decimal-leading-zero) ".";
    font-variant-numeric: tabular-nums;
    -webkit-font-feature-settings: "tnum";
            font-feature-settings: "tnum";
}

ol:not([class])[reversed],
ol.default-list[reversed] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

ul:not([class]) li::before,
ul.default-list li::before {
    content: "•";
    font-size: 1.5rem;
    line-height: 1;
}

dl {
    overflow: hidden;
}

dt {
    width: auto;
    min-width: 10rem;
    clear: left;
    padding-right: 1.25rem;
    font-weight: 600;
}

@media (min-width: 501px) {
    dt {
        float: left;
    }
}

dd {
    width: 1140px;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
}

dd:not(:last-child) {
    padding-bottom: 1.25rem;
}

@media (max-width: 500px) {
    dd {
        width: auto;
        display: block;
        padding-left: 1.25rem;
    }
}

/**
 * Images and Figures
 */
img,
svg,
picture {
    display: block;
    position: relative;
}

img,
svg,
picture,
a img,
a
svg,
a
picture {
    width: auto;
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
}

img::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    text-align: center;
}

img::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    content: "Broken Image: " attr(src);
    color: #e31b23;
    font-style: italic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 1.25rem;
}

figure:not(.highlight) {
    overflow-x: auto;
    overflow-y: hidden;
}

figure > a,
figure img,
figure
svg,
figure
picture {
    background-clip: padding-box;
    border-radius: 0.375rem;
}

figure > a {
    display: block;
    border-bottom-width: 0;
}

figure > a:link,
figure > a:visited,
figure figcaption {
    color: #737373;
    font-style: italic;
}

figure figcaption {
    font-family: Georgia, serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.25rem;
    line-height: 1.25;
}

/**
 * Tables
 */
table {
    min-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    border-collapse: collapse;
}

table.zebra tbody tr:nth-child(even) td {
    background-color: rgba(6, 6, 6, 0.05);
    border-left-color: #dddddd;
}

th,
td {
    -webkit-transition: background-color 0.2s ease, border-left-color 0.2s ease;
    transition: background-color 0.2s ease, border-left-color 0.2s ease;
    will-change: background-color, border-left-color;
    padding: 0.625rem;
    text-align: left;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

/*table*/
.highlight tbody tr:hover td,
.highlight--row tbody tr:hover td {
    border-left-color: #dddddd;
}

.highlight tbody tr:hover td,
.highlight tbody tr:hover + tr td,
.highlight--row tbody tr:hover td,
.highlight--row tbody tr:hover + tr td {
    border-top-color: #dddddd;
}

.highlight tbody tr:hover th,
.highlight tbody tr:hover td:not(:hover),
.highlight--row tbody tr:hover th,
.highlight--row tbody tr:hover td:not(:hover) {
    background-color: rgba(95, 138, 166, 0.1) !important;
}

/*table*/
.highlight thead th:not(:empty),
.highlight td,
.highlight tfoot th:not(:empty),
.highlight--columns thead th:not(:empty),
.highlight--columns td,
.highlight--columns tfoot th:not(:empty) {
    position: relative;
}

.highlight thead th:not(:empty)::after,
.highlight td::after,
.highlight tfoot th:not(:empty)::after,
.highlight--columns thead th:not(:empty)::after,
.highlight--columns td::after,
.highlight--columns tfoot th:not(:empty)::after {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    content: "";
    opacity: 0;
    background-color: rgba(95, 138, 166, 0.1);
    width: 100%;
    height: 200vw;
    pointer-events: none;
    z-index: 2;
}

.highlight thead th:not(:empty):hover::after,
.highlight td:hover::after,
.highlight tfoot th:not(:empty):hover::after,
.highlight--columns thead th:not(:empty):hover::after,
.highlight--columns td:hover::after,
.highlight--columns tfoot th:not(:empty):hover::after {
    opacity: 1;
}

th {
    /*tfoot*/
}

th:not(:empty) {
    background-color: #ededed;
}

thead th,
tfoot th {
    font-weight: 600;
    white-space: nowrap;
}

tfoot th {
    border-top: 0.125rem solid #dddddd;
}

@media (min-width: 801px) {
    .totals th {
        text-align: right;
    }
}

.totals th::before {
    content: "Total:";
    padding-right: 0.5em;
    font-style: italic;
}

@media (min-width: 501px) {
    .totals th::before {
        float: left;
    }
}

tbody th {
    font-style: italic;
    font-weight: 400;
}

th + th {
    border-left: 0.125rem solid #dddddd;
}

tbody th,
td {
    border-top: 0.125rem solid #ededed;
}

tbody th + td,
td + td {
    border-left: 0.125rem solid #ededed;
}

tbody th,
tbody tr:first-child td {
    border-top-color: #dddddd;
}

tbody th {
    width: 1px;
    padding-right: 1.25rem;
    text-align: right;
    white-space: nowrap;
}

tbody th + td {
    border-left-color: #dddddd;
}

/**
 * Details and Summary
 */
details {
    background-clip: padding-box;
    border-radius: 0.25rem;
    background-color: #2b2b2b;
    color: #f9f9f9;
    width: 100%;
    max-width: calc(336px + (480 - 336) * ((100vw - 500px) / (1140 - 500)));
    padding: 0.625rem;
    margin-left: auto;
    margin-right: auto;
}

details blockquote, details
details, details
table, details
dl, details
ol, details
ul, details
figure:not([class]), details
p {
    padding: 0 0.625rem 0.625rem;
}

summary {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    display: list-item;
    font-weight: 600;
    outline: 0;
    cursor: pointer;
}

summary:hover, summary:focus {
    text-decoration: underline;
    -webkit-text-decoration-skip: objects;
}

details:not([open]) summary:hover,
details:not([open]) summary:focus {
    -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
}

summary + blockquote, summary +
details, summary +
table, summary +
dl, summary +
ol, summary +
ul, summary +
figure:not([class]), summary +
p {
    margin-top: 0.625rem;
    border-top: 0.125rem solid #5f8aa6;
    padding-top: 1.25rem;
}

/**
 * Images and Figures
 */
img,
svg,
picture {
    position: relative;
}

img,
svg,
picture,
a img,
a
svg,
a
picture {
    width: auto;
    max-width: 100%;
    height: auto;
}

picture,
picture img,
picture svg {
    display: block;
}

img {
    border-style: none;
}

img::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    text-align: center;
}

img::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    content: "Broken Image: " attr(src);
    color: #e31b23;
    font-style: italic;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 1.25rem;
}

figure:not(.highlight) {
    overflow-x: auto;
    overflow-y: hidden;
}

figure img, figure
svg, figure
picture,
figure > a,
figure > a img,
figure > a
svg,
figure > a
picture {
    background-clip: padding-box;
    border-radius: 0.375rem;
    display: block;
}

figure > a,
figure figcaption {
    color: #737373;
}

figure > a {
    border-bottom-width: 0;
}

figure figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1.25rem;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.25;
}

/**
 * Quotes
 */
blockquote {
    background-clip: padding-box;
    border-radius: 0.375rem;
    font-family: Georgia, serif;
    hanging-punctuation: first;
    background-color: rgba(95, 138, 166, 0.1);
    width: 100%;
    max-width: calc(336px + (480 - 336) * ((100vw - 500px) / (1140 - 500)));
    padding: 1.25rem;
    margin: 0 auto 1.25rem;
}

blockquote,
:lang(en) blockquote {
    quotes: "“" "”" "‘" "’";
}

:lang(de) blockquote,
:lang(pl) blockquote {
    quotes: "„" "“" "‚" "‘";
}

:lang(fr) blockquote {
    quotes: "« " " »" "‹ " " ›";
}

:lang(es) blockquote {
    quotes: "«" "»" "“" "“";
}

blockquote p::before {
    content: open-quote;
}

blockquote p:first-of-type::after {
    content: close-quote;
}

blockquote cite {
    display: block;
    margin-left: 2.25rem;
    margin-top: 1.25rem;
}

blockquote cite::before {
    content: "‐ ";
}

/*blockquote*/
.twitter-tweet {
    margin: 0 auto 1.25rem !important;
    contain: strict;
}

q {
    hanging-punctuation: first;
}

q,
:lang(en) q {
    quotes: "“" "”" "‘" "’";
}

:lang(de) q,
:lang(pl) q {
    quotes: "„" "“" "‚" "‘";
}

:lang(fr) q {
    quotes: "« " " »" "‹ " " ›";
}

:lang(es) q {
    quotes: "«" "»" "“" "“";
}

time {
    display: inline-block;
}

audio {
    width: 100%;
    max-width: 500px;
    display: block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

hr {
    background: rgba(6, 6, 6, 0.1);
    width: 100%;
    height: 0.125rem;
    display: block;
    border: 0;
    margin: 2.25rem 0;
    overflow: visible;
}

@media (max-width: 800px) {
    blockquote + hr,
    details + hr,
    table + hr,
    dl + hr,
    ol + hr,
    ul + hr,
    figure:not([class]) + hr,
    p + hr {
        margin-top: 1.25rem;
    }
}

/**
 * Inline Content Elements
 */
abbr[title],
blockquote,
cite,
dfn[title] {
    color: #737373;
    font-style: italic;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #737373;
    cursor: help;
}

abbr[title],
dfn[title],
ins {
    text-decoration: none;
}

small {
    font-size: 0.875rem;
}

strong {
    font-weight: 600;
}

sub,
sup {
    font-size: 0.875rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

[hidden] {
    display: none;
}

/**
 * Mouse Selection
 */
::-moz-selection {
    background-color: #5f8aa6;
    color: #f9f9f9;
}
::selection {
    background-color: #5f8aa6;
    color: #f9f9f9;
}

.canada::-moz-selection {
    background-color: #fd1b00;
}

.canada::selection {
    background-color: #fd1b00;
}

a {
    position: relative;
    -webkit-transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    will-change: background, color, border-color;
    background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
}

a, a:link {
    color: #5f8aa6;
    border-bottom-color: #dddddd;
}

a:hover, a:focus, a:active {
    border-bottom-color: #5f8aa6;
    outline-width: 0;
}

a:visited {
    color: #567d96;
}

a:visited:hover, a:visited:focus, a:visited:active {
    border-bottom-color: #567d96;
}

h2 a,
h3 a {
    border-bottom-width: 0;
}

h2 a:link,
h3 a:link {
    color: #4f4f4f;
}

h2 a:visited,
h3 a:visited {
    color: #606060;
}

h3 a:hover, h3 a:focus, h3 a:active,
.delta a:hover,
.delta a:focus,
.delta a:active {
    text-decoration: underline;
}

.dark-background a:link, .dark-background a:visited {
    color: #f9f9f9;
    border-bottom-color: #737373;
}

.dark-background a:link:hover, .dark-background a:link:focus, .dark-background a:link:active, .dark-background a:visited:hover, .dark-background a:visited:focus, .dark-background a:visited:active {
    border-bottom-color: #f9f9f9;
}

a span:not([class]):not([itemprop]) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * Title Anchors inside Headings
 */
.title-anchor {
    -webkit-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    will-change: color, border-bottom-color;
    display: inline-block;
    border-bottom-width: 0.125rem;
}

.title-anchor, .title-anchor:link {
    border-bottom-color: transparent;
}

.title-anchor:hover, .title-anchor:focus, .title-anchor:active {
    color: #4f4f4f;
    border-bottom-color: #5f8aa6;
}

/**
 * Fragment Anchors inside Headings
 */
.fragment-anchor {
    text-transform: lowercase;
    letter-spacing: 0;
    font-family: "Menlo for Powerline", "Menlo", Consolas, Monaco, Courier, monospace;
    -webkit-font-variant-ligatures: none;
            font-variant-ligatures: none;
    display: none;
    visibility: hidden;
    margin-left: 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
    text-shadow: none;
    vertical-align: middle;
}

.fragment-anchor, .fragment-anchor:link {
    color: #737373;
    border-bottom-width: 1px;
}

.fragment-anchor:visited {
    color: #2b2b2b;
}

.fragment-anchor:hover, .fragment-anchor:focus, .fragment-anchor:active {
    border-bottom-color: #737373;
    text-decoration: none;
}

.fragment-anchor:visited:hover, .fragment-anchor:visited:focus, .fragment-anchor:visited:active {
    border-bottom-color: #2b2b2b;
}

h1:hover .fragment-anchor,
h2:hover .fragment-anchor,
h3:hover .fragment-anchor,
h4:hover .fragment-anchor,
h5:hover .fragment-anchor,
h6:hover .fragment-anchor, h1:focus .fragment-anchor,
h2:focus .fragment-anchor,
h3:focus .fragment-anchor,
h4:focus .fragment-anchor,
h5:focus .fragment-anchor,
h6:focus .fragment-anchor, h1:active .fragment-anchor,
h2:active .fragment-anchor,
h3:active .fragment-anchor,
h4:active .fragment-anchor,
h5:active .fragment-anchor,
h6:active .fragment-anchor, .fragment-anchor:target {
    display: inline-block;
    visibility: visible;
}

/**
 * Related Anchors
 */
.related-anchor::after {
    content: " ↩︎";
}

.wrap {
    width: auto;
    max-width: 1140px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.wrap--full-width {
    max-width: 100%;
}

.clear {
    clear: both;
    zoom: 1;
}

.clear::before, .clear::after {
    content: "";
    display: table;
}

.clear::after {
    clear: both;
}

main {
    display: block;
    padding-bottom: 2.25rem;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
}

@supports ((display: -ms-grid) or (display: grid)) {
    header {
        display: -ms-grid;
        display: grid;
    }
}

@media (max-width: 800px) {
    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    @supports ((display: -ms-grid) or (display: grid)) {
        header {
            -ms-grid-rows: 7rem min-content;
                grid-template-rows: 7rem min-content;
        }
    }
}

@media (min-width: 801px) {
    header {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    @supports ((display: -ms-grid) or (display: grid)) {
        header {
            -ms-grid-columns: 15.875rem min-content;
                grid-template-columns: 15.875rem min-content;
        }
    }
}

/**
 * The width of the content is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `.content`.
 */
.content {
    padding-top: 2.25rem;
    border-top: 0.25rem solid #5f8aa6;
}

@media (max-width: 800px) {
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media (min-width: 801px) {
    .content {
        padding-left: 18.125rem;
    }
}

/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `layout/_content.scss`.
 */
aside {
    font-family: Georgia, serif;
}

@media (max-width: 800px) {
    aside {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
    }
}

@media (min-width: 801px) {
    aside {
        width: 15.875rem;
        float: left;
        margin-left: -18.125rem;
        margin-bottom: 2.25rem;
    }
}

@media (max-width: 800px) {
    aside:not(.author):not(:last-child) {
        margin-bottom: 1.25rem;
    }
}

h3 + aside {
    margin-top: 2.25rem;
}

aside figure {
    margin-bottom: 0;
}

aside figcaption,
aside p {
    clear: both;
}

@media (min-width: 501px) {
    aside figcaption,
    aside p {
        font-size: 0.875rem;
    }
}

.border-radius,
.round,
.rounded {
    background-clip: padding-box;
    border-radius: 0.375rem;
}

.border-radius--thin,
.round--thin,
.rounded--thin {
    background-clip: padding-box;
    border-radius: 0.25rem;
}

[aria-hidden="true"]:not([href="#content"]), [aria-hidden="true"][href="#content"]:not(:focus),
.hidden:not([href="#content"]),
.hidden[href="#content"]:not(:focus),
.hide:not([href="#content"]),
.hide[href="#content"]:not(:focus),
.sr-only:not([href="#content"]),
.sr-only[href="#content"]:not(:focus),
.visually-hidden:not([href="#content"]),
.visually-hidden[href="#content"]:not(:focus) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}

.hyphen,
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.non-selectable {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
}

.logo {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
    display: inline-block;
    position: relative;
    border-bottom-width: 0;
}

@media (max-width: 800px) {
    .logo {
        height: 5.5rem;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 7rem;
                flex: 1 0 7rem;
    }
}

@media (min-width: 801px) {
    .logo {
        height: 6.25rem;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 15.875rem;
                flex: 1 0 15.875rem;
    }
}

.logo svg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    will-change: transform;
    fill: #5f8aa6;
}

@media (max-width: 800px) {
    .logo svg {
        width: 7rem;
        height: 7rem;
        -webkit-transform: translateX(50%) translateY(-1.5rem) translateZ(0);
                transform: translateX(50%) translateY(-1.5rem) translateZ(0);
    }
}

@media (min-width: 801px) {
    .logo svg {
        width: 8.5rem;
        height: 8.5rem;
        -webkit-transform: translateX(3.75rem) translateY(-3.25rem) translateZ(0);
                transform: translateX(3.75rem) translateY(-3.25rem) translateZ(0);
    }
}

@media (max-width: 800px) {
    .logo:hover svg, .logo:focus svg {
        -webkit-transform: translateX(65%) translateY(-1.35rem) translateZ(0);
                transform: translateX(65%) translateY(-1.35rem) translateZ(0);
    }
}

@media (min-width: 801px) {
    .logo:hover svg, .logo:focus svg {
        -webkit-transform: translateX(4rem) translateY(-3rem) translateZ(0);
                transform: translateX(4rem) translateY(-3rem) translateZ(0);
    }
}

@media (max-width: 800px) {
    .logo:active svg {
        -webkit-transform: translateX(70%) translateY(-1rem) translateZ(0);
                transform: translateX(70%) translateY(-1rem) translateZ(0);
    }
}

@media (min-width: 801px) {
    .logo:active svg {
        -webkit-transform: translateX(4rem) translateY(-2.5rem) translateZ(0);
                transform: translateX(4rem) translateY(-2.5rem) translateZ(0);
    }
}

.nav-primary {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    white-space: nowrap;
}

@media (max-width: 800px) {
    .nav-primary {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        padding-top: 0.625rem;
        text-align: center;
    }
}

.nav-primary-list {
    height: 3.75rem;
    font-size: 0;
}

.nav-primary-list li {
    display: inline-block;
    font-size: 1rem;
}

@media (max-width: 500px) {
    .nav-primary-list li + li {
        margin-left: 0.25em;
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    .nav-primary-list li + li {
        margin-left: 0.5em;
    }
}

@media (min-width: 801px) {
    .nav-primary-list li + li {
        margin-left: 1em;
    }
}

.nav-primary-list a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "League Gothic", Impact, sans-serif;
    font-display: swap;
    -webkit-transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, -webkit-transform 0.2s ease;
    transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, transform 0.2s ease;
    transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
    will-change: color, padding-bottom, border-bottom-width, transform;
    color: #737373;
    display: block;
    padding: 0.75rem 1rem;
    border-bottom-width: 0;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.25;
}

.nav-primary-list a:link, .nav-primary-list a:visited {
    border-bottom-color: #5f8aa6;
}

.nav-primary-list a:active {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
}

@media (max-width: 500px) {
    .nav-primary-list a {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
.page--home .nav-primary--home a,
.page--about .nav-primary--about a,
.page--article .nav-primary--articles a,
.page--articles .nav-primary--articles a,
.page--pen .nav-primary--pens a,
.page--pens .nav-primary--pens a,
.page--search .nav-primary--search a {
    color: #4f4f4f;
    padding-bottom: 0.5rem;
    border-bottom-width: 0.25rem;
}

.page--home .nav-primary--home a::after, .page--about .nav-primary--about a::after, .page--article .nav-primary--articles a::after, .page--articles .nav-primary--articles a::after, .page--pen .nav-primary--pens a::after, .page--pens .nav-primary--pens a::after, .page--search .nav-primary--search a::after {
    content: "";
    border-top: 0.5em solid #5f8aa6;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.title,
.tagline {
    width: 100%;
    margin-bottom: 2.25rem;
}

/**
 * Banner / Hero Image
 * Can take two images, which are displayed with `srcset`
 */
.banner {
    background-clip: padding-box;
    border-radius: 0.375rem;
    width: 50.625rem;
    margin-bottom: 2.25rem;
}

@media (max-width: 500px) {
    .banner {
        width: 500px;
    }
}

/**
 * Page Introduction / Description
 */
.lede {
    margin-bottom: 2.25rem;
}

@media (max-width: 800px) {
    .lede {
        text-align: left;
    }
}

aside + .lede {
    margin-top: -0.625rem;
}

.lede--featured {
    max-width: 24em;
    font-size: 1.25rem;
    font-weight: 600;
}

/**
 * Explain required terminology for the content
 */
/*dl*/
.terminology {
    padding-bottom: 2.25rem;
    border-bottom: 0.125rem solid rgba(6, 6, 6, 0.1);
}

/**
 * Page Edit Notes
 */
.edit {
    background-clip: padding-box;
    border-radius: 0.375rem;
    background-color: rgba(95, 138, 166, 0.1);
    padding: 1.25rem;
    margin: 0 2.25rem 2.25rem;
    font-style: italic;
    line-height: 1.5;
}

.edit time {
    margin-bottom: 0.625rem;
}

.em-dash,
.m-dash {
    display: inline-block;
}

.em-dash::before,
.m-dash::before {
    content: " — ";
}

.en-dash,
.n-dash {
    display: inline-block;
}

.en-dash::before,
.n-dash::before {
    content: " – ";
}

.minus {
    display: inline;
}

.minus::before {
    content: "−";
}

/**
 * The `.author` aside is always pushed underneath the content below the medium
 * breakpoint.
 */
/*aside*/
.author {
    font-family: "Proxima Nova", sans-serif;
    font-display: swap;
}

@media (max-width: 800px) {
    .author {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-ordinal-group: 999;
            -ms-flex-order: 998;
                order: 998;
        margin-top: 2.25rem;
    }
}

/**
 * More information about the Author, the Page, or the Post
 */
.author-information {
    font-family: Georgia, serif;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.429;
}

@media (max-width: 800px) {
    .author-information {
        padding-top: 2.25rem;
        border-top: 0.125rem solid rgba(6, 6, 6, 0.1);
        margin-bottom: 0.625rem;
    }
}

.author-information a,
.author-information strong {
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: "Proxima Nova", sans-serif;
    font-display: swap;
    color: inherit;
    border-bottom-width: 0;
    font-weight: 600;
    font-style: normal;
}

.author-information a:hover, .author-information a:focus, .author-information a:active {
    text-decoration: underline;
}

/**
 * Photograph of my FACE
 */
.author-image {
    background-clip: padding-box;
    border-radius: 0.375rem;
    background-image: -webkit-linear-gradient(bottom left, transparent 0%, #99c0e2 100%), -webkit-linear-gradient(top right, transparent 0%, #9d858b 100%), -webkit-linear-gradient(top left, transparent 0%, #5990ad 100%), -webkit-linear-gradient(bottom right, transparent 0%, #89634f 100%);
    background-image: linear-gradient(to top right, transparent 0%, #99c0e2 100%), linear-gradient(to bottom left, transparent 0%, #9d858b 100%), linear-gradient(to bottom right, transparent 0%, #5990ad 100%), linear-gradient(to top left, transparent 0%, #89634f 100%);
    background-size: 100%;
    width: 6.25rem;
    height: 6.25rem;
    float: left;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
}

@supports ((-webkit-shape-outside: circle(50%)) or (shape-outside: circle(50%))) {
    .author-image {
        background-image: none;
        -webkit-shape-outside: circle(50%);
                shape-outside: circle(50%);
    }
}

.author-image img, .author-image
svg, .author-image
picture {
    background-clip: padding-box;
    border-radius: 0.375rem;
    width: 100%;
    height: 100%;
    display: block;
}

@supports ((-webkit-shape-outside: circle(50%)) or (shape-outside: circle(50%))) {
    .author-image img, .author-image
    svg, .author-image
    picture {
        background-clip: padding-box;
        border-radius: 50%;
    }
}

.author-name,
.author-nationality,
.author-employer,
.tags,
.location,
.reading-time,
.related-anchor {
    display: block;
}

.author-information .date,
.author-nationality,
.author-employer,
.tags,
.location,
.reading-time,
.related-anchor {
    margin-top: 0.5rem;
}
