/*------------------------------------*    #GENERIC - Box Sizing
\*------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------*    #BASE - Page
\*------------------------------------*/
html {
    background-color: #f9f9f9;
    color: #4f4f4f;
    min-height: 100%;
    position: relative;
    overflow-y: scroll;
    font: 400 normal 16px/1.875 "ff-meta-serif-web-pro", Georgia, serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*------------------------------------*    #BASE - Typography
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    min-height: 1.2em;
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-family: "league-gothic", Impact, sans-serif;
    font-size: 2.625rem;
    text-transform: uppercase;
    text-shadow: .0714em .0714em 0 rgba(6, 6, 6, .05);
}

h2 {
    font-family: "ff-meta-serif-web-pro", Georgia, serif;
    font-size: 1.625rem;
}

h3,
h4,
.articles-list .article-date {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
}

h3,
.articles-list .article-date {
    font-size: 1.125rem;
    line-height: 1.875;
    text-transform: uppercase;
}
h3 code,
.articles-list .article-date code {
    text-transform: none;
}

h3 {
    margin-top: .625rem;
    border-bottom: .125rem solid #dddddd;
}
h3:not(:last-child) {
    margin-bottom: 1.25rem;
}

h4 {
    margin-bottom: .5rem;
}

a {
    text-decoration: none;
    -webkit-transition: background .2s ease, color .2s ease;
            transition: background .2s ease, color .2s ease;
    will-change: background, color;
}
a:link {
    color: #5f8aa6;
}
a:visited {
    color: #4b6f87;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}
h2 a:link,
h3 a:link {
    color: #4f4f4f;
}
h2 a:visited,
h3 a:visited {
    color: dimgray;
}
h2 a:hover,
h2 a:focus,
h2 a:active,
h3 a:hover,
h3 a:focus,
h3 a:active {
    color: #5f8aa6;
}
a span:not([class]) {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

.heading-anchor {
    color: #737373;
    display: none;
    padding-left: 1em;
    font-family: Consolas, Monaco, "Courier New", monospace;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1;
    text-transform: lowercase;
    vertical-align: middle;
}
:hover > .heading-anchor,
:focus > .heading-anchor,
:active > .heading-anchor {
    display: inline-block;
}
h1 .heading-anchor {
    text-shadow: none;
}

/**
     * Brand Link Colours
     */
.link--codepen {
    color: #212121 !important;
}

.link--github {
    color: #333333 !important;
}

.link--lastfm {
    color: #e31b23 !important;
}

.link--rss {
    color: #5f8aa6 !important;
}

.link--twitter {
    color: #2795e9 !important;
}

.link--article {
    color: #5f8aa6 !important;
}

.link--feather {
    color: #5f8aa6 !important;
}

.link--heart {
    color: #5f8aa6 !important;
}

.link--tag {
    color: #5f8aa6 !important;
}

p {
    margin: 0;
}
p:not(:last-child) {
    margin-bottom: 1.25rem;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ol:not([class]) li,
ul:not([class]) li,
.default-list li {
    padding-left: 2.25rem;
    margin-bottom: .625rem;
    position: relative;
}
ol:not([class]) li:last-child,
ul:not([class]) li:last-child,
.default-list li:last-child {
    margin-bottom: 1.25rem;
}
ol:not([class]) li:before,
ul:not([class]) li:before,
.default-list li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
}

ol:not([class]) ol:not([class]),
ol:not([class]) ul:not([class]),
ol:not([class]) .default-list,
ul:not([class]) ol:not([class]),
ul:not([class]) ul:not([class]),
ul:not([class]) .default-list,
.default-list ol:not([class]),
.default-list ul:not([class]),
.default-list .default-list {
    margin-top: 1rem;
}

ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;
}
ol:not([class]) li,
ol.default-list li {
    counter-increment: ordered-list;
}
ol:not([class]) li:before,
ol.default-list li:before {
    content: counter(ordered-list) ".";
}

ul:not([class]) li:before,
ul.default-list li:before {
    content: "\2022";
    font-size: 1.5rem;
    line-height: 1;
}

dl {
    width: 100%;
    overflow: hidden;
}
dl:not(:last-child) {
    margin-bottom: 1.25rem;
}
dl dt {
    width: auto;
    min-width: 10rem;
    float: left;
    clear: left;
    padding-right: 1.25rem;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
}
@media (max-width: 500px) {
    dl dt {
        float: none;
    }
}
dl dd {
    width: 1140px;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top;
}
dl dd:not(:last-child) {
    padding-bottom: 1.25rem;
}
@media (max-width: 500px) {
    dl dd {
        width: auto;
        display: block;
        margin-left: 1.25rem;
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0 0 .5rem;
    text-align: center;
}
figure:not(:last-child) {
    margin-bottom: 1.25rem;
}
figure a:link,
figure a:visited,
figure figcaption {
    color: #737373;
    font-style: italic;
}

abbr[title],
blockquote,
cite,
dfn[title] {
    color: #737373;
    font-style: italic;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #737373;
    cursor: help;
}

ins {
    text-decoration: none;
}

q {
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
    background-color: rgba(95, 138, 166, .1);
    padding: 1rem;
    margin: 0 2.25rem 1.25rem;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
@media (max-width: 500px) {
    blockquote {
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }
}
blockquote p {
    margin-bottom: 0 !important;
}
blockquote p:before {
    content: open-quote;
    padding-right: .1875rem;
}
blockquote p:after {
    content: close-quote;
    padding-left: .1875rem;
}
blockquote cite {
    display: block;
    margin-left: 2rem;
    margin-top: 1rem;
}
blockquote cite:before {
    content: "\2013\00a0";
}

/*blockquote*/
.twitter-tweet {
    margin: 0 auto 1.25rem !important;
}

hr {
    background: rgba(6, 6, 6, .1);
    width: 100%;
    height: .125rem;
    display: block;
    border: 0;
    margin: .5rem 0 1.25rem;
}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: none;
    overflow-x: hidden;
}

iframe {
    margin-bottom: 1.25rem;
}

::-moz-selection {
    background: #5f8aa6;
    color: #f9f9f9;
}

::selection {
    background: #5f8aa6;
    color: #f9f9f9;
}

.canada::-moz-selection {
    background-color: red;
}

.canada::selection {
    background-color: red;
}

/*------------------------------------*    #BASE - Layout
\*------------------------------------*/
.wrap {
    width: auto;
    max-width: 1140px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-right: auto;
    margin-left: auto;
}

.clear {
    clear: both;
    zoom: 1;
}
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.clear:after {
    clear: both;
}

.content {
    padding-bottom: 2.25rem;
}

.fixed-width {
    width: 1140px;
}

.hidden,
p:empty {
    display: none;
}

/*------------------------------------*    #BASE - Header
\*------------------------------------*/
@media (max-width: 768px) {
    header {
        text-align: center;
    }
}

/*------------------------------------*    #BASE - Article
\*------------------------------------*/
/**
 * The width of the articles is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `article` or `.articles-list`.
 * Maximum total width of container
 *   = 1080px
 * Left-hand padding
 *   = 25% of 1080px = 270px  = 16.875em
 */
article {
    padding-top: 2.25rem;
    border-top: .25rem solid #5f8aa6;
}
@media (min-width: 769px) {
    article {
        padding-left: 18.125rem;
    }
}
@media (max-width: 768px) {
    article {
        /**
         * Below the medium breakpoint, `article`, `article-list`, and `aside`
         * become full width.
         */
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

/*------------------------------------*    #BASE - Aside
\*------------------------------------*/
/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `_content.scss`.
 */
@media (min-width: 769px) {
    aside {
        width: 15.875rem;
        float: left;
        margin-left: -18.125rem;
    }
}

@media (max-width: 768px) {
    aside {
        width: 100%;
    }
    aside:not(.author) {
        background: rgba(6, 6, 6, .05);
        padding: 1rem;
        margin-bottom: 1.25rem;
    }
    aside:not(.author):last-child {
        margin-bottom: 0;
    }
}

aside p,
aside figcaption {
    clear: both;
}
@media (min-width: 501px) {
    aside p,
    aside figcaption {
        font-size: .875rem;
    }
}

/*------------------------------------*    #COMPONENTS - Logo
\*------------------------------------*/
.logo {
    display: inline-block;
    padding-top: .5em;
    padding-left: 1.923em;
    position: relative;
    font-family: "league-gothic", Impact, sans-serif;
    font-size: 3.25rem;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: .058em .058em 0 rgba(6, 6, 6, .05);
    white-space: nowrap;
    z-index: 1;
    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    will-change: transform;
}
.logo:link,
.logo:visited {
    color: #4f4f4f;
}
.logo:hover,
.logo:focus,
.logo:active {
    text-decoration: none;
}
@media (min-width: 769px) {
    .logo {
        float: left;
    }
}
@media (max-width: 500px) {
    .logo {
        font-size: 2.75em;
    }
}
.logo svg {
    width: 2.307em;
    height: 2.307em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-animation: soaring 30s linear alternate infinite;
            animation: soaring 30s linear alternate infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: translate3d(0, -.8125em, 0);
            transform: translate3d(0, -.8125em, 0);
    will-change: top;
}
.logo:hover svg,
.logo:focus svg,
.logo:active svg {
    /**
         * Only animate the image when the user hovers `.logo`.
         */
    -webkit-animation-play-state: running;
            animation-play-state: running;
}
.logo:active {
    -webkit-transform: translate3d(0, .125rem, 0);
            transform: translate3d(0, .125rem, 0);
}
.logo:active svg {
    /**
             * In order to get `.logo svg` to travel up 2x the distance the
             * `.logo` text does, first the `translate` applied on the parent
             * (of the `aside`) has to be counteracted, then (2 * 0.039em)
             * is added, totalling 0.117em, made negative on the y-axis to
             * go up. We cannot use `translate` as it is used below for
             * further animating.
             */
    top: -.4rem;
}

@-webkit-keyframes soaring {
    0%,
    100% {
        -webkit-transform: translate3d(0, -.8125em, 0);
                transform: translate3d(0, -.8125em, 0);
    }
    12.5% {
        -webkit-transform: translate3d(-.0625em, -.6875em, 0);
                transform: translate3d(-.0625em, -.6875em, 0);
    }
    25% {
        -webkit-transform: translate3d(.125em, -.3125em, 0);
                transform: translate3d(.125em, -.3125em, 0);
    }
    37.5% {
        -webkit-transform: translate3d(.3125em, -.375em, 0);
                transform: translate3d(.3125em, -.375em, 0);
    }
    50% {
        -webkit-transform: translate3d(.125em, -.4375em, 0);
                transform: translate3d(.125em, -.4375em, 0);
    }
    62.5% {
        -webkit-transform: translate3d(.0625em, -.25em, 0);
                transform: translate3d(.0625em, -.25em, 0);
    }
    75% {
        -webkit-transform: translate3d(.1875em, -.4375em, 0);
                transform: translate3d(.1875em, -.4375em, 0);
    }
    87.5% {
        -webkit-transform: translate3d(-.0625em, -.5625em, 0);
                transform: translate3d(-.0625em, -.5625em, 0);
    }
}

@keyframes soaring {
    0%,
    100% {
        -webkit-transform: translate3d(0, -.8125em, 0);
                transform: translate3d(0, -.8125em, 0);
    }
    12.5% {
        -webkit-transform: translate3d(-.0625em, -.6875em, 0);
                transform: translate3d(-.0625em, -.6875em, 0);
    }
    25% {
        -webkit-transform: translate3d(.125em, -.3125em, 0);
                transform: translate3d(.125em, -.3125em, 0);
    }
    37.5% {
        -webkit-transform: translate3d(.3125em, -.375em, 0);
                transform: translate3d(.3125em, -.375em, 0);
    }
    50% {
        -webkit-transform: translate3d(.125em, -.4375em, 0);
                transform: translate3d(.125em, -.4375em, 0);
    }
    62.5% {
        -webkit-transform: translate3d(.0625em, -.25em, 0);
                transform: translate3d(.0625em, -.25em, 0);
    }
    75% {
        -webkit-transform: translate3d(.1875em, -.4375em, 0);
                transform: translate3d(.1875em, -.4375em, 0);
    }
    87.5% {
        -webkit-transform: translate3d(-.0625em, -.5625em, 0);
                transform: translate3d(-.0625em, -.5625em, 0);
    }
}

/*------------------------------------*    #COMPONENTS - Primary Navigation
\*------------------------------------*/
.nav-primary {
    padding-bottom: 1.25rem;
    white-space: nowrap;
}
@media (min-width: 769px) {
    .nav-primary {
        float: right;
        padding-top: 1.5rem;
    }
}
@media (max-width: 768px) {
    .nav-primary {
        width: 100%;
    }
}

.nav-primary-list {
    height: 3.75rem;
    font-size: 0;
}
@media (min-width: 769px) {
    .nav-primary-list {
        float: right;
    }
}
@media (max-width: 768px) {
    .nav-primary-list {
        text-align: center;
    }
}
.nav-primary-list li {
    display: inline-block;
    font-size: 1rem;
}
@media (min-width: 769px) {
    .nav-primary-list li {
        float: left;
    }
}
.nav-primary-list li + li {
    margin-left: 1em;
}
@media (max-width: 768px) {
    .nav-primary-list li + li {
        margin-left: .5em;
    }
}
@media (max-width: 500px) {
    .nav-primary-list li + li {
        margin-left: .25em;
    }
}
.nav-primary-list a {
    color: #737373;
    display: block;
    padding: .75rem 1rem;
    border-bottom: 0 solid #5f8aa6;
    margin-bottom: .25rem;
    position: relative;
    font-family: "league-gothic", Impact, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    text-transform: uppercase;
    -webkit-transition: color .2s ease, padding-bottom .2s ease, border-bottom-width .2s ease, -webkit-transform .2s ease;
            transition: color .2s ease, padding-bottom .2s ease, border-bottom-width .2s ease, transform .2s ease;
    will-change: color, padding-bottom, border-bottom-width, transform;
}
.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active {
    text-decoration: none;
}
.nav-primary-list a:active {
    -webkit-transform: translate3d(0, .2rem, 0);
            transform: translate3d(0, .2rem, 0);
}
@media (max-width: 500px) {
    .nav-primary-list a {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}

.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
.page-home .nav-primary-home a,
.page-about .nav-primary-about a,
.page-articles .nav-primary-articles a,
.page-pens .nav-primary-pens a,
.page-search .nav-primary-search a {
    color: #4f4f4f;
    padding-bottom: .5rem;
    border-bottom-width: .25rem;
}

.page-home .nav-primary-home a:after,
.page-about .nav-primary-about a:after,
.page-articles .nav-primary-articles a:after,
.page-pens .nav-primary-pens a:after,
.page-search .nav-primary-search a:after {
    content: "";
    border-top: .5em solid #5f8aa6;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
}
