@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  min-height: 100%;
  position: relative;
  overflow-y: scroll; }

html {
  background-color: #f9f9f9;
  color: #4f4f4f;
  font: 400 normal 100%/1.875 "ff-meta-serif-web-pro", Georgia, serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  min-height: 1.25em;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 400;
  line-height: 1.25; }

h1 {
  font-family: "league-gothic", Impact, sans-serif;
  font-size: 2.625rem;
  text-transform: uppercase;
  text-shadow: 0.0715em 0.0715em 0 rgba(6, 6, 6, 0.05); }

h2 {
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-size: 1.625rem; }

h3, .articles-list .date {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.875;
  text-transform: uppercase; }

h3 {
  margin-top: 0.625rem;
  border-bottom: 0.125rem solid #dddddd; }
  h3:not(:last-child) {
    margin-bottom: 1.25rem; }
  h3 code {
    text-transform: none; }

h4 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600; }

h4 {
  margin-bottom: 0.625rem; }

a {
  -webkit-transition: background 0.2s ease, color 0.2s ease;
          transition: background 0.2s ease, color 0.2s ease;
  will-change: background, color;
  position: relative;
  text-decoration: none; }
  a, a:link {
    color: #5f8aa6; }
  a:visited {
    color: #4b6f87; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }

h2 a:link, h2 a:visited,
h3 a:link,
h3 a:visited {
  color: #4f4f4f; }

h2 a:visited,
h3 a:visited {
  color: dimgray; }

h2 a:hover, h2 a:focus, h2 a:active,
h3 a:hover,
h3 a:focus,
h3 a:active {
  color: #5f8aa6; }

.heading-anchor {
  color: #737373;
  display: none;
  padding-left: 1.25rem;
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  text-transform: lowercase;
  text-shadow: none;
  vertical-align: middle; }
  :hover > .heading-anchor,
  :focus > .heading-anchor,
  :active > .heading-anchor {
    display: inline-block; }

/**
 * Brand Link Colours
 */
.link--codepen {
  color: #212121 !important; }

.link--github {
  color: #333333 !important; }

.link--lastfm {
  color: #e31b23 !important; }

.link--rss {
  color: #5f8aa6 !important; }

.link--twitter {
  color: #2795e9 !important; }

.link--article {
  color: #5f8aa6 !important; }

.link--feather {
  color: #5f8aa6 !important; }

.link--heart {
  color: #5f8aa6 !important; }

.link--tag {
  color: #5f8aa6 !important; }

p {
  margin: 0 0 1.25rem; }
  p:last-child {
    margin-bottom: 0; }

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

ol:not([class]) li,
ul:not([class]) li,
.default-list li {
  padding-left: 2.25rem;
  margin-bottom: 0.625rem;
  position: relative; }
  ol:not([class]) li:last-child,
  ul:not([class]) li:last-child,
  .default-list li:last-child {
    margin-bottom: 1.25rem; }
  ol:not([class]) li:before,
  ul:not([class]) li:before,
  .default-list li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600; }

ol:not([class]) ol:not([class]),
ol:not([class]) ul:not([class]),
ol:not([class]) .default-list,
ul:not([class]) ol:not([class]),
ul:not([class]) ul:not([class]),
ul:not([class]) .default-list,
.default-list ol:not([class]),
.default-list ul:not([class]),
.default-list .default-list {
  margin-top: 1.25rem; }

ol:not([class]),
ol.default-list {
  counter-reset: ordered-list; }
  ol:not([class]) li,
  ol.default-list li {
    counter-increment: ordered-list; }
    ol:not([class]) li:before,
    ol.default-list li:before {
      content: counter(ordered-list) "."; }

ul:not([class]) li:before,
ul.default-list li:before {
  content: "•";
  font-size: 1.5rem;
  line-height: 1; }

dl {
  width: 100%;
  overflow: hidden; }
  dl:not(:last-child) {
    margin-bottom: 1.25rem; }
  dl dt {
    width: auto;
    min-width: 10rem;
    clear: left;
    padding-right: 1.25rem;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600; }
    @media (min-width: 501px) {
      dl dt {
        float: left; } }
  dl dd {
    width: 1140px;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top; }
    @media (max-width: 500px) {
      dl dd {
        width: auto;
        display: block;
        margin-left: 1.25rem; } }
    dl dd:not(:last-child) {
      padding-bottom: 1.25rem; }

img,
a img {
  width: auto;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0 0 1.25rem; }
  figure:not(.highlight) {
    text-align: center; }
  figure a:link,
  figure a:visited,
  figure figcaption {
    color: #737373;
    font-style: italic; }

blockquote {
  background-color: rgba(95, 138, 166, 0.1);
  padding: 1.25rem;
  margin: 0 2.25rem 1.25rem; }
  blockquote,
  :lang(en) blockquote {
    quotes: "“" "”" "‘" "’"; }
  :lang(de) blockquote {
    quotes: "„" "“" "‚" "‘"; }
  :lang(fr) blockquote {
    quotes: "« " " »" "‹ " " ›"; }
  @media (max-width: 500px) {
    blockquote {
      margin-right: 1.25rem;
      margin-left: 1.25rem; } }
  blockquote p {
    margin-bottom: 0 !important; }
    blockquote p:before {
      content: open-quote;
      padding-right: .1875rem; }
    blockquote p:after {
      content: close-quote;
      padding-left: .1875rem; }
  blockquote cite {
    display: block;
    margin-left: 2.25rem;
    margin-top: 1.25rem; }
    blockquote cite:before {
      content: "‐ "; }

/*blockquote*/
.twitter-tweet {
  margin: 0 auto 1.25rem !important; }

q {
  font-style: italic; }
  q,
  :lang(en) q {
    quotes: "“" "”" "‘" "’"; }
  :lang(de) q {
    quotes: "„" "“" "‚" "‘"; }
  :lang(fr) q {
    quotes: "« " " »" "‹ " " ›"; }

abbr[title],
blockquote,
cite,
dfn[title] {
  color: #737373;
  font-style: italic; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #737373;
  cursor: help; }

ins {
  text-decoration: none; }

time {
  display: block; }

hr {
  background: rgba(6, 6, 6, 0.1);
  width: 100%;
  height: .125rem;
  display: block;
  border: 0;
  margin: 0.625rem 0 1.25rem; }

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
  width: 100%;
  border: none;
  overflow-x: hidden; }

iframe {
  margin-bottom: 1.25rem; }

::-moz-selection {
  background: #5f8aa6;
  color: #f9f9f9; }

::selection {
  background: #5f8aa6;
  color: #f9f9f9; }

.canada::-moz-selection {
  background-color: red; }

.canada::selection {
  background-color: red; }

code,
kbd,
samp,
var,
.monospace {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 0.875em;
  line-height: 1.429; }

p code,
ol code,
ul code,
dl code,
blockquote code,
ins,
kbd,
mark,
samp,
var {
  background-color: rgba(95, 138, 166, 0.1);
  padding: .25rem;
  word-wrap: break-word; }

pre {
  margin-top: 0;
  margin-bottom: 1.25rem; }
  code[data-lang] pre {
    margin-bottom: 0;
    text-align: left; }
  pre:not(.codepen) {
    background-color: rgba(6, 6, 6, 0.05);
    padding: 1.5rem 1.5rem 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.5; }
    pre:not(.codepen) code {
      min-width: 100%;
      display: block; }

button, .button,
.button--small {
  -webkit-transition: background-color 0.2s ease;
          transition: background-color 0.2s ease;
  will-change: background-color, height, padding-bottom, margin-bottom, box-shadow, transform;
  background-color: #5f8aa6;
  min-width: 8em;
  height: 2.182em;
  display: inline-block;
  padding: 0 .727em .182em;
  border: 0;
  margin-top: .25rem;
  outline-style: none;
  position: relative;
  font-family: "league-gothic", Impact, sans-serif;
  font-size: 1.375rem;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: inset 0 -0.182em 0 0 #4b6f87; }
  button, .button,
  .button--small, button:link, .button:link,
  .button--small:link, button:visited, .button:visited,
  .button--small:visited {
    color: #f9f9f9; }
  button:hover, .button:hover,
  .button--small:hover, button:focus, .button:focus,
  .button--small:focus, button:active, .button:active,
  .button--small:active {
    background-color: #6f96af;
    outline-style: auto;
    text-decoration: none; }
  button:active, .button:active,
  .button--small:active {
    height: 2em;
    padding-bottom: 0;
    margin-bottom: .182em;
    box-shadow: inset 0 -1px 0 0 #4b6f87;
    -webkit-transform: translateY(0.182em);
        -ms-transform: translateY(0.182em);
            transform: translateY(0.182em); }
  button:before, .button:before,
  .button--small:before, button:after, .button:after,
  .button--small:after {
    position: absolute;
    top: 0;
    left: 0;
    will-change: top;
    content: "";
    width: 100%;
    height: .182em; }
  button:active:before, .button:active:before,
  .button--small:active:before, button:active:after, .button:active:after,
  .button--small:active:after {
    top: -0.182em; }
  button svg, .button svg,
  .button--small svg {
    width: .8em;
    height: .8em;
    display: inline-block;
    margin-right: .25em;
    pointer-events: none; }
  button .icon--article, .button .icon--article,
  .button--small .icon--article {
    width: 0.72em; }
  button .icon--feather, .button .icon--feather,
  .button--small .icon--feather {
    width: 0.58em; }
  button .icon--search, .button .icon--search,
  .button--small .icon--search {
    margin-right: 0; }

button[disabled] {
  opacity: 0.7; }

.button--small {
  min-width: 5em;
  font-size: 1.25rem;
  height: 2em;
  margin-top: 0;
  line-height: 1.818; }
  .button--small:active {
    height: 1.818em; }

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="week"],
textarea {
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
          transition: background-color 0.2s ease, border-color 0.2s ease;
  will-change: background-color, border-color;
  box-sizing: inherit !important;
  padding: .5rem;
  border: 0.125rem solid #dddddd;
  outline-style: none;
  font-family: "proxima-nova", sans-serif; }
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="email"]:focus,
  input[type="month"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="week"]:focus,
  textarea:focus {
    background-color: transparent;
    border-color: #5f8aa6; }
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="email"][disabled],
  input[type="month"][disabled],
  input[type="number"][disabled],
  input[type="password"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="text"][disabled],
  input[type="week"][disabled],
  textarea[disabled] {
    opacity: 0.7; }

main {
  padding-bottom: 2.25rem; }

.wrap, .wrap--full-width {
  width: auto;
  max-width: 1140px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto; }

.wrap--full-width {
  width: 100%; }

.clear {
  clear: both;
  zoom: 1; }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    clear: both; }

header {
  overflow-y: hidden; }
  @media (max-width: 768px) {
    header {
      text-align: center; } }

article {
  padding-top: 2.25rem;
  border-top: 0.25rem solid #5f8aa6; }
  @media (min-width: 769px) {
    article {
      padding-left: 18.125rem; } }
  @media (max-width: 768px) {
    article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (min-width: 769px) {
  aside {
    width: 15.875rem;
    float: left;
    margin-left: -18.125rem; } }

@media (max-width: 768px) {
  aside {
    width: 100%; }
    aside:not(.author) {
      background: rgba(6, 6, 6, 0.05);
      padding: 1rem;
      margin-bottom: 1.25rem; }
      aside:not(.author):last-child {
        margin-bottom: 0; } }

aside p,
aside figcaption {
  clear: both; }
  @media (min-width: 501px) {
    aside p,
    aside figcaption {
      font-size: 0.875rem; } }

footer {
  background-color: #4f4f4f;
  color: #dddddd;
  width: 100%;
  padding: 2.25rem 0;
  border-top: 0.25rem solid #5f8aa6;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

.logo {
  display: inline-block;
  position: relative; }
  .logo:hover, .logo:focus, .logo:active {
    text-decoration: none; }
  @media (min-width: 501px) {
    .logo {
      height: 6.25rem;
      float: left; } }
  @media (min-width: 769px) {
    .logo {
      width: 15.875rem; } }
  @media (max-width: 768px) {
    .logo {
      width: 7rem; } }
  @media (max-width: 500px) {
    .logo {
      height: 5.625rem; } }
  .logo svg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
            transition: all 1s;
    will-change: transform;
    display: block; }
    @media (min-width: 769px) {
      .logo svg {
        width: 8.5rem;
        height: 8.5rem;
        -webkit-transform: translateX(3.75rem) translateY(-3.25rem);
            -ms-transform: translateX(3.75rem) translateY(-3.25rem);
                transform: translateX(3.75rem) translateY(-3.25rem); } }
    @media (max-width: 768px) {
      .logo svg {
        width: 7rem;
        height: 7rem;
        -webkit-transform: translateX(1rem) translateY(-1.5rem);
            -ms-transform: translateX(1rem) translateY(-1.5rem);
                transform: translateX(1rem) translateY(-1.5rem); } }
  @media (min-width: 769px) {
    .logo:hover svg,
    .logo:focus svg {
      -webkit-transform: translateX(4rem) translateY(-3rem);
          -ms-transform: translateX(4rem) translateY(-3rem);
              transform: translateX(4rem) translateY(-3rem); } }
  @media (max-width: 768px) {
    .logo:hover svg,
    .logo:focus svg {
      -webkit-transform: translateX(1.35rem) translateY(-1.35rem);
          -ms-transform: translateX(1.35rem) translateY(-1.35rem);
              transform: translateX(1.35rem) translateY(-1.35rem); } }
  .logo:active svg {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease; }
    @media (min-width: 769px) {
      .logo:active svg {
        -webkit-transform: translateX(4rem) translateY(-2.5rem);
            -ms-transform: translateX(4rem) translateY(-2.5rem);
                transform: translateX(4rem) translateY(-2.5rem); } }
    @media (max-width: 768px) {
      .logo:active svg {
        -webkit-transform: translateX(1.5rem) translateY(-1rem);
            -ms-transform: translateX(1.5rem) translateY(-1rem);
                transform: translateX(1.5rem) translateY(-1rem); } }

.nav-primary {
  float: right;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  white-space: nowrap; }
  @media (max-width: 500px) {
    .nav-primary {
      width: 100%;
      padding-top: 0.625rem;
      text-align: center; } }

.nav-primary-list {
  height: 3.75rem;
  font-size: 0; }
  @media (min-width: 769px) {
    .nav-primary-list {
      float: right; } }
  @media (max-width: 768px) {
    .nav-primary-list {
      text-align: center; } }
  .nav-primary-list li {
    display: inline-block;
    font-size: 1rem; }
    @media (min-width: 769px) {
      .nav-primary-list li {
        float: left; } }
    .nav-primary-list li + li {
      margin-left: 1em; }
      @media (max-width: 768px) {
        .nav-primary-list li + li {
          margin-left: .5em; } }
      @media (max-width: 500px) {
        .nav-primary-list li + li {
          margin-left: .25em; } }
  .nav-primary-list a {
    -webkit-transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, -webkit-transform 0.2s ease;
            transition: color 0.2s ease, padding-bottom 0.2s ease, border-bottom-width 0.2s ease, transform 0.2s ease;
    will-change: color, padding-bottom, border-bottom-width, transform;
    color: #737373;
    display: block;
    padding: .75rem 1rem;
    border-bottom: 0 solid #5f8aa6;
    margin-bottom: .25rem;
    font-family: "league-gothic", Impact, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25;
    text-transform: uppercase; }
    .nav-primary-list a:hover, .nav-primary-list a:focus, .nav-primary-list a:active {
      text-decoration: none; }
    .nav-primary-list a:active {
      -webkit-transform: translateY(0.2rem);
          -ms-transform: translateY(0.2rem);
              transform: translateY(0.2rem); }
    @media (max-width: 500px) {
      .nav-primary-list a {
        padding-left: .5rem;
        padding-right: .5rem; } }

.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
.page-home .nav-primary-home a,
.page-about .nav-primary-about a,
.page-article .nav-primary-articles a,
.page-articles .nav-primary-articles a,
.page-pen .nav-primary-pens a,
.page-pens .nav-primary-pens a,
.page-search .nav-primary-search a {
  color: #4f4f4f;
  padding-bottom: .5rem;
  border-bottom-width: 0.25rem; }

.page-home .nav-primary-home a:after,
.page-about .nav-primary-about a:after,
.page-article .nav-primary-articles a:after,
.page-articles .nav-primary-articles a:after,
.page-pen .nav-primary-pens a:after,
.page-pens .nav-primary-pens a:after,
.page-search .nav-primary-search a:after {
  content: "";
  border-top: 0.5em solid #5f8aa6;
  border-right: .5em solid transparent;
  border-left: .5em solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.title,
.tagline {
  width: 100%;
  margin-bottom: 2.25rem; }
  @media (max-width: 768px) {
    .title,
    .tagline {
      text-align: left; } }
  .title .title-link,
  .tagline .title-link {
    -webkit-transition: border-color 0.2s ease;
            transition: border-color 0.2s ease;
    will-change: color, border-bottom-color;
    display: inline-block;
    padding: 0 .5rem;
    border-bottom: .1825rem solid transparent;
    margin-left: -0.5rem; }
    .title .title-link:hover, .title .title-link:focus, .title .title-link:active,
    .tagline .title-link:hover,
    .tagline .title-link:focus,
    .tagline .title-link:active {
      color: #4f4f4f;
      border-bottom-color: #5f8aa6;
      text-decoration: none; }

.banner {
  width: 810px;
  margin-bottom: 1.25rem; }
  @media (max-width: 500px) {
    .banner {
      width: 500px; } }

.lede, .lede--featured {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5; }
  @media (max-width: 768px) {
    .lede, .lede--featured {
      text-align: left; } }
  @media (min-width: 769px) {
    .lede, .lede--featured {
      margin-top: -0.5rem; }
      .banner + .lede, .banner + .lede--featured {
        margin-top: 0; } }
  .lede--featured {
    max-width: 24em;
    font-size: 1.625rem; }

.lede-terminology {
  padding-bottom: 1.25rem;
  border-bottom: 0.125rem solid rgba(6, 6, 6, 0.1); }

.edit {
  background-color: rgba(95, 138, 166, 0.1);
  padding: 1rem;
  margin: 0 2.25rem 1.25rem;
  font-style: italic;
  line-height: 1.5; }

.articles-list li {
  width: 100%;
  display: inline-block;
  clear: both;
  padding: 1.5rem 1rem;
  border-top: 0.125rem solid rgba(6, 6, 6, 0.1);
  position: relative; }
  .articles-list li:nth-child(odd) {
    background-color: rgba(6, 6, 6, 0.05); }
  @media (max-width: 768px) {
    .articles-list li {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
      text-align: center; } }

.articles-list .title,
.articles-list .date,
.articles-list .comments-link {
  text-shadow: 0 1px 0 #f9f9f9; }

.articles-list .title {
  margin-bottom: 0.625rem; }

.articles-list .date {
  margin-bottom: 0.625rem; }
  .articles-list .date:before {
    content: "– ";
    color: #737373; }
  @media (max-width: 768px) {
    .articles-list .date {
      text-align: left; } }

.small-articles-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -0.5em 1.5em;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.25; }
  @media (max-width: 768px) {
    .small-articles-list {
      margin-bottom: 1.875em; } }
  aside .small-articles-list {
    margin-bottom: 0; }
  .small-articles-list li {
    width: 49.0125%;
    display: inline-block; }
    .small-articles-list li:nth-child(n+3) {
      margin-top: 1em; }
    aside .small-articles-list li {
      width: 100%; }
      aside .small-articles-list li + li {
        margin-top: 1em; }
      aside .small-articles-list li:nth-child(4n+2) a,
      aside .small-articles-list li:nth-child(4n+3) a,
      aside .small-articles-list li:nth-child(2n+1) a {
        background-color: transparent; }
      aside .small-articles-list li:nth-child(2n+2) a {
        background-color: rgba(6, 6, 6, 0.05); }
    @media (min-width: 501px) {
      .small-articles-list li:nth-child(4n+2) a,
      .small-articles-list li:nth-child(4n+3) a {
        background-color: rgba(6, 6, 6, 0.05); } }
    @media (max-width: 500px) {
      .small-articles-list li {
        width: 100%; }
        .small-articles-list li + li {
          margin-top: 1em; }
        .small-articles-list li:nth-child(2n+1) a {
          background-color: rgba(6, 6, 6, 0.05); } }
  .small-articles-list a {
    display: block;
    padding: 1rem;
    overflow: hidden; }
    .small-articles-list a:hover, .small-articles-list a:focus, .small-articles-list a:active {
      background-color: rgba(95, 138, 166, 0.1) !important;
      text-decoration: none; }
  .small-articles-list .title,
  .small-articles-list .lede,
  .small-articles-list .lede--featured,
  .small-articles-list .date {
    text-shadow: 0 1px 0 #f9f9f9; }
  .small-articles-list a:hover .title,
  .small-articles-list a:focus .title,
  .small-articles-list a:active .title {
    text-decoration: underline; }
  .small-articles-list .date {
    color: #737373;
    display: block;
    margin-top: 0.625rem;
    font-size: 0.8125rem;
    font-weight: 600; }
    @media (min-width: 769px) {
      .small-articles-list .date {
        text-align: right; } }
    .small-articles-list .date:before {
      content: "– "; }
  .small-articles-list .lede, .small-articles-list .lede--featured {
    color: #4f4f4f;
    margin-top: 0.625rem;
    font-size: 0.875rem; }
  .small-articles-list svg {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    will-change: opacity;
    opacity: 0.05;
    width: 6.25em !important;
    height: 6.25em;
    display: block;
    position: absolute;
    top: 50%;
    right: .5em;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: -1;
    stroke: #4f4f4f; }
    @media (max-width: 500px) {
      .small-articles-list svg {
        width: 4em !important;
        height: 4em; } }
  .small-articles-list a:hover svg,
  .small-articles-list a:focus svg,
  .small-articles-list a:active svg {
    opacity: 0.25; }

.search-main {
  max-width: 500px;
  margin-bottom: 1.25rem; }

.search-results {
  margin-top: 1.25rem; }

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.search-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.625rem; }

.widget--search .search-submit {
  min-width: 2.5em; }

/**
 * Contains buttons and internal links.
 */
.nav-secondary,
.buttons-list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 500px) {
    .nav-secondary,
    .buttons-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (min-width: 501px) {
    .nav-secondary,
    .buttons-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .nav-secondary button,
  .nav-secondary .button,
  .buttons-list button,
  .buttons-list .button {
    display: inline-block; }
    @media (max-width: 500px) {
      .nav-secondary button,
      .nav-secondary .button,
      .buttons-list button,
      .buttons-list .button {
        margin-left: auto;
        margin-right: auto; }
        .nav-secondary button + button,
        .nav-secondary button + .button,
        .nav-secondary .button + button,
        .nav-secondary .button + .button,
        .buttons-list button + button,
        .buttons-list button + .button,
        .buttons-list .button + button,
        .buttons-list .button + .button {
          margin-top: 1rem; } }
    @media (min-width: 501px) {
      .nav-secondary button,
      .nav-secondary .button,
      .buttons-list button,
      .buttons-list .button {
        margin-left: 1rem;
        margin-right: 1rem; } }

.nav-secondary {
  padding: 2.068rem 0 2.25rem;
  border-top: 0.125rem solid rgba(6, 6, 6, 0.1); }
  .page-about .nav-secondary {
    border-top: 0;
    padding: 1.25rem 0; }

.buttons-list {
  padding-bottom: 1.25rem; }

/**
 * The `.author` aside is always pushed underneath the content below the medium
 * breakpoint.
 */
/*aside*/
.author {
  font-family: "proxima-nova", sans-serif; }
  @media (max-width: 768px) {
    .author {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-ordinal-group: 1000;
      -webkit-order: 999;
          -ms-flex-order: 999;
              order: 999; }
      .page-about .author {
        margin-top: 1.25rem; } }

.author-information {
  margin-bottom: 1.25rem;
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.429; }
  @media (max-width: 768px) {
    .author-information {
      -webkit-box-ordinal-group: 998;
      -webkit-order: 997;
          -ms-flex-order: 997;
              order: 997;
      padding-top: 2.25rem;
      border-top: 0.125rem solid rgba(6, 6, 6, 0.1);
      margin-bottom: 0.625rem; } }
  .author-information a:link,
  .author-information a:visited,
  .author-information strong {
    color: inherit;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap; }

.author-image {
  width: 6.25rem;
  height: 6.25rem;
  display: inline-block;
  float: left;
  margin-right: .625rem; }
  .author-image img {
    background-image: -webkit-linear-gradient(bottom left, transparent 0%, #99c0e2 100%), -webkit-linear-gradient(top right, transparent 0%, #9d858b 100%), -webkit-linear-gradient(top left, transparent 0%, #5990ad 100%), -webkit-linear-gradient(bottom right, transparent 0%, #89634f 100%);
    background-image: linear-gradient(to top right, transparent 0%, #99c0e2 100%), linear-gradient(to bottom left, transparent 0%, #9d858b 100%), linear-gradient(to bottom right, transparent 0%, #5990ad 100%), linear-gradient(to top left, transparent 0%, #89634f 100%);
    background-size: 100%;
    height: 100%;
    display: block; }

.author-name,
.author-age,
.author-employer,
.author-information .date,
.featured-link {
  display: block;
  margin-bottom: .5rem; }

.featured-link:after {
  content: " →";
  font-style: normal; }

.tags {
  display: table-cell; }

@media (min-width: 769px) {
  .author-biography {
    margin-bottom: 1.25rem; } }

@media (max-width: 768px) {
  .author-biography {
    -webkit-box-ordinal-group: 999;
    -webkit-order: 998;
        -ms-flex-order: 998;
            order: 998; } }

.author-biography p:not(:last-child) {
  margin-bottom: 0.625rem; }

.widget,
.widget + .widget {
  margin-top: 1.25rem; }

@media (max-width: 768px) {
  .widget:last-child {
    margin-bottom: 1.25rem; } }

@media (max-width: 768px) {
  .widget {
    margin-top: 0; } }

.widget-title {
  margin-top: 0; }

.widget-featured-link {
  width: 100%;
  display: block;
  margin-top: 0.625rem;
  font-weight: 600;
  text-align: right; }
  @media (max-width: 768px) {
    .widget-featured-link {
      text-align: center; } }
  .widget-featured-link:after {
    content: " →"; }

.copyright,
.nav-tertiary {
  overflow: hidden; }
  @media (max-width: 768px) {
    .copyright,
    .nav-tertiary {
      width: 100%;
      text-align: center; } }

@media (min-width: 769px) {
  .copyright {
    float: left; } }

.footer-home-link,
.footer-copyright-link,
.footer-style-guide-link {
  display: inline-block;
  white-space: nowrap; }

.footer-home-link {
  -webkit-transition: -webkit-transform 0.2s ease;
          transition: transform 0.2s ease;
  will-change: transform;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  overflow: hidden;
  vertical-align: middle;
  text-indent: 100%;
  white-space: nowrap; }
  .footer-home-link:hover, .footer-home-link:focus, .footer-home-link:active {
    text-decoration: none; }
  .footer-home-link:active {
    -webkit-transform: translateY(0.143rem);
        -ms-transform: translateY(0.143rem);
            transform: translateY(0.143rem); }
  @media (max-width: 500px) {
    .footer-home-link {
      margin-right: .5rem; } }
  .footer-home-link svg {
    width: 100%;
    height: 100%;
    display: block; }

.footer-copyright-link:link, .footer-copyright-link:visited,
.footer-style-guide-link:link,
.footer-style-guide-link:visited {
  color: #dddddd; }

@media (max-width: 500px) {
  .footer-style-guide-link {
    display: block; } }

.footer-spacer {
  color: #737373; }
  @media (max-width: 500px) {
    .footer-spacer {
      display: none; } }

@media (min-width: 769px) {
  .nav-tertiary {
    float: right;
    margin-top: .3125rem; } }

@media (max-width: 768px) {
  .nav-tertiary {
    margin-top: .625rem; } }

.nav-tertiary-list li {
  display: inline-block; }
  .nav-tertiary-list li + li {
    margin-left: 1rem; }

.comments-link {
  display: inline-block;
  margin-top: 1.625em;
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  line-height: 1; }
  @media (min-width: 769px) {
    .comments-link {
      float: right; } }
  @media (max-width: 768px) {
    .comments-link {
      display: block;
      margin-top: 1.25rem; } }
  .comments-link:after {
    content: " →"; }

.comments {
  text-align: center; }
  @media (min-width: 769px) {
    .pagination + .comments {
      padding-top: 2.25rem; } }
  .comments .show-comments-button:before,
  .comments .show-comments-button:active:before {
    position: relative;
    top: 0; }
  .comments noscript {
    font-family: "proxima-nova", sans-serif;
    font-size: 1.25rem;
    font-style: italic; }

code[data-lang] {
  padding-top: 2.25rem;
  line-height: 2; }
  code[data-lang]:before {
    position: absolute;
    top: 0;
    left: 0;
    background-clip: padding-box;
    border-radius: 0.375rem 0.375rem 0 0;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    content: attr(data-lang);
    background-color: #737373;
    color: #f9f9f9;
    width: 100%;
    display: block;
    padding: 0 1.5rem;
    font-family: "proxima-nova", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    text-transform: uppercase; }

.language-css:before {
  background-color: #016fba; }

.language-haml:before {
  background-color: #e54d26; }

.language-html:before {
  background-color: #e54d26; }

.language-javascript:before {
  background-color: #f1c54c; }

.language-sass:before {
  background-color: #c6538c; }

.language-scss:before {
  background-color: #c6538c; }

/**
 * Github-style Code Highlighting
 */
.highlight {
  position: relative; }
  .highlight .err {
    background-color: lightcoral;
    color: firebrick;
    font-weight: 600; }
  .highlight .c,
  .highlight .cm,
  .highlight .cp,
  .highlight .c1,
  .highlight .cs {
    color: #737373;
    font-style: italic; }
  .highlight .gs,
  .highlight .k,
  .highlight .kc,
  .highlight .kd,
  .highlight .kp,
  .highlight .kr,
  .highlight .kt,
  .highlight .nc,
  .highlight .ne,
  .highlight .nf,
  .highlight .o,
  .highlight .ow {
    font-weight: 600; }
  .highlight .gr,
  .highlight .gt,
  .highlight .ne,
  .highlight .nf,
  .highlight .s,
  .highlight .sb,
  .highlight .sc,
  .highlight .sd,
  .highlight .s1,
  .highlight .s2,
  .highlight .se,
  .highlight .sh,
  .highlight .si,
  .highlight .sx {
    color: firebrick; }
  .highlight .gi,
  .highlight .gi .x {
    background-color: turquoise; }
  .highlight .gd,
  .highlight .gd .x {
    background-color: lightcoral; }
  .highlight .ge {
    font-style: italic; }
  .highlight .m,
  .highlight .il,
  .highlight .mf,
  .highlight .mh,
  .highlight .mi,
  .highlight .mo,
  .highlight .nb,
  .highlight .no,
  .highlight .nv,
  .highlight .vc,
  .highlight .vg,
  .highlight .vi {
    color: cadetblue; }
  .highlight .sr {
    color: forestgreen; }
  .highlight .bp,
  .highlight .gh,
  .highlight .go,
  .highlight .gp,
  .highlight .nn {
    color: #737373; }
  .highlight .gu,
  .highlight .w {
    color: #dddddd; }
  .highlight .kt,
  .highlight .na,
  .highlight .nc,
  .highlight .nt {
    color: #5f8aa6; }
  .highlight .ni,
  .highlight .ss {
    color: slateblue;
    color: rebeccapurple; }

/**
 * Code Block Visibility Toggling
 */
.code-toggle {
  position: relative; }

.code-toggle-button {
  position: absolute;
  top: 6.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .code-toggle-button:active {
    -webkit-transform: translateX(-50%) translateY(0.182em);
        -ms-transform: translateX(-50%) translateY(0.182em);
            transform: translateX(-50%) translateY(0.182em); }
  .code-toggle-input:checked ~ .code-toggle-button {
    display: none; }

.code-toggle-input:not(:checked) + .highlight pre {
  max-height: 12.5rem;
  overflow-x: hidden; }
  .code-toggle-input:not(:checked) + .highlight pre:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-clip: padding-box;
    border-radius: 0 0 0.375rem 0.375rem;
    content: "";
    background-image: -webkit-linear-gradient(top, transparent 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ededed 100%);
    height: 5.25rem;
    display: block; }

.code-toggle-input:checked ~ .code-toggle-button {
  display: none; }

.icon {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  will-change: opacity, transform;
  opacity: 0.7;
  height: 40px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
  .icon:hover, .icon:focus, .icon:active {
    opacity: 1;
    text-decoration: none; }
  .icon:active {
    -webkit-transform: translateY(0.125rem);
        -ms-transform: translateY(0.125rem);
            transform: translateY(0.125rem); }
  .icon svg {
    width: 100%;
    height: 100%;
    display: block; }

.icon--codepen,
.link--codepen {
  width: 41px; }

.icon--github,
.link--github {
  width: 38px; }

.icon--lastfm,
.link--lastfm {
  width: 40px; }

.icon--rss,
.link--rss {
  width: 31px; }

.icon--twitter,
.link--twitter {
  width: 37px; }

.icon--article,
.link--article {
  width: 36px; }

.icon--feather,
.link--feather {
  width: 29px; }

.icon--heart,
.link--heart {
  width: 40px; }

.icon--tag,
.link--tag {
  width: 40px; }

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media {
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.65%;
  position: relative;
  overflow: hidden; }
  .media embed,
  .media iframe,
  .media object,
  .media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media print {
  nav,
  .featured-pens,
  .related-articles,
  .pagination,
  .comments,
  footer .home-link,
  footer .copyright-spacer,
  footer .style-guide-link,
  footer .icons-list {
    display: none; }
  button, .button {
    color: #4f4f4f;
    border: 1px solid #4f4f4f;
    box-shadow: none; } }

.color-block-list {
  width: 100%;
  display: table;
  margin: 0 auto;
  text-align: center; }
  .color-block-list li {
    color: #f9f9f9;
    height: 6.5rem;
    display: table-cell;
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 7.429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; }
    @media (max-width: 500px) {
      .color-block-list li {
        width: 6.5rem;
        display: inline-block; } }
    .color-block-list li[data-color="#5f8aa6"] {
      background-color: #5f8aa6; }
    .color-block-list li[data-color="#f9f9f9"] {
      background-color: #f9f9f9;
      color: #4f4f4f; }
    .color-block-list li[data-color="#4f4f4f"] {
      background-color: #4f4f4f; }
    .color-block-list li[data-color="#737373"] {
      background-color: #737373; }
    .color-block-list li[data-color="#dddddd"] {
      background-color: #dddddd;
      color: #4f4f4f; }

.page-style-guide article > h3[id] {
  margin-top: 3.375rem; }

@media (max-width: 768px) {
  .page-not-found button, .page-not-found .button, .page-not-found
  .button--small {
    display: block;
    margin: 0 auto 1.25rem; } }

.hide, .hidden, .svg--master, a span:not([class]):not([itemprop]) {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.remove, .removed, p:empty {
  display: none !important; }

.non-selectable, button, .button,
.button--small, .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: default;
  -webkit-touch-callout: none; }

.hyphen, .hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.border-radius, .round, .rounded, figure img,
figure svg, blockquote, pre:not(.codepen), aside:not(.author), .banner, .edit, .small-articles-list a, .author-image img {
  background-clip: padding-box;
  border-radius: 0.375rem; }

.border-radius-thin, .round-thin, .rounded-thin, p code,
ol code,
ul code,
dl code,
blockquote code,
ins,
kbd,
mark,
samp,
var, button, .button,
.button--small, input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="week"],
textarea {
  background-clip: padding-box;
  border-radius: 0.25rem; }
