/**
 *  Ravenous
 *  The sixth iteration of chrisburnell.com.
 *  by Chris Burnell
 *
 *  Table of Contents:
 *  01: Typekit Preload
 *  02: Symbol font-face Load
 *  03: General and Typography
 *  04: Buttons
 *  05: Header
 *  06: Navigation
 *  07: Articles
 *  08: Asides
 *  09: Forms
 *  10: Code Blocks
 *  11: Footer
 *  12: Miscellaneous
 */

/* ---- 01. Typekit Preload ---- */

/* Hide the fonts from use.typekit.com before they have finished loading */
.wf-loading .logo, .wf-loading h1, .wf-loading h2, .wf-loading h3 {
    color: transparent;
    visibility: hidden;
    text-shadow: none;
}
.wf-active .logo, .wf-active h1, .wf-active h2, .wf-active h3 {
    -webkit-animation: fadeIn 1s;
    animation:         fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ---- 02. Symbol font-face Load ---- */

@font-face {
    font-family: "Entypo";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
         url("../fonts/entypo.woff") format("woff"),
         url("../fonts/entypo.ttf") format("truetype"),
         url("../fonts/entypo.svg#entypo") format("svg");
}

/* ---- 03. General and Typography ---- */

::-webkit-selection { background: #5f8aa6; color: #f9f9f9; }
::-moz-selection {    background: #5f8aa6; color: #f9f9f9; }
::selection {         background: #5f8aa6; color: #f9f9f9; }
    pre::-webkit-selection, code::-webkit-selection { background: black; color: white; text-shadow: none; }
    pre::-moz-selection, code::-moz-selection {       background: black; color: white; text-shadow: none; }
    pre::selection, code::selection {                 background: black; color: white; text-shadow: none; }

html, body {
    min-height: 100%;
}
body {
    background: #f9f9f9;
    color: #4f4f4f;
    position: relative;
    font: 400 normal 16px/1.618em "ff-meta-serif-web-pro", serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    width: auto;
    max-width: 1080px;
    margin: 0 auto 1.25em;
    padding: 0 1.25em;
}

a {
    text-decoration: none;
    -webkit-transition: background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    transition:         background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select:    none;
    user-select:         none;
}
    article a, .articles a {
        color: rgba(95,138,166,.9);
    }
        article a:hover, .articles a:hover {
            text-decoration: underline;
        }

h1, h2, h3, h4, h5, h6 {
    height: 1.2em; /* override some browser defaults */
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-family: "league-gothic", sans-serif;
    font-size: 2.625em;
    text-transform: uppercase;
    text-shadow: .048em .048em 0 rgba(0,0,0,.08);
}
    h1 a {
        color: #4f4f4f;
        display: inline-block;
    }
        h1 a:hover {
            color: rgba(95,138,166,.9);
        }
    .article-link {
        margin-left: -0.1em;
    }
        .article-link a {
            color: inherit;
            padding: 0 .1em;
            border-radius: .1875em;
        }
            .article-link a:hover {
                background-color: rgba(95,138,166,.9);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(6,6,6,.15)));
                background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
                background-image:    -moz-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
                background-image:         linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
                color: rgba(249,249,249,.9);
                text-decoration: none;
                text-shadow: none;
            }
h2 {
    margin-bottom: .25em;
    font-family: "ff-meta-serif-web-pro", sans-serif;
    font-size: 1.375em;
    text-shadow: 0 -1px 0 rgba(255,255,255,.3);
}
h3 {
    font-family: "proxima-nova", serif;
    font-size: 1em; /* override browser default */
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin: 0;
}
    article > p:not(:last-child) {
        margin-bottom: 1em;
    }

ol, ul {
    margin: 0;
    padding: 0;
    list-style: inside disc;
}
    ol {
        list-style-type: decimal-leading-zero;
    }

img, a img {
    max-width: 100%;
    border: 0;
}

hr {
    background: rgba(6,6,6,.05);
    width: 100%;
    height: .25em;
    border: 0;
    display: block;
}

/* ---- 04. Buttons ---- */

button, .button {
    background-color: #6f96af;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(6,6,6,.15)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    background-image:    -moz-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    background-image:         linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    color: #f9f9f9 !important;
    min-width: 6em;
    height: 1.2em;
    margin: 0;
    padding: .25em .625em;
    border: 0.5px solid #51768e; /* retina display fix */
    display: inline-block;
    position: relative;
    clear: both;
    font-family: "league-gothic", sans-serif;
    font-size: 1.375em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    text-shadow: 0 -0.0625em 0 rgba(6,6,6,.15);
    cursor: pointer;
    border-radius: .1875em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #395264;
    -moz-box-shadow:    inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #395264;
    box-shadow:         inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #395264;
    -webkit-transition: background-color .13s ease-in-out;
    transition:         background-color .13s ease-in-out;
}
    button:hover, button.hover, .button:hover, .button.hover {
        background-color: #7fa6bf;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #496274;
        -moz-box-shadow:    inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #496274;
        box-shadow:         inset 0 1px 0 rgba(255,255,255,.25), inset 0 0 2px rgba(0,0,0,.1), 0 4px 0 #496274;
    }
    button:active, button.active, .button:active, .button.active {
        background-color: #6f96af;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6,6,6,.1)), color-stop(100%, transparent));
        background-image: -webkit-linear-gradient(top, rgba(6,6,6,.1) 0%, transparent 100%);
        background-image:    -moz-linear-gradient(top, rgba(6,6,6,.1) 0%, transparent 100%);
        background-image:         linear-gradient(top, rgba(6,6,6,.1) 0%, transparent 100%);
        top: .136em;
        -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.25), inset 0 2px 6px rgba(0,0,0,.25);
        -moz-box-shadow:    inset 0 -1px 0 rgba(255,255,255,.25), inset 0 2px 6px rgba(0,0,0,.25);
        box-shadow:         inset 0 -1px 0 rgba(255,255,255,.25), inset 0 2px 6px rgba(0,0,0,.25);
    }
    button:after, .button:after {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: -0.136em;
        left: 0;
        content: "";
    }
        button:active:after, .button:active:after {
            top: -0.136em;
            bottom: 0;
        }

/* ---- 05. Header ---- */

header {
    height: 110px;
    border-bottom: .25em solid rgba(95,138,166,.9);
}
    .logo {
        color: #4f4f4f;
        height: 110px;
        padding-left: 100px;
        display: inline-block;
        position: relative;
        font: 400 3.2em/110px "league-gothic", sans-serif;
        text-transform: uppercase;
        text-shadow: .048em .048em 0 rgba(0,0,0,.08);
        z-index: 1;
        -webkit-transition: none;
        transition:         none;
    }
        .logo:after {
            background: url("../img/raven.png") no-repeat;
            background-size: 120px 120px;
            width: 120px;
            height: 120px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            z-index: 0;
            -webkit-transform: translate3d(0,-42px,0);
            -moz-transform:    translate3d(0,-42px,0);
            transform:         translate3d(0,-42px,0);
        }
        .logo:active {
            top: 2px;
        }

/* ---- 06. Navigation ---- */

nav {
    margin-top: 1.25em;
    float: right;
}
    .main-nav {
        height: 3.75em;
        float: right;
        list-style: none;
    }
        .main-nav li {
            height: 40px;
            margin-left: 1em;
            padding: 0.375em 0;
            float: left;
            display: inline-block;
            text-align: center;
        }
            .main-nav li:first-child {
                margin: 0;
            }
            .main-nav a {
                color: #7f7f7f;
                padding: 0.75em;
                border-bottom: 0px solid rgba(95,138,166,.9);
                display: block;
                position: relative;
                font-family: "league-gothic", sans-serif;
                font-size: 1.25em;
                line-height: 1.25em;
                text-transform: uppercase;
                -webkit-transition: color .2s ease 0s, border-bottom-width .07s ease 0s, margin-top .07s ease-in-out, padding-bottom .07s ease 0s;
                transition:         color .2s ease 0s, border-bottom-width .07s ease 0s, margin-top .07s ease-in-out, padding-bottom .07s ease 0s;
            }
                .main-nav a:hover,
                .page-home .main-nav-home a,
                .page-about .main-nav-about a,
                .page-contact .main-nav-contact a {
                    color: #4f4f4f;
                    padding-bottom: 8px;
                    border-bottom-width: 4px;
                }
                .page-home .main-nav-home a:after,
                .page-about .main-nav-about a:after,
                .page-contact .main-nav-contact a:after {
                    margin-left: -3px;
                    border-top: 5px solid rgba(95,138,166,.9);
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    position: absolute;
                    bottom: -9px;
                    left: 48%;
                    content: "";
                }
                .main-nav a:active {
                    margin-top: .1em; /* 16px x 1.25em x 0.1em = 2px */
                    position: relative;
                    top: .1em;
                    line-height: 1.15em; /* 1.25em - .1em = 1.15em */
                }

/* ---- 07. Articles ---- */

article, .articles {
    margin-bottom: 1em;
    padding: 0 0 0 269px; /* 25% of max .content width = 269px */
}
    .articles-list {
        list-style: none;
    }
        .articles-list li {
            margin-bottom: 1.5em;
            padding-bottom: 1em;
            border-bottom: .25em solid rgba(6,6,6,.05);
            display: inline-block;
            width: 100%;
            clear: both;
        }
            .articles-list li:last-child {
                padding-bottom: 0;
                border: 0;
            }
        .articles-list h3 {
            margin-bottom: .5em;
        }
            .articles-list h3:before {
                color: #6f6f6f;
                content: "\2013 \0020";
            }
    .article-introduction {
        font-size: 1.25em;
        margin-bottom: .5em;
    }

.video-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
}
    .video-container iframe,
    .video-container object,
    .video-container embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

/* ---- 08. Asides ---- */

aside {
    width: 243px; /* 30% at 100% body width */
    margin-left: -269px; /* 33% of 75% = 25% = <article> padding-left at 100% body width */
    float: left;
}
    .author,
    .related-articles {
        font-family: "proxima-nova", sans-serif;
    }
        .author a {
            color: #5f8aa6;
        }
            .author a:hover {
                text-decoration: underline;
            }
        .author-information {
            margin-bottom: .5em;
            font-family: "ff-meta-serif-web-pro", serif;
            font-size: .875em;
            font-style: italic;
        }
        .author-information strong,
        .author-information a {
            color: inherit;
            font-family: "proxima-nova";
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
        }
        .author-image {
            width: 100px;
            height: 100px;
            margin-right: 10px;
            float: left;
            display: inline-block;
        }
        .author-biography {
            margin-bottom: .5em;
            clear: both;
            font-size: .875em;
        }
            .author-biography .twitter,
            .author-biography .codepen,
            .author-biography .lastfm {
                background: none;
            }
        .related-articles {
            padding-top: .5em;
            border-top: .25em solid rgba(6,6,6,.05);
        }
            .related-articles h3 {
                padding-bottom: .5em;
            }
            .related-articles ul {
                list-style: none;
                line-height: 1.25em;
            }
                .related-articles .article-date {
                    padding-left: .75em;
                    font-size: .81em;
                }

/* ---- 09. Forms ---- */

/* need to extract this stuff from comments.css */

/* ---- 10. Code Blocks ---- */

pre:not(.codepen), code {
    font-family: Monaco, 'Courier New', serif;
    font-size: 0.875em;
}
    pre:not(.codepen) {
        background: #4f4f4f;
        color: #f9f9f9;
        padding: .714em;
        border: .286em solid rgba(6,6,6,.05);
        position: relative;
        overflow: hidden;
        overflow-x: auto;
    }
        pre:not(.codepen):after {
            color: rgba(6,6,6,.03);
            display: block;
            position: absolute;
            top: 50px;
            left: 40px;
            content: "îœ”";
            font: 400 720px/22px "Entypo";
            z-index: 0;
        }

/* ---- 11. Footer ---- */

footer {
    background: #4f4f4f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(6,6,6,.15)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    background-image:    -moz-linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    background-image:         linear-gradient(top, transparent 0%, rgba(6,6,6,.15) 100%);
    color: #ddd;
    width: auto;
    height: 40px;
    padding: 2.14em 0;
    border-top: .286em solid rgba(95,138,166,.9);
    font: 600 .875em "proxima-nova", sans-serif;
    text-transform: uppercase;
}
    footer .s {
        background-size: 2.857em 2.857em;
        width: 2.875em;
        height: 2.875em;
        display: inline-block;
    }
    footer a {
        color: #ddd;
        display: inline-block;
        text-decoration: none;
    }
        footer a:hover {
            text-decoration: underline;
        }
    footer .left, footer .right {
        overflow: hidden;
    }
        footer .left a:first-child,
        footer .left a:first-child:hover {
            margin-right: 1em;
            vertical-align: middle;
            text-decoration: none;
        }
            footer .left a:first-child:active {
                position: relative;
                top: .14em;
            }
        footer .right a {
            opacity: 0.6;
            width: 30px;
            height: 30px;
            margin: 5px 0.5em 5px 0;
            vertical-align: middle;
            -webkit-transition: opacity 0.25s ease-in-out;
            transition:         opacity 0.25s ease-in-out;
        }
            footer .right a:last-of-type {
                margin-right: 0;
            }
            footer a.forrst {
                width: 20px;
            }
            footer .right a:hover {
                opacity: 0.9;
            }
            footer .right a:active {
                position: relative;
                top: .14em;
            }

/* ---- 12. Miscellaneous ---- */

.s, .logo:after { background: url("/img/raven.svg") no-repeat; }
.symbol { vertical-align: middle; font-family: "Entypo" !important; font-size: 2em; font-style: normal !important; }

.twitter { background-image: url("/img/glyph-twitter.png"); color: #1AB2E8 !important; }
.forrst { background-image: url("/img/glyph-forrst.png"); color: #223F17 !important; }
.lastfm { background-image: url("/img/glyph-lastfm.png"); color: #D51007 !important; }
.codepen { background-image: url("/img/glyph-codepen.png"); color: #999!important; }

.gray { color: #6f6f6f; }
.blue { color: #5f8aa6; }
.red { color: #dd3322; }

.remove { display: none; }
.hide, .hidden { visibility: hidden; }

.rounded { background-clip: padding-box; border-radius: .1875em; -moz-background-clip: padding; -webkit-background-clip: padding-box; }
    .rounded.large { border-radius: .375em; }

.clear { clear: both; overflow: hidden; zoom: 1; }
    .clear.left { clear: left; }
    .clear.right { clear: right; }
    .clear:before, .clear:after { display: table; content: ''; }
    .clear:after { clear: both; }

.ghost, .disabled { filter: alpha(opacity=50); opacity: .5; }
    .ghost.super { filter: alpha(opacity=20); opacity: .2; }
    .ghost.sub { filter: alpha(opacity=80); opacity: .8; }

.align { margin: 0 auto; }
    .align.text { text-align: center; }
    .align.right { text-align: right; }
    .align.vertical { position: absolute; top: 50%; left: 50%; vertical-align: middle; }

.float { float: inherit; }
    .float.left { float: left; }
    .float.right { float: right; }

.debug *[href='#'], .debug *[src=''], .debug *[alt=''], .debug *:not([title]), .debug *:not([src]), .debug *:not([href]), .debug *:not([alt]), .debug *[title=''], .debug *[style] { outline: 1px dotted #f0f; }
    *:hover .debug * { background: rgba(0,0,0,.3); outline: 1px solid rgba(0,0,0,.5); }

strong, .bold { font-weight: 600; }
.italic { font-style: italic; }
.small { font-size: small; }

.no-text { color: transparent !important; text-indent: -999em !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-select { user-select: none; -webkit-user-select: none; -moz-user-select: none; }

sup { top: -0.3em; }
