/**
 * Ravenous - version 2.0
 * by Chris Burnell (@iamchrisburnell)
 * The sixth iteration design of chrisburnell.com.
 * Please contact me if you want to learn about anything you see here.
 *
 * Table of Contents:
 *
 * RESET..................... Import normalize as a reset.
 * TYPEKIT PRELOAD........... Import the font-families from Typekit.
 * LAYOUT AND TYPOGRAPHY..... Set the page layout and default element styles.
 * BUTTONS................... Set the default button styles.
 * HEADER.................... Set the header styles.
 * NAVIGATION................ Set the navigation styles.
 * ARTICLES.................. Set the articles styles.
 * ASIDES.................... Set the asides styles.
 * COMMENTS.................. Set the comments styles.
 * CODE BLOCKS............... Set the code block styles.
 * FOOTER.................... Set the footer styles.
 * MISCELLANEOUS............. Miscellaneous site-wide styles.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: yellow;
  color: black; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*------------------------------------*\
    $ TYPEKIT PRELOAD
\*------------------------------------*/
/**
 * Hide the fonts from Typekit before they have finished loading and show them
 * once they've finished. (5000 ms timeout)
 */
.wf-loading .logo, .wf-loading nav, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading button, .wf-loading .button {
  visibility: hidden; }

.wf-active .logo, .wf-active nav, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active button, .wf-active .button {
  -webkit-animation: fade .3s ease-out;
  animation: fade .3s ease-out;
  visibility: visible; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/*------------------------------------*\
    $   LAYOUT AND TYPOGRAPHY
    i   Page Layout
    ii  Inline Elements
    iii Block Elements
\*------------------------------------*/
html, body {
  min-height: 100%; }

body {
  background-color: #f9f9f9;
  color: #4f4f4f;
  position: relative;
  font: 400 normal 16px/1.618em "ff-meta-serif-web-pro", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

.wrap {
  width: auto;
  max-width: 1080px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 500px) {
    .wrap {
      /**
         * Let's make intelligent use of the phone viewport width and reduce the
         * padding on either side of the wrapper. We can't remove it or the text
         * will sit right at the edge, creating a readability issue.
         */
      padding-right: 0.625em;
      padding-left: 0.625em; } }

.clear {
  clear: both;
  overflow: hidden;
  zoom: 1; }
  .clear:before, .clear:after {
    content: "";
    display: table; }
  .clear:after {
    clear: both; }

a {
  -webkit-transition: background .2s, color .2s, text-shadow .2s;
  transition: background .2s, color .2s, text-shadow .2s;
  color: #5f8aa6;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: underline; }
  h1 a, h2 a, h3 a {
    color: #4f4f4f; }
    h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active {
      color: #5f8aa6; }

img, a img {
  width: auto;
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  min-height: 1.2em;
  /* so that elements can be floated inside headings */
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.2em; }

h1 {
  font-family: "league-gothic", sans-serif;
  font-size: 2.625em;
  text-transform: uppercase;
  text-shadow: 0.0714em 0.0714em 0 rgba(6, 6, 6, 0.05); }

h2 {
  font-family: "ff-meta-serif-web-pro", serif;
  font-size: 1.625em;
  text-shadow: 0 -1px 0 rgba(249, 249, 249, 0.25); }

h3, .articles-list .article-date {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.618em;
  text-transform: uppercase; }

p {
  margin: 0; }

ol, ul {
  padding: 0;
  margin: 0;
  list-style: inside disc; }

ol {
  list-style-type: decimal-leading-zero; }

abbr[title], blockquote, cite, dfn[title] {
  color: #737373;
  font-style: italic; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #737373;
  cursor: help; }

blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }
  article blockquote {
    margin: 1em 2.5em; }
  aside blockquote {
    padding: 1em 0;
    border-top: 0.286em solid #5f8aa6;
    border-bottom: 0.286em solid #5f8aa6; }
  blockquote p {
    margin-bottom: 0 !important; }
    blockquote p:before {
      content: open-quote;
      padding-right: 0.1875em; }
    blockquote p:after {
      content: close-quote;
      padding-left: 0.1875em; }
  blockquote + p .citation {
    margin-left: 2.5em; }

.pullquote {
  font-size: 1.5em;
  line-height: 1.25em; }
  .pullquote .citation {
    font-size: 0.667em; }

blockquote + p .citation, .pullquote .citation {
  margin-top: 1em; }
  blockquote + p .citation:before, .pullquote .citation:before {
    content: "\2014\00a0"; }

hr {
  background: rgba(6, 6, 6, 0.1);
  width: 100%;
  height: 0.25em;
  display: block;
  border: 0;
  margin: 0.5em 0 1.5em; }

/**
 * Add a bottom margin to a plethora of tasty elements.
 */
p:not(:last-child), ol:not(:last-child), ul:not(:last-child), h3:not(:last-child), article, .article-introduction, .cp_embed_iframe {
  margin-bottom: 1em; }

/**
 * Text Highlights
 */
::-moz-selection {
  background: #5f8aa6;
  color: #f9f9f9; }

/**
 * Text Highlights
 */
::selection {
  background: #5f8aa6;
  color: #f9f9f9; }

code::-moz-selection {
  background: #4f4f4f;
  color: #f9f9f9; }

code::selection {
  background: #4f4f4f;
  color: #f9f9f9; }

/*------------------------------------*\
    $ BUTTONS
\*------------------------------------*/
button, .button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(6, 6, 6, 0.05)));
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6, 6, 6, 0.05) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(6, 6, 6, 0.05) 100%);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  background-color: #5f8aa6;
  color: #f9f9f9;
  min-width: 6em;
  height: 1.91em;
  display: inline-block;
  padding: 0 0.727em;
  margin-bottom: 0.364em;
  position: relative;
  font-family: "league-gothic", sans-serif;
  font-size: 1.375em;
  line-height: 1.91em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -0.045em 0 rgba(6, 6, 6, 0.25);
  white-space: nowrap;
  cursor: pointer;
  border-radius: 0.182em;
  -webkit-box-shadow: inset 0 0 0.091em rgba(6, 6, 6, 0.1), inset 0 0.045em 0 rgba(249, 249, 249, 0.25), 0 0.182em 0 #4b7087;
  box-shadow: inset 0 0 0.091em rgba(6, 6, 6, 0.1), inset 0 0.045em 0 rgba(249, 249, 249, 0.25), 0 0.182em 0 #4b7087;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #80a3b8;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0.091em rgba(6, 6, 6, 0.1), inset 0 0.045em 0 rgba(249, 249, 249, 0.25), 0 0.182em 0 #50778f;
    box-shadow: inset 0 0 0.091em rgba(6, 6, 6, 0.1), inset 0 0.045em 0 rgba(249, 249, 249, 0.25), 0 0.182em 0 #50778f; }
  button:active, .button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 6, 6, 0.05)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(6, 6, 6, 0.05) 0%, transparent 100%);
    background-image: linear-gradient(to bottom, rgba(6, 6, 6, 0.05) 0%, transparent 100%);
    -webkit-transform: translate3d(0, .137em, 0);
    -ms-transform: translate3d(0, .137em, 0);
    transform: translate3d(0, .137em, 0);
    text-decoration: none;
    -webkit-box-shadow: inset 0 0.091em 0.273em rgba(6, 6, 6, 0.25), inset 0 -0.045em 0 rgba(249, 249, 249, 0.25), 0 0.046em 0 #50778f;
    box-shadow: inset 0 0.091em 0.273em rgba(6, 6, 6, 0.25), inset 0 -0.045em 0 rgba(249, 249, 249, 0.25), 0 0.046em 0 #50778f; }
    button:active:before, button:active:after, .button:active:before, .button:active:after {
      top: -0.137em;
      bottom: 0; }
  button:before, button:after, .button:before, .button:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    bottom: -0.137em;
    left: 0; }

/*------------------------------------*\
    $ HEADER
\*------------------------------------*/
header {
  height: 110px; }
  @media (max-width: 768px) {
    header {
      /**
         * Center the logo and make room for the navigation to drop underneath.
         */
      height: 170px;
      text-align: center; } }

.logo {
  -webkit-transition: none;
  transition: none;
  color: #4f4f4f;
  height: 110px;
  display: inline-block;
  float: left;
  padding-left: 100px;
  position: relative;
  font-family: "league-gothic", sans-serif;
  font-size: 3.25em;
  line-height: 110px;
  text-transform: uppercase;
  text-shadow: 0.058em 0.058em 0 rgba(6, 6, 6, 0.05);
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /**
         * Only animate when the user hovers the logo.
         */ }
  @media (max-width: 768px) {
    .logo {
      height: 90px;
      display: inline-block;
      float: none; } }
  @media (max-width: 500px) {
    .logo {
      font-size: 2.25em; } }
  .logo:hover, .logo:focus, .logo:active {
    text-decoration: none; }
  .logo:active {
    -webkit-transform: translate3d(0, .039em, 0);
    -ms-transform: translate3d(0, .039em, 0);
    transform: translate3d(0, .039em, 0); }
  .logo:after {
    -webkit-transform: translate3d(0, -0.808em, 0);
    -ms-transform: translate3d(0, -0.808em, 0);
    transform: translate3d(0, -0.808em, 0);
    -webkit-animation: soaring 30s linear alternate infinite;
    animation: soaring 30s linear alternate infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    content: "";
    background: url("../icon.png") no-repeat;
    background-image: url("/images/raven.svg");
    -webkit-background-size: 120px 120px;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .logo:hover:after, .logo:focus:after, .logo:active:after {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

@-webkit-keyframes soaring {
  0%, 100% {
    -webkit-transform: translate3d(0, -0.8125em, 0);
    transform: translate3d(0, -0.8125em, 0); }

  12.5% {
    -webkit-transform: translate3d(-0.0625em, -0.6875em, 0);
    transform: translate3d(-0.0625em, -0.6875em, 0); }

  25% {
    -webkit-transform: translate3d(.125em, -0.3125em, 0);
    transform: translate3d(.125em, -0.3125em, 0); }

  37.5% {
    -webkit-transform: translate3d(.3125em, -0.375em, 0);
    transform: translate3d(.3125em, -0.375em, 0); }

  50% {
    -webkit-transform: translate3d(.125em, -0.4375em, 0);
    transform: translate3d(.125em, -0.4375em, 0); }

  62.5% {
    -webkit-transform: translate3d(.0625em, -0.25em, 0);
    transform: translate3d(.0625em, -0.25em, 0); }

  75% {
    -webkit-transform: translate3d(.1875em, -0.4375em, 0);
    transform: translate3d(.1875em, -0.4375em, 0); }

  87.5% {
    -webkit-transform: translate3d(-0.0625em, -0.5625em, 0);
    transform: translate3d(-0.0625em, -0.5625em, 0); } }

@keyframes soaring {
  0%, 100% {
    -webkit-transform: translate3d(0, -0.8125em, 0);
    -ms-transform: translate3d(0, -0.8125em, 0);
    transform: translate3d(0, -0.8125em, 0); }

  12.5% {
    -webkit-transform: translate3d(-0.0625em, -0.6875em, 0);
    -ms-transform: translate3d(-0.0625em, -0.6875em, 0);
    transform: translate3d(-0.0625em, -0.6875em, 0); }

  25% {
    -webkit-transform: translate3d(.125em, -0.3125em, 0);
    -ms-transform: translate3d(.125em, -0.3125em, 0);
    transform: translate3d(.125em, -0.3125em, 0); }

  37.5% {
    -webkit-transform: translate3d(.3125em, -0.375em, 0);
    -ms-transform: translate3d(.3125em, -0.375em, 0);
    transform: translate3d(.3125em, -0.375em, 0); }

  50% {
    -webkit-transform: translate3d(.125em, -0.4375em, 0);
    -ms-transform: translate3d(.125em, -0.4375em, 0);
    transform: translate3d(.125em, -0.4375em, 0); }

  62.5% {
    -webkit-transform: translate3d(.0625em, -0.25em, 0);
    -ms-transform: translate3d(.0625em, -0.25em, 0);
    transform: translate3d(.0625em, -0.25em, 0); }

  75% {
    -webkit-transform: translate3d(.1875em, -0.4375em, 0);
    -ms-transform: translate3d(.1875em, -0.4375em, 0);
    transform: translate3d(.1875em, -0.4375em, 0); }

  87.5% {
    -webkit-transform: translate3d(-0.0625em, -0.5625em, 0);
    -ms-transform: translate3d(-0.0625em, -0.5625em, 0);
    transform: translate3d(-0.0625em, -0.5625em, 0); } }

/*------------------------------------*\
    $ NAVIGATION
\*------------------------------------*/
nav {
  float: right;
  margin-top: 20px; }
  @media (max-width: 768px) {
    nav {
      width: 100%;
      float: none;
      margin-top: 0; } }

.site-navigation {
  height: 3.75em;
  float: right;
  list-style: none; }
  @media (max-width: 768px) {
    .site-navigation {
      float: none;
      text-align: center; } }
  .site-navigation li {
    height: 40px;
    display: inline-block;
    float: left;
    padding: 0.375em 0;
    text-align: center; }
    @media (max-width: 768px) {
      .site-navigation li {
        display: inline-block;
        float: none; } }
  .site-navigation li + li {
    margin-left: 1em; }
  .site-navigation a {
    -webkit-transition: color .2s, border-bottom-width .2s, margin-top .2s, padding-bottom .2s;
    transition: color .2s, border-bottom-width .2s, margin-top .2s, padding-bottom .2s;
    color: #737373;
    display: block;
    padding: 0.75em;
    border-bottom: 0px solid #5f8aa6;
    position: relative;
    font-family: "league-gothic", sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    text-transform: uppercase; }
    .site-navigation a:hover, .site-navigation a:focus, .site-navigation a:active {
      text-decoration: none; }
    .site-navigation a:active {
      -webkit-transform: translate3d(0, .1em, 0);
      -ms-transform: translate3d(0, .1em, 0);
      transform: translate3d(0, .1em, 0);
      margin-top: 0.1em;
      line-height: 1.15em; }

.site-navigation a:hover, .site-navigation a:focus, .home-page .site-navigation-home a, .about-page .site-navigation-about a, .archive-page .site-navigation-archive a {
  color: #4f4f4f;
  padding-bottom: 8px;
  border-bottom-width: 4px; }

.home-page .site-navigation-home a:after, .about-page .site-navigation-about a:after, .archive-page .site-navigation-archive a:after {
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  content: "";
  border-top: 5px solid #5f8aa6;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  bottom: -0.4em;
  left: 50%; }

/*------------------------------------*\
    $ ARTICLES AND ARTICLE LISTS
\*------------------------------------*/
.content {
  margin-bottom: 2.25em; }

/**
 * The width of the articles is dynamic, and always has padding on the left-hand
 * side to make room for any asides, which can appear anywhere inside an
 * article or list of articles.
 * Maximum total width of container
 * = 1080px
 * Left-hand padding
 * = 25% of 1080px  = 270px  = 16.875em
 */
article, .articles {
  padding: 2.25em 0 0 16.875em;
  border-top: 0.25em solid #5f8aa6; }
  @media (max-width: 768px) {
    article, .articles {
      /**
         * When you hit the tablet media query, articles, article lists, and
         * asides become full width and the author information aside pushes to
         * the bottom in browsers that support the latest iteration of flexbox.
         */
      display: -webkit-box;
      /**
         * When you hit the tablet media query, articles, article lists, and
         * asides become full width and the author information aside pushes to
         * the bottom in browsers that support the latest iteration of flexbox.
         */
      display: -webkit-flex;
      /**
         * When you hit the tablet media query, articles, article lists, and
         * asides become full width and the author information aside pushes to
         * the bottom in browsers that support the latest iteration of flexbox.
         */
      display: -ms-flexbox;
      /**
         * When you hit the tablet media query, articles, article lists, and
         * asides become full width and the author information aside pushes to
         * the bottom in browsers that support the latest iteration of flexbox.
         */
      display: flex;
      padding-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (max-width: 768px) {
  article {
    margin-bottom: 0; } }

.articles-list {
  list-style: none; }
  .articles-list li {
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 1.5em 0;
    border-top: 0.25em solid rgba(6, 6, 6, 0.1); }
    @media (max-width: 768px) {
      .articles-list li {
        padding: 2.25em 0; } }
    .articles-list li:last-child {
      padding-bottom: 0; }
      @media (max-width: 768px) {
        .articles-list li:last-child {
          padding: 2.25em 0; } }

.article-title, .site-tagline {
  margin-bottom: 0.4em; }

.article-introduction {
  font-size: 1.25em; }

.article-banner {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 1em;
  border-radius: 0.375em; }

.article-link {
  width: 100%; }
  .article-link a {
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    display: inline-block;
    padding: 0 0.25em;
    border-bottom: 0.1875em solid transparent;
    margin: 0 0 0.35em -0.25em; }
    .article-link a:hover, .article-link a:focus, .article-link a:active {
      color: #4f4f4f;
      border-bottom-color: #5f8aa6;
      text-decoration: none; }

.article-date, .related-date {
  display: block;
  margin-bottom: 0.5em; }

.articles-list .article-date:before {
  content: "\2013 \0020";
  color: #737373; }

.site-introduction {
  max-width: 24em;
  margin-top: -0.2em;
  /* make sure text cap-height aligns to the aside */
  margin-bottom: 0.8em;
  line-height: 1.4em; }
  @media (max-width: 768px) {
    .site-introduction {
      margin-bottom: 1.385em; } }

/**
 * Contains YouTube and Vimeo embedded videos properly and allows them to be
 * dynamically resized.
 */
.video-container {
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.65%;
  position: relative;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.pagination {
  width: 100%; }
  @media (max-width: 500px) {
    .pagination {
      text-align: center; } }
  .pagination .prev-link {
    float: left; }
    @media (max-width: 500px) {
      .pagination .prev-link {
        float: none; } }
    .pagination .prev-link:before {
      content: "\2190\00a0";
      position: relative;
      /* override the button:before fix */ }
  .pagination .next-link {
    float: right; }
    @media (max-width: 500px) {
      .pagination .next-link {
        float: none;
        margin-top: 0.5em; } }
    .pagination .next-link:after {
      content: "\00a0\2192";
      position: relative;
      /* override the button:after fix */ }

/*------------------------------------*\
    $ ASIDES
\*------------------------------------*/
/**
 * The width of the asides is static and and always floated within an article or
 * list of articles. The math is calculated as in the Articles section.
 */
aside {
  width: 15.1875em;
  float: left;
  margin-left: -16.875em; }
  @media (max-width: 768px) {
    aside {
      width: 100%;
      float: none;
      margin: 0 0 1em; } }
  aside p {
    clear: both;
    margin-bottom: 0.5em;
    font-size: 0.875em; }
    @media (max-width: 500px) {
      aside p {
        font-size: 1em; } }
  aside blockquote p {
    margin-bottom: 0; }

.author, .related-articles {
  font-family: "proxima-nova", sans-serif; }

@media (max-width: 768px) {
  .author {
    padding-top: 2.25em;
    border-top: 0.25em solid rgba(6, 6, 6, 0.1);
    margin-bottom: 0;
    -webkit-box-ordinal-group: 1000;
    -webkit-order: 999;
    -ms-flex-order: 999;
    order: 999; }
    .page-about .author {
      margin-top: 2.25em; } }

.author a {
  color: #5f8aa6; }

.author-information {
  width: 100%;
  float: left;
  margin-bottom: 0.5em;
  font-family: "ff-meta-serif-web-pro", serif;
  font-size: 0.875em;
  font-style: italic; }
  .author-information a, .author-information strong, .author-information time {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }
  .author-information a {
    color: inherit; }

.author-image {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
  margin-right: 10px;
  border-radius: 0.1875em; }

.article-tags {
  display: table-cell;
  /* don't wrap around .author-image */
  line-height: 1.429em; }

.author-biography .codepen, .author-biography .lastfm, .author-biography .twitter {
  background: none; }

.related-articles {
  padding-top: 1em;
  border-top: 0.25em solid rgba(6, 6, 6, 0.1);
  margin-top: 1em; }
  .related-articles ul {
    list-style: none;
    line-height: 1.25em; }

.related-title {
  font-weight: bold; }

.related-date {
  padding-left: 0.75em;
  font-size: 0.8124em;
  font-style: italic; }

/*------------------------------------*\
    $ COMMENTS
\*------------------------------------*/
.comments {
  padding-top: 1em;
  border-top: 0.25em solid rgba(6, 6, 6, 0.1);
  margin-top: 2em; }

/*------------------------------------*\
    $ CODE AND CODE BLOCKS
\*------------------------------------*/
code {
  font-family: Monaco, "Courier New", monospace;
  font-size: 0.8125em; }

p > code {
  background-color: rgba(95, 138, 166, 0.1);
  padding: 0 0.154em; }

pre {
  margin: 0 0 1em; }

pre:not(.codepen) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(6, 6, 6, 0.25)));
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6, 6, 6, 0.25) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(6, 6, 6, 0.25) 100%);
  background-color: #4f4f4f;
  color: #f9f9f9;
  padding: 0.714em;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  border-radius: 0.1875em; }

/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/
footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(6, 6, 6, 0.1)));
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(6, 6, 6, 0.1) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(6, 6, 6, 0.1) 100%);
  background-color: #4f4f4f;
  color: #dddddd;
  width: auto;
  height: 40px;
  padding: 2.572em 0;
  border-top: 0.286em solid #5f8aa6;
  font-family: "proxima-nova", sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase; }
  @media (max-width: 500px) {
    footer {
      height: 85px;
      padding: 2em 0; } }

.copyright, .social-icons {
  float: left;
  overflow: hidden; }
  @media (max-width: 500px) {
    .copyright, .social-icons {
      width: 100%;
      float: none;
      text-align: center; } }

.copyright a {
  display: inline-block;
  white-space: nowrap; }

.home-link {
  background: url("../icon.png") no-repeat;
  background-image: url("/images/raven.svg");
  -webkit-background-size: 2.857em 2.857em;
  background-size: 2.857em 2.857em;
  color: transparent;
  width: 2.875em;
  height: 2.875em;
  margin-right: 1em;
  vertical-align: middle;
  text-decoration: none;
  text-indent: -4em; }
  .home-link:hover, .home-link:focus, .home-link:active {
    text-decoration: none; }
  .home-link:active {
    -webkit-transform: translate3d(0, .14em, 0);
    -ms-transform: translate3d(0, .14em, 0);
    transform: translate3d(0, .14em, 0); }

.copyright-link {
  color: #dddddd; }

.social-icons {
  float: right; }
  @media (max-width: 500px) {
    .social-icons {
      margin-top: 0.625em; } }
  .social-icons li {
    display: inline-block;
    margin-left: 0.5em; }
    .social-icons li:first-child {
      margin-left: 0; }

/*a*/
.social-icon {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  background-image: url("/images/glyphs.png");
  -webkit-background-size: 120px 30px;
  background-size: 120px 30px;
  opacity: 0.6;
  color: transparent;
  width: 30px;
  height: 30px;
  display: block;
  font-size: 0; }
  .social-icon:hover, .social-icon:focus, .social-icon:active {
    opacity: 0.9;
    text-decoration: none; }
  .social-icon:active {
    -webkit-transform: translate3d(0, .14em, 0);
    -ms-transform: translate3d(0, .14em, 0);
    transform: translate3d(0, .14em, 0); }

/*a*/
.codepen-link {
  color: #212121 !important; }

/*a*/
.lastfm-link {
  background-position: -30px top;
  color: #d51007 !important; }

/*a*/
.rss-link {
  background-position: -60px top;
  /* uses the default anchor color */ }

/*a*/
.twitter-link {
  background-position: -90px top;
  color: #007ba8 !important; }

/*------------------------------------*\
    $ MISCELLANEOUS
\*------------------------------------*/
/**
 * Luminosity
 */
.is-dim, .is-dim h1 a, .is-dim h2 a, .is-dim h3 a, .is-dim abbr[title], .is-dim blockquote, .is-dim cite, .is-dim dfn[title], .is-dim .logo, .is-dim .site-navigation a, .is-dim .site-navigation a:hover, .is-dim .site-navigation a:focus, .is-dim .site-navigation-home a, .is-dim .site-navigation-about a, .is-dim .site-navigation-archive a, .is-dim .article-link a:hover, .is-dim .article-link a:focus, .is-dim .article-link a:active {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #f9f9f9; }

.is-dim {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  background-color: #4f4f4f; }

.is-dim abbr[title], .is-dim dfn[title] {
  border-bottom-color: #f9f9f9; }

.is-dim .logo {
  text-shadow: 0.058em 0.058em 0 rgba(249, 249, 249, 0.25); }
