////
/// Anchors
/// @group base
////


a {
    @include position(relative);
    @include transition(background, color, border-color);
    @include will-change(background, color, border-color);
    border-bottom-width: $border-width-hairline;
    border-bottom-style: solid;
    text-decoration: none;

    &,
    &:link {
        color: $color-brand;
        border-bottom-color: $color-text-light;
    }

    &:visited {
        color: mix($color-black, $color-brand, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-brand;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: mix($color-black, $color-brand, 10%);
        }
    }

    h2 &,
    h3 & {
        border-bottom-width: 0;

        &:link {
            color: $color-text;
        }

        &:visited {
            color: mix($color-white, $color-text, 10%);
        }
    }
    h3 & {
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    span:not([class]):not([itemprop]) {
        @include visually-hidden;
    }
}

.title-anchor {
    @include transition(border-color);
    @include will-change(color, border-bottom-color);
    display: inline-block;
    border-bottom-width: $border-width-thin;

    &,
    &:link {
        border-bottom-color: transparent;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-text;
        border-bottom-color: $color-brand;
    }
}

// `aria-hidden="true"` by default
.heading-anchor {
    @include case(lowercase, $letter-spacing-default);
    margin-left: $measure-medium;
    font-family: $font-family-monospace;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    text-shadow: none;
    vertical-align: middle;

    &,
    &:link {
        color: $color-text-alt;
        border-bottom-width: $border-width-hairline;
    }

    &:visited {
        color: mix($color-black, $color-text-alt, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-text-alt;
        // when appearing inside an `h3`, disable underline
        text-decoration: none;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: mix($color-black, $color-text-alt, 10%);
        }
    }

    %heading-elements:hover &,
    %heading-elements:focus &,
    %heading-elements:active &,
    &:target {
        display: inline-block;
    }
}

/**
 * Brand Link Colors
 */
@each $color-brand in $color-brands {
    $brand-name:  nth($color-brand, 1);
    $brand-color: nth($color-brand, 2);

    .anchor--#{$brand-name} {
        color: $brand-color !important;

        &:link,
        &:visited {
            &:hover,
            &:focus,
            &:active {
                border-bottom-color: $brand-color;
            }
        }
    }
}
