////
/// Anchors
/// @group base
////


%anchor {
    @include transition(background, color, border-color);
    @include will-change(background, color, border-color);
    border-bottom-width: $border-width-hairline;
    border-bottom-style: solid;
    position: relative;
    text-decoration: none;

    &,
    &:link {
        color: $color-brand;
        border-bottom-color: $color-text-light;
    }

    &:visited {
        color: darken($color-brand, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-brand;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: darken($color-brand, 10%);
        }
    }
}

a {
    @extend %anchor;

    h2 &,
    h3 & {
        border-bottom-width: 0;

        &:link {
            color: $color-text;
        }

        &:visited {
            color: lighten($color-text, 10%);
        }
    }
    h3 & {
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    span:not([class]):not([itemprop]) {
        @extend .hidden;
    }
}

.title-anchor {
    @include transition(border-color);
    @include will-change(color, border-bottom-color);
    display: inline-block;
    border-bottom-width: $border-width-thin;

    &,
    &:link {
        border-bottom-color: transparent;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-text;
        border-bottom-color: $color-brand;
    }
}

.heading-anchor {
    display: none;
    margin-left: $measure-medium;
    font-family: $font-family-monospace;
    font-size: $font-size-smaller;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    text-transform: lowercase;
    text-shadow: none;
    vertical-align: middle;

    &,
    &:link {
        color: $color-text-alt;
        border-bottom-width: $border-width-hairline;
    }

    &:visited {
        color: darken($color-text-alt, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-text-alt;
        // when appearing inside an `h3`, disable underline
        text-decoration: none;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: darken($color-text-alt, 10%);
        }
    }

    %heading-elements:hover &,
    %heading-elements:focus &,
    %heading-elements:active & {
        display: inline-block;
    }
}

/**
 * Brand Link Colors
 */
@each $color-brand in $color-brands {
    $name:       nth($color-brand, 1);
    $text-color: nth($color-brand, 2);

    .anchor--#{$name} {
        color: $text-color !important;

        &:link,
        &:visited {
            border-bottom-color: lighten($text-color, 20%);

            &:hover,
            &:focus,
            &:active {
                border-bottom-color: $text-color;
            }
        }
    }
}
