////
/// Buttons
/// @group base
////

%button {
    @extend .non-selectable;
    @include transition(background-color);
    @include will-change(background-color, height, padding-bottom, margin-bottom, box-shadow, transform);
    background-color: $color-brand;
    min-width: 8em;
    height: 2.182em;
    display: inline-block;
    padding: 0 .727em .182em;
    border: 0;
    margin-top: .25rem;
    outline-style: none;
    position: relative;
    font-family: $font-stack-heading;
    font-size: $font-size-larger;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    border-radius: $border-radius-thin;
    box-shadow: inset 0 -0.182em 0 0 darken($color-brand, 10%);
    &,
    &:link,
    &:visited {
        color: $color-white;
    }
    &:hover,
    &:focus,
    &:active {
        background-color: lighten($color-brand, 5%);
        outline-style: auto;
        text-decoration: none;
    }
    &:active {
        height: 2em;
        padding-bottom: 0;
        margin-bottom: .182em;
        box-shadow: inset 0 -1px 0 0 darken($color-brand, 10%);
        transform: translateY(.182em);
    }
    &:before,
    &:after {
        @include absolute;
        @include will-change(top);
        content: "";
        width: 100%;
        height: .182em;
    }
    &:active {
        &:before,
        &:after {
            top: -0.182em;
        }
    }

    svg {
        width:  .8em;
        height: .8em;
        display: inline-block;
        margin-right: .25em;
        pointer-events: none;
    }

    .icon--article {
        width: (.9 * .8em); // .9 is width:height ratio
    }

    .icon--feather {
        width: (.725 * .8em); // .725 is width:height ratio
    }

    .icon--search {
        margin-right: 0;
    }
}

button, .button,
.button--small {
    @extend %button;
}

button {
    &[disabled] {
        opacity: opacity(ultra);
    }
}

.button--small {
    min-width: 5em;
    font-size: $font-size-large;
    height: 2em;
    margin-top: 0;
    line-height: 1.818;
    &:active {
        height: 1.818em;
    }
}
