////
/// Page
/// @group base
////


html {
    @include position(relative);
    min-height: 100%;
    // prevent horizontal when jumping short page <--> tall page
    overflow-y: scroll;
}

body {
    background-color: $color-white;
    color: $color-text;
}

// Hide the master SVG injected immediately below `<body>`
.svg--master {
    @include visually-hidden;
}
