////
/// Typography (Code)
/// @group base
////


// Monospace Elements
code,
kbd,
samp,
var,
.monospace {
    @extend %monospace-elements;
}
%monospace-elements {
    font-family: $font-family-monospace;
    font-size: $font-size-small;
    line-height: 1.429;
}

/**
 * Inline Code Examples
 */
%content-elements code,
ins,
kbd,
mark,
samp,
var {
    @extend .rounded-thin;
    background-color: $color-brand--10-percent;
    padding: .25rem;
    // force text to wrap inside the container
    word-wrap: break-word;
}

/**
 * Code Blocks
 */
pre {
    // override `normalize.css`
    margin-top: 0;
    margin-bottom: $measure-medium;

    &:not(.codepen) {
        @extend .rounded;
        background-color: $color-black--5-percent;
        padding: $measure-medium $measure-medium 1rem;
        margin-top:    $measure-large;
        margin-bottom: $measure-large;
        // disallow text from wrapping inside the container
        overflow-x: auto;
        overflow-y: hidden;

        %gamma + &,
        %gamma + .highlight & {
            margin-top: 0;
        }

        &,
        code {
            line-height: 2;
        }
        code {
            min-width: 100%;
            display: block;
        }
    }

    .highlight & {
        text-align: left;
    }
}
