////
/// Typography (Global)
/// @group base
////


html {
    background-color: $color-white;
    color: $color-text;
    font: $font-weight-default $font-style-default #{$font-size-default}/#{$line-height-default} $font-family-default;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

// Content Elements
p,
ol,
ul,
dl,
figure,
blockquote {
    @extend %content-elements;
}

/**
 * Headings
 */
%heading {
    // so that elements can be floated inside headings
    min-height: ($line-height-small * 1em);
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: $font-weight-default;
    line-height: $line-height-small;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading;
}

/**
 * Heading - Alpha
 */
%alpha {
    font-family: $font-family-alpha;
    // 42px
    font-size: 2.625rem;
    text-transform: uppercase;
    // 3px 3px
    text-shadow: .0715em .0715em 0 $color-black-5-percent;
}
h1 {
    @extend %alpha;
}

/**
 * Heading - Beta
 */
%beta {
    font-family: $font-family-default;
    font-size: $font-size-larger;
}
h2 {
    @extend %beta;
}

/**
 * Heading - Gamma
 */
%gamma {
    font-family: $font-family-beta;
    // 18px
    font-size: 1.125rem;
    font-weight: $font-weight-bold;
    line-height: 1.875;
    text-transform: uppercase;
}
h3 {
    @extend %gamma;
    margin-top: $spacing-large;
    border-bottom: $border-thin solid $color-text-light;

    &:not(:last-child) {
        margin-bottom: $spacing-medium;
    }

    // Show an indicator when using an Anchor to jump to an ID
    &[id] {
        &:target {
            animation: heading-target 2s linear;
        }
        @at-root {
            @keyframes heading-target {
                0%, 50% {
                    background-color: $color-highlight;
                }
                100% {
                    background-color: transparent;
                }
            }
        }
    }

    article > & {
        @extend .clear;
        width: auto;
        max-width: 100%;
        display: inline-block;
        padding-right: $spacing-large;
    }

    // Collapse margin-top when following a Featured Lede
    // This happens on the Homepage
    .lede--featured + & {
        margin-top: 0;
    }

    // For special Monospace titles
    %monospace-elements {
        text-transform: none;
    }
}

/**
 * Heading - Delta
 */
%delta {
    font-family: $font-family-beta;
    font-weight: $font-weight-bold;
}
h4 {
    @extend %delta;
    margin-bottom: $spacing-small;
}

/**
 * Anchors
 */
%anchor {
    @include transition(background, color, border-color);
    @include will-change(background, color, border-color);
    color: $color-brand;
    border-bottom-color: $color-text-light;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: relative;
    text-decoration: none;

    &:visited {
        color: darken($color-brand, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-brand;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: darken($color-brand, 10%);
        }
    }

    span:not([class]):not([itemprop]) {
        @extend .hidden;
    }
}
a {
    @extend %anchor;

    h2 &,
    h3 & {
        color: $color-text;
        border-bottom-width: 0;

        &:visited {
            color: lighten($color-text, 10%);
        }
    }
    h3 & {
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.heading-anchor {
    color: $color-text-alt;
    display: none;
    border-bottom-width: 1px;
    margin-left: $spacing-medium;
    font-family: $font-family-monospace;
    font-size: $font-size-smaller;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    text-transform: lowercase;
    text-shadow: none;
    vertical-align: middle;

    &:visited {
        color: darken($color-text-alt, 10%);
    }

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-text-alt;
        // when appearing inside an `h3`, disable underline
        text-decoration: none;
    }

    &:visited {
        &:hover,
        &:focus,
        &:active {
            border-bottom-color: darken($color-text-alt, 10%);
        }
    }

    %heading:hover &,
    %heading:focus &,
    %heading:active & {
        display: inline-block;
    }
}

/**
 * Brand Link Colors
 */
@each $color-brand in $color-brands {
    $name:       nth($color-brand, 1);
    $text-color: nth($color-brand, 2);

    .link--#{$name} {
        color: $text-color !important;

        &,
        &:visited {
            border-bottom-color: lighten($text-color, 20%);

            &:hover,
            &:focus,
            &:active {
                border-bottom-color: $text-color;
            }
        }

    }
}

p {
    margin: 0 0 $spacing-medium;

    &:last-child {
        margin-bottom: 0;
    }

    &:empty {
        @extend .removed;
    }
}

/**
 * Lists
 */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    margin-bottom: $spacing-medium;

    li {
        padding-left: $spacing-large;
        position: relative;

        &:not(:last-child) {
            margin-bottom: $spacing-small;
        }

        &:before {
            @include position(top-left);
            font-family: $font-family-beta;
            font-weight: $font-weight-bold;
        }
    }

    // List nested in a list
    & & {
        margin-top: $spacing-medium;
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;

    li {
        counter-increment: ordered-list;

        &:before {
            content: counter(ordered-list) ".";
        }
    }
}
ul:not([class]) li:before,
ul.default-list li:before {
    // BULLET
    content: "•";
    // 24px
    font-size: 1.5rem;
    line-height: 1;
}

dl {
    width: 100%;
    margin-top: 0;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: $spacing-large;
    }

    dt {
        width: auto;
        min-width: 10rem;
        clear: left;
        padding-right: $spacing-medium;
        font-family: $font-family-beta;
        font-weight: $font-weight-bold;

        @include media(">small") {
            float: left;
        }
    }

    dd {
        width: $wrapper-width-large;
        display: table-cell;
        margin: 0;
        overflow: hidden;
        vertical-align: top;

        &:not(:last-child) {
            padding-bottom: $spacing-medium;
        }

        @include media("<=small") {
            width: auto;
            display: block;
            margin-left: $spacing-medium;
        }
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0 0 $spacing-medium;

    // Center `figure`s not used for code blocks
    &:not(.highlight) {
        text-align: center;
    }

    img,
    svg {
        @extend .rounded;
    }

    a,
    a:visited,
    figcaption {
        color: $color-text-alt;
        font-style: italic;
    }
}

blockquote {
    @extend .rounded;
    @include quotes;
    background-color: $color-brand-10-percent;
    padding: $spacing-medium;
    margin: 0 $spacing-large $spacing-medium;

    @include media("<=small") {
        margin-left:  $spacing-medium;
        margin-right: $spacing-medium;
    }

    p {
        margin-bottom: 0 !important;

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }
    }

    cite {
        display: block;
        margin-left: $spacing-large;
        margin-top: $spacing-medium;

        &:before {
            // HYPHEN, NO-BREAK SPACE
            content: "‐ ";
        }
    }
}
/*blockquote*/.twitter-tweet {
    margin: 0 auto $spacing-medium !important;
}

q {
    @include quotes;
    font-style: italic;
}

abbr[title],
blockquote,
cite,
dfn[title] {
    color: $color-text-alt;
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted $color-text-alt;
    cursor: help;
}
ins {
    text-decoration: none;
}

time {
    display: block;
}

hr {
    background: $color-black-10-percent;
    width: 100%;
    height: .125rem;
    display: block;
    border: 0;
    margin: $spacing-large 0;

    %content-elements + & {
        @include media("<=medium") {
            margin-top: $spacing-medium;
        }
    }
}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: none;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $spacing-medium;
}

/**
 * Mouse Selection
 */
::selection {
    background: $color-brand;
    color: $color-white;
}
.canada::selection {
    background-color: $color-canada;
}
