////
/// Typography (Global)
/// @group base
////


html {
    background-color: $color-text;
    font: $font-weight-default normal #{$font-size-default}/#{$line-height-default} $font-family-default;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    background-color: $color-white;
    color: $color-text;
}

/**
 * Content Elements
 */
blockquote,
details,
dl,
ol,
ul,
figure:not([class]),
p {
    @extend %content-elements;
}

/**
 * Heading Elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading-elements;
    @include position(relative);
    padding: 0;
    margin: 0;
    font-weight: $font-weight-default;
}

/**
 * Heading - Alpha
 */
%alpha {
    font-family: $font-family-alpha;
    font-size: $font-size-alpha;
    line-height: 1;
    text-transform: uppercase;
    // 3px 3px
    text-shadow: 0.0715em 0.0715em 0 $color-black--5-percent;
}
h1 {
    @extend %alpha;
}

/**
 * Heading - Beta
 */
%beta {
    font-family: $font-family-beta;
    font-size: $font-size-beta;
    line-height: $line-height-small;
}
h2 {
    @extend %beta;
}

/**
 * Heading - Gamma
 */
%gamma {
    font-family: $font-family-gamma;
    font-size: $font-size-gamma;
    line-height: 1.875;
}
h3 {
    @extend %gamma;
    margin-top: $measure-large;
    border-bottom: $border-width-thin solid $color-text-light;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: $measure-medium;
    }

    // Show an indicator when using an Anchor to jump to an `h3` with an `id`
    &[id] {
        &:target {
            animation: heading-target 2s linear;
        }
        @at-root {
            @keyframes heading-target {
                0%,
                50% {
                    background-color: $color-highlight;
                }
                100% {
                    background-color: transparent;
                }
            }
        }
    }

    // Match normal `h3`s without targetting `aside`-nested `h3`s
    article > &,
    &.widget-title {
        @include clear;
        width: auto;
        max-width: 100%;
        display: inline-block;
        padding-right: $measure-large;
    }

    // Collapse margin-top when following a Featured Lede
    // This happens on the Homepage
    .lede + & {
        margin-top: 0;
    }

    // For special Monospace titles
    %monospace-elements {
        text-transform: none;
    }
}

/**
 * Heading - Delta
 */
%delta {
    font-family: $font-family-gamma;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
}
h4 {
    @extend %delta;
    margin-bottom: $measure-small;
}

/**
 * Heading - Epsilon
 */
h5,
%epsilon {
    font-size: $font-size-default;
    line-height: $line-height-small;
}

/**
 * Heading - Zeta
 */
h6,
%zeta {
    font-size: $font-size-default;
    line-height: $line-height-small;
}

p {
    margin: 0 0 $measure-medium;

    &:last-child {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
    }
}

/**
 * Lists
 */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    margin-bottom: $measure-medium;

    li {
        @include position(relative);
        padding-left: $measure-large;

        &:not(:last-child) {
            margin-bottom: $measure-small;
        }

        &::before {
            @include position(top-left);
            font-family: $font-family-gamma;
            font-weight: $font-weight-bold;
        }
    }

    // List nested in a list
    & & {
        margin-top: $measure-medium;
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;

    li {
        counter-increment: ordered-list;

        &::before {
            content: counter(ordered-list) ".";
        }
    }

    &[reversed] {
        display: flex;
        flex-direction: column-reverse;
    }
}
ul:not([class]) li::before,
ul.default-list li::before {
    // BULLET
    content: "•";
    // 24px
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    width: 100%;
    margin-top: 0;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: $measure-large;
    }
}
dt {
    width: auto;
    min-width: 10rem;
    clear: left;
    padding-right: $measure-medium;
    font-family: $font-family-gamma;
    font-weight: $font-weight-bold;

    @include media(">small") {
        float: left;
    }
}
dd {
    width: $wrapper-width-large;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top;

    &:not(:last-child) {
        padding-bottom: $measure-medium;
    }

    @include media("<=small") {
        width: auto;
        display: block;
        padding-left: $measure-medium;
    }
}

/**
 * Tables
 */
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: $font-family-gamma;
    border-collapse: separate;

    &.zebra {
        tbody tr:nth-child(even) td {
            background-color: $color-black--5-percent;
            border-left-color: $color-text-light;
        }
    }
}
th,
td {
    @include transition(background-color, border-left-color);
    @include will-change(background-color, border-left-color);
    padding: $measure-small;
    text-align: left;
}
// Row Highlighting
/*table*/.highlight,
/*table*/.highlight--row {
    tbody tr:hover {
        td {
            border-left-color: $color-text-light;
        }

        td,
        & + tr td {
            border-top-color: $color-text-light;
        }

        th,
        td:not(:hover) {
            background-color: $color-brand--10-percent !important;
        }
    }
}
// Column Highlighting
/*table*/.highlight thead th:not(:empty),
/*table*/.highlight td,
/*table*/.highlight tfoot th:not(:empty),
/*table*/.highlight--columns thead th:not(:empty),
/*table*/.highlight--columns td,
/*table*/.highlight--columns tfoot th:not(:empty) {
    @include position(relative);

    &::after {
        @include position(left);
        @include transition(opacity);
        content: "";
        opacity: opacity(0);
        background-color: $color-brand--10-percent;
        width: 100%;
        height: 200vw;
        pointer-events: none;
        z-index: z-index(above);
    }

    &:hover {
        &::after {
            opacity: opacity(1);
        }
    }
}
// Head and Foot Cells
th {
    &:not(:empty) {
        background-color: $color-light-gray;
    }

    thead &,
    tfoot & {
        font-weight: $font-weight-bold;
        white-space: nowrap;
    }

    tfoot & {
        border-top: $border-width-thin solid $color-text-light;
    }
    /*tfoot*/.totals & {
        @include media(">medium") {
            text-align: right;
        }

        &::before {
            content: "Total:";
            padding-right: 0.5em;
            font-style: italic;

            @include media(">small") {
                float: left;
            }
        }
    }

    tbody & {
        font-style: italic;
        font-weight: $font-weight-default;
    }

    & + th {
        border-left: $border-width-thin solid $color-text-light;
    }
}
// Body Cells
tbody th,
td {
    border-top: $border-width-thin solid $color-light-gray;

    & + td {
        border-left: $border-width-thin solid $color-light-gray;
    }
}
tbody th,
tbody tr:first-child td {
    border-top-color: $color-text-light;
}
tbody th {
    width: 1px;
    padding-right: $measure-medium;
    text-align: right;
    white-space: nowrap;

    & + td {
        border-left-color: $color-text-light;
    }
}

/**
 * Details and Summary
 */
details {
    @include border-radius(thin);
    background-color: $color-dark-gray;
    color: $color-white;
    padding: $measure-small;
    font-family: $font-family-gamma;

    %content-elements {
        padding: 0 $measure-small $measure-small;
    }
}
summary {
    font-weight: $font-weight-bold;
    outline: 0;
    cursor: pointer;

    & + %content-elements {
        margin-top: $measure-small;
        border-top: $border-width-thin solid $color-brand;
        padding-top: $measure-medium;
    }
}

/**
 * Images and Figures
 */
img,
a img {
    color: $color-lastfm;
    width: auto;
    max-width: 100%;
    height: auto;
    font-style: italic;

    &::before {
        @include position(top-left);
        content: "";
        background-color: $color-text-light;
        width:  100%;
        height: 100%;
        text-align: center;
    }

    &::after {
        @include position(center);
        content: "Broken Image of " attr(alt);
    }
}
figure {
    margin: 0 0 $measure-medium;

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    & > a,
    & > img,
    & > a img,
    & > svg,
    & > a svg {
        @include border-radius;
        display: block;
        margin-left:  auto;
        margin-right: auto;
    }

    & > a {
        border-bottom-width: 0;
    }

    & > a:link,
    & > a:visited,
    figcaption {
        color: $color-text-alt;
        font-style: italic;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $measure-small;
    }
}

/**
 * Quotes
 */
blockquote {
    @include border-radius;
    @include quotes;
    background-color: $color-brand--10-percent;
    padding: $measure-medium;
    margin: 0 $measure-large $measure-medium;

    @include media("<=small") {
        margin-left:  $measure-medium;
        margin-right: $measure-medium;
    }

    p {
        margin-bottom: 0;

        &::before {
            content: open-quote;
        }

        &:first-of-type {
            &::after {
                content: close-quote;
            }
        }
    }

    cite {
        display: block;
        margin-left: $measure-large;
        margin-top: $measure-medium;

        &::before {
            // HYPHEN, NO-BREAK SPACE
            content: "‐ ";
        }
    }
}
/*blockquote*/.twitter-tweet {
    margin: 0 auto $measure-medium !important;
}
q {
    @include quotes;
    font-style: italic;
}

/**
 * Inline Content Elements
 */
abbr[title],
blockquote,
cite,
dfn[title] {
    color: $color-text-alt;
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom: $border-width-hairline dotted $color-text-alt;
    cursor: help;
}
ins {
    text-decoration: none;
}

time {
    display: block;
}

hr {
    background: $color-black--10-percent;
    width: 100%;
    height: 0.125rem;
    display: block;
    border: 0;
    margin: $measure-large 0;

    %content-elements + & {
        @include media("<=medium") {
            margin-top: $measure-medium;
        }
    }
}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: 0;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $measure-medium;
}

/**
 * Hide visually and from screen readers, but maintain layout
 */
[aria-hidden="true"] {
    visibility: hidden;
}

/**
 * Mouse Selection
 */
::selection {
    background: $color-brand;
    color: $color-white;
}

/**
 * CANADA
 */
.canada {
    &:not(:link) {
        &:hover,
        &:focus,
        &:active {
            background-color: $color-canada;
            color: $color-white;
        }
    }

    &::selection {
        background-color: $color-canada;
    }
}
