////
/// Typography (Code)
/// @group base
////

code,
kbd,
samp,
var,
.monospace {
    font-family: $font-stack-code;
    // TODO: I don’t know why `rem` isn't working here!
    font-size: ($font-size-small / 1rem * 1em);
    line-height: 1.429;
}
    p code,
    ol code,
    ul code,
    dl code,
    blockquote code,
    ins,
    kbd,
    mark,
    samp,
    var {
        @extend .rounded-thin;
        background-color: rgba($color-brand, opacity(medium));
        padding: .25rem;
        // force text to wrap inside the container
        word-wrap: break-word;
    }

pre {
    // override `normalize.css`
    margin-top: 0;
    margin-bottom: $spacing-medium;

    .highlight & {
        text-align: left;
    }

    &:not(.codepen) {
        @extend .rounded;
        background-color: $color-black-low;
        padding: $spacing-medium $spacing-medium 1rem;
        // disallow text from wrapping inside the container
        overflow-x: auto;
        overflow-y: hidden;

        &,
        code {
            line-height: 2;
        }

        code {
            min-width: 100%;
            display: block;
        }
    }
}
