////
/// Christmas
/// @group themes
////


/*html*/.christmas {
    --color-raven: green; // hsl(24, 100%, 55%)
    --color-bowhead: red; // hsl(24, 100%, 48%)
    --color-coyote: green; // hsl(24, 100%, 62%)
}
