<div class=" [ author ] [ h-card  p-author ] ">
	<a class=" [ author__information ] [ u-url u-uid ] " href="/" rel="author  me">
		<picture>
			<source srcset="/images/avatar.avif 1x,
							/images/avatar@2x.avif 2x,
							/images/avatar@3x.avif 3x,
							/images/avatar@4x.avif 4x"
					type="image/avif" />
			<source srcset="/images/avatar.webp 1x,
							/images/avatar@2x.webp 2x,
							/images/avatar@3x.webp 3x,
							/images/avatar@4x.webp 4x"
					type="image/webp" />
			<img alt="{{ author.name }}" class=" [ author__image ] [ canada ] [ u-photo ] "
				src="/images/avatar.jpeg"
				srcset="/images/avatar.jpeg 1x,
						/images/avatar@2x.jpeg 2x,
						/images/avatar@3x.jpeg 3x,
						/images/avatar@4x.jpeg 4x"
				width="100" height="100">
		</picture>
		<div class=" [ author__name ] ">
			<small>about</small>
			<span class=" [ anchor ] [ canada ] [ p-name ] ">{{ author.name }}</span>
		</div>
	</a>
	<div class=" [ author__biography ] ">
		<p class=" [ p-note ] ">{{ site.description | safe }}</p>
		<p>You can <button type="share" class="anchor">share this page</button> and <a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/main/{{ page.inputPath }}" aria-label="edit this page">edit it too</a>.</p>
	</div>
	<a class=" [ u-url ] " href="/about/" rel="author me" hidden> </a>
	<data class=" [ p-x-pronoun-nominative ] " value="he" hidden> </data>
	<data class=" [ p-x-pronoun-oblique ] " value="him" hidden> </data>
	<data class=" [ p-x-pronoun-possessive ] " value="his" hidden> </data>
</div>
