{% if item.data.cover or cover %}
	{% set src = item.data.cover | default(cover) %}
	{% if 'gif' in src %}
		<picture>
			<img src="/images/animated/{{ src }}" alt="" class="cover  u-photo" loading="lazy" decoding="async">
		</picture>
	{% else %}
		{% image './images/covers/' + src, '', 'cover  u-photo', [400] %}
	{% endif %}
{% endif %}
