[Available on npm](https://www.npmjs.com/package/{{ npm }}):

```bash
npm install {{ npm }} --save-dev
```

You can also just download it directly [from GitHub](https://github.com/{{ github }}): <samp>[https://github.com/{{ github }}/archive/{{ branch | default('main')}}.zip](https://github.com/{{ github }}/archive/{{ branch | default('main')}}.zip)</samp>
