<div class=" [ box ] [ meta ] ">
	<h3>Useful pages:</h3>
	<ul class=" [ meta__list  meta__list--block ] ">
		<li><a href="/search/">Search</a></li>
		<li><a href="/hot/">Hot Posts</a></li>
		<li><a href="/popular/">Popular Posts</a></li>
		<li><a href="/indieweb/">Indieweb</a></li>
		<li><a href="/listening/">Listening</a></li>
		<li><a href="/uses/">Uses</a></li>
		<li><a href="/cv/">CV</a></li>
	</ul>
</div>
