{% if photo or item.data.photo %}
	{% set photos = item.data.photo | default(photo) | toArray %}
	{% for item in photos %}
		<figure>
			{% set item_url = item.url | default(item) %}
			{% set item_alt = item.alt | default('') %}
			{% set item_classes = item.classes | default('') %}
			{% set item_widths = item.widths | default(null) %}
			{% if 'gif' in item_url %}
				<picture>
					<img src="/images/animated/{{ item_url }}" alt="{{ item.alt }}" loading="lazy">
				</picture>
			{% else %}
				{% img './images/content/' + item_url, item_alt, item_classes, [item_widths] %}
			{% endif %}
		</figure>
	{% endfor %}
{% endif %}
