{% if item.data.photo or photo %}
	{% set photos = item.data.photo | default(photo) | toArray %}
	{% for item in photos %}
		<figure>
			{% set item_url = item.url | default(item) %}
			{% set item_alt = item.alt | default('') %}
			{% set item_classes = item.classes | default('') %}
			{% if 'gif' in item_url %}
				<picture>
					<img src="/images/animated/{{ item_url }}" alt="{{ item_alt }}" class="{{ item_classes }}" loading="lazy" decoding="async">
				</picture>
			{% else %}
				{% image './images/content/' + item_url, item_alt, item_classes, item.widths %}
			{% endif %}
		</figure>
	{% endfor %}
{% endif %}
