{% if photo %}
	{% set photos = photo | toArray %}
	{% for item in photos %}
		<figure>
			{% set item_url = item.url | default(item) %}
			{% img './images/content/' + item_url, '' %}
			{% if item.alt %}
				<figcaption>{{ item.alt }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
{% endif %}
