<div class=" [ box ] [ flow ] ">
	{% image './images/content/sotb-banner.svg', 'State of the Browser logo' %}
	<p><a href="https://2022.stateofthebrowser.com">State of the Browser</a>, a yearly one-day, single-track conference, is back with its tenth edition—join us in-person in London or online on <strong>22 October 2022</strong>!</p>
	<p class=" [ center ] "><a class=" [ button ] " href="https://2022.stateofthebrowser.com/tickets/">Get Tickets</a></p>
</div>
