{% if updated_text %}
	<div id="updated" class=" [ updated ] [ box ] [ flow ] ">
		{% if updated %}
			<time datetime="{{ updated | rfcDate }}">Updated {{ updated | friendlyDate }}:</time>
		{% endif %}
		{{ updated_text | markdownFormat | safe }}
	</div>
{% endif %}
