{% if show_responses %}
	<div id="webmentions" class=" [ box ] [ flow ] [ webmentions ] ">
		<!-- </textarea> -->
		<!-- '"´ -->
		<form id="webmentions-form" class=" [ webmentions__form ] " method="post" action="https://webmention.io/{{ site.url | getHost }}/webmention">
			<label class=" [ webmentions__label ] " for="webmention-source">Have you published a <a href="https://indieweb.org/responses" rel="external noopener" target="_blank">response</a> to this {{ categoryProper | default(category) | default('page') }}?<br><a href="https://indieweb.org/reply#How_To" rel="external noopener" target="_blank">Learn how to send a Webmention</a> or let me know the <abbr title="Uniform Resource Locator">URL</abbr>:</label>
			<input id="webmention-source" class=" [ webmentions__input ] " type="url" inputmode="url" enterkeyhint="send" name="source" size="1" aria-required="true" required>
			<input type="hidden" name="target" value="{{ canonical }}">
			<button class=" [ webmentions__submit ] " type="submit">Send</button>
			<is-land on:visible>
				<template data-island="once">
					<script type="module" src="/js/url-input.js?v={{ pkg.version }}"></script>
				</template>
			</is-land>
		</form>
		{% if webmentions.length or externalLikes > 0 or stargazers > 0 %}
			{%- set bookmarks = webmentions | arrayKeyEquals('activity.type', 'bookmark') -%}
			{%- set likes = webmentions | arrayKeyEquals('activity.type', 'like') -%}
			{%- set links = webmentions | arrayKeyEquals('activity.type', 'link') | arrayKeyEquals('data.content', null) -%}
			{%- set reposts = webmentions | arrayKeyEquals('activity.type', 'repost') -%}
			{%- set reactions = bookmarks.concat(likes).concat(links).concat(reposts) -%}
			{%- set replies = webmentions | arrayKeyEquals('activity.type', ['link', 'reply']) | arrayKeyEquals('data.content', 'notempty') -%}
			{%- set responsesLength = webmentions | getResponsesLength(externalLikes + stargazers) -%}
			<div class=" [ webmentions__responses ] [ flow ] ">
				<h2 id="responses">{{ responsesLength }} Response{{ 's' if responsesLength > 1 }}</h2>
				{% if reactions.length or stargazers %}
					<ol id="reactions" class=" [ cluster ] [ reactions ] [ strong ] ">
						{% if stargazers %}
							<li><span class=" [ emoji ] ">⭐️</span> {{ stargazers }} Stargazer{{ 's' if stargazers > 1 }}</li>
						{% endif %}
						{% if bookmarks.length %}
							<li><span class=" [ emoji ] ">🔖</span> {{ bookmarks.length }} Bookmark{{ 's' if bookmarks.length > 1 }}</li>
						{% endif %}
						{% if likes.length %}
							<li><span class=" [ emoji ] ">❤️</span> {{ likes.length }} Like{{ 's' if likes.length > 1 }}</li>
						{% endif %}
						{% if links.length %}
							<li><span class=" [ emoji ] ">🔗</span> {{ links.length }} Link{{ 's' if links.length > 1 }}</li>
						{% endif %}
						{% if reposts.length %}
							<li><span class=" [ emoji ] ">🔄️</span> {{ reposts.length }} Repost{{ 's' if reposts.length > 1 }}</li>
						{% endif %}
					</ol>
				{% endif %}
				{% if replies.length %}
					<ol id="replies" class=" [ replies ] [ flow ] ">
						{% for webmention in replies %}
							{% if webmention.content or webmention.data.content %}
								{%- set wmId = webmention.id -%}
								{%- set wmType = webmention.activity.type | getPostType -%}
								{%- set wmDate = webmention.data.published | default(webmention.verified_date) -%}
								{%- set wmSource = webmention.data.url -%}
								{%- set wmContent = webmention.content | default(webmention.data.content) | markdownFormat | replaceTwitter | safe -%}
								{%- set authorPhoto = webmention.data.author.photo -%}
								{%- set authorUrl = webmention.data.author.url | default(wmSource) -%}
								{%- set authorName = webmention.data.author.name | default("Anonymous") -%}
								{%- set sentiment = wmContent | striptags(true) | getSentimentValue -%}
								<li id="webmention-{{ wmId }}" class=" [ webmentions__response ] [ h-cite  p-comment ] " data-type="{{ wmType }}">
									<a href="{{ authorUrl }}" class=" [ webmentions__response__avatar ] " tabindex="-1">
										{% avatar authorPhoto, wmSource, authorUrl %}
									</a>
									<div class=" [ webmentions__response__meta ] ">
										<small>by</small>
										<a class=" [ p-author  h-card  u-url ] " href="{{ authorUrl }}" rel="external" tabindex="-1"><span class=" [ p-name ] ">{{ authorName }}</span></a>
										<small>on</small>
										<a class=" [ u-url  u-{{ wmType }} ] " href="{{ wmSource }}" rel="external" title="Read externally"><time datetime="{{ wmDate | rfcDate }}">{{ wmDate | friendlyDateLong | safe }}</time></a>
									</div>
									<div class=" [ e-content ] [ flow ] {% if sentiment < -0.3 %}[ salty ] {% endif %}">{{ wmContent }}</div>
								</li>
							{% endif %}
						{% endfor %}
					</ol>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}
