////
/// Christmas
/// @group themes
////

$christmas-colors: (
	lynx: "24.55% -4.24% 2.05%",
	wolf: "37.07% -7.29% 3.75%",
	bowhead: "53.66% -11.28% 6.07%",
	raven: "72.27% -15.9% 9.07%",
	highland: "81.47% -13.89% 7.45%",
	coyote: "89.34% -8.61% 4.61%",
	bear: "96.78% -2.79% 1.64%",
);

@mixin theme-christmas() {
	@each $name, $value in $christmas-colors {
		#{"--oklab-" + $name}: #{$value};
	}

	&:is(html) {
		scrollbar-color: h(maple) h(snowy);
	}

	.logo,
	.perch::after {
		filter: hue-rotate(270deg) saturate(200%);
	}

	.navigation__list a::after {
		background-color: h(maple);
	}
}

[data-theme*="christmas"],
.christmas {
	@include theme-christmas;
}
