////
/// Code Red
/// @group themes
////

@mixin theme-code-red() {
	--raven-l: 54.3%;
	--raven-a: 0.068;
	--raven-b: 0.034;

	.logo,
	.perch::after {
		filter: hue-rotate(155deg) saturate(200%);
	}
}

[data-theme*="code-red"],
.code-red {
	@include theme-code-red;
}
