////
/// Dark
/// @group themes
////

@mixin theme-dark() {
	--shadow-color: var(--hsl-shadow-dark);

	&:is(html) {
		scrollbar-color: h(raven) h(mineshaft);
	}

	// Target these if applied to html or body elements
	&:is(body),
	&:is(html) body,
	.main {
		background-color: h(mineshaft);
		background-color: color-mix(in oklab, h(mineshaft), h(wolf) 40%);
		color: h(yeti);
	}

	// Set some special dark backgrounds
	:is(.header, .footer, %box, .table) {
		background-color: var(--background-color, #{mix(map-get($colors, mineshaft), map-get($colors, thunder), (1 - map-get($opacities, gamma)) * 100%)});
	}

	// Header Block
	.header {
		color: h(yeti);
	}

	// Footer Block
	.footer {
		color: h(yeti) !important;
	}

	// Anchor Global
	%anchor {
		color: h(highland);
	}
	// Anchor & Summary
	%anchor,
	summary {
		&:not(:is(:hover, :focus, :active)) {
			text-decoration-color: h(kaiser);
		}
	}

	///
	// Global Content Elements
	///

	h2 {
		box-shadow: inset 0 calc(-1 * var(--size-border-thin)) 0 h(nickel);
	}

	:is(blockquote, code, samp, kbd) {
		background-color: h(coyote, gamma);
	}

	ins {
		background-color: h(conifer);
	}

	pre[class*="language-"] {
		background-color: h(thunder);
	}

	input,
	select,
	textarea {
		background-color: h(thunder);
		color: h(yeti);
		border-color: h(kaiser);

		&:hover {
			border-color: h(bowhead);
		}
	}

	var {
		color: h(highland);
	}

	hr {
		background-color: h(yeti, beta);
	}

	th:not(:empty) {
		background-color: h(kaiser);
	}

	///
	// Global and Block Content Elements
	///

	:is(ol, ul):not([class]),
	.breadcrumbs {
		li {
			&::marker {
				color: h(yeti);
			}
		}
	}

	:is(abbr, dfn, span)[title],
	figure > a figcaption,
	blockquote cite,
	.breadcrumbs,
	.fragment-anchor {
		color: h(yeti);
	}

	///
	// Compositions
	///

	%box {
		border-block-start-color: var(--border-color, h(raven, alpha));

		%anchor {
			color: h(highland);
		}
	}
	.box--success {
		background-color: #{mix(map-get($colors, mineshaft), map-get($colors, conifer), (1 - map-get($opacities, gamma)) * 100%)};
		--border-color: #{h(conifer)};
	}

	.box--warning {
		background-color: #{mix(map-get($colors, mineshaft), map-get($colors, aspen), (1 - map-get($opacities, gamma)) * 100%)};
		--border-color: #{h(aspen)};
	}

	.box--error {
		background-color: #{mix(map-get($colors, mineshaft), map-get($colors, maple), (1 - map-get($opacities, gamma)) * 100%)};
		--border-color: #{h(maple)};
	}

	.rating {
		--rating-background-color: #{h(kaiser)};
		--rating-color: #{mix(map-get($colors, thunder), map-get($colors, aspen), map-get($opacities, gamma) * 100%)};
	}

	.browse__previous,
	.browse__next {
		&:not(:is(:hover, :focus, :active)) {
			&::before {
				color: h(yeti);
			}
		}
	}

	.table-of-contents {
		li {
			&::marker {
				color: h(yeti);
			}
		}
	}

	.dark-invert-colors {
		filter: invert(1) hue-rotate(180deg);
	}

	///
	// Exceptions
	///

	[aria-labelledby="worked-with"] {
		img {
			filter: brightness(1.25);
		}
	}
}

// Apply the Dark color scheme when the media query matches
@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		@include theme-dark;
	}
}

// Apply the Dark color scheme when it has been set manually (visitor, author)
[data-theme*="dark"],
.dark {
	@include theme-dark;
}
