////
/// High Contrast
/// @group themes
////

html:has([name="high-contrast"] [value="true"]:checked) {
	--raven-chroma: 0.2 !important;
}

html:has([name="high-contrast"] [value=""]:checked) {
	@media (prefers-contrast: more) {
		--raven-chroma: 0.2 !important;
	}
}
