////
/// Koala
/// @group themes
////

@use "../abstracts/mixins";

:root:has([name="theme"] [value*="koala"]:checked),
[data-theme*="koala"],
.koala {
	--raven-lightness: 58.5%;
	--raven-chroma: 0.0725;
	--raven-hue: 294.53;

	& .logo,
	& .perch::after {
		filter: hue-rotate(calc(294.53deg - 237.73deg)) saturate(110%);
	}
}
