////
/// Koala
/// @group themes
////

@mixin theme-koala() {
	& {
		--raven-lightness: 58.5%;
		--raven-chroma: 0.0725;
		--raven-hue: 294.53;

		@apply --setup-raven-colors;
	}

	.logo,
	.perch::after {
		filter: hue-rotate(62deg) saturate(150%);
	}
}

:root:has([name="theme"] [value*="koala"]:checked),
[data-theme*="koala"],
.koala {
	@include theme-koala;
}
