////
/// The Matrix has you...
/// @group themes
////

@mixin theme-matrix() {
	--raven-lightness: 60.6%;
	--raven-chroma: 0.082;
	--raven-hue: 142.62;

	@include setup-raven-colors;

	.logo,
	.perch::after {
		filter: hue-rotate(270deg) saturate(300%);
	}

	main {
		background-image: url("/images/matrix.svg");
	}

	.avatar,
	.author__image {
		filter: url("/images/fsociety.svg#fsociety");
	}
}

[data-theme*="matrix"],
.matrix {
	@include theme-dark;
	@include theme-matrix;
}
