////
/// The Matrix has you...
/// @group themes
////

$matrix-palette: (
	lynx: #004801,
	wolf: #016302,
	bowhead: #028004,
	raven: #049e06,
	highland: #06bd0a,
	coyote: #08de0e,
	bear: #ccffcd,
);

@mixin theme-matrix() {
	@each $name, $color in $matrix-palette {
		--hsl-#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)};
	}

	.logo,
	.perch::after {
		filter: hue-rotate(270deg) saturate(300%);
	}

	.avatar,
	.author__image {
		filter: url("/images/fsociety.svg#fsociety");
	}
}

[data-theme*="matrix"],
.matrix {
	@include theme-dark;
	@include theme-matrix;
}
