////
/// Midwinter
/// @group themes
////

:root:has([name="theme"] [value*="midwinter"]:checked),
[data-theme*="midwinter"],
.midwinter {
	--raven-hue: 165;

	&:is(html) {
		scrollbar-color: var(--color-maple) var(--body-background-color);
	}
}
