////
/// Red Alert
/// @group themes
////

@use "../abstracts/mixins";

:root:has([name="theme"] [value*="red-alert"]:checked),
[data-theme*="red-alert"],
.red-alert {
	--raven-lightness: 54.3%;
	--raven-chroma: 0.076;
	--raven-hue: 26.565;

	& .logo,
	& .perch::after {
		filter: hue-rotate(155deg) saturate(200%);
	}
}
