////
/// Sepia
/// @group themes
////

@mixin theme-sepia() {
	// bring down the brightness
	--snowy-l: 88%;
	// apply slight yellow-filter to monochrome colours
	--monochrome-b: 0.06;
	// apply slight yellow-filter to raven-based colours
	--raven-b: 0;

	.logo,
	.perch::after {
		filter: hue-rotate(210deg) saturate(200%);
	}
}

[data-theme*="sepia"],
.sepia {
	@include theme-sepia;
}
