////
/// Sepia
/// @group themes
////

@mixin theme-sepia() {
	--snowy-l: 88%;
	--monochrome-b: 0.04;

	.logo,
	.perch::after {
		filter: hue-rotate(210deg) saturate(200%);
	}
}

[data-theme*="sepia"],
.sepia {
	@include theme-sepia;
}
