////
/// Christmas
/// @group themes
////

$christmas-palette: (
	lynx: #0b2716,
	wolf: #144c2a,
	bowhead: #208246,
	raven: #2dc464,
	highland: #68df8e,
	coyote: #abefbc,
	bear: #e6fbe9,
);

@mixin theme-christmas() {
	@each $name, $color in $christmas-palette {
		--hsl-#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)};
	}

	&:is(html) {
		scrollbar-color: h(maple) h(milou);
	}

	.logo svg {
		fill: h(maple);
	}

	.navigation__list a::after {
		background-color: h(maple);
	}
}

.christmas {
	@include theme-christmas;
}
