////
/// Code Red
/// @group themes
////

$code-red-palette: (
	lynx: #270a0a,
	wolf: #4c1313,
	bowhead: #822020,
	raven: #c62d2d,
	highland: #e06969,
	coyote: #efadad,
	bear: #fbe9e9,
);

@mixin color-scheme-code-red() {
	@each $name, $color in $code-red-palette {
		--hsl-#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)};
	}

	.logo,
	.perch::before {
		filter: hue-rotate(145deg);
	}
}

.code-red {
	@include color-scheme-code-red;
}
