////
/// The Matrix has you...
/// @group themes
////

$matrix-palette: (
	lynx: #151100,
	wolf: #323200,
	bowhead: #525d00,
	raven: #738e22,
	highland: #95bd50,
	coyote: #b6e678,
	bear: #e0fac9,
);

@mixin theme-matrix() {
	@each $name, $color in $matrix-palette {
		--hsl-#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)};
	}

	.logo,
	.perch::before {
		filter: hue-rotate(230deg);
	}
}

.matrix {
	@include theme-dark;
	@include theme-matrix;
}
