////
/// Geocities, baby!
/// @group themes
////

@mixin theme-nineties() {
	--font-family-sans: var(--font-family-silly);
	--font-family-title: var(--font-family-sophisticated);
	--font-family-serif: var(--font-family-silly);

	%heading,
	.navigation__list %anchor {
		font-family: var(--font-family-title) !important;
	}
}

.nineties {
	@include theme-nineties;
}
