////
/// Geocities, baby!
/// @group themes
////

@mixin theme-nineties() {
	--font-family-sans: "Comic Sans MS", monospace;
	--font-family-title: "Papyrus", "Comic Sans MS", monospace;
	--font-family-serif: "Comic Sans MS", monospace;

	.primary-navigation {
		font-family: var(--font-family-title);
	}
}

.nineties {
	@include theme-nineties;
}
