////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////

.palette {
	background-color: h(milou);
	inline-size: 100%;
	display: flex;
	flex-wrap: wrap;

	@include media("screen", "below:small") {
		flex-direction: column;
	}

	li {
		max-inline-size: 100%;
		padding: var(--size-medium) 0;
		font-size: var(--font-size-small);
		text-align: center;
		white-space: nowrap;
		font-variant-numeric: tabular-nums;

		@include media("screen", "below:small") {
			flex: 1 0 100%;
		}

		@include media("screen", "above:small", "below:large") {
			flex: 1 0 50%;
		}

		@include media("screen", "above:large") {
			flex: 1 0 33.333%;
		}

		%heading {
			margin-block-end: 0;
			font-size: var(--font-size-default);
			text-transform: capitalize;
		}
	}
}
.background--lynx {
	background-color: h(lynx);
	color: h(alto);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(lynx)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--wolf {
	background-color: h(wolf);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(wolf)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--bowhead {
	background-color: h(bowhead);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(bowhead)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--raven {
	background-color: h(raven);
	color: h(thunder);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(raven)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--highland {
	background-color: h(highland);
	color: h(thunder);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(highland)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--coyote {
	background-color: h(coyote);
	color: h(mineshaft);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(coyote)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--bear {
	background-color: h(bear);
	color: h(mineshaft);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(bear)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--maple {
	background-color: h(maple);
	color: h(thunder);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(maple)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--conifer {
	background-color: h(conifer);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(conifer)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--aspen {
	background-color: h(aspen);
	color: h(mineshaft);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(aspen)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--thunder {
	background-color: h(thunder);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(thunder)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--mineshaft {
	background-color: h(mineshaft);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(mineshaft)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--kaiser {
	background-color: h(kaiser);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(kaiser)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--dove {
	background-color: h(dove);
	color: h(milou);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(dove)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--alto {
	background-color: h(alto);
	color: h(mineshaft);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(alto)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}
.background--milou {
	background-color: h(milou);
	color: h(mineshaft);
	@supports (color: color-contrast()) {
		color: color-contrast(#{h(milou)} vs var(--contrast-list) to var(--contrast-ratio));
	}
}

.size-example {
	background-color: h(raven);
	// prettier-ignore
	background-image:
		linear-gradient(
			45deg,
			transparent 0%,
			transparent calc(50% - (var(--size-border-default) / 2)),
			#{h(maple)} calc(50% - (var(--size-border-default) / 2)),
			#{h(maple)} calc(50% + (var(--size-border-default) / 2)),
			transparent calc(50% + (var(--size-border-default) / 2)),
			transparent
		),
		linear-gradient(
			-45deg,
			transparent 0%,
			transparent calc(50% - (var(--size-border-default) / 2)),
			#{h(maple)} calc(50% - (var(--size-border-default) / 2)),
			#{h(maple)} calc(50% + (var(--size-border-default) / 2)),
			transparent calc(50% + (var(--size-border-default) / 2)),
			transparent
		);
	background-size: 100%;
	display: block;
}
.size-example--tiny {
	inline-size: var(--size-tiny);
	block-size: var(--size-tiny);
}
.size-example--small {
	inline-size: var(--size-small);
	block-size: var(--size-small);
}
.size-example--medium {
	inline-size: var(--size-medium);
	block-size: var(--size-medium);
}
.size-example--large {
	inline-size: var(--size-large);
	block-size: var(--size-large);
}
.size-example--gigantic {
	inline-size: var(--size-gigantic);
	block-size: var(--size-gigantic);
}
.size-example--tiny-small {
	inline-size: var(--size-tiny-small);
	block-size: var(--size-tiny-small);
}
.size-example--small-medium {
	inline-size: var(--size-small-medium);
	block-size: var(--size-small-medium);
}
.size-example--medium-large {
	inline-size: var(--size-medium-large);
	block-size: var(--size-medium-large);
}
.size-example--large-gigantic {
	inline-size: var(--size-large-gigantic);
	block-size: var(--size-large-gigantic);
}
