////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////

.palette-list {
	background-color: h(milou);
	inline-size: 100%;
	display: flex;
	flex-wrap: wrap;

	@include media("screen", "below:small") {
		flex-direction: column;
	}

	li {
		padding: var(--size-medium) 0;
		vertical-align: middle;
		font-size: var(--font-size-small);
		text-align: center;
		white-space: nowrap;
		font-variant-numeric: tabular-nums;

		@include media("screen", "below:small") {
			flex: 1 0 100%;
		}

		@include media("screen", "above:small", "below:large") {
			flex: 1 0 50%;
		}

		@include media("screen", "above:large") {
			flex: 1 0 33.333%;
		}

		%heading {
			margin-block-end: 0;
			font-size: var(--font-size-default);
			text-transform: capitalize;
		}
	}
}
.background--lynx {
	background-color: h(lynx);
	// color: color-contrast(h(lynx));
	color: h(alto);
}
.background--wolf {
	background-color: h(wolf);
	// color: color-contrast(h(wolf));
	color: h(milou);
}
.background--bowhead {
	background-color: h(bowhead);
	// color: color-contrast(h(bowhead));
	color: h(milou);
}
.background--raven {
	background-color: h(raven);
	// color: color-contrast(h(raven));
	color: h(thunder);
}
.background--highland {
	background-color: h(highland);
	// color: color-contrast(h(highland));
	color: h(thunder);
}
.background--coyote {
	background-color: h(coyote);
	// color: color-contrast(h(coyote));
	color: h(mineshaft);
}
.background--bear {
	background-color: h(bear);
	// color: color-contrast(h(bear));
	color: h(mineshaft);
}
.background--maple {
	background-color: h(maple);
	// color: color-contrast(h(maple));
	color: h(thunder);
}
.background--conifer {
	background-color: h(conifer);
	// color: color-contrast(h(conifer));
	color: h(milou);
}
.background--aspen {
	background-color: h(aspen);
	// color: color-contrast(h(aspen));
	color: h(mineshaft);
}
.background--thunder {
	background-color: h(thunder);
	// color: color-contrast(h(thunder));
	color: h(milou);
}
.background--mineshaft {
	background-color: h(mineshaft);
	// color: color-contrast(h(mineshaft));
	color: h(milou);
}
.background--kaiser {
	background-color: h(kaiser);
	// color: color-contrast(h(kaiser));
	color: h(milou);
}
.background--dove {
	background-color: h(dove);
	// color: color-contrast(h(dove));
	color: h(milou);
}
.background--alto {
	background-color: h(alto);
	// color: color-contrast(h(alto));
	color: h(mineshaft);
}
.background--milou {
	background-color: h(milou);
	// color: color-contrast(h(milou));
	color: h(mineshaft);
}

.size-example {
	background-color: h(alto);
	background-image: linear-gradient(to bottom, h(maple), h(maple));
	background-position: center center;
	background-size: 100% var(--size-border-thin);
	background-repeat: no-repeat;
	block-size: var(--size-medium);
	display: block;
}
.size-example--tiny {
	inline-size: var(--size-tiny);
}
.size-example--small {
	inline-size: var(--size-small);
}
.size-example--medium {
	inline-size: var(--size-medium);
}
.size-example--large {
	inline-size: var(--size-large);
}
.size-example--gigantic {
	inline-size: var(--size-gigantic);
}
.size-example--responsive {
	inline-size: var(--size-line-length);
}
