////
/// Media
/// @group components
////

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
    embed,
    iframe,
    object,
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
