////
/// Variables (Global)
/// @group utils
////


/// @type Length
$wrapper-width-small:  500px !default;
/// @type Length
$wrapper-width-medium: 768px !default;
/// @type Length
$wrapper-width-large: 1140px !default;
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
/// @require {Variable} $wrapper-width-small
/// @require {Variable} $wrapper-width-medium
/// @require {Variable} $wrapper-width-large
$breakpoints: (
    "small":  $wrapper-width-small,
    "medium": $wrapper-width-medium,
    "large":  $wrapper-width-large
) !default;
/// @type Length
$wrapper-padding: 1.25rem !default;
/// @type Length
$aside-width: 15.875rem !default;


/// @type Length
$spacing-small: ($wrapper-padding / 2) !default;
/// @type Length
$spacing-medium: $wrapper-padding !default;
/// @type Length
$spacing-large: 2.25rem !default;


/// @type Length
$border-default: 0.25rem !default;
/// half of $border-default
/// @type Length
$border-thin: ($border-default / 2) !default;


/// @type Length
/// @see {Mixin} border-radius
$border-radius-default: 0.375rem !default;
/// @type Length
/// @see {Mixin} border-radius
$border-radius-thin: 0.25rem !default;


/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
/// @see {Function} opacities
$opacities: (
    '5-percent':  0.05,
    '10-percent': 0.10,
    '25-percent': 0.25,
    '70-percent': 0.70
) !default;


/// @type Color
$color-brand: #5f8aa6 !default;
/// @type Color
$color-brand-10-percent: rgba($color-brand, map-get($opacities, "10-percent")) !default;
/// @type Color
$color-text: #4f4f4f !default;
/// @type Color
$color-text-alt: #737373 !default;
/// @type Color
$color-text-light: #dddddd !default;
/// @type Color
$color-white: #f9f9f9 !default;
/// @type Color
$color-gray: #ededed !default;
/// @type Color
$color-black: #060606 !default;
/// @type Color
$color-black-5-percent: rgba($color-black, map-get($opacities, "5-percent")) !default;
/// @type Color
$color-black-10-percent: rgba($color-black, map-get($opacities, "10-percent")) !default;
/// @type Color
$color-canada: #fd1b00 !default;


/// @type String
$font-weight-default: 400 !default;
/// @type String
$font-weight-bold: 600 !default;


/// @type String
$font-style-default: normal !default;


/// @type Length
$font-size-default: 100% !default;
/// @type Length
$font-size-smaller: .8125rem !default;
/// @type Length
$font-size-small: .875rem !default;
/// @type Length
$font-size-large: 1.25rem !default;
/// @type Length
$font-size-larger: 1.375rem !default;
/// @type Map
/// @prop {String} key - Font Size name
/// @prop {Number} value - Font Size value
/// @require {Variable} $font-size-smaller
/// @require {Variable} $font-size-small
/// @require {Variable} $font-size-large
/// @require {Variable} $font-size-larger
$font-sizes: (
    "smaller": $font-size-smaller,
    "small":   $font-size-small,
    "large":   $font-size-large,
    "larger":  $font-size-larger
) !default;


/// @type List
$font-family-default: "ff-meta-serif-web-pro", Georgia, serif !default;
/// @type List
$font-family-alpha: "league-gothic", Impact, sans-serif !default;
/// @type List
$font-family-beta: "proxima-nova", sans-serif !default;
/// @type List
$font-family-monospace: Monaco, Consolas, Courier, monospace !default;
/// @type Map
/// @prop {String} key - Font Family name
/// @prop {Number} value - Font Family value
/// @require {Variable} $font-family-default
/// @require {Variable} $font-family-alpha
/// @require {Variable} $font-family-beta
/// @require {Variable} $font-family-monospace
/// @see {Mixin} font-family
$font-families: (
    "default":   $font-family-default,
    "alpha":     $font-family-alpha,
    "beta":      $font-family-beta,
    "monospace": $font-family-monospace
) !default;


/// @type Number
$line-height-default: 1.875 !default;


/// @type Length
/// @see {Mixin} transition
$transition-time: 0.2s !default;
/// @type String
/// @see {Mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {Function} z-index
$z-indexes: (
    "below":  -1,
    "default": 1,
    "above":   2
) !default;
