////
/// Variables (Branding)
/// @group utils
////


/// @type Length
$icon-size: 40px !default;


/// @type Color
$color-codepen: #212121 !default;
/// @type Color
$color-github: #333333 !default;
/// @type Color
$color-lastfm: #e31b23 !default;
/// @type Color
$color-rss: #ff9770 !default;
/// @type Color
$color-twitter: darken(#55acee, 10%) !default;


/// @type Map
/// @prop {String} name - Brand name
/// @prop {Color} color - Text color
/// @prop {Color} color - Icon color
/// @prop {Number} opacity - Brand icon opacity
/// @require {Variable} $color-brand
/// @require {Variable} $color-codepen
/// @require {Variable} $color-github
/// @require {Variable} $color-lastfm
/// @require {Variable} $color-twitter
/// @require {Variable} $color-white
$color-brands: codepen $color-codepen $color-white   1.025,
               github  $color-github  $color-white   0.950,
               lastfm  $color-lastfm  $color-lastfm  1.000,
               rss     $color-brand   $color-rss     0.775,
               twitter $color-twitter $color-twitter 0.925,
               article $color-brand   $color-white   0.900,
               feather $color-brand   $color-white   0.725,
               heart   $color-brand   $color-white   1.000,
               link    $color-brand   $color-white   1.000,
               search  $color-brand   $color-white   1.000,
               tag     $color-brand   $color-white   1.000;
