{% if page.layout == 'article' %}
    {% assign author_name_prefix = 'by' %}
    {% assign author_microdata_tags = '' %}
    {% assign author_microdata_photo = '' %}
    {% capture author_microdata_name %}<span class="fn" rel="author" itemprop="author">{{ site.author }}</span>{% endcapture %}
    {% capture author_microdata_nationality %}<span class="canada">Canadian</span>{% endcapture %}
    {% assign author_microdata_job_title = site.author_job_title %}
    {% assign author_microdata_home_location = site.author_location %}
    {% capture author_microdata_works_for %}<a rel="external" href="{{ site.employer_url }}">{{ site.employer }}</a>{% endcapture %}
    {% capture author_information_details %}
        <time class="date" datetime="{{ page.date | date_to_xmlschema }}">on {% if page.shorturl %}<a href="{{ site.shorturl }}{{ page.shorturl }}" title="Permalink: {{ site.shorturl }}{{ page.shorturl }}" rel="me" itemprop="datePublished" aria-hidden="true">{% else %}<strong itemprop="datePublished">{% endif %}{{ page.date | date: '%d %b, %Y' }}{% if page.shorturl %}</a>{% else %}</strong>{% endif %}</time>
        {% if page.tags.size > 0 %}
            <div class="tags">
                <span>tagged under</span>
                <span itemprop="keywords">
                    {% assign tags_sorted = page.tags | sort: 0 %}
                    {% for tag in tags_sorted %}
                        {% if forloop.last and tags_sorted.size > 1 %} and {% endif %}<a href="/tags#{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% if forloop.last == false and tags_sorted.size > 2 %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
        {% endif %}
        {% if page.categories contains 'pen' %}
            <div class="featured-link"><a href="/pens">Featured Pens</a></div>
        {% endif %}
    {% endcapture %}
{% else %}
    {% assign author_name_prefix = 'about' %}
    {% capture author_microdata_tags %} itemscope itemtype="http://data-vocabulary.org/Person"{% endcapture %}
    {% capture author_microdata_photo %} itemprop="photo"{% endcapture %}
    {% capture author_microdata_name %}<span itemprop="name">{{ site.author }}</span>{% endcapture %}
    {% capture author_microdata_nationality %}<span class="canada" itemprop="nationality">Canadian</span>{% endcapture %}
    {% capture author_microdata_job_title %}<span itemprop="jobTitle">{{ site.author_job_title }}</span>{% endcapture %}
    {% capture author_microdata_home_location %}<span itemprop="homeLocation">{{ site.author_location }}</span>{% endcapture %}
    {% capture author_microdata_works_for %}<a rel="external" href="{{ site.employer_url }}"><span itemprop="worksFor">{{ site.employer }}</span></a>{% endcapture %}
    {% capture author_information_details %}
        <div class="author-age">I’m <strong>{{ site.author_age }}</strong> years old</div>
        <div class="author-employer">I’m a <strong>{{ site.author_job_title }}</strong></div>
    {% endcapture %}
{% endif %}


{% if page.page_class contains 'page-about' %}
    {% assign author_biography_closer = 'you don’t care about my life. Sorry.' %}
{% elsif page.page_class contains 'page-articles' %}
    {% assign author_biography_closer = 'my whimsical articles don’t capture your child-like wonder' %}
{% elsif page.page_class contains 'page-pens' %}
    {% assign author_biography_closer = 'my whimsical pens don’t capture your child-like wonder' %}
{% elsif page.page_class contains 'page-tags' %}
    {% assign author_biography_closer = 'my whimsical articles and pens don’t capture your child-like wonder' %}
{% elsif page.page_class contains 'page-search' %}
    {% assign author_biography_closer = 'everything you search for looks totally boring' %}
{% elsif page.page_class contains 'page-not-found' %}
    {% assign author_biography_closer = 'you’re upset that you found a broken page. Sorry' %}
{% elsif page.categories contains 'article' %}
        {% assign author_biography_closer = 'this article is boring and makes you want to claw your eyeballs out' %}
{% elsif page.categories contains 'pen' %}
    {% assign author_biography_closer = 'this pen is uninspiring and makes you want to claw your eyeballs out' %}
{% else %}
    {% assign author_biography_closer = 'this page makes you wish you were doing something else, like folding socks' %}
{% endif %}


<aside class="author  vcard" role="complementary"{{ author_microdata_tags }}>

    <div class="clear  author-information">
        <a rel="me" class="author-image" href="/about" title="About me" tabindex="-1">
            <img alt="Photo of me" class="photo" width="100" height="100" role="presentation"{{ author_microdata_photo }}
                 src="/images/avatar.png"
                 srcset="/images/avatar.png 1x,
                         /images/avatar@2x.png 2x,
                         /images/avatar@4x.png 4x">
        </a>
        <div class="author-name">{{ author_name_prefix }} <a rel="me" class="canada  url" href="/about" tabindex="-1">{{ author_microdata_name }}</a></div>

        {{ author_information_details }}
    </div>

    <div class="author-biography">
        <p>I’m a {{ author_microdata_nationality }} {{ author_microdata_job_title }} living in {{ author_microdata_home_location }} and currently working at {{ author_microdata_works_for }}. Driven by a passion for lean CSS and a semantic web, I love to create rich and engaging user experiences, which I write about here&mdash;<a rel="me author" class="link--rss" href="/feed.xml">subscribe if you like</a>.</p>
        <p>I also <a rel="me publisher external" class="link--twitter" href="{{ site.url_twitter }}">tweet</a>, <a rel="me publisher external" class="link--codepen" href="{{ site.url_codepen }}">write code</a>, <a rel="me publisher external" class="link--github" href="{{ site.url_github }}">commit code</a>, <a rel="me publisher external" class="link--lastfm" href="{{ site.url_lastfm }}">listen to music</a>, and <a rel="me publisher external" href="//recipes.chrisburnell.com">bake bread</a> if {{ author_biography_closer }}.</p>
    </div>

    {% unless page.page_class contains 'page-search' %}
        {% include main-aside/widgets/search.html %}
    {% endunless %}

    {% if page.layout == 'article' %}
        {% include main-aside/widgets/related-articles.html %}
        {% include main-aside/widgets/featured-pens.html %}
        {% include main-aside/widgets/shared-links.html %}
    {% endif %}

</aside>
