---
published: false
layout: archive
title: Drafts
related_collection: drafts
no_feed: true
by_year: false
sitemap:
  exclude: true
excludeFromSearch: true
eleventyComputed:
  description: "All {{ collections.drafts.length | numberStringFormat }} of my unfinished drafts."
---
