{% if cover %}
    <picture class=" [ cover ] ">
        {% if cover.includes('://') %}
            <img alt="" class="u-photo" role="presentation" loading="lazy" src="{{ cover }}">
        {% else %}
            <source srcset="/images/covers/{{ cover | replace('.jpg', '.webp') | replace('.png', '.webp') }}"
                    type="image/webp" />
            <img    alt="" class="u-photo" role="presentation" loading="lazy"
                    src="/images/covers/{{ cover }}">
        {% endif %}
    </picture>
{% endif %}
