////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a {
    @include transition(background-color, color, text-decoration-color);
    @include will-change(background-color, color, text-decoration-color);
    @include v(background-color, transparent);
    @include v(color, bowhead);
    position: relative;
    text-decoration: underline;
    @include v(text-decoration-color, alto);
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;

    &:focus {
        outline: $border-width-thin $border-style-default $color-raven;
        outline: var(--border-width-thin) var(--border-style-default) var(--color-raven);
        outline-offset: $border-width-thin;
        outline-offset: var(--border-width-thin);
    }

    &:hover,
    &:focus,
    &:active {
        // remove when text-decoration-color is supported
        text-decoration: underline;
        @include v(text-decoration-color, canada);
    }

    &:active {
        @include v(background-color, canada);
        @include v(color, white);
    }

    %heading-elements & {
        @include v(color, kaiser);
        // remove when text-decoration-color is supported
        @supports (not (text-decoration-color: transparent)) {
            text-decoration: none;
        }
        @include v(text-decoration-color, transparent);
        // coming soon!
        // @include v(text-decoration-width, thin);
    }

    .dark-background & {
        @include v(color, white);
        @include v(text-decoration-color, dove);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }
    }

    // hide extra content, text targetted only to screen readers
    span:not([class]) {
        @include hidden;
    }
}

// Title Anchors inside Headings
.title-anchor {
    display: inline-block;

    &,
    &:link {
        // remove when text-decoration-color is supported
        @supports (not (text-decoration-color: transparent)) {
            text-decoration: none;
        }
        @include v(text-decoration-color, transparent);
        text-underline-position: under;
    }

    &:hover,
    &:focus,
    &:active {
        @include v(color, kaiser);
    }
}

// Fragment Anchors inside Headings
.fragment-anchor {
    @include case(lowercase);
    @include font-family(monospace);
    @include v(color, dove);
    display: none;
    visibility: hidden;
    @include v(padding-left, small);
    @include v(padding-right, small);
    position: absolute;
    top: $border-width-thin;
    right: -($measure-small);
    @include v(font-size, small);
    @include v(font-weight, bold);
    @include v(line-height, default);
    text-shadow: none;

    %heading-elements:hover &,
    %heading-elements:focus &,
    %heading-elements:active &,
    &:target {
        display: inline-block;
        visibility: visible;
    }
}

// Footnote Anchors
.footnote-anchor {
    @include v(padding-left, small-relative);
    @include v(padding-right, small-relative);
    margin-left: -$measure-small-relative;
    margin-left: calc(var(--measure-small-relative) * -1);
    margin-right: -$measure-small-relative;
    margin-right: calc(var(--measure-small-relative) * -1);
}

// Related Anchors
.related-anchor::after {
    // NO-BREAK SPACE, RIGHTWARDS ARROW
    content: " →";
}

// Anchor Target Animation
%heading-elements,
.footnote,
.footnote-anchor {
    &[id] {
        &:target {
            animation: anchor-target $animation-duration $animation-function;
            animation: anchor-target var(--animation-duration) var(--animation-function);
            @at-root {
                @keyframes anchor-target {
                    0%,
                    50% {
                        @include v(background-color, highlight);
                    }
                    100% {
                        @include v(background-color, transparent);
                    }
                }
            }
        }
    }
}
