////
/// Anchor
/// @group base
////


a {
    @include position(relative);
    @include transition(background, color, border-color);
    @include will-change(background, color, border-color);
    background-color: $transparent;
    color: $color-raven--shade;
    border-bottom-width: $border-width-hairline;
    border-bottom-style: $border-style-default;
    border-bottom-color: $color-alto;
    text-decoration: none;
    // remove gaps in links underline in iOS 8+ and Safari 8+.
    -webkit-text-decoration-skip: objects;

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-raven--shade;
        outline-width: 0;
    }

    h2 &,
    h3 & {
        color: $color-kaiser;
        border-bottom-width: 0;
    }
    h3 &,
    .delta & {
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    .dark-background & {
        color: $color-white;
        border-bottom-color: $color-dove;

        &:hover,
        &:focus,
        &:active {
            border-bottom-color: $color-white;
        }
    }

    // hide extra content, text targetted only to screen readers
    span:not([class]):not([itemprop]) {
        @include visually-hidden;
    }
}

/**
 * Title Anchors inside Headings
 */
.title-anchor {
    @include transition(border-color);
    @include will-change(color, border-bottom-color);
    display: inline-block;
    border-bottom-width: $border-width-thin;

    &,
    &:link {
        border-bottom-color: $transparent;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-kaiser;
        border-bottom-color: $color-raven;
    }
}

/**
 * Fragment Anchors inside Headings
 */
.fragment-anchor {
    @include case(lowercase, $letter-spacing-default);
    @include font-family(monospace);
    color: $color-dove;
    display: none;
    visibility: hidden;
    margin-left: $measure-medium;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
    text-shadow: none;
    vertical-align: middle;

    &:hover,
    &:focus,
    &:active {
        border-bottom-color: $color-dove;
        // when appearing inside a heading, disable underline
        text-decoration: none;
    }

    %heading-elements:hover &,
    %heading-elements:focus &,
    %heading-elements:active &,
    &:target {
        display: inline-block;
        visibility: visible;
    }
}

/**
 * Endnote Anchors
 */
.endnote-anchor {
    padding-left:  $measure-small-relative;
    padding-right: $measure-small-relative;
}

/**
 * Related Anchors
 */
.related-anchor::after {
    // NO-BREAK SPACE, RIGHTWARDS ARROW
    content: " →";
}
