////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////


a {
    @include transition(background-color, color, text-decoration-color);
    @include will-change(background-color, color, text-decoration-color);
    @include v(background-color, transparent);
    @include v(color, bowhead);
    position: relative;
    text-decoration: underline;
    @include v(text-decoration-color, alto);
    text-decoration-skip: ink;

    &:hover,
    &:focus,
    &:active {
        // remove when text-decoration-color is supported
        text-decoration: underline;
        @include v(text-decoration-color, canada);
    }

    &:active {
        @include v(background-color, canada);
        @include v(color, white);
    }

    // Fallback for text-decoration-skip
    // Will not respect colors defined by text-decoration-color
    @supports (not (text-decoration-skip: ink)) {
        background-image: gradient(currentColor 75%, currentColor 75%);
        background-repeat: repeat-x;
        background-size: 1px 1px;
        background-position: 0 90%;
        text-decoration: none;
        text-shadow: -1px -1px 0 $color-white,
                      1px -1px 0 $color-white,
                     -1px  1px 0 $color-white,
                      1px  1px 0 $color-white;
        text-shadow: -1px -1px 0 var(--color-white),
                      1px -1px 0 var(--color-white),
                     -1px  1px 0 var(--color-white),
                      1px  1px 0 var(--color-white);
    }

    %heading-elements & {
        @include v(color, kaiser);
        // remove when text-decoration-color is supported
        @supports (not (text-decoration-color: transparent)) {
            text-decoration: none;
        }
        @include v(text-decoration-color, transparent);
        // coming soon!
        // @include v(text-decoration-width, thin);
    }

    .dark-background & {
        @include v(color, white);
        @include v(text-decoration-color, dove);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }
    }

    // hide extra content, text targetted only to screen readers
    span:not([class]):not([itemprop]) {
        @include visually-hidden;
    }
}

// Title Anchors inside Headings
.title-anchor {
    display: inline-block;

    &,
    &:link {
        // remove when text-decoration-color is supported
        @supports (not (text-decoration-color: transparent)) {
            text-decoration: none;
        }
        @include v(text-decoration-color, transparent);
        text-underline-position: under;
    }

    &:hover,
    &:focus,
    &:active {
        @include v(color, kaiser);
    }
}

// Fragment Anchors inside Headings
.fragment-anchor {
    @include case(lowercase);
    @include font-family(monospace);
    @include v(color, dove);
    display: none;
    visibility: hidden;
    @include v(padding-left, small);
    @include v(padding-right, small);
    position: absolute;
    top: $border-width-thin;
    right: -($measure-small);
    @include v(font-size, small);
    @include v(font-weight, bold);
    @include v(line-height, default);
    text-shadow: none;

    %heading-elements:hover &,
    %heading-elements:focus &,
    %heading-elements:active &,
    &:target {
        display: inline-block;
        visibility: visible;
    }
}

// Endnote Anchors
.endnote-anchor {
    @include v(padding-left, small-relative);
    @include v(padding-right, small-relative);
}

// Related Anchors
.related-anchor::after {
    // NO-BREAK SPACE, RIGHTWARDS ARROW
    content: " →";
}
