////
/// Buttons
/// @group base
////


button,
.button {
    @extend %button-elements !optional;
    @include non-selectable;
    @include border-radius(thin);
    @include case(uppercase);
    @include font-family(alpha);
    @include position(relative);
    @include transition(background-color);
    @include will-change(background-color, height, padding-bottom, margin-bottom, box-shadow, transform);
    background-color: $color-brand;
    min-width: 8em;
    height: 2.182em;
    display: inline-block;
    padding: 0 0.727em 0.182em;
    margin-top: 0.25rem;
    overflow: visible;
    font-size: $font-size-beta;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-shadow: inset 0 -0.182em 0 0 $color-brand--hard;
    appearance: none;

    &,
    &:link,
    &:visited {
        color: $color-white;
        border-width: 0;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-brand--soft;
    }

    &:hover,
    &:focus {
        outline-style: auto;
    }

    &:active {
        height: 2em;
        padding-bottom: 0;
        margin-bottom: 0.182em;
        outline-style: none;
        box-shadow: inset 0 (-$border-width-hairline) 0 0 $color-brand--hard;
        transform: translateY(0.182em);
    }

    &::before,
    &::after {
        @include position(top);
        @include will-change(top);
        content: "";
        height: 0.182em;
    }
    &:active {
        &::before,
        &::after {
            top: -0.182em;
        }
    }

    &[rel="external"] {
        &::after {
            @include font-family(monospace);
            @include position(reset);
            @include will-change(initial);
            // NO-BREAK SPACE, RIGHTWARDS ARROW
            content: " →";
            width:  auto; // unset `width` from above
            height: auto; // unset `height` from above
        }
    }

    &[disabled] {
        opacity: opacity("shade--soft");
        pointer-events: none;
    }
}

/**
 * Apply moz fixes to `button` element only
 */
button {
    -webkit-font-smoothing: inherit;

    &::-moz-focus-inner {
        padding: 0;
        margin: 0;
    }

    &::-moz-focusring {
        outline: 1px dotted ButtonText;
    }
}

.button--small {
    min-width: 5em;
    font-size: $font-size-large;
    height: 2em;
    margin-top: 0;
    line-height: 1.818;

    &:active {
        height: 1.818em;
    }
}
