////
/// Button
/// @group base
/// @link https://chrisburnell.com/styleguide/#buttons
////


button,
.button {
    @extend %button-elements !optional;
    @include border-radius(thin);
    @include non-selectable;
    @include transition(background-color);
    @include will-change(background-color, height, padding-bottom, margin-bottom, box-shadow, transform);
    @include v(background-color, bowhead);
    @include v(color, white);
    min-width: 8em;
    height: #{$line-height-code + strip-unit($border-width-button)}em;
    display: inline-block;
    padding: 0 #{$border-width-button * 4} $border-width-button;
    border-width: 0;
    margin-top: $border-width-default;
    margin-top: var(--border-width-default);
    box-shadow: inset 0 (-$border-width-button) 0 0 $color-black--gamma;
    box-shadow: inset 0 (-$border-width-button) 0 0 var(--color-black--gamma);
    overflow: visible;
    position: relative;
    @include v(font-size, beta);
    @include v(font-weight, bold);
    @include v(line-height, code);
    text-align: center;
    text-decoration: none;
    text-shadow: 0 $border-width-hairline $border-width-hairline $color-black--gamma;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;

    &:focus {
        outline: $border-width-thin $border-style-default $color-raven;
        outline: var(--border-width-thin) var(--border-style-default) var(--color-raven);
        outline-offset: $border-width-thin;
        outline-offset: var(--border-width-thin);
    }

    &:hover,
    &:focus,
    &:active {
        @include v(background-color, raven);
        text-decoration: none;
    }

    &:active {
        height: #{$line-height-code}em;
        padding-bottom: 0;
        margin-bottom: $border-width-button;
        margin-bottom: var(--border-width-button);
        box-shadow: inset 0 -($border-width-hairline) 0 0 $color-bowhead;
        box-shadow: inset 0 -(var(--border-width-hairline)) 0 0 var(--color-bowhead);
        transform: translateY($border-width-button);
        transform: translateY(var(--border-width-button));
    }

    &::before,
    &::after {
        @include absolute(top-full);
        content: "";
        height: $border-width-button;
        height: var(--border-width-button);
    }
    &:active {
        &::before,
        &::after {
            top: -($border-width-button);
            top: -(var(--border-width-button));
        }
    }

    &[disabled] {
        @include v(opacity, beta);
        pointer-events: none;
    }

    .icon {
        filter: drop-shadow(0 0 $border-width-hairline $color-black--gamma);
    }
}

// Apply moz fixes to `button` element only
button {
    -webkit-font-smoothing: inherit;

    &::-moz-focus-inner {
        padding: 0;
        margin: 0;
    }

    &::-moz-focusring {
        outline: $border-width-hairline $border-style-alternate ButtonText;
        outline: var(--border-width-hairline) var(--border-style-alternate) ButtonText;
    }
}

.button--small {
    min-width: 5em;
    @include v(font-size, large);
    height: #{$line-height-code}em;
    line-height: #{$line-height-code - strip-unit($border-width-button)};

    &:active {
        height: #{$line-height-code - strip-unit($border-width-button)}em;
    }
}
