////
/// Content
/// @group base
////


html {
    @include font-family(default);
    background-color: $color-kaiser;
    font-size: $font-size-default;
    font-style: normal;
    font-weight: $font-weight-default;
    line-height: $line-height-default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "lnum" 1;
}

/**
 * Content Elements
 */
blockquote,
details,
table,
dl,
ol,
ul,
figure:not([class]),
p {
    @extend %content-elements !optional;
}

/**
 * Heading Elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading-elements !optional;
    @include position(relative);
    padding: 0;
    margin: 0;
    font-weight: $font-weight-default;

    // For special Monospace titles
    %monospace-elements {
        @include case(none);
    }
}

/**
 * Heading - Alpha
 */
.alpha,
%alpha {
    @include case(uppercase, $letter-spacing-uppercase);
    @include font-family(alpha);
    font-size: $font-size-alpha;
    line-height: 1;
    // 4px 4px
    text-shadow: 0.250rem 0.250rem 0 $color-black--delta;

    @include media("<=small") {
        font-size: #{$font-size-alpha / 1.285}; // 56px
    }
}
h1 {
    @extend %alpha !optional;
}

/**
 * Heading - Beta
 */
.beta,
%beta {
    font-size: $font-size-beta;
    line-height: $line-height-small;
}
h2 {
    @extend %beta !optional;
}

/**
 * Heading - Gamma
 */
.gamma,
%gamma {
    font-size: $font-size-gamma;
    line-height: 1.875;
}
h3 {
    @extend %gamma !optional;
    @include case(uppercase);
    margin-top: $measure-large;
    border-bottom: $border-width-thin $border-style-default $color-alto;
    font-weight: $font-weight-bold;

    &:not(:last-child) {
        margin-bottom: $measure-medium;
    }

    // Match normal `h3`s without targetting `aside`-nested `h3`s
    .content > &,
    .widget & {
        @include clear;
        width: auto;
        max-width: 100%;
        display: inline-block;
        padding-right: $measure-large;

        @include media("<=medium") {
            align-self: flex-start;
        }
    }

    // Collapse margin-top when following a Featured Lede
    // This happens on the Homepage
    .lede + & {
        margin-top: 0;
    }
}

/**
 * Heading - Delta
 */
.delta,
%delta {
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    line-height: $line-height-small;
}
h4 {
    @extend %delta !optional;
    margin-bottom: $measure-small;
}

/**
 * Heading - Epsilon
 */
.epsilon,
%epsilon {
    font-size: $font-size-default;
    line-height: $line-height-small;
}
h5 {
    @extend %epsilon !optional;
}

/**
 * Heading - Zeta
 */
.zeta,
%zeta {
    font-size: $font-size-default;
    line-height: $line-height-small;
}
h6 {
    @extend %zeta !optional;
}

p {
    margin: 0 0 $measure-medium;

    &:last-child,
    &.ciu_embed {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
        visibility: hidden;
    }

    // Columnal Paragraphs
    &.columns {
        @include media(">small", "<=medium") {
            column-count: 2;
            column-gap: $measure-medium;
        }

        @include media(">large") {
            column-count: 2;
            column-gap: $measure-medium;
        }
    }
}

/**
 * Lists
 */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
dl:not([class]),
.default-list {
    margin-bottom: $measure-medium;

    // List nested in a list, or list followed by a list
    & &,
    & + & {
        margin-top: $measure-medium;
    }
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        @include position(relative);
        padding-left: $measure-large;

        &:not(:last-child) {
            margin-bottom: $measure-small;
        }

        &::before {
            @include position(top-left);
            font-weight: $font-weight-bold;
        }
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;

    & > li {
        counter-increment: ordered-list;

        &::before {
            content: counter(ordered-list, decimal-leading-zero) ".";
            font-variant-numeric: tabular-nums;
            font-feature-settings: "tnum";
        }
    }

    &[reversed] {
        display: flex;
        flex-direction: column-reverse;
    }
}
ul:not([class]) li::before,
ul.default-list li::before {
    // BULLET
    content: "•";
    // 24px
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    overflow: hidden;
}
dt {
    width: auto;
    min-width: 10rem;
    clear: left;
    padding-right: $measure-medium;
    font-weight: $font-weight-bold;

    @include media(">small") {
        float: left;
    }
}
dd {
    width: $wrapper-width-large;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top;

    &:not(:last-child) {
        padding-bottom: $measure-medium;
    }

    @include media("<=small") {
        width: auto;
        display: block;
        padding-left: $measure-medium;
    }
}

/**
 * Images and Figures
 */
img,
svg,
picture {
    @extend %image-elements !optional;
}
%image-elements {
    display: block;
    position: relative;

    &,
    a & {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}
img {
    border-style: none;

    &::before {
        @include position(top-left);
        content: "";
        background-color: $color-alto;
        width:  100%;
        height: 100%;
        text-align: center;
    }

    &::after {
        @include position(center);
        // Only visible when the Image fails to load
        content: "Broken Image: " attr(src);
        color: $color-lastfm;
        font-style: italic;
    }
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 $measure-medium;

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    & > a,
    & %image-elements {
        @include border-radius;
    }

    & > a {
        display: block;
        border-bottom-width: 0;
    }

    & > a
    figcaption {
        color: $color-dove;
        font-style: italic;
    }

    figcaption {
        @include font-family(serif);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $measure-medium;
        line-height: $line-height-small;
    }
}

/**
 * Tables
 */
table {
    min-width: 100%;
    flex: 1 0 auto;
    align-self: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    border-collapse: collapse;

    &.zebra {
        tbody tr:nth-child(even) td {
            background-color: $color-black--delta;
            border-left-color: $color-alto;
        }
    }
}
th,
td {
    @include transition(background-color, border-left-color);
    @include will-change(background-color, border-left-color);
    padding: $measure-small;
    text-align: left;
    user-select: text;
}
// Row Highlighting
/*table*/.highlight,
/*table*/.highlight--row {
    tbody tr:hover {
        td {
            border-left-color: $color-alto;
        }

        td,
        & + tr td {
            border-top-color: $color-alto;
        }

        th,
        td:not(:hover) {
            background-color: $color-raven--gamma !important;
        }
    }
}
// Column Highlighting
/*table*/.highlight thead th:not(:empty),
/*table*/.highlight td,
/*table*/.highlight tfoot th:not(:empty),
/*table*/.highlight--columns thead th:not(:empty),
/*table*/.highlight--columns td,
/*table*/.highlight--columns tfoot th:not(:empty) {
    @include position(relative);

    &::after {
        @include position(left);
        @include transition(opacity);
        content: "";
        opacity: 0;
        background-color: $color-raven--gamma;
        width: 100%;
        height: 200vw;
        pointer-events: none;
        z-index: z-index(above);
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
// Head and Foot Cells
th {
    &:not(:empty) {
        background-color: $color-gallery;
    }

    thead &,
    tfoot & {
        font-weight: $font-weight-bold;
        white-space: nowrap;
    }

    tfoot & {
        border-top: $border-width-thin $border-style-default $color-alto;
    }
    /*tfoot*/.totals & {
        @include media(">medium") {
            text-align: right;
        }

        &::before {
            content: "Total:";
            padding-right: 0.5em;
            font-style: italic;

            @include media(">small") {
                float: left;
            }
        }
    }

    tbody & {
        font-style: italic;
        font-weight: $font-weight-default;
    }

    & + th {
        border-left: $border-width-thin $border-style-default $color-alto;
    }
}
// Body Cells
tbody th,
td {
    border-top: $border-width-thin $border-style-default $color-gallery;

    & + td {
        border-left: $border-width-thin $border-style-default $color-gallery;
    }
}
tbody th,
tbody tr:first-child td {
    border-top-color: $color-alto;
}
tbody th {
    width: 1px;
    padding-right: $measure-medium;
    text-align: right;
    white-space: nowrap;

    & + td {
        border-left-color: $color-alto;
    }
}

/**
 * Details and Summary
 */
details {
    @include border-radius(thin);
    background-color: $color-mineshaft;
    color: $color-white;
    width: 100%;
    max-width: $line-length-responsive;
    padding: $measure-small;
    margin-left:  auto;
    margin-right: auto;

    %content-elements {
        padding: 0 $measure-small $measure-small;
    }
}
summary {
    @include non-selectable;
    @include transition(transform);
    display: list-item;
    font-weight: $font-weight-bold;
    outline: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        -webkit-text-decoration-skip: objects;
    }

    details:not([open]) &:hover,
    details:not([open]) &:focus {
        transform: translateX($measure-small);
    }

    & + %content-elements {
        margin-top: $measure-small;
        border-top: $border-width-thin $border-style-default $color-raven;
        padding-top: $measure-medium;
    }
}

/**
 * Images and Figures
 */
img,
svg,
picture {
    @extend %image-elements !optional;
}
%image-elements {
    position: relative;

    &,
    a & {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}
picture {
    &,
    & img,
    & svg {
        display: block;
    }
}
img {
    border-style: none;

    &::before {
        @include position(top-left);
        content: "";
        background-color: $color-alto;
        width:  100%;
        height: 100%;
        text-align: center;
    }

    &::after {
        @include position(center);
        // Only visible when the Image fails to load
        content: "Broken Image: " attr(src);
        color: $color-lastfm;
        font-style: italic;
    }
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 $measure-medium;

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    & %image-elements,
    & > a,
    & > a %image-elements {
        @include border-radius;
        display: block;
    }

    & > a,
    figcaption {
        color: $color-dove;
    }

    & > a {
        border-bottom-width: 0;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $measure-medium;
        font-family: $font-family-serif;
        font-style: italic;
        line-height: $line-height-small;
    }
}

/**
 * Quotes
 */
blockquote {
    @include border-radius;
    @include font-family(serif);
    @include quotes;
    background-color: $color-raven--gamma;
    width: 100%;
    max-width: $line-length-responsive;
    padding: $measure-medium;
    margin: 0 auto $measure-medium;

    p {
        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }

        &:not(:last-of-type) {
            &::after {
                @include visually-hidden;
            }
        }
    }

    cite {
        display: block;
        margin-left: $measure-large;
        margin-top: $measure-medium;

        &::before {
            // HYPHEN, NO-BREAK SPACE
            content: "‐ ";
        }
    }
}
/*blockquote*/.twitter-tweet {
    margin: 0 auto $measure-medium !important;
    contain: strict;
}
q {
    @include quotes;
}

time {
    display: inline-block;
}

audio {
    width: 100%;
    max-width: $wrapper-width-small;
    display: block;

    &:not([controls]) {
        display: none;
        height: 0;
    }
}

hr {
    background: $color-black--gamma;
    width: 100%;
    height: $border-width-thin;
    display: block;
    border: 0;
    margin: $measure-large 0;
    // show the overflow in Edge and IE
    overflow: visible;

    %content-elements + & {
        @include media("<=medium") {
            margin-top: $measure-medium;
        }
    }
}

/**
 * Inline Content Elements
 */
abbr[title],
blockquote,
cite,
dfn[title] {
    color: $color-dove;
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom: $border-width-hairline dotted $color-dove;
    cursor: help;
}
abbr[title],
dfn[title],
ins {
    text-decoration: none;
}

small {
    font-size: $font-size-small;
}

strong {
    font-weight: $font-weight-bold;
}

sub,
sup {
    font-size: $font-size-small;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

[hidden] {
    display: none;
}

/**
 * Mouse Selection
 */
::selection {
    background-color: $color-raven;
    color: $color-white;
}
.canada {
    &::selection {
        background-color: $color-canada;
    }
}
