////
/// Content
/// @group base
////


html {
    @include font-family(default);
    @include v(background-color, kaiser);
    @include v(font-size, default);
    font-style: normal;
    @include v(font-weight, default);
    @include v(line-height, default);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "lnum" 1;
}

/**
 * Content Elements
 */
blockquote,
details,
table,
dl,
ol,
ul,
figure:not([class]),
p {
    @extend %content-elements !optional;
}

/**
 * Heading Elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %heading-elements !optional;
    padding: 0;
    margin: 0;
    position: relative;
    @include v(font-weight, default);

    // For special Monospace titles
    %monospace-elements {
        @include case(none);
    }
}

/**
 * Heading - Alpha
 */
.alpha,
%alpha {
    @include case(uppercase);
    @include font-family(alpha);
    @include v(font-size, alpha);
    line-height: 1;
    text-shadow: $border-width-default $border-width-default 0 $color-black--delta;
    text-shadow: var(--border-width-default) var(--border-width-default) 0 var(--color-black--delta);

    @include media("screen", "<=small") {
        font-size: #{$font-size-alpha / 1.285}; // 56px
    }
}
h1 {
    @extend %alpha !optional;
}

/**
 * Heading - Beta
 */
.beta,
%beta {
    @include v(font-size, beta);
    @include v(line-height, small);
}
h2 {
    @extend %beta !optional;
}

/**
 * Heading - Gamma
 */
.gamma,
%gamma {
    @include v(font-size, gamma);
    @include v(line-height, default);
}
h3 {
    @extend %gamma !optional;
    @include case(uppercase);
    @include v(margin-top, large);
    @include v(border-bottom-width, thin);
    @include v(border-bottom-style, default);
    @include v(border-bottom-color, alto);
    @include v(font-weight, bold);

    &:not(:last-child) {
        @include v(margin-bottom, medium);
    }

    // Match normal `h3`s without targetting `aside`-nested `h3`s
    .content > &,
    .widget & {
        @include clear;
        width: auto;
        max-width: 100%;
        display: inline-block;
        @include v(padding-right, large);

        @include media("screen", "<=medium") {
            align-self: flex-start;
        }
    }

    // Collapse margin-top when following a Featured Lede
    // This happens on the Homepage
    .lede + & {
        margin-top: 0;
    }
}

/**
 * Heading - Delta
 */
.delta,
%delta {
    @include v(font-size, default);
    @include v(font-weight, bold);
    @include v(line-height, small);
}
h4 {
    @extend %delta !optional;
    @include v(margin-bottom, small);
}

/**
 * Heading - Epsilon
 */
.epsilon,
%epsilon {
    @include v(font-size, default);
    @include v(line-height, small);
}
h5 {
    @extend %epsilon !optional;
}

/**
 * Heading - Zeta
 */
.zeta,
%zeta {
    @include v(font-size, default);
    @include v(line-height, small);
}
h6 {
    @extend %zeta !optional;
}

p {
    margin-top: 0;
    @include v(margin-bottom, medium);

    &:last-child,
    &.ciu_embed {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
        visibility: hidden;
    }

    // Columnal Paragraphs
    &.columns {
        @include media("screen", ">small", "<=medium") {
            column-count: $max-columns;
            column-gap: $measure-medium;
        }

        @include media("screen", ">large") {
            column-count: $max-columns;
            column-gap: $measure-medium;
        }
    }
}

/**
 * Lists
 */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
dl:not([class]),
.default-list {
    @include v(margin-bottom, medium);

    // List nested in a list, or list followed by a list
    & &,
    & + & {
        @include v(margin-top, medium);
    }
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        @include v(padding-left, large);
        position: relative;

        &:not(:last-child) {
            @include v(margin-bottom, small);
        }

        &::before {
            @include absolute(top-left);
            @include v(font-weight, bold);
        }
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;

    & > li {
        counter-increment: ordered-list;

        &::before {
            content: counter(ordered-list, decimal) ".";
            font-variant-numeric: tabular-nums;
            font-feature-settings: "tnum";
        }
    }

    &[reversed] {
        display: flex;
        flex-direction: column-reverse;
    }
}
ul:not([class]) li::before,
ul.default-list li::before {
    // BULLET
    content: "•";
    // 24px
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    overflow: hidden;
}
dt {
    width: auto;
    min-width: 10rem;
    clear: left;
    @include v(padding-right, medium);
    @include v(font-weight, bold);

    @include media("screen", ">small") {
        float: left;
    }
}
dd {
    width: $wrapper-width-large;
    width: var(--wrapper-width-large);
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top;

    &:not(:last-child) {
        @include v(padding-bottom, medium);
    }

    @include media("screen", "<=small") {
        width: auto;
        display: block;
        @include v(padding-left, medium);
    }
}

/**
 * Images and Figures
 */
img,
svg,
picture {
    @extend %image-elements !optional;
}
%image-elements {
    margin: 0 auto;
    position: relative;

    &,
    a & {
        width: auto;
        max-width: 100%;
        height: auto;
    }
}
picture {
    &,
    img,
    svg {
        display: block;
    }
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 $measure-medium;
    margin: 0 0 var(--measure-medium);

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    & %image-elements,
    & > a,
    & > a %image-elements {
        @include border-radius;
    }

    & > a {
        display: block;
        text-decoration: none;
    }

    & > a
    figcaption {
        @include v(color, dove);
        font-style: italic;
    }

    figcaption {
        @include font-family(serif);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include v(padding-top, medium);
        @include v(line-height, small);
    }
}

/**
 * Tables
 */
table {
    min-width: 100%;
    flex: 1 0 auto;
    align-self: flex-start;
    @include v(border-width, thin);
    @include v(border-style, default);
    @include v(border-color, alto);
    border-collapse: collapse;
    overflow-x: auto;
    overflow-y: hidden;

    &.zebra {
        tbody tr:nth-child(even) td {
            @include v(background-color, black--delta);
            @include v(border-left-color, alto);
        }
    }
}
th,
td {
    @include transition(background-color, border-left-color);
    @include will-change(background-color, border-left-color);
    @include v(padding, small);
    text-align: left;
    user-select: text;
}
// Row Highlighting
/*table*/.highlight,
/*table*/.highlight--row {
    tbody tr:hover {
        td {
            @include v(border-left-color, alto);
        }

        td,
        & + tr td {
            @include v(border-top-color, alto);
        }

        th,
        td:not(:hover) {
            @include v(background-color, raven--gamma, true);
        }
    }
}
// Column Highlighting
/*table*/.highlight thead th:not(:empty),
/*table*/.highlight td,
/*table*/.highlight tfoot th:not(:empty),
/*table*/.highlight--columns thead th:not(:empty),
/*table*/.highlight--columns td,
/*table*/.highlight--columns tfoot th:not(:empty) {
    position: relative;

    &::after {
        @include absolute(left);
        @include transition(opacity);
        content: "";
        opacity: 0;
        @include v(background-color, raven--gamma);
        width: 100%;
        height: 200vw;
        pointer-events: none;
        @include v(z-index, above);
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
// Head and Foot Cells
th {
    &:not(:empty) {
        @include v(background-color, black--delta);
    }

    thead &,
    tfoot & {
        @include v(font-weight, bold);
        white-space: nowrap;
    }

    tfoot & {
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, alto);
    }
    /*tfoot*/.totals & {
        @include media("screen", ">medium") {
            text-align: right;
        }

        &::before {
            content: "Total:";
            padding-right: 0.5em;
            font-style: italic;

            @include media("screen", ">small") {
                float: left;
            }
        }
    }

    tbody & {
        font-style: italic;
        @include v(font-weight, default);
    }

    & + th {
        @include v(border-left-width, thin);
        @include v(border-left-style, default);
        @include v(border-left-color, alto);
    }
}
// Body Cells
tbody th,
td {
    @include v(border-top-width, thin);
    @include v(border-top-style, default);
    @include v(border-top-color, alto);

    & + td {
        @include v(border-left-width, thin);
        @include v(border-left-style, default);
        @include v(border-left-color, alto);
    }
}
tbody th,
tbody tr:first-child td {
    @include v(border-top-color, alto);
}
tbody th {
    width: 1px;
    @include v(padding-right, medium);
    text-align: right;
    white-space: nowrap;

    & + td {
        @include v(border-left-color, alto);
    }
}
// Empty Corners
thead th:first-of-type,
tbody:first-child tr:first-of-type td:first-of-type,
thead th:last-of-type,
tbody:first-child tr:first-of-type td:last-of-type,
tfoot th:first-of-type,
tbody:last-child tr:last-of-type td:first-of-type,
tfoot th:last-of-type,
tbody:last-child tr:last-of-type td:last-of-type {
    &:empty {
        position: relative;
    }

    &:empty::before {
        content: "";
        @include v(background-color, white);
        position: absolute;
    }
}
thead th:first-of-type,
tbody:first-child tr:first-of-type td:first-of-type {
    &:empty::before {
        top: -($border-width-default);
        right: 0;
        bottom: 0;
        left: -($border-width-default);
    }
}
thead th:last-of-type,
tbody:first-child tr:first-of-type td:last-of-type {
    &:empty::before {
        top: -($border-width-default);
        right: -($border-width-default);
        bottom: 0;
        left: 0;
    }
}
tfoot th:first-of-type,
tbody:last-child tr:last-of-type td:first-of-type {
    &:empty::before {
        top: 0;
        right: 0;
        bottom: -($border-width-default);
        left: -($border-width-default);
    }
}
tfoot th:last-of-type,
tbody:last-child tr:last-of-type td:last-of-type {
    &:empty::before {
        top: 0;
        right: -($border-width-default);
        bottom: -($border-width-default);
        left: 0;
    }
}

/**
 * Details and Summary
 */
details {
    @include border-radius(thin);
    @include v(background-color, mineshaft);
    @include v(color, white);
    width: 100%;
    max-width: $line-length-responsive;
    @include v(padding, small);
    margin-left:  auto;
    margin-right: auto;

    %content-elements {
        padding: 0 $measure-small $measure-small;
    }
}
summary {
    @include non-selectable;
    @include transition(transform);
    display: list-item;
    outline: 0;
    @include v(font-weight, bold);
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        -webkit-text-decoration-skip: objects;
    }

    details:not([open]) &:hover,
    details:not([open]) &:focus {
        transform: translateX($measure-small);
    }

    & + %content-elements {
        @include v(margin-top, small);
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, raven);
        @include v(padding-top, medium);
    }
}

/**
 * Quotes
 */
blockquote {
    @include border-radius;
    @include font-family(serif);
    @include quotes;
    @include v(background-color, raven--gamma);
    width: 100%;
    max-width: $line-length-responsive;
    @include v(padding, medium);
    margin: 0 auto $measure-medium;

    p {
        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }

        &:not(:last-of-type) {
            &::after {
                @include visually-hidden;
            }
        }
    }

    cite {
        display: block;
        @include v(margin-top, medium);

        @include media("screen", ">small") {
            @include v(margin-left, large);
        }

        &::before {
            // HYPHEN, NO-BREAK SPACE
            content: "‐ ";
        }
    }
}
/*blockquote*/.twitter-tweet {
    margin: 0 auto $measure-medium !important;
    contain: strict;
}
q {
    @include quotes;
}

time {
    display: inline-block;
}

audio {
    width: 100%;
    max-width: $wrapper-width-small;
    display: block;

    &:not([controls]) {
        display: none;
        height: 0;
    }
}

hr {
    @include v(background-color, black--gamma);
    width: 100%;
    height: $border-width-thin;
    display: block;
    border: 0;
    margin: $measure-large 0;
    // show the overflow in Edge and IE
    overflow: visible;

    %content-elements + & {
        @include media("screen", "<=medium") {
            @include v(margin-top, medium);
        }
    }
}

/**
 * Inline Content Elements
 */
abbr[title],
blockquote,
cite,
dfn[title] {
    @include v(color, dove);
    font-style: italic;
}
abbr[title],
dfn[title] {
    @include v(border-bottom-width, hairline);
    @include v(border-bottom-style, alternate);
    @include v(border-bottom-color, dove);
    cursor: help;
}
abbr[title],
dfn[title],
ins {
    text-decoration: none;
}

small {
    @include v(font-size, small);
}

strong {
    @include v(font-weight, bold);
}

sub,
sup {
    @include v(font-size, small);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}

[hidden] {
    display: none;
}

/**
 * Touch Action
 */
a,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

/**
 * Mouse Selection
 */
::selection {
    @include v(background-color, raven);
    @include v(color, white);
}
.canada {
    &::selection {
        @include v(background-color, canada);
    }
}
