////
/// Details and Summary
/// @group base
////

details {
    @include border-radius(thin);
    @include v(background-color, mineshaft);
    @include v(color, white);
    width: 100%;
    max-width: $line-length-responsive;
    @include v(padding, small);
    margin-left: auto;
    margin-right: auto;

    %content-elements {
        padding: 0 $measure-small $measure-small;
    }
}

summary {
    @include non-selectable;
    @include transition(transform);
    display: list-item;
    outline-width: 0;
    @include v(font-weight, bold);
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        text-decoration-skip: ink;
        text-decoration-skip-ink: auto;
    }

    details:not([open]) {
        &:hover,
        &:focus {
            transform: translateX($measure-small);
        }
    }

    & + %content-elements {
        @include v(margin-top, small);
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, raven);
        @include v(padding-top, medium);
    }
}
