////
/// Details and Summary
/// @group base
////

details {
    @include border-radius(thin);
    width: 100%;
    max-width: $line-length-responsive;

    %content-elements {
        padding: 0 $measure-small $measure-small;
    }
}

summary {
    @include non-selectable;
    @include transition(padding);
    display: list-item;
    outline-width: 0;
    @include v(font-weight, bold);
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }

    &::after {
        content: " ▼";
        @include v(color, dove);
    }

    &:hover,
    &:focus {
        @include v(padding-left, small);

        &::after {
            content: " Close";
            @include v(font-size, small);
        }
    }

    details:not([open]) & {
        &::after {
            content: " ▶";
        }

        &:hover,
        &:focus {
            &::after {
                content: " Open";
            }
        }
    }

    & + %content-elements {
        @include v(margin-top, small);
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, raven);
        @include v(padding-top, medium);
    }
}
