////
/// Figure
/// @group base
////

figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 $measure-medium;
    margin: 0 0 var(--measure-medium);

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    %image-elements,
    %media-elements {
        max-height: 100vh;
    }

    %image-elements,
    & > a,
    & > a %image-elements {
        @include border-radius;
    }

    & > a {
        display: block;
        text-decoration: none;
    }

    & > a figcaption {
        @include v(color, dove);
        font-style: italic;
    }

    figcaption {
        @include font-family(serif);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include v(padding-top, medium);
        @include v(line-height, small);
    }
}
