////
/// Form
/// @group base
/// @link https://chrisburnell.com/styleguide/#forms
////

form {
    width: 100%;
    display: grid;
    @include v(grid-gap, small);
    // 1─────2─────────────3
    // │ 1fr │ min-content │
    // 2─────┴─────────────┘
    grid-template-columns: 1fr min-content;
    position: relative;

    &:not([class]) {
        @include media("screen", "below:small") {
            grid-template-columns: 1fr;
        }

        %form-elements {
            @include v(margin-bottom, medium);
        }
    }
}

input[type="checkbox"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="week"],
input[type="url"],
optgroup,
select,
textarea {
    @extend %form-elements !optional;
    margin: 0;
    @include v(font-size, small);
    line-height: $line-height-default;
}

input,
textarea {
    @include border-radius(thin);
    @include transition(border-color);
    @include will-change(border-color);
    @include v(background-color, white);
    box-sizing: inherit !important;
    padding: 0 0.4em;
    border-width: $border-width-thin;
    border-style: $border-style-default;
    @include v(border-color, alto);
    outline-width: 0;

    &:hover {
        @include v(border-color, coyote);
    }

    &:focus {
        @include v(border-color, raven);
    }

    &[disabled] {
        @include v(opacity, beta);
        pointer-events: none;
    }

    &::-moz-focus-inner {
        padding: 0;
        margin: 0;
    }
}

input {
    overflow: visible;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    &[type="search"],
    &[type="url"] {
        // correct odd appearance in Chrome and Safari
        -webkit-appearance: textfield;
        // correct the outline style in Safari
        outline-offset: -2px;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }

    &::-webkit-file-upload-button {
        // correct inability to style clickable types in iOS and Safari
        -webkit-appearance: button;
    }
}

textarea {
    overflow: auto;
}

input[type="checkbox"] {
    .code-toggle & {
        @include hidden;
    }

    & + label {
        @include border-radius;
        @include non-selectable;
        @include transition;
        @include v(background-color, kaiser);
        @include v(color, white);
        display: inline-block;
        padding: 0 $measure-medium;
        padding: 0 var(--measure-medium);
        position: relative;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        line-height: ($line-height-code * 1.25);
        line-height: calc(var(--line-height-code) * 1.25);

        &::after {
            content: "✔";
            @include v(background-color, black--gamma);
            width: $measure-large;
            width: var(--measure-large);
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            @include v(font-size, beta);
            line-height: 1;
            border-radius: $border-radius-default 0 0 $border-radius-default;
            border-radius: var(--border-radius-default) 0 0 var(--border-radius-default);
        }
    }

    &:checked + label {
        background-color: $color-liquid;
        background-color: var(--color-liquid);
        padding-left: ($measure-large + $measure-small);
        padding-left: calc(var(--measure-large) + var(--measure-small));
        padding-right: ($measure-medium - $measure-small);
        padding-right: calc(var(--measure-medium) - var(--measure-small));

        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
