////
/// List
/// @group base
////

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
dl:not([class]),
.default-list {
    @include v(margin-bottom, medium);

    // List nested in a list, or list followed by a list
    & &,
    & + & {
        @include v(margin-top, medium);
    }
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        @include v(padding-left, large);
        position: relative;

        &:not(:last-child) {
            @include v(margin-bottom, small);
        }

        &::before {
            @include absolute(top-left);
            @include v(font-weight, bold);
        }
    }
}
ol:not([class]),
ol.default-list {
    &:not([class*="continued-list"]) {
        counter-reset: ordered-list;
    }

    & > li {
        counter-increment: ordered-list;

        &::before {
            @include tabular-lining-numerals;
            content: counter(ordered-list, decimal-leading-zero) ".";
        }

        @for $i from 1 through 10 {
            &[start="#{$i}"] {
                counter-increment: ordered-list $i !important;
            }
        }
    }

    &[reversed] {
        display: flex;
        flex-direction: column-reverse;
    }
}
[counter-reset] {
    counter-reset: ordered-list;
}
ul:not([class]) li::before,
ul.default-list li::before {
    // BULLET
    content: "•";
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    display: grid;
    // 1───────────────────2─────────────────────────────────3→
    // │ minmax(12em, 33vw)│ minmax(min-content, max-content)│→
    // 2──────────────────2/2──────────────────────────────3/2→
    grid-template-columns: minmax(12em, 33vw) minmax(min-content, max-content);
    @include v(column-gap, medium);
    @include v(row-gap, large);
    margin-top: 0;
    overflow: hidden;

    &:not([class*="full"]) {
        @include media("screen", "above:medium") {
            // 1─────────────────────────2──────────────────3→
            // │ minmax(6em, max-content)│ minmax(12em, 1fr)│→
            // 2────────────────────────2/2───────────────3/2→
            grid-template-columns: minmax(6em, max-content) minmax(12em, 1fr);
            grid-template-columns: repeat(auto-fill, minmax(6em, max-content) minmax(12em, 1fr));
        }
    }
}
dt {
    @include v(font-weight, bold);

    .beta,
    %beta,
    .delta,
    %delta {
        @include v(line-height, default);
    }
}
dd {
    margin: 0;
    vertical-align: top;

    :not([class*="full"]) > &:only-of-type {
        @include media("screen", "above:medium") {
            grid-column: 2 / span 3;
        }
    }
}
