////
/// Media
/// @group base
////


audio,
embed,
iframe,
object,
video {
    @extend %media-elements !optional;
}

/**
 * Fix `audio`, `iframe`, and `video`
 */
audio,
iframe,
video {
    width: 100%;
    border: 0;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $measure-medium;
    contain: strict;
}

/**
 * CodePen Embeds
 */
.cp_embed_wrapper {
    margin-bottom: $measure-medium;
    resize: both;
    overflow: auto;

    iframe {
        margin-bottom: 0;
    }
}
