////
/// Miscellaneous
/// @group base
////

time {
    display: inline-block;
}

hr {
    @include v(background-color, black--gamma);
    width: 100%;
    height: $border-width-thin;
    display: block;
    margin: $measure-large 0;
    border: 0;
    // show the overflow in Edge and IE
    overflow: visible;

    %content-elements + & {
        @include media("screen", "<=medium") {
            @include v(margin-top, medium);
        }
    }
}

abbr[title],
dfn[title] {
    @include v(color, dove);
    font-style: italic;
}
abbr[title],
dfn[title] {
    @include v(border-bottom-width, hairline);
    @include v(border-bottom-style, alternate);
    @include v(border-bottom-color, dove);
    cursor: help;
}
abbr[title],
dfn[title],
ins {
    text-decoration: none;
}

ins {
    background-color: mix($color-white, $color-liquid, 80%);
    color: contrasting-color(mix($color-white, $color-liquid, 80%));
}

del {
    background-color: mix($color-white, $color-lastfm, 80%);
    color: contrasting-color(mix($color-white, $color-lastfm, 80%));
    text-decoration-color: mix($color-white, $color-lastfm, 80%);
}

small {
    @include v(font-size, small);
}

strong,
.strong {
    @extend %strong !optional;
    @include v(font-weight, bold);
}

sub,
sup {
    @include v(font-size, small);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.4em;
    font-variant-position: sub;
}
sup {
    top: -0.4em;
    font-variant-position: super;
}

// Touch Action
a,
button,
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

// Mouse Selection
::selection {
    @include v(background-color, raven);
    @include v(color, white);
}
.canada {
    &::selection {
        @include v(background-color, canada);
    }
}
