////
/// Page
/// @group base
////


html {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    // prevent horizontal jump when navigating short page <--> tall page
    overflow-y: scroll;
    // set the box model for the entire document
    box-sizing: border-box;
    // prevent adjustments of font-size after orientation changes in IE on
    // Windows Phone and in iOS
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// Box model set to `inherit` by default so children of `content-box` elements
// inherit from the parent properly
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $color-white;
    color: $color-kaiser;
    width: 100%;
    margin: 0;
}
