////
/// Paragraph
/// @group base
////

p {
    margin-top: 0;
    @include v(margin-bottom, medium);

    &:last-child,
    &.ciu_embed {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
        visibility: hidden;
    }

    &.columns {
        @include media("screen", "above:small", "below:medium") {
            column-count: $max-columns;
            column-gap: $measure-medium;
        }

        @include media("screen", "above:large") {
            column-count: $max-columns;
            column-gap: $measure-medium;
        }
    }
}
