{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "semi": [1, "always"]
    }
}
