# Folder view configuration files
_Store
.DS_Store*
Desktop.ini
Icon

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

# Jekyll
.jekyll-metadata
_site/

# Sass
.sass-cache

# NPM
node_modules/

# Snyk
.snyk

# Lockfiles
*.lock

# Original Images
src/images/*
