# These files are text and should be normalized (convert crlf => lf)
*.css       text
*.js        text
*.cjs       text
*.mjs       text
*.html      text
*.md        text
*.json      text
*.scss      text
*.webc      text
# Images should be treated as binary
# (binary is a macro for -text -diff)
*.avif      binary
*.gif       binary
*.jpeg      binary
*.jpg       binary
*.png       binary
*.webp      binary
