Chris Burnell <me@chrisburnell.com> <me@chrisburnell.com'>
Chris Burnell <me@chrisburnell.com> chrisburnell <me@chrisburnell.com>
Chris Burnell <me@chrisburnell.com> Chris  Burnell <me@chrisburnell.com>
Chris Burnell <me@chrisburnell.com> <chrisburnell@cburnell-macbook.local>
Chris Burnell <me@chrisburnell.com> <chrisburnell@noreply.localhost>