{
	"semi": false,
	"printWidth": 9999,
	"tabWidth": 4,
	"plugins": [
		"prettier-plugin-jinja-template"
	],
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.njk",
			"options": {
				"parser": "jinja-template"
			}
		},
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
