{
	"tabWidth": 4,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-jinja-template"],
	"overrides": [
		{
			"files": "*.{json,svg,yaml,yml}",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.njk",
			"options": {
				"parser": "jinja-template"
			}
		}
	]
}
