{
    "rules": {
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "color-no-invalid-hex": true,
        "comment-no-empty": true,
        "declaration-bang-space-before": "always",
        "declaration-bang-space-after": "never",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "declaration-block-no-duplicate-properties": [true, {
            ignore: ["consecutive-duplicates-with-different-values"]
        }],
        "font-weight-notation": "numeric",
        "function-url-quotes": "always",
        "function-calc-no-unspaced-operator": true,
        "function-max-empty-lines": 0,
        "function-name-case": "lower",
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "indentation": [4, {
            ignore: ["inside-parens", "param", "value"],
            indentClosingBrace: false
        }],
        "max-empty-lines": 2,
        "max-nesting-depth": 4,
        "no-empty-source": true,
        "no-eol-whitespace": true,
        "no-extra-semicolons": true,
        "no-missing-end-of-source-newline": true,
        "no-unknown-animations": true,
        "number-leading-zero": "always",
        "number-max-precision": 4,
        "number-no-trailing-zeros": false,
        "property-case": "lower",
        "property-no-unknown": true,
        "keyframe-declaration-no-important": true,
        "length-zero-no-unit": true,
        "time-min-milliseconds": 100,
        "block-opening-brace-newline-after": "always",
        "selector-no-id": true,
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "double",
        "unit-blacklist": ["pc", "pt", "ex", "ch", "mm", "cm", "in"],
        "unit-case": "lower",
        "unit-no-unknown": true,
        "value-keyword-case": "lower"
    }
}
