language: ruby
rvm:
- 2.1

install:
  - bundle install
  - gem install jekyll html-proofer
script: jekyll build && htmlproof ./_site

branches:
  only:
  - master

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
