language: ruby
rvm:
- 2.1

before_script:
 - chmod +x ./script/cibuild

# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
install: gem install jekyll html-proofer
script: jekyll build && htmlproof ./_site

# branch whitelist, only for GitHub Pages
branches:
  only:
  - master # test the gh-pages branch

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
