---
page_class: page--about
sitemap:
  priority: 1.0

redirect_from: /me/index.html

title: About Me
lede: My name is <span class="canada">Chris Burnell</span>, and I’m a <span class="canada">Canadian</span> User Interface Developer living and working in London, UK.
---


<figure>
    {% include content/img.html src='/images/rachel-and-i.png' alt='' class='canada' %}
    <figcaption>My girlfriend, Rachel, and I (July 2015)</figcaption>
</figure>


{% include content/heading.html title='Freelance' %}

<p>I have been doing freelance work, off and on, since about <time datetime="2008">2008</time>, ranging from web design to web development to full website solutions (albeit small). This ramped up slightly as I pursued web development as less of a hobby after high-school and more as a career. While I learned a lot early on, I was never really challenged by the projects, nor was I in a position where I was out of my depth (yet)—and that position is one where I learn and grow my skills most effectively.</p>


{% include content/heading.html title='London' %}

<p>In <time datetime="2011-12">December of 2011</time>, I made the decision to move to London to be with my girlfriend, Rachel, who moved from Singapore to work on her Fine Arts degree from <em>Camberwell</em> (which she received in <time datetime="2014-06">June 2014</time>)!</p>

<figure>
    {% include content/img.html src='/images/content/logo-cabfix.png' alt='Cabfix' width='350' %}
</figure>

<p>After a bit of searching, I found a job at a small startup company that did cab bookings in the city called <em>Cabfix</em>. Previously, the codebase that <em>Cabfix</em> ran on had been built by a foreign company, and my job, in essence, was to flesh out and refine the branding of the website. This entailed modifying and creating short snippets/modules to be used across various pages of the website. This was (triumphantly) my first job in the field, but my role at <em>Cabfix</em> wasn’t thoroughly defined and, again, I wasn’t particularly challenged by the work, so I started to look elsewhere for a deeper role to satiate my desire for a challenge.</p>

<p><em>Unfortunately, <time datetimte="2014">sometime in early 2014</time>, Cabfix’s website seems to have gone offline, so I can only assume the company’s goals didn’t pan out as hoped.</em></p>


{% include content/heading.html title='Squiz' %}

<figure>
    <a rel="external" href="https://squiz.net/uk" title="Squiz">
        {% include content/img.html src='/images/content/logo-squiz.svg' alt='' width='300' %}
    </a>
</figure>

<p>In <time datetime="2012-04">April of 2012</time>, I joined the <em>Production Team</em> at <a rel="external" href="http://squiz.net"><em>Squiz</em></a> as a <em>Front-end Web Developer</em>. My job involved two general tasks: implementing a website’s functionality into <em>Squiz’s</em> CMS, <a rel="external" href="https://www.squiz.net/technology/cms">Squiz Matrix</a>, and creating <dfn title="the product of translating a website’s design (usually in PSD format) into HTML, CSS, JavaScript, and media">cut-ups</dfn>. These tasks were almost always performed as client services and it was in this <q>deliver the best possible projects with fresh technology</q> environment that my passion and thirst for web development skyrocketed. Feeling particularly inclined towards the HTML and CSS side of things, I was often tasked with performing the cut-ups while other team members built the implementation side of things.</p>

<p>Further on down the road, after tackling many amazing projects with the team, with clients like <em>William Hill</em>, <em>The Recruitment &amp; Employment Confederation</em>, and <em>Middlesex University</em>, I changed role to become a <em>User Interface Developer</em>. No longer sitting in the <em>Production Team</em>, but in the <em>UX team</em> at <em>Squiz</em> is where my focus became solely on building cut-ups and becoming a bridge between Design and Development, as well as aiding in UX projects.</p>

<p>For a long time I was also the organiser of a weekly meeting, <em>Implementor Scrum</em>, when the developers in the <em>Production Team</em> and other interested colleagues would come together to join heads and discuss future technologies, best practices, and to share fascinating technology on the web. While it was always a fun, team-building event, it also helped to promote web standards and forward-thinking in our work, and opened our eyes to new ideas and smarter solutions to our challenges.</p>


{% include content/heading.html title='City, University of London' %}

<figure>
    <a rel="external" href="https://www.city.ac.uk" title="City, University of London">
        {% include content/img.html src='/images/content/logo-city-university.svg' alt='' width='250' %}
    </a>
</figure>

<p>In <time datetime="2014-06">June of 2014</time>, I moved on to a role as <em>Web Developer</em> at <a rel="external" href="http://www.city.ac.uk"><em>City, University of London</em></a>, where I’m looking forward to carrying the torch forward, and devoting my time and efforts towards perfecting and streamlining the codebase, promoting the ideologies and thirst for perfection I instilled as a UI Developer at <em>Squiz</em> and at <em>Imp Scrum</em>, and building a damn good website with a solid, new team.</p>


{% include content/heading.html title='London Web Standards' %}

<figure>
    <a rel="external" href="http://londonwebstandards.org" title="London Web Standards">
        {% include content/img.html src='/images/content/logo-lws.jpg' alt='' width='235' %}
    </a>
</figure>

<p>On the evening of <time datetime="2016-04-18">18 April 2016</time>, I gave my first (nervous) public talk as a professional web developer. I wrote about the experience in the article, <a href="{% post_url 2016-04-29-april-lws-talk %}">April LWS Talk</a>, and if you can also check out the talk, <a href="{% post_url 2016-04-18-middle-out %}">Supporting Middle-Out in CSS</a>.</p>


{% include content/heading.html title='The Web is Awesome' %}

<p>If you talk to <a href="https://twitter.com/iamchrisburnell/followers" title="dubious, at best, reference">anyone</a> who knows me well, they will tell you I’m absolutely obsessed with the web, and it’s <del>almost</del> unhealthy. It’s <del>almost</del> sad how excited I can get about semantic code, web standards and best practices, code architecture and organistion, sharing ideas, open source and collaboration, clean and accessible user interfaces, typography, user experience, <a rel="external" href="https://indieweb.org/principles">an indie web</a>, oh, and <em>CSS</em>.</p>

<p>I also play the piano and bake bread from time to time.</p>


{% include content/heading.html title='Want to get in touch?' id='get-in-touch' %}

<p>There are a number of RSS Feeds you can subscribe to:</p>

<ul>
    <li><a href="/feed.xml" rel="alternate">All Posts</a></li>
    <li><a href="/feed-articles.xml" rel="alternate">Articles</a></li>
    <li><a href="/feed-notes.xml" rel="alternate">Notes</a></li>
    <li><a href="/feed-pens.xml" rel="alternate">Pens</a></li>
    <li><a href="/feed-links.xml" rel="alternate">Links</a></li>
    <li><a href="/feed-talks.xml" rel="alternate">Talks</a></li>
</ul>

<p>If you want to get in touch, I’m reachable through <a rel="me  publisher" href="{{ site.urls.twitter }}">Twitter</a> or email <a rel="me" class="u-email" href="mailto:{{ site.author.email }}"><span class="canada">{{ site.author.email }}</span></a>.</p>
