---
layout: page
page_class: page--about
sitemap:
  priority: 1.0

redirect_from: /me.html

title: About Me
lede: My name is <span class="canada">Chris Burnell</span>, and I’m a <span class="canada">Canadian</span> User Interface Developer living in London, UK.
---


<figure>
    {% include content/img.html src='/images/rachel-and-i.png' alt='' class='canada' %}
    <figcaption>My girlfriend, Rachel, and I (July 2015)</figcaption>
</figure>


{% include content/heading.html title='Freelance' %}

<p>I have been doing freelance work, off and on, since about <time datetime="2008">2008</time>, ranging from web design to web development to full website solutions (albeit small). This ramped up slightly as I pursued web development as less of a hobby after high-school and more as a career. While I learned a lot early on, I was never really challenged by the projects, nor was I in a position where I was out of my depth (yet)—and that position is one where I learn and grow my skills most effectively.</p>


{% include content/heading.html title='London' %}

<p>In <time datetime="2011-12">December of 2011</time>, I made the decision to move to London to be with my girlfriend, Rachel, who moved from Singapore to work on her Fine Arts degree from <em>Camberwell</em> (which she received in <time datetime="2014-06">June 2014</time>)!</p>

<figure>
    {% include content/img.html src='/images/content/logo-cabfix.png' alt='' width='350' height='167' %}
</figure>

<p>After a bit of searching, I found a job at a small startup company that did cab bookings in the city called <em>Cabfix</em>. Previously, the codebase that <em>Cabfix</em> ran on had been built by a foreign company, and my job, in essence, was to flesh out and refine the branding of the website. This entailed modifying and creating short snippets/modules to be used across various pages of the website. This was (triumphantly) my first job in the field, but my role at <em>Cabfix</em> wasn’t thoroughly defined and, again, I wasn’t particularly challenged by the work, so I started to look elsewhere for a deeper role to satiate my desire for a challenge.</p>

<p><em>Unfortunately, <time datetimte="2014">sometime in early 2014</time>, Cabfix’s website seems to have gone offline, so I can only assume the company’s goals didn’t pan out as hoped.</em></p>


{% include content/heading.html title='Squiz' %}

<figure>
    <a rel="external" href="https://squiz.net/uk">
        {% include content/img.html src='/images/content/logo-squiz.png' alt='' width='350' height='230' %}
    </a>
</figure>

<p>In <time datetime="2012-04">April of 2012</time>, I joined the Production Team at <a rel="external" href="http://squiz.net"><em>Squiz</em></a> as a Front-end Web Developer. My job involved two general tasks: implementing a website’s functionality into <em>Squiz’s</em> CMS, Matrix, and creating <dfn title="the product of translating a website’s design (usually in PSD format) into HTML, CSS, JavaScript, and media">cut-ups</dfn>. These tasks were almost always performed as client services and it was in this <q>the stakes have never been higher (for me)</q> environment that my passion and thirst for web development skyrocketed. Feeling particularly inclined towards the HTML and CSS side of things, I was often tasked with performing the cut-ups while other team members built the implementation side of things.</p>

<p>Further on down the road, after tackling many amazing projects with the team, with clients like <em>William Hill</em>, <em>The Recruitment &amp; Employment Confederation</em>, and <em>Middlesex University</em>, I changed role to become User Interface Developer. No longer sitting in the Production team, I became part of the UX team at <em>Squiz</em> where my focus became solely on building cut-ups and becoming a bridge between Design and Development, as well as aiding in UX projects.</p>

<p>For a long time I was also the organiser of a weekly meeting, <em>Imp Scrum</em>, when the Production team and a few other developers who sat outside that team would come together to join heads and discuss future technologies, best practices, and sharing cool stuff on the web. While it was always a fun, team-building event, it also helped to promote standards and forward-thinking in our work, and opened our eyes to new ideas and smarter solutions to our problems.</p>


{% include content/heading.html title='City University' %}

<figure>
    <a rel="external" href="http://www.city.ac.uk">
        {% include content/img.html src='/images/content/logo-city-university.svg' alt='' width='350' height='109' %}
    </a>
</figure>

<p>In <time datetime="2014-06">June of 2014</time>, I moved on to a role as <em>Web Developer</em> at <a rel="external" href="http://www.city.ac.uk"><em>City, University of London</em></a>, where I’m looking forward to carrying the torch forward, and devoting my time and efforts towards perfecting and streamlining the codebase, promoting the ideologies and thirst for perfection I instilled as a UI Developer at <em>Squiz</em> and at <em>Imp Scrum</em>, and building a damn good website with a solid, new team.</p>


{% include content/heading.html title='The Web is Awesome' %}

<p>If you talk to anyone who knows me well, they will tell you I’m absolutely obsessed with the web, and it’s <s>almost</s> unhealthy. It’s <s>almost</s> sad how excited I can get about semantic code, web standards and best practices, code architecture and organistion, sharing ideas, open source and collaboration, clean and accessible user interfaces, typography, user experience, oh, and <em>CSS</em>.</p>

<p>I also play the piano and bake bread from time to time.</p>


{% include content/heading.html title='Want to get in touch?' id='get-in-touch' %}

<p>There are a number of RSS Feeds you can subscribe to:</p>

{% include components/nav-secondary.html type='feeds' %}

<p>If you want to get in touch, I’m reachable through <a rel="me publisher" href="{{ site.urls.twitter }}">Twitter</a> or email <a href="mailto:{{ site.author.email }}"><span class="canada">{{ site.author.email }}</span></a>.</p>
