---
layout: page
page_class: page--articles
searchable: no-content

redirect_from:
  - /archive.html

title: Articles Archive
lede: All of my articles listed on one page.
---


<ol class="content-list" id="articles" role="list">
    {% for page in site.categories.article %}
        {% include components/item-small-content-list.html %}
    {% endfor %}
</ol>

{% include components/nav-secondary.html type='feeds' include='articles' %}

{% include components/nav-secondary.html type='archives' exclude='articles' %}
