---
layout: default
page_class: page-articles
searchable: no-content

redirect_from:
  - /archive.html

title: Articles Archive
lede: All of my articles listed on one page.
---


<ol id="articles" class="articles-list" role="list">
    {% for post in site.categories.article %}
        <li role="listitem">
            <h2 class="title">
                <a class="title-anchor"  href="{{ post.url }}" tabindex="-1">{{ post.title }}</a>
            </h2>
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
            {% if post.lede %}
                <p class="lede">{{ post.lede }}</p>
            {% endif %}
            <a class="button" href="{{ post.url }}"><span>Continue reading ‘{{ post.title }}’ – </span>Read Full Article</a>
            {% if post.comments == true %}
                <a class="comments-anchor" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#disqus_thread">Leave a comment</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>

<nav class="nav-secondary" role="navigation">
    <a rel="me author" class="button" href="/feed-articles.xml">
        {% include content/svg.html type='rss' %}
        Subscribe to Articles
    </a>
    <a rel="me author" class="button" href="/feed.xml">
        {% include content/svg.html type='rss' %}
        Subscribe to All
    </a>
</nav>

<nav class="nav-secondary" role="navigation">
    <a rel="me author" class="button" href="/pens">
        {% include content/svg.html type='heart' %}
        Pens Archive
    </a>
    <a rel="me author" class="button" href="/links">
        {% include content/svg.html type='link' %}
        Links Archive
    </a>
    <a rel="me author" class="button" href="/tags">
        {% include content/svg.html type='tag' %}
        Tags Archive
    </a>
</nav>
