---
page_class: page--beer
searchable: no-content

redirect_from:
- /beers/index.html

title: Beer
lede: Reviewing beers, pint-by-pint.

sparkline: beer
---

<p>Connect with <a href="{{ site.urls.untappd }}" rel="me  external">me on Untappd</a>! Beer titles below also link out to <a href="https://untappd.com/" rel="external">Untappd</a>.</p>

<ol class="shelf  h-feed" id="beer" role="list">
    {% for page in site.categories.beer %}
        {% include components/item-shelf.html %}
    {% endfor %}
</ol>

<hr>

{% include components/buttons-categories.html %}
