---
page_class: page--bookshelf
searchable: no-content

redirect_from:
- /reading/index.html

title: Bookshelf
lede: Tracking books I’ve read, am reading, and want to read.

sparkline: books
---


<ol class="bookshelf" id="books" role="list">
{% assign books_to_read = site.books | where_exp: 'book', 'book.date_start == nil' | sort: 'title' %}
{% for page in books_to_read %}
    <li role="listitem" class="h-entry">
        <div class="p-summary">
            {% if page.cover %}
                {% if page.link %}
                    <a class="bookcover" href="{{ page.link }}" rel="external  noopener" title="">
                {% endif %}
                {% include components/bookcover.html %}
                {% if page.link %}
                    </a>
                {% endif %}
            {% endif %}
            <div class="p-read-of  h-cite">
                <h2 class="delta"><cite class="p-name">{{ page.title }}</cite></h2>
                <div class="p-author">
                    {% for author in page.authors %}
                        {% if page.authors_link and page.authors_link[1] %}
                            <a href="{{ page.authors_link[forloop.index0] }}" title="" rel="external  noopener">
                        {% elsif page.authors_link %}
                            <a href="{{ page.authors_link }}" title="" rel="external  noopener">
                        {% endif %}
                        {{ author }}
                        {% if page.authors_link %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <data class="p-uid" value="{{ page.isbn }} "aria-hidden="true">{{ page.isbn }}</data>
                <data class="p-read-status" value="to-read"><em>(Coming Up)</em></data>
            </div>
        </div>
    </li>
{% endfor %}
{% assign books = site.books | where_exp: 'book', 'book.date_start' | sort: 'date_start' %}
{% for page in books reversed %}
    {% assign rating_base = page.rating | default: 0 | at_least: 0 | at_most: 5 | floor %}
    {% assign rating_half = page.rating | default: 0 | at_least: 0 | at_most: 5 | modulo: 1 %}
    {% assign read_status = 'reading' %}
    {% if page.date_end %}
        {% assign read_status = 'finished' %}
    {% endif %}
    <li role="listitem" class="h-entry">
        <div class="p-summary">
            {% if page.cover %}
                {% if page.link %}
                    <a class="bookcover" href="{{ page.link }}" rel="external  noopener" title="">
                {% endif %}
                {% include components/bookcover.html %}
                {% if page.link %}
                    </a>
                {% endif %}
            {% endif %}
            <div class="p-read-of  h-cite">
                <h2 class="delta"><cite class="p-name">{{ page.title }}</cite></h2>
                <div class="p-author">
                    {% for author in page.authors %}
                        {% if page.authors_link and page.authors_link[1] %}
                            <a href="{{ page.authors_link[forloop.index0] }}" title="" rel="external  noopener">
                        {% elsif page.authors_link %}
                            <a href="{{ page.authors_link }}" title="" rel="external  noopener">
                        {% endif %}
                        {{ author }}
                        {% if page.authors_link %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <data class="p-uid" value="{{ page.isbn }}" aria-hidden="true">{{ page.isbn }}</data>
            </div>
            {% if page.rating %}
                <data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_half != 0 %}½{% endif %}</data>
            {% endif %}
            <data class="p-read-status  p-x-read-status" value="{{ read_status }}"{% if read_status == 'finished' %} aria-hidden="true"{% endif %}><em>({{ read_status | capitalize }})</em></data>
            <data class="p-start-date" value="{{ page.date_start | date: '%Y-%m-%d' }}" aria-hidden="true">{{ page.date_start | date: '%Y-%m-%d' }}</data>
            {% if page.date_end %}
                <data class="p-end-date" value="{{ page.date_end | date: '%Y-%m-%d' }}" aria-hidden="true">{{ page.date_end | date: '%Y-%m-%d' }}</data>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ol>
