---
layout: default
page_class: page-home
searchable: no-content
---


<ol id="articles" class="articles-list" role="list">
    {% for post in site.categories.article limit:5 %}
        <li role="listitem">
            <h2 class="title">
                <a class="title-link" href="{{ post.url }}" tabindex="-1">{{ post.title }}</a>
            </h2>
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
            {% if post.lede %}
                <p class="lede">{{ post.lede }}</p>
            {% endif %}
            <a class="button" href="{{ post.url }}"><span>Continue reading ‘{{ post.title }}’ – </span>Read more</a>
            {% if post.comments == true %}
                <a class="comments-link" href="{{ post.url }}#disqus_thread">Leave a comment</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>

<nav class="nav-secondary" role="navigation">
    <a class="button" href="/articles"><svg class="icon--article"><use xlink:href="#svg--article"></svg> Articles Archive</a>
</nav>
