---
page_class: page--home
searchable: no-content
---


<dl>
    <dt><h2 class="delta"><a href="/articles/">Articles <small>({{ site.categories.article.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-articles" class="sparkline" width="160" height="24"></canvas></dd>
    <dt><h2 class="delta"><a href="/notes/">Notes <small>({{ site.categories.note.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-notes" class="sparkline" width="160" height="24"></canvas></dd>
    <dt><h2 class="delta"><a href="/bookmarks/">Bookmarks <small>({{ site.categories.bookmark.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-bookmarks" class="sparkline" width="160" height="24"></canvas></dd>
    <dt><h2 class="delta"><a href="/pens/">Pens <small>({{ site.categories.pen.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-pens" class="sparkline" width="160" height="24"></canvas></dd>
    <!--dt><h2 class="delta"><a href="/likes/">Likes <small>({{ site.likes.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-likes" class="sparkline" width="160" height="24"></canvas></dd-->
    <!--dt><h2 class="delta"><a href="/talks/">Talks <small>({{ site.categories.talk.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-talks" class="sparkline" width="160" height="24"></canvas></dd-->
    <!--dt><h2 class="delta"><a href="/recipes/">Recipes <small>({{ site.recipes.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-recipes" class="sparkline" width="160" height="24"></canvas></dd-->
    <!--dt><h2 class="delta"><a href="/reviews/">Reviews <small>({{ site.reviews.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-reviews" class="sparkline" width="160" height="24"></canvas></dd-->
    <!--dt><h2 class="delta"><a href="/bookshelf/">Bookshelf <small>({{ site.books.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-books" class="sparkline" width="160" height="24"></canvas></dd-->
    <dt><h2 class="delta"><a href="/beer/">Beer Reviews <small>({{ site.beer.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-beer" class="sparkline" width="160" height="24"></canvas></dd>
    <dt><h2 class="delta"><a href="/music/">Music Reviews <small>({{ site.music.size }})<small></a></h2></dt>
    <dd><canvas id="sparkline-music" class="sparkline" width="160" height="24"></canvas></dd>
    {% include components/lastfm.html %}
</dl>

<h2 class="gamma">The Latest</h2>

<ol class="content-list  h-feed" role="list">
    {%- assign all_beer = site.beer | date_sort | reverse -%}
    {%- assign recent_beer = site.emptyArray -%}
    {%- for page in all_beer limit: 12 -%}
        {%- assign recent_beer = recent_beer | push: page -%}
    {%- endfor -%}
    {%- assign all_music = site.music | date_sort | reverse -%}
    {%- assign recent_music = site.emptyArray -%}
    {%- for page in all_music limit: 12 -%}
        {%- assign recent_music = recent_music | push: page -%}
    {%- endfor -%}
    {% comment %}
    {% assign all_likes = site.likes | date_sort | reverse %}
    {% assign recent_likes = site.emptyArray %}
    {% for page in all_likes limit: 12 %}
        {% assign recent_likes = recent_likes | push: page %}
    {% endfor %}
    {% endcomment %}
    {%- assign all_posts = site.posts | date_sort -%}
    {%- assign recent_posts = site.emptyArray -%}
    {%- for page in all_posts limit: 18 -%}
        {%- unless page.in_reply_to.first contains 'twitter' or page.in_reply_to.first contains 'mastodon' -%}
            {%- assign recent_posts = recent_posts | push: page -%}
        {%- endunless -%}
    {%- endfor -%}
    {%- assign concatenated_posts = recent_posts | concat: recent_beer | concat: recent_music | sort: 'date' | reverse -%}
    {% for page in concatenated_posts limit: 12 %}
        {% include components/item-content-list.html %}
    {% endfor %}
</ol>

{% include components/buttons-list.html type='archives' include='articles bookmarks notes pens' %}
