---
layout: default
page_class: page-links
searchable: no-content

title: Shared Links
lede: All of my shared links listed on one page.
---


<ol id="links" class="small-articles-list" role="list">
    {% for post in site.categories.link %}
        <li role="listitem">
            <a href="{{ post.url }}">
                {% include content/svg.html type='link' %}
                <h4 class="title">{{ post.title }}</h4>
                {% if post.lede %}
                    <p class="lede">{{ post.lede | truncatewords: 20 | replace: '....', '...' | replace: ',...', '...' }}</p>
                {% endif %}
                <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
            </a>
        </li>
    {% endfor %}
</ol>

<nav class="nav-secondary" role="navigation">
    <a rel="me author" class="button" href="/feed-links.xml">
        {% include content/svg.html type='rss' %}
        Subscribe to Links
    </a>
    <a rel="me author" class="button" href="/feed.xml">
        {% include content/svg.html type='rss' %}
        Subscribe to All
    </a>
</nav>

<nav class="nav-secondary" role="navigation">
    <a rel="me author" class="button" href="/articles">
        {% include content/svg.html type='article' %}
        Articles Archive
    </a>
    <a rel="me author" class="button" href="/pens">
        {% include content/svg.html type='heart' %}
        Pens Archive
    </a>
    <a rel="me author" class="button" href="/tags">
        {% include content/svg.html type='tag' %}
        Tags Archive
    </a>
</nav>
