---
page_class: page--music

title: Music
lede: Reviewing music albums one-by-one.

sparkline: music
---

<dl>
    <dt class="js-lastfm" hidden><h2 class="delta"><a class="js-lastfm-status" href="{{ site.urls.lastfm }}" rel="me  external"></a></h2></dt>
    <dd class="leading-small  js-lastfm" hidden>
        <span class="js-lastfm-track"></span><span class="js-lastfm-artist"></span> <a class="js-lastfm-link" href="" rel="external">↗</a>
    </dd>
</dl>

<p>Image links go out to <em>Spotify</em>.</p>

<ol class="shelf  h-feed" id="music" role="list">
    {% assign music = site.music | date_sort %}
    {% for page in music reversed %}
        {% include components/item-shelf.html %}
    {% endfor %}
</ol>
