---
page_class: page--music

title: Music
lede: Reviewing music albums one-by-one.

sparkline: music
---

<dl>
    {% include components/lastfm.html %}
</dl>

<p>If you like hip-hop, check out my chronological playlist, <a href="https://open.spotify.com/playlist/75emnP49rQPR8D95pMIa3u" rel="external">Hippity Hop and Whatnot Through the Ages</a>.</p>

<p>Images below link out to <em>Spotify</em>.</p>

<ol class="shelf  h-feed" id="music" role="list">
    {% assign music = site.music | date_sort %}
    {% for page in music reversed %}
        {% include components/item-shelf.html %}
    {% endfor %}
</ol>

{% include components/buttons-list.html type='archives' exclude='music books recipes talks tags' %}
