---
page_class: page--notes
searchable: no-content

redirect_from:
- /note/index.html

title: Notes
lede: All of my Notes.

sparkline: notes
---


<p><em>There are {{ site.categories.note | size }} published Notes.</em></p>

<ol class="content-list  h-feed" id="notes" role="list">
    {% for page in site.categories.note %}
        {% include components/item-content-list.html %}
    {% endfor %}
</ol>

<hr>

{% include components/buttons-list.html type='feeds' include='notes' %}

<hr>

{% include components/buttons-list.html type='archives' exclude='notes' %}
