---
page_class: page--pens
searchable: no-content

redirect_from:
- /pen/index.html

title: Pens
lede: All of my Pens.

sparkline: pens
---


<dl class="terminology">
    <dt>What’s a pen?</dt>
    <dd><q><a href="https://codepen.io"><em>CodePen</em></a> is an HTML, CSS, and JavaScript code editor in your browser with instant previews.</q></dd>
</dl>

<p>These are my best pens—seven of which were <a rel="external" href="https://codepen.io/collection/hfqlg" rel="external">featured on their homepage</a>.</p>

<p><em>There are {{ site.categories.pen | size }} published Pens.</em></p>

<ol class="content-list" id="pens" role="list">
    {% for page in site.categories.pen %}
        {% include components/item-content-list.html %}
    {% endfor %}
</ol>

<hr>

{% include components/buttons-list.html type='feeds' include='pens' %}

<hr>

{% include components/buttons-list.html type='archives' exclude='pens' %}
