---
layout: default
page_class: page--presentations
searchable: no-content

redirect_from:
  - /slides.html

title: Presentations
lede: All of my presentations.
---


<p>These are my best pens—five of which were <a rel="external" href="http://codepen.io/collection/hfqlg" rel="external">featured on their homepage</a>.</p>

<ol id="pens" class="small-articles-list" role="list">
    {% for page in site.categories.pen %}
        {% include components/small-articles-list-item.html %}
    {% endfor %}
</ol>

{% include components/nav-secondary.html type='feeds' include='pens' %}

{% include components/nav-secondary.html type='archives' exclude='pens' %}
