---
page_class: page--books
searchable: no-content

title: Reading
lede: Tracking books I’ve read.

sparkline: books
---


<ol class="content-list" id="books" role="list">
{% for page in site.books %}
    <li role="listitem" class="h-entry">
        <div class="p-summary">
            {% if page.image %}
                <img src="{{ page.image }}" alt="">
            {% endif %}
            <div class="p-read-of  h-cite">
                <cite class="delta  p-name">{{ page.title }}</cite>
                <div>by <span class="delta  p-author">{% for author in page.authors %}{{ author }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span></div>
                <div class="delta  p-uid">{{ page.isbn }}</div>
            </div>
            <data class="p-read-status" value="{{ page.read_status }}">
        </div>
    </li>
{% endfor %}
</ol>
