---
page_class: page--books
searchable: no-content

title: Reading
lede: Tracking books I’ve read.

sparkline: books
---


<ol class="content-list  bookshelf" id="books" role="list">
{% for page in site.books %}
    <li role="listitem" class="h-entry">
        <div class="p-summary">
            {% if page.bookcover %}
                {% include components/bookcover.html %}
            {% endif %}
            <div class="p-read-of  h-cite">
                <h2 class="delta  title"><data class="p-read-status" value="{{ page.read_status }}">{{ page.read_status | replace: 'to-read', 'Coming up' | capitalize }}</data>: <cite class="p-name">{{ page.title }}</cite></h2>
                <div>by <span class="delta  p-author">{% for author in page.authors %}{{ author }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span> • <span class="delta  p-uid">{{ page.isbn }}</span></div>
            </div>
        </div>
    </li>
{% endfor %}
</ol>
