---
page_class: page--style-guide
searchable: no-content

redirect_from:
  - /style-guide/index.html
  - /guide/index.html

title: Style Guide
lede: The style guide for chrisburnell.com.

codepen: true
twitter: true
vimeo: true
youtube: true
---


{% include content/heading.html title='Colours' %}

<ul class="palette-list">
    <li data-color="bowhead">
        <h4>Bowhead</h4>
        <div class="monospace">#507791</div>
        <div class="monospace">rgb(80, 119, 145)</div>
    </li>
    <li data-color="raven">
        <h4>Raven</h4>
        <div class="monospace">#5f8aa6</div>
        <div class="monospace">rgb(95, 138, 166)</div>
    </li>
    <li data-color="coyote">
        <h4>Coyote</h4>
        <div class="monospace">#6e95ae</div>
        <div class="monospace">rgb(110, 149, 174)</div>
    </li>
    <li data-color="canada">
        <h4>Canada</h4>
        <div class="monospace">#eb2d37</div>
        <div class="monospace">rgb(235, 45, 55)</div>
    </li>
    <li data-color="black">
        <h4>Black</h4>
        <div class="monospace">#060606</div>
        <div class="monospace">rgb(6, 6, 6)</div>
    </li>
    <li data-color="mineshaft">
        <h4>Mineshaft</h4>
        <div class="monospace">#2b2b2b</div>
        <div class="monospace">rgb(43, 43, 43)</div>
    </li>
    <li data-color="kaiser">
        <h4>Kaiser</h4>
        <div class="monospace">#4f4f4f</div>
        <div class="monospace">rgb(79, 79, 79)</div>
    </li>
    <li data-color="dove">
        <h4>Dove</h4>
        <div class="monospace">#737373</div>
        <div class="monospace">rgb(115, 115, 115)</div>
    </li>
    <li data-color="alto">
        <h4>Alto</h4>
        <div class="monospace">#dddddd</div>
        <div class="monospace">rgb(221, 221, 221)</div>
    </li>
    <li data-color="white">
        <h4>White</h4>
        <div class="monospace">#f9f9f9</div>
        <div class="monospace">rgb(249, 249, 249)</div>
    </li>
</ul>


{% include content/heading.html title='Transitions' %}

<div class="transition-example  transition-example--slide">
    <div class="transition-example__demo  monospace">transition: all 0.2s ease;</div>
</div>

<div class="transition-example  transition-example--fade">
    <div class="transition-example__demo  monospace">transition: all 0.2s ease;</div>
</div>


{% include content/heading.html title='Fonts' %}

<p style="font-family: 'Proxima Nova', sans-serif;">Primary Font: "Proxima Nova", sans-serif;</p>

<p style="font-family: 'Proxima Nova', sans-serif; font-style: italic;">Primary Font italic: "Proxima Nova", sans-serif;</p>

<p style="font-family: 'Proxima Nova', sans-serif; font-weight: 600;">Primary Font bold: "Proxima Nova", sans-serif;</p>

<p style="font-family: Georgia, serif;">Secondary Font: Georgia, serif;</p>

<p style="font-family: Georgia, serif; font-style: italic;">Secondary Font italic: Georgia, sans-serif;</p>

<p style="font-family: 'Menlo for Powerline', 'Menlo', Consolas, Courier, monospace; font-size: 0.875rem;">Monospace Font: "Menlo for Powerline", "Menlo", Consolas, Courier, monospace;</p>

<p style="font-family: 'League Gothic', Impact, sans-serif; font-size: 1.375rem; text-transform: uppercase;">Title Font: "League Gothic", Impact, sans-serif;</p>


{% include content/heading.html title='Headings' %}

<h1>Heading Level 1</h1>

<h2>Heading Level 2</h2>

<h3>Heading Level 3</h3>

<h4>Heading Level 4</h4>


{% include content/heading.html title='Paragraph' %}

<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<p class="columns">A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>


{% include content/heading.html title='Aside' %}

<aside>
    <p>An aside represents a section of the page with content connected tangentially to the rest, which could be considered separate from that content.</p>
</aside>

<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>


{% include content/heading.html title='Inline Elements' %}

<p><a href="#">This is a text link</a></p>

<p><strong>Strong is used to indicate strong importance</strong></p>

<p><em>This text has added emphasis</em></p>

<p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

<p>The <i>i element</i> is text that is set off from the normal text</p>

<p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

<p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>

<p><s>This text has a strikethrough</s></p>

<p>Superscript for things like: <samp>8<sup>th</sup> of August</samp> <samp>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup></samp> <samp>E = mc<sup>2</sup></samp></p>

<p>Subscript for things like: <samp>H<sub>2</sub>O</samp> <samp>H<sub>2</sub>SO<sub>4</sub></samp> <samp>C<sub>24</sub>H<sub>26</sub>O<sub>7</sub></samp></p>

<p><small>This small text for fine print, etc.</small></p>

<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

<p>Keyboard input: <kbd>Tab</kbd></p>

<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>

<p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation with <q>another short inline quotation</q> inside</q></p>

<p><cite>This is a citation</cite>

</p><p>The <dfn title="definition element">dfn element</dfn> indicates a definition</p>

<p>The <mark>mark element</mark> indicates a highlight</p>

<p><code>This is what inline code looks like</code></p>

<p><samp>This is sample output from a computer program</samp></p>

<p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>


{% include content/heading.html title='Blockquote' %}

<blockquote>
    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
</blockquote>


{% include content/heading.html title='Blockquote with Citation' %}

<blockquote>
    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
    <cite>Quote Source</cite>
</blockquote>


{% include content/heading.html title='Twitter Embedded Quote' %}

<blockquote class="twitter-tweet" lang="en" data-conversation="none"><p>assumptions do not a civil developer make</p>— Chris Burnell (@iamchrisburnell) <a href="https://twitter.com/iamchrisburnell/status/590910692955389952">April 22, 2015</a></blockquote>
<noscript>Please enable JavaScript to see Twitter-specific components.</noscript>


{% include content/heading.html title='Unordered List' %}

<ul>
    <li>This is a list item in an unordered list</li>
    <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
    <li>
        Lists can be nested inside of each other
        <ul>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an unordered list</li>
        </ul>
    </li>
    <li>This is the last list item</li>
</ul>


{% include content/heading.html title='Ordered List' %}

<ol>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
        Lists can be nested inside of each other
        <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
        </ol>
    </li>
    <li>This is the last list item</li>
</ol>


{% include content/heading.html title='Ordered List Reversed' %}

<ol reversed>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
        This is the last list item
        <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
        </ol>
    </li>
</ol>


{% include content/heading.html title='Ordered List Reversed, Twice' %}

<ol reversed>
    <li>This is a list item in an ordered list</li>
    <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
    <li>
        This is the last list item
        <ol reversed>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list</li>
        </ol>
    </li>
</ol>


{% include content/heading.html title='Definition List' %}

<dl>
    <dt>Definition List</dt>
    <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
    <dt>This is a term.</dt>
    <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
    <dt>And another term.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
</dl>


{% include content/heading.html title='Table' %}

<figure>
    <table class="highlight" role="grid" aria-readonly="true">
        <thead>
            <tr role="row">
                <th role="columnheader">Heading A</th>
                <th role="columnheader">Heading B</th>
                <th role="columnheader">Heading C</th>
                <th role="columnheader">Heading D</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <td role="gridcell">Cell A-1</td>
                <td role="gridcell">Cell B-1</td>
                <td role="gridcell">Cell C-1</td>
                <td role="gridcell">Cell D-1</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-2</td>
                <td role="gridcell">Cell B-2</td>
                <td role="gridcell">Cell C-2</td>
                <td role="gridcell">Cell D-2</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-3</td>
                <td role="gridcell">Cell B-3</td>
                <td role="gridcell">Cell C-3</td>
                <td role="gridcell">Cell D-3</td>
            </tr>
        </tbody>
        <tfoot>
            <tr role="row">
                <th role="gridcell">Foot A</th>
                <th role="gridcell">Foot B</th>
                <th role="gridcell">Foot C</th>
                <th role="gridcell">Foot D</th>
            </tr>
        </tfoot>
    </table>
</figure>


{% include content/heading.html title='Table with Alternating Rows' %}

<figure>
    <table class="zebra  highlight" role="grid" aria-readonly="true">
        <thead>
            <tr role="row">
                <th role="columnheader">Heading A</th>
                <th role="columnheader">Heading B</th>
                <th role="columnheader">Heading C</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <td role="gridcell">Cell A-1</td>
                <td role="gridcell">Cell B-1</td>
                <td role="gridcell">Cell C-1</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-2</td>
                <td role="gridcell">Cell B-2</td>
                <td role="gridcell">Cell C-2</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-3</td>
                <td role="gridcell">Cell B-3</td>
                <td role="gridcell">Cell C-3</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-4</td>
                <td role="gridcell">Cell B-4</td>
                <td role="gridcell">Cell C-4</td>
            </tr>
            <tr role="row">
                <td role="gridcell">Cell A-5</td>
                <td role="gridcell">Cell B-5</td>
                <td role="gridcell">Cell C-5</td>
            </tr>
        </tbody>
        <tfoot>
            <tr role="row">
                <th role="gridcell">Foot A</th>
                <th role="gridcell">Foot B</th>
                <th role="gridcell">Foot C</th>
            </tr>
        </tfoot>
    </table>
</figure>


{% include content/heading.html title='Table with Subheadings' %}

<figure>
    <table class="highlight" role="grid" aria-readonly="true">
        <thead>
            <tr role="row">
                <th></th>
                <th role="columnheader">Heading A</th>
                <th role="columnheader">Heading B</th>
                <th role="columnheader">Heading C</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <th role="rowheader">Subheading i</td>
                <td role="gridcell">Cell A-i</td>
                <td role="gridcell">Cell B-i</td>
                <td role="gridcell">Cell C-i</td>
            </tr>
            <tr role="row">
                <th role="rowheader">Subheading ii</td>
                <td role="gridcell">Cell A-ii</td>
                <td role="gridcell">Cell B-ii</td>
                <td role="gridcell">Cell C-ii</td>
            </tr>
        </tbody>
        <tfoot>
            <tr role="row">
                <th></th>
                <th role="gridcell">Foot A</th>
                <th role="gridcell">Foot B</th>
                <th role="gridcell">Foot C</th>
            </tr>
        </tfoot>
    </table>
</figure>


{% include content/heading.html title='Details &amp; Summary' id='details-and-summary' %}

<figure>
    <details>
        <summary>Summary</summary>
        <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
        <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
    </details>
</figure>

<figure>
    <details>
        <summary>Summary</summary>
        <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
        <p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
    </details>
</figure>


{% include content/heading.html title='Preformatted Text' %}

<figure>
    <pre>P R E F O R M A T T E D T E X T
! " # $ % & ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; < = > ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ </pre>
</figure>


{% include content/heading.html title='Code Block' %}

<figure class="nohighlight">
<pre><code>@function strip-units($number) {
    @if not $number {
        @warn "strip-units() expects at least one parameter.";
        @return false;
    }
    @return $number / ($number * 0 + 1);
}</code></pre>
</figure>


{% include content/heading.html title='Code Block with Language' %}

{% highlight scss %}
@function strip-units($number) {
    @if not $number {
        @warn "strip-units() expects at least one parameter.";
        @return false;
    }
    @return $number / ($number * 0 + 1);
}
{% endhighlight %}


{% include content/heading.html title='Extended Code Block with Language' %}

{% include content/code-toggle-top.html %}
{% highlight javascript %}
formatDate: function(date) {
    const months = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
    ];
    let day = date.getDate();
    if (day < 10) {
        day = `0${day}`;
    }
    let monthIndex = date.getMonth();
    let year = date.getFullYear();
    return `${day} ${months[monthIndex]} ${year}`;
}
{% endhighlight %}
{% include content/code-toggle-bottom.html %}


{% include content/heading.html title='Figure' %}

<figure>
    {% include content/img.html src='/images/content/SintraSkyline.png' alt='' %}
</figure>


{% include content/heading.html title='Figure with Caption' %}

<figure>
    {% include content/img.html src='/images/content/SintraSkyline.png' alt='' %}
    <figcaption>Sintra, Portugal skyline by &#133; me</figcaption>
</figure>


{% include content/heading.html title='Video' %}

<figure>
    <div class="media  media--youtube">
        <iframe src="https://www.youtube.com/embed/G7RgN9ijwE4" title="Have you ever had a dream like this?" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</figure>

<figure>
    <div class="media  media--vimeo">
        <iframe src="https://player.vimeo.com/video/11933164?color={{ site.color }}&title=0&byline=0&portrait=0" width="810" height="455" title="Cloud Lapse on Vimeo" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</figure>


{% include content/heading.html title='Buttons' %}

<figure role="group">
    <button type="button" role="button">Button</button>
    <button type="button" role="button" disabled>Button</button>
</figure>

<figure role="group">
    <button type="button" class="button--small" role="button">Button</button>
    <button type="button" class="button--small" role="button" disabled>Button</button>
</figure>


{% include content/heading.html title='Buttons List' %}

<nav class="buttons-list" role="navigation">
    <button type="button" role="button">Button</button>
    <button type="button" role="button">Button</button>
    <button type="button" role="button">Button</button>
</nav>


{% include content/heading.html title='Forms' %}

<figure role="group">
    <form class="search-form" name="search-styleguide" method="get" action="/search/" role="search">
        <label class="search-label  visually-hidden" id="search-label-styleguide" for="search-input-styleguide">Search for pages and posts</label>
        <input type="search" class="search-input" id="search-input-styleguide" name="query" value="" placeholder="Search the website" maxlength="30" aria-labelledby="search-label-styleguide" aria-required="true" required>
        <input type="submit" class="button  search-submit" id="search-button-styleguide" value="Search" role="button">
    </form>
    <form class="search-form" name="search-styleguide-disabled" method="get" action="/search/" role="search">
        <label class="search-label  visually-hidden" id="search-label-styleguide-disabled" for="search-input-styleguide">Search for pages and posts</label>
        <input type="search" class="search-input" id="search-input-styleguide-disabled" name="query" value="" placeholder="Search the website" maxlength="30" aria-labelledby="search-label-styleguide" aria-required="true" required aria-disabled="true" disabled>
        <input type="submit" class="button  search-submit" id="search-button-styleguide-disabled" value="Search" role="button" aria-disabled="true" disabled>
    </form>
</figure>


{% include content/heading.html title='Horizontal Rule' %}

<hr>


{% include content/heading.html title='Content List' %}

<ol class="content-list" role="list">
    {% for page in site.posts limit: 4 %}
        {% include components/item-content-list.html %}
    {% endfor %}
</ol>


{% include content/heading.html title='Icons' %}

<ul class="icons-list">
    <li>{% include content/svg.html type='codepen' %}</li>
    <li>{% include content/svg.html type='github' %}</li>
    <li>{% include content/svg.html type='spotify' %}</li>
    <li>{% include content/svg.html type='rss' %}</li>
    <li>{% include content/svg.html type='twitter' %}</li>
    <li>{% include content/svg.html type='article' %}</li>
    <li>{% include content/svg.html type='feather' %}</li>
    <li>{% include content/svg.html type='link' %}</li>
    <li>{% include content/svg.html type='search' %}</li>
    <li>{% include content/svg.html type='tag' %}</li>
</ul>


{% include content/heading.html title='HTML Attributes' %}

<p><em>Classes</em> should be double-space delimited.</p>

{% highlight html %}
<button class="button  button--small  js-trigger"
        rel="external  me">
</button>
{% endhighlight %}


{% include content/heading.html title='Vocabulary' %}

<p>I’m always been a proponent for establishing a useful dictionary of specific vocabulary as it pertains to a project. This helps to ensure that everyone can be understood by everyone else. It also reduces the “awkwardness” for people who might not be familiar with particular nomenclature or naming conventions and could be shy to ask for clarification—rather it makes these definitions known right off the bat, and serves as a reference for the future.</p>

<dl>
    <dt>DRY</dt>
    <dd><strong>D</strong>on’t <strong>R</strong>epeat <strong>Y</strong>ourself—<q>a principle of software development aimed at reducing repetition of all kinds.</q> <cite>(<a href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself" rel="external">Wikipedia</a>)</cite></dd>
    <dt>measure</dt>
    <dd>A unit of length, designated for specific values for one dimension of measurement, e.g. <code>margin</code>, <code>padding</code>, etc.</dd>
    <dt>size</dt>
    <dd>Also a unit of length, but denoted for specific values for two dimensions of measurement, e.g. avatars, icons, etc.</dd>
</dl>


{% include content/heading.html title='Technology' %}

<p>The CSS is compiled from SCSS using <a href="https://github.com/gulpjs/gulp#readme" rel="external">gulp.js</a> and some <a href="http://postcss.org/" rel="external">PostCSS</a>.</p>

<p><a href="http://sassdoc.com/" rel="external">SassDoc</a> is used to build the <a href="{{ site.urls.sassdoc }}" title="Sass Documentation for {{ site.url }}">SCSS Documentation</a>.</p>

<p>The front-end is compiled with <a href="https://jekyllrb.com" rel="external">Jekyll</a>, source files hosted by <a href="https://github.com" rel="external">GitHub</a>, front-end hosted by <a href="https://digitalocean.com" rel="external">DigitalOcean</a>, and sits behind <a href="https://www.cloudflare.com" rel="external">CloudFlare</a> for <dfn title="storing data so future requests for that data can be served faster">caching</dfn>, <dfn title="Secure Sockets Layer">SSL</dfn>, and as a <dfn title="Content Delivery Network">CDN</dfn>.


{% include content/heading.html title='Tone and Voice' %}

<p>Instead of trying to explain the madness behind the tone and voice of my website, I’m just going to throw out some references to some other great Content Guides which inspire me:</p>

<ul>
    <li><a rel="external" href="http://styleguide.mailchimp.com/voice-and-tone/">MailChimp Content Style Guide</a></li>
    <li><a rel="external" href="https://www.gov.uk/topic/government-digital-guidance/content-publishing">GOV.UK Content and Publishing</a></li>
    <li><a rel="external" href="https://pages.18f.gov/content-guide/voice-and-tone/">18F Content Guide</a></li>
    <li><a rel="external" href="https://buffer.com/tone-guide">Buffer Tone Guide</a></li>
    <li><a rel="external" href="http://www.economist.com/styleguide/introduction">The Economist Style Guide</a></li>
</ul>


{% include content/heading.html title='License' %}

<p>The code and contents of this website are licensed under a <a href="/license">GNU GPLv3 license</a> <a href="{{ site.urls.license }}" rel="external  license" title="GNU GPLv3 on gnu.org">(official)</a>.</p>
