---
layout: default
page_class: page-tags
searchable: no-content

title: Tags Archive
lede: A list of tags and their counterparts.
---


{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign tags_sorted = tags | split: ' ' | sort %}
{% for tag in tags_sorted %}
    <h3 id="{{ tag | slugify }}">{{ tag }} <span class="tags-count">( {{ site.tags[tag].size }} )</span><a href="#{{ tag | slugify }}" class="heading-anchor" aria-hidden="true">#{{ tag | slugify }}</a></h3>
    <ol class="small-articles-list" role="list">
        {% for post in site.tags[tag] %}
            <li role="listitem">
                {% if post.categories contains 'link' %}
                    <a href="{{ post.link_urls | first }}">
                {% else %}
                    <a href="{{ post.url }}">
                {% endif %}
                    {% if post.categories contains 'article' %}
                        <svg class="icon--article"><use xlink:href="#svg--article" /></svg>
                    {% elsif post.categories contains 'link' %}
                        <svg class="icon--link"><use xlink:href="#svg--link" /></svg>
                    {% elsif post.categories contains 'pen' %}
                        <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                    {% endif %}
                    <h4 class="title">{{ post.title }}</h4>
                    {% if post.lede %}
                        <p class="lede">{{ post.lede | truncatewords: 20 | replace: '....', '...' | replace: ',...', '...' }}</p>
                    {% elsif post.categories contains 'link' %}
                        <p class="lede"><em>Shared Link</em></p>
                    {% elsif post.categories contains 'pen' %}
                        <p class="lede"><em>Featured Pen</em></p>
                    {% endif %}
                    <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
                </a>
            </li>
        {% endfor %}
    </ol>
{% endfor %}

<nav class="nav-secondary" role="navigation">
    <a rel="me author" class="button" href="/articles">
        <svg class="icon--article"><use xlink:href="#svg--article" /></svg>
        Articles Archive
    </a>
    <a rel="me author" class="button" href="/pens">
        <svg class="icon--heart"><use xlink:href="#svg--heart" /></svg>
        Pens Archive
    </a>
    <a rel="me author" class="button" href="/links">
        <svg class="icon--link"><use xlink:href="#svg--link" /></svg>
        Links Archive
    </a>
</nav>
