---
layout: page
page_class: page--tags
searchable: no-content

title: Tags Archive
lede: A list of tags and their counterparts.
---


{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign tags_sorted = tags | split: ' ' | sort %}
{% for tag in tags_sorted %}
    {% capture tags_name %}{{ tag }} <span class="tags-count">({{ site.tags[tag].size }})</span>{% endcapture %}
    {% include content/heading.html title=tag_name id=tag %}
    <ol class="small-content-list" role="list">
        {% for page in site.tags[tag] %}
            {% include components/small-content-list-item.html %}
        {% endfor %}
    </ol>
{% endfor %}

{% include components/nav-secondary.html type='archives' exclude='tags' %}
