---
layout: default
page_class: tags-page

title: Article Tags
description: A list of tags and their prose counterparts.
---

            <p class="center-text">
                <a rel="me author" class="button" href="/archive" title="Articles Archive">Articles Archive &rarr;</a>
                <a rel="me author" class="button" href="/pens" title="Featured Pens Archive">Featured Pens Archive &rarr;</a>
            </p>

            <hr>

            <p class="center-text">
                <a rel="me author" class="button" href="/feed.xml" title="RSS">Subscribe to all</a>
                <a rel="me author" class="button" href="/feed-articles.xml" title="Articles only RSS">Subscribe to articles</a>
                <a rel="me author" class="button" href="/feed-pens.xml" title="Pens only RSS">Subscribe to pens</a>
            </p>

            {% capture tags %}
                {% for tag in site.tags %}
                    {{ tag[0] }}
                {% endfor %}
            {% endcapture %}
            {% assign sorted_tags = tags | split:' ' | sort %}
            {% for tag in sorted_tags %}
                <h3 id="{{ tag | downcase }}">{{ tag }} <span class="tags-count">({{ site.tags[tag].size }})</span><a href="#{{ tag | downcase }}" class="heading-anchor" title="#{{ tag | downcase }}" aria-hidden="true">#{{ tag | downcase }}</a></h3>
                <ul class="small-articles-list" role="list">
                    {% for post in site.tags[tag] %}
                    {% unless post.draft %}
                        {% if post.category == "codepen" %}
                            {% assign link_title = "View" %}
                        {% else %}
                            {% assign link_title = "Continue reading" %}
                        {% endif %}
                        <li>
                            <a href="{{ post.url }}" title="{{ link_title }} ‘{{ post.title }}’">
                                {% if post.category == "codepen" %}
                                    <span class="icon  codepen-icon" aria-hidden="true"><svg><use xlink:href="#svg-codepen" /></svg></span>
                                {% endif %}
                                <h4 class="small-article-title">{{ post.title }}</h4>
                                <time class="small-article-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                                {% if post.introduction %}
                                    <p class="small-article-introduction">{{ post.introduction | truncatewords: 15 |  replace: '....', '...' | replace: ',...', '...' }}</p>
                                {% endif %}
                            </a>
                        </li>
                    {% endunless %}
                    {% endfor %}
                </ul>
            {% endfor %}

            <hr>

            <p class="center-text">
                <a rel="me author" class="button" href="/feed.xml" title="RSS">Subscribe to all</a>
                <a rel="me author" class="button" href="/feed-articles.xml" title="Articles only RSS">Subscribe to articles</a>
                <a rel="me author" class="button" href="/feed-pens.xml" title="Pens only RSS">Subscribe to pens</a>
            </p>

            <hr>

            <p class="center-text">
                <a rel="me author" class="button" href="/archive" title="Articles Archive">Articles Archive &rarr;</a>
                <a rel="me author" class="button" href="/pens" title="Featured Pens Archive">Featured Pens Archive &rarr;</a>
            </p>
