---
page_class: page--talks
searchable: no-content

redirect_from:
  - /slides/index.html
  - /presentations/index.html

title: Talks
lede: All of my Talks.
---


<p><em>There are {{ site.categories.talk | size }} published Talks.</em></p>

<ol class="content-list" id="talks" role="list">
    {% for page in site.categories.talk %}
        {% include components/item-content-list.html %}
    {% endfor %}
</ol>

{% include components/nav-secondary.html type='feeds' include='talks' %}

{% include components/nav-secondary.html type='archives' exclude='talks' %}
