---
title: 88x31
description: A collection of 88x31 GIFs I have made.
show_webmentions: true
theme: dark  nineties
---

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 2em; margin-inline: auto;">
	<img src="/images/animated/88x31.gif?v7" alt="chrisburnell.com 88x31 animated badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/88x31.gif" alt="chrisburnell.com 88x31 badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 2em; margin-inline: auto;">
	<img src="/images/written-by-a-human.gif" alt="Written by a human badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/animated/built-with-eleventy.gif" alt="Built with Eleventy animated badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/built-with-eleventy.gif" alt="Built with Eleventy badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/buy-me-a-coffee.gif" alt="Buy me a coffee badge" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 2em; margin-inline: auto;">
	<img src="/images/animated/bat-country.gif" alt="visions of bats in Hunter S. Thompson's sunglasses in the movie, Fear and Loathing in Las Vegas" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/animated/kodamas.gif" alt="Kodamas rattling their heads in the movie, Princess Mononoke" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/animated/warawara.gif" alt="Warawara flying away from a hillside from the movie, The Boy and the Heron" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
	<img src="/images/animated/warawara-flying.gif" alt="Warawara flying upwards and away from the movie, The Boy and the Heron" width="88" height="31" loading="lazy" decoding="async" class=" [ pixelated ] " style="margin-inline: 0;">
</div>
