---
layout: root
title: Cryptic Crossword Guide
description: A guide to cryptic crosswords for beginners.
sitemap:
  exclude: true
theme: dark
---

<main class=" [ main ] "{% if not excludeFromSearch and not sitemap.exclude and not draft and published !== false and not 'ignore' in tags and not 'like' in tags %} data-pagefind-body{% endif %}>
	<article id="content" class="[ page ]">
		<div class="[ full-space ] [ flow ] ">
			<h1>Cryptic Crosswords</h1>
			<p class="[ beta light italic ]">A <mark style="background-color: oklch(from currentColor l c h / 90%) !important; color: inherit !important;">Guide</mark> for <mark style="background-color: oklch(from currentColor l c h / 90%) !important; color: inherit !important;">Beginners</mark></p>
		</div>

		<div class="[ full-space ] [ flow ] ">
			<p>Cryptic crosswords can be <strong>intimidating</strong>.</p>
			<p>They seem like this completely <strong>indecipherable</strong> thing that <em>other</em> people do—people who use words like <strong>indecipherable</strong>.</p>
			<p>One thing that I think puts people off from trying out cryptic crosswords is a misunderstanding that cryptic crosswords are <em>complicated</em>, but I don’t think that's the case. Instead, I think cryptic crosswords are better described as being <em>complex</em>.</p>
			<p>What this means is that cryptic crosswords are not a tangled and broken thing with missing pieces that need to be assembled by pulling magic out of the aether; rather, they are a series of different types of knots which need to be recognised and undone.</p>
			<p>In other words, you will rarely need to have encyclopedic knowledge of a great many things to solve a crossword, and instead will go through a process of recognising different types of clues and performing some action with the clue based on what you have identified.</p>
			<p>You might even think of it like being presented with a series of math problems. It’s up to you to identify whether you will need to employ addition, subtraction, multiplication, etc. for each problem, and then perform that action. This process is very similar to solving crosswords.</p>
			<p>If you’ve ever worked out a riddle, played a word search game, or said a tongue-twister, then you’re already on your way to understanding how to do cryptic crosswords without even realising it.</p>
			<p>Now, I won’t sugarcoat it, getting your head around how cryptic crosswords work is not likely to come after a quick and straightforward learning session. It requires repetition and a breadth of exposure to different clues for things to start to click.</p>
		</div>

		<div id="toc" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Table of Contents</h2>
			<ol>
				<li><a href="#process">The Process</a></li>
				<li><a href="#anagrams">Anagrams</a></li>
				<li><a href="#charades">Charades</a></li>
				<li><a href="#containers">Containers</a></li>
				<li><a href="#deletions">Deletions</a></li>
				<li><a href="#double-definitions">Double Definitions</a></li>
				<li><a href="#hidden-words">Hidden Words</a></li>
				<li><a href="#initial-final-letters">Initial or Final Letters</a></li>
				<li><a href="#odd-even-letters">Odd or Even Letters</a></li>
				<li><a href="#homophones">Homophones</a></li>
				<li><a href="#reversals">Reversals</a></li>
				<li><a href="#cryptic-definitions">Cryptic Definitions</a></li>
				<li><a href="#spoonerisms">Spoonerisms</a></li>
				<li><a href="#palindromes">Palindromes</a></li>
			</ol>
		</div>

		<div id="process" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">The Process</h2>
			<p>Working through a cryptic crossword clue usually involves a few short steps. Let’s take a look at these steps using an example clue:</p>
			<p class="delta">Table of mixed up letters (7)</p>
			<ol>
				<li>Identify the <em>type</em> of clue based on certain words or wording being used. This is usually in the form of a single word or phrase which indicates what you need to do with the clue to get the answer. → <q>mixed up</q></li>
				<li>Based on the type of clue, identify the part of the clue that needs to be manipulated to get the answer from. → <q>letters</q></li>
				<li>Lastly, find the part of the clue that contains the definition of the answer. Oftentimes, identifying this part is obvious because clues tend to avoid superfluous words, so there are only three <q>parts</q> to the clue’s phrase/sentence in the first place. → <q>table</q></li>
			</ol>
			<p>Putting this all together, the phrase <q>mixed up</q> tells us that this is an <strong>anagram</strong> type of clue, and we need to unscramble the word <q>letters</q> to get a new word that means <q>table</q>:</p>
			<p class="delta">TRESTLE</p>
		</div>

		<div id="anagrams" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Anagrams</h2>
			<div class="anagram-demo gamma center monospace" id="anagram-demo" style="display: none;">
				<span style="--order: 19;">T</span><span style="--order: 7;">O</span><span style="--order: 4;">M</span><span style="--order: 2;">&nbsp;</span><span style="--order: 16;">M</span><span style="--order: 3;">A</span><span style="--order: 8;">R</span><span style="--order: 11;">V</span><span style="--order: 12;">O</span><span style="--order: 10;" class="after">&nbsp;</span><span style="--order: 6;">L</span><span style="--order: 17;">O</span><span style="--order: 5;">&nbsp;</span><span style="--order: 18;">R</span><span style="--order: 1;">I</span><span style="--order: 9;">D</span><span style="--order: 14;">D</span><span style="--order: 13;">L</span><span style="--order: 15;">E</span>
			</div>
			<p>An anagram is a word or phrase that is formed by rearranging the letters of a different word or phrase. With these types of clues, you’ll normally find that part of the clue’s wording tells you to transform a word or phrase to form the <a href="https://en.wikipedia.org/wiki/Anagram">anagram</a> to be solved, e.g. <q>becomes</q>, <q>turns into</q>, or <q>wildly</q>.</p>
			<p>For example, given the following clue:</p>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">The mutating corona virus seems like a flesh-eater (11)</strong></p>
			<p>We know that we’re looking for an 11-letter word, and the word <q>mutating</q> is a pretty good indicator that this is an anagram-type clue. In this case, the synonym of the answer is <q>flesh-eater</q>, and if we rearrange <q>corona virus</q>, we get:</p>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">CARNIVOROUS</strong></p>
			<div class=" [ clue-example ] ">
				<p>The mutating corona virus seems like a flesh-eater (11)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 11;">
					<input type="text" maxlength="1" pattern="[Cc]" required id="anagrams-hint-1">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Rr]" required>
					<input type="text" maxlength="1" pattern="[Nn]" required>
					<input type="text" maxlength="1" pattern="[Ii]" required>
					<input type="text" maxlength="1" pattern="[Vv]" required id="anagrams-hint-2">
					<input type="text" maxlength="1" pattern="[Oo]" required>
					<input type="text" maxlength="1" pattern="[Rr]" required>
					<input type="text" maxlength="1" pattern="[Oo]" required>
					<input type="text" maxlength="1" pattern="[Uu]" required id="anagrams-hint-3">
					<input type="text" maxlength="1" pattern="[Ss]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="anagrams-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="anagrams-hint-2" class=" [ button ] ">Hint #2</button>
					<button aria-controls="anagrams-hint-3" class=" [ button ] ">Hint #3</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="charades" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Charades</h2>
			<div class=" [ clue-example ] ">
				<p>Obvious disagreement for one in court (9)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 9;">
					<input type="text" maxlength="1" pattern="[Pp]" required id="charades-hint-1">
					<input type="text" maxlength="1" pattern="[Ll]" required id="charades-hint-2">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Ii]" required>
					<input type="text" maxlength="1" pattern="[Nn]" required>
					<input type="text" maxlength="1" pattern="[Tt]" required>
					<input type="text" maxlength="1" pattern="[Ii]" required>
					<input type="text" maxlength="1" pattern="[Ff]" required>
					<input type="text" maxlength="1" pattern="[Ff]" required id="charades-hint-3">
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="charades-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="charades-hint-2" class=" [ button ] ">Hint #2</button>
					<button aria-controls="charades-hint-3" class=" [ button ] ">Hint #3</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="containers" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Containers</h2>
			<div class=" [ clue-example ] ">
				<p>Apostle's friend outside of university (4)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 4;">
					<input type="text" maxlength="1" pattern="[Pp]" required>
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Uu]" required id="containers-hint-1">
					<input type="text" maxlength="1" pattern="[Ll]" required id="containers-hint-2">
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="containers-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="containers-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="deletions" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Deletions</h2>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">Celebration for heartless feast (4)</strong></p>
			<ol>
				<li>The identifier word is <q>heartless</q><br>Celebration for <em>heartless</em> feast (4)</li>
				<li>The identifier word is working on <q>feast</q><br>Celebration for <em>heartless</em> <strong>feast</strong> (4)</li>
				<li>Which means the definition of our answer is <q>celebration</q><br><u>Celebration</u> for <em>heartless</em> <strong>feast</strong> (4)</li>
			</ol>
			<p><strong>feast</strong> without its <em>heart</em> (its middle letter) gives us <strong>fest</strong>, which means <u>celebration</u>!</p>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">FEST</strong></p>
			<div class=" [ clue-example ] ">
				<p>Celebration for heartless feast (4)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 4;">
					<input type="text" maxlength="1" pattern="[Ff]" required id="deletions-hint-1">
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Ss]" required>
					<input type="text" maxlength="1" pattern="[Tt]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="deletions-hint-1" class=" [ button ] ">Hint #1</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="double-definitions" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Double Definition</h2>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">Not seeing window covering (5)</strong></p>
			<ol>
				<li>There isn’t an identifier word in particular here, which indicates that this <em>could</em> be a Double Definition type of clue; however TODOOOOOOOOOO</li>
				<li>The identifier word is working on <q>feast</q><br>Celebration for <em>heartless</em> <strong>feast</strong> (4)</li>
				<li>Which means the definition of our answer is <q>celebration</q><br><u>Celebration</u> for <em>heartless</em> <strong>feast</strong> (4)</li>
			</ol>
			<p><strong>feast</strong> without its <em>heart</em> (its middle letter) gives us <strong>fest</strong>, which means <u>celebration</u>!</p>
			<p class="center"><strong style="display: inline-block; background-color: oklch(from currentColor l c h / 90%); padding-inline: 0.5em">BLIND</strong></p>
			<div class=" [ clue-example ] ">
				<p>Not seeing window covering (5)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 5;">
					<input type="text" maxlength="1" pattern="[Bb]" required id="double-definitions-hint-1">
					<input type="text" maxlength="1" pattern="[Ll]" required>
					<input type="text" maxlength="1" pattern="[Ii]" required id="double-definitions-hint-2">
					<input type="text" maxlength="1" pattern="[Nn]" required>
					<input type="text" maxlength="1" pattern="[Dd]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="double-definitions-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="double-definitions-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="hidden-words" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Hidden Words</h2>
			<div class=" [ clue-example ] ">
				<p>Found ermine, deer hides damaged (10)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 10;">
					<input type="text" maxlength="1" pattern="[Uu]" required id="hidden-words-hint-1">
					<input type="text" maxlength="1" pattern="[Nn]" required>
					<input type="text" maxlength="1" pattern="[Dd]" required>
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Rr]" required>
					<input type="text" maxlength="1" pattern="[Mm]" required id="hidden-words-hint-2">
					<input type="text" maxlength="1" pattern="[Ii]" required id="hidden-words-hint-3">
					<input type="text" maxlength="1" pattern="[Nn]" required>
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Dd]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="hidden-words-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="hidden-words-hint-2" class=" [ button ] ">Hint #2</button>
					<button aria-controls="hidden-words-hint-3" class=" [ button ] ">Hint #3</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="initial-final-letters" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Initial or Final Letters</h2>
			<div class=" [ clue-example ] ">
				<p>At first, actor needing new identity emulates orphan in musical theatre (5)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 5;">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Nn]" required id="initial-final-letters-hint-1">
					<input type="text" maxlength="1" pattern="[Nn]" required id="initial-final-letters-hint-2">
					<input type="text" maxlength="1" pattern="[Ii]" required>
					<input type="text" maxlength="1" pattern="[Ee]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="initial-final-letters-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="initial-final-letters-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="odd-even-letters" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Odd or Even Letters</h2>
			<div class=" [ clue-example ] ">
				<p>Odd stuff of Mr. Waugh is set for someone wanting women to vote (10)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 10;">
					<input type="text" maxlength="1" pattern="[Ss]" required>
					<input type="text" maxlength="1" pattern="[Uu]" required id="odd-even-letters-hint-1">
					<input type="text" maxlength="1" pattern="[Ff]" required>
					<input type="text" maxlength="1" pattern="[Ff]" required>
					<input type="text" maxlength="1" pattern="[Rr]" required>
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Gg]" required id="odd-even-letters-hint-2">
					<input type="text" maxlength="1" pattern="[Ii]" required>
					<input type="text" maxlength="1" pattern="[Ss]" required>
					<input type="text" maxlength="1" pattern="[Tt]" required id="odd-even-letters-hint-3">
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="odd-even-letters-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="odd-even-letters-hint-2" class=" [ button ] ">Hint #2</button>
					<button aria-controls="odd-even-letters-hint-3" class=" [ button ] ">Hint #3</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="homophones" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Homophones</h2>
			<div class=" [ clue-example ] ">
				<p>Though we heard one heir, eight to pump up (6)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 4;">
					<input type="text" maxlength="1" pattern="[Ae]" required id="homophones-hint-1">
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Rr]" required id="homophones-hint-2">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Tt]" required>
					<input type="text" maxlength="1" pattern="[Ee]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="homophones-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="homophones-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="reversals" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Reversals</h2>
			<div class=" [ clue-example ] ">
				<p>Returned beer fit for a king (5)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 5;">
					<input type="text" maxlength="1" pattern="[Rr]" required>
					<input type="text" maxlength="1" pattern="[Ee]" required id="reversals-hint-1">
					<input type="text" maxlength="1" pattern="[Gg]" required>
					<input type="text" maxlength="1" pattern="[Aa]" required id="reversals-hint-2">
					<input type="text" maxlength="1" pattern="[Ll]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="reversals-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="reversals-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="cryptic-definitions" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Cryptic Definitions</h2>
			<div class=" [ clue-example ] ">
				<p>Flower of London? (6)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 6;">
					<input type="text" maxlength="1" pattern="[Tt]" required id="cryptic-definitions-hint-1">
					<input type="text" maxlength="1" pattern="[Hh]" required>
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Mm]" required id="cryptic-definitions-hint-2">
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Ss]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="cryptic-definitions-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="cryptic-definitions-hint-2" class=" [ button ] ">Hint #2</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="spoonerisms" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Spoonerisms</h2>
			<div class=" [ clue-example ] ">
				<p>Dead end for a dull cossack, according to Spooner (3-2-3)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 8;">
					<input type="text" maxlength="1" pattern="[Cc]" required id="spoonerisms-hint-1">
					<input type="text" maxlength="1" pattern="[Uu]" required>
					<input type="text" maxlength="1" pattern="[Ll]" required>
					<input type="text" maxlength="1" pattern="[Dd]" required id="spoonerisms-hint-2">
					<input type="text" maxlength="1" pattern="[Ee]" required>
					<input type="text" maxlength="1" pattern="[Ss]" required id="spoonerisms-hint-3">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Cc]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="spoonerisms-hint-1" class=" [ button ] ">Hint #1</button>
					<button aria-controls="spoonerisms-hint-2" class=" [ button ] ">Hint #2</button>
					<button aria-controls="spoonerisms-hint-3" class=" [ button ] ">Hint #3</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>

		<div id="palindromes" class="[ full-space ] [ flow ] ">
			<h2 class="alpha">Palindromes</h2>
			<div class=" [ clue-example ] ">
				<p>She's a lady, whichever way you look at it! (5)</p>
				<div class=" [ clue-example-inputs ] " style="--length: 5;">
					<input type="text" maxlength="1" pattern="[Mm]" required id="palindromes-hint-1">
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Dd]" required>
					<input type="text" maxlength="1" pattern="[Aa]" required>
					<input type="text" maxlength="1" pattern="[Mm]" required>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button aria-controls="palindromes-hint-1" class=" [ button ] ">Hint #1</button>
				</div>
				<div class=" [ clue-example-controls ] ">
					<button data-type="solve" class=" [ button ] ">Solve</button>
					<button data-type="reset" class=" [ button ] ">Reset</button>
				</div>
			</div>
			<p><strong><a href="#toc" tabindex="-1">↑ Table of Contents</a></strong></p>
		</div>
	</article>
</main>

{% css -%}
.main {
	padding-block-end: 0;
}

h1,
h1 + p {
	max-inline-size: 80vi;
	text-align: center;
	text-wrap: balance;
}

.full-space {
	scroll-snap-align: initial;
	outline: 2px solid currentColor;
	outline-offset: -1px;
}
.full-space:not(:has(h1)) {
	min-block-size: 50dvh;
	grid-template-columns: auto [space-start] min(800px, 100%) [space-end] auto;
}

.full-space > * {
	grid-column: space;
}

.full-space h2 {
	padding-block-end: 0;
	line-height: var(--line-height-small);
	box-shadow: none;
}

.clue-example {
	background-color: oklch(from currentColor l c h / 90%);
	display: grid;
	gap: 1em;
	align-items: end;
	padding: 1em;
	border-radius: var(--size-border-default);
}
@container (inline-size > 850px) {
	.clue-example {
		grid-template-columns: 3fr 2fr;
	}
	.clue-example p,
	.clue-example-inputs {
		grid-column: 1 / 3;
	}
	.clue-example-controls:last-of-type {
		text-align: end;
	}
}
.clue-example p {
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-small);
}
.clue-example-inputs {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2px;
	row-gap: 0.667em;

	& input {
		flex: 0 0 3.5rem;
		aspect-ratio: 1;
		min-inline-size: 0;
		display: grid;
		place-items: center;
		padding: 0;
		border: 0;
		border-radius: 0;
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-gamma);
		font-weight: var(--font-weight-semibold);
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		user-select: all;

		&:focus {
			z-index: var(--z-index-above);
		}
	}

	&:not(:has(input:not(:valid))) input,
	& [disabled] {
		opacity: 1;
		color: var(--color-snowy);
		--raven-hue: 175deg;
		--color-raven: oklch(var(--raven-lightness) var(--raven-chroma) var(--raven-hue));
		background-color: color-mix(in oklab, var(--color-raven), var(--color-thunder) 33%);
	}
}

.clue-example-controls:not(:last-of-type) button {
	font-size: var(--font-size-small-max);
}

[data-type="reset"] {
	--raven-hue: 45deg;
	--color-raven: oklch(var(--raven-lightness) var(--raven-chroma) var(--raven-hue));
	background-color: color-mix(in oklab, var(--color-raven), var(--color-thunder) 33%);
}

[data-type="solve"] {
	--raven-hue: 175deg;
	--color-raven: oklch(var(--raven-lightness) var(--raven-chroma) var(--raven-hue));
	background-color: color-mix(in oklab, var(--color-raven), var(--color-thunder) 33%);
}

.anagram-demo {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.anagram-demo span {
	flex: 0 0 4.5rem;
	order: 999;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	outline: 2px solid red;
	outline-offset: -1px;
	transition: order 0s linear calc(var(--order, 0) * 0.1s);
}
.anagram-demo:hover span {
	order: var(--order);
}
.anagram-demo:not(:hover) .after,
.anagram-demo:hover .before {
	opacity: 0;
	inline-size: 0;
	flex-basis: 0;
}
{%- endcss %}

<script>
const examples = document.querySelectorAll(".clue-example");

examples.forEach((example) => {
	const inputs = example.querySelectorAll("input");
	const hintButtons = example.querySelectorAll("[aria-controls*=hint]");
	const resetButton = example.querySelector("[data-type=reset]");
	const solveButton = example.querySelector("[data-type=solve]");

	// Control <input> elements
	inputs.forEach((input, index) => {
		input.addEventListener("focus", (event) => {
			input.select();
		});

		input.addEventListener("input", (event) => {
			if (!input.value.length) {
				return;
			}

			// Check if all inputs are valid
			const fullMatch = [...inputs].reduce((match, input) => {
				return match && input.value.toUpperCase() === input.getAttribute("pattern").match(/[A-Z]/)?.[0];
			}, true);

			if (fullMatch) {
				inputs.forEach((input) => {
					input.disabled = true;
				});
				hintButtons.forEach((button) => {
					button.disabled = true;
				});
				solveButton.disabled = true;
				return;
			}

			// Loop until a next valid input is found and focus it
			let nextIndex = (index + 1) % inputs.length;
			while (inputs[nextIndex].getAttribute("disabled") !== null && nextIndex !== index) {
				nextIndex = (nextIndex + 1) % inputs.length;
			}

			if (nextIndex === index) {
				return;
			}

			inputs[nextIndex].focus();
		});

		input.addEventListener("keyup", (event) => {
			if (event.key === "Backspace" && !input.value.length) {
				// Loop until a previous valid input is found and focus it
				let previousIndex = (index - 1) % inputs.length;
				while (inputs[previousIndex].getAttribute("disabled") !== null && previousIndex !== index) {
					previousIndex = (previousIndex - 1) % inputs.length;
				}

				if (previousIndex < 0 || previousIndex === index) {
					return;
				}

				inputs[previousIndex].focus();
			}
		});
	});

	// Control Hint buttons
	hintButtons.forEach((button) => {
		const rid = button.getAttribute("aria-controls");
		const input = [...inputs].filter((input) => input.id === rid)[0];
		const letter = input.pattern.match(/[A-Z]/)?.[0];
		button.addEventListener("click", (event) => {
			input.value = letter;
			input.setAttribute("value", letter);
			input.disabled = true;
			button.disabled = true;
		});
	});

	// Set up reset button
	resetButton.addEventListener("click", (event) => {
		inputs.forEach((input) => {
			input.value = "";
			input.removeAttribute("value");
			input.removeAttribute("disabled");
		});
		hintButtons.forEach((button) => {
			button.removeAttribute("disabled");
		});
		solveButton.removeAttribute("disabled");
	});

	// Set up solve button
	solveButton.addEventListener("click", (event) => {
		inputs.forEach((input) => {
			const letter = input.pattern.match(/[A-Z]/)?.[0];
			input.value = letter;
			input.setAttribute("value", letter);
			input.disabled = true;
		});
		hintButtons.forEach((button) => {
			button.disabled = true;
		});
		solveButton.disabled = true;
	});
});
</script>
