---
title: CSS Naked Day
description: A countdown to CSS Naked Day.
---

<figure class=" [ box ] [ gamma ] ">
	<event-countdown name="CSS Naked Day" annual="true">CSS Naked Day starts on <time start datetime="{{ global.currentYear }}-04-09T00:00:00+14:00">9 April 00:00:00 UTC+14</time> and ends on <time end datetime="{{ global.currentYear }}-04-09T23:59:59-12:00">9 April 23:59:59 UTC-12</time>.</event-countdown>
</figure>

<nav class=" [ grid ] [ navigator ] ">
	<a href="https://css-naked-day.github.io/" class=" [ button ] " rel="external noopener">CSS Naked Day →</a>
</nav>

<p>I’ve participated in the following years:</p>

<ol>
	<li><a href="https://css-naked-day.github.io/2025.html" rel="external noopener">2025</a></li>
	<li><a href="https://css-naked-day.github.io/2024.html" rel="external noopener">2024</a></li>
	<li><a href="https://css-naked-day.github.io/2023.html" rel="external noopener">2023</a></li>
</ol>

<hr>

<p>See also: <a href="/js-naked-day/">JS Naked Day</a></p>

<script type="module">{% include '../../../node_modules/@chrisburnell/event-countdown/event-countdown.js' %}</script>
