---
layout: root
title: Dark
description: "TODO"
characters:
  - id: jonas
    name: Jonas Kahnwald <br>/ Adam
    images:
      - Jonas-Kahnwald-Teenager.jpeg
      - Jonas-Kahnwald-Adult.png
      - Adam.png
  - id: mikkel
    name: "Mikkel Nielsen <br>/ Michael Kahnwald"
    images:
      - Mikkel-Nielsen-Young.png
      - Mikkel-Nielsen-Adult.png
  - id: hannah
    name: Hannah Kahnwald
    images:
      - Hannah-Kahnwald-Young.jpeg
      - Hannah-Kahnwald-Adult.jpeg
  - id: ulrich
    name: Ulrich Nielsen
    images:
      - Ulrich-Nielsen-Teenager.jpeg
      - Ulrich-Nielsen-Adult.png
      - Ulrich-Nielsen-Old.jpeg
  - id: katharina
    name: Katharina Nielsen
    images:
      - Katharina-Teenager.jpeg
      - Katharina-Adult.jpeg
---

<main>
	<article id="content" class=" [ wrap ] [ page ] ">
		<div class=" [ content ] [ flow ] [ e-content ] ">
			<div class="family-tree  ft1" style="display: none;">
				{% for character in characters %}
					<div id="character-{{ character.id }}" style="grid-area: {{ character.id }};">
						<p>{{ character.name | safe }}</p>
						<div class="image-grid">
							{% for image in character.images %}
								<img src="/images/dark/{{ image }}" alt="" />
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				<div class="marriage  child" style="grid-area: j1;"></div>
				<div class="marriage  child" style="grid-area: j2;"></div>
			</div>
			<div class="family-tree  ft2">
				<div class="vr  bottom-only" style="grid-area: ulrichT;">
					<p>Ulrich Nielsen<br>1986</p>
					<div class="image-grid">
						<img src="/images/dark/Ulrich-Nielsen-Teenager.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  bottom-only" style="grid-area: katharinaT;">
					<p>Katharina Albers<br>1986</p>
					<div class="image-grid">
						<img src="/images/dark/Katharina-Teenager.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  bottom-only" style="grid-area: hannahT;">
					<p>Hannah Krüger<br>1986</p>
					<div class="image-grid">
						<img src="/images/dark/Hannah-Kahnwald-Young.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: ulrichA;">
					<p>Ulrich Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Ulrich-Nielsen-Adult.png" alt="" />
					</div>
				</div>
				<div class="vr  bottom-only" style="grid-area: ulrichA2;">
					<p>Ulrich Nielsen<br>1986</p>
					<div class="image-grid">
						<img src="/images/dark/Ulrich-Nielsen-Adult.png" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: ulrichO;">
					<p>Ulrich Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Ulrich-Nielsen-Old.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: katharinaA;">
					<p>Katharina Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Katharina-Adult.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: hannahA;">
					<p>Hannah Kahnwald<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Hannah-Kahnwald-Adult.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: mikkelY; --line-color: cyan;">
					<p>Mikkel Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Mikkel-Nielsen-Young.png" alt="" />
					</div>
				</div>
				<div class="vr  bottom-only  hr  left-only" style="grid-area: mikkelT; --hr-line-color: lime;">
					<p>Michael Kahnwald<br>1986</p>
					<div class="image-grid">
						<img src="/images/dark/Mikkel-Nielsen-Young.png" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: mikkelA;">
					<p>Michael Kahnwald<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Mikkel-Nielsen-Adult.png" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: jonas; --line-color: cyan;">
					<p>Jonas Kahnwald<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Jonas-Kahnwald-Teenager.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: magnus;">
					<p>Magnus Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Magnus.jpeg" alt="" />
					</div>
				</div>
				<div class="vr  top-only" style="grid-area: martha;">
					<p>Martha Nielsen<br>2019</p>
					<div class="image-grid">
						<img src="/images/dark/Martha.png" alt="" />
					</div>
				</div>
				<div class="vr  bottom-only  hr  left-only" style="grid-area: l01; color: lime;"></div>
				<div class="vr  bottom-only  hr  right-only" style="grid-area: l02; color: lime;"></div>
				<div class="vr" style="grid-area: l03; color: lime;"></div>
				<div class="vr" style="grid-area: l04;"></div>
				<div class="vr" style="grid-area: l05;"></div>
				<div class="vr" style="grid-area: l06; color: lime;"></div>
				<div class="vr" style="grid-area: l07;"></div>
				<div class="vr" style="grid-area: l08;"></div>
				<div class="vr  top-only  hr  right-only" style="grid-area: l09; color: lime;"></div>
				<div class="vr  bottom-only  hr" style="grid-area: l10; color: cyan;"></div>
				<div class="vr" style="grid-area: l11; color: lime;"></div>
				<div class="vr  bottom-only  hr" style="grid-area: l12; color: cyan;"></div>
				<div class="vr  hr" style="grid-area: l13; color: cyan;"></div>
				<div class="vr" style="grid-area: l14; color: lime;"></div>
				<div class="vr" style="grid-area: l15; color: cyan;"></div>
				<div class="hr" style="grid-area: l16; color: lime;"></div>
				<div class="vr  top-only  hr  left-only" style="grid-area: l17; color: lime;"></div>
				<div class="vr" style="grid-area: l18;"></div>
				<div class="vr  bottom-only  hr  right-only" style="grid-area: l19; color: cyan;"></div>
				<div class="vr  bottom-only  hr  left-only" style="grid-area: l20; color: cyan;"></div>
			</div>
		</div>
	</article>
</main>

<style>
.family-tree {
	display: grid;
	align-items: end;
	justify-content: center;

	& > div {
		--image-size: 4.5em;
		--line-size: 4px;

		display: flex;
		flex-direction: column-reverse;
		gap: 0.5em;
		text-align: center;
		line-height: 1.3;

		& > p {
			block-size: 2lh;
			white-space: nowrap;
			text-shadow: 0 1px 4px light-dark(var(--color-snowy), var(--color-mineshaft));
			z-index: 3;
		}
	}
}

.ft1 {
	grid-template:
		"ulrich j1     katharina .     " 1fr
		".      mikkel j2        hannah" 1fr
		".      .      jonas     .     " 1fr /
		 1fr    1fr    1fr       1fr;
}

.ft2 {
	grid-template:
		"ulrichA2  l01   ulrichT  .        katharinaT  l02  mikkelT   .      hannahT" 2fr
		"l18       l03   l04      .        l05         l06  l07       .      l08    " 1fr
		"ulrichO   l09   ulrichA  l10      katharinaA  l11  mikkelA   l12    hannahA" 2fr
		".         .     l19      l13      l20         l14  .         l15    .      " 1fr
		".         .     magnus   martha   mikkelY     l17  .         jonas  .      " 2fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.image-grid {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	z-index: 2;

	& > img {
		inline-size: var(--image-size);
		aspect-ratio: 1;
		display: block;
		border-radius: 50%;
		object-fit: cover;
		margin: 0;
		outline: 2px solid;

		& + img {
			margin-inline-start: calc(var(--image-size) * -2/9);
		}
	}
}

:is(.vr, .hr) {
	block-size: 100%;
	position: relative;
}

.hr {
	&::before {
		content: "";
		background-color: color-mix(in oklab, var(--hr-line-color, var(--line-color, currentColor)), light-dark(var(--color-snowy), var(--color-mineshaft)));
		inline-size: 160%;
		block-size: var(--line-size);
		position: absolute;
		top: calc(100% - 2lh - 0.5em - var(--image-size) / 2 - var(--line-size) / 2);
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
}

.vr {
	&::after {
		content: "";
		background-color: color-mix(in oklab, var(--vr-line-color, var(--line-color, currentColor)), light-dark(var(--color-snowy), var(--color-mineshaft)));
		inline-size: var(--line-size);
		block-size: 200%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
	}
}

.top-only::after {
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2lh - 0.5em - var(--image-size) / 2 + var(--line-size) / 2), 0% calc(100% - 2lh - 0.5em - var(--image-size) / 2 + var(--line-size) / 2));
}

.bottom-only::after {
	clip-path: polygon(0% calc(100% - 2lh - 0.5em - var(--image-size) / 2), 100% calc(100% - 2lh - 0.5em - var(--image-size) / 2), 100% 100%, 0% 100%);
}

.left-only::before {
	clip-path: polygon(0% 0%, calc(50% + var(--line-size) / 2) 0%, calc(50% + var(--line-size) / 2) 100%, 0% 100%);
}

.right-only::before {
	clip-path: polygon(calc(50% - var(--line-size) / 2) 0%, 100% 0%, 100% 100%, calc(50% - var(--line-size) / 2) 100%);
}
</style>
