---
layout: base
title: Explore
description: A great big list of all the pages, projects, posts on my website.
---

<article class=" [ pantheon ] [ wrap ] [ perch ] ">
	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ descriptionLong | default(description) | markdownFormat | safe }}
	</div>

	<div id="content" class=" [ content ] [ flow ] generate-toc">
		{% if global.isJSNakedDay -%}
			{% include 'js-naked-day.njk' %}
		{%- endif %}

		<div class=" [ flow ] [ e-content ] ">
			<h2>Pages</h2>

			<ul class=" [ grid ] [ shelf  shelf--wide ] ">
				<li>
					<a href="/search/" class=" [ gamma ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--search"></use></svg></c-emoji>Search</a>
					<p>Looking for something?</p>
				</li>
				<li>
					<a href="/about/" class=" [ gamma ] "><c-emoji><picture><source srcset="/images/avatar-emoji.avif" type="image/avif"><source srcset="/images/avatar-emoji.webp" type="image/webp"><img src="/images/avatar-emoji.png" alt="" style="inline-size: 1.25em; block-size: 1.25em; object-fit: contain;"></picture></c-emoji>About</a>
					<p>Learn more about me.</p>
				</li>
				<li>
					<a href="/cv/" class=" [ gamma ] "><c-emoji>🪪</c-emoji>CV</a>
					<p>My curriculum vitae / résumé.</p>
				</li>
				<li>
					<a href="/blogroll/" class=" [ gamma ] "><c-emoji>✨</c-emoji>Blogroll</a>
					<p>Blogs that I follow.</p>
				</li>
				<li>
					<a href="/feeds/" class=" [ gamma ] "><c-emoji><svg aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>Feeds</a>
					<p>You can follow my posts from different web feeds, depending on what content you'd like to see.</p>
				</li>
				<li>
					<a href="/links/" class=" [ gamma ] "><c-emoji>🔗</c-emoji>Links</a>
					<p>Find me all over the web (mostly)!</p>
				</li>
				<li>
					<a href="/ideas/" class=" [ gamma ] "><c-emoji>💡</c-emoji>/ideas</a>
					<p>Things I’d like to work on.</p>
				</li>
				<li>
					<a href="/interests/" class=" [ gamma ] "><c-emoji>⭐</c-emoji>/interests</a>
					<p>A list of things I like in no particular order.</p>
				</li>
				<li>
					<a href="/now/" class=" [ gamma ] "><c-emoji>⏲️</c-emoji>/now</a>
					<p>Stuff that I’m doing now (or at least recently)!</p>
				</li>
				<li>
					<a href="/podroll/" class=" [ gamma ] "><c-emoji>🎙️</c-emoji>/podroll</a>
					<p>A list of podcasts that I enjoy.</p>
				</li>
				<li>
					<a href="/sitemap/" class=" [ gamma ] "><c-emoji>🗺️</c-emoji>/sitemap</a>
					<p><em>All</em> the pages on this website.</p>
				</li>
				<li>
					<a href="/uses/" class=" [ gamma ] "><c-emoji>🛠️</c-emoji>/uses</a>
					<p>A list of stuff I use day-to-day.</p>
				</li>
				<li>
					<a href="/guestbook/" class=" [ gamma ] "><c-emoji>🖋️</c-emoji>Guestbook</a>
					<p>My guestbook, powered by Webmentions!</p>
				</li>
				<li>
					<a href="/help/" class=" [ gamma ] "><c-emoji>❓</c-emoji>Help!</a>
					<p>Get in touch if you want my help!</p>
				</li>
				<li>
					<a href="/listening/" class=" [ gamma ] "><c-emoji>🎧</c-emoji>Listening</a>
					<p>What have I been listening to? Powered by Last.fm.</p>
				</li>
				<li>
					<a href="/stats/" class=" [ gamma ] "><c-emoji>📊</c-emoji>Stats</a>
					<p>Numbers, cause why not?</p>
				</li>
				<li>
					<a href="/styleguide/" class=" [ gamma ] "><c-emoji>🎨</c-emoji>Style Guide</a>
					<p>The style guide for this website.</p>
				</li>
				<li>
					<a href="/indieweb/" class=" [ gamma ] "><c-emoji>{% image './images/content/indiewebcamp.svg', 'IndieWebCamp logo', '', ['auto'], 'inline-size: 1em; block-size: 1em; object-fit: contain;' %}</c-emoji>IndieWeb</a>
					<p>How I've implemented and interact with the IndieWeb.</p>
				</li>
				<li>
					<a href="/license/" class=" [ gamma ] "><c-emoji>📄</c-emoji>License</a>
					<p>Terms of the license that content of this website falls under.</p>
				</li>
				<li>
					<a href="/privacy/" class=" [ gamma ] "><c-emoji>🔐</c-emoji>Privacy Policy</a>
					<p>Your right to privacy on this website.</p>
				</li>
				<li>
					<a href="/88x31/" class=" [ gamma ] "><c-emoji>🖌️</c-emoji>88x31</a>
					<p>A list of 88x31 badges I’ve made.</p>
				</li>
				<li>
					<a href="/ghoti/" class=" [ gamma ] "><c-emoji>🤷</c-emoji>The Absurdity of English</a>
					<p>Things that make the English language weird.</p>
				</li>
			</ul>

			<hr>

			<h2><a href="/projects/">Projects</a></h2>

			<ul class=" [ grid ] [ shelf  shelf--wide ] ">
				<li>
					<a href="/projects/#web" class=" [ gamma ] "><c-emoji>💻</c-emoji>Web Projects</a>
					<p>Projects made for the web.</p>
				</li>
				<li>
					<a href="/projects/#personal" class=" [ gamma ] "><c-emoji>🙋</c-emoji>Personal Projects</a>
					<p>Projects that I only really made for myself.</p>
				</li>
				<li>
					<a href="/projects/#past-versions" class=" [ gamma ] "><c-emoji>📜</c-emoji>Past Versions</a>
					<p>Previous versions of this website.</p>
				</li>
			</ul>

			<hr>

			<h2><a href="/posts/#collections">Collections</a></h2>

			<ul class=" [ grid ] [ shelf  shelf--wide ] ">
				<li>
					<a href="/posts/#latest" class=" [ gamma ] "><c-emoji>🆕</c-emoji>Latest Posts <sup>{{ site.limits.latest }}</sup></a>
					<p>Latest posts on the blog.</p>
				</li>
				<li>
					<a href="/writing/" class=" [ gamma ] "><c-emoji>✍️</c-emoji>Writing <sup>{{ collections.writings | noRSSOnlyFilter | getCollectionCount }}</sup></a>
					<p>A more serious collection of ideas and bits of prose.</p>
				</li>
				<li>
					<a href="/blog/" class=" [ gamma ] "><c-emoji>📄</c-emoji>Blog <sup>{{ collections.blogPosts | noRSSOnlyFilter | getCollectionCount }}</sup></a>
					<p>A broader collection of blog posts.</p>
				</li>
				<li>
					<a href="/replies/" class=" [ gamma ] "><c-emoji>↪️</c-emoji>Replies <sup>{{ collections.replies | noRSSOnlyFilter | getCollectionCount }}</sup></a>
					<p>Replies I’ve made to other people.</p>
				</li>
				<li>
					<a href="/rsvps/" class=" [ gamma ] "><c-emoji>📩</c-emoji>RSVPs <sup>{{ collections.rsvps | noRSSOnlyFilter | getCollectionCount }}</sup></a>
					<p>A record of RSVPs to conferences and meet-ups.</p>
				</li>
				<li>
					<a href="/popular/" class=" [ gamma ] "><c-emoji>📊</c-emoji>Popular Pages <sup>{{ site.limits.feed }}</sup></a>
					<p>Top pages ordered by pageviews and responses.</p>
				</li>
				<li>
					<a href="/hot/" class=" [ gamma ] "><c-emoji>🔥</c-emoji>Hot Pages <sup>{{ site.limits.feed }}</sup></a>
					<p>Top pages ordered by pageviews and responses over time.</p>
				</li>
			</ul>

			<hr>

			<h2 id="categories"><a href="/posts/#categories">Post Categories</a></h2>

			<ul class=" [ grid ] [ shelf ] " data-layout="natural" style="--row-gap: var(--size-medium);">
				{%- for item in collections.categories -%}
					{%- set count = collections[item.title] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
					<li>
						<a href="/{{ item.plural }}/" class=" [ gamma ] "><c-emoji>{{ item.emoji | default('📄') }}</c-emoji>{{ item.properPlural | title }} <sup>{{ count }}</sup></a>
						<p>
					</li>
				{%- endfor -%}
			</ul>

			<hr>

			<h2 id="tags"><a href="/posts/#tags">Post Tags</a></h2>

			<ul class=" [ grid ] [ shelf ] " data-layout="natural" style="--row-gap: var(--size-small);">
				{%- set lowest = Infinity -%}
				{%- set highest = 0 -%}
				{%- for item in collections.tags | sort -%}
					{%- set count = collections[item] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
					{%- if count < lowest -%}
						{%- set lowest = count -%}
					{%- elif count > highest -%}
						{%- set highest = count -%}
					{%- endif -%}
				{%- endfor -%}
				{%- for item in collections.tags | sort -%}
					{%- set count = collections[item] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
					{# map range from lowest–highest to 1–1.5, 3 decimal places #}
					{%- set fontSize = count | rangeMap(lowest, highest, 1, 1.5, 3) -%}
					<li><a href="/tag/{{ item }}/" class=" [ strong ] " style="font-size: {{ fontSize }}em;">{{ item }} <sup>{{ count }}</sup></a></li>
				{%- endfor -%}
			</ul>

			<hr>

			<h2>
				<a href="/feeds/#collections">
					<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>Collection Feeds
				</a>
			</h2>

			<ul class=" [ grid ] [ shelf  shelf--wide ] ">
				<li>
					<a href="{{ site.url + '/feed.xml' }}" class=" [ gamma ] "><c-emoji>🆕</c-emoji>Latest Posts <sup>{{ site.limits.feed }}</sup></a>
					<p>Latest posts on the blog.</p>
				</li>
				<li>
					<a href="{{ site.url + '/writing.xml' }}" class=" [ gamma ] "><c-emoji>✍️</c-emoji>Writing <sup>{{ site.limits.feed }}</sup></a>
					<p>A more serious collection of ideas and bits of prose.</p>
				</li>
				<li>
					<a href="{{ site.url + '/replies.xml' }}" class=" [ gamma ] "><c-emoji>↪️</c-emoji>Replies <sup>{{ site.limits.feed }}</sup></a>
					<p>Replies I’ve made to other people.</p>
				</li>
				<li>
					<a href="{{ site.url + '/rsvps.xml' }}" class=" [ gamma ] "><c-emoji>📩</c-emoji>RSVPs <sup>{{ site.limits.feed }}</sup></a>
					<p>A record of RSVPs to conferences and meet-ups.</p>
				</li>
			</ul>

			<hr>

			<h2>
				<a href="/feeds/#categories">
					<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>Category Feeds
				</a>
			</h2>

			<ul class=" [ grid ] [ shelf ] " data-layout="natural" style="--row-gap: var(--size-medium);">
			{% for item in collections.categories -%}
				{%- set count = collections[item.title] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
				<li><a href="{{ site.url }}/{{ item.plural }}.xml" class=" [ gamma ] "><c-emoji>{{ item.emoji | default('📄') }}</c-emoji>{{ item.properPlural | title }} <sup>{{ count }}</sup></a></li>
			{%- endfor %}
			</ul>

			<hr>

			<h2>
				<a href="/feeds/#tags">
					<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>Tag Feeds
				</a>
			</h2>

			<ul class=" [ grid ] [ shelf ] " data-layout="natural" style="--row-gap: var(--size-small);">
			{%- set lowest = Infinity -%}
			{%- set highest = 0 -%}
			{%- for item in collections.tags | sort -%}
				{%- set count = collections[item] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
				{%- if count < lowest -%}
					{%- set lowest = count -%}
				{%- elif count > highest -%}
					{%- set highest = count -%}
				{%- endif -%}
			{%- endfor -%}
			{% for item in collections.tags | sort -%}
				{%- set count = collections[item] | arePublished | noRSSOnlyFilter | getCollectionCount -%}
				{%- set fontSize = count | rangeMap(lowest, highest, 1, 1.375, 3) -%}
				<li><a href="{{ site.url }}/tag/{{ item }}.xml" class=" [ strong ] " style="font-size: {{ fontSize }}em;">{{ item }} <sup>{{ count }}</sup></a></li>
			{%- endfor %}
			</ul>
		</div>
	</div>
</article>
