---
permalink: "/index.html"
layout: base
title: The Homepage
eleventyComputed:
  tagline: "{{ site.tagline | safe }}"
  description: "{{ site.description | safe }}"
sitemap:
  changefreq: daily
  priority: 1.0
excludeFromSearch: true
---
{%- from 'macros/deckItem.njk' import deckItem -%}
{%- from "macros/shelfItem.njk" import shelfItem -%}
<article class=" [ pantheon ] [ wrap ] [ page ] [ perch ] ">
	<h1 id="title" class=" [ title{% if title_error %}  title--negative{% elif title_success %}  title--positive{% endif %} ] ">
		<span class=" [ p-name ] ">{% if global.isCSSNakedDay %}{{ tagline | replace('CSS', '<s>CSS</s>') | safe }}{% else %}{{ tagline | safe }}{% endif %}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] " aria-hidden="true">
		{{ description | markdownFormat | safe | replace('href=', 'tabindex="-1" href=') }}
	</div>

	<div class=" [ content ] [ flow ] ">
		{% if global.isJSNakedDay -%}
			{% include 'js-naked-day.njk' %}
		{%- endif %}

		{% if author.employer.title != '' -%}
			{% include 'lfw.njk' %}
		{%- endif %}

		{% if site.conferences.sotb.date | isUpcoming(14) -%}
			{% include 'state-of-the-browser.njk' %}
		{%- endif %}

		<div id="content" class=" [ flow ] [ e-content ] ">

			{% if collections.rsvpsToday.length %}
				<div class=" [ box  box--line-length ] [ flow ] ">
					<h2 id="today-rsvps">
						<a href="/rsvps/">Events I’m attending</a>
					</h2>
					<div class=" [ deck ] ">
						{% for item in collections.rsvpsToday %}
							{{ deckItem(item, { truncate: true }) }}
						{% endfor %}
					</div>
				</div>

				<hr>
			{% endif %}

			<h2 id="latest">Latest Posts</h2>
			<div class=" [ deck ] [ h-feed ] ">
				{% for item in collections.pinned %}
					{{ deckItem(item, { hfeed: true, truncate: true, show_pinned: true }) }}
				{% endfor %}
				{% for item in collections.features | noPinnedFilter | rssOnlyFilter | limit(site.limits.homepage - (collections.pinned.length | default(0))) %}
					{{ deckItem(item, { hfeed: true, truncate: true }) }}
				{% endfor %}
			</div>
			<nav class=" [ grid ] [ navigator ] " aria-label="Writing Navigation">
				<a href="/posts/#latest" class=" [ button ] ">Browse Posts</a>
			</nav>

			<hr>

			<h2 id="projects">Latest Projects</h2>
			<div class=" [ deck ] ">
				{% for item in collections.projects | limit(site.limits.feature) %}
					{{ deckItem(item) }}
				{% endfor %}
			</div>
			<nav class=" [ grid ] [ navigator ] " aria-label="Projects Navigation">
				<a href="/projects/" class=" [ button ] ">Browse Projects</a>
			</nav>

			<hr>

			<h2 id="popular">
				<a href="/popular/">Popular Pages</a>
			</h2>
			<div class=" [ deck ] ">
				{% for item in collections.popular | limit(site.limits.feature) %}
					{{ deckItem(item, { truncate: true }) }}
				{% endfor %}
			</div>

			{% if collections.rsvpsUpcoming.length %}
				<hr>

				<div class=" [ box  box--line-length ] [ flow ] ">
					<h2 id="upcoming-rsvps">
						<a href="/rsvps/">Upcoming events I’m attending</a>
					</h2>
					<div class=" [ deck ] ">
						{% for item in collections.rsvpsUpcoming %}
							{{ deckItem(item, { truncate: true }) }}
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{#
			{% if collections.onThisDay.length %}
				<hr>

				<div class=" [ box  box--line-length ] [ flow ] ">
					<h2 id="on-this-day">On this day</h2>
					<div class=" [ deck ] ">
						{% for item in collections.onThisDay %}
							{{ deckItem(item, { truncate: true }) }}
						{% endfor %}
					</div>
				</div>
			{% endif %}
			#}
		</div>
	</div>

	<div class=" [ meta ] " data-pagefind-ignore>
		<div class=" [ grid ] " data-rows="masonry">
			{% include 'meta/index.njk' %}
		</div>
	</div>
</article>
