---
title: JS Naked Day
description: A countdown to JS Naked Day.
---

<figure class=" [ box ] [ gamma ] ">
	<event-countdown name="JS Naked Day" annual="true">JS Naked Day starts on <time start datetime="{{ global.currentYear }}-04-24T00:00:00+14:00">24 April 00:00:00 UTC+14</time> and ends on <time end datetime="{{ global.currentYear }}-04-24T23:59:59-12:00">24 April 23:59:59 UTC-12</time>.</event-countdown>
</figure>

<nav class=" [ grid ] [ navigator ] ">
	<a href="https://js-naked-day.org/" class=" [ button ] " rel="external noopener">JS Naked Day →</a>
</nav>

<p>I’ve participated in the following years:</p>

<ol>
	<li><a href="https://js-naked-day.org/2024" rel="external noopener">2024</a></li>
</ol>

<hr>

<p>See also: <a href="/css-naked-day/">CSS Naked Day</a></p>

<script type="module">{% include '../../../node_modules/@chrisburnell/event-countdown/event-countdown.js' %}</script>
