---
title: Pixel Art
description: A collection of pixel art I have made.
show_responses: true
theme: dark  nineties
redirect_from:
  - /pixelart
css_includes:
  - src/css/pages/pixel-art.scss
---

<div class=" [ showcase ] ">
	<img src="/images/raven-glitched-border.png" alt="A pixel-art version of my raven logo made to look glitched/intended for 3D glasses" width="208" height="208" loading="lazy" decoding="async">
	<img src="/images/avatar-pixelated.png" alt="A pixel art version of Chris Burnell" width="200" height="200" loading="lazy" decoding="async">
	<img src="/images/content/bowhead.png" alt="A pixel art graphic of a bowhead whale, which is coming towards the viewer, its tail fading into the dark water around it" width="528" height="186" loading="lazy" decoding="async">
	<img src="/images/content/double-double.png" alt="A pixel-art image of a 1990’s-era cup of Tim Horton’s coffee" width="174" height="240" loading="lazy" decoding="async">
	<img src="/images/content/pentatonic.png" alt="A simple pixel-art graphic of some piano keys where the keys of the C Major Pentatonic scale are highlighted" width="258" height="143" loading="lazy" decoding="async">
	<img src="/images/content/rolbie-stamp-standalone.png" alt="A monochrome pixel-art image of a stamp featuring an adorable little cow’s head" width="120" height="170" loading="lazy" decoding="async">
</div>

<h2>88x31s</h2>

<div class=" [ showcase ] ">
	<img src="/images/animated/88x31.gif?v7" alt="chrisburnell.com 88x31 animated badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/88x31.gif" alt="chrisburnell.com 88x31 badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/written-by-a-human.gif" alt="Written by a human badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/buy-me-a-coffee.gif" alt="Buy me a coffee badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/powered-by-echofeed-orange.gif" alt="Powered by EchoFeed badge (orange)" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/powered-by-echofeed-white.gif" alt="Powered by EchoFeed badge (white)" width="88" height="31" loading="lazy" decoding="async">
</div>

<h3 class=" [ italic ] ">The Eleventy Series</h3>

<div class=" [ showcase ] ">
	<img src="/images/built-with-eleventy.gif" alt="Built with Eleventy badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/animated/built-with-eleventy.gif" alt="Built with Eleventy animated badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/animated/built-with-eleventy-long.gif" alt="Built with Eleventy animated badge" width="88" height="31" loading="lazy" decoding="async">
	<img src="/images/animated/built-with-eleventy-long-alternate.gif" alt="Built with Eleventy animated badge" width="88" height="31" loading="lazy" decoding="async">
</div>
