---
title: Style Guide
description: The style guide for <span class="canada">this website</span>.
toc: true
css_includes:
  - /pages/styleguide.css
---
{%- from 'macros/deckItem.njk' import deckItem -%}
{%- from "macros/shelfItem.njk" import shelfItem -%}
{%- from "macros/stackItem.njk" import stackItem -%}

<h2>Colours</h2>

<ul id="colors" class=" [ palette ] ">
	{%- for name, color in designTokens.colors -%}
		<li class=" [ background--{{ name }} ] {% if name == 'aspen' or name == 'conifer' or name == 'maple' %}[ third ] {% endif %}"{% if name == 'raven' or name == 'thunder' or name == 'snowy' %} style="flex: 1 0 100%;"{% endif %}>
			<h3>{{ name | title }}</h3>
			<pre style="font-size: var(--font-size-small-min);">{{ color }}</pre>
			{% if name == 'raven' -%}
				<pre style="display: none;">color-mix(in oklab, goldenrod 15.33%, steelblue)</pre>
				<pre style="font-size: var(--font-size-small-min);">#5f8aa6</pre>
			{% elif name == 'thunder' -%}
				<pre style="display: none;">color-mix(in oklab, black 69.77%, darkgray)</pre>
				<pre style="font-size: var(--font-size-small-min);">#0b0b0b</pre>
			{% elif name == 'snowy' -%}
				<pre style="display: none;">color-mix(in oklab, black 1.79%, white)</pre>
				<pre style="font-size: var(--font-size-small-min);">#e4e4e4</pre>
			{%- endif %}
		</li>
	{%- endfor -%}
</ul>

<div class=" [ box ] [ center ] " style="inline-size: var(--size-line-length); inline-size: fit-content; text-wrap: balance;">
	<p>Also available as a <a href="/Ravenous.gpl">palette file</a> for your favourite image/pixel editor!</p>
</div>

<hr>

<h2>Sizes</h2>

<dl>
	{%- for name, size in designTokens.sizes -%}
		<dt>{{ name | supertitle }}</dt>
		<dd><div class=" [ size-example  size-example--{{ name }} ] " title="{{ size.minWidth }}–{{ size.maxWidth }}"></div></dd>
	{%- endfor -%}
</dl>

<hr>

<h2>Font Families</h2>

<div class=" [ flow ] " style="--flow-space: 1rem">
	<div style="font-family: var(--font-family-sans);">{{ designTokens['font-families']['sans'] | replace('"', '') | replace("'", '') }}</div>
	<div style="font-family: var(--font-family-serif);">{{ designTokens['font-families']['serif'] | replace('"', '') | replace("'", '') }}</div>
	<div style="font-family: var(--font-family-monospace);">{{ designTokens['font-families']['monospace'] | replace('"', '') | replace("'", '') }}</div>
</div>

<hr>

<h2>Headings</h2>

<div class=" [ flow ] " style="--flow-space: 1rem">
	<div class="alpha">Heading Level 1</div>
	<div class="beta">Heading Level 2</div>
	<div class="gamma">Heading Level 3</div>
	<div class="delta">Heading Level 4</div>
	<div class="epsilon">Heading Level 5</div>
	<div class="zeta">Heading Level 6</div>
</div>

<hr>

<h2>Paragraph</h2>

<p>A paragraph (from the Greek paragraphos, <q>to write beside</q> or <q>written beside</q>) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<p class="columns">A paragraph (from the Greek paragraphos, <q>to write beside</q> or <q>written beside</q>) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<!--
<hr>

<h2>Aside</h2>

<aside>
	<p>An aside represents a section of the page with content connected tangentially to the rest, which could be considered separate from that content.</p>
</aside>
-->

<p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<hr>

<h2>Inline Elements</h2>

<p><a href="#paragraph">This is a text link</a></p>

<p><button class=" [ anchor ] ">This is a button styled to look like a text link</button></p>

<p><strong>Strong is used to indicate strong importance</strong></p>

<p><em>This text has added emphasis</em></p>

<p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

<p>The <i>i element</i> is text that is set off from the normal text</p>

<p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

<p>The <del>del element</del> denotes removed content while the <ins>ins element</ins> indicates content that has been added</p>

<p>The <s>s element</s> denotes content that has been revised but kept for historical sake</p>

<p>Superscript for things like: {{ 4 | ordinal | safe }} of August; a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>; 5,490.35 km<sup>2</sup></p>

<p>Subscript for things like: H<sub>2</sub>O; H<sub>2</sub>SO<sub>4</sub>; C<sub>24</sub>H<sub>26</sub>O<sub>7</sub></p>

<p>The <small>small element</small> is for fine print</p>

<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

<p>Acronym: <abbr class="acronym" title="National Aeronautics and Space Administration">Nasa</abbr></p>

<p>This text has <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">a short inline quotation</q></p>

<p>This text has <q>a short inline quotation with <q>another short inline quotation</q> spoken by a different voice</q></p>

<p>This text has <span lang="fr"><q>une citation en incise</q></span> demonstrating quotes from non-English languages.</p>

<p>The <dfn title="definition element">dfn element</dfn> indicates a definition</p>

<p>The <mark>mark element</mark> indicates a highlight</p>

<p>This is what <code>inline code</code> looks like</p>

<p>This is <samp>sample output</samp> from a computer program</p>

<p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>

<p>Keyboard input: <kbd>Ctrl</kbd> <kbd>Alt</kbd> <kbd>Del</kbd></p>

<hr>

<h2>Blockquotes</h2>

<blockquote>
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
	<cite>Quote Source</cite>
</blockquote>

<hr>

<h2>Unordered Lists</h2>

<ul>
	<li>This is a list item in an unordered list</li>
	<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
	<li>
		Lists can be nested inside of each other
		<ul>
			<li>This is a nested list item</li>
			<li>This is another nested list item in an unordered list</li>
		</ul>
	</li>
	<li>This is the last list item</li>
</ul>

<hr>

<h2>Ordered Lists</h2>

<ol>
	<li>This is a list item in an ordered list</li>
	<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
	<li>
		Lists can be nested inside of each other
		<ol>
			<li>This is a nested list item</li>
			<li>This is another nested list item in an ordered list</li>
		</ol>
	</li>
	<li>This is the last list item</li>
</ol>

<c-details>
	<summary class=" [ gamma ] ">Reversed</summary>
	<ol reversed>
		<li>This is a list item in an ordered list</li>
		<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
		<li>This is the last list item</li>
	</ol>
</c-details>

<hr>

<h2>Description Lists</h2>

<dl>
	<dt>Description List</dt>
	<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
	<dt>This is a term.</dt>
	<dd>This is the description of that term, which both live in a <code>dl</code>.</dd>
	<dt>And another term.</dt>
	<dd>And it gets a description too, which is this line.</dd>
</dl>

<hr>

<h2>Form Elements</h2>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-text"><strong>Text Input</strong></label>
	<input id="form-example-text" type="text" value="Hello, wibble!" style="font-size: 1em; inline-size: 100%; max-inline-size: 16em;">
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-number"><strong>Number Input</strong></label>
	<input id="form-example-number" type="number" value="6261414" style="font-size: 1em; inline-size: 100%; max-inline-size: 16em;">
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-search"><strong>Search Input</strong></label>
	<input id="form-example-search" type="search" value="CSS" style="font-size: 1em; inline-size: 100%; max-inline-size: 16em;">
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-url"><strong>URL Input</strong></label>
	<input id="form-example-url" type="url" value="https://chrisburnell.com" style="font-size: 1em; inline-size: 100%; max-inline-size: 16em;">
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-textarea"><strong>Textarea</strong></label>
	<textarea id="form-example-textarea" style="font-size: 1em; line-height: var(--line-height-small); min-block-size: 6em; min-block-size: 3.5lh; max-block-size: 16em; max-block-size: min(10lh, 90vb); min-inline-size: 10em; inline-size: 16em; max-inline-size: 100%; resize: both;">For every spark of creativity found in the depths of night, plucking away on the keyboard on my own, there are a hundred more that erupt like a lightning storm from being around such amazing people and captivating conferences and meet-ups.</textarea>
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<label for="form-example-select"><strong>Select</strong></label>
	<select id="form-example-select" style="inline-size: 100%; max-inline-size: 16em;">
		<option>Aspen</option>
		<option>Conifer</option>
		<option selected>Maple</option>
	</select>
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<strong>Checkbox</strong>
	<div style="display: flex; gap: 1em;">
		<span>
			<label for="form-example-checkbox-a">A</label>
			<input id="form-example-checkbox-a" name="form-example-checkbox" type="checkbox" checked>
		</span>
		<span>
			<label for="form-example-checkbox-b">B</label>
			<input id="form-example-checkbox-b" name="form-example-checkbox" type="checkbox">
		</span>
		<span>
			<label for="form-example-checkbox-c">C</label>
			<input id="form-example-checkbox-c" name="form-example-checkbox" type="checkbox">
		</span>
	</div>
</div>

<div style="display: flex; flex-direction: column; align-items: start;" autocomplete="off">
	<strong>Radio</strong>
	<div style="display: flex; gap: 1em;">
		<span>
			<label for="form-example-radio-a">A</label>
			<input id="form-example-radio-a" name="form-example-radio" type="radio" checked>
		</span>
		<span>
			<label for="form-example-radio-b">B</label>
			<input id="form-example-radio-b" name="form-example-radio" type="radio">
		</span>
		<span>
			<label for="form-example-radio-c">C</label>
			<input id="form-example-radio-c" name="form-example-radio" type="radio">
		</span>
	</div>
</div>

<hr>

<h2>Tables</h2>

<table>
	<thead>
		<tr>
			<th>Heading A</th>
			<th>Heading B</th>
			<th>Heading C</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cell A-1</td>
			<td>Cell B-1</td>
			<td>Cell C-1</td>
		</tr>
		<tr>
			<td>Cell A-2</td>
			<td>Cell B-2</td>
			<td>Cell C-2</td>
		</tr>
		<tr>
			<td>Cell A-3</td>
			<td>Cell B-3</td>
			<td>Cell C-3</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Foot A</th>
			<th>Foot B</th>
			<th>Foot C</th>
		</tr>
	</tfoot>
</table>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Rows</summary>
	<table class="zebra--horizontal">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
			</tr>
			<tr>
				<td>Cell A-4</td>
				<td>Cell B-4</td>
				<td>Cell C-4</td>
			</tr>
			<tr>
				<td>Cell A-5</td>
				<td>Cell B-5</td>
				<td>Cell C-5</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Columns</summary>
	<table class="zebra--vertical">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
				<th>Heading D</th>
				<th>Heading E</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
				<td>Cell D-1</td>
				<td>Cell E-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
				<td>Cell D-2</td>
				<td>Cell E-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
				<td>Cell D-3</td>
				<td>Cell E-3</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
				<th>Foot D</th>
				<th>Foot E</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Rows & Columns</summary>
	<table class="zebra">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
				<th>Heading D</th>
				<th>Heading E</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
				<td>Cell D-1</td>
				<td>Cell E-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
				<td>Cell D-2</td>
				<td>Cell E-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
				<td>Cell D-3</td>
				<td>Cell E-3</td>
			</tr>
			<tr>
				<td>Cell A-4</td>
				<td>Cell B-4</td>
				<td>Cell C-4</td>
				<td>Cell D-4</td>
				<td>Cell E-4</td>
			</tr>
			<tr>
				<td>Cell A-5</td>
				<td>Cell B-5</td>
				<td>Cell C-5</td>
				<td>Cell D-5</td>
				<td>Cell E-5</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
				<th>Foot D</th>
				<th>Foot E</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Sub-headings</summary>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Subheading 1</th>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
			</tr>
			<tr>
				<th>Subheading 2</th>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
			</tr>
			<tr>
				<th>Subheading 3</th>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<hr>

<h2>Figures</h2>

<figure>
	{% image './images/content/cabot-tower.jpeg', 'A photograph of Cabot Tower on Signal Hill in St. John’s, Newfoundland, the site where Marconi’s first trans-Atlantic radio broadcast was received' %}
	<figcaption><p><a href="https://www.pc.gc.ca/apps/dfhd/page_fhbro_eng.aspx?id=3263">Cabot Tower</a> in <a href="https://www.openstreetmap.org/#map=12/47.5651/-52.7860">St. John’s, Newfoundland</a></p></figcaption>
</figure>

<!--
<hr>

<h2>Meter</h2>

<meter value="40" min="0" low="10" optimum="50" high="90" max="100" style="padding-block: var(--size-small);"></meter>
-->

<!--
<hr>

<h2>Progress</h2>

<progress style="padding-block: var(--size-small);">progress</progress>
-->

<hr>

<h2>Preformatted Text</h2>

<pre>P R E F O R M A T T E D T E X T
! " # $ % & ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; < = > ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~</pre>

<hr>

<h2>Code Blocks</h2>

<pre class="language-html"><code tabindex="0" class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ol</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>table-of-contents<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>Chapter 1<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
	<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>Chapter 2<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ol</span><span class="token punctuation">&gt;</span></span></code></pre>

<pre class="language-css"><code tabindex="0" class="language-css"><span class="token selector">.grid</span> <span class="token punctuation">{</span>
	<span class="token property">display</span><span class="token punctuation">:</span> grid<span class="token punctuation">;</span>
	<span class="token property">grid-template-columns</span><span class="token punctuation">:</span> <span class="token function">repeat</span><span class="token punctuation">(</span>
		<span class="token function">var</span><span class="token punctuation">(</span>--placement<span class="token punctuation">,</span> auto-fill<span class="token punctuation">)</span><span class="token punctuation">,</span>
		<span class="token function">minmax</span><span class="token punctuation">(</span>
			<span class="token function">var</span><span class="token punctuation">(</span>--grid-min-inline-size<span class="token punctuation">,</span> 12em<span class="token punctuation">)</span><span class="token punctuation">,</span>
			<span class="token function">var</span><span class="token punctuation">(</span>--grid-max-inline-size<span class="token punctuation">,</span> 1fr<span class="token punctuation">)</span>
		<span class="token punctuation">)</span>
	<span class="token punctuation">)</span><span class="token punctuation">;</span>
	<span class="token property">column-gap</span><span class="token punctuation">:</span> <span class="token function">var</span><span class="token punctuation">(</span>--column-gap<span class="token punctuation">,</span> <span class="token function">var</span><span class="token punctuation">(</span>--gap<span class="token punctuation">,</span> <span class="token function">var</span><span class="token punctuation">(</span>--size-gutter<span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
	<span class="token property">row-gap</span><span class="token punctuation">:</span> <span class="token function">var</span><span class="token punctuation">(</span>--row-gap<span class="token punctuation">,</span> <span class="token function">var</span><span class="token punctuation">(</span>--gap<span class="token punctuation">,</span> <span class="token function">var</span><span class="token punctuation">(</span>--size-gutter<span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span></code></pre>

<pre class="language-javascript"><code tabindex="0" class="language-javascript"><span class="token keyword">const</span> now <span class="token operator">=</span> Date<span class="token punctuation">.</span><span class="token function">now</span><span class="token punctuation">(</span><span class="token punctuation">);</span>

<span class="token keyword">const</span> currentYear <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getFullYear</span><span class="token punctuation">(</span><span class="token punctuation">);</span>
<span class="token keyword">const</span> startEpoch <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token template-string"><span class="token template-punctuation string">`</span><span class="token interpolation"><span class="token interpolation-punctuation punctuation">${</span>currentYear<span class="token interpolation-punctuation punctuation">}</span></span><span class="token string">-04-09T00:00:00+14:00</span><span class="token template-punctuation string">`</span></span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getTime</span><span class="token punctuation">(</span><span class="token punctuation">);</span>
<span class="token keyword">const</span> endEpoch <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token template-string"><span class="token template-punctuation string">`</span><span class="token interpolation"><span class="token interpolation-punctuation punctuation">${</span>currentYear<span class="token interpolation-punctuation punctuation">}</span></span><span class="token string">-04-09T23:59:59-12:00</span><span class="token template-punctuation string">`</span></span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getTime</span><span class="token punctuation">(</span><span class="token punctuation">);</span>

<span class="token keyword">const</span> isCSSNakedDay <span class="token operator">=</span> startEpoch <span class="token operator">&lt;=</span> now <span class="token operator">&amp;&amp;</span> now <span class="token operator">&lt;=</span> endEpoch<span class="token punctuation">;</span>

<span class="token keyword">export</span> <span class="token keyword">default</span> isCSSNakedDay<span class="token punctuation">;</span></code></pre>

<pre data-language="bash" class="language-bash"><code tabindex="0" class="language-bash"><span class="token function">npm</span> <span class="token function">install</span> @chrisburnell/bowhead</code></pre>

<hr>

<h2>Buttons</h2>

<div class=" [ grid ] [ navigator ] ">
	<button>Button</button>
	<button disabled>Disabled</button>
	<a href="#buttons" class=" [ button ] ">Styled Anchor</a>
</div>

<hr>

<h2>Details</h2>

<c-details>
	<summary>Summary</summary>
	<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
	<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
</c-details>

<hr>

<h2>Audio</h2>

<figure class=" [ media ] ">
	<audio src="/audio/mononoke-hime.mp3" loading="lazy" decoding="async" controls style="max-inline-size: 480px; margin-inline: auto;"></audio>
</figure>

<hr>

<h2>Video</h2>

<figure class=" [ media ] ">
	<video src="/images/animated/whywastetime.mp4" controls loading="lazy" decoding="async" style="max-inline-size: 480px; margin-inline: auto; aspect-ratio: 480 / 270;"></video>
</figure>

<hr>

<h2>Boxes</h2>

<div class=" [ box ] [ flow ] ">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit id nulla vitae maximus.</p>
</div>

<div class=" [ box  box--success ] [ flow ] ">
	<p>Hey—this box means something good happened!</p>
</div>

<div class=" [ box  box--warning ] [ flow ] ">
	<p>Uh oh, this box might mean something went wrong.</p>
</div>

<div class=" [ box  box--error ] [ flow ] ">
	<p>Uh oh, this box <strong>definitely</strong> means something went wrong.</p>
</div>

<hr>

<h2>Deck</h2>

<div id="list-deck" class=" [ deck ] ">
{% for item in collections.hot | rssOnlyFilter | limit(site.limits.deck) %}
	{{ deckItem(item, { show_pageviews: false, truncate: true }) }}
{% endfor %}
</div>

<hr>

<h2>Shelf</h2>

<div id="list-shelf-beer" class=" [ grid ] [ shelf ] " style="--grid-inline-size: 10em;">
{% for item in collections.beer | arePublished | keySort('data.rating', global.flexibleSorting) | reverse | limit(site.limits.shelf) %}
	{{ shelfItem(item, { show_images: true, truncate: true }) }}
{% endfor %}
</div>

<div id="list-shelf-music" class=" [ grid ] [ shelf  shelf--square ] " style="--grid-inline-size: 10em;">
{% for item in collections.music | arePublished | keySort('data.rating', global.flexibleSorting) | reverse | limit(site.limits.shelf) %}
	{{ shelfItem(item, { show_images: true, truncate: true }) }}
{% endfor %}
</div>

<hr>

<h2>Stack</h2>

<div id="list-stack" class=" [ stack ] ">
{% for item in collections.features | rssOnlyFilter | limit(site.limits.shelf) %}
	{{ stackItem(item, { show_pageviews: false, show_category: true, show_collections: true, show_tags: false }) }}
{% endfor %}
</div>

<hr>

<h2>Sparklines</h2>

<div class=" [ grid ] " style="--grid-min-inline-size: 212px;">
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true" animate="true" start-label="Start" end-label="End"></svg-sparkline>
	</article>
	<article class="sparkline-dark" style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true" animate="true" start-label="Start" end-label="End"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" endpoint-color="var(--color-maple)"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" endpoint="false"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" fill="true" endpoint-color="var(--color-maple)"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="matrix">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="koala">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="red-alert">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
</div>

<p class="italic">Like these? Check out <a href="/svg-sparkline/">how they work</a> with out my custom Web Component, <code>&lt;svg-sparkline&gt;</code>.</p>

<p class="italic">Or the sound the make? <a href="/pentatonic/">Pentatonic</a> uses the Web Audio API to generate fun little melodies from data.</p>

<hr>

<h2>Can I use... Widget</h2>

{% browserSupport 'css-has' %}

<p class="italic">I keep track of a whole bunch of different browser features over on my <a href="/feature-watch/">Browser Feature Watch</a> project.</p>

<script type="module">{% include '../../../node_modules/@chrisburnell/svg-sparkline/svg-sparkline.js' %}</script>
