////
/// Ads
/// @group components
////

.ads {
    @include owl;
    @include v(margin-top, gigantic);
}

.ad {
    width: 100%;
    @include v(max-width, breakpoint-small);
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    a {
        &,
        &:hover,
        &:focus,
        &:active {
            color: inherit;
            text-decoration: none;
        }
    }
}

.ad__wrap {
    display: flex;
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.ad__split {
    @include v(background-color, black--delta);
    background-clip: padding-box;
    display: flex;
    align-items: center;
    @include v(padding, medium);
    border-top: var(--border-width-thin) solid var(--color-raven--beta);
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
}

.ad__image {
    border-radius: 0 0 0 var(--border-radius-thin);
    border-right-width: 0;
    justify-content: center;
    margin: 0;
    line-height: 1;

    img {
        display: block;
    }
}

.ad__content {
    flex: 1;
    border-radius: 0 0 var(--border-radius-thin) 0;
    border-left-width: 0;
    @include v(line-height, small);
}

.ad__label {
    @include case(uppercase);
    @include v(color, kaiser);
    display: block;
    @include v(padding, small);
    font-size: var(--font-scale--1);
    @include v(font-weight, bold);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

[id="carbonads"] {
    @extend .ad;
    min-height: 9.75rem;
}
.carbon-wrap {
    @extend .ad__wrap;
}
.carbon-img,
.carbon-text {
    @extend .ad__split;
}
.carbon-img {
    @extend .ad__image;

    img {
        width: 130px !important;
        height: 100px !important;
    }
}
.carbon-text {
    @extend .ad__content;
}
.carbon-poweredby {
    @extend .ad__label;
}
