////
/// Ads
/// @group components
////

.ads {
	@include owl;
	@include v(margin-block-start, gigantic);

	@include media("print") {
		display: none;
	}
}

.ad {
	inline-size: 100%;
	@include v(max-inline-size, breakpoint-small);
	display: flex;
	flex-direction: column;

	margin-inline-start: auto;
	margin-inline-end: auto;

	a {
		&,
		&:hover,
		&:focus,
		&:active {
			color: inherit;
			text-decoration: none;
		}
	}
}

.ad__wrap {
	display: flex;
	flex: 1;
	display: flex;
	overflow: hidden;
	position: relative;
}

.ad__split {
	background-color: h(thunder, delta);
	@include v(padding, medium);
	border-block-start: var(--measure-border-thin) solid h(raven, beta);
	border-radius: 0 0 var(--measure-border-default) var(--measure-border-default);
	background-clip: padding-box;
	display: flex;
	align-items: center;
}

.ad__image {
	border-radius: 0 0 0 var(--measure-border-default);
	border-inline-end-width: 0;
	justify-content: center;
	margin: 0;
	line-height: 1;

	img {
		display: block;
	}
}

.ad__content {
	flex: 1;
	border-radius: 0 0 var(--measure-border-default) 0;
	border-inline-start-width: 0;
	@include v(line-height, small);
}

.ad__label {
	@include case(uppercase);
	color: h(kaiser);
	display: block;
	@include v(padding, small);
	@include v(font-size, small);
	@include v(font-weight, bold);
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

[id="carbonads"] {
	@extend .ad;
	min-block-size: 9.75rem;

	& > span {
		display: flex;
		flex-direction: column-reverse;
	}
}
.carbon-wrap {
	@extend .ad__wrap;
	@include v(box-shadow, medium);
}
.carbon-img,
.carbon-text {
	@extend .ad__split;
}
.carbon-img {
	@extend .ad__image;

	img {
		inline-size: 130px !important;
		block-size: 100px !important;
	}
}
.carbon-text {
	@extend .ad__content;
}
.carbon-poweredby {
	@extend .ad__label;
}
