////
/// Anchor
/// @group components
////

a {
    h2 & {
        @include v(color, kaiser);
        @include v(text-decoration-color, transparent);
        @include v(text-decoration-thickness, border-thin);
        @include v(text-underline-offset, border-default);
    }

    // hide extra content, text targetted only to screen readers
    :not(.cf-wrapper) > & span:not([class]) {
        @include hidden;
    }
}

// Fancy gradient anchor text
.colourful-anchor {
    &:hover,
    &:focus,
    &:active {
        background-image: linear-gradient(to bottom right, var(--color-raven), var(--color-canada));
        background-clip: text;
        text-fill-color: transparent;
        box-decoration-break: clone;
        text-shadow: none;
    }
}

// Fragment Anchors inside Headings
.fragment-anchor {
    @include case(lowercase);
    @include font-family(monospace);
    @include v(color, dove);
    display: none;
    visibility: hidden;
    @include v(padding-left, small);
    @include v(padding-right, small);
    position: absolute;
    top: var(--measure-border-thin);
    right: calc(var(--measure-small) * -1);
    font-size: inherit;
    @include v(font-weight, bold);
    @include v(line-height);
    text-shadow: none;

    h2:hover &,
    h2:focus &,
    h2:active &,
    &:target {
        display: inline-block;
        visibility: visible;
    }
}

// Related Anchors
.related-anchor::after {
    // NO-BREAK SPACE, RIGHTWARDS ARROW
    content: " →";
}

// Anchor Target Animation
h2,
sup,
li {
    &[id] {
        &:target {
            animation: anchor-target var(--animation-duration) var(--animation-function);

            @at-root {
                @keyframes anchor-target {
                    0%,
                    50% {
                        @include v(background-color, highlight);
                    }
                    100% {
                        @include v(background-color, transparent);
                    }
                }
            }
        }
    }
}
