////
/// Author
/// @group components
////

.author {
	@include media("below:medium") {
		@include owl(small);
	}
}

.author__information {
	@include owl(small);
	@include font-family(serif);
	color: inherit;
	display: flex;
	flex-direction: column;
	@include v(font-size, small);
	font-style: italic;
	@include v(line-height, medium);
	text-align: center;
	text-decoration: none;

	@include media("below:small") {
		@include v(margin-block-end, gutter);
	}

	@include media("below:medium") {
		float: left;
		float: inline-start;
		@include v(margin-inline-end, gap);
		@include v(margin-block-end, gap);
	}

	@include media("above:medium") {
		float: right;
		float: inline-end;
		@include v(margin-inline-start, gap);
	}

	&::before {
		@include non-interactive;
		content: "";
		opacity: 0;
		background-image: url("/images/avatar-pixelated.png");
		background-size: 100%;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
		@include transition(opacity long, visibility);
		transition: opacity v(transition-duration) v(transition-function), visibility 0s linear v(transition-duration);
		@include v(z-index);
	}

	&:is(:hover, :focus, :active) {
		&::before {
			opacity: 1;
			transition: opacity v(transition-duration, long) v(transition-function);
		}
	}

	%collection-anchors {
		color: inherit;
		@include font-family(default);
		@include v(font-size);
		font-style: normal;
		@include v(font-weight, bold);
		text-decoration-color: transparent;
	}

	&:is(:hover, :focus, :active) {
		%collection-anchors {
			text-decoration-color: h(maple);
		}
	}
}

.author__image {
	flex-grow: 0;
	flex-shrink: 0;
	@include v(flex-basis, avatar);
	@include v(block-size, avatar);
	float: left;
	float: inline-start;
	position: relative;
	--color-shadow: #{h(thunder, gamma)};
	@include v(box-shadow, inset);
	text-decoration: none !important;
	@include transition(opacity);
}

.author__image,
.author__image img,
.author__information::before {
	@include v(inline-size, avatar);
	@include v(block-size, avatar);
	border-radius: 50%;

	@supports (shape-outside: circle(50%)) {
		shape-outside: circle(50%);
	}
}

.author__biography {
	@include v(font-size, small);

	@include media("above:medium") {
		text-align: end;
	}
}

.author__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
