////
/// Box
/// @group components
////

.box {
    @include v(background-color, thunder--delta);
    @include v(padding, medium);
    border-top: var(--measure-border-thin) solid var(--color-raven--beta);
    border-radius: var(--measure-border-hairline) var(--measure-border-hairline) var(--measure-border-default) var(--measure-border-default);
    background-clip: padding-box;
}
