////
/// Box
/// @group components
////

.box {
	@include owl(medium);
	background-color: h(thunder, delta);
	@include v(padding, medium);
	border-block-start: var(--measure-border-thin) solid h(raven, beta);
	border-radius: var(--measure-border-hairline) var(--measure-border-hairline) var(--measure-border-default) var(--measure-border-default);
	background-clip: padding-box;
	text-align: start;
	@include v(font-family);
	font-style: normal;

	:is(h2, h3) {
		@include v(font-size, default);
		@include v(line-height, medium);
	}

	a {
		color: h(bowhead);
	}
}

.box--error {
	background-color: h(maple, delta);
	border-block-start-color: h(maple, beta);
}

.box--warning {
	background-color: h(aspen, delta);
	border-block-start-color: h(aspen, beta);
}
