////
/// Browser Support
/// @group components
////

.browser-support {
	display: flex;
	flex-wrap: wrap;
	@include v(gap, small);

	li {
		@include v(border-radius, border-default);
		padding-inline: v(size, small);
		@include v(font-weight, bold);
	}

	.supported {
		background-color: h(conifer);
		color: h(milou);
	}

	.partial {
		background-color: h(aspen);
		color: h(kaiser);
	}

	.unsupported {
		background-color: h(maple);
		color: h(milou);
	}
}
