////
/// Buttons List
/// @group components
/// @link https://chrisburnell.com/styleguide/#buttons-list
////

// Contains buttons and internal links
.buttons-list {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(12em, max-content);
    @include v(grid-gap, medium);
    justify-content: center;
    margin: 0 0 $measure-medium;
    margin: 0 0 var(--measure-medium);

    @include media("screen", "above:small") {
        // 1───────────────────────────2→
        // │ minmax(12em, max-content) │→
        // 2───────────────────────────┴→
        grid-template-columns: repeat(auto-fit, minmax(12em, max-content));
    }

    %content-elements + &,
    .content-list + & {
        @include v(margin-top, medium);
    }
}
