////
/// Carbon Ads
/// @group components
////

[id="carbonads"] {
    @include v(max-width, breakpoint-small);
    margin-left:  auto;
    margin-right: auto;

    a {
        &,
        &:hover,
        &:focus,
        &:active {
            color: inherit;
            text-decoration: none;
        }
    }

    span {
        display: block;
        overflow: hidden;
        position: relative;
    }
}

.carbon-wrap.carbon-wrap {
    display: flex;
}

.carbon-img,
.carbon-text {
    background-clip: padding-box;
    display: flex;
    align-items: center;
    @include v(border-width, hairline);
    @include v(border-style, default);
    @include v(border-color, alto);
    @include v(padding, small);
}

.carbon-img {
    border-radius: var(--border-radius-thin) 0 0 var(--border-radius-thin);
    border-right-width: 0;
    justify-content: center;
    margin: 0;
    line-height: 1;

    img {
        width: 130px !important;
        height: 100px !important;
        display: block;
    }
}

.carbon-text {
    border-radius: 0 var(--border-radius-thin) var(--border-radius-thin) 0;
    border-left-width: 0;
}

.carbon-poweredby {
    @include case(uppercase);
    display: block;
    padding: var(--measure-small-relative) var(--measure-small);
    // @include v(font-size, small);
    font-size: 12px;
    @include v(font-weight, bold);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}
