////
/// Content List
/// @group components
/// @link https://chrisburnell.com/styleguide/#content-list
////

.content-list {
    display: grid;
    grid-template-columns: 1fr;
    @include v(grid-gap, medium);
    @include v(margin-bottom, large);
    @include v(line-height, small);

    @include media("screen", "above:small") {
        // 1───────────────────2→
        // │ minmax(20em, 1fr) │→
        // 2───────────────────┴→
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }

    .page--home &,
    .widget & {
        margin-bottom: 0;
    }

    li,
    article {
        display: flex;
        flex-direction: column;
    }

    article,
    a {
        flex: 1 0 100%;
    }

    a {
        @include border-radius;
        display: block;
        @include v(padding, medium);
        overflow: hidden;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            @include v(background-color, raven--gamma, $important: true);
        }

        aside & {
            @include v(padding, small);
        }
    }

    .title,
    .lede,
    .date {
        text-shadow: 0 $border-width-hairline 0 $color-white;
        text-shadow: 0 var(--border-width-hairline) 0 var(--color-white);
    }

    .title {
        width: auto;
        display: inline-block;
        @include v(margin-bottom, small);
    }
    a:link {
        .title {
            @include transition(text-decoration-color);
            @include will-change(text-decoration-color);
            text-decoration: underline;
            @include v(text-decoration-color, alto);
            // coming soon!
            // @include v(text-decoration-width, thin);
            text-underline-position: under;
        }
    }
    a:hover,
    a:focus,
    a:active {
        .title {
            @include v(color, raven);
            @include v(text-decoration-color, canada);
        }
    }

    .lede,
    .date {
        width: 100%;
        @include v(color, dove);
        @include v(font-size, small);
        @include v(font-weight, bold);
    }

    .lede {
        @include hyphenate;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 3;
    }

    .date {
        text-align: right;

        &::before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
        }
    }

    dl + .date {
        @include v(margin-top, small);
    }

    canvas {
        @include v(margin-bottom, small);
    }

    svg {
        @include transition(opacity, transform);
        @include will-change(opacity, transform);
        @include v(opacity, delta);
        @include v(stroke, kaiser);
        // override `_icons.scss` + 4px
        width: 6.25em !important;
        height: 6.25em !important;
        position: absolute;
        top: 50%;
        right: $measure-small;
        right: var(--measure-small);
        transform: translateY(-50%);
        @include v(z-index, root);
        @include non-selectable;
        pointer-events: none;

        @include media("screen", "below:small") {
            width: 4em !important;
            height: 4em !important;
        }
    }
    a:hover,
    a:focus,
    a:active {
        svg {
            @include v(opacity, gamma);
            transform: translateX(-$measure-large) translateY(-50%) scale(1.2);
            transform: translateX(-(var(--measure-large))) translateY(-50%) scale(1.2);
        }
    }

    .emoji {
        @include v(margin-right, small);
    }
}
