////
/// Content
/// @group components
////

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include v(gap, gutter);
}
.title--positive span,
.title--negative span {
    padding: v(measure, tiny) v(measure, small);
    text-shadow: none;
}
.title--positive > span {
    @include v(background-color, liquid);
    @include v(color, milou);
}
.title--negative > span {
    @include v(background-color, canada);
    @include v(color, milou);
}

.lede {
    @include v(max-width, line-length-clamp);
    @include v(font-weight, bold);

    .post & {
        font-size: var(--font-scale-1);
    }
}

// Visual Data
.sparkline {
    width: 160px;
    height: 24px;
    speak: none;
}

// Musical Data
.pentatonic {
    cursor: pointer;
}

// Rating
.rating {
    display: inline-block;
    position: relative;
    font-size: var(--font-scale-1);
    line-height: 1;

    &::before,
    &::after {
        content: "★★★★★";
        speak: none;
    }

    &::before {
        @include v(color, alto);
    }

    &::after {
        background-color: inherit;
        @include v(color, kaiser);
        width: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:not([value]) {
        display: none;
    }

    @for $i from 1 through 19 {
        &[value="#{$i / 4}"]::after {
            width: range-map($i, 0, 20, 0%, 100%);
        }
    }
    &[value="5"]::after {
        width: 100%;
    }
}

%collection-content {
    @include media("print") {
        page-break-inside: avoid;
    }
}
