////
/// Content
/// @group components
////

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include v(gap, gutter);
}
.title--positive span,
.title--negative span {
    padding: v(measure, tiny) v(measure, small);
    text-shadow: none;
}
.title--positive > span {
    @include v(background-color, liquid);
    @include v(color, milou);
}
.title--negative > span {
    @include v(background-color, maple);
    @include v(color, milou);
}

.lede {
    @include v(max-width, line-length-clamp);
    @include v(font-weight, bold);

    .post & {
        @include v(font-size, delta);
    }
}

// Visual Data
spark-line {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    @include v(font-family);
    @include v(font-size, small);
    font-style: normal;
    @include v(font-weight, bold);
    speak: none;

    canvas {
        width: auto;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    span {
        grid-column: 1 / 2;
        text-align: left;
    }
    canvas + span {
        grid-column: 2 / 3;
        text-align: right;
    }
}

// Musical Data
.pentatonic {
    cursor: pointer;
}

// Rating
.rating {
    display: inline-block;
    position: relative;
    @include v(font-size, delta);
    line-height: 1;

    &::before,
    &::after {
        content: "★★★★★";
        speak: none;
    }

    &::before {
        @include v(color, alto);
    }

    &::after {
        background-color: inherit;
        @include v(color, kaiser);
        width: 0;
        overflow: hidden;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
    }

    &:not([value]) {
        display: none;
    }

    @for $i from 1 through 19 {
        &[value="#{math.div($i, 4)}"]::after {
            width: range-map($i, 0, 20, 0%, 100%);
        }
    }
    &[value="5"]::after {
        width: 100%;
    }
}

%collection-content {
    @include media("print") {
        page-break-inside: avoid;
    }
}
