////
/// Deck
/// @group components
////

.deck {
	article {
		@include owl(tiny);
		@include v(max-width, breakpoint-medium);
		@include v(max-width, line-length-clamp);
		@include v(padding-block-start, medium);
		@include v(padding-block-end, medium);

		&:first-child {
			padding-block-start: 0;
		}

		&:last-child {
			padding-block-end: 0;
		}
	}
	article + article {
		border-block-start: var(--measure-border-thin) solid h(thunder, delta);
	}

	a {
		color: inherit;
	}

	h3 {
		.emoji {
			display: inline-block;
			@include v(padding-inline-end, small);
		}
	}
}

.deck__context,
.deck__meta {
	font-style: italic;
}

.deck__meta a {
	white-space: nowrap;
}
