////
/// Deck
/// @group components
////

.deck {
	article {
		@include owl(tiny);
		@include v(max-inline-size, line-length-clamp);

		&:not(:first-child) {
			@include v(padding-block-start, medium);
		}

		&:not(:last-child) {
			padding-block-end: 0;
			@include v(padding-block-end, medium);
		}
	}
	article + article {
		border-block-start: v(size, border-thin) solid h(mineshaft, delta);
	}

	a {
		color: inherit;
	}

	h3 {
		.emoji {
			display: inline-block;
			@include v(padding-inline-end, small);
		}
	}
}

.deck__context,
.deck__meta {
	font-style: italic;
}

.deck__meta a {
	white-space: nowrap;
}
