////
/// Deck
/// @group components
////

.deck {
    article {
        @include owl(tiny);
        @include v(max-width, breakpoint-medium);
        @include v(max-width, line-length-clamp);
        @include v(padding-top, medium);
        @include v(padding-bottom, medium);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
    article + article {
        border-top: var(--measure-border-thin) solid var(--color-black--delta);
    }

    a {
        color: inherit;
    }

    h3 {
        a:not(:hover):not(:focus):not(:active) {
            text-decoration-color: var(--color-raven);
        }

        .emoji {
            display: inline-block;
            @include v(padding-right, small);
        }
    }
}

.deck__context,
.deck__meta {
    font-style: italic;
}

.webmentions-count {
    @include v(margin-left, small);
}
