////
/// Footnotes
/// @group components
////

.endnotes,
.footnotes {
    @include v(max-width, line-length-responsive);

    &::before {
        @extend .gamma;
        content: "Footnotes" !important;
        @include v(margin-bottom, medium);
    }
}

.endnote,
.footnote {
    padding-left: var(--border-width-default);
    padding-right: var(--border-width-default);
}
