////
/// Footer
/// @group components
////

footer {
    @include v(background-color, kaiser);
    @include v(color, alto);
    @include v(font-weight, bold);
    @include case(uppercase);
}

.footer-links,
.elsewhere {
    overflow: hidden;
    vertical-align: middle;
}

.footer-home-anchor,
.footer-links a,
.footer-links button,
.footer-links div {
    display: inline-block;
    white-space: nowrap;
}

.footer-home-anchor {
    width: 3.125rem;
    height: 3.125rem;
    justify-self: center;
    text-indent: 100%;
    text-decoration: none;
    white-space: nowrap;

    &:active {
        @include v(background-color, transparent);
    }

    .icon {
        @include transition(opacity, transform);
        @include will-change(opacity, transform);
        @include v(opacity, alpha);
        @include v(fill, raven);
        width: 100%;
        height: 100%;
        display: block;
    }

    &:hover,
    &:focus,
    &:active {
        .icon {
            opacity: 1;
        }
    }

    &:active {
        .icon {
            transform: translateY($border-width-thin);
        }
    }
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include media("screen", "below:medium") {
        justify-content: center;
    }

    a,
    button {
        @include v(margin-left, small);
        @include v(margin-right, small);
        @include v(font-size, small);
        // coming soon!
        // @include v(text-decoration-width, thin);
    }

    button {
        @include case(initial);
    }
}
