////
/// Helpers
/// @group components
////

// Hide elements visually
[hidden]:not([hidden="false"]),
.hidden {
    &:not([href]),
    &[href]:not(:focus):not(:active) {
        @include hidden;
    }
}

// Hyphenate any looooooooooooooooooooo-
// oooooong text
.hyphen,
.hyphenate {
    @include hyphenate;
}

// Make things non-selectable
.non-selectable {
    @include non-selectable;
}

// Make things non-interactive
.non-interactive {
    pointer-events: none;
    cursor: not-allowed; // kind of redundant
}

// Turn off motion (for reduced-motion-like cases)
.non-motion {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
}

// Make things short
.leading-small {
    @include v(line-height, small);
}

// Make things that require JS when JS is not available unavailable
.requires-js {
    .no-js & {
        display: none;
    }
}
