////
/// Icon
/// @group components
/// @link https://chrisburnell.com/styleguide/#icons
////

.icon {
    display: block;
    speak: none;

    %button-elements &,
    .fragment-anchor & {
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
    }

    %button-elements & {
        width: var(--font-size-default);
        height: var(--font-size-default);
        @include v(margin-right, small);
    }

    .fragment-anchor & {
        width: var(--font-size-gamma);
        height: var(--font-size-gamma);
    }

    .icons-list & {
        @include v(fill, kaiser);
        height: calc(var(--measure-large) * 2);
    }
}

// Brand Icon Widths and Colors
@each $color-brand in $brand-details {
    $name: nth($color-brand, 1);
    $icon-color: nth($color-brand, 2);
    $ratio: nth($color-brand, 3);

    .icon--#{$name} {
        width: #{$ratio * $measure-icon};
        fill: $icon-color;
    }
}

.emoji {
    height: 1.5em;
    font-style: normal;
    vertical-align: middle;
    text-shadow: none;
}
