////
/// Logo
/// @group components
////

.logo {
	@include v(block-size, logo);
	@include v(inline-size, logo);
	display: flex;

	%collection-images {
		@include transition(transform);
		max-block-size: 100%;
		object-fit: contain;
	}

	&:is(:hover, :focus, :active) {
		background: none;
		outline: none;

		%collection-images {
			transform: scale(1.1) rotate(6deg);
		}
	}
}

.perch {
	position: relative;

	&::before {
		content: "";
		background-image: url("/images/raven.svg");
		background-repeat: no-repeat;
		@include v(opacity, gamma);
		@include v(width, logo-large);
		height: calc(#{v(measure, logo-large)} / 1.205);
		position: absolute;
		inset-inline-start: 100%;
		inset-block-end: 0;
		transform: translateX(-35%) translateY(-10%) scaleX(-1);
		@include v(z-index, below);
	}

	.title > & {
		@include media("above:large") {
			position: static;
		}

		&::before {
			@include media("below:large") {
				transform: translateX(-10%) translateY(-10%) scaleX(-1);
			}
		}
	}
}
