////
/// Logo
/// @group components
////

.logo {
    @include v(fill, raven);
    width: 4rem;
    height: 4rem;
    display: inline-block;

    &:hover,
    &:focus,
    &:active {
        background: none;
        outline: none;
    }

    svg {
        max-height: 100%;
        object-fit: contain;
    }
}
