////
/// Media
/// @group components
/// @link https://chrisburnell.com/styleguide/#figure
////

// Contains embedded media properly and allows them to be dynamically resized
// inside a set aspect ratio container.
.media {
	inline-size: 100%;

	& > * {
		aspect-ratio: 16 / 9;
		inline-size: 100% !important;
		block-size: auto !important;
		margin: 0 auto;
	}
}

.media--4-by-3 {
	& > * {
		aspect-ratio: 4 / 3;
	}
}

.pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

// CodePen Embeds
.cp_embed_wrapper {
	resize: both;
	overflow: auto;
	scrollbar-gutter: stable;

	iframe {
		margin-block-end: 0;
	}
}
