////
/// Media
/// @group components
/// @link https://chrisburnell.com/styleguide/#figure
////

@each $aspect-ratio, $percentage in $aspect-ratios {
    .media--#{$aspect-ratio} {
        padding-top: $percentage;
    }
}

// Contains embedded media properly and allows them to be dynamically resized
// inside a set aspect ratio container.
.media {
    @extend .media--16-by-9 !optional;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    %collection-media {
        @include absolute(full);
        // necessary for `iframe`
        height: 100%;
        margin-bottom: 0;
    }
}

.media--speakerdeck {
    @extend .media--4-by-3 !optional;
}

.pixelated {
    image-rendering: pixelated;
}

// CodePen Embeds
.cp_embed_wrapper {
    resize: both;
    overflow: auto;

    iframe {
        margin-bottom: 0;
    }
}
