////
/// Media
/// @group components
/// @link https://chrisburnell.com/styleguide/#figure
////

// Contains embedded media properly and allows them to be dynamically resized
// inside a set aspect ratio container.
.media {
    %collection-media {
        aspect-ratio: 16 / 9;
        margin-block-end: 0;
    }
}

.media--4-by-3 {
    %collection-media {
        aspect-ratio: 4 / 3;
    }
}

.pixelated {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

// CodePen Embeds
.cp_embed_wrapper {
    resize: both;
    overflow: auto;

    iframe {
        margin-block-end: 0;
    }
}
