////
/// Meta Content
/// @group components
////

.meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: hidden;
    @include v(font-family, serif);
    font-style: italic;
    line-height: 3;

    aside + & {
        // pull up to align with `.author`
        margin-top: calc(var(--measure-small) * -1);
    }

    div {
        @include v(margin-right, large);
    }

    div + div {
        position: relative;

        &::before {
            // EN-DASH
            content: "•";
            @include v(color, dove);
            position: absolute;
            left: calc(var(--measure-medium) * -1);
            transform: translateX(-50%);
            font-style: normal;
        }
    }

    a,
    data,
    %strong,
    time {
        color: inherit;
        @include v(font-weight, bold);
        @include v(font-family);
        font-style: normal;
    }

    a {
        @include v(text-decoration-color, transparent);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }

        &:active {
            @include v(color, white);
        }

        em {
            @include v(font-family, serif);
        }
    }

    label {
        display: none;
        @include v(background-color, black--delta);
        padding: 0.1rem var(--measure-small);
        @include border-radius(thin);
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            @include v(background-color, raven--gamma);
        }

        &:active {
            @include v(color, canada);
        }
    }

    // Only show the label if there is more than one meta item
    div + div ~ label {
        display: inline-block;
    }

    .emoji {
        margin-right: 1ch;
    }
}

.js-meta-toggle:not(:checked) ~ div:not(.published-date):not(.checkin-rating) {
    @include hidden;
}
