////
/// Meta Content
/// @group components
////

.meta {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: hidden;
    @include v(font-family, serif);
    font-style: italic;
    line-height: 3;

    aside + & {
        // pull up to align with `.author`
        margin-top: calc(var(--measure-small) * -1);
    }

    div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        @include v(margin-right, large);
    }

    div + div {
        position: relative;

        &::before {
            // EN-DASH
            content: "•";
            @include v(color, dove);
            position: absolute;
            left: calc(var(--measure-medium) * -1);
            transform: translateX(-50%);
            font-style: normal;
        }
    }

    a,
    data,
    %strong,
    time {
        color: inherit;
        @include v(font-weight, bold);
        @include v(font-family, default);
        font-style: normal;
    }

    a {
        @include v(text-decoration-color, transparent);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }

        &:active {
            @include v(color, white);
        }

        em {
            @include v(font-family, serif);
        }
    }

    span {
        padding-right: 1ex;

        &:not(:first-child) {
            padding-left: 1ex;
        }
    }

    small.strong {
        display: flex;

        a:not(:first-of-type) {
            margin-left: 1ex;
        }
    }

    .comma {
        padding-left: 0 !important;
    }

    .left-bracket {
        padding-left: 1ex;
        padding-right: 0 !important;
    }

    .right-bracket {
        padding-left: 0 !important;
    }

    label {
        display: none;
        @include v(background-color, black--delta);
        padding: 0.1rem var(--measure-small);
        @include border-radius(thin);
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            @include v(background-color, raven--gamma);
        }

        &:active {
            @include v(color, canada);
        }
    }

    div + div ~ label {
        display: inline-block;
    }
}

#meta-toggle:not(:checked) ~ div:not(:first-of-type) {
    @include hidden;
}
