////
/// Meta
/// @group components
////

.meta {
	@include owl(tiny);

	.details ~ & {
		@include v(margin-block-start, large);
	}

	.archive & {
		@include owl(large);
	}

	.emoji {
		inline-size: calc(var(--measure-medium) + var(--measure-tiny));
		display: inline-block;
	}

	a,
	data,
	time {
		@include v(font-weight, bold);
	}

	.rating {
		@include v(margin-inline-start, tiny);
	}

	h2 {
		@include v(margin-block-end, small);
	}
}

.meta__list {
	display: inline;
	@include v(font-size, small);

	li {
		display: inline;

		&:not(:last-child) {
			&::after {
				content: ", ";
			}
		}
	}

	&.meta__list--block {
		&,
		li {
			display: block;
		}

		li::after {
			display: none;
		}
	}

	.meta > & {
		&::before,
		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}

	small + & {
		@include v(padding-inline-start, tiny);
	}
}
