////
/// Music
/// @group components
////

.last-fm__cover {
    @include v(max-height, icon);
    float: left;
    @include v(margin-right, small, $important: true);
    @include v(margin-bottom, small, $important: true);
}

.last-fm__track + .last-fm__artist:not(:empty) {
    &::before {
        content: " by ";
        @include v(font-family, serif);
        @include v(font-size, small);
        font-style: italic;
    }
}
