////
/// Primary Navigation
/// @group components
////

.nav-primary {
    display: flex;
    align-items: center;
    @include v(padding-top, medium);
    @include v(padding-bottom, medium);
    white-space: nowrap;

    @include media("screen", "below:medium") {
        flex: 1 0 100%;
        @include v(padding-top, small);
        text-align: center;
    }
}

.nav-primary-list {
    @include reset-font-size(li);

    li {
        display: inline-block;

        & + li {
            @include media("screen", "below:small") {
                margin-left: #{$measure-one-relative / 4};
            }

            @include media("screen", "above:small", "below:medium") {
                margin-left: #{$measure-one-relative / 2};
            }

            @include media("screen", "above:medium") {
                margin-left: $measure-one-relative;
                margin-left: var(--measure-one-relative);
            }
        }
    }

    a {
        @include transition(color, padding-bottom, border-bottom-width, transform);
        @include will-change(color, padding-bottom, border-bottom-width, transform);
        @include v(color, dove);
        display: block;
        padding: #{$measure-one - $border-width-default} $measure-one;
        border-width: 0;
        @include v(border-style, default);
        @include v(border-color, raven);
        margin-bottom: $border-width-default;
        margin-bottom: var(--border-width-default);
        @include v(font-weight, bold);
        @include v(line-height, small);
        text-decoration: none !important;

        &:active {
            @include v(background-color, transparent);
            transform: translateY(0.2rem);
        }

        @include media("screen", "below:small") {
            padding-left:  #{$measure-one / 2};
            padding-right: #{$measure-one / 2};
        }
    }
}

// Effect for interactions and active paths
.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
%nav-primary-anchor {
    @include v(color, kaiser);
    padding-bottom: #{$measure-one / 2};
    @include v(border-bottom-width, default);
}
@each $class in $navigation-classes {
    .page--#{$class} .nav-primary--#{$class} a {
        @extend %nav-primary-anchor !optional;
    }
}
