////
/// Print
/// @group components
////

@include media("print") {
    // Hide non-content markup
    nav,
    .widget,
    .comments,
    footer .home-anchor,
    footer .style-guide-anchor {
        display: none;
        visibility: hidden;
    }

    // Fix buttons for B&W scenario
    %button-elements {
        @include v(color, kaiser);
        @include v(border-width, hairline);
        @include v(border-style);
        @include v(border-color, kaiser);
        box-shadow: none;
    }

    // Fix trailing text when breaking page
    %heading-elements,
    p {
        orphans: 3;
        widows: 3;
    }

    // Remove box-shadow
    kbd {
        box-shadow: none;
    }
}
