////
/// Shelf
/// @group components
////

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    @include v(grid-gap, gutter);

    article {
        @include owl(small);
        @include v(line-height, medium);
    }

    h3 {
        font-size: var(--font-scale-0);

        a {
            color: inherit;

            &:not(:hover):not(:focus):not(:active) {
                text-decoration-color: var(--color-raven);
            }
        }
    }

    .cover img {
        margin: 0;
        object-fit: contain;
    }
}

.shelf--books {
    grid-template-columns: repeat(auto-fill, minmax(8.5em, 1fr));

    .cover img {
        height: 240px;
        object-fit: contain;
        margin: 0;
    }
}
