////
/// Shelf
/// @group components
////

.shelf {
    display: grid;
    grid-template-columns: 1fr;
    @include v(grid-gap, medium);

    @include media("screen", "above:small") {
        // 1───────────────────2→
        // │ minmax(12em, 1fr) │→
        // 2───────────────────┴→
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    li {
        margin: 0;
    }

    .cover {
        display: inline-block;
        margin: 0 0 var(--measure-small);
        text-decoration: none;

        &[href]:hover,
        &[href]:focus,
        &[href]:active {
            @include v(background-color, transparent);
            outline: var(--border-width-thin) var(--border-style-default) var(--color-raven);
            outline-offset: var(--border-width-thin);
        }
    }

    %image-elements {
        max-width: 100%;
        display: block;
        object-fit: contain;
        margin: 0;

        .page--books & {
            height: var(--measure-aside);
        }
    }

    [rel*="external"]::after {
        content: " ↗";
    }
}
