////
/// Shelf
/// @group components
////

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    @include v(grid-gap, gutter);

    @include media("screen", "above:medium") {
        @include v(grid-gap, gap);
    }

    article {
        @include owl(small);
        @include v(line-height, medium);
    }

    h3 {
        @extend %epsilon;

        a {
            color: inherit;

            &:not(:hover):not(:focus):not(:active) {
                text-decoration-color: var(--color-raven);
            }
        }
    }
}
