////
/// Title / Tagline
/// @group components
////

.title,
.tagline {
    width: 100%;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title--tall {
    min-height: calc(50vh - var(--measure-large));
    position: relative;

    &::after {
        content: "";
        @include v(background-color, raven);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top: calc(var(--measure-large) * -1);
        bottom: 0;
        left: -100%;
        right: -100%;
        @include z-index(root);
    }

    span {
        @include v(color, white);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include z-index(default);
    }
}

.title--success,
.title--error {
    width: auto;
    align-self: flex-start;
    display: inline-block;
    @include v(padding, small);
}

.title--success {
    @include v(background-color, liquid);
    @include v(color, white);
}

.title--error {
    @include v(background-color, canada);
    @include v(color, white);
}
