////
/// Title / Tagline
/// @group components
////

.title,
.tagline {
    width: 100%;
    @include v(margin-bottom, large);
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title--error {
    @include v(background-color, canada);
    @include v(color, white);
    width: auto;
    display: inline-block;
    @include v(padding, small);
    text-shadow: none;
}
