////
/// Title / Tagline
/// @group components
////

.title,
.tagline {
    width: 100%;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title--success,
.title--error {
    width: auto;
    display: inline-block;
    @include v(padding, small);
}

.title--success {
    @include v(background-color, liquid);
    @include v(color, white);
}

.title--error {
    @include v(background-color, canada);
    @include v(color, white);
}
