////
/// Webmentions
/// @group components
////

.webmentions {
    @include owl(medium);
    @include v(background-color, black--delta);
    @include v(margin-top, gigantic);
    @include v(padding, medium);
    border-top: var(--border-width-thin) solid var(--color-raven--beta);
    border-radius: 0 0 var(--border-radius-default) var(--border-radius-default);
}

.webmentions__thread {
    @include v(margin-top, medium);
}

.webmentions__form {
    @include v(max-width, breakpoint-small);
    grid-template-columns: 1fr min-content;
    margin: 0 auto;
}

.webmentions__label {
    grid-column: 1 / span 2;
    @include v(margin-bottom, small);

    @include media("below:small") {
        @include v(margin-bottom, medium);
    }
}

.webmentions__submit {
    min-width: 5em;
    margin-top: 0;

    @include media("below:small") {
        font-size: var(--font-scale--1);
    }
    @include media("above:medium", "below:large") {
        font-size: var(--font-scale--1);
    }
}

.webmentions__list {
    @include media("screen", "above:medium") {
        // 1───────────────────────────2───────────────────3
        // │ minmax(6rem, max-content) │ minmax(12em, 1fr) │
        // 2───────────────────────────┴───────────────────┘
        grid-template-columns: minmax(6rem, max-content) minmax(12em, 1fr);
        @include v(row-gap, small);
    }

    a {
        @include break-words;
    }

    .webmentions__list__replies ol {
        margin-top: 0;
    }
}

.webmentions__responses {
    @include owl;
    contain: content;
}

.webmentions__response {
    position: relative;

    .webmentions__list__replies & + & {
        @include v(margin-top, medium);
    }

    small {
        @include v(color, dove);
    }
}

.webmentions__response__avatar {
    box-sizing: content-box;
    @include v(width, avatar-small);
    border: var(--border-width-thin) solid var(--color-raven--beta);

    &,
    .avatar,
    .avatar img {
        @include border-radius(50%);
    }

    .avatar {
        &,
        img {
            display: block;
        }
    }
}

.webmentions__response__avatar {
    .webmentions__list__replies & {
        float: left;
        @include v(margin-right, medium);
        @include v(margin-bottom, small);
    }
}

.webmentions__response__name {
    @include v(padding-right, medium);

    .webmentions__list__reactions & {
        display: none;
    }
}

.webmentions__list__reactions {
    padding-left: calc(var(--measure-small) + var(--measure-tiny));

    .hidden + & {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    li {
        display: inline-block;
        margin-left: calc((var(--measure-small) + var(--measure-tiny)) * -1);
        @include v(margin-bottom, small);

        &:hover {
            @include v(z-index, above);
        }
    }

    .webmentions__response__avatar,
    .webmentions__response__type {
        display: block;

        &:active {
            outline-width: 0;
        }
    }

    .webmentions__response__type {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(33%);
        font-size: var(--font-scale--1);
        line-height: 1;
        text-decoration: none;
        pointer-events: none;
    }
}

[data-type="bookmark"] .webmentions__response__type::before {
    content: "🔖";
}

[data-type="like"] .webmentions__response__type::before {
    content: "❤️";
}

[data-type="link"] .webmentions__response__type::before {
    content: "💬";
}

[data-type="repost"] .webmentions__response__type::before {
    content: "🔄️";
}

.webmentions__response__type[data-reacji]:not([data-reacji=""])::before {
    content: attr(data-reacji);
}

.webmentions__response__meta {
    clear: both;
}
