////
/// Webmentions
/// @group components
////

// Appears only on article pages
.webmentions {
    @include v(margin-top, large);
}

.webmentions__thread {
    @include v(margin-top, medium);
}

.webmentions__form {
    @include v(max-width, breakpoint-small);
    margin: 0 auto;

    p {
        @extend %delta !optional;
        grid-column: 1 / span 2;
        @include v(margin-top, small);
    }
}

.webmentions__label {
    @extend %delta !optional;
    grid-column: 1 / span 2;
    @include v(margin-bottom, small);

    @include media("below:small") {
        @include v(margin-bottom, medium);
    }
}

.webmentions__submit {
    min-width: 5em;
    margin-top: 0;
}

.webmentions__list {
    @include media("screen", "above:medium") {
        // 1───────────────────────────2───────────────────3
        // │ minmax(6rem, max-content) │ minmax(12em, 1fr) │
        // 2───────────────────────────┴───────────────────┘
        grid-template-columns: minmax(6rem, max-content) minmax(12em, 1fr);
        @include v(row-gap, small);
    }

    a {
        @include break-words;
    }

    .webmentions__list__replies ol {
        margin-top: 0;
    }
}

.webmentions__response {
    position: relative;

    .webmentions__list__replies & + & {
        @include v(margin-top, medium);
    }

    small,
    time {
        @include v(color, dove);
    }

    small {
        font-style: italic;
    }
}

.webmentions__response__avatar {
    background-image: url("/images/default-profile.png");
    background-size: 100%;
    @include border-radius(50%);
}

.webmentions__response__image {
    @include border-radius(50%);
    @include v(width, avatar-small);
    @include v(height, avatar-small);
    display: block;
}

.webmentions__response__name {
    @include  v(padding-right, medium);

    .webmentions__response__image:not([src=""]) + & {
        display: none;
    }
}

.webmentions__list__reactions {
    [hidden] + & {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    li {
        display: inline-block;
        @include v(margin-right, small);
    }

    .webmentions__response__avatar,
    .webmentions__response__type {
        display: block;
    }

    .webmentions__response__type {
        position: absolute;
        bottom: 0;
        left: 100%;
        transform: translateX(-50%);
        @include v(font-size, gamma);
        line-height: 1;
        text-decoration: none;
    }

    [data-type="bookmark"] .webmentions__response__type::before,
    [data-type="link"] .webmentions__response__type::before {
        content: "🔖";
    }

    [data-type="like"] .webmentions__response__type::before {
        content: "❤️";
    }

    [data-type="repost"] .webmentions__response__type::before {
        content: "🔄️";
    }

    .webmentions__response__type:not([data-reacji=""])::before {
        content: attr(data-reacji);
    }
}

// Also appears only on article pages
.button--show-webmentions {
    &,
    &:active {
        &::before {
            // override default `.button:active::before` behaviour
            @include absolute(none);
        }
    }
}

hr + .webmentions[hidden] + hr {
    display: none;
}
