////
/// Widget
/// @group components
////

.widget {
    @include owl;
    display: flex;
    flex-direction: column;
}

.widget--browse-posts,
.widget--pagination {
    flex-direction: row;
    justify-content: space-between;
}

.widget-related-anchor,
.widget-previous-anchor,
.widget-next-anchor {
    @include v(margin-top, medium);
    @include v(font-weight, bold);
}

.widget-related-anchor {
    align-self: flex-end;

    &::after {
        // NO-BREAK SPACE, LEFTWARDS ARROW WITH HOOK
        content: " ↩︎";
    }
}

.widget-previous-anchor,
.widget-next-anchor {
    max-width: calc(50% - #{$measure-gutter / 2});
    flex: 0 1 auto;

    &::before {
        display: block;
    }
}

.widget-previous-anchor {
    .widget--browse-posts &::before {
        content: "← Older";
    }
}

.widget-next-anchor {
    text-align: right;
    margin-left: auto;

    .widget--browse-posts &::before {
        content: "Newer →";
    }
}
