<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/categories.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/tags.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/collections.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/pages.njk' %}
</div>
