<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/collections.njk' %}
	{% include 'meta/sub/pages.njk' %}
</div>

{% if page.url != '/projects/' %}
	<div class=" [ box ] [ flow ] ">
		{% include 'meta/sub/projects.njk' %}
	</div>
{% endif %}
