////
/// CSS Variables
/// @group abstracts
////

:root {
    --base-font-size: #{$base-font-size};

    @each $key, $value in $breakpoints {
        --wrapper-width-#{$key}: #{$value};
    }

    --gutter-width: #{$gutter-width};
    --gap-width: #{$gap-width};
    --aside-width: #{$aside-width};
    --content-width: #{$content-width};
    --line-length-minimum: #{$line-length-minimum};
    --line-length-maximum: #{$line-length-maximum};
    --line-length-responsive: #{$line-length-responsive};

    @each $key, $value in $measures {
        --measure-#{$key}: #{$value};
    }

    @each $key, $value in $opacities {
        --opacity-#{$key}: #{$value};
    }

    @each $key, $value in $all-colors {
        --color-#{$key}: #{$value};
    }

    @each $key, $value in $border-widths {
        --border-width-#{$key}: #{$value};
    }

    @each $key, $value in $border-styles {
        --border-style-#{$key}: #{$value};
    }

    @each $key, $value in $border-radii {
        --border-radius-#{$key}: #{$value};
    }

    --font-display: #{$font-display};

    @each $key, $value in $font-sizes {
        --font-size-#{$key}: #{$value};
    }

    @each $key, $value in $font-weights {
        --font-weight-#{$key}: #{$value};
    }

    @each $key, $value in $font-families {
        --font-family-#{$key}: #{$value};
    }

    @each $key, $value in $line-heights {
        --line-height-#{$key}: #{$value};
    }

    --letter-spacing-default: #{$letter-spacing-default};
    --letter-spacing-uppercase: #{$letter-spacing-uppercase};

    --animation-duration: #{$animation-duration};
    --animation-function: #{$animation-function};
    --animation-fill-mode: #{$animation-fill-mode};

    --rotation-default: #{$rotation-default};

    --transition-duration-default: #{$transition-duration-default};
    --transition-duration-long: #{$transition-duration-long};
    --transition-function: #{$transition-function};

    @each $key, $value in $z-indexes {
        --z-index-#{$key}: #{$value};
    }

    --icon-size: #{$icon-size};
    --logo-size: #{$logo-size};
    --avatar-size: #{$avatar-size};

    --max-columns: #{$max-columns};
}
