////
/// Variables
/// @group abstracts
////


:root {
    --base-font-size: 16px;

    --wrapper-width-small:  500px;
    --wrapper-width-medium: 800px;
    --wrapper-width-large: 1140px;

    --gutter-width: 1.250rem;
    --aside-width: 15.875rem;
    --article-width: 50.625rem;
    --line-length-minimum: 336px; // 21em
    --line-length-maximum: 480px; // 30em
    //--line-length-responsive: calc(var(--line-length-minimum) + (var(--line-length-maximum) / (var(--line-length-maximum) * 0 + 1)) - (var(--line-length-minimum) / (var(--line-length-minimum) * 0 + 1))) * ((100vw - var(--wrapper-width-small)) / (var(--wrapper-width-large) / (var(--wrapper-width-large) * 0 + 1)) - var(--wrapper-width-small) / (var(--wrapper-width-small) * 0 + 1)))));

    --measure-small: 0.625rem;
    --measure-small-relative: 0.625em;
    --measure-medium: 1.250rem;
    --measure-medium-relative: 1.250em;
    --measure-large: 2.250rem;
    --measure-large-relative: 2.250em;
    --measure-small-proportional: 2vmin;
    --measure-medium-proportional: 4vmin;
    --measure-large-proportional: 8vmin;

    --opacity-alpha: 0.900;
    --opacity-beta: 0.700;
    --opacity-gamma: 0.100;
    --opacity-delta: 0.050;

    // this allows transparency to be transitioned to a different color
    --transparent: rgba(0, 0, 0, 0);
    --color-black: #060606;
    --color-kaiser: #4f4f4f;
    --color-dove: #737373;
    --color-alto: #dddddd;
    --color-gallery: #ededed;
    --color-white: #f9f9f9;
    --color-raven: #5f8aa6;
    --color-highlight: gold;
    --color-canada: #fd1b00;
    --color-mineshaft: mix(var(--color-black), var(--color-kaiser)); // #2b2b2b
    --color-bismark: mix(var(--color-black), var(--color-raven), 20%); // #4d7086
    --color-bermuda: mix(var(--color-white), var(--color-raven), 10%); // #6e95ae
    --color-black--delta: rgba(var(--color-black), var(--opacity-delta));
    --color-black--gamma: rgba(var(--color-black), var(--opacity-gamma));

    --border-width-default: 0.250rem;
    --border-width-thin: 0.125rem;
    --border-width-hairline: 1px;

    --border-style-default: solid;

    --border-radius-default: 0.375rem;
    --border-radius-thin: 0.250rem;
    --border-radius-hairline: 0.125rem;

    --font-weight-default: 400;
    --font-weight-bold: 600;

    --font-size-default: var(--base-font-size);
    --font-size-alpha: 4.500rem; // 72px
    --font-size-beta: 1.375rem; // 22px
    --font-size-gamma: 1.125rem; // 18px
    --font-size-large: 1.250rem; // 20px
    --font-size-large-relative: 1.250em;
    --font-size-small: 0.875rem; // 14px
    --font-size-small-relative: 0.875em;

    --font-family-default: "Proxima Nova", sans-serif;
    --font-family-alpha: "League Gothic", Impact, sans-serif;
    --font-family-serif: Georgia, serif;
    --font-family-monospace: "Menlo for Powerline", "Menlo", Consolas, Monaco, Courier, monospace;

    --line-height-default: 1.875;
    --line-height-small: 1.250;
    --line-height-medium: 1.429;

    --letter-spacing-default: 0;
    --letter-spacing-uppercase: 1px;

    --animation-time: 2s;
    --animation-function: linear;

    --rotation-default: 5deg;

    --transition-time: 0.200s;
    --transition-time: 1.000s;
    --transition-function: ease;

    --color-css: #016fba;
    --color-html: #e54d26;
    --color-javascript: #f1c54c;
    --color-liquid: #7ab55c;
    --color-markdown: #4a525a;
    --color-sass: #c6538c;

    --color-codepen: #212121;
    --color-github: #333333;
    --color-lastfm: #e31b23;
    --color-rss: #ff9770;
    --color-spotify: #1db954;
    --color-spotify-alt: #191414;
    --color-twitter: mix(var(--color-black), #55acee, 10%);

    --icon-size: 40px;
    --logo-size: 8.5rem;
    --avatar-size: 6.25rem;

    --max-columns: 2;
}
