////
/// Functions
/// @group abstracts
////


///
/// Contrasting Text Color
///
/// @param {Color} $background-color - Background-color to contrast against
/// @param {Color} $text-color-light [$color-white] - Color for dark backgrounds
/// @param {Color} $text-color-dark [$color-black] - Color for light backgrounds
///
/// @example scss
///   background-color: #111111;
///   color: contrasting-color(#111111);
///   // background-color: #111111;
///   // color: #f9f9f9;
///
/// @throw Error if no parameters are passed.
///
/// @return {Color} Contrasting Text Color
///
@function contrasting-color($background-color, $text-color-dark: $color-kaiser, $text-color-light: $color-white) {
    @if not $background-color {
        @warn "contrasting-color() expects at least one parameter.";
        @return false;
    }

    @if lightness($background-color) > 65 {
        @return $text-color-dark;
    }

    @return $text-color-light;
}


///
/// Accepts 2 or more parameters.
///
/// @param {String} $direction [to bottom] - Gradient direction
/// @param {List} $color-stops - List of Color values
///
/// @example scss - 2 parameters
///   background-image: gradient(white, black);
///   // background-image: linear-gradient(to bottom, white, black);
///
/// @example scss - 3+ parameters
///   background-image: gradient(to top right, red, green, blue);
///   // background-image: linear-gradient(to top right, red, green, blue);
///
/// @throw Error if 2 or more parameters are not passed.
///
/// @return {String} Linear Gradient snippet
///
@function gradient($direction, $color-stops...) {
    @if not $direction and not $color-stops {
        @warn "gradient() expects a direction and/or 2 or more colors to gradient between.";
        @return false;
    }

    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: "to bottom";
    }

    @return linear-gradient(#{$direction},
                            #{$color-stops});
}


///
/// Accepts 2 or 3 parameters.
///
/// @param {String} $direction [to bottom] - Gradient direction
/// @param {List} $color-stops - List of Color values
///
/// @example scss - 2 parameters
///   background-image: gradient(white, black);
///   // background-image: linear-gradient(to bottom, white, black);
///
/// @example scss - 3 parameters
///   background-image: gradient(to top right, red, green, blue);
///   // background-image: linear-gradient(to top right, red, green, blue);
///
/// @throw Error if 2 or 3 parameters are not passed.
///
/// @return {String} Scrim Gradient snippet
///
@function scrim-gradient($direction, $color-stops...) {
    @if not $direction and not $color-stops {
        @warn "scrim-gradient() expects a direction and/or two colors to gradient between.";
        @return false;
    }

    @if is-direction($direction) == false {
        $color-stops: $direction, $color-stops;
        $direction: "to bottom";
    }

    $start-color: nth($color-stops, 1);
    $end-color:   nth($color-stops, 2);

    $start-color: white;
    $end-color: black;

    @return linear-gradient(#{$direction},
                            mix($end-color, $start-color,  100%)    0%,
                            mix($end-color, $start-color, 73.8%) 19.0%,
                            mix($end-color, $start-color, 54.1%) 34.0%,
                            mix($end-color, $start-color, 38.2%) 47.0%,
                            mix($end-color, $start-color, 27.8%) 56.5%,
                            mix($end-color, $start-color, 19.4%) 65.0%,
                            mix($end-color, $start-color, 12.6%) 73.0%,
                            mix($end-color, $start-color,  7.5%) 80.2%,
                            mix($end-color, $start-color,  4.2%) 86.1%,
                            mix($end-color, $start-color,  2.1%) 91.0%,
                            mix($end-color, $start-color,  0.8%) 95.2%,
                            mix($end-color, $start-color,  0.2%) 98.2%,
                            mix($end-color, $start-color,    0%)  100%);
}


///
/// Test if `$value` is a valid direction
///
/// @param {*} $value - Value to test
///
/// @return {Bool}
///
@function is-direction($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

    @return $is-keyword or $is-angle;
}


///
/// Define Opacity
///
/// @param {String} $value - Label for the target opacity
///
/// @require {Variable} $opacities
///
/// @example scss
///   opacity: opacity("alpha");
///   // opacity: 0.900;
///
/// @throw Error if no parameters are passed.
/// @throw Error if parameter passed does not match a key in $opacities.
///
/// @return {Number} Opacity value
///
@function opacity($value) {
    @if not $value {
        @warn "opacity() expects one parameter.";
        @return false;
    }

    @if not map-has-key($opacities, $value) {
        @warn "There is no value named `#{$value}` in `$opacities`. Value should be one of `#{map-keys($opacities)}`.";
        @return false;
    }

    @return map-get($opacities, $value);
}


///
/// Re-map a number from one range to another
///
/// @param {Number} $value - Initial Value
/// @param {Number} $ranges - 2-4 minimum/maximum values representing the ranges
///
/// @example scss
///   $variable: range-map(2, 4, 100);
///   // $variable: 50;
///
/// @example scss
///   $variable: range-map(68, 30, 160, 0, 100);
///   // $variable: 42.5;
///
/// @return {Number} Number re-mapped in new range
///
@function range-map($value, $ranges...) {
    @if not $value or not $ranges or not (length($ranges) == 2 or length($ranges) == 4) {
        @warn "`range-map()` requires three or five parameters: initial value, (old minimum), old maximum, (new minimum), and new maximum.";
        @return false;
    }

    $old-minimum: if(length($ranges) == 2, 0,               nth($ranges, 1));
    $old-maximum: if(length($ranges) == 2, nth($ranges, 1), nth($ranges, 2));
    $new-minimum: if(length($ranges) == 2, 0,               nth($ranges, 3));
    $new-maximum: if(length($ranges) == 2, nth($ranges, 2), nth($ranges, 4));

    @return ($value - $old-minimum) / ($old-maximum - $old-minimum) * ($new-maximum - $new-minimum) + $new-minimum;
}


///
/// Strip Units from a Number
///
/// @param {Number} $value - Number with units
///
/// @example scss
///   line-height: strip-units(2em);
///   // line-height: 2;
///
/// @return {Number} Number without units
///
@function strip-units($value) {
    @if not $value {
        @warn "strip-units() expects at least one parameter.";
        @return false;
    }

    @return $value / ($value * 0 + 1);
}


///
/// Unique Pairs
///
/// @param {List|Map} $data - Data in List/Map format
///
/// @example scss
///   $list:
///     alpha,
///     beta,
///     gamma;
///   @each $list-item in unique-pairs($list) {
///     @each $list-item-key, $list-item-value in $list-item {
///       .from-#{$list-item-key}-to-#{$list-item-value} {
///         color: initial;
///       }
///     }
///   }
///   // .from-alpha-to-beta {
///   //   color: initial;
///   // }
///   // .from-alpha-to-gamma {
///   //   color: initial;
///   // }
///   // .from-beta-to-gamma {
///   //   color: initial;
///   // }
///
/// @throw Error if no parameter is passed.
/// @throw Error if parameter passed is neither a List nor a Map.
///
/// @return {Map} Unique pairs
///
@function unique-pairs($data) {
    @if not $data or not (type-of($data) == list or type-of($data) == map) {
        @warn "unique-pairs() expects either a single List or single Map of data.";
        @return false;
    }

    $unique-pairs: ();
    $seen: ();

    @if type-of($data) == list {
        @each $first in $data {
            $seen: append($seen, $first);
            @each $second in $data {
                @if $first != $second and not index($seen, $second) {
                    $unique-pair: ($first: $second);
                    $unique-pairs: append($unique-pairs, $unique-pair);
                }
            }
        }
    }

    @else if type-of($data) == map {
        @each $first-key, $first-value in $data {
            $seen: append($seen, $first-key);
            @each $second-key, $second-value in $data {
                @if $first-key != $second-key and not index($seen, $second-key) {
                    $unique-pair: (
                        ($first-key: $first-value): ($second-key: $second-value)
                    );
                    $unique-pairs: append($unique-pairs, $unique-pair);
                }
            }
        }
    }

    @else {
        @warn "unique-pairs() expects either a List or Map.";
        @return false;
    }

    @return $unique-pairs;
}


///
/// Unpack Transition List
///
/// @param {list} $list - Transition list to unpack
///
/// @example scss
///   transition: unpack-transition(all 1s)
///   // transition: all 1s ease;
///
/// @return {String} Full Transition
///
@function unpack-transition($list) {
    $property: nth($list, 1);
    $time: if(length($list) > 1, nth($list, 2), $transition-time);
    $function: if(length($list) > 2, nth($list, 3), $transition-function);
    $delay: if(length($list) > 3, nth($list, 4), 0s);

    @return $property $time $function $delay;
}


///
/// Walk through a List with a Function
///
/// @param {List} $list - List to walk through
/// @param {String} $function - Function to apply to all members
/// @param {ArgList} $args - Extra parameters to pass to the function
///
/// @example scss
///   content: "#{walk(one two three, to-upper-case)}";
///   // content: "ONE TWO THREE";
///
/// @return {List} Updated list
///
@function walk($list, $function, $args...) {
    @if not function-exists($function) {
        @warn "There is no `#{$function}` function.";
        @return false;
    }

    @for $i from 1 through length($list) {
        $list: set-nth($list, $i, call($function, nth($list, $i), $args...));
    }

    @return $list;
}


///
/// Simplify z-index.
///
/// @param {String} $value - Generic level
///
/// @require {Variable} $z-indexes
///
/// @example scss
///   z-index: z-index(above);
///   // z-index: 2;
///
/// @throw Error if no parameters are passed.
/// @throw Error if parameter passed does not match a key in $z-indexes.
///
/// @return {Number} z-index
///
@function z-index($z-index) {
    @if not $z-index {
        @warn "z-index() expects at least one parameter.";
        @return false;
    }

    @if not map-has-key($z-indexes, $z-index) {
        @warn "There is no `z-index` named `#{$z-index}` in `$z-indexes`. `z-index` should be one of `#{map-keys($z-index)}`.";
        @return false;
    }

    @return map-get($z-indexes, $z-index);
}
