////
/// Mixins
/// @group abstracts
////


///
/// Add a border-radius.
///
/// @author Chris Burnell
///
/// @param {String} $value [$border-radius-default] - Type of Border Radius
///
/// @require {Variable} $border-radius-default
/// @require {Variable} $border-radius-thin
///
/// @example scss - Zero parameters
///   @include radius;
///   // border-radius: 0.375rem;
///
/// @example scss - One parameter
///   @include radius(1em);
///   // border-radius: 1em;
///
@mixin border-radius($value: $border-radius-default) {
    @if $value == "top" {
        $value: $border-radius-default $border-radius-default 0 0;
    }
    @else if $value == "bottom" {
        $value: 0 0 $border-radius-default $border-radius-default;
    }
    @else if $value == "left" {
        $value: $border-radius-default 0 0 $border-radius-default;
    }
    @else if $value == "right" {
        $value: 0 $border-radius-default $border-radius-default 0;
    }
    @else if $value == "top-left" {
        $value: $border-radius-default 0 0 0;
    }
    @else if $value == "top-right" {
        $value: 0 $border-radius-default 0 0;
    }
    @else if $value == "bottom-left" {
        $value: 0 0 0 $border-radius-default;
    }
    @else if $value == "bottom-right" {
        $value: 0 0 $border-radius-default 0;
    }
    @else if $value == "thin" {
        $value: $border-radius-thin;
    }

    background-clip: padding-box;
    border-radius: $value;
}


///
/// Change the case of text and apply appropriate letter-spacing.
///
/// @param {String} $case - Case of Text
/// @param {String} $letter-spacing [null] - Letter-spacing of Text
///
/// @require {Variable} $letter-spacing-uppercase
///
/// @example scss
///   @include case(uppercase);
///   // text-transform: uppercase;
///   // letter-spacing: 1px;
///
@mixin case($case, $letter-spacing: null) {
    @if length($case) == 0 {
        @error "case() expects at least one parameter.";
    }

    text-transform: $case;

    @if $letter-spacing != null {
        letter-spacing: $letter-spacing;
    } @else {
        @if $case == "uppercase" {
            letter-spacing: $letter-spacing-uppercase;
        }
    }
}


///
/// Clear an element of floats.
///
/// @example scss
///   @include clear;
///   // clear: both;
///   // zoom: 1;
///   // &::before,
///   // &::after {
///   //     content: "";
///   //     display: table;
///   // }
///   // &::after {
///   //     clear: both;
///   // }
///
@mixin clear() {
    clear: both;
    zoom: 1;

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}


///
/// Specify font-family and associated font-display.
///
/// @author Chris Burnell
///
/// @param {String} $family - Font-family value
/// @param {String} $display - Font-display value
///
/// @require {Map} $font-families
///
/// @example scss - One family
///   @include font-family(default);
///   // font-family: "Proxima Nova", sans-serif;
///   // font-display: swap;
///
/// @example scss - One family, one display
///   @include font-family(serif, auto);
///   // font-family: Georgia, serif;
///   // font-display: auto;
///
/// @throw Error if no parameters are passed.
/// @throw Error if parameter passed does not match a key in $font-families.
///
@mixin font-family($family, $display: swap) {
    @if not $family {
        @error "font-family() expects at least one parameter.";
    }

    @if not map-has-key($font-families, $family) {
        @error "There is no `font-family` named `#{$family}` in `$font-families`. `font-family` should be one of `#{map-keys($font-families)}`.";
    }

    font-family: map-get($font-families, $family);

    @if $family == "default" or $family == "alpha" {
        font-display: $display;
    }

    @if $family == "monospace" {
        font-variant-ligatures: none;
    }
}


///
/// Hyphenate text.
///
/// @example scss
///   @include hyphenate;
///   // overflow-wrap: break-word;
///   // word-wrap: break-word;
///   // hyphens: auto;
///
@mixin hyphenate() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}


///
/// Make text non-selectable;
///
/// @example scss
///   @include non-selectable;
///   // user-select: none;
///   // -webkit-touch-callout: default;
///   // -webkit-touch-callout: none;
///
@mixin non-selectable() {
    user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
}


///
/// Absolutely position an element.
///
/// @author Chris Burnell
///
/// @param {String} $value - Position of the element
///
/// @require {Variable} $measure-large
///
/// @example scss
///   @include position(bottom);
///   // position: absolute;
///   // bottom: 0;
///   // left:   0;
///   // right:  0;
///
/// @throw Error if no parameters are passed.
///
@mixin position($value) {
    @if not $value {
        @error "position() expects one parameter.";
    }

    @if $value == "top" {
        position: absolute;
        top:   0;
        left:  0;
        right: 0;
    }
    @else if $value == "top-left" {
        position: absolute;
        top:  0;
        left: 0;
    }
    @else if $value == "bottom" {
        position: absolute;
        bottom: 0;
        left:   0;
        right:  0;
    }
    @else if $value == "left" {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    @else if $value == "center" {
        position: absolute;
        top:  50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    @else if $value == "full" {
        position: absolute;
        top:    0;
        bottom: 0;
        left:   0;
        right:  0;
    }
    @if $value == "relative" or $value == "none" or $value == "reset" {
        position: relative;
    }
    @else if $value == "none" or $value == "reset" {
        top:    auto;
        left:   auto;
        right:  auto;
        bottom: auto;
    }
}


///
/// Define characters for quotes
///
/// @author Chris Burnell
///
/// @example scss
///   @include quotes;
///   // quotes: "“" "”" "‘" "’";
///
@mixin quotes() {
    hanging-punctuation: first;

    &,
    :lang(en) & {
        quotes: "“" "”" "‘" "’";
    }

    :lang(de) &,
    :lang(pl) & {
        quotes: "„" "“" "‚" "‘";
    }

    :lang(fr) & {
        quotes: "« " " »" "‹ " " ›";
    }

    :lang(es) & {
        quotes: "«" "»" "“" "“";
    }
}


///
/// Generate transitions based on flexible input parameters.
/// Pass zero or more properties and zero to two further parameters.
/// If passing two or more properties, quotation marks must be used.
///
/// @author Chris Burnell
///
/// @param {String} $values - Values
///
/// @require {Variable} $transition-time
/// @require {Variable} $transition-function
///
/// @example scss - Zero parameters
///   @include transition;
///   // transition: all 0.2s ease;
///
/// @example scss - One property
///   @include transition(color);
///   // transition: color 0.2s ease;
///
/// @example scss - Two properties
///   @include transition(color, border);
///   // transition: color 0.2s ease, border 0.2s ease;
///
/// @example scss - One property, one duration
///   @include transition(color 0.5s);
///   // transition: color 0.5s ease;
///
/// @example scss - One property, one duration, one timing function
///   @include transition(color 1s linear);
///   // transition: color 1s linear;
///
/// @example scss - Two properties, two durations, two timing functions
///   @include transition(color 2s ease-in-out, border 1s linear);
///   // transition: color 2s ease-in-out, border 1s linear;
///
@mixin transition($values...) {
    $transition: ();

    // if no parameter, transition all with default time and function
    @if length($values) == 0 {
        $transition: all #{$transition-time} #{$transition-function};
    // if parameter just set to "none" then just transition nothing (none)
    } @else if $values == none {
        $transition: none;
    // if the parameter contains a comma then operating on multiple properties
    } @else if str-index(#{$values}, ",") {
        @each $value in $values {
            $transition: append($transition, unpack-transition($value), comma);
        }
    } @else {
        $transition: unpack-transition($values...);
    }

    transition: $transition;
}


///
/// Visually hide an element properly.
///
@mixin visually-hidden() {
    width:  1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}


///
/// Describes CSS changes to the browser; to be coupled with any transitions.
///
/// @author Chris Burnell
///
/// @param {String} $values - Values
///
/// @example scss - One parameter
///   @include will-change(color);
///   // will-change: color;
///
/// @example scss - Multiple parameters
///   @include will-change(color, border);
///   // will-change: color, border;
///
/// @throw Error if no parameters are passed.
///
@mixin will-change($values...) {
    @if length($values) == 0 {
        @error "will-change() expects at least one parameter.";
    }

    will-change: $values;
}
