////
/// Variables
/// @group abstracts
////

/// @type Length
$base-font-size: 16px !default;

/// @type Length
$wrapper-width-small: 500px !default;
/// @type Length
$wrapper-width-medium: 800px !default;
/// @type Length
$wrapper-width-large: 1140px !default;
/// @type Map
/// @prop {String} Breakpoint name
/// @prop {Length} Breakpoint value
$breakpoints: (
    small: $wrapper-width-small,
    medium: $wrapper-width-medium,
    large: $wrapper-width-large
) !default;

/// @type Length
$gutter-width: 1.25rem !default;
/// @type Length
$gap-width: 2.25rem !default;
/// @type Length
$aside-width: 15.875rem !default;
/// @type Length
$article-width: 50.625rem !default;
// 21em
/// @type Length
$line-length-minimum: 336px !default;
// 30em
/// @type Length
$line-length-maximum: 480px !default;
/// @type Length
$line-length-responsive: calc(#{$line-length-minimum} + (#{$line-length-maximum / ($line-length-maximum * 0 + 1)} - #{$line-length-minimum / ($line-length-minimum * 0 + 1)}) * ((100vw - #{$wrapper-width-small}) / (#{$wrapper-width-large / ($wrapper-width-large * 0 + 1)} - #{$wrapper-width-small / ($wrapper-width-small * 0 + 1)})));

/// @type Length
$measure-small: 0.625rem !default;
/// @type Length
$measure-small-relative: 0.625em !default;
/// @type Length
$measure-small-proportional: 2vmin !default;
/// @type Length
$measure-medium: 1.25rem !default;
/// @type Length
$measure-medium-relative: 1.25em !default;
/// @type Length
$measure-medium-proportional: 4vmin !default;
/// @type Length
$measure-large: 2.25rem !default;
/// @type Length
$measure-large-relative: 2.25em !default;
/// @type Length
$measure-large-proportional: 8vmin !default;
/// @type Length
$measure-one: 1rem !default;
/// @type Length
$measure-one-relative: 1em !default;
/// @type Map
/// @prop {String} Measure name
/// @prop {Length} Measure value
/// @see {Mixin} v
$measures: (
    small: $measure-small,
    small-relative: $measure-small-relative,
    small-proportional: $measure-small-proportional,
    medium: $measure-medium,
    medium-relative: $measure-medium-relative,
    medium-proportional: $measure-medium-proportional,
    large: $measure-large,
    large-relative: $measure-large-relative,
    large-proportional: $measure-large-proportional,
    one: $measure-one,
    one-relative: $measure-one-relative
) !default;

/// @type Number
$opacity-alpha: 0.9 !default;
/// @type Number
$opacity-beta: 0.7 !default;
/// @type Number
$opacity-gamma: 0.1 !default;
/// @type Number
$opacity-delta: 0.05 !default;

/// @type Map
/// @prop {String} Opacity name
/// @prop {Number} Opacity value
/// @see {Function} opacities
/// @see {Mixin} v
$opacities: (
    alpha: $opacity-alpha,
    beta: $opacity-beta,
    gamma: $opacity-gamma,
    delta: $opacity-delta
) !default;

// this allows transparency to be transitioned to a different color
/// @type Color
$color-transparent: rgba(0, 0, 0, 0) !default;
/// @type Color
$color-black: #060606 !default;
/// @type Color
$color-mineshaft: #2b2b2b !default;
/// @type Color
$color-kaiser: #4f4f4f !default;
/// @type Color
$color-dove: #737373 !default;
/// @type Color
$color-alto: #dddddd !default;
/// @type Color
$color-white: #f9f9f9 !default;
/// @type Color
$color-bowhead: #507791 !default; // hsl(204, 29%, 44%)
/// @type Color
$color-raven: #5f8aa6 !default; // hsl(204, 29%, 51%)
/// @type Color
$color-coyote: #759ab3 !default; // hsl(204, 29%, 58%)
/// @type Color
$color-canada: #eb2d37 !default;
/// @type Color
$color-highlight: gold !default;
/// @type Color
$color-black--alpha: rgba($color-black, map-get($opacities, "alpha")) !default;
/// @type Color
$color-black--gamma: rgba($color-black, map-get($opacities, "gamma")) !default;
/// @type Color
$color-black--delta: rgba($color-black, map-get($opacities, "delta")) !default;
/// @type Color
$color-raven--gamma: rgba($color-raven, map-get($opacities, "gamma")) !default;
/// @type Map
/// @prop {String} Color Name
/// @prop {Color} Color Value
/// @see {Mixin} v
$site-colors: (
    transparent: $color-transparent,
    bowhead: $color-bowhead,
    raven: $color-raven,
    coyote: $color-coyote,
    canada: $color-canada,
    black: $color-black,
    mineshaft: $color-mineshaft,
    kaiser: $color-kaiser,
    dove: $color-dove,
    alto: $color-alto,
    white: $color-white,
    black--alpha: $color-black--alpha,
    black--gamma: $color-black--gamma,
    black--delta: $color-black--delta,
    raven--gamma: $color-raven--gamma
) !default;
/// @type Map
/// @prop {String} Color Name
/// @prop {Color} Color Value
$palette-colors: (
    bowhead: $color-bowhead,
    raven: $color-raven,
    coyote: $color-coyote,
    canada: $color-canada,
    black: $color-black,
    mineshaft: $color-mineshaft,
    kaiser: $color-kaiser,
    dove: $color-dove,
    alto: $color-alto,
    white: $color-white
) !default;

/// @type Length
$border-width-default: 0.25rem !default;
/// @type Length
$border-width-thin: 0.125rem !default;
/// @type Length
$border-width-hairline: 1px !default;
/// @type Length
$border-width-button: 0.182em !default;
/// @type Map
/// @prop {String} Border Width Name
/// @prop {Color} Border Width Value
/// @see {Mixin} v
$border-widths: (
    default: $border-width-default,
    thin: $border-width-thin,
    hairline: $border-width-hairline,
    button: $border-width-button
) !default;

/// @type String
$border-style-default: solid !default;
/// @type String
$border-style-alternate: dotted !default;
/// @type Map
/// @prop {String} Border Style Name
/// @prop {Color} Border Style Value
/// @see {Mixin} v
$border-styles: (
    default: $border-style-default,
    alternate: $border-style-alternate
) !default;

/// @type Length
/// @see {Mixin} border-radius
$border-radius-default: 0.375rem !default;
/// @type Length
/// @see {Mixin} border-radius
$border-radius-thin: 0.25rem !default;
/// @type Length
/// @see {Mixin} border-radius
$border-radius-hairline: 0.125rem !default;
/// @type Map
/// @prop {String} Border Radius Name
/// @prop {Color} Border Radius Value
/// @see {Mixin} v
$border-radii: (
    default: $border-radius-default,
    thin: $border-radius-thin,
    hairline: $border-radius-hairline
) !default;

/// @type String
$font-display: fallback !default;

/// @type Number
$font-weight-default: 400 !default;
/// @type Number
$font-weight-bold: 600 !default;
/// @type Map
/// @prop {String} Font Weight Name
/// @prop {Color} Font Weight Value
/// @see {Mixin} v
$font-weights: (
    default: $font-weight-default,
    bold: $font-weight-bold
) !default;

/// @type Length
$font-size-default: 1rem !default;
// 72px
/// @type Length
$font-size-alpha: 4.5rem !default;
// 22px
/// @type Length
$font-size-beta: 1.375rem !default;
// 18px
/// @type Length
$font-size-gamma: 1.125rem !default;
// 20px
/// @type Length
$font-size-large: 1.25rem !default;
/// @type Length
$font-size-large-relative: 1.25em !default;
// 14px
/// @type Length
$font-size-small: 0.875rem !default;
/// @type Length
$font-size-small-relative: 0.875em !default;
/// @type Map
/// @prop {String} Font Size Name
/// @prop {Number} Font Size Value
/// @see {Mixin} v
$font-sizes: (
    default: $font-size-default,
    alpha: $font-size-alpha,
    beta: $font-size-beta,
    gamma: $font-size-gamma,
    large: $font-size-large,
    small: $font-size-small
) !default;

/// @type List
$font-family-default: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
/// @type List
$font-family-alpha: "Heebo", "League Gothic", sans-serif !default;
/// @type List
$font-family-serif: Georgia, serif !default;
/// @type List
$font-family-monospace: "Menlo for Powerline", "Menlo", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !default;
/// @type Map
/// @prop {String} key - Font Family name
/// @prop {Number} value - Font Family value
/// @see {Mixin} font-family
/// @see {Mixin} v
$font-families: (
    default: $font-family-default,
    alpha: $font-family-alpha,
    serif: $font-family-serif,
    monospace: $font-family-monospace
) !default;
/// @type List
/// @prop {String} family - Font Family
/// @prop {String} variant - Font Family Variant
/// @prop {String} style - Font Style
/// @prop {Number} weight - Font Weight
/// @prop {String} filename - Font Filename
$font-families-styles: (("Heebo", "Black", normal, 400, "heebo-black"), ("League Gothic", "Regular", normal, 400, "league-gothic-regular"), ("Proxima Nova", "Regular", normal, 400, "proxima-nova-regular"), ("Proxima Nova", "Italic", italic, 400, "proxima-nova-italic"), ("Proxima Nova", "Semibold", normal, 600, "proxima-nova-semibold")) !default;

/// @type Number
$line-height-default: 1.875 !default;
/// @type Number
$line-height-small: 1.25 !default;
/// @type Number
$line-height-medium: 1.429 !default;
/// @type Number
$line-height-code: 2 !default;
/// @type Map
/// @prop {String} Line Height Name
/// @prop {Number} Line Height Value
/// @see {Mixin} v
$line-heights: (
    default: $line-height-default,
    small: $line-height-small,
    medium: $line-height-medium,
    code: $line-height-code
) !default;

/// @type Length
$letter-spacing-default: 0 !default;
/// @type Length
$letter-spacing-uppercase: 1px !default;

/// @type Length
$animation-duration: 2s !default;
/// @type String
$animation-function: linear !default;
/// @type String
$animation-fill-mode: forwards !default;

/// @type Length
$rotation-default: 5deg !default;

/// @type Length
/// @see {Mixin} transition
$transition-duration-default: 0.2s !default;
/// @type Length
/// @see {Mixin} transition
$transition-duration-long: 1s !default;
/// @type String
/// @see {Mixin} transition
$transition-function: ease !default;

/// @type Number
$z-index-below: -1 !default;
/// @type Number
$z-index-root: 0 !default;
/// @type Number
$z-index-default: 1 !default;
/// @type Number
$z-index-above: 2 !default;
/// @type Number
$z-index-modal: 3 !default;
/// @type Number
$z-index-dialog: 4 !default;
/// @type Number
$z-index-notification: 5 !default;
/// @type Map
/// @prop {String} z-index Name
/// @prop {Number} z-index Value
/// @see {Function} z-index
/// @see {Mixin} v
$z-indexes: (
    below: $z-index-below,
    root: $z-index-root,
    default: $z-index-default,
    above: $z-index-above,
    modal: $z-index-modal,
    dialog: $z-index-dialog,
    notification: $z-index-notification
) !default;

/// @type Map
/// @prop {Array} Aspect Ratio
/// @prop {Length} Percentage for sizing
$aspect-ratios: (
    "16-by-9": 56.25%,
    "4-by-3": 75%
) !default;

/// @type List
/// @prop {String} Body / Primary Navigation Class
$navigation-classes: about, article, note, search !default;

/// @type Color
$color-css: #016fba !default;
/// @type Color
$color-html: #e54d26 !default;
/// @type Color
$color-javascript: #f1c54c !default;
/// @type Color
$color-liquid: #7ab55c !default;
/// @type Color
$color-markdown: #4a525a !default;
/// @type Color
$color-sass: #c6538c !default;
/// @type Map
/// @prop {String} Language name
/// @prop {Color} Language color
$language-colors: (
    css: $color-css,
    haml: $color-html,
    html: $color-html,
    jade: $color-html,
    javascript: $color-javascript,
    liquid: $color-liquid,
    markdown: $color-markdown,
    sass: $color-sass,
    scss: $color-sass
) !default;

/// @type Color
$color-codepen: #212121 !default;
/// @type Color
$color-github: #333333 !default;
/// @type Color
$color-lastfm: #e31b23 !default;
/// @type Color
$color-rss: #ff9770 !default;
/// @type Color
$color-spotify: #1db954 !default;
/// @type Color
$color-spotify-alt: #191414 !default;
/// @type Color
$color-twitter: mix($color-black, #55acee, 10%) !default;
/// @type List
/// @prop {String} name - Brand name
/// @prop {Color} color - Icon color
/// @prop {Number} opacity - Brand icon opacity
$brand-colors: codepen $color-white 1.025, github $color-white 1, lastfm $color-lastfm 1, rss $color-rss 0.775, spotify $color-spotify 0.925, twitter $color-twitter 0.925, article $color-white 0.9, feather $color-white 0.725, heart $color-white 1, link $color-white 1, search $color-white 1, tag $color-white 1 !default;

/// @type Length
$icon-size: 40px !default;
/// @type Length
$logo-size: 8.5rem !default; // 136px
/// @type Length
$avatar-size: 6.25rem !default; // 100px

/// @type Number
$max-columns: 2 !default;

/// @type Map
/// @see {Mixin} v
$variable-map: (
    border-width: $border-widths,
    border-style: $border-styles,
    color: $site-colors,
    font-family: $font-families,
    font-size: $font-sizes,
    font-weight: $font-weights,
    line-height: $line-heights,
    measure: $measures,
    opacity: $opacities,
    z-index: $z-indexes
);

/// @type Map
/// @see {Mixin} v
$property-map: (
    opacity: opacity,
    background-color: color,
    color: color,
    border-color: color,
    border-top-color: color,
    border-right-color: color,
    border-bottom-color: color,
    border-left-color: color,
    border-style: border-style,
    border-top-style: border-style,
    border-right-style: border-style,
    border-bottom-style: border-style,
    border-left-style: border-style,
    border-width: border-width,
    border-top-width: border-width,
    border-right-width: border-width,
    border-bottom-width: border-width,
    border-left-width: border-width,
    fill: color,
    font-family: font-family,
    font-size: font-size,
    font-weight: font-weight,
    line-height: line-height,
    margin: measure,
    margin-top: measure,
    margin-right: measure,
    margin-bottom: measure,
    margin-left: measure,
    padding: measure,
    padding-top: measure,
    padding-right: measure,
    padding-bottom: measure,
    padding-left: measure,
    stroke: color,
    text-decoration-color: color,
    text-decoration-width: border-width,
    z-index: z-index
);
