////
/// Variables
/// @group abstracts
////


/// @type Length
$base-font-size: 16px !default;


/// @type Length
$wrapper-width-small:  500px !default;
/// @type Length
$wrapper-width-medium: 800px !default;
/// @type Length
$wrapper-width-large: 1140px !default;
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
/// @require {Variable} $wrapper-width-small
/// @require {Variable} $wrapper-width-medium
/// @require {Variable} $wrapper-width-large
$breakpoints: (
    "small":  $wrapper-width-small,
    "medium": $wrapper-width-medium,
    "large":  $wrapper-width-large
) !default;


/// @type Length
$gutter-width: 1.250rem !default;
/// @type Length
$aside-width: 15.875rem !default;
/// @type Length
$article-width: 50.625rem !default;
// 21em
/// @type Length
$line-length-minimum: 336px !default;
// 30em
/// @type Length
$line-length-maximum: 480px !default;
/// @type Length
$line-length-responsive: calc(#{$line-length-minimum} + (#{$line-length-maximum / ($line-length-maximum * 0 + 1)} - #{$line-length-minimum / ($line-length-minimum * 0 + 1)}) * ((100vw - #{$wrapper-width-small}) / (#{$wrapper-width-large / ($wrapper-width-large * 0 + 1)} - #{$wrapper-width-small / ($wrapper-width-small * 0 + 1)})));


/// @type Length
$measure-small:           0.625rem !default;
/// @type Length
$measure-small-relative:  0.625em !default;
/// @type Length
$measure-small-proportional:  2vmin !default;
/// @type Length
$measure-medium:          1.250rem !default;
/// @type Length
$measure-medium-relative: 1.250em !default;
/// @type Length
$measure-medium-proportional: 4vmin !default;
/// @type Length
$measure-large:           2.250rem !default;
/// @type Length
$measure-large-relative:  2.250em !default;
/// @type Length
$measure-large-proportional:  8vmin !default;


/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
/// @see {Function} opacities
$opacities: (
    "alpha": 0.900,
    "beta":  0.700,
    "gamma": 0.100,
    "delta": 0.050,
) !default;


// this allows transparency to be transitioned to a different color
/// @type Color
$transparent: rgba(0, 0, 0, 0) !default;
/// @type Color
$color-black: #060606 !default;
/// @type Color
$color-mineshaft: #2b2b2b !default;
/// @type Color
$color-kaiser: #4f4f4f !default;
/// @type Color
$color-dove: #737373 !default;
/// @type Color
$color-alto: #dddddd !default;
/// @type Color
$color-white: #f9f9f9 !default;
/// @type Color
$color-raven: #5f8aa6 !default;
/// @type Color
$color-bowhead: #4d7086 !default;
/// @type Color
$color-coyote: #6e95ae !default;
/// @type Color
$color-canada: #fd1b00 !default;
/// @type Color
$color-highlight: gold !default;
/// @type Color
/// @require {Variable} $color-black
/// @require {Variable} $opacities
$color-black--delta: rgba($color-black, map-get($opacities, "delta")) !default;
/// @type Color
/// @require {Variable} $color-black
/// @require {Variable} $opacities
$color-black--gamma: rgba($color-black, map-get($opacities, "gamma")) !default;
/// @type Color
/// @require {Variable} $color-raven
/// @require {Variable} $opacities
$color-raven--gamma: rgba($color-raven, map-get($opacities, "gamma")) !default;
/// @type Map
/// @prop {Color} Color
/// @require {Variable} $color-bowhead
/// @require {Variable} $color-raven
/// @require {Variable} $color-coyote
/// @require {Variable} $color-canada
/// @require {Variable} $color-black
/// @require {Variable} $color-mineshaft
/// @require {Variable} $color-kaiser
/// @require {Variable} $color-dove
/// @require {Variable} $color-alto
/// @require {Variable} $color-white
$site-colors: (
    "bowhead":   $color-bowhead,
    "raven":     $color-raven,
    "coyote":    $color-coyote,
    "canada":    $color-canada,
    "black":     $color-black,
    "mineshaft": $color-mineshaft,
    "kaiser":    $color-kaiser,
    "dove":      $color-dove,
    "alto":      $color-alto,
    "white":     $color-white
) !default;


/// @type Length
$border-width-default:  0.250rem !default;
/// @type Length
$border-width-thin:     0.125rem !default;
/// @type Length
$border-width-hairline:     1px !default;


/// @type String
$border-style-default: solid !default;


/// @type Length
/// @see {Mixin} border-radius
$border-radius-default:  0.375rem !default;
/// @type Length
/// @see {Mixin} border-radius
$border-radius-thin:     0.250rem !default;
/// @type Length
/// @see {Mixin} border-radius
$border-radius-hairline: 0.125rem !default;
/// @type Map
$border-radii: (
    "default":  $border-radius-default,
    "thin":     $border-radius-thin,
    "hairline": $border-radius-hairline
) !default;


/// @type Number
$font-weight-default: 400 !default;
/// @type Number
$font-weight-bold:    600 !default;


/// @type Length
/// @require {Variable} $base-font-size
$font-size-default: $base-font-size !default;
// 72px
/// @type Length
$font-size-alpha: 4.500rem !default;
// 22px
/// @type Length
$font-size-beta: 1.375rem !default;
// 18px
/// @type Length
$font-size-gamma: 1.125rem !default;
// 20px
/// @type Length
$font-size-large: 1.250rem !default;
/// @type Length
$font-size-large-relative: 1.250em !default;
// 14px
/// @type Length
$font-size-small: 0.875rem !default;
/// @type Length
$font-size-small-relative: 0.875em !default;
/// @type Map
/// @prop {String} key - Font Size name
/// @prop {Number} value - Font Size value
/// @require {Variable} $font-size-default
/// @require {Variable} $font-size-alpha
/// @require {Variable} $font-size-beta
/// @require {Variable} $font-size-gamma
/// @require {Variable} $font-size-large
/// @require {Variable} $font-size-small
$font-sizes: (
    "default": $font-size-default,
    "alpha":   $font-size-alpha,
    "beta":    $font-size-beta,
    "gamma":   $font-size-gamma,
    "large":   $font-size-large,
    "small":   $font-size-small
) !default;


/// @type List
$font-family-default: "Proxima Nova",
                      -apple-system,
                      BlinkMacSystemFont,
                      "Segoe UI",
                      Roboto,
                      Oxygen-Sans,
                      Ubuntu,
                      Cantarell,
                      "Helvetica Neue",
                      sans-serif !default;
/// @type List
$font-family-alpha: "League Gothic",
                    Impact,
                    sans-serif !default;
/// @type List
$font-family-serif: Georgia,
                    serif !default;
/// @type List
$font-family-monospace: "Menlo for Powerline",
                        "Menlo",
                        Consolas,
                        Monaco,
                        "Andale Mono",
                        "Ubuntu Mono",
                        monospace !default;
/// @type Map
/// @prop {String} key - Font Family name
/// @prop {Number} value - Font Family value
/// @require {Variable} $font-family-default
/// @require {Variable} $font-family-alpha
/// @require {Variable} $font-family-serif
/// @require {Variable} $font-family-monospace
/// @see {Mixin} font-family
$font-families: (
    "default":   $font-family-default,
    "alpha":     $font-family-alpha,
    "serif":     $font-family-serif,
    "monospace": $font-family-monospace
) !default;
/// @type List
/// @prop {String} family - Font Family
/// @prop {String} style - Font Style
/// @prop {Number} weight - Font Weight
/// @prop {String} name - Font Name
/// @prop {String} filename - Font Filename
$font-families-styles: (
    ("League Gothic", "Regular",  normal, 400, "league-gothic-regular"),
    ("Proxima Nova",  "Regular",  normal, 400, "proxima-nova-regular"),
    ("Proxima Nova",  "Italic",   italic, 400, "proxima-nova-italic"),
    ("Proxima Nova",  "Semibold", normal, 600, "proxima-nova-semibold")
);


/// @type Number
$line-height-default: 1.875 !default;
/// @type Number
$line-height-small:   1.250 !default;
/// @type Number
$line-height-medium:  1.429 !default;
/// @type Number
$line-height-code:    2.000 !default;


/// @type Length
$letter-spacing-default: 0 !default;
/// @type Length
$letter-spacing-uppercase: 1px !default;


/// @type Length
$animation-duration: 2s !default;
/// @type String
$animation-function: linear !default;


/// @type Length
$rotation-default: 5deg !default;


/// @type Length
/// @see {Mixin} transition
$transition-duration: 0.200s !default;
/// @type Length
/// @see {Mixin} transition
$transition-duration-long: 1.000s !default;
/// @type String
/// @see {Mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {Function} z-index
$z-indexes: (
    "below":       -1,
    "root":         0,
    "default":      1,
    "above":        2,
    "modal":        3,
    "dialog":       4,
    "notification": 5
) !default;


/// @type Map
/// @prop {Array} key - Aspect Ratio
/// @prop {Length} value - Percentage for sizing
$aspect-ratios: (
    (16, 9): 56.25%,
    (4, 3):  75.00%
) !default;


/// @type Map
/// @prop {String} Body Class
/// @prop {String} Primary Navigation Class
$navigation-links: (
    "home":      home,
    "about":     about,
    "article":   articles,
    "articles":  articles,
    "pen":       pens,
    "pens":      pens,
    "search":    search
) !default;


/// @type Color
$color-css: #016fba !default;
/// @type Color
$color-html: #e54d26 !default;
/// @type Color
$color-javascript: #f1c54c !default;
/// @type Color
$color-liquid: #7ab55c !default;
/// @type Color
$color-markdown: #4a525a !default;
/// @type Color
$color-sass: #c6538c !default;


/// @type Map
/// @prop {String} key - Language name
/// @prop {Color} value - Language color
/// @require {Variable} $color-css
/// @require {Variable} $color-html
/// @require {Variable} $color-javascript
/// @require {Variable} $color-liquid
/// @require {Variable} $color-markdown
/// @require {Variable} $color-sass
$coding-languages: (
    "css":         $color-css,
    "haml":        $color-html,
    "html":        $color-html,
    "jade":        $color-html,
    "javascript":  $color-javascript,
    "liquid":      $color-liquid,
    "markdown":    $color-markdown,
    "sass":        $color-sass,
    "scss":        $color-sass
) !default;


/// @type Color
$color-codepen: #212121 !default;
/// @type Color
$color-github: #333333 !default;
/// @type Color
$color-lastfm: #e31b23 !default;
/// @type Color
$color-rss: #ff9770 !default;
/// @type Color
$color-spotify: #1db954 !default;
/// @type Color
$color-spotify-alt: #191414 !default;
/// @type Color
$color-twitter: mix($color-black, #55acee, 10%) !default;


/// @type List
/// @prop {String} name - Brand name
/// @prop {Color} color - Icon color
/// @prop {Number} opacity - Brand icon opacity
/// @require {Variable} $color-white
/// @require {Variable} $color-lastfm
/// @require {Variable} $color-rss
/// @require {Variable} $color-spotify
/// @require {Variable} $color-twitter
$color-brands:
    codepen  $color-white    1.025,
    github   $color-white    1.000,
    lastfm   $color-lastfm   1.000,
    rss      $color-rss      0.775,
    spotify  $color-spotify  0.925,
    twitter  $color-twitter  0.925,
    article  $color-white    0.900,
    feather  $color-white    0.725,
    heart    $color-white    1.000,
    link     $color-white    1.000,
    search   $color-white    1.000,
    tag      $color-white    1.000 !default;


/// @type Length
$icon-size: 40px !default;
/// @type Length
$logo-size: 8.5rem !default; // 136px
/// @type Length
$avatar-size: 6.25rem !default; // 100px


/// @type Number
$max-columns: 2 !default;
