////
/// Article
/// @group layout
////


/**
 * The width of the articles is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `article` or `.articles-list`.
 */
article {
    padding-top: $measure-large;
    border-top: $border-width-default solid $color-brand;

    @include media(">medium") {
        padding-left: ($aside-width + $measure-large);
    }

    @include media("<=medium") {
        // Below the medium breakpoint, `article`, `articles-list`, and `aside`
        // become full width.
        display: flex;
        flex-direction: column;
    }
}
