////
/// Aside
/// @group layout
////

// The width of the asides is static above the medium breakpoint and always
// floated within an article or list of articles. The math is calculated as in
// `layout/_article.scss`.
aside {
    @include media(">medium") {
        width: $aside-width;
        float: left;
        margin-left: -($aside-width + $spacing-large);
    }

    @include media("<=medium") {
        width: 100%;

        &:not(.author) {
            @extend .rounded;
            background: $color-black-5-percent;
            padding: $spacing-small;
            margin-bottom: $spacing-medium;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    %gamma + & {
        margin-top: $spacing-large;
    }

    p,
    figcaption {
        clear: both;

        @include media(">small") {
            font-size: $font-size-small;
        }
    }
}
