////
/// Footer
/// @group layout
////

footer {
    background-color: $color-text;
    color: $color-text-light;
    width: 100%;
    padding: $spacing-large 0;
    border-top: $border-default solid $color-brand;
    font-family: $font-family-beta;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}
