////
/// Wrap
/// @group layout
////


main {
    padding-bottom: $measure-large;
}

.wrap {
    width: auto;
    max-width: $wrapper-width-large;
    padding-right: $wrapper-padding;
    padding-left:  $wrapper-padding;
    margin-right: auto;
    margin-left:  auto;
}
.wrap--full-width {
    max-width: 100%;
}

.clear {
    @include clear;
}
