<!-- Inject Non-Critical CSS -->
<script>{% include js-body/loadcss.html %}
loadCSS('/css/chrisburnell.min.css');</script>
<noscript>
    <link rel="stylesheet" href="/css/chrisburnell.min.css">
</noscript>

<!-- Support <picture> and picturefill -->
<script>document.createElement('picture');
{% include js-body/picturefill.html %}</script>

{% if page.comments == true or page.page_class contains 'page-home' or page.page_class contains 'page-articles' %}
<!-- Disqus Comments -->
<script>var disqus_shortname = 'chrisburnell';{% if page.comments == true %}{% include js-body/disqus-comments.html %}{% endif %}{% if page.page_class contains 'page-home' or page.page_class contains 'page-articles' %}{% include js-body/disqus-count.html %}{% endif %}</script>
{% endif %}

<!-- Google Analytics -->
<script>{% include js-body/google-analytics.html %}</script>

<!-- Search Templates -->
{% include js-body/search-templates.html %}

<!-- Search -->
<script>{% include js-body/search.html %}</script>

{% if page.codepen == true or page.categories contains 'pen' %}
<!-- CodePen Embeds -->
<script src="//codepen.io/assets/embed/ei.js" async defer></script>
{% endif %}

{% if page.twitter == true %}
<!-- Twitter Cards -->
<script src="//platform.twitter.com/widgets.js" async defer></script>
{% endif %}
