/*------------------------------------*\
    $ASIDES
\*------------------------------------*/

/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `_articles.scss`.
 */
aside {
    width: $aside-width;
    @include media(">medium") {
        float: left;
        margin-left: -($aside-width + $default-padding);
    }
    @include media("<=medium") {
        width: 100%;
        &:not(.author) {
            @extend %rounded;
            background: $black-light;
            padding: 1rem;
            margin-bottom: $default-margin;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    p,
    figcaption {
        clear: both;
        @include media(">small") {
            font-size: .875rem;
        }
    }
}
/**
 * The `.author` aside is always pushed underneath the content below the medium
 * breakpoint.
 */
/*aside*/.author {
    font-family: $secondary-font-stack;
    @include media("<=medium") {
        display: flex;
        flex-direction: column;
        order: 999;
        .about-page & {
            margin-top: $default-margin;
        }
    }
}
    .author-information {
        margin-bottom: $default-margin;
        font-family: $primary-font-stack;
        font-size: .875rem;
        font-style: italic;
        @include media("<=medium") {
            order: 998;
            padding-top: $default-padding;
            border-top: ($default-border / 2) solid $black-medium;
            margin-bottom: ($default-margin / 2);
        }
        a,
        strong {
            color: inherit;
            font-family: $secondary-font-stack;
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
    .author-biography {
        @include media(">medium") {
            margin-bottom: $default-margin;
        }
        p:not(:last-child) {
            margin-bottom: ($default-margin / 2);
        }
    }
    .author-name,
    .author-age,
    .author-employer,
    .article-date,
    .article-label {
        box-sizing: content-box;
        display: block;
        margin-bottom: .5rem;
        line-height: 1.25rem;
    }
    .article-label a:after,
    .featured-pens-link:after {
        content: "\00a0\2192";
    }
    .author-image {
        @extend %rounded;
        background-size: 100%;
        width:  6.25rem;
        height: 6.25rem;
        display: inline-block;
        float: left;
        margin-right: .625rem;
    }
    .article-tags {
        display: table-cell; // don’t wrap around `.author-image`
        line-height: 1.25rem;
    }

.featured-pens,
.related-articles {
    @include media(">medium") {
        margin-top: $default-margin;
    }
}
.featured-pens-title,
.related-articles-title {
    margin-top: 0;
}
.featured-pens-link {
    width: 100%;
    display: block;
    margin-top: ($default-margin / 2);
    font-weight: bold;
    text-align: right;
    @include media("<=medium") {
        margin-bottom: $default-margin;
        text-align: center;
    }
}
