/*------------------------------------*\
    $ ASIDES
\*------------------------------------*/

/**
 * The width of the asides is static and and always floated within an article or
 * list of articles. The math is calculated as in the Articles section.
 */
aside {
    @include breakpoint("tablet") {
        width: 100%;
        float: none;
        margin: 0 0 1em;
    }
    width: 15.1875em;
    float: left;
    margin-left: -16.875em;
    line-height: 1.618em;
    p {
        @include breakpoint("mobile") {
            font-size: 1em;
        }
        clear: both;
        margin-bottom: .5em;
        font-size: .875em;
    }
    blockquote p {
        margin-bottom: 0;
    }
}
.author,
.related-articles {
    font-family: $secondary-font-stack;
}
    @include breakpoint("tablet") {
        .author {
            padding-top: 2.25em;
            border-top: .125em solid $black-10;
            margin-bottom: 0;
            order: 999;
            .about-page & {
                margin-top: 2em;
            }
        }
    }
    .author a {
        color: $blue;
    }
    .author-information {
        margin-bottom: 1em;
        font-family: $primary-font-stack;
        font-size: .875em;
        font-style: italic;
        a,
        strong,
        time {
            font-family: $secondary-font-stack;
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
        }
    }
    .author-biography {
        margin-bottom: 1.5em;
    }
    .author-image {
        background-clip: padding-box;
        background-size: 100%;
        width: 100px;
        height: 100px;
        display: inline-block;
        float: left;
        margin-right: 10px;
        border-radius: .1875em;
    }
    .article-tags {
        display: table-cell; /* don't wrap around .author-image */
        line-height: 1.429em;
    }
    .author-biography .codepen,
    .author-biography .lastfm,
    .author-biography .twitter {
        background: none;
    }
    .related-articles-title {
        margin-top: 2em;
    }
    .related-articles-list {
        list-style: none;
        line-height: 1.25em;
        li + li {
            margin-top: 1em;
        }
    }
    .related-article-title {
        display: block;
        font-weight: bold;
    }
    .related-article-date {
        padding-left: 1em;
        font-size: .8125em;
        font-style: italic;
        &:before {
            content: "- ";
        }
    }
