/*------------------------------------*\
    $ ASIDES
\*------------------------------------*/

/**
 * The width of the asides is static and and always floated within an article or
 * list of articles. The math is calculated as in the articles partial.
 */
aside {
    width: 15.1875em;
    float: left;
    margin-left: -16.875em;
    line-height: 1.618em;
    @include breakpoint("tablet") {
        width: 100%;
        float: none;
        margin: 0 0 1em;
        &:not(.author) {
            @extend %rounded;
            background: $black-5;
            padding: 1em 1em .5em;
            margin-bottom: 1.5em;
        }
    }
    p,
    figcaption {
        clear: both;
        margin-bottom: .5em;
        font-size: .875em;
        @include breakpoint("mobile") {
            font-size: 1em;
        }
    }
    blockquote p {
        margin-bottom: 0;
    }
}
.author {
    font-family: $secondary-font-stack;
    @include breakpoint("tablet") {
        order: 999;
        padding-top: 2.25em;
        border-top: .125em solid $black-10;
        margin-bottom: 0;
        .about-page & {
            margin-top: 2em;
        }
    }
    a {
        color: $blue;
    }
}
    .author-information {
        margin-bottom: 1em;
        font-family: $primary-font-stack;
        font-size: .875em;
        font-style: italic;
        a,
        strong {
            color: inherit;
            font-family: $secondary-font-stack;
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
        }
    }
    .author-biography {
        margin-bottom: 1.5em;
        @include breakpoint("tablet") {
            margin-bottom: 0;
        }
    }
    .author-name,
    .author-age,
    .article-date {
        display: block;
        margin-bottom: .5em;
    }
    .author-name {
        line-height: 1.4em;
        strong {
            display: inline-block;
        }
    }
    .author-image {
        @extend %rounded;
        background-size: 100%;
        width: 100px;
        height: 100px;
        display: inline-block;
        float: left;
        margin-right: 10px;
    }
    .article-tags {
        display: table-cell; // don’t wrap around .author-image
        line-height: 1.429em;
    }
    .related-articles-title {
        margin-top: 2em;
    }
    .related-articles-list {
        line-height: 1.25em;
        li + li {
            margin-top: 1em;
        }
    }
    .related-article-title {
        display: block;
        font-weight: bold;
    }
    .related-article-date {
        padding-left: 1em;
        font-size: .8125em;
        &:before {
            content: "\2013\0020";
        }
    }
