/*------------------------------------*\
    $ BUTTONS
\*------------------------------------*/

button,
.button {
    background-color: $blue;
    color: $white;
    min-width: 8em;
    height: 1.91em;
    display: inline-block;
    padding: 0 .727em;
    border: 0;
    margin-bottom: .182em;
    position: relative;
    font-family: $heading-font-stack;
    font-size: 1.375em;
    line-height: 1.91em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -0.045em 0 $black-25;
    white-space: nowrap;
    cursor: pointer;
    border-radius: .182em;
    box-shadow: inset 0 0 .091em $black-10,
                0 .182em 0 darken($blue, 10%);
    user-select: none;
    @include gradient(transparent, $black-5);
    @include transition("background-color .2s ease-in-out");
    &:hover,
    &:focus {
        background-color: lighten($blue, 5%);
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
        box-shadow: 0 .045em 0 darken($blue, 5%);
        @include translate3d("0, .182em, 0");
        &:before,
        &:after {
            top: -0.182em;
            bottom: 0;
        }
    }
    &:before,
    &:after {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        bottom: -0.182em;
        left: 0;
    }
}
