/*------------------------------------*\
    $ CODE AND CODE BLOCKS
\*------------------------------------*/

code,
kbd,
samp,
var,
.monospace {
    font-family: $code-font-stack;
    font-size: .875em;
}
    p code,
    ol code,
    ul code,
    ins,
    kbd,
    mark,
    samp,
    var {
        background-color: rgba($blue, 0.1);
        padding: .215em;
    }
pre {
    margin-top: 0; // override normalize, margin-bottom in _typography.scss
    &:not(.codepen) {
        @extend %rounded;
        background-color: #EEE;
        padding: 1.5em 1.5em 1em;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        line-height: 1.5em;
        code {
            min-width: 100%;
            display: block;
        }
    }
}
.highlight {
    margin-bottom: 1em;
}
/**
 * [data-lang] is always applied to a code element inside a pre element
 */
[data-lang] {
    padding-top: 2em;
    &:before {
        content: attr(data-lang);
        background-color: rgba(#EEE, .5);
        opacity: .5;
        color: $text-color-alt;
        display: block;
        padding: 0 1em;
        position: absolute;
        top: 1em;
        left: .5em;
        font-family: $secondary-font-stack;
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        @include transition;
        pre:hover &,
        pre:focus &,
        pre:active & {
            opacity: .2;
        }
    }
}

/**
 * Github-style Code Highlighting
 */
.highlight {
    .err {                              // Error
        background-color: lighten($lastfm-color, 35%);
        color: $lastfm-color;
        font-weight: bold;
    }
    .c,                                 // Comment
    .cm,                                // Comment - Multiline
    .cp,                                // Comment - Preproc
    .c1,                                // Comment - Single
    .cs {                               // Comment - Special
        color: $text-color-alt;
        font-style: italic;
    }
    .gs,                                // Generic - Strong
    .k,                                 // Keyword
    .kc,                                // Keyword - Constant
    .kd,                                // Keyword - Declaration
    .kp,                                // Keyword - Pseudo
    .kr,                                // Keyword - Reserved
    .kt,                                // Keyword - Type
    .nc,                                // Name - Class
    .ne,                                // Name - Exception
    .nf,                                // Name - Function
    .o,                                 // Operator
    .ow {                               // Operator - Word
        font-weight: bold;
    }
    .gr,                                // Generic - Error
    .gt,                                // Generic - Traceback
    .ne,                                // Name - Exception
    .nf,                                // Name - Function
    .s,                                 // Literal - String
    .sb,                                // Literal - String Backtick
    .sc,                                // Literal - String Char
    .sd,                                // Literal - String Doc
    .s1,                                // Literal - String Single
    .s2,                                // Literal - String Double
    .se,                                // Literal - String Escape
    .sh,                                // Literal - String Heredoc
    .si,                                // Literal - String Interpol
    .sx {                               // Literal - String Other
        color: $lastfm-color;
    }
    .gi,                                // Generic - Inserted
    .gi .x {                            // Generic - Inserted Specific
        background-color: lighten(#3D9970, 30%);
    }
    .gd,                                // Generic - Deleted
    .gd .x {                            // Generic - Deleted Specific
        background-color: lighten($lastfm-color, 35%);
    }
    .ge {                               // Generic - Emph
        font-style: italic;
    }
    .m,                                 // Literal - Number
    .il,                                // Literal - Number Integer Long
    .mf,                                // Literal - Number Float
    .mh,                                // Literal - Number Hex
    .mi,                                // Literal - Number Integer
    .mo,                                // Literal - Number Oct
    .nb,                                // Name - Builtin
    .no,                                // Name - Constant
    .nv,                                // Name - Variable
    .vc,                                // Name - Variable Class
    .vg,                                // Name - Variable Global
    .vi {                               // Name - Variable Instance
        color: darken(#39CCCC, 10%);
    }
    .sr {                               // Literal - String Regex
        color: darken(#009926, 30%);
    }
    .bp,                                // Name - Builtin Pseudo
    .gh,                                // Generic - Heading
    .go,                                // Generic - Output
    .gp,                                // Generic - Prompt
    .nn {                               // Name - Namespace
        color: $text-color-alt;
    }
    .gu,                                // Generic - Subheading
    .w {                                // Text - Whitespace
        color: lighten($text-color-alt, 30%);
    }
    .kt,                                // Keyword - Type
    .na,                                // Name - Attribute
    .nc,                                // Name - Class
    .nt {                               // Name - Tag
        color: $blue;
    }
    .ni,                                // Name - Entity
    .ss {                               // Literal - String Symbol
        color: #85144B;
    }
}
