/*------------------------------------*\
    $COMPONENTS - Code
\*------------------------------------*/

/**
 * `data-lang` is always an attribute on a code element inside `div.highlight`
 */
[data-lang] {
    padding-top: $default-padding;
    line-height: 2;
    &:before {
        @extend %rounded;
        content: attr(data-lang);
        background-color: $text-color-alt;
        color: $white;
        width: 100%;
        display: block;
        padding: 0 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        font-family: $secondary-font-stack;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: $default-padding;
        text-transform: uppercase;
        border-radius: $default-border-radius $default-border-radius 0 0;
        @include transition;
    }
    @each $language in $coding-languages {
        $name:  nth($language, 1);
        $color: nth($language, 2);
        &.language-#{$name}:before {
            background-color: #{$color};
        }
    }
}

/**
 * Github-style Code Highlighting
 */
.highlight {
    position: relative;
    .err {                              // Error
        background-color: lightcoral;
        color: firebrick;
        font-weight: 600;
    }
    .c,                                 // Comment
    .cm,                                // Comment - Multiline
    .cp,                                // Comment - Preproc
    .c1,                                // Comment - Single
    .cs {                               // Comment - Special
        color: $text-color-alt;
        font-style: italic;
    }
    .gs,                                // Generic - Strong
    .k,                                 // Keyword
    .kc,                                // Keyword - Constant
    .kd,                                // Keyword - Declaration
    .kp,                                // Keyword - Pseudo
    .kr,                                // Keyword - Reserved
    .kt,                                // Keyword - Type
    .nc,                                // Name - Class
    .ne,                                // Name - Exception
    .nf,                                // Name - Function
    .o,                                 // Operator
    .ow {                               // Operator - Word
        font-weight: 600;
    }
    .gr,                                // Generic - Error
    .gt,                                // Generic - Traceback
    .ne,                                // Name - Exception
    .nf,                                // Name - Function
    .s,                                 // Literal - String
    .sb,                                // Literal - String Backtick
    .sc,                                // Literal - String Char
    .sd,                                // Literal - String Doc
    .s1,                                // Literal - String Single
    .s2,                                // Literal - String Double
    .se,                                // Literal - String Escape
    .sh,                                // Literal - String Heredoc
    .si,                                // Literal - String Interpol
    .sx {                               // Literal - String Other
        color: firebrick;
    }
    .gi,                                // Generic - Inserted
    .gi .x {                            // Generic - Inserted Specific
        background-color: turquoise;
    }
    .gd,                                // Generic - Deleted
    .gd .x {                            // Generic - Deleted Specific
        background-color: lightcoral;
    }
    .ge {                               // Generic - Emph
        font-style: italic;
    }
    .m,                                 // Literal - Number
    .il,                                // Literal - Number Integer Long
    .mf,                                // Literal - Number Float
    .mh,                                // Literal - Number Hex
    .mi,                                // Literal - Number Integer
    .mo,                                // Literal - Number Oct
    .nb,                                // Name - Builtin
    .no,                                // Name - Constant
    .nv,                                // Name - Variable
    .vc,                                // Name - Variable Class
    .vg,                                // Name - Variable Global
    .vi {                               // Name - Variable Instance
        color: cadetblue;
    }
    .sr {                               // Literal - String Regex
        color: forestgreen;
    }
    .bp,                                // Name - Builtin Pseudo
    .gh,                                // Generic - Heading
    .go,                                // Generic - Output
    .gp,                                // Generic - Prompt
    .nn {                               // Name - Namespace
        color: $text-color-alt;
    }
    .gu,                                // Generic - Subheading
    .w {                                // Text - Whitespace
        color: $text-color-light;
    }
    .kt,                                // Keyword - Type
    .na,                                // Name - Attribute
    .nc,                                // Name - Class
    .nt {                               // Name - Tag
        color: $brand;
    }
    .ni,                                // Name - Entity
    .ss {                               // Literal - String Symbol
        color: slateblue;
        color: rebeccapurple;
    }
}