/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.content {
    padding-bottom: $default-padding;
}

/**
 * The width of the articles is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `article` or `.articles-list`.
 * Maximum total width of container
 *   = 1080px
 * Left-hand padding
 *   = 25% of 1080px = 270px  = 16.875em
 */
article {
    padding-top: $default-padding;
    border-top: $default-border solid $blue;
    @include media(">medium") {
        padding-left: ($aside-width + $default-padding);
    }
    @include media("<=medium") {
        /**
         * Below the medium breakpoint, `article`, `article-list`, and `aside`
         * become full width.
         */
        display: flex;
        flex-direction: column;
    }
}

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
    embed,
    iframe,
    object,
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/**
 * Contains buttons and internal links.
 */
.articles-navigation,
.buttons-list {
    width: 100%;
    text-align: center;
    button,
    .button {
        display: inline-block;
        @include media(">small") {
            & + button,
            & + .button {
                margin-left: 1.875em;
            }
        }
    }
}
.articles-navigation {
    padding: ($default-padding - .182) 0 $default-padding;
    border-top: ($default-border / 2) solid $black-medium;
    .about-page & {
        border-top: 0;
        padding: $default-margin 0;
    }
}
.buttons-list {
    padding-bottom: $default-margin;
}

// Appears only on article pages
.comments {
    text-align: center;
    @include media(">medium") {
        .pagination + & {
            padding-top: $default-padding;
        }
    }
    .show-comments-button:before,
    .show-comments-button:active:before {
        position: relative;
        top: 0;
    }
    noscript {
        font-family: $secondary-font-stack;
        font-size: 1.25rem;
        font-style: italic;
    }
}
