/*------------------------------------*\
    $CONTENT
\*------------------------------------*/

.content {
    padding-bottom: $default-padding;
}

/**
 * The width of the articles is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `article` or `.articles-list`.
 * Maximum total width of container
 *   = 1080px
 * Left-hand padding
 *   = 25% of 1080px = 270px  = 16.875em
 */
article {
    padding-top: $default-padding;
    border-top: $default-border solid $blue;
    @include media(">medium") {
        padding-left: ($aside-width + $default-padding);
    }
    @include media("<=medium") {
        /**
         * When you hit the `medium` media query, `article`, `article-list`, and
         * `aside` becomes full width and `aside.author-information` pushes to
         * the bottom of the page.
         */
        display: flex;
        flex-direction: column;
    }
}
.articles-list li {
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 1.5em 1em;
    border-top: ($default-border / 2) solid $black-medium;
    position: relative;
    &:nth-child(odd) {
        background-color: $black-light;
    }
    @include media("<=medium") {
        padding-top: 1.875em;
        padding-bottom: 1.875em;
        text-align: center;
    }
    .article-title,
    .article-date,
    .comments-link {
        text-shadow: 0 1px 0 $white;
    }
}
    .article-banner {
        @extend %rounded;
        width: 810px;
        margin-bottom: 1em;
        @include media("<=small") {
            width: 500px;
        }
    }
    .article-title,
    .page-title,
    .site-tagline {
        margin-bottom: .75em;
    }
    .site-description {
        max-width: 24em;
        margin-top: -0.2em; // make sure text cap-height aligns to the `aside`
        margin-bottom: 1em;
        line-height: 1.4em;
        @include media("<=medium") {
            margin-bottom: 1.385em;
        }
    }
    .article-introduction,
    .page-description {
        margin-bottom: 1em;
        font-size: 1.25em;
        line-height: 1.5em;
    }
    .article-title,
    .article-date,
    .article-introduction {
        @include media("<=medium") {
            text-align: left;
        }
    }
    .article-introduction {
        margin-top: -5px; // align text to author-image
        @include media("<=medium") {
            margin-top: 0;
        }
        .article-banner + & {
            margin-top: 0;
        }
    }
    .article-title {
        width: 100%;
        .article-title-link {
            display: inline-block;
            padding: 0 .27em;
            border-bottom: .077em solid transparent;
            margin-left: -0.27em;
            @include transition(border-color);
            &:hover,
            &:focus,
            &:active {
                color: $text-color;
                border-bottom-color: $blue;
                text-decoration: none;
            }
        }
    }
    .articles-list .article-date:before {
        content: "\2013\0020";
        color: $text-color-alt;
    }
    .comments-link {
        display: inline-block;
        margin-top: 1.625em;
        font-family: $secondary-font-stack;
        font-weight: 600;
        line-height: 1em;
        &:after {
            content: "\00a0\2192";
        }
        @include media(">medium") {
            float: right;
        }
        @include media("<=medium") {
            display: block;
            margin-top: $default-margin;
        }
    }

.small-articles-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.5em 1.5em;
    font-family: $secondary-font-stack;
    line-height: 1.25em;
    @include media("<=medium") {
        margin-bottom: 1.875em;
    }
    li {
        width: 49.0125%;
        display: inline-block;
        &:nth-child(n+3) {
            margin-top: 1em;
        }
        aside & {
            width: 100%;
            & + li {
                margin-top: 1em;
            }
        }
        @include media("<=small") {
            width: 100%;
            & + li {
                margin-top: 1em;
            }
        }
    }
    a {
        @extend %rounded;
        display: block;
        padding: .5em;
        position: relative;
        overflow: hidden;
        &:hover,
        &:focus,
        &:active {
            background-color: $black-light;
            text-decoration: none;
        }
    }
    .small-article-title,
    .small-article-introduction,
    .small-article-date {
        text-shadow: 0 1px 0 $white;
    }
    .small-article-title {
        margin-bottom: .3125em;
    }
    .small-article-date {
        color: $text-color-alt;
        display: block;
        font-size: .8125em;
        font-weight: 600;
        &:before {
            content: "\2013\0020";
        }
    }
        .codepen-icon ~ .small-article-date {
            margin-top: .3125em;
        }
    .small-article-introduction {
        color: $text-color;
        margin-top: .3125em;
    }
}
/**
 * For Featured Pens, `.icon` is a child of the `li`
 */
.small-articles-list {
    svg {
        opacity: ($opacity-low / 2);
        width:  6.25em !important; // override `_icons.scss` + 4px
        height: 6.25em;
        display: block;
        position: absolute;
        top: 50%;
        right: .5em;
        stroke: $text-color;
        stroke-width: 1;
        @include z-index("below");
        @include transition;
        @include translate3d(0, -50%, 0);
        @include media("<=small") {
            width:  4em !important;
            height: 4em;
        }
    }
    a:hover svg,
    a:focus svg,
    a:active svg {
        opacity: $opacity-medium;
        stroke-width: 2;
    }
}

.pens-introduction {
    padding-bottom: $default-margin;
    border-bottom: ($default-border / 2) solid $black-medium;
}

.articles-navigation {
    width: 100%;
    padding: $default-padding 0;
    border-top: ($default-border / 2) solid $black-medium;
    text-align: center;
    @include media("<=small") {
        &:not(:last-child) {
            padding-bottom: 0;
        }
    }
    .about-page & {
        border-top: 0;
        padding: $default-margin 0;
    }
    button,
    .button {
        display: inline-block;
        @include media("<=small") {
            &:last-child {
                margin-top: .6875em;
            }
        }
        @include media(">small") {
            & + button,
            & + .button {
                margin-left: 1.875em;
            }
        }
    }
}

.comments {
    text-align: center;
    @include media(">medium") {
        .pagination + & {
            padding-top: $default-padding;
        }
    }
    .show-comments:before,
    .show-comments:active:before {
        position: relative;
        top: 0;
    }
    noscript {
        font-family: $secondary-font-stack;
        font-size: 1.25em;
        font-style: italic;
    }
}

/**
 * Style Guide
 */
.color-block-list {
    margin-bottom: .75em;
    text-align: center;
    li {
        @extend %rounded;
        color: $white;
        width: 6.5em;
        height: 6.5em;
        display: inline-block;
        border: $default-border solid $black-dark;
        margin: 0 .25em .5em;
        font-family: $code-font-stack;
        font-weight: 700;
        line-height: 6em;
        text-align: center;
        white-space: nowrap;
        &[data-color="#5F8AA6"] {
            background-color: #5F8AA6;
        }
        &[data-color="#F9F9F9"] {
            background-color: #F9F9F9;
            color: $text-color;
        }
        &[data-color="#4F4F4F"] {
            background-color: #4F4F4F;
        }
        &[data-color="#737373"] {
            background-color: #737373;
        }
        &[data-color="#DDDDDD"] {
            background-color: #DDDDDD;
            color: $text-color;
        }
    }
}
.style-guide-page {
    :not(.page-description) + h3[id] {
        margin-top: (1.5 * $default-padding);
    }
}

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
    embed,
    iframe,
    object,
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    margin-bottom: $default-margin;
    border: none;
    overflow-x: hidden;
}
