/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/

footer {
    background-color: $text-color;
    color: $text-color-light;
    width: 100%;
    padding: $default-padding 0;
    border-top: .286em solid $blue;
    font-family: $secondary-font-stack;
    font-weight: 600;
    text-transform: uppercase;
    @include gradient(transparent, $black-medium);
}
    .copyright,
    .social-icon-list {
        float: left;
        overflow: hidden;
        @include breakpoint("medium") {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
    .social-icon-list {
        float: right;
        margin-top: .3125em;
        @include breakpoint("medium") {
            margin-top: .625em;
        }
        li {
            display: inline-block;
            + li {
                margin-left: 1em;
            }
        }
    }
        .home-link,
        .copyright-link,
        .style-guide-link {
            display: inline-block;
            white-space: nowrap;
        }
        .home-link {
            width: 50px;
            height: 50px;
            margin-right: 1em;
            overflow: hidden;
            vertical-align: middle;
            text-indent: 100%;
            white-space: nowrap;
            @include transition;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                @include translate3d(0, .143em, 0);
            }
            @include breakpoint("small") {
                margin-right: .5em;
            }
            svg {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .copyright-link,
        .style-guide-link {
            color: $text-color-light;
        }
        .style-guide-link {
            @include breakpoint("small") {
                display: block;
            }
        }
        .footer-spacer {
            color: $text-color-alt;
            @include breakpoint("small") {
                display: none;
            }
        }
