/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/

footer {
    background-color: $text-color;
    color: $text-color-light;
    width: 100%;
    padding: 2.572em 0;
    border-top: .286em solid $blue;
    font-family: $secondary-font-stack;
    font-size: .875em;
    font-weight: 600;
    text-transform: uppercase;
    @include gradient(transparent, $black-10);
    @include breakpoint("mobile") {
        padding: 2.25em 0;
    }
}
    .copyright,
    .social-icons {
        float: left;
        overflow: hidden;
        @include breakpoint("tablet") {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
        .home-link,
        .copyright-link,
        .style-guide-link {
            display: inline-block;
            white-space: nowrap;
        }
        .home-link {
            background-image: url("/images/raven.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 2.875em;
            height: 2.875em;
            margin-right: 1em;
            overflow: hidden;
            vertical-align: middle;
            text-indent: 100%;
            white-space: nowrap;
            @include transition();
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                @include translate3d("0, .143em, 0");
            }
            @include breakpoint("mobile") {
                margin-right: .5em;
            }
        }
        .copyright-link,
        .style-guide-link {
            color: $text-color-light;
        }
        .style-guide-link {
            @include breakpoint("mobile") {
                display: block;
            }
            &:before {
                content: "\2013\0020";
                @include breakpoint("mobile") {
                    display: none;
                }
            }
        }
        .social-icons {
            float: right;
            @include breakpoint("tablet") {
                margin-top: .625em;
            }
            li {
                display: inline-block;
                + li {
                    margin-left: .5em;
                }
            }
        }
        /*a*/.social-icon {
            background-image: url("/images/glyphs.svg");
            background-size: 210px 32px;
            opacity: .6;
            width: 2.286em;
            height: 2.286em;
            display: block;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            @include transition("opacity .2s ease-in-out");
            &:hover,
            &:focus,
            &:active {
                opacity: .9;
                text-decoration: none;
            }
            &:active {
                @include translate3d("0, .14em, 0");
            }
        }
        /*a*/.codepen-link {
            color: #212121 !important;
        }
        /*a*/.github-link {
            background-position: -48px top;
            color: #000000 !important;
        }
        /*a*/.lastfm-link {
            background-position: -93px top;
            color: #D51007 !important;
        }
        /*a*/.rss-link {
            background-position: -133px top;
            /* uses the default anchor color */
        }
        /*a*/.twitter-link {
            background-position: -178px top;
            color: #007BA8 !important;
        }