/*------------------------------------*\
    $ FOOTER
\*------------------------------------*/

footer {
    background-color: $text-color;
    color: $text-color-light;
    width: 100%;
    padding: 2.572em 0;
    border-top: .286em solid $blue;
    font-family: $secondary-font-stack;
    font-weight: 600;
    text-transform: uppercase;
    @include gradient(transparent, $black-10);
    @include breakpoint("mobile") {
        padding: 2.25em 0;
    }
}
    .copyright,
    .social-icons {
        float: left;
        overflow: hidden;
        @include breakpoint("tablet") {
            width: 100%;
            float: none;
            text-align: center;
        }
    }
        .home-link,
        .copyright-link,
        .style-guide-link {
            display: inline-block;
            white-space: nowrap;
        }
        .home-link {
            background-image: url("/images/raven.svg");
            background-repeat: no-repeat;
            background-size: 50px 50px;
            width: 50px;
            height: 50px;
            margin-right: 1em;
            overflow: hidden;
            vertical-align: middle;
            text-indent: 100%;
            white-space: nowrap;
            @include transition();
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                @include translate3d("0, .143em, 0");
            }
            @include breakpoint("mobile") {
                margin-right: .5em;
            }
        }
        .copyright-link,
        .style-guide-link {
            color: $text-color-light;
        }
        .style-guide-link {
            @include breakpoint("mobile") {
                display: block;
            }
        }
        .copyright-spacer {
            color: $text-color-alt;
            @include breakpoint("mobile") {
                display: none;
            }
        }
        .social-icons {
            float: right;
            margin-top: .3125em;
            @include breakpoint("tablet") {
                margin-top: .625em;
            }
            li {
                display: inline-block;
                + li {
                    margin-left: .75em;
                }
            }
        }
        /*a*/.social-icon {
            background-image: url("/images/glyphs.svg");
            background-size: 227px 40px;
            opacity: .6;
            width: 40px;
            height: 40px;
            display: block;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            @include transition("opacity .2s ease-in-out");
            &:hover,
            &:focus,
            &:active {
                opacity: .9;
                text-decoration: none;
            }
            &:active {
                @include translate3d("0, .14em, 0");
            }
        }
        /*a*/.codepen-link {
            color: $codepen-color !important;
            &.social-icon {
                width: 41px;
            }
        }
        /*a*/.github-link {
            background-position: -51px top;
            color: $github-color !important;
            &.social-icon {
                width: 38px;
            }
        }
        /*a*/.lastfm-link {
            background-position: -99px top;
            color: $lastfm-color !important;
        }
        /*a*/.rss-link {
            background-position: -149px top;
            /* uses the default anchor color */
            &.social-icon {
                width: 31px;
            }
        }
        /*a*/.twitter-link {
            background-position: -190px top;
            color: darken($twitter-color, 10%) !important;
            &.social-icon {
                width: 37px;
            }
        }