/*------------------------------------*\
    $ ICONS
\*------------------------------------*/

// Hide our logo injected just below <body>
.logo-svg {
    display: none;
}

/*a*/.icon {
    background-image: url("/images/glyphs.svg");
    background-size: 272px 40px;
    background-repeat: no-repeat;
    opacity: .6;
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include transition("opacity .2s ease-in-out");
    @include on-event {
        opacity: .9;
        text-decoration: none;
    }
    &:active {
        @include translate3d("0, .14em, 0");
    }
}
/*a*/.codepen-link {
    color: $codepen-color !important;
    &.icon {
        width: 41px;
    }
}
/*a*/.github-link {
    background-position: -51px top;
    color: $github-color !important;
    &.icon {
        width: 38px;
    }
}
/*a*/.lastfm-link {
    background-position: -99px top;
    color: $lastfm-color !important;
}
/*a*/.rss-link {
    background-position: -149px top;
    // use the default anchor color
    &.icon {
        width: 31px;
    }
}
/*a*/.twitter-link {
    background-position: -190px top;
    color: darken($twitter-color, 10%) !important;
    &.icon {
        width: 37px;
    }
}
/*a.icon*/.heading-anchor {
    background-color: rgba($white, .75);
    background-position: -176px top;
    background-size: 204px auto;
    opacity: 0;
    width: 26px;
    height: 30px;
    h3:hover & {
        opacity: .9;
    }
}
