/*------------------------------------*\
    $ ICONS
\*------------------------------------*/

// Hide our SVGs injected just below `<body>`
.svg-master {
    display: none;
}

/*a*/.icon {
    opacity: .7;
    height: $icon-size;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include transition;
    &:hover,
    &:focus,
    &:active,
    .articles-list li:hover &,
    .small-articles-list a:hover &,
    .small-articles-list a:focus &,
    .small-articles-list a:active & {
        opacity: 1;
        text-decoration: none;
    }
    &:active {
        @include translate3d(0, .14em, 0);
    }
    @each $brand in $brands {
        $name:  nth($brand, 1);
        $ratio: nth($brand, 3);
        &.#{$name}-icon,
        &.#{$name}-link {
            width: ($ratio * $icon-size);
        }
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
        .articles-list &,
        .small-articles-list & {
            stroke: $codepen-color;
            stroke-width: 1;
        }
    }
    .articles-list li:hover & svg,
    .articles-list a:hover & svg,
    .articles-list a:focus & svg,
    .articles-list a:active & svg {
        stroke-width: 2;
    }
}
