/*------------------------------------*\
    $ ICONS
\*------------------------------------*/

// Hide our SVGs injected just below <body>
.svg-master {
    display: none;
}

/*a*/.icon {
    opacity: .6;
    height: 40px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include transition("opacity .2s ease-in-out");
    @include on-event {
        opacity: .9;
        text-decoration: none;
    }
    &:active {
        @include translate3d("0, .14em, 0");
    }
    &.codepen-link {
        width: 41px;
    }
    &.github-link {
        width: 38px;
    }
    &.lastfm-link {
        width: 40px;
    }
    &.rss-link {
        width: 31px;
    }
    &.twitter-link {
        width: 37px;
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
