/*------------------------------------*\
    $ LAYOUT
\*------------------------------------*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $white;
    color: $text-color;
    position: relative;
    font: 400 normal #{$base-font-size}/1.875em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    width: auto;
    max-width: $max-wrapper-width;
    padding-right: $wrapper-padding;
    padding-left:  $wrapper-padding;
    margin-right: auto;
    margin-left:  auto;
}
.clear {
    clear: both;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/**
 * Allow for fixed-width content
 */
.fixed-width {
    width: $max-wrapper-width;
}

/**
 * Add a bottom margin to a plethora of tasty elements
 */
h3:not(:last-child),
p:not(:last-child),
figure:not(:last-child),
pre,
iframe {
    margin-bottom: 1.25em;
}

// We’re goin’ up around the bend
%rounded {
    background-clip: padding-box;
    border-radius: .375em;
}

// Non-selectable stuff
%non-selectable {
    user-select: none;
    -webkit-touch-callout: none;
}
