/*------------------------------------*\
    $ LAYOUT
\*------------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
}
body {
    background-color: $white;
    color: $text-color;
    position: relative;
    font: 400 normal #{$base-font-size}/1.875em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    width: auto;
    max-width: $max-wrapper-width;
    padding-right: $wrapper-padding;
    padding-left:  $wrapper-padding;
    margin-right: auto;
    margin-left:  auto;
}
.clear {
    clear: both;
    overflow: hidden;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}