/*------------------------------------*\
    $   LAYOUT AND TYPOGRAPHY
    i   Page Layout
    ii  Inline Elements
    iii Block Elements
\*------------------------------------*/

html,
body {
    min-height: 100%;
}
body {
    background-color: $white;
    color: $text-color;
    position: relative;
    font: 400 normal #{$base-font-size}/1.875em $primary-font-stack;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    @include breakpoint("phone") {
        /**
         * Let's make intelligent use of the phone viewport width and reduce the
         * padding on either side of the wrapper. We can't remove it or the text
         * will sit right at the edge, creating a readability issue.
         */
        padding-right: $wrapper-padding/2;
        padding-left:  $wrapper-padding/2;
    }
    width: auto;
    max-width: $max-wrapper-width;
    padding-right: $wrapper-padding;
    padding-left:  $wrapper-padding;
    margin-right: auto;
    margin-left:  auto;
}
.clear {
    clear: both;
    overflow: hidden;
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

a {
    @include transition("background .2s, color .2s, text-shadow .2s");
    color: $blue;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
    h1 &,
    h2 &,
    h3 & {
        color: $text-color;
        &:hover,
        &:focus,
        &:active {
            color: $blue;
        }
    }
}
h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em; /* so that elements can be floated inside headings */
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-family: $heading-font-stack;
    font-size: 2.625em;
    text-transform: uppercase;
    text-shadow: .0714em .0714em 0 $black-5;
}
h2 {
    font-family: $primary-font-stack;
    font-size: 1.625em;
    text-shadow: 0 -1px 0 $white-25;
}
h3,
.article-date {
    font-family: $secondary-font-stack;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.618em;
    text-transform: uppercase;
}
h3 {
    border-bottom: .125em solid $text-color-light;
    margin-top: .5em;
}
p {
    margin: 0;
}
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: inside disc;
}
ol {
    list-style-type: decimal-leading-zero;
}
img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0 0 .5em;
    text-align: center;
}
    figcaption {
        padding-top: .444em;
        font-size: 1.125em;
        font-style: italic;
    }
abbr[title],
blockquote,
cite,
dfn[title] {
    color: $text-color-alt;
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted $text-color-alt;
    cursor: help;
}
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    article & {
        @extend .rounded;
        background-color: rgba($blue, 0.1);
        padding: 1em;
        margin: 1em 2.5em;
    }
    aside & {
        padding: 1em 0;
        border-top: .286em solid $blue;
        border-bottom: .286em solid $blue;
    }
    & p {
        margin-bottom: 0 !important;
        &:before {
            content: open-quote;
            padding-right: .1875em;
        }
        &:after {
            content: close-quote;
            padding-left: .1875em;
        }
    }
    & + p .citation {
        margin-left: 2.5em;
    }
}
    .pullquote {
        font-size: 1.5em;
        line-height: 1.25em;
        & .citation {
            font-size: .667em;
        }
    }
    blockquote + p .citation,
    .pullquote .citation {
        margin-top: 1em;
        &:before {
            content: "\2014\00a0";
        }
    }
hr {
    background: $black-10;
    width: 100%;
    height: .125em;
    display: block;
    border: 0;
    margin: .5em 0 1.5em;
}
/**
 * Add a bottom margin to a plethora of tasty elements.
 */
p:not(:last-child),
ol:not(:last-child):not([class]),
ul:not(:last-child):not([class]),
h3:not(:last-child),
figure:not(:last-child),
article,
.cp_embed_iframe {
    margin-bottom: 1.25em;
}
.rounded {
    background-clip: padding-box;
    border-radius: .375em;
}
/**
 * Text Highlights
 */
::selection {
    background: $blue;
    color: $white;
}
code::selection {
    color: $white;
}
