/*------------------------------------*\
    $LOGO
\*------------------------------------*/

.logo {
    @extend %non-selectable;
    color: $text-color;
    display: inline-block;
    padding-top: .5em;
    padding-left: 1.923em;
    position: relative;
    font-family: $heading-font-stack;
    font-size: 3.25em;
    line-height: 1em;
    text-transform: uppercase;
    text-shadow: .058em .058em 0 $black-light;
    white-space: nowrap;
    @include z-index("above");
    @include transition;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    @include media(">medium") {
        float: left;
    }
    @include media("<=small") {
        font-size: 2.75em;
    }
    &:active {
        @include translate3d(0, .039em, 0);
        svg {
            /**
             * In order to get `.logo svg` to travel up 2x the distance the
             * `.logo` text does, first the `translate` applied on the parent
             * (of the `aside`) has to be counteracted, then (2 * 0.039em)
             * is added, totalling 0.117em, made negative on the y-axis to
             * go up. We cannot use `translate` as it is used below for
             * further animating.
             */
            top: -0.117em;
        }
    }
    svg {
        width: 2.307em;
        height: 2.307em;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        @include z-index("below");
        @include animation(soaring 30s linear alternate infinite);
        @include animation-play-state(paused);
        @include transition;
        @include translate3d(0, -0.8125em, 0);
        @include will-change(top);
    }
    &:hover svg,
    &:focus svg,
    &:active svg {
        /**
         * Only animate the image when the user hovers `.logo`.
         */
        @include animation-play-state(running);
    }
}
@keyframes soaring {
    0%,
    100%  { @include translate3d(  0,        -0.8125em, 0 ); }
    12.5% { @include translate3d( -0.0625em, -0.6875em, 0 ); }
    25%   { @include translate3d(   .125em,  -0.3125em, 0 ); }
    37.5% { @include translate3d(   .3125em, -0.375em,  0 ); }
    50%   { @include translate3d(   .125em,  -0.4375em, 0 ); }
    62.5% { @include translate3d(   .0625em, -0.25em,   0 ); }
    75%   { @include translate3d(   .1875em, -0.4375em, 0 ); }
    87.5% { @include translate3d( -0.0625em, -0.5625em, 0 ); }
}
