/*------------------------------------*\
    $ MAIN CONTENT
\*------------------------------------*/

.content {
    padding-bottom: $default-padding;
}

/**
 * The width of the articles is fluid, and always has padding on the left-hand
 * side to make room for any `aside`, which can appear anywhere inside
 * `article` or `.articles-list`.
 * Maximum total width of container
 *   = 1080px
 * Left-hand padding
 *   = 25% of 1080px = 270px  = 16.875em
 */
article {
    padding: $default-padding 0 0 16.875em;
    border-top: $default-border solid $blue;
    @include breakpoint("medium") {
        /**
         * When you hit the `medium` media query, `article`, `article-list`, and
         * `aside` becomes full width and `aside.author-information` pushes to
         * the bottom of the page.
         */
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
}
.articles-list li {
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 1.5em 1em;
    border-top: ($default-border / 2) solid $black-10;
    position: relative;
    &:nth-child(odd) {
        background-color: $black-5;
    }
    @include breakpoint("medium") {
        padding-top: 1.875em;
        padding-bottom: 1.875em;
        text-align: center;
    }
    .article-label {
        display: inline-block;
        padding-left: 1.143em;
        font-size: .538em;
        font-family: $secondary-font-stack;
        font-weight: 600;
        line-height: 2.086em;
        text-transform: uppercase;
        vertical-align: top;
        @include breakpoint("small") {
            display: none;
        }
        &:hover:after,
        &:focus:after,
        &:active:after {
            content: "\00a0\2192";
        }
    }
}
    .article-title,
    .page-title,
    .site-tagline {
        margin-bottom: .4em;
    }
    .site-description {
        max-width: 24em;
        margin-top: -0.2em; // make sure text cap-height aligns to the `aside`
        margin-bottom: .8em;
        line-height: 1.4em;
        @include breakpoint("medium") {
            margin-bottom: 1.385em;
        }
    }
    .article-introduction,
    .page-description {
        margin-bottom: 1em;
        font-size: 1.25em;
        line-height: 1.5em;
    }
    .article-banner {
        @extend %rounded;
        width: 810px;
        margin-bottom: 1em;
        @include breakpoint("small") {
            width: 500px;
        }
    }
    .article-title,
    .article-date,
    .article-introduction {
        @include breakpoint("medium") {
            text-align: left;
        }
    }
    .article-title {
        width: 100%;
        .article-title-link {
            display: inline-block;
            padding: 0 .27em;
            border-bottom: .077em solid transparent;
            margin-left: -0.27em;
            @include transition(border-color $transition-time ease);
            &:hover,
            &:focus,
            &:active {
                color: $text-color;
                border-bottom-color: $blue;
                text-decoration: none;
            }
        }
    }
    .articles-list .article-date:before {
        content: "\2013\0020";
        color: $text-color-alt;
    }
    .comments-link {
        display: inline-block;
        float: right;
        margin-top: 1.625em;
        font-family: $secondary-font-stack;
        font-weight: 600;
        line-height: 1em;
        &:after {
            content: "\00a0\2192";
        }
        @include breakpoint("medium") {
            display: block;
            float: none;
            margin-top: $default-margin;
        }
    }

.small-articles-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.5em;
    font-family: $secondary-font-stack;
    line-height: 1.25em;
    li {
        width: 49.0125%;
        display: inline-block;
        &:nth-child(n+3) {
            margin-top: 1em;
        }
        aside & {
            width: 100%;
            & + li {
                margin-top: 1em;
            }
        }
        @include breakpoint("small") {
            width: 100%;
            & + li {
                margin-top: 1em;
            }
        }
    }
    a {
        @extend %rounded;
        display: block;
        padding: .5em;
        position: relative;
        overflow: hidden;
        &:hover,
        &:focus,
        &:active {
            background-color: $black-5;
            text-decoration: none;
        }
    }
    .small-article-introduction {
        color: $text-color;
        margin: .25em 0;
    }
    .small-article-date {
        color: $text-color-alt;
        padding-left: 1em;
        font-size: .8125em;
        font-weight: 600;
        &:before {
            content: "\2013\0020";
        }
    }
    aside &
    .small-articles-list li {
        width: 100%;
        & + li {
            margin-top: 1em;
        }
    }
}
.articles-list .icon,
.small-articles-list .icon {
    width:  6.25em !important; // override `_icons.scss` + 4px
    height: 6.25em;
    display: block;
    position: absolute;
    top: 50%;
    z-index: -1;
    @include transition;
    @include translate3d(0, -50%, 0);
    svg {
        stroke: $text-color;
        stroke-width: 1;
    }
}
.articles-list .icon {
    right: $default-margin;
    @include breakpoint("large") {
        width:  10em !important;
        height: 10em;
    }
    @include breakpoint("small") {
        top: 1.5em;
        @include translate3d;
    }
    svg {
        stroke: rgba($text-color, $opacity-medium);
    }
}
.small-articles-list .icon {
    opacity: ($opacity-low / 2);
    right: .5em;
}
    .small-articles-list a:hover .icon,
    .small-articles-list a:focus .icon,
    .small-articles-list a:active .icon {
        opacity: $opacity-medium;
        text-decoration: none;
        svg {
            stroke-width: 2;
        }
    }

.pagination {
    width: 100%;
    padding-top: $default-padding;
    border-top: ($default-border / 2) solid $black-10;
    text-align: center;
    @include breakpoint("medium") {
        margin-top: 0;
        padding-bottom: $default-padding;
    }
    li {
        display: inline-block;
        @include breakpoint("small") {
            display: block;
            &:last-child {
                margin-top: .6875em;
            }
        }
        & + li {
            margin-left: 1.875em;
            @include breakpoint("small") {
                margin-left: 0;
            }
        }
    }
}
    .pagination-previous:before,
    .pagination-previous:active:before,
    .pagination-next:after,
    .pagination-next:active:after {
        position: relative;
        top: 0;
    }
    .pagination-previous:before {
        content: "\2190\00a0\00a0";
    }
    .pagination-next:after {
        content: "\00a0\00a0\2192";
    }

.show-comments {
    @include breakpoint("medium") {
        margin-bottom: 2em;
    }
    &:before,
    &:active:before {
        content: "\2711\00a0\00a0";
        position: relative;
    }
}
.comments {
    text-align: center;
    .pagination + & {
        padding-top: $default-padding;
        @include breakpoint("medium") {
            padding-top: 0;
        }
    }
    .show-comments:before,
    .show-comments:active:before {
        position: relative;
        top: 0;
    }
    noscript {
        font-family: $secondary-font-stack;
        font-size: 1.25em;
        font-style: italic;
    }
}

/**
 * Style Guide
 */
.color-block-list {
    margin-bottom: .75em;
    text-align: center;
    li {
        @extend %rounded;
        color: $white;
        width: 6.5em;
        height: 6.5em;
        display: inline-block;
        border: $default-border solid $black-25;
        margin: 0 .25em .5em;
        font-family: $code-font-stack;
        font-weight: 700;
        line-height: 6em;
        text-align: center;
        white-space: nowrap;
        &[data-color="#5F8AA6"] {
            background-color: #5F8AA6;
        }
        &[data-color="#F9F9F9"] {
            background-color: #F9F9F9;
            color: $text-color;
        }
        &[data-color="#4F4F4F"] {
            background-color: #4F4F4F;
        }
        &[data-color="#737373"] {
            background-color: #737373;
        }
        &[data-color="#DDDDDD"] {
            background-color: #DDDDDD;
            color: $text-color;
        }
    }
}

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
    iframe,
    object,
    embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/**
 * Fix `iframe`
 */
iframe {
    width: 100%;
    border: none;
    overflow-x: hidden;
}
