/*------------------------------------*\
    $ MISCELLANEOUS
\*------------------------------------*/

/**
 * Style Guide
 */

.color-block-list {
    margin-bottom: .75em;
    list-style: none;
    text-align: center;
    li {
        @extend .rounded;
        color: $white;
        width: 100px;
        height: 100px;
        display: inline-block;
        border: .25em solid $black-25;
        margin: 0 .5em .5em;
        font-family: $code-font-stack;
        font-weight: 600;
        line-height: 100px;
        text-align: center;
        &[data-color="#5F8AA6"] {
            background-color: #5F8AA6;
        }
        &[data-color="#F9F9F9"] {
            background-color: #F9F9F9;
            color: $text-color;
        }
        &[data-color="#4F4F4F"] {
            background-color: #4F4F4F;
        }
        &[data-color="#737373"] {
            background-color: #737373;
        }
        &[data-color="#DDDDDD"] {
            background-color: #DDDDDD;
            color: $text-color;
        }
    }
}

/**
 * Hacky fix for inline asides
 */
p:empty {
    display: none;
}
