/*------------------------------------*\
    $ MISCELLANEOUS
\*------------------------------------*/

/**
 * Luminosity
 */
.is-dim,
.is-dim h1 a,
.is-dim h2 a,
.is-dim h3 a,
.is-dim abbr[title],
.is-dim blockquote,
.is-dim cite,
.is-dim dfn[title],
.is-dim .logo,
.is-dim .site-navigation a,
.is-dim .site-navigation a:hover,
.is-dim .site-navigation a:focus,
.is-dim .site-navigation-home a,
.is-dim .site-navigation-about a,
.is-dim .site-navigation-archive a,
.is-dim .article-link a:hover,
.is-dim .article-link a:focus,
.is-dim .article-link a:active,
.is-dim .articles-list .article-date:before,
.is-dim /*a*/.codepen-link,
.is-dim /*a*/.github-link {
    @include transition();
    color: $white !important; /* just to override any specificity, this is temp */
}
.is-dim {
    @include transition();
    background-color: $text-color;
}
.is-dim hr {
    background-color: $text-color-light;
}
.is-dim abbr[title],
.is-dim dfn[title] {
    border-bottom-color: $text-color-light;
}
.is-dim .logo {
    text-shadow: 0.058em 0.058em 0 $white-25;
}
.is-dim .articles-list li {
    border-top-color: $text-color-light;
}