/*------------------------------------*\
    $ MISCELLANEOUS
\*------------------------------------*/

/**
 * Style Guide
 */
.color-block-list {
    margin-bottom: .75em;
    text-align: center;
    li {
        @extend %rounded;
        color: $white;
        width: 6.5em;
        height: 6.5em;
        display: inline-block;
        border: .25em solid $black-25;
        margin: 0 .25em .5em;
        font-family: $code-font-stack;
        font-weight: 700;
        line-height: 6em;
        text-align: center;
        white-space: nowrap;
        &[data-color="#5F8AA6"] {
            background-color: #5F8AA6;
        }
        &[data-color="#F9F9F9"] {
            background-color: #F9F9F9;
            color: $text-color;
        }
        &[data-color="#4F4F4F"] {
            background-color: #4F4F4F;
        }
        &[data-color="#737373"] {
            background-color: #737373;
        }
        &[data-color="#DDDDDD"] {
            background-color: #DDDDDD;
            color: $text-color;
        }
    }
}

/**
 * Hide things... 'nuff said
 */
.hidden {
    display: none;
}

/**
 * 404 Page Button
 */
.not-found-page button {
    @include breakpoint("medium") {
        display: block;
        margin: 0 auto 2em;
    }
}
