/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.primary-navigation {
    padding-bottom: 1.25em;
    white-space: nowrap;
    @include media(">medium") {
        float: right;
        padding-top: 1.5em;
    }
    @include media("<=medium") {
        width: 100%;
    }
}
    .primary-navigation-list {
        height: 3.75em;
        @include media(">medium") {
            float: right;
        }
        @include media("<=medium") {
            text-align: center;
        }
        li {
            display: inline-block;
            @include media(">medium") {
                float: left;
            }
            + li {
                margin-left: 1em;
                @include media("<=medium") {
                    margin-left: .5em;
                }
                @include media("<=small") {
                    margin-left: .25em;
                }
            }
        }
        a {
            color: $text-color-alt;
            display: block;
            padding: .75em;
            border-bottom: 0 solid $blue;
            margin-bottom: .3em;
            position: relative;
            font-family: $heading-font-stack;
            font-size: 1.25em;
            line-height: 1.25em;
            text-transform: uppercase;
            @include transition(color               $transition-time $transition-function,
                                padding-bottom      $transition-time $transition-function,
                                border-bottom-width $transition-time $transition-function,
                                transform           $transition-time $transition-function);
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                @include translate3d(0, .2em, 0);
            }
        }
    }
        // Primary Navigation Hover Effect
        .primary-navigation-list a:hover,
        .primary-navigation-list a:focus,
        .primary-navigation-list a:active,
        .home-page .primary-navigation-home a,
        .about-page .primary-navigation-about a,
        .archive-page .primary-navigation-archive a,
        .pens-page .primary-navigation-pens a {
            color: $text-color;
            padding-bottom: .55em;
            border-bottom-width: .2em;
        }
            // Primary Navigation Active Page Arrow
            .home-page .primary-navigation-home a:after,
            .about-page .primary-navigation-about a:after,
            .archive-page .primary-navigation-archive a:after,
            .pens-page .primary-navigation-pens a:after {
                content: "";
                border-top:   .5em solid $blue;
                border-right: .5em solid transparent;
                border-left:  .5em solid transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                @include translate3d(-50%, 0, 0);
            }
