/*------------------------------------*\
    $ NAVIGATION
\*------------------------------------*/

.primary-navigation {
    float: right;
    padding-top: 1.5em;
    padding-bottom: 1.25em;
    white-space: nowrap;
    @include breakpoint("tablet") {
        width: 100%;
        float: none;
        padding-top: 0;
    }
}
    .primary-navigation-list {
        height: 3.75em;
        float: right;
        @include breakpoint("tablet") {
            float: none;
            text-align: center;
        }
        li {
            display: inline-block;
            float: left;
            @include breakpoint("tablet") {
                float: none;
            }
            + li {
                margin-left: 1em;
            }
        }
        a {
            color: $text-color-alt;
            display: block;
            padding: .75em;
            border-bottom: 0 solid $blue;
            margin-bottom: .3em;
            position: relative;
            font-family: $heading-font-stack;
            font-size: 1.25em;
            line-height: 1.25em;
            text-transform: uppercase;
            @include transition("color .2s, padding-bottom .2s, border-bottom-width .2s, transform .2s");
            @include on-event {
                text-decoration: none;
            }
            &:active {
                @include translate3d("0, .2em, 0");
            }
        }
    }
        // Primary Navigation Hover Effect
        .primary-navigation-list a:hover,
        .primary-navigation-list a:focus,
        .primary-navigation-list a:active,
        .home-page .primary-navigation-home a,
        .about-page .primary-navigation-about a,
        .archive-page .primary-navigation-archive a {
            color: $text-color;
            padding-bottom: .55em;
            border-bottom-width: .2em;
        }
        // Primary Navigation Active Page Arrow
        .home-page .primary-navigation-home a:after,
        .about-page .primary-navigation-about a:after,
        .archive-page .primary-navigation-archive a:after {
            content: "";
            border-top: .5em solid $blue;
            border-right: .5em solid transparent;
            border-left: .5em solid transparent;
            position: absolute;
            top: 100%;
            left: 50%;
            @include translate3d("-50%, 0, 0");
        }
