/*------------------------------------*\
    $ NAVIGATION
\*------------------------------------*/

nav {
    float: right;
    margin-top: 1.25em;
    @include breakpoint("tablet") {
        width: 100%;
        float: none;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
}
    .site-navigation {
        height: 3.75em;
        float: right;
        list-style: none;
        @include breakpoint("tablet") {
            float: none;
            text-align: center;
        }
        li {
            height: 2.5em;
            display: inline-block;
            float: left;
            padding: .375em 0;
            text-align: center;
            @include breakpoint("tablet") {
                float: none;
            }
            + li {
                margin-left: 1em;
            }
        }
        a {
            color: $text-color-alt;
            display: block;
            padding: .75em;
            border-bottom: 0px solid $blue;
            position: relative;
            font-family: $heading-font-stack;
            font-size: 1.25em;
            line-height: 1.25em;
            text-transform: uppercase;
            @include transition("color .2s, border-bottom-width .2s, margin-top .2s, padding-bottom .2s");
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:active {
                margin-top: .1em;
                line-height: 1.15em;
                @include translate3d("0, .1em, 0");
            }
        }
    }
        .site-navigation a:hover, .site-navigation a:focus,
        .home-page .site-navigation-home a,
        .about-page .site-navigation-about a,
        .archive-page .site-navigation-archive a {
            color: $text-color;
            padding-bottom: 8px;
            border-bottom-width: 4px;
        }
        .home-page .site-navigation-home a:after,
        .about-page .site-navigation-about a:after,
        .archive-page .site-navigation-archive a:after {
            content: "";
            border-top: 5px solid $blue;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            position: absolute;
            bottom: -0.4em;
            left: 50%;
            @include translate3d("-50%, 0, 0");
        }