//
// TOOLS - Mixins
//

//
// SCSS @mixins
//

/// Linear Gradient
@mixin gradient($top, $bottom) {
    background-image: linear-gradient(to bottom, #{$top} 0%, #{$bottom} 100%);
}

/// Transition
@mixin transition($values...) {
    @if( length($values) == 0 ) {
        $values: all #{$transition-time} #{$transition-function};
    }
    @else if( str-index(""+$values+"", " ") == null and $values != "none" ) {
        $values: #{$values} #{$transition-time} #{$transition-function};
    }
    transition: #{$values};
}

/// Will-change
@mixin will-change($values...) {
    will-change: #{$values};
}

/// Translate3D
@mixin translate3d($values...) {
    @if( length($values) == 0 ) {
        $values: 0, 0, 0;
    }
    transform: translate3d(#{$values});
}

/// Animation
@mixin animation($values...) {
    animation: #{$values};
}

/// Animation Play State
@mixin animation-play-state($values...) {
    animation-play-state: #{$values};
}

/// Z-index Management
@mixin z-index($values...) {
    @if( #{$values} == "below" ) {
        $values: -1;
    }
    @else if( #{$values} == "above" ) {
        $values: 1;
    }
    z-index: #{$values};
}
