/*------------------------------------*\
    $ TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em; // so that elements can be floated inside headings
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-family: $heading-font-stack;
    font-size: 2.625em;
    text-transform: uppercase;
    text-shadow: .0714em .0714em 0 $black-light;
}
h2 {
    font-family: $primary-font-stack;
    font-size: 1.625em;
}
h3,
h4,
.articles-list .article-date {
    font-family: $secondary-font-stack;
    font-weight: 600;
}
h3,
.articles-list .article-date {
    font-size: 1.125em;
    line-height: 1.875em;
    text-transform: uppercase;
}
h3 {
    margin-top: .5em;
    border-bottom: .125em solid $text-color-light;
    position: relative;
}
h4 {
    margin-bottom: .5em;
}

a {
    color: $blue;
    text-decoration: none;
    @include transition(background $transition-time ease,
                        color      $transition-time ease);
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
    h2 &,
    h3 & {
        color: $text-color;
        &:hover,
        &:focus,
        &:active {
            color: $blue;
        }
    }
}
    .heading-anchor {
        color: $text-color-alt;
        display: none;
        padding-left: 1em;
        font-family: $code-font-stack;
        font-size: .723em;
        line-height: 1.875em;
        text-transform: lowercase;
        vertical-align: middle;
        :hover &,
        :focus &,
        :active & {
            display: inline-block;
        }
    }
    /**
     * Brand Link Colours
     */
    @each $brand in $brands {
        $name:  nth($brand, 1);
        $color: nth($brand, 2);
        .#{$name}-link {
            color: #{$color} !important;
        }
    }

p {
    margin: 0;
    &:empty {
        @extend .hidden;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        padding-left: 2em;
        margin-bottom: 1em;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: $secondary-font-stack;
            font-weight: 600;
        }
    }
    ol:not([class]),
    ul:not([class]),
    .default-list {
        margin-top: 1em;
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &:before {
            content: counter(ordered-list) ".";
        }
    }
}
ul:not([class]) li:before,
ul.default-list li:before {
    content: "\2022";
    font-size: 1.5em;
    line-height: 1em;
}
dl {
    width: 100%;
    display: table;
    dt {
        width: auto;
        min-width: 10em;
        display: inline-block;
        padding-right: $default-margin;
        font-family: $secondary-font-stack;
        font-weight: 600;
        @include breakpoint("small") {
            min-width: auto;
            padding-right: 0;
        }
    }
    dd {
        width: $max-wrapper-width;
        display: table-cell;
        margin: 0;
        overflow: hidden;
        @include breakpoint("small") {
            width: auto;
            display: block;
            margin-left: $default-margin;
        }
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0 0 .5em;
    text-align: center;
    img,
    svg {
        @extend %rounded;
    }
}
    figcaption {
        color: $text-color-alt;
        font-style: italic;
    }

abbr[title],
blockquote,
cite,
dfn[title] {
    color: $text-color-alt;
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom: 1px dotted $text-color-alt;
    cursor: help;
}
ins {
    text-decoration: none;
}

q {
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote {
    @extend %rounded;
    background-color: rgba($blue, $opacity-low);
    padding: 1em;
    margin: 0 $default-padding 1em;
    quotes: "\201C" "\201D" "\2018" "\2019";
    @include breakpoint("small") {
        margin-right: 1em;
        margin-left: 1em;
    }
    p {
        margin-bottom: 0 !important;
        &:before {
            content: open-quote;
            padding-right: .1875em;
        }
        &:after {
            content: close-quote;
            padding-left: .1875em;
        }
    }
    cite {
        display: block;
        margin-left: 2em;
        margin-top: 1em;
        &:before {
            content: "\2013\00a0";
        }
    }
}

hr {
    background: $black-medium;
    width: 100%;
    height: .125em;
    display: block;
    border: 0;
    margin: .5em 0 $default-margin;
}

::selection {
    background: $blue;
    color: $white;
}
