// Colour Palette
$blue:             #5F8AA6;
$white:            #F9F9F9;
$text-color:       #4F4F4F;
$text-color-alt:   #737373;
$text-color-light: #DDDDDD;
$black-5:          rgba(6, 6, 6, .05);
$black-10:         rgba(6, 6, 6, .1);
$black-25:         rgba(6, 6, 6, .25);
$white-25:         rgba($white, .25);

// Brand Colours
$codepen-color:    #212121;
$github-color:     #333333;
$lastfm-color:     #E31B23;
$twitter-color:    #55ACEE;

// Font Stack
$base-font-size:       16px;
$primary-font-stack:   "ff-meta-serif-web-pro", Georgia, serif;
$secondary-font-stack: "proxima-nova", sans-serif;
$heading-font-stack:   "league-gothic", Impact, sans-serif;
$code-font-stack:      Consolas, Monaco, "Courier New", monospace;

// Wrapper Widths
$max-wrapper-width:    1120px;
$tablet-wrapper-width: 768px;
$mobile-wrapper-width: 500px;
$wrapper-padding:      1.25em;

// SCSS Mixins
@mixin breakpoint($width) {
    @if $width == "tablet" {
        @media (max-width: $tablet-wrapper-width) { @content ; }
    }
    @else if $width == "mobile" {
        @media (max-width: $mobile-wrapper-width) { @content ; }
    }
}
@mixin gradient($top, $bottom) {
    background-image: linear-gradient(to bottom, $top 0%, $bottom 100%);
}
@mixin transition($transition: "all .2s ease-in-out") {
    transition: #{$transition};
}
@mixin translate3d($values: "0, 0, 0") {
    transform: translate3d(#{$values});
}
@mixin animation($animation) {
    animation: #{$animation};
}
@mixin animation-play-state($value: "paused") {
    animation-play-state: #{$value};
}
@mixin on-event($selector: false) {
    @if $selector == "self" {
        &, &:hover, &:focus, &:active { @content ; }
    }
    @else if $selector {
        &:hover #{$selector}, &:focus #{$selector}, &:active #{$selector} { @content ; }
    }
    @else {
        &:hover, &:focus, &:active { @content ; }
    }
}
@mixin non-selectable() {
    user-select: none;
    -webkit-touch-callout: none;
}
