// Colour Palette
$blue:             #5F8AA6;
$white:            #F9F9F9;
$text-color:       #4f4f4f;
$text-color-alt:   #737373;
$text-color-light: #DDDDDD;
$black-5:          rgba(6, 6, 6, .05);
$black-10:         rgba(6, 6, 6, .1);
$black-25:         rgba(6, 6, 6, .25);
$white-25:         rgba(249, 249, 249, .25);

// Font Stack
$base-font-size:       16px;
$primary-font-stack:   "ff-meta-serif-web-pro", serif;
$secondary-font-stack: "proxima-nova", sans-serif;
$heading-font-stack:   "league-gothic", sans-serif;
$code-font-stack:      Consolas, "Courier New", monospace;

// Wrapper Widths
$max-wrapper-width: 1080px;
$wrapper-padding:   1.25em;

// CSS3 Mixins
@mixin breakpoint($width) {
    @if $width == "tablet" {
        @media (max-width: 768px) { @content ; }
    }
    @else if $width == "phone" {
        @media (max-width: 500px) { @content ; }
    }
}
@mixin gradient($top, $bottom) {
    background-image: linear-gradient(to bottom, $top 0%, $bottom 100%);
}
@mixin transition($transition: "all .15s ease-in-out") {
    transition: #{$transition};
}
@mixin translate3d($values: "0, 0, 0") {
    transform: translate3d(#{$values});
}
@mixin animation($animation: "fade .3s ease-out") {
    animation: #{$animation};
}
@mixin animation-play-state($value: "paused") {
    animation-play-state: #{$value};
}