/*------------------------------------*\
    $ HEADER
\*------------------------------------*/

header {
    @include breakpoint("tablet") {
        /**
         * Center the logo and make room for the navigation to drop underneath.
         */
        height: 170px;
        text-align: center;
    }
    height: 110px;
}
    .logo {
        @include transition("none");
        @include breakpoint("tablet") {
            height: 90px;
            display: inline-block;
            float: none;
        }
        @include breakpoint("phone") {
            font-size: 2.25em;
        }
        color: $text-color;
        height: 110px;
        display: inline-block;
        float: left;
        padding-left: 100px;
        position: relative;
        font-family: $heading-font-stack;
        font-size: 3.25em;
        line-height: 110px;
        text-transform: uppercase;
        text-shadow: .058em .058em 0 $black-5;
        z-index: 1;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
        &:active {
            @include translate3d("0, .039em, 0");
        }
        &:after {
            @include translate3d("0, -0.808em, 0");
            @include animation("soaring 30s linear alternate infinite");
            @include animation-play-state("paused");
            content: "";
            background: url("../icon.png") no-repeat;
            background-image: url("/images/raven.svg");
            background-size: 120px 120px;
            width: 120px;
            height: 120px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        /**
         * Only animate when the user hovers the logo.
         */
        &:hover:after,
        &:focus:after,
        &:active:after {
            @include animation-play-state("running");
        }
    }
    @keyframes soaring {
        0%,
        100% {  @include translate3d("0, -0.8125em, 0"); }
        12.5% { @include translate3d("-0.0625em, -0.6875em, 0"); }
        25% {   @include translate3d(".125em, -0.3125em, 0"); }
        37.5% { @include translate3d(".3125em, -0.375em, 0"); }
        50% {   @include translate3d(".125em, -0.4375em, 0"); }
        62.5% { @include translate3d(".0625em, -0.25em, 0"); }
        75% {   @include translate3d(".1875em, -0.4375em, 0"); }
        87.5% { @include translate3d("-0.0625em, -0.5625em, 0"); }
    }