/*------------------------------------*\
    $ MISCELLANEOUS
\*------------------------------------*/

/**
 * Luminosity
 */
.is-dim,
.is-dim h1 a,
.is-dim h2 a,
.is-dim h3 a,
.is-dim abbr[title],
.is-dim blockquote,
.is-dim cite,
.is-dim dfn[title],
.is-dim .logo,
.is-dim .site-navigation a,
.is-dim .site-navigation a:hover,
.is-dim .site-navigation a:focus,
.is-dim .home-page .site-navigation-home a,
.is-dim .about-page .site-navigation-about a,
.is-dim .archive-page .site-navigation-archive a,
.is-dim .article-link a:hover,
.is-dim .article-link a:focus,
.is-dim .article-link a:active {
    @include transition();
    color: #f9f9f9;
}
.is-dim {
    @include transition();
    background-color: #4f4f4f;
}
.is-dim abbr[title],
.is-dim dfn[title] {
    border-bottom-color: #f9f9f9;
}
.is-dim .logo {
    text-shadow: 0.058em 0.058em 0 rgba(249, 249, 249, 0.25);
}