{% macro deckItem(item, params) -%}
	{% set title = item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) -%}
	{% set stargazers = item.data.stargazers | default(0) -%}

	{% set show_updated = item.data.updated and ((item.data.updated | friendlyDate) !== (item.data.date | friendlyDate)) -%}
	{% set show_responses = (item.data.show_responses != false and (item.data.show_replies != false or item.data.show_reactions != false) and item.data.webmentions.length) or (item.data.show_stargazers != false and stargazers > 0) -%}
	{% set show_stargazers = item.data.show_stargazers != false and stargazers > 0 -%}
	{% set show_pinned = params.show_pinned != false and item.data.tags and 'pinned' in item.data.tags -%}
	{% set show_rss_only = params.show_rss_only != false and item.data.tags and 'rss-only' in item.data.tags -%}
	{% set show_popularity = params.show_popularity != false and item.data.rank.popular and item.data.rank.popular <= 10 -%}
	{% set show_hotness = params.show_hotness != false and item.data.rank.hot and item.data.rank.hot <= 10 -%}
	{% set show_pageviews = params.show_pageviews and item.data.pageviews.total >= 1000 -%}
	{#
	{% set show_category = params.show_category and item.data.category -%}
	{% set show_collections = params.show_collections and ('writing' in item.data.tags) -%}
	{% set show_tags = params.show_tags -%}
	-#}

	<article {% if params.index %}id="index-{{ params.index }}"{% endif %} class=" [ flow ]{% if params.hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
		{% if show_pinned -%}
			<p class=" [ deck__pinned ] [ ignore-flow ] " aria-hidden="true" data-pagefind-ignore><c-emoji style="margin-inline-end: 1ex;">📌</c-emoji>Pinned</p>
		{%- endif %}
		{% if item.data.reply_url -%}
			<div class=" [ deck__context ] ">
				{% if item.data.rsvp %}
					{{ item.data.rsvp_string | safe }}
					<data class=" [ p-rsvp ] " value="{{ item.data.rsvp.value }}" hidden></data>
				{% else %}
					<small>in reply to</small>
				{% endif %}
				<a href="{{ item.data.reply_url }}" class=" [ h-cite  u-in-reply-to ] ">{{ item.data.reply_title | safe }}</a>
				{# Author #}
				{% if item.data.reply_author_string and (item.data.reply_author_string | striptags) != item.data.reply_title %}
					<small>by</small> {{ item.data.reply_author_string | safe }}
				{% endif %}
				{% if item.data.rsvp.date %}
					<small><relative-time{% if item.data.rsvp.date | isUpcoming(2) %} max-division="hour"{% elif item.data.rsvp.date | isUpcoming(item.data.rsvp.upcoming_days_lead) %} max-division="day"{% endif %}><time datetime="{{ item.data.rsvp.date | rfc3339Date }}" class=" [ dt-start ] ">on {{ item.data.rsvp.date | friendlyDate | safe }} @ {{ item.data.rsvp.date | friendlyTime | safe }}</time></relative-time></small>
				{% endif %}
			</div>
		{%- endif %}
		{% if title -%}
			<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
				<a href="{% if item.data.tags and 'clickthrough' in item.data.tags %}{{ item.data.of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}" class=" [ p-name ] "{% if item.data.tags and 'clickthrough' in item.data.tags %} rel="external noopener"{% endif %}>
					{% if item.data.emoji %}<c-emoji>{{ item.data.emoji }}</c-emoji>{% endif %}{{ title | striptags(true) | safe }}
				</a>
			</h1>
		{%- endif %}
		{% if params.show_images -%}
			{% include 'photo.njk' %}
		{%- endif %}
		{% if item.data.excerpt or item.data.description -%}
			<p class=" [ line-clamp ] [ p-summary ] ">{{ item.data.excerpt | default(item.data.description) | markdownFormat | excerptize(params.show_images) | safe }}</p>
		{%- elif ['bookmark', 'like', 'note', 'talk'].includes(item.data.category) and item.content -%}
			<p class=" [ line-clamp ] [ p-summary ] ">{{ item.content | markdownFormat | excerptize(params.show_images) | maxWords(undefined, params.truncate) | safe }}</p>
		{%- elif item.data.category == 'code' -%}
			<p class=" [ p-summary ] ">One of my code demos.</p>
		{%- elif item.data.category == 'recipe' -%}
			<p class=" [ p-summary ] ">A {{ item.data.categoryProper | default(item.data.category) }}{% if item.data.authors %} by {{ item.data.meta_authors_string | safe }}{% endif %}</p>
		{%- endif %}
		{% if item.data.date or show_updated or show_responses or show_rss_only or show_popularity or show_hotness or show_pageviews -%}
			<ul class=" [ cluster ] [ deck__meta ] ">
				{% if item.data.date %}
					<li>
						<small>published</small> <a href="{{ item.url }}" class=" [ u-url ] "{% if item.data.title or item.data.of_title %} tabindex="-1"{% endif %}><time datetime="{{ item.data.date | rfc3339Date }}" class=" [ dt-published ] ">{{ item.data.date | friendlyDateLong | safe }}</time></a>
					</li>
				{% endif %}
				{% if show_updated %}
					<li>
						<small>updated</small> <a href="{{ item.url }}{{ '#updated' if item.data.updated_text }}" tabindex="-1"><time datetime="{{ item.data.updated | rfc3339Date }}" class=" [ dt-updated ] ">{{ item.data.updated | friendlyDateLong | safe }}</time></a>
					</li>
				{% endif %}
				{% if show_responses %}
					{% set replies = item.data.webmentions.directReplies -%}
					{% set reactions = item.data.webmentions.bookmarks.concat(item.data.webmentions.likes).concat(item.data.webmentions.reposts).concat(item.data.webmentions.links).concat(item.data.webmentions.socialReplies) -%}
					<li>
						{% set responses_array = [] -%}
						{% if item.data.show_replies != false and replies.length -%}
							{% set responses_item -%}<a href="{{ item.url }}#replies" title="Jump to replies for this {{ item.data.categoryProper | default(item.data.category) | default('page') }}"><c-emoji>💬</c-emoji>{{ replies.length }} {{ replies.length > 1 and 'replies' or 'reply' }}</a>{%- endset -%}
							{% set responses_array = (responses_array.push(responses_item), responses_array) -%}
						{% endif -%}
						{% if item.data.show_reactions != false and reactions.length -%}
							{% set responses_item -%}<a href="{{ item.url }}#reactions" title="Jump to reactions for this {{ item.data.categoryProper | default(item.data.category) | default('page') }}"><c-emoji>{{ item.data.webmentions.likes and '♥️' or item.data.webmentions.socialReplies and '⤴️' or '🔗' }}</c-emoji>{{ reactions.length }} reaction{{ 's' if reactions.length > 1 }}</a>{%- endset -%}
							{% set responses_array = (responses_array.push(responses_item), responses_array) -%}
						{% endif -%}
						{% if show_stargazers -%}
							{%- set github_user = item.data.github.split('/')[0] -%}
							{%- set github_repo = item.data.github.split('/')[1] -%}
							{% set responses_item -%}<a href="https://github.com/{{ github_user }}/{{ github_repo }}"><c-emoji>✨</c-emoji>{{ stargazers }} stargazer{{ 's' if stargazers > 1 }}</a>{%- endset -%}
							{% set responses_array = (responses_array.push(responses_item), responses_array) -%}
						{% endif -%}
						{{ responses_array | conjunction | safe }}
					</li>
				{% endif %}
				{% if show_rss_only -%}
					<li><c-emoji style="vertical-align: baseline;"><svg width="18" height="18" aria-hidden="true" focusable="false" style="vertical-align: middle;"><use href="#svg--rss"></use></svg></c-emoji><a href="https://daverupert.com/rss-club/" rel="external" target="_blank">RSS Club</a></li>
				{%- endif %}
				{% if show_popularity -%}
					<li title="#{{ item.data.rank.popular }} Most Popular Page"><c-emoji>📊</c-emoji><span class=" [ ordinal ] "{% if item.data.rank.popular <= 3 %} style="color: color-mix(in oklab, currentColor, {% if item.data.rank.popular == 1 %}gold{% elif item.data.rank.popular == 2 %}silver{% else %}darkorange{% endif %}); font-weight: var(--font-weight-semibold);"{% endif %}>#{{ item.data.rank.popular }}</span></li>
				{%- endif %}
				{% if show_hotness -%}
					<li title="#{{ item.data.rank.hot }} Hottest Page"><c-emoji>🔥</c-emoji><span class=" [ ordinal ] "{% if item.data.rank.hot <= 3 %} style="color: color-mix(in oklab, currentColor, {% if item.data.rank.hot == 1 %}gold{% elif item.data.rank.hot == 2 %}silver{% else %}darkorange{% endif %}); font-weight: var(--font-weight-semibold);"{% endif %}>#{{ item.data.rank.hot }}</span></li>
				{%- endif %}
				{% if show_pageviews -%}
					<li title="{{ (item.data.pageviews.total | toNearest(1000, true)) / 1000 }}k Pageviews"><c-emoji>👀</c-emoji><span class=" [ ordinal ] ">{{ (item.data.pageviews.total | toNearest(1000, true)) / 1000 }}k</span></li>
				{%- endif %}
			</ul>
		{%- endif %}
		{% if item.data.mf_property and item.data.of_url -%}
			<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
		{%- endif %}
		{% if item.data.category -%}
			<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
		{%- endif %}
		<data class=" [ u-author ] " value="/" hidden></data>
	</article>
{%- endmacro %}
