{% macro deckItem(item, params) -%}
	<article class=" [ flow ]{% if params.hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
		{% if item.data.reply_url %}
			<div class=" [ deck__context ] ">
				{% if item.data.rsvp %}
					{{ item.data.rsvp_string | safe }}
					<data class=" [ p-rsvp ] " value="{{ item.data.rsvp.value }}" hidden></data>
				{% else %}
					<small>in reply to</small>
				{% endif %}
				<a href="{{ item.data.reply_url }}" class=" [ h-cite  u-in-reply-to ] ">{{ item.data.reply_title | safe }}</a>
				{# Author #}
				{% if item.data.reply_author_string and (item.data.reply_author_string | striptags) != item.data.reply_title %}
					<small>by</small> {{ item.data.reply_author_string | safe }}
				{% endif %}
				{% if item.data.rsvp.date %}
					<small><relative-time{% if item.data.rsvp.date | isUpcoming(2) %} max-division="hour"{% elif item.data.rsvp.date | isUpcoming(item.data.rsvp.upcoming_days_lead) %} max-division="day"{% endif %}><time datetime="{{ item.data.rsvp.date | rfc3339Date }}" class=" [ dt-start ] ">on {{ item.data.rsvp.date | friendlyDate | safe }} @ {{ item.data.rsvp.date | friendlyTime | safe }}</time></relative-time></small>
				{% endif %}
			</div>
		{% endif %}
		{% if item.data.title or item.data.of_title or item.data.of_title_fallback %}
			<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
				<a href="{% if item.data.tags and 'clickthrough' in item.data.tags %}{{ item.data.of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}" class=" [ p-name ] "{% if item.data.tags and 'clickthrough' in item.data.tags %} rel="external noopener"{% endif %}>
					{% if item.data.emoji %}<c-emoji>{{ item.data.emoji }}</c-emoji>{% endif %}{{ item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) | striptags(true) | safe }}
				</a>
			</h1>
		{% endif %}
		{% if params.show_photos %}
			{% include 'photo.njk' %}
		{% endif %}
		{% if item.data.excerpt or item.data.description %}
			<p class=" [ p-summary ] [ line-clamp ] ">{{ item.data.excerpt | default(item.data.description) | formatAsMarkdown | excerptize | safe }}</p>
		{% elif ['bookmark', 'like', 'note', 'talk'].includes(item.data.category) and item.content %}
			<p class=" [ p-summary ] [ line-clamp ] ">{{ item.content | formatAsMarkdown | excerptize | maxWords(40, params.truncate) | safe }}</p>
		{% elif item.data.category == 'code' %}
			<p class=" [ p-summary ] ">One of my code demos.</p>
		{% elif item.data.category == 'recipe' %}
			<p class=" [ p-summary ] ">A {{ item.data.categoryProper | default(item.data.category) }}{% if item.data.authors %} by {{ item.data.meta_authors_string | safe }}{% endif %}</p>
		{% endif %}
		{% if item.data.date or (item.data.updated and (item.data.updated | friendlyDate) !== (item.data.date | friendlyDate)) or item.data.webmentions.length %}
			<ul class=" [ cluster ] [ deck__meta ] ">
				{% if item.data.updated and (item.data.updated | friendlyDate) !== (item.data.date | friendlyDate) %}
					<li>
						<small>updated</small> <a href="{{ item.url }}{{ '#updated' if item.data.updated_text }}" tabindex="-1"><time datetime="{{ item.data.updated | rfc3339Date }}" class=" [ dt-updated ] ">{{ item.data.updated | friendlyDateLong | safe }}</time></a>
					</li>
				{% endif %}
				{% if item.data.date %}
					<li>
						<small>published</small> <a href="{{ item.url }}" class=" [ u-url ] "{% if item.data.title or item.data.of_title %} tabindex="-1"{% endif %}><time datetime="{{ item.data.date | rfc3339Date }}" class=" [ dt-published ] ">{{ item.data.date | friendlyDateLong | safe }}</time></a>
					</li>
				{% endif %}
				{% if item.data.show_webmentions and item.data.webmentions.length %}
					{%- set bookmarks = item.data.webmentions | getWebmentionsByTypes(['bookmark-of']) -%}
					{%- set likes = item.data.webmentions | getWebmentionsByTypes(['like-of']) -%}
					{%- set reposts = item.data.webmentions | getWebmentionsByTypes(['repost-of']) -%}
					{%- set links = item.data.webmentions | getWebmentionsByTypes(['mention-of']) -%}
					{%- set socialReplies = item.data.webmentions | getSocialReplies -%}
					{%- set reactions = bookmarks.concat(likes).concat(reposts).concat(socialReplies).concat(links) -%}
					{%- set directReplies = item.data.webmentions | getDirectReplies -%}
					{%- set responsesLength = reactions.length + directReplies.length -%}
					<li>
						<a href="{{ item.url }}#respond" title="Jump to responses for this {{ item.data.categoryProper | default(item.data.category) | title }}">{{ responsesLength }} response{{ 's' if responsesLength > 1 }} <span class=" [ visually-hidden ] ">to this {{ item.data.categoryProper | default(item.data.category) | default('page') }}</span></a>
					</li>
				{% endif %}
			</ul>
		{% endif %}
		{% if item.data.mf_property and item.data.of_url %}
			<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
		{% endif %}
		{% if item.data.category %}
			<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
		{% endif %}
		<data class=" [ u-author ] " value="/" hidden></data>
	</article>
{%- endmacro %}
