{% macro feedItem(item, site, params) -%}
	<entry>
		<id>{{ site.url + item.url }}</id>
		<link href="{{ site.url + item.url }}" />
		<title>{{ item.data.meta_title }}</title>
		<published>{{ item.data.date | rfc3339Date }}</published>
		<updated>{{ item.data.updated | default(item.data.date) | default(global.nowISO) | rfc3339Date }}</updated>
		{% if item.data.category -%}
		{# Category #}
		<category term="{{ item.data.category }}" scheme="{{ site.url + '/' + item.data.category + '/' }}" label="{{ item.data | getCategoryName }}" />
		{%- endif %}
		{% if item.data.excerpt or item.data.description -%}
		{# Summary: Has excerpt or description #}
		<summary>{{ item.data.excerpt | default(item.data.meta_description) | striptags(false) }}</summary>
		{%- elif item.content and item.content != '' -%}
		{# Summary: Has content #}
		<summary>{{ item.content | markdownFormat | removeStrikethrough | cleanTagsForRSS | striptags(false) | maxWords }}</summary>
		{%- elif item.data.of_title_fallback -%}
		{# Summary: of-type #}
		<summary>{{ item.data.of_title_fallback | removeStrikethrough | striptags(false) }}</summary>
		{%- else -%}
		{# Summary: Fallback #}
		<summary>{{ item.data.meta_description | removeStrikethrough | striptags(false) }}</summary>
		{%- endif %}
		{% if item.content and item.content != '' -%}
		{# Content: Has content #}
		<content xml:lang="{{ site.locale }}" type="html">
			{{ item.content | markdownFormat | cleanTagsForRSS }}
			{% if item.data.of_url -%}
				&lt;p&gt;Original post can be found at: &lt;a href="{{ item.data.of_url }}"&gt;{{ item.data.of_url }}&lt;/a&gt;&lt;/p&gt;
			{%- endif %}
			&lt;hr&gt;
			&lt;p&gt;Thanks for subscribing and reading this post via RSS! {% if item.data.tags and 'rss-only' in item.data.tags %}This post is part of RSS Club, which means it appears only in my RSS feeds for a certain period of time.{% endif %}&lt;/p&gt;
			&lt;p&gt;You can read more of my posts &lt;a href="https://chrisburnell.com/posts/"&gt;on my website&lt;/a&gt;.&lt;/p&gt;
		</content>
		{%- else -%}
		{# Content: No content #}
		<content xml:lang="{{ site.locale }}" type="html">
			{% if item.data.of_url -%}
				&lt;p&gt;Original post can be found at: &lt;a href="{{ item.data.of_url }}"&gt;{{ item.data.of_url }}&lt;/a&gt;&lt;/p&gt;
			{%- endif %}
		</content>
		{%- endif %}
		{% if item.data.of_url -%}
		<link rel="alternate" href="{{ item.data.of_url }}" />
		{%- endif %}
		{% if item.data.reply_url -%}
		<link rel="related" href="{{ item.data.reply_url }}" />
		{%- endif %}
	</entry>
{%- endmacro %}
