{% macro feedItem(item, site, params) -%}
	{% if item.data.category == 'beer' -%}
		{% set item_url = 'https://untappd.com/user/chrisburnell/checkin/' + item.data.page.fileSlug %}
	{%- else -%}
		{% set item_url = item.data.of_url if (not item.url and item.data.clickthrough) else (site.url + item.url) -%}
	{%- endif -%}
	<entry>
		<id>{{ item_url }}</id>
		<link href="{{ item_url }}" />
		<title>{{ item.data.meta_title }}</title>
		<published>{{ item.data.date | rfc3339Date }}</published>
		<publishedFriendly>{{ item.data.date | friendlyDate }}</publishedFriendly>
		<updated>{{ item.data.updated | default(item.data.date) | default(global.nowISO) | rfc3339Date }}</updated>
		{% if item.data.category -%}
		{# Category -#}
		<category term="{{ item.data.category }}" scheme="{{ site.url + '/' + item.data.category + '/' }}" label="{{ item.data | getCategoryName }}" />
		{%- endif %}
		{% if item.data.excerpt or item.data.description -%}
		{# Summary: Has excerpt or description -#}
		<summary>{{ item.data.excerpt | default(item.data.meta_description) | striptags(false) }}</summary>
		{%- elif item.content and item.content != '' -%}
		{# Summary: Has content -#}
		<summary>{{ item.content | markdownFormat | removeStrikethrough | cleanTagsForRSS | striptags(false) | maxWords }}</summary>
		{%- elif item.data.of_title_fallback -%}
		{# Summary: of-type -#}
		<summary>{{ item.data.of_title_fallback | removeStrikethrough | striptags(false) }}</summary>
		{%- else -%}
		{# Summary: Fallback -#}
		<summary>{{ item.data.meta_description | removeStrikethrough | striptags(false) }}</summary>
		{%- endif %}
		{# Content -#}
		<content xml:lang="{{ site.locale }}" type="html">
			{% if item.data.description -%}
				{{ item.data.description | markdownFormat | cleanTagsForRSS | escape }}
				{{ '<hr>' | escape }}
			{%- endif %}
			{% if item.data.pre_includes -%}
				{% for pre_include in (item.data.pre_includes | toArray) -%}
					{% set to_escape %}{% include pre_include %}{% endset %}{{ to_escape | cleanTagsForRSS | escape }}
				{%- endfor %}
			{%- endif %}
			{% if item.data.cover -%}
				{% set alt = 'Art for ' + (item.data.title | default(item.data.of_title) | striptags(false) | safe) -%}
				{% set to_escape %}{% image './images/covers/' + item.data.cover, alt, ' [ cover ] [ u-photo ] ', [400] %}{% endset %}{{ to_escape | escape }}
			{%- endif %}
			{% if item.content and item.content != '' -%}
				{{ item.content | markdownFormat | cleanTagsForRSS }}
			{%- endif %}
			{% if item.data.listen_of -%}
				{% set to_escape %}<iframe width="100%" height="150" src="https://odesli.co/embed/?url={{ item.data.listen_of }}&theme=dark" frameborder="0" allowtransparency sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox">Sorry, this widget requires JavaScript, but you can still check it out <a href="{{ item.data.listen_of }}">over on Odesli</a>!</iframe>{% endset %}{{ to_escape | escape }}
			{%- endif %}
			{% if item.data.of_url -%}
				{% set to_escape %}<p>Reference: <a href="{{ item.data.of_url }}">{{ item.data.of_url }}</a></p>{% endset %}{{ to_escape | escape }}
			{%- endif %}
			{% if item.data.post_includes -%}
				{% for post_include in (item.data.post_includes | toArray) -%}
					{% set to_escape %}{% include post_include %}{% endset %}{{ to_escape | cleanTagsForRSS | escape }}
				{%- endfor %}
			{%- endif %}
			{% set rssOnlyDays = item.data.rss_only_days | default(site.limits.rssOnlyDays) -%}
			{% set to_escape -%}
				<hr>
				<p>Thanks for subscribing and reading this post via RSS{% if item.data.tags and 'rss-only' in item.data.tags %}. This post is part of <a href="https://daverupert.com/rss-club/">RSS Club</a>, which means it appears <em>only</em> in my RSS feeds for {{ rssOnlyDays }} days (until <time datetime="{{ item.data.date | adjustDatetime({ days: rssOnlyDays }) | rfc3339Date }}">{{ item.data.date | adjustDatetime({ days: rssOnlyDays }) | friendlyDateLong }}</time>), rewarding folks who subscribe to my RSS feeds with knowing about this post early{% endif %}!</p>
				<p>You can read <a href="{{ item.data.canonical }}">this post</a> and others <a href="https://chrisburnell.com/posts/">on my website</a>.</p>
			{%- endset %}{{ to_escape | escape }}
		</content>
		{% if item.data.of_url -%}
		<link rel="related" href="{{ item.data.of_url }}" />
		{%- endif %}
		{% if item.data.reply_url -%}
		<link rel="related" type="reply" href="{{ item.data.reply_url }}" />
		{%- endif %}
	</entry>
{%- endmacro %}
