{% macro stackItem(item, params) -%}
	<article class="{% if params.hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
		{% if params.show_pinned and item.data.tags and 'pinned' in item.data.tags -%}
			<span class=" [ pill ] " aria-hidden="true" data-pagefind-ignore><c-emoji style="margin-inline-end: 1ex;">📌</c-emoji> Pinned</span>
		{%- endif %}
		<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
			{% if item.data.title or item.data.of_title or item.data.of_title_fallback -%}
				<a href="{% if item.data.tags and 'clickthrough' in item.data.tags %}{{ item.data.of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}" class=" [ p-name ] "{% if item.data.tags and 'clickthrough' in item.data.tags %} rel="external noopener"{% endif %}>
					{{ item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) | default(item.data.meta_title) | striptags(true) | safe }}
				</a>
			{%- elif item.data.reply_url -%}
				{% if item.data.rsvp %}
					<a href="{{ item.url }}">RSVP</a> {{ item.data.rsvp_string | safe }}
					<data class=" [ p-rsvp ] " value="{{ item.data.rsvp.value }}" hidden></data>
				{% else %}
					<a href="{{ item.url }}">Reply</a> <small>to</small>
				{% endif %}
				<a href="{{ item.data.reply_url }}" class=" [ h-cite  u-in-reply-to ] " tabindex="-1">{{ item.data.reply_title | safe }}</a>
				{% if item.data.reply_author_string and (item.data.reply_author_string | striptags) != item.data.reply_title %}
					<small>by</small> {{ item.data.reply_author_string | replace('<a ', '<a tabindex="-1"') | safe }}
				{% endif %}
			{%- else -%}
				<a href="{{ item.url }}">Untitled {{ item.data.category and (item.data.categoryProper | default(item.data.category) | supertitle) or 'Page' }}{# {{ item.data.categoryProper | default(item.data.category) | default('page') | supertitle }}#}</a>
			{%- endif %}
		</h1>
		{% set show_pageviews = params.show_pageviews and item.data.pageviews.total >= 1000 -%}
		{% set show_hotness = params.show_hotness !== false and item.data.rank.hot and item.data.rank.hot <= 10 -%}
		{% set show_popularity = params.show_popularity !== false and item.data.rank.popular and item.data.rank.popular <= 10 -%}
		{% set show_webmentions = item.data.show_webmentions and item.data.webmentions.length -%}
		{% set show_category = params.show_category and item.data.category -%}
		{% set show_collections = params.show_collections and ('writing' in item.data.tags) -%}
		{% set show_tags = params.show_tags -%}
		{% if show_pageviews or show_hotness or show_popularity or show_webmentions or show_category or show_collections or show_tags -%}
			<div class=" [ pills ] ">
				{% if show_category -%}
					{% if item.data.rsvp -%}
						<a href="/rsvps/" class=" [ pill ] "><strong>RSVP</strong></a>
					{%- else -%}
						<a href="/{{ item.data.categoryPlural | default(item.data.category) }}/" class=" [ pill ] "><strong>{{ item.data.categoryProper | default(item.data.category) | supertitle }}</strong></a>
					{%- endif %}
				{%- endif %}
				{% if show_collections -%}
					{% if 'writing' in item.data.tags -%}
						<a href="/writing/" class=" [ pill ] "><strong>Writing</strong></a>
					{%- endif %}
				{%- endif %}
				{% if show_tags -%}
					{#
					{% if 'css' in item.data.tags -%}
						<a href="/tag/css/" class=" [ pill ] ">#CSS</a>
					{%- endif %}
					{%- set tags_filtered = item.data.tags | categoryFilter | tagFilter | noYearTagFilter | sort -%}
					{% if tags_filtered.length %}
						{% for tag in tags_filtered -%}
							<a href="/tag/{{ tag }}/" class=" [ pill ] [ p-tag ] ">#{{ tag }}</a>
						{%- endfor %}
					{% endif %}
					#}
				{%- endif %}
				{% if show_webmentions -%}
					{% set webmentions_size = item.data.webmentions | getWebmentionsSize -%}
					<a href="{{ item.url }}#respond" title="Jump to responses for this {{ item.data.categoryProper | default(item.data.category) }}" class=" [ pill ] ">{{ webmentions_size }} response{{ 's' if webmentions_size > 1 }}</a>
				{%- endif %}
				{% if show_hotness -%}
					<span class=" [ pill ] " title="#{{ item.data.rank.hot }} Hottest Page"><c-emoji>🔥</c-emoji> #{{ item.data.rank.hot }}</span>
				{%- endif %}
				{% if show_popularity -%}
					<span class=" [ pill ] " title="#{{ item.data.rank.popular }} Most Popular Page"><c-emoji>📈</c-emoji> #{{ item.data.rank.popular }}</span>
				{%- endif %}
				{% if show_pageviews -%}
					{% set pageviews = item.data.pageviews.total | toNearest(1000, true) -%}
					<span class=" [ pill ] " title="{{ pageviews }}+ Pageviews"><c-emoji>👀</c-emoji> {{ (pageviews) + 'k' }}</span>
				{%- endif %}
			</div>
		{%- endif %}
		{% if item.data.rsvp.date -%}
			<a href="{{ item.url }}" tabindex="-1"><relative-time{% if item.data.rsvp.date | isUpcoming(2) %} max-division="hour"{% elif item.data.rsvp.date | isUpcoming(item.data.rsvp.upcoming_days_lead) %} max-division="day"{% endif %}><time datetime="{{ item.data.rsvp.date | rfc3339Date }}" class=" [ dt-start ] ">{{ item.data.rsvp.date | formattedDate | safe }} @ {{ item.data.rsvp.date | friendlyTime | safe }}</time></relative-time></a>
			<data class=" [ dt-published ] " value="{{ item.data.date | rfc3339Date }}" hidden></data>
		{%- else -%}
			<a href="{{ item.url }}" tabindex="-1"><time datetime="{{ item.data.date | rfc3339Date }}" class=" [ dt-published ] ">{{ item.data.date | formattedDate | safe }}</time></a>
		{%- endif %}
		{% if item.data.mf_property and item.data.of_url -%}
			<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
		{%- endif %}
		{% if item.data.category -%}
			<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
		{%- endif %}
		<data class=" [ u-author ] " value="/" hidden></data>
	</article>
{%- endmacro %}
