{% macro stackItem(item, params) -%}
	{% set title = item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) -%}
	{% set stargazers = item.data.stargazers | default(0) -%}

	{% set show_updated = item.data.updated and ((item.data.updated | friendlyDate) != (item.data.date | friendlyDate)) -%}
	{% set show_responses = item.data.show_responses != false and (item.data.show_replies != false or item.data.show_reactions != false) and item.data.webmentions.length -%}
	{% set show_stargazers = item.data.show_stargazers != false and stargazers > 0 -%}
	{% set show_pinned = params.show_pinned != false and item.data.tags and 'pinned' in item.data.tags -%}
	{% set show_rss_only = params.show_rss_only != false and item.data.tags and 'rss-only' in item.data.tags -%}
	{% set show_popularity = params.show_popularity != false and item.data.rank.popular and item.data.rank.popular <= 10 -%}
	{% set show_hotness = params.show_hotness != false and item.data.rank.hot and item.data.rank.hot <= 10 -%}
	{% set show_pageviews = params.show_pageviews and item.data.pageviews.total >= 1000 -%}
	{% set show_category = params.show_category and item.data.category -%}
	{% set show_collections = params.show_collections and ('writing' in item.data.tags) -%}
	{% set show_tags = params.show_tags -%}

	<article {% if params.index %}id="index-{{ params.index }}"{% endif %} class="{% if params.hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
		<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
			{% if title -%}
				<a href="{% if item.data.tags and 'clickthrough' in item.data.tags %}{{ item.data.of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}" class=" [ p-name ] "{% if item.data.tags and 'clickthrough' in item.data.tags %} rel="external noopener"{% endif %}>
					{% if item.data.emoji %}<c-emoji>{{ item.data.emoji }}</c-emoji>{% endif %}{{ title | default(item.data.meta_title) | striptags(true) | safe }}
				</a>
			{%- elif item.data.reply_url -%}
				{% if item.data.rsvp %}
					<a href="{{ item.url }}">RSVP</a> {{ item.data.rsvp_string | safe }}
					<data class=" [ p-rsvp ] " value="{{ item.data.rsvp.value }}" hidden></data>
				{% else %}
					<a href="{{ item.url }}">Reply</a> <small>to</small>
				{% endif %}
				<a href="{{ item.data.reply_url }}" class=" [ h-cite  u-in-reply-to ] " tabindex="-1">{{ item.data.reply_title | safe }}</a>
				{% if item.data.reply_author_string and (item.data.reply_author_string | striptags) != item.data.reply_title %}
					<small>by</small> {{ item.data.reply_author_string | replace('<a ', '<a tabindex="-1"') | safe }}
				{% endif %}
			{%- else -%}
				<a href="{{ item.url }}">Untitled {{ item.data.category and (item.data.categoryProper | default(item.data.category) | supertitle) or 'Page' }}</a>
			{%- endif %}
		</h1>
		{% if item.data.rsvp.date -%}
			<a href="{{ item.url }}" tabindex="-1"><relative-time{% if item.data.rsvp.date | isUpcoming(2) %} max-division="hour"{% elif item.data.rsvp.date | isUpcoming(item.data.rsvp.upcoming_days_lead) %} max-division="day"{% endif %}><time datetime="{{ item.data.rsvp.date | rfc3339Date }}" class=" [ dt-start ] ">{{ item.data.rsvp.date | formattedDate | safe }} @ {{ item.data.rsvp.date | friendlyTime | safe }}</time></relative-time></a>
			<data class=" [ dt-published ] " value="{{ item.data.date | rfc3339Date }}" hidden></data>
		{%- else -%}
			<a href="{{ item.url }}" tabindex="-1"><time datetime="{{ item.data.date | rfc3339Date }}" class=" [ dt-published ] [ ordinal ] "><span class="visually-hidden">published </span>{{ item.data.date | formattedDate | safe }}</time></a>
		{%- endif %}
		{% if params.show_description -%}
			{% if item.data.excerpt or item.data.description -%}
				<p class=" [ line-clamp ] [ p-summary ] ">{{ item.data.excerpt | default(item.data.description) | markdownFormat | excerptize(params.show_images) | safe }}</p>
			{%- elif ['bookmark', 'like', 'note', 'talk'].includes(item.data.category) and item.content -%}
				<p class=" [ line-clamp ] [ p-summary ] ">{{ item.content | markdownFormat | excerptize(params.show_images) | maxWords(undefined, params.truncate) | safe }}</p>
			{%- elif item.data.category == 'code' -%}
				<p class=" [ p-summary ] ">One of my code demos.</p>
			{%- elif item.data.category == 'recipe' -%}
				<p class=" [ p-summary ] ">A {{ item.data.categoryProper | default(item.data.category) }}{% if item.data.authors %} by {{ item.data.meta_authors_string | safe }}{% endif %}</p>
			{%- endif %}
		{%- endif %}
		{# Not currently using: show_collections, show_tags -#}
		{% if show_pinned or show_category or show_responses or show_rss_only or show_popularity or show_hotness or show_pageviews -%}
			<div class=" [ pills ] " data-pagefind-ignore>
				{% if show_pinned -%}
					<span class=" [ pill ] "><c-emoji>📌</c-emoji> Pinned</span>
				{%- endif %}
				{% if show_category -%}
					{% if item.data.rsvp -%}
						<a href="/rsvps/" class=" [ pill ] "><strong>RSVP</strong></a>
					{%- elif 'writing' in item.data.tags -%}
						<a href="/writing/" class=" [ pill ] "><strong>Writing</strong></a>
					{%- else %}
						<a href="/{{ item.data.categoryPlural | default(item.data.category) }}/" class=" [ pill ] "><strong>{{ item.data.categoryProper | default(item.data.category) | supertitle }}</strong></a>
					{%- endif %}
				{%- endif %}
				{#
				{% if show_collections -%}
				{%- endif %}
				{% if show_tags -%}
					{% if 'css' in item.data.tags -%}
						<a href="/tag/css/" class=" [ pill ] ">#CSS</a>
					{%- endif %}
					{%- set tags_filtered = item.data.tags | categoryFilter | tagFilter | noYearTagFilter | sort -%}
					{% if tags_filtered.length %}
						{% for tag in tags_filtered -%}
							<a href="/tag/{{ tag }}/" class=" [ pill ] [ p-tag ] ">#{{ tag }}</a>
						{%- endfor %}
					{% endif %}
				{%- endif %}
				-#}
				{% if show_responses -%}
					{% set reactions = item.data.webmentions.bookmarks.concat(item.data.webmentions.likes).concat(item.data.webmentions.reposts).concat(item.data.webmentions.links).concat(item.data.webmentions.socialReplies) -%}
					{% set replies = item.data.webmentions.directReplies -%}
					{% if item.data.show_replies != false and replies.length -%}
						<a href="{{ item.url }}#replies" title="Jump to replies for this {{ item.data.categoryProper | default(item.data.category) }}" class=" [ pill ] "><c-emoji>💬</c-emoji><span class=" [ ordinal ] ">{{ replies.length }}</span></a>
					{%- endif %}
					{% if item.data.show_reactions != false and reactions.length -%}
						<a href="{{ item.url }}#reactions" title="Jump to reactions for this {{ item.data.categoryProper | default(item.data.category) }}" class=" [ pill ] "><c-emoji>{{ item.data.webmentions.likes and '♥️' or item.data.webmentions.socialReplies and '⤴️' or '🔗' }}</c-emoji><span class=" [ ordinal ] ">{{ reactions.length }}</span></a>
					{%- endif %}
					{% if show_stargazers -%}
						{% set github_user = item.data.github.split('/')[0] -%}
						{% set github_repo = item.data.github.split('/')[1] -%}
						<a href="https://github.com/{{ github_user }}/{{ github_repo }}" class=" [ pill ] "><c-emoji>✨</c-emoji><span class=" [ ordinal ] ">{{ stargazers }}</span></a>
					{%- endif %}
				{%- endif %}
				{% if show_rss_only -%}
					<a href="https://daverupert.com/rss-club/" title="This {{ item.data.categoryProper | default(item.data.category) }} is part of RSS Club" rel="external" target="_blank" class=" [ pill ] "><c-emoji><svg width="14" height="14" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>RSS Club</a>
				{%- endif %}
				{% if show_popularity -%}
					<span class=" [ pill ] " title="#{{ item.data.rank.popular }} Most Popular Page"><c-emoji>📊</c-emoji><span class=" [ ordinal ] "{% if item.data.rank.popular <= 3 %} style="color: color-mix(in oklab, currentColor, {% if item.data.rank.popular == 1 %}gold{% elif item.data.rank.popular == 2 %}silver{% else %}darkorange{% endif %}); font-weight: var(--font-weight-semibold);"{% endif %}>#{{ item.data.rank.popular }}</span></span>
				{%- endif %}
				{% if show_hotness -%}
					<span class=" [ pill ] " title="#{{ item.data.rank.hot }} Hottest Page"><c-emoji>🔥</c-emoji><span class=" [ ordinal ] "{% if item.data.rank.hot <= 3 %} style="color: color-mix(in oklab, currentColor, {% if item.data.rank.hot == 1 %}gold{% elif item.data.rank.hot == 2 %}silver{% else %}darkorange{% endif %}); font-weight: var(--font-weight-semibold);"{% endif %}>#{{ item.data.rank.hot }}</span></span>
				{%- endif %}
				{% if show_pageviews -%}
					{% set pageviews = item.data.pageviews.total | toNearest(1000, true) -%}
					<span class=" [ pill ] " title="{{ pageviews }}+ Pageviews"><c-emoji>👀</c-emoji>{{ (pageviews) + 'k' }}</span>
				{%- endif %}
			</div>
		{%- endif %}
		{% if show_updated -%}
			<data class=" [ dt-updated ] " value="{{ item.data.updated | rfc3339Date }}" hidden></data>
		{%- endif %}
		{% if item.data.mf_property and item.data.of_url -%}
			<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
		{%- endif %}
		{% if item.data.category -%}
			<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
		{%- endif %}
		<data class=" [ u-author ] " value="/" hidden></data>
	</article>
{%- endmacro %}
