{% macro stackItem(item, params) -%}
	<article class=" [ flow ]{% if params.hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
		{% if params.show_pinned and item.data.tags and 'pinned' in item.data.tags -%}
			<p class=" [ stack__pinned ] [ ignore-flow ] " aria-hidden="true" data-pagefind-ignore><c-emoji style="margin-inline-end: 1ex;">📌</c-emoji> Pinned</p>
		{%- endif %}
		{% if item.data.title or item.data.of_title or item.data.of_title_fallback -%}
			<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
				<a href="{% if item.data.tags and 'clickthrough' in item.data.tags %}{{ item.data.of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}" class=" [ p-name ] "{% if item.data.tags and 'clickthrough' in item.data.tags %} rel="external noopener"{% endif %}>
					{% if item.data.emoji %}<c-emoji>{{ item.data.emoji }}</c-emoji>{% endif %}{{ item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) | striptags(true) | safe }}
				</a>
			</h1>
		{%- endif %}
		{% if item.data.mf_property and item.data.of_url -%}
			<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
		{%- endif %}
		{% if item.data.category -%}
			<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
		{%- endif %}
		<data class=" [ u-author ] " value="/" hidden></data>
	</article>
{%- endmacro %}
