---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /{{ category.plural }}.xml
eleventyComputed:
  title: "{{ category.properPlural | title }}"
  description: "All of my {{ category.properPlural }}."
  related_collection: "{{ category.title }}"
---
