---
pagination:
  data: collections.archive
  size: 1
  alias: collection
permalink: /{{ collection.data.feed_name | default(collection.data.related_collection) }}.xml
eleventyComputed:
  title: "{{ collection.data.title | safe }}"
  description: "{{ collection.data.description | safe }}"
  related_collection: "{{ collection.data.related_collection }}"
  limit: "{{ collection.data.limit | default(site.limits.feed) }}"
---
