---
pagination:
  data: collections.archive
  size: 1
  alias: lookup
permalink: /{{ lookup.data.feed_name | default(lookup.data.related_collection) }}.xml
eleventyComputed:
  title: "{{ lookup.data.title | safe }}"
  description: "{{ lookup.data.description | safe }}"
  related_collection: "{{ lookup.data.related_collection }}"
reverse_collection: true
sitemap:
  exclude: true
---
