---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag }}.xml
tag_collection: true
eleventyComputed:
  title: "{{ tag | supertitle | replace('-', ' ') }}"
  description: "All of my posts tagged “{{ tag }}”."
  related_collection: "{{ tag }}"
---
