---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /{{ tag }}.xml
eleventyComputed:
  title: "{{ tag | title | specialCapitalize | replace('-', ' ') }}"
  description: "All of my posts tagged “{{ tag }}”."
  related_collection: "{{ tag }}"
reverse_collection: true
tag_collection: true
limit: 9001
sitemap:
  exclude: true
---
