<script type="text/template" id="search-template-page">
    <li role="listitem">
        <a href="@@URL@@">
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
        </a>
    </li>
</script>
<script type="text/template" id="search-template-article">
    <li role="listitem">
        <a href="@@URL@@">
            <svg class="icon  icon--article"><use xlink:href="#svg--article" /></svg>
            <h4 class="title">@@TITLE@@</h4>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
            <p class="lede">@@LEDE@@</p>
        </a>
    </li>
</script>
<script type="text/template" id="search-template-pen">
    <li role="listitem">
        <a href="@@URL@@">
            <svg class="icon  icon--codepen"><use xlink:href="#svg--codepen" /></svg>
            <h4 class="title">@@TITLE@@</h4>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
            <p class="lede">@@LEDE@@</p>
        </a>
    </li>
</script>
