////
/// Footer
/// @group layout
////

.footer {
	background-color: h(mineshaft);
	@include v(padding-block-start, large);
	@include v(padding-block-end, large);
	border-block-start: var(--size-border-thin) solid h(raven, beta);

	@include media("print") {
		display: none;
	}

	&,
	a,
	button {
		color: h(milou) !important;

		&:not(:is(:hover, :focus, :active)) {
			text-decoration-color: h(kaiser);
		}
	}

	button {
		font-size: inherit;
	}

	.wrap {
		@include media("below:medium") {
			@include owl(medium);
		}

		@include media("above:medium") {
			display: grid;
			grid-template-columns:
				[left-start]
				1fr
				[left-end]
				var(--size-gap)
				[right-start]
				1fr
				[right-end];
			grid-template-rows: auto 1fr auto;
			@include v(row-gap, gutter);
		}

		.author {
			grid-column: right;
			grid-row: 1/4;
		}

		.footer__navigation,
		p {
			grid-column: left;
		}
	}
}

.footer__navigation {
	li {
		display: inline-block;
	}

	li + li {
		&::before {
			content: "·";
			inline-size: 1em;
			display: inline-block;
			text-align: center;
		}
	}
}
