////
/// Footer
/// @group layout
////

.footer {
    @include v(background-color, mineshaft);
    @include v(padding-top, large);
    @include v(padding-bottom, large);
    border-top: var(--measure-border-thin) solid var(--color-coyote);

    &,
    a,
    button {
        @include v(color, milou);

        &:not(:hover):not(:focus):not(:active) {
            @include v(text-decoration-color, kaiser);
        }
    }

    .wrap {
        @include media("below:medium") {
            @include owl(medium);
        }

        @include media("above:medium") {
            display: grid;
            grid-template-columns:
                [left-start]
                1fr
                [left-end]
                var(--measure-gap)
                [right-start]
                1fr
                [right-end];
            grid-template-rows: auto 1fr auto;
            @include v(row-gap, gutter);
        }

        .author {
            grid-column: right;
            grid-row: 1/4;
        }

        .footer__navigation,
        p {
            grid-column: left;
        }
    }
}

.footer__navigation {
    li {
        display: inline-block;
    }

    li + li {
        &::before {
            content: "·";
            display: inline-block;
        }
    }
}

.speedlify-anchor {
    display: inline-block;
    @include v(margin-top, small);
    text-decoration: none;
}
