////
/// Header
/// @group layout
////

.header {
	@include v(background-color, bear);

	@include media("print") {
		display: none;
	}

	.wrap {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include v(padding-block-start, small);
		@include v(padding-block-end, small);
	}

	.logo,
	.navigation {
		flex: 0 1 auto;
	}
}
