////
/// Box
/// @group compositions
///
/// --background-color (hsla(var(--hsl-bear)(--opacity-delta)))
///     Defines the background color the box.
/// --max-inline-size (100%)
///     Defines how wide the box should be, as a maximum.
/// --gutter (var(--size-gutter))
///     Defines the space around the box.
/// --border-color (hsla(var(--hsl-raven) / var(--opacity-beta)))
///     Defines the background color the box.
////

.box,
%box {
	background-color: var(--background-color, h(bear, beta));
	color: var(--color, inherit);
	max-inline-size: var(--max-inline-size, 100%) !important;
	padding: var(--gutter, var(--size-gutter));
	margin-inline: auto;
	border-width: 0;
	border-block-start: var(--size-border-thin) solid var(--border-color, h(raven));
	border-radius: 1px 1px var(--size-border-default) var(--size-border-default);
	box-shadow: var(--box-shadow, var(--box-shadow-low));
	text-align: start;
	font-family: var(--font-family-sans);
	font-style: normal;
	font-variation-settings: normal;

	%heading {
		font-size: var(--font-size-default);
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-medium);
		text-transform: none;
		letter-spacing: 0;
	}

	%anchor {
		color: h(bowhead);
	}
}

.box {
	.meta &:not(ul) > %heading + * {
		--flow-space: 0;
	}
}

.box--success {
	--background-color: #{h(conifer, delta)};
	--border-color: #{h(conifer, beta)};
}

.box--warning {
	--background-color: #{h(aspen, delta)};
	--border-color: #{h(aspen, beta)};
}

.box--error {
	--background-color: #{h(maple, delta)};
	--border-color: #{h(maple, beta)};
}

.box.line-length,
.box--line-length {
	--max-inline-size: calc(var(--size-line-length) + var(--gutter, var(--size-gutter)) * 2);
}
