////
/// Box
/// @group compositions
///
/// --box-background-color (color-mix(in oklab, h(bear), h(snowy)))
///     Defines the background color the box.
/// --box-color (inherit)
///     Defines the text color for box.
/// --box-max-inline-size (100%)
///     Defines how wide the box should be, as a maximum.
/// --box-padding (var(--size-gutter))
///     Defines the space around the box.
/// --box-border-color (h(raven))
///     Defines the border color the box.
/// --box-shadow (h(raven, beta))
///     Defines the box shadow.
////

@use "../abstracts/collections";
@use "../abstracts/functions";

.box,
#{collections.$box} {
	background-color: var(--box-background-color, color-mix(in oklab, functions.h(bear), functions.h(snowy)));
	color: var(--box-color, inherit);
	max-inline-size: var(--box-max-inline-size, 100%) !important;
	padding: var(--box-padding, var(--size-gutter));
	margin-inline: auto;
	border-width: 0;
	border-block-start: var(--size-border-thin) solid var(--box-border-color, functions.h(raven));
	border-radius: var(--border-radius, var(--size-border-thin));
	box-shadow: var(--box-shadow, var(--box-shadow-low));
	text-align: start;
	font-family: var(--font-family-sans);
	font-style: normal;
	font-variation-settings: normal;

	#{collections.$heading} {
		font-size: var(--font-size-default);
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-medium);
		text-transform: none;
		letter-spacing: 0;
	}

	#{collections.$anchor} {
		color: functions.h(bowhead);
	}
}

.box {
	.meta &:not(ul) > #{collections.$heading} + * {
		--flow-space: 0;
	}
}

.box--success {
	--box-background-color: #{functions.h(conifer, delta)};
	--box-border-color: #{functions.h(conifer)};
}

.box--warning {
	--box-background-color: #{functions.h(aspen, delta)};
	--box-border-color: #{functions.h(aspen)};
}

.box--error {
	--box-background-color: #{functions.h(maple, delta)};
	--box-border-color: #{functions.h(maple)};
}

.box.line-length,
.box--line-length {
	--box-max-inline-size: calc(var(--size-line-length) + var(--gutter, var(--size-gutter)) * 2);
}
