////
/// Cluster
/// @group compositions
///
/// --delineator ("·")
///     Defines the character between each cluster item.
/// --padding-inline (var(--size-tiny))
///     Defines the padding around the delineator character.
/// --font-size (1em)
///     Defines the font-size of the delineator character.
////

.cluster {
	& > * {
		display: inline-block;
		white-space: nowrap;

		&:not(:last-child) {
			&::after {
				content: var(--delineator, "·");
				display: inline-block;
				padding-inline: var(--padding-inline, var(--size-tiny));
				font-size: var(--font-size, 1em);
				font-weight: var(--font-weight-semibold);
				line-height: 0;
				vertical-align: baseline;
			}
		}
	}
}
