/**
 * Cluster
 * @group compositions
 */

.cluster {
	& > * {
		display: inline-block;

		&:not(:last-child) {
			&::after {
				content: var(--delineator, "·");
				/* TODO Revisit when support for fallbacks is better. */
				/* https://caniuse.com/mdn-css_types_attr_fallback */
				/* content: var(--delineator, attr(data-delineator, "·")); */
				padding-inline: var(
					--padding-inline,
					calc(var(--size-small) * 1.5)
				);
				font-size: var(--font-size, 1em);
				font-weight: var(--font-weight, var(--font-weight-bold));
				line-height: 0;
			}
		}
	}

	/* TODO Not working */
	&[data-delineator] {
		--delineator: attr(data-delineator);
	}

	& [href]:is(:hover, :focus, :active) :is(.emoji, .icon) {
		transform: scale(1.1);
	}
}
