////
/// Auto Grid
/// @group compositions
///
/// --placement (auto-fill)
///     Set either auto-fit or auto-fill to change how empty grid tracks are
///     handled.
/// --column-gap (var(--size-gutter))
///     Defines the space between each column.
/// --row-gap (var(--size-gutter))
///     Defines the space between each row.
/// --gap (var(--size-gutter))
///     Defines the space between each column and row if the above are not set.
/// --min-inline-size (10rem)
///     Defines how wide each item should be, ideally, as a minimum.
/// --max-inline-size (1fr)
///     Defines how wide each item should be, ideally, as a maximum.
////

.grid,
%grid {
	display: grid;
	// prettier-ignore
	grid-template-columns: repeat(
		var(--placement, auto-fill),
		minmax(
			var(--min-inline-size, 12em),
			var(--max-inline-size, 1fr)
		)
	);
	column-gap: var(--column-gap, var(--gap, var(--size-gutter)));
	row-gap: var(--row-gap, var(--gap, var(--size-gutter)));

	&[data-rows="masonry"] {
		grid-template-rows: masonry;
		align-items: start;
	}

	&[data-layout="50-50"] {
		--placement: auto-fit;
		--min-inline-size: clamp(10rem, 50vw, 20rem);
	}

	&[data-layout="natural"] {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;;
		gap: var(--gap, var(--size-gutter));

		& > * {
			flex: 0 1 var(--inline-size, auto);
		}
	}
}
