////
/// Media
/// @group compositions
///
/// Contains embedded media properly and allows them to be dynamically resized
/// inside a set aspect ratio container.
///
/// --aspect-ratio (16 / 9)
///     Set the aspect ratio according to the aspect-ratio property.
////

.media {
	inline-size: 100%;

	& > :is(img, input[type="image"], svg),
	& > picture :is(img, input[type="image"], svg),
	& > :is(audio, canvas, embed, iframe, lite-youtube, marquee, math, object, video),
	& > .speakerdeck-embed-wrapper iframe {
		aspect-ratio: var(--aspect-ratio);
		inline-size: 100% !important;
		block-size: auto !important;
		margin: 0 auto;
		object-fit: cover;
	}
}

.media--4-by-3 {
	--aspect-ratio: 4 / 3;
}

.media--16-by-9 {
	--aspect-ratio: 16 / 9;
}

lite-youtube {
	overflow: hidden;
}

.lty-playbtn {
	min-inline-size: 0;
	margin: 0;
	box-shadow: none;

	&:is(:hover, :focus, :active) {
		outline: none;
	}
}
