////
/// Pantheon
/// @group compositions
///
/// --aside-size (clamp(16.00rem, 1.43rem + 27.43vw, 22.00rem))
///     Defines the inline-size of the aside.
/// --columns (6)
///     Defines how many sub-columns should make up the content column.
/// --outdent-gap (var(--size-gap) OR 0)
///     Defines the gap between the content and outdent column.
/// --outdent-size (1fr OR 0)
///     Defines the inline-size of the outdent.
////

.pantheon {
	display: grid;
	align-items: start;
	grid-template-rows:
		[breadcrumbs-start]
		auto
		[breadcrumbs-end context-start]
		auto
		[context-end title-start]
		auto
		[title-end description-start]
		auto
		[description-end sparkline-start]
		auto
		[sparkline-end toc-start]
		auto
		[toc-end content-start]
		auto
		[content-end meta-start]
		auto
		[meta-end ads-start]
		auto
		[ads-end];
	grid-template-columns:
		[marginalia-start content-start outdent-start]
		auto
		[outdent-end content-end marginalia-end];

	@include media("above:medium") {
		grid-template-rows:
			[breadcrumbs-start]
			auto
			[breadcrumbs-end title-start]
			auto
			[title-end context-start description-start]
			auto
			[context-end description-end content-start sparkline-start]
			auto
			[sparkline-end meta-start]
			1fr
			[meta-end content-end ads-start]
			auto
			[ads-end];
		grid-template-columns:
			[marginalia-start]
			var(--aside-size, clamp(15rem, 7.71rem + 13.71vw, 18rem)) // 15–18rem between 850px–1200px
			[marginalia-end]
			var(--size-gap)
			[content-start]
			repeat(var(--columns, 6), 1fr)
			[content-end]
			var(--outdent-gap, 0)
			[outdent-start]
			var(--outdent-size, 0)
			[outdent-end];
	}

	&:not(.wide) {
		@include media("above:gigantic") {
			--outdent-gap: var(--size-gap);
			--outdent-size: 1fr;
		}
	}

	@include media("print") {
		display: block;
	}

	& > %content {
		max-inline-size: var(--size-line-length);
	}
}

.breadcrumbs,
.title,
.description {
	grid-column: marginalia / outdent;
}

.breadcrumbs {
	grid-row: breadcrumbs;
}

.title {
	grid-row: title;
}

.description {
	grid-row: description;
}
.description--published {
	grid-row: context;
}

.content {
	grid-column: content;
	grid-row: content;

	&.full,
	&.wide {
		grid-column: content / outdent;
	}
}

.pantheon > spark-line,
.pantheon > .spark-line {
	grid-column: marginalia;
	grid-row: sparkline;

	@include media("below:medium") {
		justify-self: start;
		margin-block-end: var(--size-large);
	}

	@include media("above:medium") {
		justify-self: center;
	}
}

.meta {
	grid-column: marginalia;
	grid-row: meta;

	&:has(.table-of-contents) {
		@include media("below:medium") {
			grid-row: toc;
		}
	}
}

.ads {
	grid-column: content;
	grid-row: ads;
}
