////
/// Pantheon
/// @group compositions
////

.pantheon {
	display: grid;
	align-items: start;
	grid-template-rows:
		[breadcrumbs-start]
		auto
		[breadcrumbs-end title-start]
		auto
		[title-end description-start]
		auto
		[description-end sparkline-start]
		auto
		[sparkline-end toc-start]
		auto
		[toc-end content-start]
		auto
		[content-end meta-start]
		auto
		[meta-end ads-start]
		auto
		[ads-end];

	@include media("above:medium") {
		grid-template-columns:
			[marginalia-start]
			var(--aside-width, clamp(14em, calc(9.33rem + 10.67vw), 16em)) // 14–16em between 700–1000px
			[marginalia-end]
			var(--size-gap)
			[content-start]
			repeat(var(--content-columns, 6), 1fr)
			[content-end]
			var(--outdent-gap, 0)
			[outdent-start]
			var(--outdent-width, 0)
			[outdent-end];
		grid-template-rows:
			[breadcrumbs-start]
			auto
			[breadcrumbs-end title-start]
			auto
			[title-end description-start]
			auto
			[description-end content-start sparkline-start]
			auto
			[sparkline-end meta-start]
			1fr
			[meta-end content-end ads-start]
			auto
			[ads-end];
	}

	&:not(.wide) {
		@include media("above:gigantic") {
			--outdent-gap: var(--size-gap);
			--outdent-width: 1fr;
		}
	}

	@include media("print") {
		display: block;
	}

	& > %content {
		max-inline-size: var(--size-line-length);
	}
}

.breadcrumbs {
	grid-column: marginalia / content;
	grid-row: breadcrumbs;
}

.title {
	grid-column: marginalia / content;
	grid-row: title;
}

.description {
	grid-column: marginalia / content;
	grid-row: description;
}

.content {
	grid-column: content;
	grid-row: content;

	&.full,
	&.wide {
		grid-column: content / outdent;
	}
}

.pantheon > spark-line {
	grid-column: marginalia;
	grid-row: sparkline;

	@include media("below:medium") {
		justify-self: start;
	}

	@include media("above:medium") {
		justify-self: center;
	}
}

.meta {
	grid-column: marginalia;
	grid-row: meta;

	&:has(.table-of-contents) {
		@include media("below:medium") {
			grid-row: toc;
		}
	}
}

.ads {
	grid-column: content;
	grid-row: ads;
}
