////
/// Portal
/// @group compositions
////

.portal {
	display: grid;
	align-items: start;
	grid-template-rows:
		[title-start]
		auto
		[title-end content-start]
		auto
		[content-end responses-start]
		auto
		[responses-end browse-start]
		auto
		[browse-end ads-start]
		auto
		[ads-end];
	grid-template-columns:
		[marginalia-start content-start outdent-start]
		auto
		[outdent-end content-end marginalia-end];

	@include container("above:medium") {
		grid-template-columns:
			[marginalia-start]
			1fr
			[marginalia-end content-start]
			6fr
			[content-end outdent-start]
			1fr
			[outdent-end];
	}

	.title {
		background-color: h(wolf);
		color: h(milou);
		min-block-size: calc(100vh - var(--size-large));
		min-block-size: calc(100dvb - var(--size-large));
		display: flex;
		align-items: center;
		justify-content: center;
		padding-block: 0;
		font-size: calc(var(--font-size-alpha) * 2);
	}

	.description {
		margin-block: 0;
		padding-block: var(--size-gigantic) 1rem;
		font-size: var(--font-size-alpha);
	}

	.e-content {
		font-size: var(--font-size-gamma);
	}
}
