////
/// Wrapper
/// @group compositions
///
/// --max-inline-size (var(--size-breakpoint-gigantic))
///     Defines how wide the wrapper should be.
/// --gutter (var(--size-gutter))
///     Defines the space along either side of the wrapper.
////

.wrap {
	max-inline-size: var(--max-inline-size, var(--size-breakpoint-gigantic));
	padding-inline: var(--gutter, var(--size-gutter));
	margin-inline: auto;
	position: relative;
}
