////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////


.page--style-guide {
    .lede + h3 {
        margin-top: 0;
    }
}

.palette-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media("screen", "<=small") {
        flex-direction: column;
    }

    li {
        @include tabular-lining-numerals;
        padding: $measure-medium 0;
        padding: var(--measure-medium) 0;
        vertical-align: middle;
        @include v(font-size, small);
        text-align: center;
        white-space: nowrap;

        @include media("screen", "<=small") {
            flex: 1 0 100%;
        }

        @include media("screen", ">small", "<=large") {
            flex: 1 0 50%;
        }

        @include media("screen", ">large") {
            flex: 1 0 33.333%;
        }

        @each $color-name, $color-value in $palette-colors {
            &[data-color="#{$color-name}"] {
                background-color: $color-value;
                color: contrasting-color($color-value);
            }
        }

        h4 {
            margin-bottom: 0;
            @include v(line-height, default);
        }
    }
}


.transition-example {
    position: relative;
    margin-bottom: #{$measure-large + $measure-medium};

    &::before {
        @include absolute(top, 100%);
        content: "(Hover to interact.)";
        @include v(color, kaiser);
        @include v(margin-top, small);
    }

    @media ("pointer: coarse") {
        &::before {
            content: "(Tap to interact.)";
        }
    }
}

.transition-example__demo {
    @include border-radius(thin);
    @include transition(color);
    width: 100%;
    max-width: $line-length-responsive;
    max-width: var(--line-length-responsive);
    height: #{$measure-large * 1.5};
    display: block;
    @include v(border-width, thin);
    @include v(border-style, default);
    @include v(border-color, alto);
    margin-left:  auto;
    margin-right: auto;
    overflow-x: hidden;
    position: relative;
    line-height: strip-units($measure-large * 1.5 - $border-width-thin * 2);
    text-align: center;
    @include v(z-index, above);

    &:hover,
    &:focus {
        @include v(color, white);
    }

    &::before {
        @include absolute(full);
        @include border-radius(hairline);
        content: "";
        @include v(background-color, kaiser);
        @include v(z-index, below);
    }

    .transition-example--slide & {
        cursor: e-resize;

        &::before {
            @include transition(transform);
            // ugly, but a single pixel peeks out at certain zoom levels
            transform: translateX(-101%);
        }

        &:hover,
        &:focus {
            &::before {
                transform: translateX(0);
            }
        }
    }

    .transition-example--fade & {
        cursor: cell;

        &::before {
            @include transition(opacity);
            opacity: 0;
        }

        &:hover,
        &:focus {
            &::before {
                opacity: 1;
            }
        }
    }
}

.icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        display: inline-block;
        @include v(margin-left, medium);
        @include v(margin-right, medium);
    }
}
