////
/// Style Guide
/// @group pages
////


.page--style-guide {
    .lede + h3 {
        margin-top: 0;
    }
}

.color-block-list {
    width: 100%;
    display: flex;

    @include media("<=small") {
        flex-direction: column;
    }

    li {
        @include font-family(monospace);
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
         font-variant-numeric: tabular-nums;
        font-feature-settings: "tnum";

        @include media("<=small") {
            flex: 0 1 100%;
            padding: $measure-medium 0;
        }

        @include media(">small") {
            flex: 0 1 20%;
            padding: $measure-large 0;
        }

        &:first-child {
            @include media("<=small") {
                @include border-radius(top);
            }

            @include media(">small") {
                @include border-radius(left);
            }
        }

        &:last-child {
            @include media("<=small") {
                @include border-radius(bottom);
            }

            @include media(">small") {
                @include border-radius(right);
            }
        }

        @each $main-color in $main-colors {
            &[data-color="#{$main-color}"] {
                background-color: $main-color;
                color: contrasting-color($main-color);

                // make white more noticeable
                @if $main-color == $color-white {
                    box-shadow: inset 0 0 0 $border-width-thin $color-alto;
                }
            }
        }
    }
}


.transition-example--slide,
.transition-example--fade {
    @include border-radius;
    @include transition;
    width: 100%;
    height: #{$measure-large * 1.5};
    display: block;
    border: $border-width-thin $border-style-default $color-alto;
    position: relative;
    line-height: strip-units($measure-large * 1.5 - $border-width-thin * 2);
    text-align: center;

    & + & {
        margin-top: $measure-medium;
    }

    &::before {
        @include position(full);
        @include transition;
        content: "";
        background-color: $color-gallery;
    }

    code {
        position: relative;
        z-index: z-index(above);
    }
}

.transition-example--slide {
    overflow-x: hidden;
    cursor: e-resize;

    &::before {
        transform: translateX(-100%);
    }

    &:hover,
    &:focus {
        &::before {
            transform: translateX(0);
        }
    }
}

.transition-example--fade {
    @include transition;
    cursor: cell;

    &::before {
        opacity: 0;
    }

    &:hover,
    &:focus {
        &::before {
            opacity: 1;
        }
    }
}
