////
/// Style Guide
/// @group pages
////


.page--style-guide {
    .lede + h3 {
        margin-top: 0;
    }
}

.color-block-list {
    width: 100%;
    display: flex;

    @include media("<=small") {
        flex-direction: column;
    }

    li {
        font-family: $font-family-monospace;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        font-variant-ligatures: none;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        @include media("<=small") {
            flex: 0 1 100%;
            padding: $measure-medium 0;
        }

        @include media(">small") {
            flex: 0 1 20%;
            padding: $measure-large 0;
        }

        @each $main-color in $main-colors {
            &[data-color="#{$main-color}"] {
                background-color: $main-color;
                color: contrasting-color($main-color);
            }
        }
    }
}
