---
title: Links
description: Find me all over the web (mostly)!
---

<div class=" [ grid ] [ shelf  shelf--thin ] ">
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://32bit.cafe' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://discourse.32bit.cafe/u/{{ author.thirtytwobitcafe }}/summary" rel="me external noopener">
				32-Bit Café
				<br>
				<small>{{ author.thirtytwobitcafe }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://bsky.app' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://bsky.app/profile/{{ author.bluesky }}" rel="me external noopener">
				Bluesky
				<br>
				<small>@{{ author.bluesky }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://www.buymeacoffee.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="me external noopener">
				Buy Me a Coffee
				<br>
				<small>{{ author.buymeacoffee }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://codepen.io' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://codepen.io/{{ author.codepen }}" rel="me external noopener">
				CodePen
				<br>
				<small>{{ author.codepen }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://discord.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://discordapp.com/users/{{ author.discord_id }}" rel="me external noopener">
				Discord
				<br>
				<small>{{ author.discord }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://11ty.dev' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://11ty.dev/authors/{{ author.eleventy }}" rel="me external noopener">
				Eleventy
				<br>
				<small>{{ author.eleventy }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://echofeed.app' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://echofeed.app/@{{ author.echofeed }}" rel="me external noopener">
				EchoFeed
				<br>
				<small>{{ author.echofeed }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ author.git | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="{{ author.git }}/{{ author.git_user }}" rel="me external noopener">
				Git (Self-Hosted)
				<br>
				<small>{{ author.git_user }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ author.gist | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="{{ author.gist }}/{{ author.gist_user }}" rel="me external noopener">
				Pastebin/Gist (Self-Hosted)
				<br>
				<small>{{ author.gist_user }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://github.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://github.com/{{ author.github }}" rel="me external noopener">
				GitHub
				<br>
				<small>{{ author.github }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://indieweb.org' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://indieweb.org/User:{{ author.indieweb }}" rel="me external noopener">
				IndieWeb Wiki
				<br>
				<small>{{ author.indieweb }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://indiewebforum.eu' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://indiewebforum.eu/u/{{ author.shortname }}" rel="me external noopener">
				IndieWebForum
				<br>
				<small>{{ author.shortname }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://last.fm' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://last.fm/user/{{ author.lastfm }}" rel="me external noopener">
				Last.fm
				<br>
				<small>{{ author.lastfm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://libre.fm' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://libre.fm/user/{{ author.librefm }}" rel="me external noopener">
				Libre.fm
				<br>
				<small>{{ author.libfrefm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://linkedin.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://www.linkedin.com/in/{{ author.linkedin }}" rel="me external noopener">
				LinkedIn
				<br>
				<small>{{ author.linkedin }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ ('https://' + author.mastodon_domain) | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="{{ author.mastodon_domain }}/@{{ author.mastodon.split('@')[1] }}" rel="me external noopener">
				Mastodon
				<br>
				<small>{{ author.mastodon }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://npmjs.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://npmjs.com/~{{ author.npm }}" rel="me external noopener">
				npm
				<br>
				<small>{{ author.npm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://speakerdeck.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://speakerdeck.com/{{ author.speakerdeck }}" rel="me external noopener">
				Speakerdeck
				<br>
				<small>{{ author.speakerdeck }}</small>
			</a>
		</h1>
	</article>
	{#
		<article class=" [ flow ] ">
			<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://spotify.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
			<h1>
				<a href="https://open.spotify.com/user/{{ author.spotify }}" rel="me external noopener">
					Spotify
					<br>
					<small>{{ author.name }}</small>
				</a>
			</h1>
		</article>
	#}
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://untappd.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://untappd.com/user/{{ author.untappd }}" rel="me external noopener">
				Untappd
				<br>
				<small>{{ author.untappd }}</small>
			</a>
		</h1>
	</article>
</div>

<hr>

<dl>
	<dt>My public GPG key</dt>
	<dd class=" [ monospace ] ">{{ author.gpg_styled | safe }}</dd>
</dl>
