---
title: "/slashes"
tagline: Slash Pages
description: "A splash page for all my <q>slash pages</q>. <a href=\"https://fediverse.repc.co/@chrisburnell/112416344275788728\" rel=\"external noopener\"><sup>\u21a9\uFE0E</sup></a>"
full: true
redirect_from:
  - /slash
---

<div class=" [ box  box--line-length ] [ flow ] " style="margin-block-end: var(--size-large-gigantic);">
	<p>Learn more about these pages on <a href="https://slashpages.net" rel="external noopener">slashpages.net</a>.</p>
</div>

<ul class=" [ grid ] [ shelf ] ">
	<li class=" [ flow ] ">
		<a href="/about/" class=" [ gamma ] "><c-emoji><picture><source srcset="/images/avatar-emoji.avif" type="image/avif"><source srcset="/images/avatar-emoji.webp" type="image/webp"><img src="/images/avatar-emoji.png" alt="" style="inline-size: 1.25em; block-size: 1.25em; object-fit: contain;"></picture></c-emoji><span aria-hidden="true">/</span>about</a>
		<p>Who is Chris Burnell?</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/blogroll/" class=" [ gamma ] "><c-emoji>✨</c-emoji><span aria-hidden="true">/</span>blogroll</a>
		<p>Blogs that I follow.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/about/#colophon" class=" [ gamma ] "><c-emoji>💻</c-emoji><span aria-hidden="true">/</span>colophon</a>
		<p>What’s this website made of?</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/about/#contact" class=" [ gamma ] "><c-emoji>📥</c-emoji><span aria-hidden="true">/</span>contact</a>
		<p>Hit me up!</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/feeds/" class=" [ gamma ] "><c-emoji><svg aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji><span aria-hidden="true">/</span>feeds</a>
		<p>Follow my website’s content.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/ideas/" class=" [ gamma ] "><c-emoji>💡</c-emoji><span aria-hidden="true">/</span>ideas</a>
		<p>Things I’d like to work on.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/interests/" class=" [ gamma ] "><c-emoji>⭐</c-emoji><span aria-hidden="true">/</span>interests</a>
		<p>A list of things I like in no particular order.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/links/" class=" [ gamma ] "><c-emoji>🔗</c-emoji><span aria-hidden="true">/</span>links</a>
		<p>Find me all over the web (mostly)!</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/now/" class=" [ gamma ] "><c-emoji>⏲️</c-emoji><span aria-hidden="true">/</span>now</a>
		<p>Stuff that I’m doing now (or at least recently)!</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/podroll/" class=" [ gamma ] "><c-emoji>🎙️</c-emoji><span aria-hidden="true">/</span>podroll</a>
		<p>A list of podcasts that I enjoy.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/sitemap/" class=" [ gamma ] "><c-emoji>🗺️</c-emoji><span aria-hidden="true">/</span>sitemap</a>
		<p><em>All</em> the pages on this website.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/tip/" class=" [ gamma ] "><c-emoji>☕</c-emoji><span aria-hidden="true">/</span>tip</a>
		<p>Buy me a coffee?</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/uses/" class=" [ gamma ] "><c-emoji>🛠️</c-emoji><span aria-hidden="true">/</span>uses</a>
		<p>A list of stuff I use day-to-day.</p>
	</li>
	<li class=" [ flow ] ">
		<a href="/why/" class=" [ gamma ] "><c-emoji>📜</c-emoji><span aria-hidden="true">/</span>why</a>
		<p>A <q>minifesto</q> on the purpose of my website.</p>
	</li>
</ul>
