---
draft: true
title: "/top4"
tagline: Top Four
description: A place for top-3s and honourable mentions.
css_includes:
  - src/css/pages/top4.scss
---

<p>Check out the <a href="https://topfour.net/" rel="exernal noopener">Top Four Directory</a> and learn more about <a href="https://peterspath.net/blog/project-top-four/" rel="exernal noopener">the origin of the /top4 slash page</a> on <a href="https://peterspath.net/" rel="external nooper">Peter's Path</a>!</p>

<div class="grid" style="--placement: auto-fit; align-items: start;">
	<div class="box flow" style="inline-size: 100%;">
		<h2><c-emoji>🌲</c-emoji> Tree/Wood Smells</h2>
		<ol class="top4 default-list">
			<li><a href="https://en.wikipedia.org/wiki/Western_white_pine" rel="external noopener">Silver Pine</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Cherry" rel="external noopener">Cherry</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Thuja_occidentalis" rel="external noopener">Eastern White-Cedar</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Sassafras" rel="external noopener">Sassafras</a></li>
		</ol>
	</div>
	<div class="box flow" style="inline-size: 100%;">
		<h2><c-emoji>🌑</c-emoji> Star Wars Movies<sup><a href="#fn1" id="fnref1" class="footnote-ref">*</a></sup></h2>
		<ol class="top4 default-list">
			<li><a href="https://trakt.tv/movies/the-empire-strikes-back-1980" rel="external nooper">The Empire Strikes Back</a></li>
			<li><a href="https://trakt.tv/movies/rogue-one-a-star-wars-story-2016" rel="external nooper">Rogue One</a></li>
			<li><a href="https://trakt.tv/movies/return-of-the-jedi-1983" rel="external nooper">Return of the Jedi</a></li>
			<li><a href="https://trakt.tv/movies/star-wars-1977" rel="external nooper">A New Hope</a></li>
		</ol>
		<p id="fn1" class="small"><sup>*</sup> Many Bothans died to bring you this contentious information.</p>
	</div>
</div>
