{%- set deck_css -%}
	@layer components {
		{% include '../../../../css/components/deck.css' %}
	}
{%- endset -%}
{%- css 'critical' %}{{ deck_css | cssmin | safe }}{% endcss -%}
{%- set item_of = item.data.bookmark_of | default(item.data.drink_of) | default(item.data.like_of) | default(item.data.listen_of) | default(item.data.play_of) | default(item.data.read_of) | default(item.data.watch_of) -%}
{%- set item_of_url = item_of -%}
{%- if item_of.url -%}
	{% set item_of_url = item_of.url %}
{%- endif -%}
{%- set item_of_title = item_of_url -%}
{%- if item_of.title -%}
	{% set item_of_title = item_of.title %}
{%- endif -%}
{%- if item_of_url and not item.data.authors -%}
	{% set item_of_author_by_url = people | getPerson(item_of_url, 'object') %}
	{% if item_of_author_by_url != item_of_url %}
		{% set item_of_authors = item_of_author_by_url %}
	{% endif %}
{%- endif -%}

{%- if item.data.in_reply_to -%}
	{%- set item_in_reply_to = item.data.in_reply_to -%}
	{%- set item_in_reply_to_url = item_in_reply_to -%}
	{%- if item_in_reply_to.url -%}
		{%- set item_in_reply_to_url = item_in_reply_to.url -%}
	{%- endif -%}
	{%- set item_in_reply_to_title = item_in_reply_to_url -%}
	{%- if item_in_reply_to.title -%}
		{%- set item_in_reply_to_title = item_in_reply_to.title -%}
	{%- endif -%}
	{%- set item_in_reply_to_title = people | getPerson(item_in_reply_to_title) | getInternalTarget(collections.all) | getMastodonHandle | getTwitterHandle -%}
	{% set author_lookup = people | getPerson(item_in_reply_to_url, 'object') %}
	{% if author_lookup != item_in_reply_to_url %}
		{% set item_in_reply_to_author = author_lookup %}
	{% endif %}
{%- endif -%}

{%- set item_title = item.data.title -%}

<article class=" [ flow ]{% if hfeed and item.data.mf_root %} [ h-{{ item.data.mf_root }} ] {% endif %}">
	{% if item_in_reply_to %}
		<div class=" [ deck__context ] ">
			{% if item.data.rsvp %}
				<data class=" [ p-rsvp ] " value="{{ item.data.rsvp.value }}" hidden></data>
				{% if item.data.rsvp.value == 'yes' %}
					{% if item.data.rsvp.date | epoch > global.now %}
						{# Future #}
						<c-emoji>{{ emojis.future }}</c-emoji>
						<small>going to</small>
					{% elif item.data.rsvp.date | epoch <= global.now and item.data.rsvp.end | epoch > global.now %}
						{# Current #}
						<c-emoji>{{ emojis.going }}</c-emoji>
						<small>currently attending</small>
					{% else %}
						{# Past #}
						<c-emoji>{{ emojis.going }}</c-emoji>
						<small>went to</small>
					{% endif %}
				{% elif item.data.rsvp.value == 'maybe' %}
					<c-emoji>{{ emojis.maybe }}</c-emoji>
					{% if item.data.rsvp.date | epoch > global.now %}
						{# Future #}
						<small>might go to</small>
					{% else %}
						{# Past #}
						<small>thought about going to</small>
					{% endif %}
				{% elif item.data.rsvp.value == 'interested' %}
					{% if item.data.rsvp.date | epoch > global.now %}
						{# Future #}
						<c-emoji>{{ emojis.maybe }}</c-emoji>
						<small>interested in going to</small>
					{% else %}
						{# Past #}
						<c-emoji>{{ emojis.not_going }}</c-emoji>
						<small>was interested in going to</small>
					{% endif %}
				{% else %}
					<c-emoji>{{ emojis.not_going }}</c-emoji>
					{% if item.data.rsvp.date | epoch > global.now %}
						{# Future #}
						<small>unable to go to</small>
					{% else %}
						{# Past #}
						<small>wasn’t able to go to</small>
					{% endif %}
				{% endif %}
			{% else %}
				<small>in reply to</small>
			{% endif %}
			<a class=" [ h-cite  u-in-reply-to ] " href="{{ item_in_reply_to_url | replace('twitter.com/iamchrisburnell/status/', 'twitter.chrisburnell.com/') }}">{{ item_in_reply_to_title }}</a>
			{% set author_lookup = people | getPerson(item_in_reply_to_url, 'object') %}
			{% if author_lookup != item_in_reply_to_url and author_lookup.title != item_in_reply_to_title %}
				<small>by</small>
				<a href="{{ author_lookup.url | toArray | first }}">{{ author_lookup.title }}</a>
			{% endif %}
			{% if item.data.rsvp.date | friendlyDate == global.now | friendlyDate %}
				{# Today #}
				<small>from</small>
				<time class=" [ dt-start ] " datetime="{{ item.data.rsvp.date | rfc3339Date }}">{{ item.data.rsvp.date | friendlyTime(false) }}</time>
				–
				<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}">{{ item.data.rsvp.end | friendlyTime(true) }}</time>
			{% elif item.data.rsvp.date | epoch > global.now %}
				{# Future #}
				<small>in</small>
				{{ global.now | daysUntil(item.data.rsvp.date) }} days
				<small>on</small>
				{% if item.data.rsvp.date | friendlyDate != item.data.rsvp.end | friendlyDate %}
					<time class=" [ dt-start ] " datetime="{{ item.data.rsvp.date | rfc3339Date }}">{{ item.data.rsvp.date | friendlyDate }}</time>
					–
					<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}">{{ item.data.rsvp.end | friendlyDate }}</time>
				{% else %}
					<time class=" [ dt-start ] " datetime="{{ item.data.rsvp.date | rfc3339Date }}">{{ item.data.rsvp.date | friendlyDate }}</time>
					<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}" hidden></time>
				{% endif %}
			{% elif item.data.rsvp.date | epoch < global.now and item.data.rsvp.end | epoch > global.now %}
				{# Current #}
				<small>from</small>
				<time class=" [ dt-start ] " datetime="{{ item.data.rsvp.date | rfc3339Date }}">{{ item.data.rsvp.date | friendlyTime(false) }}</time>
				–
				<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}">{{ item.data.rsvp.end | friendlyTime(true) }}</time>
			{% elif item.data.rsvp.date %}
				{# Past #}
				<small>on</small>
				<time class=" [ dt-start ] " datetime="{{ item.data.rsvp.date | rfc3339Date }}">{{ item.data.rsvp.date | friendlyDate }}</time>
				{% if item.data.rsvp.date | friendlyDate != item.data.rsvp.end | friendlyDate %}
					–
					<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}">{{ item.data.rsvp.end | friendlyDate }}</time>
				{% else %}
					<time class=" [ dt-end ] " datetime="{{ item.data.rsvp.end | rfc3339Date }}" hidden></time>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
	{% if item_title or item_of_title %}
		<h1 style="view-transition-name: title-{{ item.data.page.fileSlug }};">
			<a class=" [ p-name ] " href="{% if item.data.tags and "clickthrough" in item.data.tags %}{{ item_of_url | default(item.url) | safe }}{% else %}{{ item.url | safe }}{% endif %}">
				{% if item.data.emoji %}<c-emoji>{{ item.data.emoji }}</c-emoji>{% endif %}{{ item_title | default(item_of_title) | striptags(true) | safe }}
			</a>
		</h1>
	{% endif %}
	{% if show_photos %}
		{% include 'photo.njk' %}
	{% endif %}
	{% if item.data.description and item.data.tags and ("page" in item.data.tags or "writing" in item.data.tags) %}
		<p class=" [ p-summary ] {% if item.data.category == 'article' %}[ line-clamp ] {% endif %}">{{ item.data.description | striptags(true) | urlize | safe }}</p>
	{% elif item.data.description and item.data.description_markdown %}
		<p class=" [ p-summary ] {% if item.data.category == 'article' %}[ line-clamp ] {% endif %}">{{ item.data.description | markdownFormat | safe }}</p>
	{% elif item.data.description %}
		<p class=" [ p-summary ] {% if item.data.category == 'article' %}[ line-clamp ] {% endif %}">{{ item.data.description | striptags(true) | maxWords(40, truncate) | urlize | safe }}</p>
	{% elif item.data.category == 'bookmark' %}
		<p class=" [ p-summary ] ">{{ item.content | striptags(true) | maxWords(40, truncate) | urlize | safe }}</p>
	{% elif item.data.category == 'code' %}
		<p class=" [ p-summary ] ">One of my code snippets.</p>
	{% elif item.data.category == 'like' %}
		<p class=" [ p-summary ] ">{{ item.content | striptags(true) | maxWords(40, truncate) | urlize | safe }}</p>
	{% elif item.data.category == 'note' %}
		<p class=" [ p-summary ] ">{{ item.content | striptags(true) | maxWords(40, truncate) | urlize | safe }}</p>
	{% elif item.data.category == 'recipe' %}
		<p class=" [ p-summary ] ">A {{ item.data.categoryProper | default(item.data.category) }}{% if item.data.authors %} by {% for author in item.data.authors | toArray %}{% if author.url %}<a href="{{ people | getPerson(author, 'url') }}">{{ people | getPerson(author) }}</a>{% if not loop.last %}, {% endif %}{% else %}{{ people | getPerson(author) }}{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}{% endif %}</p>
	{% elif item.data.category == 'talk' %}
		<p class=" [ p-summary ] ">{{ item.content | striptags(true) | maxWords(40, truncate) | urlize | safe }}</p>
	{% endif %}
	{% if item.data.date or item.date or item.data.updated or item.data.webmentions or item.data.stargazers %}
		<ul class=" [ cluster ] [ deck__meta ] ">
			{% if item.data.updated %}
				<li>
					<small>updated</small> <a href="{{ item.url }}#updated" tabindex="-1"><time class=" [ dt-updated ] " datetime="{{ item.data.updated | rfc3339Date }}">{{ item.data.updated | friendlyDateLong | safe }}</time></a>
				</li>
			{% endif %}
			{% if item.data.date or item.date %}
				<li>
					<small>published</small> <a class=" [ u-url ] " href="{{ item.url }}"{% if item_title or item_of_title %} tabindex="-1"{% endif %}><time class=" [ dt-published ] " datetime="{{ item.data.date | default(item.date) | rfc3339Date }}">{{ item.data.date | default(item.date) | friendlyDateLong | safe }}</time></a>
				</li>
			{% endif %}
			{% if (item.data.show_responses and item.data.webmentions.length) or item.data.stargazers %}
				{%- set bookmarks = item.data.webmentions | arrayKeyEquals('wm-property', 'bookmark-of') -%}
				{%- set likes = item.data.webmentions | arrayKeyEquals('wm-property', 'like-of') -%}
				{%- set links = item.data.webmentions | getAllLinks -%}
				{%- set reposts = item.data.webmentions | arrayKeyEquals('wm-property', 'repost-of') -%}
				{%- set reactions = bookmarks.concat(likes).concat(links).concat(reposts) -%}
				{%- set replies = item.data.webmentions | getAllReplies -%}
				{%- set stargazers = item.data.stargazers | default(0) -%}
				{%- set responsesLength = reactions.length + replies.length + stargazers -%}
				<li>
					<a href="{{ item.url }}#respond" title="Jump to responses for this {{ item.data.categoryProper }}">{{ responsesLength }} {% if stargazers == responsesLength %}stargazer{% else %}response{% endif %}{{ 's' if responsesLength > 1 }} <span class="hidden">to this {{ item.data.categoryProper | default(item.data.category) | default('page') }}</span></a>
				</li>
			{% endif %}
		</ul>
	{% endif %}
	{% if item.data.mf_property and item_of %}
		<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item_of_url | default(item_of) }}" hidden></data>
	{% endif %}
	{% if item.data.category %}
		<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}/" hidden>{{ item.data.category }}</data>
	{% endif %}
	<data class=" [ u-author ] " value="/" hidden></data>
</article>
