<article class=" [ flow ] {% if hfeed and item.data.mf_root %}[ h-{{ item.data.mf_root }} ] {% endif %}">
	{% if item.data.cover %}
		{% if item.url and item.data.tags and 'clickthrough' in item.data.tags %}
			<a href="{{ item.data.of_url | default(item.url) | striptags(true) | safe }}" class=" [ cover-anchor ] " aria-hidden="true" tabindex="-1">
		{% elif item.url %}
			<a href="{{ item.url | striptags(true) | safe }}" class=" [ cover-anchor ] " aria-hidden="true" tabindex="-1">
		{% endif %}
		<picture>
			{% if eleventy.env.runMode === 'build' %}
				<source type="image/avif" srcset="/images/built/{{ item.data.cover | replace('jpg', 'avif') | replace('png', 'avif') }}">
			{% endif %}
			<source type="image/webp" srcset="/images/built/{{ item.data.cover | replace('jpg', 'webp') | replace('png', 'webp') }}">
			<img src="/images/built/{{ item.data.cover | replace('jpg', 'jpeg') }}" alt="Art for {{ item.data.title }}" class=" [ cover ] [ u-photo ] " {% if item.data.cover_position %}style="object-position: {{ item.data.cover_position }};"{% endif %} loading="lazy" decoding="async">
		</picture>
		{% if item.url %}
			</a>
		{% endif %}
	{% endif %}
	<h1>
		{% if item.url and item.data.tags and 'clickthrough' in item.data.tags %}
			<a href="{{ item.data.of_url | default(item.url) | striptags(true) | safe }}">
		{% elif item.url %}
			<a href="{{ item.url | striptags(true) | safe }}">
		{% endif %}
			{% if item.data.audiobook %}<c-emoji title="Audiobook">{{ emojis.listen }}</c-emoji>{% endif %}{{ item.data.title | default(item.data.of_title) | default(item.data.of_title_fallback) | striptags(true) | safe }}
		{% if item.url %}
			</a>
		{% endif %}
	</h1>
	{% if item.data.subtitle %}
		<p class=" [ small ] ">{{ item.data.subtitle | safe }}</p>
	{% elif item.data.style %}
		<p class=" [ small ] ">{{ item.data.style | replace(' - Other', '') | safe }}</p>
	{% endif %}
	{% if item.data.excerpt or item.data.description %}
		{{ item.data.excerpt | default(item.data.description) | formatAsMarkdown | safe }}
	{% endif %}
	{% if item.data.authors or item.data.release %}
		<div>
			{% if item.data.authors %}
				{{ item.data.meta_authors_string | safe }}
			{% endif %}
			{% if item.data.release %}
				<small>(<time datetime="{{ item.data.release | rfc3339Date }}" class="release">{{ item.data.release | friendlyDate('yyyy') }}</time>)</small>
			{% endif %}
		</div>
	{% endif %}
	{% if item.data.mf_root == 'review' %}
		<div>
			{% if item.data.rating == 'Parti Pris' %}
				<data class=" [ p-rating ] " value="Parti Pris">Parti Pris</data>
			{% elif item.data.rating %}
				<data class=" [ rating ] [ p-rating ] " value="{{ item.data.rating }}" title="{{ item.data.rating }} out of 5"> </data>
				<strong>{{ item.data.rating }}/5</strong>
				<data class=" [ p-worst ] " value="0" hidden>0</data>
				<data class=" [ p-best ] " value="5" hidden>5</data>
			{% elif item.data.listen_of and not item.data.complete and not item.data.end %}
				<em>Currently listening</em>
			{% elif item.data.play_of and not item.data.complete and not item.data.end %}
				<em>Currently playing</em>
			{% elif item.data.read_of and not item.data.complete and not item.data.end %}
				<em>Currently reading</em>
			{% else %}
				<data class=" [ p-rating ] " value="Unrated">Unrated</data>
			{% endif %}
		</div>
	{% endif %}
	{% if item.data.date %}
		<time datetime="{{ item.data.date | rfc3339Date }}" class=" [ dt-published ] " hidden>{{ item.data.date | friendlyDateLong | safe }}</time>
		{% if item.data.updated %}
			<time datetime="{{ item.data.updated | rfc3339Date }}" class=" [ dt-updated ] " hidden>{{ item.data.updated | friendlyDateLong | safe }}</time>
		{% endif %}
	{% endif %}
	{% if item.data.mf_property and item.data.of_url %}
		<data class=" [ u-{{ item.data.mf_property }} ] " value="{{ item.data.of_url }}" hidden></data>
	{% endif %}
	{% if item.data.category %}
		<data class=" [ u-category ] " value="/{{ item.data.categoryPlural | default(item.data.category) }}" hidden>{{ item.data.category }}</data>
	{% endif %}
	<data class=" [ u-url ] " value="{{ item.url }}" hidden></data>
	<data class=" [ u-author ] " value="/" hidden></data>
</article>
