<div class="featured-pens">
    <h3 class="featured-pens-title"><a href="/pens">Featured Pens</a></h3>
    <ol class="small-articles-list" role="list">
        {% assign featuredPensLimit = 4 %}
        {% assign featuredPensCounter = 0 %}
        {% for post in site.posts %}
        {% unless featuredPensCounter >= featuredPensLimit or post.draft or post.category != "codepen" %}
            {% assign featuredPensCounter = featuredPensCounter | plus: 1 %}
            <li>
                <a href="{{ post.url }}">
                    <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                    <h4 class="small-article-title">{{ post.title }}</h4>
                    {% if post.introduction %}
                        <p class="small-article-introduction">{{ post.introduction | truncatewords: 10 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                    {% endif %}
                    <time class="small-article-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                </a>
            </li>
        {% endunless %}
        {% endfor %}
    </ol>
    <a class="featured-pens-link" href="/pens">All Featured Pens</a>
</div>
