<div class="featured-pens">
    <h3 class="featured-pens-title"><a href="/pens">Featured Pens</a></h3>
    <ol class="small-articles-list" role="list">
        {% for post in site.pens limit:4 %}
            <li>
                <a href="{{ post.url }}">
                    <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                    <h4 class="small-article-title">{{ post.title }}</h4>
                    <time class="small-article-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                    {% if post.introduction %}
                        <p class="small-article-introduction">{{ post.introduction | truncatewords: 15 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ol>
    <a class="featured-pens-link" href="/pens">All Featured Pens</a>
</div>
