<div class="aside-search">
    <h3 class="aside-search-title">Search</h3>
    <form class="search-form" id="search-form" method="get" action="/search.html" role="search">
        <input class="search-input" id="search-input" type="search" name="query" maxlength="30" disabled />
        <label class="search-label" for="query">Search</label>
        <input class="search-submit" id="search-submit" type="submit" disabled />
    </form>
    <noscript>Please enable Javascript to search.</noscript>
</div>
