{% if site.related_posts %}
    <div class="related-articles">
        <h3 class="related-articles-title">Related Articles</h3>
        <ol class="small-articles-list" role="list">
            {% for post in site.related_posts limit:2 %}
                <li>
                    <a href="{{ post.url }}">
                        {% if post.category == "codepen" %}
                            <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                        {% endif %}
                        <h4 class="small-article-title">{{ post.title }}</h4>
                        <time class="small-article-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        {% if post.introduction %}
                            <p class="small-article-introduction">{{ post.introduction | truncatewords: 15 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                        {% elsif post.category == "codepen" %}
                            <p class="small-article-introduction"><em>Featured Pen</em></p>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
