<!-- Support <picture> and picturefill -->
<script>document.createElement( "picture" );{% include body-js-picturefill.html %}</script>

{% if page.comments == true or page.page_class contains "page-home" or page.page_class contains "page-articles" %}
<!-- Disqus Comments -->
<script>var disqus_shortname = 'chrisburnell';{% if page.comments == true %}{% include body-js-disqus-article.html %}{% endif %}{% if page.page_class contains "page-home" or page.page_class contains "page-articles" %}{% include body-js-disqus-count.html %}{% endif %}</script>
{% endif %}

<!-- Google Analytics -->
<script>{% include body-js-google-analytics.html %}</script>

<!-- Search Templates -->
{% include body-js-search-templates.html %}

<!-- Search -->
<script>{% include body-js-search.html %}</script>

{% if page.codepen == true or page.categories contains "pen" %}
<!-- CodePen Embeds -->
<script src="//codepen.io/assets/embed/ei.js" async defer></script>
{% endif %}

{% if page.twitter == true %}
<!-- Twitter Cards -->
<script src="//platform.twitter.com/widgets.js" async defer></script>
{% endif %}
