{% comment %}
*
* This include lets you easily embed a CodePen.
* You can specify three parameters (* is mandatory):
*   - slug *
*   - theme
*   - type
*   - height
*   - user
* Example:
*   - {% include embed-codepen.html slug="lBJnz" height="500" theme="tabfree" %}
*
{% endcomment %}
{% capture slug %}{% if include.slug %}{{ include.slug }}{% else %}{{ page.codepen_slug }}{% endif %}{% endcapture %}
<pre class="codepen" data-slug-hash="{{ slug }}" data-type="{% if include.type %}{{ include.type }}{% else %}result{% endif %}" data-theme-id="{% if include.theme == "tabfree" %}{{ site.codepen_tabfree }}{% else %}{{ site.codepen_theme }}{% endif %}" data-user="{% if include.user %}{{ include.user }}{% else %}chrisburnell{% endif %}"{% if include.height %} data-height="{{ include.height }}"{% endif %} data-safe="true">
    <code></code>
    <a href="//codepen.io/{% if include.user %}{{ include.user }}{% else %}chrisburnell{% endif %}/pen/{{ slug }}">Check out this Pen!</a>
</pre>
