    <footer>
        <section class="footer-container  wrap  clear">
            <div class="footer-copyright">
                <a href="/" title="{{ site.author }}" class="s  home-link"></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" title="Creative Commons License">&copy; 2013 {{ site.author }}</a>
            </div>
            <div class="footer-social">
                <a href="{{ site.twitter_url }}" title="Twitter" rel="twitter" class="twitter  no-text">Twitter</a>
                <a href="{{ site.codepen_url }}" title="CodePen" rel="codepen" class="codepen  no-text">CodePen</a>
                <a href="{{ site.forrst_url }}" title="Forrst" rel="forrst" class="forrst  no-text">Forrst</a>
                <a href="{{ site.lastfm_url }}" title="Last.FM" rel="lastfm" class="lastfm  no-text">Last.FM</a>
            </div>
        </section>
    </footer>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10353655-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>