    <footer>
        <section class="footer-container  wrap  clear">
            <div class="copyright" role="contentinfo">
                <a rel="home" class="home-link" href="/" title="Home">Home</a> <a rel="license" class="copyright-link" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" title="Creative Commons License">&copy; {{ site.time | date: "%Y" }} {{ site.author }}</a>
            </div>
            <ul class="social-icons">
                <li><a rel="me publisher" class="social-icon  twitter-link" href="{{ site.twitter_url }}" title="{{ site.author }} on Twitter">Twitter</a></li>
                <li><a rel="me publisher" class="social-icon  codepen-link" href="{{ site.codepen_url }}" title="{{ site.author }} on CodePen">CodePen</a></li>
                <li><a rel="me publisher" class="social-icon  lastfm-link" href="{{ site.lastfm_url }}" title="{{ site.author }} on Last.FM">Last.FM</a></li>
                <li><a rel="me author" class="social-icon  rss-link" href="{{ site.url }}/feed.xml" title="RSS">RSS</a></li>
            </ul>
        </section>
    </footer>

    {% if page.layout == "article" %}<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}<script type="text/javascript">
        // Remove the strong tags from the "and" in the tags list on articles
        var articleTags = document.getElementsByClassName('article-tags');
        for (var i = 0; i < articleTags.length; i++) {
            articleTags[i].innerHTML = articleTags[i].innerHTML.replace('and','</strong>and<strong>');
        };
        // Google Analytics
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10353655-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>