{% if page.page_class contains "page-home" or page.page_class contains "page-about" %}
    {% assign job_title = "" %}
{% else %}
    {% capture job_title %} <span itemprop="title">{{ site.author_job_title }}</span> {% endcapture %}
{% endif %}
{% if site.employer %}
    {% capture job_information %} and currently working at <a rel="external" href="{{ site.employer_url }}" itemprop="affiliation">{{ site.employer }}</a>{% endcapture %}
{% else %}
    {% assign job_information = "" %}
{% endif %}
{% if page.layout == "article" %}
    {% assign author_name_prefix = "by" %}
    {% if page.categories contains "pen" %}
        {% assign author_biography_closer = "this pen is uninspiring and makes you want to claw your eyeballs out" %}
    {% else %}
        {% assign author_biography_closer = "this article is boring and makes you want to claw your eyeballs out" %}
    {% endif %}
{% else %}
    {% assign author_name_prefix = "about" %}
    {% if page.page_class contains "page-about" %}
        {% assign author_biography_closer = "you don’t care about my life. Sorry." %}
    {% elsif page.page_class contains "page-articles" %}
        {% assign author_biography_closer = "my whimsical articles don’t capture your child-like wonder" %}
    {% elsif page.page_class contains "page-pens" %}
        {% assign author_biography_closer = "my whimsical pens don’t capture your child-like wonder" %}
    {% elsif page.page_class contains "page-tags" %}
        {% assign author_biography_closer = "my whimsical articles and pens don’t capture your child-like wonder" %}
    {% elsif page.page_class contains "page-search" %}
        {% assign author_biography_closer = "everything you search for looks totally boring" %}
    {% elsif page.page_class contains "page-not-found" %}
        {% assign author_biography_closer = "you’re upset that you found a broken page. Sorry" %}
    {% else %}
        {% assign author_biography_closer = "this page makes you wish you were doing something else, like folding socks" %}
    {% endif %}
{% endif %}

<aside class="author" role="complementary" itemscope itemtype="http://data-vocabulary.org/Person">

    <div class="clear  author-information">
        <a rel="me" href="/about">
            <img alt="" class="author-image" width="100" height="100" role="presentation" itemprop="photo"
                 src="/images/avatar.png"
                 srcset="/images/avatar.png 1x,
                         /images/avatar@2x.png 2x,
                         /images/avatar@4x.png 4x">
        </a>
        <div class="author-name">{{ author_name_prefix }} <a rel="me" class="canada" href="/about" itemprop="name">{{ site.author }}</a></div>
        {% if page.layout == "article" %}
            <time class="article-date" datetime="{{ page.date | date_to_xmlschema }}">on <strong>{{ page.date | date: "%d %b, %Y" }}</strong></time>
            {% if page.categories contains "pen" %}
                <div class="article-label"><a href="/pens">Featured Pens</a></div>
            {% endif %}
            {% if page.tags.size > 0 %}
                <div class="article-tags">
                    <span>tagged under</span>
                    {% assign tags_sorted = page.tags | sort: 0 %}
                    {% for tag in tags_sorted %}
                        {% if forloop.last and tags_sorted.size > 1 %} and {% endif %}<a href="/tags#{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% if forloop.last == false and tags_sorted.size > 2 %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div class="author-age">I’m <strong>{{ site.author_age }}</strong> years old</div>
            <div class="author-employer">I’m a <strong>{{ site.author_job_title }}</strong></div>
        {% endif %}
    </div>

    <div class="author-biography">
        <p>I’m a Canadian{{ job_title }} living in London, UK{{ job_information }}. Driven by a passion for lean CSS and a semantic web, I love to create rich and engaging user experiences, which I write about here&mdash;<a rel="me author" class="link--rss" href="/feed.xml">subscribe via RSS</a>.</p>
        <p>I also <a rel="me publisher external" class="link--twitter" href="{{ site.url_twitter }}">tweet</a>, <a rel="me publisher external" class="link--codepen" href="{{ site.url_codepen }}">write code</a>, <a rel="me publisher external" class="link--github" href="{{ site.url_github }}">commit code</a>, <a rel="me publisher external" class="link--lastfm" href="{{ site.url_lastfm }}">listen to music</a>, and <a rel="me publisher external" href="//recipes.chrisburnell.com">bake bread</a> if {{ author_biography_closer }}.</p>
    </div>


    {% if page.page_class contains "page-search" %}
    {% else %}
        {% include widget-search.html %}
    {% endif %}

    {% if page.page_class contains "page-home" %}
        {% include widget-featured-pens.html %}
    {% elsif page.layout == "article" %}
        {% include widget-related-articles.html %}
    {% endif %}

</aside>
