{% if site.related_posts %}
    <div class="related-articles">
        <h3 class="related-articles-title">Related Articles</h3>
        <ol class="small-articles-list" role="list">
            {% for post in site.related_posts limit:2 %}
                <li>
                    <a href="{{ post.url }}" title="Continue reading ‘{{ post.title }}’">
                        <h4 class="small-article-title">{{ post.title }}</h4>
                        {% if post.introduction %}
                            <p class="small-article-introduction">{{ post.introduction | truncatewords: 10 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                        {% endif %}
                        <time class="small-article-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        {% if post.layout == "codepen" %}
                            <span class="icon  codepen-icon" aria-hidden="true"><svg><use xlink:href="#svg-codepen" /></svg></span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
