<nav class="tertiary-navigation" role="navigation">
    <ul class="tertiary-navigation-list">
    {% for link in site.data.tertiary_navigation %}
        {% capture title_slug %}{{ link.title | slugify }}{% endcapture %}
        {% if link.url %}
            {% assign url = link.url %}
        {% elsif title_slug == "codepen" %}
            {% assign url = site.url_codepen %}
        {% elsif title_slug == "github" %}
            {% assign url = site.url_github %}
        {% elsif title_slug == "twitter" %}
            {% assign url = site.url_twitter %}
        {% elsif title_slug == "lastfm" %}
            {% assign url = site.url_lastfm %}
        {% endif %}
        <li>
            <a{% if link.rel %} rel="{{ link.rel }}"{% endif %} class="icon  link--{{ link.title | slugify }}"{% if url %} href="{{ url }}"{% endif %} title="{{ link.title }}">
                <svg><use xlink:href="#svg--{{ link.title | slugify }}" /></svg>
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>