{% comment %}
*
* This include lets you easily embed a Tweet.
* You must specify a content parameter, copy-pasted from Twitter.
* Example:
*   - {% include tweet.html content='<blockquote class="twitter-tweet" lang="en" data-conversation="none"><p>Pinboard implemented their own simpler layout model &amp; used canvas for the drawing which is GPU-backed.</p>&mdash; Jake Archibald (@jaffathecake) <a href="https://twitter.com/jaffathecake/status/569894563147608066">February 23, 2015</a></blockquote>' %}
*
{% endcomment %}
{{ include.content | replace: '<blockquote', '<blockquote data-link-color="#5f8aa6"' }}