////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a,
.anchor {
    @include transition(background-color, color, text-decoration-color);
    @include v(background-color, transparent);
    @include v(color, bowhead);
    outline: 0 solid var(--color-canada);
    position: relative;
    text-decoration: underline;
    @include v(text-decoration-color, alto);
    @include v(text-decoration-thickness, border-thin);
    text-decoration-skip-ink: auto;

    &:hover,
    &:focus,
    &:active {
        @include v(text-decoration-color, canada);
    }

    &:focus-visible {
        @include v(outline-color, raven);
        @include v(outline-width, border-thin);
        @include v(outline-offset, border-thin);
    }

    &:active {
        @include v(background-color, canada);
        color: v(color, white) !important;
        @include v(outline-width, border-thin);
        outline-offset: 0;
    }
}
