////
/// Anchor
/// @group base
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

a,
.anchor {
	@include transition(background-color, color, text-decoration-color);
	background-color: transparent;
	color: h(bowhead);
	outline: 0 solid h(maple);
	position: relative;
	text-decoration: underline;
	text-decoration-color: h(alto);
	@include v(text-decoration-thickness, border-thin);
	text-decoration-skip-ink: auto;

	&:is(:hover, :focus, :active) {
		text-decoration-color: h(maple);
	}

	&:focus {
		outline-color: h(raven);
		@include v(outline-width, border-thin);
		@include v(outline-offset, border-thin);
	}

	&:active {
		background-color: h(maple);
		color: h(milou) !important;
		@include v(outline-width, border-thin);
		outline-offset: 0;
	}
}
