////
/// Button
/// @group base
/// @link https://chrisburnell.com/styleguide/#buttons
////

button {
	background: none;
	color: inherit;
	padding: 0;
	border: 0;
	font-family: inherit;
	@include v(font-size, default);
	cursor: pointer;
	user-select: text;
}

button:not(.anchor),
[type="button"],
.button {
	@include font-family(default);
	@include non-selectable;
	@include transition(background-color, outline-color);
	background-color: h(bowhead);
	color: h(bear) !important; // prevent dark theme from overriding this
	min-inline-size: 8em;
	display: inline-block;
	@include v(padding, small);
	margin: calc(v(size, border-thin) * 2); // accounts for outline-width + outline-offset
	border-width: 0;
	@include v(border-radius, border-default);
	--color-shadow: h(bowhead, gamma);
	@include v(box-shadow, small);
	outline: v(size, border-thin) solid transparent;
	@include v(outline-offset, border-thin);
	overflow: visible;
	position: relative;
	@include v(font-size, default);
	@include v(font-weight, bold);
	@include v(line-height, medium);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	appearance: none;

	&:is(:hover, :focus, :active) {
		outline-color: h(raven);
		text-decoration: none;
	}

	&:active {
		background-color: h(bowhead) !important;
		color: h(bear) !important;
		box-shadow: none;
		transform: translateY(v(size, border-button));

		&::before {
			content: "";
			@include v(block-size, border-button);
			position: absolute;
			inset-block-end: 100%;
			inset-inline: 0;
		}
	}

	&[disabled] {
		@include v(opacity, beta);
		pointer-events: none;
	}

	&.button--small {
		min-inline-size: 5em;
		@include v(padding-block, tiny);
		@include v(font-size, small);
		line-height: 1;
	}

	.icon {
		filter: drop-shadow(0 0 v(size, border-hairline) h(bear, gamma));
	}
}
