////
/// Button
/// @group base
/// @link https://chrisburnell.com/styleguide/#buttons
////

button {
    background: none;
    color: inherit;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: var(--font-scale-0);
    user-select: text;
    cursor: pointer;
}

.button,
[type="button"] {
    @include font-family(default);
    @include non-selectable;
    @include transition(background-color);
    @include v(background-color, bowhead);
    @include v(color, white);
    min-width: 8em;
    display: inline-block;
    padding: 0.5em var(--measure-small);
    border-width: 0;
    @include v(border-radius, border-default);
    box-shadow: inset 0 calc(v(measure, border-button) * -1) 0 0 v(color, black--gamma);
    outline: 0 solid var(--color-raven);
    overflow: visible;
    position: relative;
    font-size: var(--font-scale-0);
    @include v(font-weight, bold);
    @include v(line-height, medium);
    text-align: center;
    text-decoration: none;
    text-shadow: 0 v(measure, border-hairline) v(measure, border-hairline) v(color, black--gamma);
    appearance: none;

    &:hover,
    &:focus,
    &:active {
        @include v(background-color, raven);
        text-decoration: none;
    }

    &:focus-visible {
        @include v(outline-width, border-thin);
        @include v(outline-offset, border-thin);
    }

    &:active {
        box-shadow: none;
        outline-width: 0;
        transform: translateY(v(measure, border-button));

        &::before {
            content: "";
            @include v(height, border-button);
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
        }
    }

    &[disabled] {
        @include v(opacity, beta);
        pointer-events: none;
    }

    .icon {
        filter: drop-shadow(0 0 var(--measure-border-hairline) var(--color-black--gamma));
    }
}

.button--small {
    min-width: 5em;
    padding: var(--measure-tiny) var(--measure-small);
    font-size: var(--font-scale--1);
    line-height: 1;
}
