////
/// Button
/// @group base
/// @link https://chrisburnell.com/styleguide/#buttons
////

button,
.button {
    @extend %button-elements !optional;
    @include border-radius(thin);
    @include font-family(default);
    @include non-selectable;
    @include transition(background-color);
    @include will-change(background-color, height, padding-bottom, margin-bottom, box-shadow, transform);
    @include v(background-color, bowhead);
    @include v(color, white);
    min-width: 8em;
    display: inline-block;
    padding: 0.5em var(--measure-small);
    border-width: 0;
    box-shadow: inset 0 calc(var(--border-width-button) * -1) 0 0 var(--color-black--gamma);
    outline: 0 var(--border-style-default) var(--color-raven);
    overflow: visible;
    position: relative;
    @include v(font-size, default);
    @include v(font-weight, bold);
    @include v(line-height, medium);
    text-align: center;
    text-decoration: none;
    text-shadow: 0 var(--border-width-hairline) var(--border-width-hairline) var(--color-black--gamma);
    cursor: pointer;
    appearance: none;

    &:hover,
    &:focus,
    &:active {
        @include v(background-color, raven);
        text-decoration: none;
    }

    &:focus-visible {
        outline-width: var(--border-width-thin);
        outline-offset: var(--border-width-thin);
    }

    &:active {
        box-shadow: none;
        outline-width: 0;
        transform: translateY(var(--border-width-button));

        &::before {
            content: "";
            height: var(--border-width-button);
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
        }
    }

    &[disabled] {
        @include v(opacity, beta);
        pointer-events: none;
    }

    .icon {
        filter: drop-shadow(0 0 var(--border-width-hairline) var(--color-black--gamma));
    }
}

.button--small {
    min-width: 5em;
    padding: 0.25em 0.5em;
    @include v(font-size, small);
    line-height: 1;
}
