////
/// Button
/// @group base
/// @link https://chrisburnell.com/styleguide/#buttons
////

button {
    background: none;
    color: inherit;
    padding: 0;
    border: 0;
    font-family: inherit;
    @include v(font-size, default);
    user-select: text;
    cursor: pointer;
}

.button,
[type="button"] {
    @include font-family(default);
    @include non-selectable;
    @include transition(background-color);
    @include v(background-color, coyote);
    @include v(color, lynx);
    min-width: 8em;
    display: inline-block;
    padding: 0.5em var(--measure-small);
    @include v(padding, small);
    margin: calc(#{v(measure, border-thin)} * 2); // accounts for outline-width + outline-offset
    border-width: 0;
    @include v(border-radius, border-default);
    box-shadow: inset 0 calc(var(--measure-border-button) * -1) 0 0 v(color, lynx--gamma);
    outline: 0 solid var(--color-raven);
    overflow: visible;
    position: relative;
    @include v(font-size, default);
    @include v(font-weight, bold);
    @include v(line-height, medium);
    text-align: center;
    text-decoration: none;
    appearance: none;

    &:hover,
    &:focus,
    &:active {
        @include v(outline-offset, border-thin);
        outline-width: v(measure, border-thin) !important;
        text-decoration: none;
    }

    &:active {
        background-color: v(color, coyote) !important;
        color: v(color, lynx) !important;
        box-shadow: none;
        transform: translateY(v(measure, border-button));

        &::before {
            content: "";
            @include v(height, border-button);
            position: absolute;
            inset-block-end: 100%;
            inset-inline-start: 0;
            inset-inline-end: 0;
        }
    }

    &[disabled] {
        @include v(opacity, beta);
        pointer-events: none;
    }

    .icon {
        filter: drop-shadow(0 0 var(--measure-border-hairline) var(--color-lynx--gamma));
    }
}

.button--small {
    min-width: 5em;
    padding: var(--measure-tiny) var(--measure-small);
    @include v(font-size, small);
    line-height: 1;
}
