////
/// Code
/// @group base
/// @link https://chrisburnell.com/styleguide/#code-block
////

// Monospace Elements
code,
kbd,
samp,
var,
.monospace {
    @extend %monospace-elements !optional;
    @include font-family(monospace);
    font-variant-numeric: proportional-nums;
}
code,
kbd,
samp {
    @include v(font-size, small);
}

// Inline Code Examples
%heading-elements > code,
%content-elements > code,
ins,
mark,
samp,
var {
    // force text to wrap
    @include break-words;
}
%heading-elements > code,
%content-elements > code,
del,
ins,
kbd,
mark,
samp {
    @include border-radius(thin);
    padding: calc(var(--measure-one-relative) / 4);
    @include v(line-height, medium);
}
%heading-elements > code,
%content-elements > code,
samp {
    @include v(background-color, raven--gamma);
}
kbd {
    @include case(uppercase);
    box-shadow: inset 0 0 0 var(--border-width-hairline) var(--color-kaiser);
}
mark {
    @include v(background-color, highlight);
    @include v(font-size, default);
}
var {
    @include v(color, raven);
    font-style: normal;
    @include v(font-weight, bold);
}

pre {
    margin: 0 0 var(--measure-large);
    tab-size: 4;
    white-space: pre-wrap;
}

// Code Blocks
figure pre {
    width: auto;
    min-width: 10vw;
    margin-bottom: 0;

    // Main Code Blocks
    &:not(.codepen) {
        @include border-radius;
        @include font-family(monospace);
        @include v(background-color, mineshaft);
        @include v(color, white);
        padding: var(--measure-medium) var(--measure-medium) var(--measure-one);
        // disallow text from wrapping inside the container
        overflow-x: auto;
        overflow-y: hidden;
        @include v(font-size, small);

        &,
        code {
            @include v(line-height, code);
        }

        code {
            min-width: 100%;
            display: block;
            text-shadow: 0 var(--border-width-hairline) var(--border-width-hairline) var(--color-black--delta);
        }
    }

    &.codepen {
        // Limit re-paint and re-layout calculations for Pens to the container
        contain: strict;
    }
}

// Solarized Dark Code Highlighting
.highlight {
    position: relative;

    pre {
        width: 100%;
    }

    // Comment
    .c {
        @include v(color, highlight-alpha);
    }
    // Error
    .err {
        @include v(color, highlight-beta);
    }
    // Generic
    .g {
        @include v(color, highlight-beta);
    }
    // Keyword
    .k {
        @include v(color, highlight-gamma);
    }
    // Literal
    .l {
        @include v(color, highlight-beta);
    }
    // Name
    .n {
        @include v(color, highlight-beta);
    }
    // Operator
    .o {
        @include v(color, highlight-gamma);
    }
    // Other
    .x {
        @include v(color, highlight-delta);
    }
    // Punctuation
    .p {
        @include v(color, highlight-beta);
    }
    // Comment.Multiline
    .cm {
        @include v(color, highlight-alpha);
    }
    // Comment.Preproc
    .cp {
        @include v(color, highlight-gamma);
    }
    // Comment.Single
    .c1 {
        @include v(color, highlight-alpha);
    }
    // Comment.Special
    .cs {
        @include v(color, highlight-gamma);
    }
    // Generic.Deleted
    .gd {
        @include v(color, highlight-epsilon);
    }
    // Generic.Emph
    .ge {
        @include v(color, highlight-beta);
        font-style: italic;
    }
    // Generic.Error
    .gr {
        @include v(color, highlight-zeta);
    }
    // Generic.Heading
    .gh {
        @include v(color, highlight-delta);
    }
    // Generic.Inserted
    .gi {
        @include v(color, highlight-gamma);
    }
    // Generic.Output
    .go {
        @include v(color, highlight-beta);
    }
    // Generic.Prompt
    .gp {
        @include non-selectable;
        @include v(color, highlight-beta);
    }
    // Generic.Strong
    .gs {
        @include v(color, highlight-beta);
        @include v(font-weight, bold);
    }
    // Generic.Subheading
    .gu {
        @include v(color, highlight-delta);
    }
    // Generic.Traceback
    .gt {
        @include v(color, highlight-beta);
    }
    // Keyword.Constant
    .kc {
        @include v(color, highlight-delta);
    }
    // Keyword.Declaration
    .kd {
        @include v(color, highlight-eta);
    }
    // Keyword.Namespace
    .kn {
        @include v(color, highlight-gamma);
    }
    // Keyword.Pseudo
    .kp {
        @include v(color, highlight-gamma);
    }
    // Keyword.Reserved
    .kr {
        @include v(color, highlight-eta);
    }
    // Keyword.Type
    .kt {
        @include v(color, highlight-zeta);
    }
    // Literal.Date
    .ld {
        @include v(color, highlight-beta);
    }
    // Literal.Number
    .m {
        @include v(color, highlight-epsilon);
    }
    // Literal.String
    .s {
        @include v(color, highlight-epsilon);
    }
    // Name.Attribute
    .na {
        @include v(color, highlight-beta);
    }
    // Name.Builtin
    .nb {
        @include v(color, highlight-theta);
    }
    // Name.Class
    .nc {
        @include v(color, highlight-eta);
    }
    // Name.Constant
    .no {
        @include v(color, highlight-delta);
    }
    // Name.Decorator
    .nd {
        @include v(color, highlight-eta);
    }
    // Name.Entity
    .ni {
        @include v(color, highlight-delta);
    }
    // Name.Exception
    .ne {
        @include v(color, highlight-delta);
    }
    // Name.Function
    .nf {
        @include v(color, highlight-eta);
    }
    // Name.Label
    .nl {
        @include v(color, highlight-beta);
    }
    // Name.Namespace
    .nn {
        @include v(color, highlight-beta);
    }
    // Name.Other
    .nx {
        @include v(color, highlight-beta);
    }
    // Name.Property
    .py {
        @include v(color, highlight-beta);
    }
    // Name.Tag
    .nt {
        @include v(color, highlight-eta);
    }
    // Name.Variable
    .nv {
        @include v(color, highlight-eta);
    }
    // Operator.Word
    .ow {
        @include v(color, highlight-gamma);
    }
    // Text.Whitespace
    .w {
        @include v(color, highlight-beta);
    }
    // Literal.Number.Float
    .mf {
        @include v(color, highlight-epsilon);
    }
    // Literal.Number.Hex
    .mh {
        @include v(color, highlight-epsilon);
    }
    // Literal.Number.Integer
    .mi {
        @include v(color, highlight-epsilon);
    }
    // Literal.Number.Oct
    .mo {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Backtick
    .sb {
        @include v(color, highlight-alpha);
    }
    // Literal.String.Char
    .sc {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Doc
    .sd {
        @include v(color, highlight-beta);
    }
    // Literal.String.Double
    .s2 {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Escape
    .se {
        @include v(color, highlight-delta);
    }
    // Literal.String.Heredoc
    .sh {
        @include v(color, highlight-beta);
    }
    // Literal.String.Interpol
    .si {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Other
    .sx {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Regex
    .sr {
        @include v(color, highlight-zeta);
    }
    // Literal.String.Single
    .s1 {
        @include v(color, highlight-epsilon);
    }
    // Literal.String.Symbol
    .ss {
        @include v(color, highlight-epsilon);
    }
    // Name.Builtin.Pseudo
    .bp {
        @include v(color, highlight-eta);
    }
    // Name.Variable.Class
    .vc {
        @include v(color, highlight-eta);
    }
    // Name.Variable.Global
    .vg {
        @include v(color, highlight-eta);
    }
    // Name.Variable.Instance
    .vi {
        @include v(color, highlight-eta);
    }
    // Literal.Number.Integer.Long
    .il {
        @include v(color, highlight-epsilon);
    }
}
