////
/// Code
/// @group base
/// @link https://chrisburnell.com/styleguide/#code-block
////

%collection-monospace {
    @include font-family(monospace);
    @include v(font-size, small);
    @include v(line-height, medium);
    font-variant-numeric: proportional-nums;
}

%collection-monospace-elements {
    @include v(padding, border-default);
    @include v(border-radius, border-default);
}

%collection-monospace,
del,
ins,
mark {
    // force text to wrap
    @include break-words;

    h1 > &,
    h2 > &,
    %collection-content > &,
    li > & {
        @extend %collection-monospace-elements;
    }
}

h1 > code,
h2 > code,
%collection-content > code,
li > code,
samp {
    @include v(background-color, raven--gamma);
    user-select: all;
}

kbd {
    @include case(uppercase);
    --color-shadow: #{v(color, kaiser)};
    @include v(box-shadow, small);
}

mark {
    @include v(background-color, aspen);
}

var {
    @include v(color, bowhead);
    font-style: normal;
    font-size: inherit;
    @include v(font-weight, bold);
}

pre {
    margin: 0 0 #{v(measure, large)};
    tab-size: 4;
    font-size: initial;
    white-space: pre-wrap;
}

// Highlighted Code Blocks
pre[class*="language-"] {
    background-image: linear-gradient(to bottom, transparent 0, transparent calc(var(--measure-gap) - var(--measure-border-thin)), var(--color-raven--beta) calc(var(--measure-gap) - var(--measure-border-thin)), var(--color-raven--beta) var(--measure-gap), var(--color-lynx) var(--measure-gap), var(--color-lynx) 100%);
    @include v(color, milou);
    width: auto;
    min-width: 10vw;
    margin-block-end: 0;
    @include v(padding, gutter);
    padding-block-start: calc(var(--measure-gutter) + var(--measure-gap));
    border-radius: 0 0 var(--measure-border-default) var(--measure-border-default);
    background-clip: padding-box;
    // disallow text from wrapping inside the container
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    @include font-family(monospace);

    &,
    code {
        @include v(line-height, code);
    }

    code {
        @include v(background-color, lynx);
        min-width: 100%;
        display: block;
        overflow-wrap: normal;
        word-break: normal;
        white-space: pre;
    }
}

code[class*="language-"] {
    &::before {
        @include absolute(top-left);
        @include font-family(alpha);
        @include v(font-size);
        @include v(background-color, dove);
        @include v(color, milou);
        @include v(height, gap);
        display: flex;
        align-items: center;
        padding: 0 var(--measure-gutter);
        border-radius: var(--measure-border-default) var(--measure-border-default) 0 0;
        background-clip: padding-box;
    }

    // Highlighted Code Block Labels
    @each $name, $color in $language-colors {
        &.language-#{$name} {
            &::before {
                background-color: v(color, #{$name}) !important;
                color: contrasting-color(v(color, $name, true)) !important;
            }
        }
    }
    &.language-html::before {
        content: "HTML";
    }
    &.language-css::before {
        content: "CSS";
    }
    &.language-javascript::before {
        content: "JavaScript";
    }
    &.language-bash::before {
        content: "bash";
    }
    &.language-scss::before {
        content: "SCSS";
    }
    &.language-json::before {
        content: "JSON";
    }
    &.language-yaml::before {
        content: "YAML";
    }
    &.language-liquid::before {
        content: "Liquid";
    }
    &.language-twig::before {
        content: "Nunjucks";
    }
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #d4d0ab;
}

.token.punctuation {
    color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #ffa07a;
}

.token.boolean,
.token.number {
    color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #ffd700;
}

.token.keyword {
    color: #00e0e0;
}

.token.regex,
.token.important {
    color: #ffd700;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

@media screen and (-ms-high-contrast: active) {
    code[class*="language-"],
    pre[class*="language-"] {
        color: windowText;
        background: window;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: window;
    }

    .token.important {
        background: highlight;
        color: window;
        font-weight: normal;
    }

    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.selector {
        font-weight: bold;
    }

    .token.attr-value,
    .token.comment,
    .token.doctype,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.property,
    .token.string {
        color: highlight;
    }

    .token.attr-value,
    .token.url {
        font-weight: normal;
    }
}
