////
/// Details and Summary
/// @group base
////

details {
    @include border-radius(thin);
    width: 100%;
    @include v(max-width, line-length-responsive);
    position: relative;

    %content-elements {
        padding: 0 var(--measure-small) var(--measure-small);
    }

    & > div {
        @include v(background-color, alto);
        max-height: 0;
        @include v(padding-top, small);
        position: absolute;
        top: 100%;
        left: 0;
        @include v(font-size, small);
        @include transition(max-height);
        @include v(z-index, above);
    }

    &[open] > div {
        max-height: 9999vh;
    }
}

summary {
    @include non-selectable;
    @include transition(padding);
    display: list-item;
    outline-width: 0;
    @include v(font-weight, bold);
    cursor: pointer;

    &::-webkit-details-marker {
        display: none;
    }

    & + %content-elements {
        @include v(margin-top, small);
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, raven);
        @include v(padding-top, medium);
    }
}
