////
/// Figure
/// @group base
////

figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    // Allow for content to overflow without breaking the page with scrollbar
    &:not(.highlight) {
        overflow-x: auto;
        overflow-y: hidden;
    }

    %collection-images,
    %collection-media {
        max-height: 100vh;
    }

    &.full {
        %collection-images,
        %collection-media {
            max-width: initial;
        }
    }

    &.tall {
        %collection-images,
        %collection-media {
            max-height: initial;
        }
    }

    & > a {
        display: block;
        text-decoration: none;
    }

    & > a figcaption {
        @include v(color, dove);
        font-style: italic;
    }

    figcaption {
        @include font-family(serif);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include v(padding-top, medium);
        @include v(line-height, small);
    }
}
