////
/// Fonts
/// @group base
////

@each $style in $font-faces {
    @font-face {
        font-family: "#{nth($style, 1)}";
        @include v(font-display, nth($style, 3));
        @include v(font-stretch, nth($style, 4));
        font-style: #{nth($style, 5)};
        @include v(font-variant, nth($style, 6));
        @include v(font-weight, nth($style, 7), $fallback: true);
        src: local("#{nth($style, 1)} #{nth($style, 2)}"),
             url("https://chrisburnell.com/fonts/#{nth($style, 8)}.woff2") format("woff2"),
             url("https://chrisburnell.com/fonts/#{nth($style, 8)}.woff") format("woff"),
             url("https://chrisburnell.com/fonts/#{nth($style, 8)}.ttf") format("truetype"),
             url('https://chrisburnell.com/fonts/#{nth($style, 8)}.eot?#iefix') format('embedded-opentype'),
             url("https://chrisburnell.com/fonts/#{nth($style, 8)}.svg##{nth($style, 8)}") format("svg");
        @include v(unicode-range);
    }
}
