////
/// Fonts
/// @group base
////

@each $font-face in $font-faces {
    @font-face {
        font-family: "#{map-get($font-face, "family")}";
        @include v(font-display, map-get($font-face, "display"));
        @include v(font-stretch, map-get($font-face, "stretch"));
        font-style: #{map-get($font-face, "style")};
        @include v(font-variant, map-get($font-face, "variant"));
        @include v(font-weight, map-get($font-face, "weight"), true);
        src: local("#{map-get($font-face, "family") map-get($font-face, "name")}"),
             url("https://chrisburnell.com/fonts/#{map-get($font-face, 'filename')}.woff2") format("woff2"),
             url("https://chrisburnell.com/fonts/#{map-get($font-face, 'filename')}.woff") format("woff"),
             url("https://chrisburnell.com/fonts/#{map-get($font-face, 'filename')}.ttf") format("truetype"),
             url("https://chrisburnell.com/fonts/#{map-get($font-face, 'filename')}.eot?#iefix") format("embedded-opentype"),
             url("https://chrisburnell.com/fonts/#{map-get($font-face, 'filename')}.svg##{map-get($font-face, 'filename')}") format("svg");
        @include v(unicode-range);
    }
}
