////
/// Form
/// @group base
/// @link https://chrisburnell.com/styleguide/#forms
////

form {
	inline-size: 100%;
	display: grid;
	@include v(grid-gap, small);
	grid-template-columns: 65% 1fr;
	position: relative;

	&:not([class]) {
		@include owl;

		@include media("screen", "below:small") {
			grid-template-columns: 1fr;
		}
	}
}

%collection-form {
	margin: 0;
	@include v(font-size, small);
	@include v(line-height);
}

input,
textarea,
[contenteditable] {
	caret-color: h(raven);
}

input,
textarea {
	@include transition(border-color);
	background-color: h(milou);
	color: h(thunder);
	box-sizing: inherit !important;
	padding: 0 0.4em;
	border: v(size, border-thin) solid h(alto);
	@include v(border-radius, border-default);
	outline-width: 0;

	&:hover {
		border-color: h(coyote);
	}

	&:focus {
		border-color: h(raven);
	}

	&[disabled] {
		@include v(opacity, beta);
		pointer-events: none;
	}

	&::-moz-focus-inner {
		padding: 0;
		margin: 0;
	}
}

input {
	overflow: visible;

	&[type="number"]::-webkit-inner-spin-button,
	&[type="number"]::-webkit-outer-spin-button {
		block-size: auto;
	}

	&[type="search"],
	&[type="url"] {
		// correct odd appearance in Chrome and Safari
		-webkit-appearance: textfield;
		// correct the outline style in Safari
		outline-offset: -2px;

		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}

	&::-webkit-file-upload-button {
		// correct inability to style clickable types in iOS and Safari
		-webkit-appearance: button;
	}

	&::-webkit-inner-spin-button {
		opacity: 1;
	}
}

textarea {
	overflow: auto;
}

input[type="checkbox"] {
	.code-toggle & {
		@include hidden;
	}

	& + label {
		@include non-selectable;
		@include transition;
		background-color: h(kaiser);
		color: h(milou);
		display: inline-block;
		padding: 0 v(size, medium);
		@include v(border-radius, border-default);
		position: relative;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
		line-height: calc(var(--line-height-code) * 1.25);

		&::after {
			content: "✔";
			background-color: h(thunder, gamma);
			inline-size: var(--size-large);
			display: none;
			position: absolute;
			inset-block: 0;
			inset-inline-start: 0;
			@include v(font-size, gamma);
			line-height: 1;
			border-radius: var(--size-border-default) 0 0 var(--size-border-default);
		}
	}

	&:checked + label {
		background-color: h(conifer);
		padding-inline-start: calc(var(--size-large) + var(--size-small));
		padding-inline-end: calc(var(--size-medium) - var(--size-small));

		&::after {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

fieldset {
	padding: 0;
	border-width: 0;
	margin: 0;
}
