////
/// Media
/// @group base
/// @link https://chrisburnell.com/styleguide/#figure
////

%collection-images {
	margin-inline: auto;
	position: relative;

	&,
	a & {
		max-inline-size: 100%;
		block-size: auto;
	}
}
img {
	border-style: none;
}
picture {
	&,
	img,
	svg {
		display: block;
	}
}
svg:not(:root) {
	overflow: hidden;
}

:is(audio, canvas, iframe, video) {
	inline-size: 100%;
	display: block;
	border: 0;
	overflow-x: hidden;
}
audio {
	inline-size: 100%;
	@include v(max-inline-size, breakpoint-small);

	&:not([controls]) {
		display: none;
		block-size: 0;
	}
}
iframe {
	max-inline-size: 100% !important;
	margin: 0;
}

meter,
progress {
	@include v(inline-size, line-length-clamp);
	max-inline-size: 100%;
	@include v(box-shadow, medium);
}

meter {
	&::-webkit-meter-bar {
		background-color: h(dove);
	}

	&::-webkit-meter-optimum-value {
		background-color: h(conifer);
	}

	&::-webkit-meter-suboptimum-value {
		background-color: h(aspen);
	}

	&::-webkit-meter-even-less-good-value {
		background-color: h(maple);
	}
}

progress {
	&::-webkit-progress-bar {
		background-color: h(dove);
	}

	&::-webkit-progress-value {
		background-color: h(raven);
	}
}
