////
/// Page
/// @group base
////

html {
    @include v(background-color, kaiser);
    position: relative;
    overflow-x: hidden;
    // prevent horizontal jump when navigating short page <--> tall page
    overflow-y: scroll;
    overscroll-behavior: contain;
    accent-color: v(color, raven);
    --color-shadow: 0deg 0% 50%;
    scroll-behavior: smooth;
    scrollbar-color: v(color, raven) v(color, milou);
    font-size: 100%;
    // prevent adjustments of font-size after orientation changes in IE on
    // Windows Phone and in iOS
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: oldstyle-nums;
}

body {
    @include v(background-color, milou);
    @include v(color, kaiser);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    @include font-family(default);
    @include v(font-size, default);
    font-style: normal;
    @include v(font-weight);
    @include v(line-height);
    counter-reset: figureNumber;

    @include media("print") {
        display: block;
    }
}

// @page {
//     @bottom-right {
//         content: counter(page);
//     }
// }

// @page cover-page {
//     @bottom-right {
//         content: none;
//     }
// }

// // .title {
// //     page: cover-page;
// // }

// figure:not(.no-counter) {
//     counter-increment: figureNumber;
// }
