////
/// Page
/// @group base
////

html {
    @include v(background-color, kaiser);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    // prevent horizontal jump when navigating short page <--> tall page
    overflow-y: scroll;
    overflow-behavior: contain;
    scroll-behavior: smooth;
    font-size: var(--base-font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-variant-numeric: oldstyle-nums;
    // prevent adjustments of font-size after orientation changes in IE on
    // Windows Phone and in iOS
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    @include v(background-color, white);
    @include v(color, kaiser);
    width: 100%;
    margin: 0;
    @include font-family(default);
    font-style: normal;
    @include v(font-weight);
    @include v(line-height);
}

// Content Elements
blockquote,
details,
table,
dl,
ol,
ul,
figure:not([class]),
p {
    @extend %content-elements !optional;
}
