////
/// Paragraph
/// @group base
////

p {
    @include break-words;
    margin: 0;

    &:empty {
        display: none;
        visibility: hidden;
    }

    &.columns {
        @include media("screen", "above:small", "below:medium") {
            column-count: var(--max-columns);
            @include v(column-gap, medium);
        }

        @include media("screen", "above:large") {
            column-count: var(--max-columns);
            @include v(column-gap, medium);
        }
    }
}
