////
/// Quote
/// @group base
////

blockquote {
    @include border-radius;
    @include quotes;
    @include v(background-color, raven--gamma);
    width: 100%;
    @include v(max-width, line-length-responsive);
    @include v(padding, medium);
    margin: 0 auto var(--measure-medium);

    %monospace-elements,
    cite,
    strong {
        font-style: normal;
    }

    p {
        @include font-family(serif);
        font-style: italic;

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }

        &:not(:last-of-type) {
            &::after {
                @include hidden;
            }
        }
    }

    cite {
        @include v(color, kaiser);
        display: block;
        @include v(margin-top, medium);
        text-align: right;

        &::before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
        }
    }
}
.twitter-tweet {
    margin: 0 auto var(--measure-medium) !important;
}

cite {
    font-style: normal;
}

q {
    @include quotes;
}
