////
/// Quote
/// @group base
////

blockquote {
	@include quotes;
	background-color: h(raven, gamma);
	inline-size: 100%;
	@include v(max-inline-size, line-length-clamp);
	@include v(padding, medium);
	@include v(border-radius, border-default);
	margin: 0 auto var(--size-medium);
	@include v(box-shadow, small);

	:is(cite, strong) {
		font-style: normal;
	}

	p {
		@include font-family(serif);
		font-style: italic;

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}

		&:not(:last-of-type) {
			&::after {
				@include hidden;
			}
		}
	}

	cite {
		color: h(kaiser);
		display: block;
		@include v(margin-block-start, medium);
		text-align: end;

		&::before {
			// EN DASH, NO-BREAK SPACE
			content: "– ";
		}
	}
}

cite {
	font-style: normal;
}

q {
	@include quotes;
}
