////
/// Quote
/// @group base
////

blockquote {
    @include quotes;
    @include v(background-color, raven--gamma);
    width: 100%;
    @include v(max-width, line-length-clamp);
    @include v(padding, medium);
    @include v(border-radius, border-default);
    margin: 0 auto var(--measure-medium);

    cite,
    strong {
        font-style: normal;
    }

    p {
        @include font-family(serif);
        font-style: italic;

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }

        &:not(:last-of-type) {
            &::after {
                @include hidden;
            }
        }
    }

    cite {
        @include v(color, kaiser);
        display: block;
        @include v(margin-top, medium);
        text-align: right;

        &::before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
        }
    }
}
.twitter-tweet {
    margin-top: var(--measure-large) !important;
    margin-bottom: 0 !important;
}

cite {
    font-style: normal;
}

q {
    @include quotes;
}
