////
/// Reset
/// @group base
// Inspired by Andy Bell's Modern CSS Reset
// https://github.com/hankchizljaw/modern-css-reset
////

// Box model set to `border-box` by default
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Touch Action
:is(a, button, input, label, select, summary, textarea) {
	touch-action: manipulation;
}

// Reduced Motion
@include media("reduced-motion") {
	*,
	*::before,
	*::after {
		background-attachment: initial !important;
		animation-delay: 0s !important;
		animation-duration: 0s !important;
		animation-iteration-count: 1 !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

// Remove focus for mouse users
:focus:not(:focus-visible) {
	outline: none !important;
}
