////
/// Table
/// @group base
////

table {
	@include tabular-lining-numerals;
	flex: 1 0 auto;
	align-self: flex-start;
	border-collapse: collapse;
	border-width: 0;
	overflow-x: auto;
	overflow-y: hidden;

	&.zebra {
		tbody tr:nth-child(even) td {
			background-color: h(thunder, delta);
		}
	}
}

// Cells
:is(th, td) {
	@include transition(background-color);
	@include v(padding, small);
	text-align: start;
	vertical-align: top;
	user-select: text;

	&.numeral {
		text-align: end;
	}
}

// Heading Cells
th {
	@include v(font-weight, bold);
	white-space: nowrap;

	&:not(:empty) {
		background-color: h(thunder, delta);
		position: sticky;
		@include v(z-index, above);

		thead & {
			top: 0;
		}

		tbody & {
			left: 0;
		}
	}

	tbody & {
		inline-size: 1px;
	}
}

// Body Cells
td {
	&.numeral {
		white-space: nowrap;
	}
}
