<div class="widget  widget--featured-pens">
    <h3 class="widget-title">
        <a href="/pens">Featured Pens</a>
    </h3>
    <ol class="small-articles-list" role="list">
        {% for post in site.categories.pen limit:2 %}
            <li role="listitem">
                <a href="{{ post.url }}">
                    <svg class="icon  icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                    <h4 class="title">{{ post.title }}</h4>
                    {% if post.lede %}
                        <p class="lede">{{ post.lede | truncatewords: 15 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                    {% endif %}
                    <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
                </a>
            </li>
        {% endfor %}
    </ol>
    <a class="widget-featured-link" href="/pens">All Featured Pens</a>
</div>
