{% if site.related_posts %}
    <div class="widget  widget--related-articles">
        <h3 class="widget-title">
            <a href="/articles">Related Articles</a>
        </h3>
        <ol class="small-articles-list" role="list">
            {% for post in site.related_posts limit:2 %}
                <li role="listitem">
                    <a href="{{ post.url }}">
                        {% if post.categories contains 'article' %}
                            <svg class="icon--article"><use xlink:href="#svg--article" /></svg>
                        {% elsif post.categories contains 'link' %}
                            <svg class="icon--link"><use xlink:href="#svg--link" /></svg>
                        {% elsif post.categories contains 'pen' %}
                            <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
                        {% endif %}
                        <h4 class="title">{{ post.title }}</h4>
                        {% if post.lede %}
                            <p class="lede">{{ post.lede | truncatewords: 15 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                        {% elsif post.categories contains 'link' %}
                            <p class="lede"><em>Shared Link</em></p>
                        {% elsif post.categories contains 'pen' %}
                            <p class="lede"><em>Featured Pen</em></p>
                        {% endif %}
                        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
