<div class="widget--search">
    <h3 class="widget-title"><a href="/search">Search</a></h3>
    <form class="search-form  js-search-form" method="get" action="/search" role="search">
        <label class="search-label  hidden" for="search-input">Search for pages, articles, and pens</label>
        <input class="search-input  js-search-input" type="search" name="query" maxlength="30" placeholder="Search the website" disabled required>
        <button class="button--small  search-submit  js-search-submit" type="submit" title="Submit" aria-label="Submit" disabled>
            {% include content/svg.html type='search' %}
        </button>
    </form>
    <noscript>Please enable JavaScript to search.</noscript>
</div>
