<div class="widget  widget--shared-links">
    <h3 class="widget-title">
        <a href="/links">Shared Links</a>
    </h3>
    <ol class="small-articles-list" role="list">
        {% for post in site.categories.link limit: 2 %}
            <li role="listitem">
                <a href="{{ post.link_urls | first }}">
                    <svg class="icon  icon--link"><use xlink:href="#svg--link" /></svg>
                    <h4 class="title">{{ post.title }} →</h4>
                    {% if post.lede %}
                        <p class="lede">{{ post.lede | truncatewords: 15 |  replace: '....', '...' |  replace: ',...', '...' }}</p>
                    {% endif %}
                    <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
                </a>
            </li>
        {% endfor %}
    </ol>
    <a class="widget-featured-anchor" href="/links">All Shared Links</a>
</div>
