{% if is_homepage %}
	<h2>Browse post categories</h2>
{% else %}
	<h2>Browse by category</h2>
{% endif %}
<ul class=" [ meta__list ] ">
	{% for lookup in collections.categories %}<li>{% if '/' + lookup.plural + '/' != page.url %}<a href="/{{ lookup.plural }}/">{{ lookup.properPlural }}</a>{% else %}<a href="#content">{{ lookup.properPlural }}</a>{% endif %}</li>{% endfor %}
</ul>
