<h2>Browse collections</h2>
<ul class=" [ meta__list  meta__list--block ] ">
	<li{% if page.url == '/archive/' %} hidden{% endif %}><a href="/archive/">All Posts</a></li>
	<li{% if page.url == '/writing/' %} hidden{% endif %}><a href="/writing/">Writing</a></li>
	<li{% if page.url == '/hot/' %} hidden{% endif %}><a href="/hot/">Hot Posts</a></li>
	<li{% if page.url == '/popular/' %} hidden{% endif %}><a href="/popular/">Popular Posts</a></li>
	<li{% if page.url == '/replies/' %} hidden{% endif %}><a href="/replies/">Replies</a></li>
	<li{% if page.url == '/rsvps/' %} hidden{% endif %}><a href="/rsvps/">RSVPs</a></li>
</ul>
