<h2>More pages</h2>
<ul class=" [ meta__list  meta__list--block ] ">
	<li><a href="/search/"{% if page.url == '/search/' %} disabled{% endif %}>Search</a></li>
	<li><a href="/blogroll/"{% if page.url == '/blogroll/' %} disabled{% endif %}>Blogroll</a></li>
	<li><a href="/guestbook/"{% if page.url == '/guestbook/' %} disabled{% endif %}>Guestbook</a></li>
	<li><a href="/indieweb/"{% if page.url == '/indieweb/' %} disabled{% endif %}>IndieWeb</a></li>
	<li><a href="/links/"{% if page.url == '/links/' %} disabled{% endif %}>Links</a></li>
	<li><a href="/listening/"{% if page.url == '/listening/' %} disabled{% endif %}>Listening</a></li>
	<li><a href="/styleguide/"{% if page.url == '/styleguide/' %} disabled{% endif %}>Styleguide</a></li>
	<li><a href="/cv/"{% if page.url == '/cv/' %} disabled{% endif %}>CV</a></li>
</ul>
