<h2>More pages</h2>
<ul class=" [ meta__list  meta__list--block ] ">
	<li{% if page.url == '/search/' %} hidden{% endif %}><a href="/search/">Search</a></li>
	<li{% if page.url == '/blogroll/' %} hidden{% endif %}><a href="/blogroll/">Blogroll</a></li>
	<li{% if page.url == '/guestbook/' %} hidden{% endif %}><a href="/guestbook/">Guestbook</a></li>
	<li{% if page.url == '/indieweb/' %} hidden{% endif %}><a href="/indieweb/">IndieWeb</a></li>
	<li{% if page.url == '/links/' %} hidden{% endif %}><a href="/links/">Links</a></li>
	<li{% if page.url == '/listening/' %} hidden{% endif %}><a href="/listening/">Listening</a></li>
	<li{% if page.url == '/styleguide/' %} hidden{% endif %}><a href="/styleguide/">Styleguide</a></li>
	<li{% if page.url == '/cv/' %} hidden{% endif %}><a href="/cv/">CV</a></li>
</ul>
