////
/// Articles List
/// @group components
////


.articles-list {
    margin-bottom: $spacing-large;

    .page-home & {
        margin-bottom: 0;
    }

    li {
        width: 100%;
        display: inline-block;
        clear: both;
        padding: 1.5rem 1rem;
        border-top: $border-thin solid $color-black-10-percent;
        position: relative;

        &:nth-child(odd) {
            background-color: $color-black-5-percent;
        }

        @include media("<=medium") {
            padding-top:    1.875rem;
            padding-bottom: 1.875rem;
            text-align: center;
        }
    }

    .title,
    .date,
    .comments-link {
        // helps pop against the odd item background
        text-shadow: 0 1px 0 $color-white;
    }

    .title {
        margin-bottom: $spacing-small;

        .title-link {
            @include transition(border-color);
            @include will-change(color, border-bottom-color);
            display: inline-block;
            padding: 0 .5rem;
            border-bottom: $border-thin solid transparent;
            margin-left: -0.5rem;

            &:hover,
            &:focus,
            &:active {
                color: $color-text;
                border-bottom-color: $color-brand;
            }
        }
    }

    .lede {
        margin-bottom: $spacing-medium;
    }

    .date {
        @extend %gamma;
        margin-bottom: $spacing-small;

        @include media("<=medium") {
            text-align: left;
        }

        &:before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
            color: $color-text-alt;
        }
    }

    %button,
    .comments-list {
        @include media("<=medium") {
            margin-left:  $spacing-small;
            margin-right: $spacing-small;
        }
    }

    .comments-link {
        line-height: 2;

        @include media("<=medium") {
            display: inline-block;
        }
    }
}
