////
/// Article
/// @group components
////

.title,
.tagline {
    width: 100%;
    margin-bottom: $spacing-large;

    @include media("<=medium") {
        text-align: left;
    }
}

[class*="banner"] {
    width: 100%;
    margin-bottom: $spacing-large;
    position: relative;

    .banner-image,
    .banner-thumbnail {
        @extend .rounded;
        display: block;
    }

    .banner-image {
        @include transition(opacity 1s);
        @include will-change(opacity);
        opacity: 0;
    }

    .banner-thumbnail {
        @include absolute(top-left);
        transition: opacity 1s ease, filter 1s ease, -webkit-filter 1s ease;
        @include will-change(opacity, filter);
        width:  100%;
        height: 100%;
        filter: blur(20px);
        z-index: z-index(below);
    }
}
.banner--loaded {
    .banner-image {
        opacity: 1;
    }

    .banner-thumbnail {
        opacity: 0;
        filter: blur(5px);
    }
}

.lede {
    margin-bottom: $spacing-large;
    font-size: $font-size-large;
    line-height: 1.5;

    @include media("<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -0.5rem;
    }
}
.lede--featured {
    @extend .lede;
    max-width: 24em;
    // 26px
    font-size: 1.625rem;
}

.lede-terminology {
    padding-bottom: $spacing-large;
    border-bottom: $border-thin solid $color-black-medium;
}

.edit {
    @extend .rounded;
    background-color: rgba($color-brand, opacity(medium));
    padding: 1rem;
    margin: 0 $spacing-large $spacing-large;
    font-style: italic;
    line-height: 1.5;
}
