////
/// Article
/// @group components
////


.title,
.tagline {
    width: 100%;
    margin-bottom: $spacing-large;

    @include media("<=medium") {
        text-align: left;
    }
}

.banner {
    @extend .rounded;
    width: $article-width;
    margin-bottom: $spacing-large;

    @include media("<=small") {
        width: $wrapper-width-small;
    }
}

.lede {
    margin-bottom: $spacing-large;
    font-size: $font-size-large;
    line-height: 1.5;

    @include media("<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -0.5rem;
    }
}
.lede--featured {
    max-width: 24em;
    font-size: $font-size-gigantic;
}

.terminology {
    padding-bottom: $spacing-large;
    border-bottom: $border-thin solid $color-black-10-percent;
}

.edit {
    @extend .rounded;
    background-color: $color-brand-10-percent;
    padding: 1rem;
    margin: 0 $spacing-large $spacing-large;
    font-style: italic;
    line-height: 1.5;
}
