////
/// Article
/// @group components
////

.title,
.tagline {
    width: 100%;
    margin-bottom: $spacing-large;

    @include media("<=medium") {
        text-align: left;
    }

    .title-link {
        @include transition(border-color);
        @include will-change(color, border-bottom-color);
        display: inline-block;
        padding: 0 .5rem;
        border-bottom: .1825rem solid transparent;
        margin-left: -0.5rem;
        &:hover,
        &:focus,
        &:active {
            color: $color-text;
            border-bottom-color: $color-brand;
            text-decoration: none;
        }
    }
}

.banner {
    @extend .rounded;
    width: 810px;
    margin-bottom: $spacing-medium;

    @include media("<=small") {
        width: 500px;
    }
}

.lede {
    margin-bottom: $spacing-medium;
    font-size: $font-size-large;
    line-height: 1.5;

    @include media("<=medium") {
        text-align: left;
    }

    &--featured {
        @extend .lede;
        max-width: 24em;
        // 26px
        font-size: 1.625rem;
    }
}

.lede-terminology {
    padding-bottom: $spacing-medium;
    border-bottom: $border-thin solid $color-black-medium;
}

.edit {
    @extend .rounded;
    background-color: rgba($color-brand, opacity(medium));
    padding: 1rem;
    margin: 0 $spacing-large $spacing-medium;
    font-style: italic;
    line-height: 1.5;
}
