////
/// Aside Widgets
/// @group components
////


.widget {
    @extend .clear;
}

.widget-featured-link {
    display: inline-block;
    float: right;
    margin-top: $spacing-medium;
    font-weight: $font-weight-bold;

    &:after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}
