////
/// Aside Widgets
/// @group components
////


.widget {
    @extend .clear;
}

.widget--related-articles,
.widget--featured-pens,
.widget--shared-links,
.widget--search {
    @extend .widget;
}

.widget-featured-anchor {
    float: right;
    margin-top: $measure-medium;
    font-weight: $font-weight-bold;

    &:after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}
