////
/// Badges
/// @group components
////

.badges {
	& a {
		display: block;

		&:active img {
			outline: 1px solid var(--color-active-border, transparent);
			outline-offset: -1px;
		}
	}
}

:where(.badges img) {
	display: block;
}

.badge {
	min-inline-size: 88px;
	block-size: 49px;
	display: grid;
	display: inline-grid;
	grid-template-columns: 45px 1fr;
	grid-template-columns: 1lh 1fr;
	place-items: center;
	gap: 0.25lh;
	padding-block: var(--size-tiny-min);
	padding-inline: var(--size-tiny-max) var(--size-small-min);
	border: var(--size-border-thin) solid var(--color-kaiser);
	border-block-start-color: var(--color-nickel);
	border-inline-start-color: var(--color-nickel);
	border-radius: var(--size-border-thin);
	font-size: var(--font-size-small-min);
	font-weight: var(--font-weight-medium);
	text-decoration: none;
	transition: border-color var(--transition-duration) var(--transition-function);

	&:is(:hover, :focus, :active) {
		border-color: var(--color-maple);
	}

	& > :first-child {
		display: grid;
		place-items: center;
		text-align: center;
	}

	& > :last-child {
		line-height: var(--line-height-small);
		text-align: end;
	}

	& .emoji {
		font-size: var(--font-size-gamma-max);
		line-height: 0;
		padding-inline-end: 0;
	}

	& strong {
		font-weight: var(--font-weight-bold);
	}
}
