////
/// Browser Support
/// @group components
////

@use "../abstracts/functions";
@use "../abstracts/mixins";

.support,
.support__meta {
	display: flex;
	gap: var(--size-gutter);

	@include mixins.cqi(null, "small") {
		gap: var(--size-large);
	}
}

.support {
	flex-direction: column-reverse;

	@include mixins.cqi(null, "small") {
		flex-direction: row-reverse;
	}
}

.support__meta {
	flex-direction: column;
	justify-content: center;
}

.browser-support {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-small);

	li {
		border-radius: var(--border-radius, var(--size-border-thin));
		padding-inline: var(--size-small);
		font-weight: var(--font-weight-semibold);
	}
}

.supported {
	background-color: functions.h(conifer);
	color: functions.h(snowy);
}

.partial {
	background-color: functions.h(aspen);
	color: functions.h(thunder);
}

.unsupported {
	background-color: functions.h(maple);
	color: functions.h(snowy);
}
