////
/// Code
/// @group components
////


/**
 * Highlighted Code Blocks
 */
code[data-lang] {
    padding-top: $measure-large;

    &::before {
        @include position(code-highlight);
        @include border-radius($border-radius-default $border-radius-default 0 0);
        @include transition;
        content: attr(data-lang);
        background-color: $color-text-alt;
        color: $color-white;
        padding: 0 $measure-medium;
        font-family: $font-family-gamma;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: $measure-large;
        text-transform: uppercase;
    }
}

/**
 * Highlighted Code Block Labels
 */
@each $language in $coding-languages {
    $name:  nth($language, 1);
    $color: nth($language, 2);

    &.language-#{$name}::before {
        background-color: #{$color} !important;
    }
}

/**
 * Code Block Visibility Toggling
 */
.code-toggle {
    @include position(relative);
}

.code-toggle-label {
    @include position(full);
    cursor: pointer;

    .code-toggle-input:checked ~ & {
        display: none;
    }

    button {
        @include position(center);
        pointer-events: none;
    }
}

.code-toggle-input {
    & + .highlight pre {
        @include transition(max-height);
        max-height: 200vh;
    }

    &:not(:checked) + .highlight pre {
        // limit number of lines of code
        max-height: ($measure-medium * 10);
        overflow-x: hidden;

        &::after {
            @include position(bottom);
            @include border-radius(0 0 $border-radius-default $border-radius-default);
            content: "";
            background-image: gradient(transparent, $color-dark-gray);
            // fade out over the last three lines
            height: ($measure-medium * 4.2);
        }
    }
}
