////
/// Comments
/// @group components
////


.comments-link {
    display: inline-block;
    margin-top: 1.625em;
    font-family: $font-family-beta;
    font-weight: $font-weight-bold;
    line-height: 1;

    @include media(">medium") {
        float: right;
    }

    @include media("<=medium") {
        display: block;
        margin-top: $spacing-medium;
    }

    &:after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}

// Appears only on article pages
.comments {
    text-align: center;

    // apply margin only if comments are shown
    iframe {
        margin-top: $spacing-large;
    }

    // override default `.button`
    .show-comments-button:before,
    .show-comments-button:active:before {
        position: relative;
        top: 0;
    }

    noscript {
        font-family: $font-family-beta;
        font-size: $font-size-large;
        font-style: italic;
    }
}
