////
/// Comments
/// @group components
////


// Appears only in `.articles-list`
.comments-anchor {
    display: inline-block;
    margin-top: 1.625em;
    font-family: $font-family-gamma;
    font-weight: $font-weight-bold;
    line-height: 2;

    &::after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}

// Appears only on article pages
.comments {
    text-align: center;

    // apply margin only if comments are shown
    iframe {
        margin-top: $measure-large;
    }

    // override default `.button`
    .button--show-comments {
        &,
        &:active {
            &::before {
                position: relative;
                top: 0;
            }
        }
    }

    noscript {
        font-family: $font-family-gamma;
        font-size: $font-size-large;
        font-style: italic;
    }
}
