////
/// Content List
/// @group components
////


.content-list {

    li {
        @include position(relative);
        width: 100%;
        display: inline-block;
        clear: both;
        padding: 1.5rem 1rem;
        border-top: $border-width-thin solid $color-black--10-percent;

        @include media("<=medium") {
            padding-top:    1.875rem;
            padding-bottom: 1.875rem;
            text-align: center;
        }

        &:nth-child(odd) {
            background-color: $color-black--5-percent;
        }
    }

    .title,
    .date,
    .comments-anchor {
        // helps pop against the odd item background
        text-shadow: 0 $border-width-hairline 0 $color-white;
    }

    .title {
        margin-bottom: $measure-small;
        font-weight: $font-weight-bold;
    }

    .lede {
        margin-bottom: $measure-medium;
    }

    .date {
        @extend %gamma;
        @include case(uppercase);
        margin-bottom: $measure-small;
        font-weight: $font-weight-bold;

        @include media("<=medium") {
            text-align: left;
        }

        &::before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
            color: $color-text-alt;
        }
    }

    %button-elements,
    .comments-anchor {
        @include media("<=medium") {
            margin-left:  $measure-small;
            margin-right: $measure-small;
        }
    }

    %button-elements {
        @include media("<=medium") {
            @include button--small;
        }
    }

    .comments-anchor {
        @include media(">medium") {
            float: right;
        }

        @include media("<=medium") {
            margin-top: $measure-medium;
        }
    }
}
