////
/// Deck
/// @group components
////

.deck {
	margin-block-start: var(--size-gap);

	article {
		--flow-space: var(--size-tiny);

		max-inline-size: var(--size-line-length);
		break-inside: avoid;

		&:not(:first-child) {
			padding-block-start: var(--size-medium);
		}

		&:not(:last-child) {
			padding-block-end: var(--size-medium);
		}
	}
	article + article {
		border-block-start: var(--size-border-thin) solid h(mineshaft, delta);
	}

	h1 {
		font-weight: var(--font-weight-semibold);
		line-height: var(--line-height-medium);
	}

	%anchor {
		&:not(:hover, :focus, :active) {
			color: inherit;
		}
	}

	figure {
		align-items: start;

		& + * {
			--flow-space: 1em;
		}
	}
}

.deck__pinned {
	margin-inline-end: 1ex;
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
}

.deck__context {
	font-family: var(--font-family-serif);
	@include italic;
}

.deck__meta {
	--flow-space: var(--size-small);

	time {
		@include italic;
	}
}
