////
/// Footer
/// @group components
////

.copyright,
.nav-tertiary {
    overflow: hidden;

    @include media("<=medium") {
        width: 100%;
        text-align: center;
    }
}

.copyright {
    @include media(">medium") {
        float: left;
    }
}

.footer-home-link,
.footer-copyright-link,
.footer-style-guide-link {
    display: inline-block;
    white-space: nowrap;
}

.footer-home-link {
    @include transition(transform);
    @include will-change(transform);
    width: 50px;
    height: 50px;
    margin-right: $spacing-medium;
    border-bottom-width: 0;
    overflow: hidden;
    vertical-align: middle;
    text-indent: 100%;
    white-space: nowrap;

    &:active {
        transform: translateY(.2rem);
    }

    @include media("<=small") {
        margin-right: $spacing-medium;
    }

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.footer-copyright-link,
.footer-style-guide-link {
    &:link,
    &:visited {
        color: $color-text-light;
        border-bottom-color: $color-text-alt;

        &:hover,
        &:focus,
        &:active {
            border-bottom-color: $color-text-light;
        }
    }
}
.footer-style-guide-link {
    @include media("<=small") {
        display: block;
    }
}

.footer-spacer {
    color: $color-text-alt;

    @include media("<=small") {
        display: none;
    }
}
