////
/// Icons
/// @group components
////


%icon {
    display: block;
    overflow: hidden;
}

%button [class*="icon"] {
    fill: currentColor;
}

// Used on the Style Guide page
.icons-list [class*="icon"] {
    fill: $color-black;
}

/**
 * Brand Icon Widths and Colors
 */
@each $color-brand in $color-brands {
    $name:       nth($color-brand, 1);
    $icon-color: nth($color-brand, 3);
    $ratio:      nth($color-brand, 4);

    .icon--#{$name} {
        @extend %icon;
        width: ($ratio * $icon-size);

        @if $name == "rss" {
            // the RSS icon should remain orange when nested in a button
            fill: $icon-color !important;
        } @else {
            fill: $icon-color;
        }
    }
}
