////
/// Librarian
/// @group components
////

.librarian {
	margin-block-start: var(--flow-space, 1em);
	position: sticky;
	inset-block-start: var(--size-header, 0px);
	z-index: var(--z-index-modal);

	@media print {
		display: none;
	}

	.no-js & {
		display: none;
	}
}

.librarian-island {
	display: initial;
}
