/**
 * Librarian
 * @group components
 */

.librarian {
	margin-block-start: var(--flow-space, 1em);
	position: sticky;
	inset-block-start: 0;
	z-index: var(--z-index-modal);

	@media print {
		display: none;
	}

	.no-js & {
		display: none;
	}
}
