////
/// Logo
/// @group components
////

.logo {
    @extend .non-selectable;
    display: inline-block;
    position: relative;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    @include media(">small") {
        height: 6.25rem;
        float: left;
    }
    @include media(">medium") {
        width: $aside-width;
    }
    @include media("<=medium") {
        width: 7rem;
    }
    @include media("<=small") {
        height: 5.625rem;
    }

    svg {
        @include absolute;
        @include transition(all 1s);
        @include will-change(transform);
        display: block;
        @include media(">medium") {
            width:  8.5rem;
            height: 8.5rem;
            transform: translateX(3.75rem) translateY(-3.25rem);
        }
        @include media("<=medium") {
            width:  7rem;
            height: 7rem;
            transform: translateX(1rem) translateY(-1.5rem);
        }
    }
    &:hover svg,
    &:focus svg {
        @include media(">medium") {
            transform: translateX(4rem) translateY(-3rem);
        }
        @include media("<=medium") {
            transform: translateX(1.35rem) translateY(-1.35rem);
        }
    }
    &:active svg {
        @include transition;
        @include media(">medium") {
            transform: translateX(4rem) translateY(-2.5rem);
        }
        @include media("<=medium") {
            transform: translateX(1.5rem) translateY(-1rem);
        }
    }
}
