////
/// Media
/// @group components
////


/**
 * Contains embedded media properly and allows them to be dynamically resized
 * inside a 16:9 aspect ratio container.
 */
.media {
    @include position(relative);
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    overflow: hidden;

    embed,
    iframe,
    object,
    video {
        @include position(full);
    }
}
