////
/// Media
/// @group components
////


/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: 0;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $measure-medium;
    contain: strict;
}

/**
 * Contains embedded media properly and allows them to be dynamically resized
 * inside a set aspect ratio container.
 */
.media {
    @include position(relative);
    width: 100%;
    height: auto;
    overflow: hidden;

    embed,
    iframe,
    object,
    video {
        @include position(full);
        // necessary for `iframe`
        height: 100%;
        margin-bottom: 0;
    }
}

// Sets the aspect ratio to Vimeo / 16:9
.media--16-9,
.media--vimeo {
    padding-top: 56.25%;
}

// Sets the aspect ratio to 4:3
.media--4-3 {
    padding-top: 75%;
}

// Sets the aspect ratio to Speaker Deck (810:653)
.media--speakerdeck {
    padding-top: 80.62%;
}
