////
/// Secondary Navigation / Buttons List
/// @group components
////


/**
 * Contains buttons and internal links.
 */
.nav-secondary,
.buttons-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media("<=small") {
        flex-direction: column;
    }

    @include media(">small") {
        flex-direction: row;
        justify-content: center;
    }

    %button {
        display: inline-block;

        @include media(">small") {
            margin-left:  $spacing-small;
            margin-right: $spacing-small;
        }

        @include media("<=small") {
            margin-left:  auto;
            margin-right: auto;

            & + %button {
                margin-top: $spacing-small;
            }
        }
    }
}

.nav-secondary {
    margin-top: $spacing-large;
    border-top: $border-thin solid $color-black--10-percent;
    padding-top: ($spacing-large - .182rem);

    .page-home & {
        margin-top: 0;
        border-top: 0;
    }

    .page-about & {
        border-top: 0;
        padding: 0 0 $spacing-medium;
    }

    %content-elements + & {
        margin-top: $spacing-medium;
    }
}

.buttons-list {
    margin: 0 0 $spacing-medium;

    .lede + & {
        margin-bottom: $spacing-large;
    }
}
