////
/// Primary Navigation
/// @group components
////


.nav-primary {
    padding-top: $measure-medium;
    padding-bottom: $measure-medium;
    white-space: nowrap;

    @include media(">small") {
        float: right;
    }

    @include media("<=small") {
        width: 100%;
        padding-top: $measure-small;
    }
}

.nav-primary-list {
    height: 3.75rem;
    // remove space between list items
    font-size: 0;

    @include media(">medium") {
        float: right;
    }

    @include media("<=medium") {
        text-align: center;
    }

    li {
        display: inline-block;
        // reset font-size
        font-size: 1rem;

        @include media(">medium") {
            float: left;
        }

        & + li {
            @include media(">medium") {
                margin-left: 1em;
            }

            @include media("<=medium") {
                margin-left: .5em;
            }

            @include media("<=small") {
                margin-left: .25em;
            }
        }
    }

    a {
        @include transition(color, padding-bottom, border-bottom-width, transform);
        @include will-change(color, padding-bottom, border-bottom-width, transform);
        color: $color-text-alt;
        display: block;
        padding: .75rem 1rem;
        border-bottom-width: 0;
        margin-bottom: .25rem;
        font-family: $font-family-alpha;
        font-size: $font-size-large;
        line-height: $line-height-small;
        text-transform: uppercase;

        &:link,
        &:visited {
            border-bottom-color: $color-brand
        }

        &:active {
            transform: translateY(.2rem);
        }

        @include media("<=small") {
            padding-left:  .5rem;
            padding-right: .5rem;
        }
    }
}

// Effect for interactions and active paths
.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
.page-home .nav-primary-home a,
.page-about .nav-primary-about a,
.page-article .nav-primary-articles a,
.page-articles .nav-primary-articles a,
.page-pen .nav-primary-pens a,
.page-pens .nav-primary-pens a,
.page-search .nav-primary-search a {
    color: $color-text;
    padding-bottom: .5rem;
    border-bottom-width: $border-default;
}

// Complementary to the Effect for interactions and active paths
.page-home .nav-primary-home a:after,
.page-about .nav-primary-about a:after,
.page-article .nav-primary-articles a:after,
.page-articles .nav-primary-articles a:after,
.page-pen .nav-primary-pens a:after,
.page-pens .nav-primary-pens a:after,
.page-search .nav-primary-search a:after {
    content: "";
    border-top:   .5em solid $color-brand;
    border-right: .5em solid transparent;
    border-left:  .5em solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
