////
/// Secondary Navigation
/// @group components
////

/**
 * Contains buttons and internal links.
 */
.nav-secondary,
.buttons-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media("<=small") {
        flex-direction: column;
    }

    @include media(">small") {
        flex-direction: row;
        justify-content: center;
    }

    button,
    .button {
        display: inline-block;

        @include media("<=small") {
            margin-left:  auto;
            margin-right: auto;

            & + button,
            & + .button {
                margin-top: 1rem;
            }
        }

        @include media(">small") {
            margin-left:  1rem;
            margin-right: 1rem;
        }
    }
}

.nav-secondary {
    padding: ($spacing-large - .182) 0 $spacing-large;
    border-top: $border-thin solid $color-black-medium;

    .page-about & {
        border-top: 0;
        padding: $spacing-medium 0;
    }
}

.buttons-list {
    padding-bottom: $spacing-medium;
}
