////
/// Tertiary Navigation
/// @group components
////


.nav-tertiary {
    @include media(">medium") {
        float: right;
        // 5px
        margin-top: .3125rem;
    }

    @include media("<=medium") {
        margin-top: $spacing-medium;
    }
}

.nav-tertiary-list {
    li {
        display: inline-block;

        & + li {
            margin-left: 1rem;
        }
    }

    a {
        border-bottom-width: 0;

        .icon {
            @include transition;
            @include will-change(opacity, transform);
            opacity: opacity("70-percent");
            height: $icon-size;

            &:hover,
            &:focus,
            &:active {
                opacity: opacity(1);
            }

            &:active {
                transform: translateY(.125rem);
            }
        }
    }
}
