////
/// Print
/// @group components
////


@include media("print") {
    nav,
    .featured-pens,
    .related-articles,
    .comments,
    footer .home-anchor,
    footer .style-guide-anchor,
    .nav-tertiary {
        display: none;
    }

    button, .button {
        color: $color-text;
        border: $border-hairline solid $color-text;
        box-shadow: none;
    }
}
