////
/// Print
/// @group components
////


@include media("print") {
    // Hide non-content markup
    nav,
    .widget,
    .comments,
    footer .home-anchor,
    footer .style-guide-anchor {
        display: none;
    }

    // Fix buttons for B&W scenario
    %button-elements {
        color: $color-text;
        border: $border-width-hairline solid $color-text;
        box-shadow: none;
    }

    // Fix trailing text when breaking page
    %heading-elements,
    p {
        orphans: 3;
        widows: 3;
    }
}
