////
/// Responses
/// @group components
////

@use "../abstracts/collections";

.responses {
	--flow-space: var(--size-medium);

	inline-size: 100%;
	margin-block-start: var(--size-gap);

	&:not(:has(.responses__thread)) {
		@media print {
			display: none;
		}
	}
}

.responses__form {
	max-inline-size: var(--size-line-length);
	display: grid;
	grid-gap: var(--size-small);
	grid-template-columns: 1fr min-content;
	margin-inline: auto;

	@media print {
		display: none;
	}
}

.responses__label {
	grid-column: 1 / span 2;
	margin-block-end: var(--size-small);
}

.responses__submit {
	min-inline-size: fit-content;
	margin-block-start: 0;
}

.responses__thread {
	contain: content;

	@media print {
		margin-block-start: 0;
	}

	&,
	& > #{collections.$heading} {
		background-color: inherit;
	}

	& > #{collections.$heading} {
		inline-size: 100%;
		padding-block: var(--size-small);
	}

	& a {
		overflow-wrap: break-word;
	}
}

.replies {
	--flow-space: var(--size-medium);
}

.person {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	column-gap: var(--size-medium);
	row-gap: var(--size-tiny);

	& .e-content {
		--flow-space: 0.5em;
	}
}

.person__avatar {
	grid-row: 1 / 3;

	&,
	& #{collections.$anchor} {
		inline-size: var(--size-avatar-small);
	}

	& #{collections.$anchor} {
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}

	& #{collections.$image} {
		display: block;
	}
}

.person__meta {
	& a {
		color: inherit;
	}

	& .person__permalink {
		line-height: 0;
	}

	& .p-author .p-name {
		font-weight: var(--font-weight-semibold);
	}
}
