////
/// Search
/// @group components
////


.search-main {
    max-width: $wrapper-width-small;
    margin-bottom: $measure-medium;
}
.search-results {
    margin-top: $measure-medium;

    .small-articles-list {
        margin-bottom: 0;
    }
}

.search-form {
    @include position(relative);
    display: flex;
}

.search-input {
    flex: 1;
    margin-right: $measure-small;
}

.search-submit {
    .widget--search & {
        min-width: 2.5em;
    }

    .icon--search {
        // default: 0.8em x 0.8em
        width:  1em;
        height: 1em;
        margin-right: 0;
    }
}
