////
/// Small Articles List
/// @group components
////


.small-articles-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $spacing-large;
    font-family: $font-family-beta;
    line-height: $line-height-small;

    aside & {
        margin: 0 ($spacing-small * -1);
    }

    .page-home & {
        margin-bottom: 0;
    }

    li {
        width: 49.0125%;
        display: inline-block;

        // Push all list items down (after the first two, in the
        // two-column format)
        &:nth-child(n+3) {
            margin-top: $spacing-medium;
        }

        aside & {
            width: 100%;

            // Push all list items down (after the first one, in the <aside>
            // one-column format)
            & + li {
                margin-top: $spacing-small;
            }


            &:nth-child(4n+2) a,
            &:nth-child(4n+3) a,
            &:nth-child(2n+1) a {
                background-color: transparent;
            }

            &:nth-child(2n+2) a {
                background-color: $color-black-5-percent;
            }
        }

        @include media(">small") {
            &:nth-child(4n+2) a,
            &:nth-child(4n+3) a {
                background-color: $color-black-5-percent;
            }
        }

        @include media("<=small") {
            width: 100%;

            // Push all list items down (after the first one, in the default
            // one-column format)
            & + li {
                margin-top: $spacing-medium;
            }

            &:nth-child(2n+1) a {
                background-color: $color-black-5-percent;
            }
        }
    }

    a {
        @extend .rounded;
        display: block;
        padding: $spacing-medium;
        border-bottom-width: 0;
        overflow: hidden;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-brand-10-percent !important;
        }

        aside & {
            padding: $spacing-small;
        }
    }

    .title,
    .lede,
    .date {
        text-shadow: 0 1px 0 $color-white;
    }

    .title {
        @include transition(border-color);
        @include will-change(border-color);
        width: auto;
        display: inline-block;
        border-bottom: 1px solid $color-text-light;
        margin-bottom: 0;
    }
    a:hover .title,
    a:focus .title,
    a:active .title {
        border-bottom-color: $color-brand;
    }
    a:visited:hover .title,
    a:visited:focus .title,
    a:visited:active .title {
        border-bottom-color: darken($color-brand, 10%);
    }

    .lede {
        color: $color-text;
        margin-top: $spacing-small;
        margin-bottom: 0;
        font-size: $font-size-small;
    }

    .date {
        color: $color-text-alt;
        display: block;
        margin-top: $spacing-small;
        font-size: $font-size-smaller;
        font-weight: $font-weight-bold;

        @include media(">medium") {
            text-align: right;
        }

        &:before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
        }
    }

    svg {
        @include transition;
        @include will-change(opacity);
        opacity: opacity("5-percent");
        // override `_icons.scss` + 4px
        width:  6.25em !important;
        height: 6.25em;
        display: block;
        position: absolute;
        top: 50%;
        right: $spacing-small;
        transform: translateY(-50%);
        z-index: z-index(below);
        stroke: $color-text;

        @include media("<=small") {
            width:  4em !important;
            height: 4em;
        }
    }
    a:hover svg,
    a:focus svg,
    a:active svg {
        opacity: opacity("25-percent");
    }
}
