////
/// Web Components
/// @group components
////

event-countdown,
is-land,
relative-time {
	display: contents;
}

lastfm-listening {
	display: block;
	margin-block-start: var(--size-medium);
}

share-button:not(:defined) button,
share-button:defined a {
	display: none;
}
