////
/// Web Components
/// @group components
////

@use "../abstracts/mixins-scss" as *;

is-land:has(details-utils, seven-minute-tabs) {
	display: block;
}

:is(details-utils, seven-minute-tabs) {
	display: block;
}

seven-minute-tabs {
	display: grid;
	grid-template-rows: auto [tabs-start] auto [tabs-end];

	& [role="tabpanel"] {
		grid-column: 1 / -1;
		grid-row: tabs;
		display: block;

		&[hidden] {
			opacity: 0;
			visibility: hidden;
			@include non-interactive;
		}
	}

	&:not(:has([hidden])) {
		& [role="tabpanel"]:first-of-type {
			opacity: 0;
			visibility: hidden;
			@include non-interactive;
		}
	}
}

:where(lastfm-listening) {
	display: block;
	margin-block-start: var(--size-medium);
}

lite-youtube {
	background-position: center;
	background-size: cover;
}

relative-time {
	.deck__context:has(.currently-attending) & {
		display: none;
	}
}

:where(seven-minute-tabs, .content storage-form) {
	display: block;
}

share-button:not(:defined) button,
share-button:defined a {
	display: none;
}

:where(url-input) {
	display: contents;
}

snow-fall {
	display: none;
}
:root:has([name="snow"]:checked) {
	@media (prefers-reduced-motion: no-preference) {
		main {
			z-index: var(--z-index-root);
		}
		snow-fall {
			display: initial;
			z-index: var(--z-index-below)
		}
	}
}
