////
/// Widgets
/// @group components
////


.widget {
    aside & {
        @include clear;
    }
}

.widget-featured-anchor {
    float: right;
    margin-top: $measure-medium;
    font-family: $font-family-gamma;
    font-weight: $font-weight-bold;

    &::after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}
