////
/// Browser Support
/// @group components
////

@use "sass:color";
@use "sass:math";

@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/generated";
@import "../abstracts/collections";

.support,
.support__meta {
	display: flex;
	gap: var(--size-gutter);

	@container (inline-size > #{map-get($breakpoints, "small")}) {
		gap: var(--size-large);
	}
}

.support {
	flex-direction: column-reverse;

	@container (inline-size > #{map-get($breakpoints, "small")}) {
		flex-direction: row-reverse;
	}
}

.support__meta {
	flex-direction: column;
	justify-content: center;
}

.browser-support {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-small);

	li {
		border-radius: var(--border-radius, var(--size-border-thin));
		padding-inline: var(--size-small);
		font-weight: var(--font-weight-semibold);
	}
}
