////
/// Librarian
/// @group components
////

@use "sass:color";
@use "sass:math";

@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/generated";
@import "../abstracts/collections";

.librarian {
	background-color: var(--background-color, mix(map-get($colors, thunder), map-get($colors, snowy), map-get($opacities, delta) * 100%));
	margin-block-start: var(--flow-space, 1em);
	position: sticky;
	inset-block-start: var(--size-header);
	z-index: var(--z-index-modal);

	.no-js & {
		display: none;
	}
}

.librarian-island {
	display: initial;
}
