////
/// Shelf
/// extends %grid
/// @group components
////

@use "sass:color";
@use "sass:math";

@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/generated";
@import "../abstracts/collections";

.shelf {
	--row-gap: var(--size-gap);
	--min-inline-size: 10em;

	article {
		--flow-space: var(--size-small);

		line-height: var(--line-height-medium);
	}

	h1 {
		line-height: var(--line-height-medium);

		%anchor {
			color: inherit;
		}
	}

	.cover {
		margin: 0;
		object-fit: cover;
		transition: transform var(--transition-duration-short) var(--transition-function);
	}
	%anchor:is(:hover, :focus, :active) {
		.cover {
			transform: scaleZ(1.05);
		}
	}
}

.shelf--books {
	.cover {
		block-size: 240px;
	}
}
