////
/// Updated
/// @group components
////

@use "sass:color";
@use "sass:math";

@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/generated";
@import "../abstracts/collections";

@layer components {
	.updated {
		max-inline-size: var(--size-line-length);
		margin-inline: auto;

		& > * + * {
			--flow-space: var(--size-small);
		}

		time {
			font-weight: var(--font-weight-semibold);
		}
	}
}
