////
/// Canada
/// @group utilities
////

@use "../abstracts/functions";

.canada {
	&,
	* {
		// For some reason, ::selection and ::target-text don't play well together
		&::selection {
			background-color: functions.h(maple) !important;
			color: functions.h(snowy) !important;
		}
		&::target-text {
			background-color: functions.h(maple) !important;
			color: functions.h(snowy) !important;
		}
	}
}
