////
/// Fit Text to Width (Inline)
/// @group utilities
/// <span class="fit-text">
///   <span><span>TEXT</span></span>
///   <span aria-hidden="true">TEXT</span>
/// </span>
////

@property --fit-text {
	syntax: "<length>";
	inherits: true;
	initial-value: 0px;
}

@property --fit-text2 {
	syntax: "<length>";
	inherits: true;
	initial-value: 0px;
}

.fit-text {
	display: flex;
	container-type: inline-size;

	--fit-text: initial;
	--support-sentinel: var(--fit-text, 9999px);

	& > [aria-hidden] {
		visibility: hidden;
	}

	& > :not([aria-hidden]) {
		flex-grow: 1;
		container-type: inline-size;

		--fit-text: 100cqi;
		--available-space: var(--fit-text);

		& > * {
			--support-sentinel: inherit;
			--fit-text: 100cqi;
			--ratio: tan(
				atan2(
					var(--available-space),
					var(--available-space) - var(--fit-text)
				)
			);
			--font-size: clamp(
				1em,
				1em * var(--ratio),
				var(--max-font-size, infinity * 1px) - var(--support-sentinel)
			);
			inline-size: var(--available-space);

			&:not(.fit-text) {
				display: block;
				font-size: var(--font-size);

				@container (inline-size > 0) {
					white-space: nowrap;
				}
			}

			&.fit-text {
				--fit-text2: var(--font-size);
				font-variation-settings: "opsz"
					tan(atan2(var(--fit-text2), 1px));
			}
		}
	}
}
