{# Only show sparkline if there is more than 1 year of data #}
{% if first_year != latest_year %}
	{% sparkline collection, first_year %}
{% endif %}

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/categories.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/tags.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/collections.njk' %}
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/pages.njk' %}
</div>
