{% include 'responses.njk' %}

{% if page.url != '/posts/' and page.url != '/feeds/' -%}
	<div class=" [ box ] [ flow ] ">
		{% include 'meta/sub/collections.njk' %}
	</div>
{%- endif %}

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/pages.njk' %}
</div>

{% if page.url != '/projects/' -%}
	<div class=" [ box ] [ flow ] ">
		{% include 'meta/sub/projects.njk' %}
	</div>
{%- endif %}
