<ul class=" [ meta__information ] [ box ] [ flow ] ">
	{% if subtitle %}
		<li class=" [ small ] ">{{ subtitle | safe }}</li>
	{% endif %}
	{% if in_reply_to %}
		<li class=" [ in-reply-to ] ">
			{% if rsvp %}
				<data class=" [ p-rsvp ] " value="{{ rsvp.value }}" hidden></data>
				{% if rsvp.value == 'yes' %}
					{% if rsvp.date | epoch > global.now %}
						{# Future #}
						<c-emoji>{{ emojis.future }}</c-emoji>
						<small>going to</small>
					{% elif rsvp.date | epoch <= global.now and rsvp.finish | epoch > global.now %}
						{# Current #}
						<c-emoji>{{ emojis.going }}</c-emoji>
						<small>currently attending</small>
					{% else %}
						{# Past #}
						<c-emoji>{{ emojis.going }}</c-emoji>
						<small>went to</small>
					{% endif %}
				{% elif rsvp.value == 'maybe' %}
					<c-emoji>{{ emojis.maybe }}</c-emoji>
					{% if rsvp.date | epoch > global.now %}
						{# Future #}
						<small>might go to</small>
					{% else %}
						{# Past #}
						<small>thought about going to</small>
					{% endif %}
				{% elif rsvp.value == 'interested' %}
					{% if rsvp.date | epoch > global.now %}
						{# Future #}
						<c-emoji>{{ emojis.maybe }}</c-emoji>
						<small>interested in going to</small>
					{% else %}
						{# Past #}
						<c-emoji>{{ emojis.not_going }}</c-emoji>
						<small>was interested in going to</small>
					{% endif %}
				{% else %}
					<c-emoji>{{ emojis.not_going }}</c-emoji>
					{% if rsvp.date | epoch > global.now %}
						{# Future #}
						<small>unable to go to</small>
					{% else %}
						{# Past #}
						<small>wasn’t able to go to</small>
					{% endif %}
				{% endif %}
			{% else %}
				<c-emoji>{{ emojis.reply }}</c-emoji>
				<small>in reply to</small>
			{% endif %}
			<a class=" [ h-cite  u-in-reply-to ] " href="{{ in_reply_to_url }}">
				{{ people | getPerson(in_reply_to_title) | getInternalTarget(collections.all) | getMastodonHandle | getTwitterHandle }}
			</a>
			{% if in_reply_to_authors %}
				{% set first_author = in_reply_to_authors | toArray | first %}
				{% set first_author_person = people | getPerson(first_author) %}
				{% if first_author_person != people | getPerson(in_reply_to_title) %}
					<small>by</small>
					{% for author in in_reply_to_authors | toArray %}
						{% set author = people | getPerson(author, 'object') %}
						{% if not loop.first %}{% if in_reply_to_authors.length > 2 %}, {% endif %}{% if loop.last %} and {% endif %}{% endif %}
						{% if author.url %}
							<a href="{{ author.url | toArray | first }}">{{ author.title }}</a>
						{% else %}
							{{ author }}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		</li>
	{% endif %}
	{% if rsvp %}
		<li class=" [ rsvp ] ">
			<c-emoji>{{ emojis.calendar }}</c-emoji>
			{% if rsvp.finish | epoch > global.now %}
				<small>taking place</small>
			{% else %}
				<small>took place</small>
			{% endif %}
			<time class=" [ dt-start ] " datetime="{{ rsvp.date | rfcDate }}">{{ rsvp.date | friendlyDate }} {{ rsvp.date | friendlyTime(false) }}</time>
			–
			<time class=" [ dt-end ] " datetime="{{ rsvp.finish | rfcDate }}">{% if rsvp.date | friendlyDate != rsvp.finish | friendlyDate %}{{ rsvp.finish | friendlyDate }} {% endif %}{{ rsvp.finish | friendlyTime(true) }}</time>
		</li>
	{% endif %}
	{% if show_reading_length %}
		<li class=" [ reading-length ] ">
			<c-emoji>{{ emojis.reading_length }}</c-emoji>
			<strong>~{{ content | cleantags | striptags | safe | wordcount | toNearest(25) | numberStringFormat }}</strong>
			<small>words</small>
		</li>
	{% endif %}
	{%- set tags_filtered = tags | categoryFilter | tagFilter -%}
	{% if tags_filtered.length %}
		<li class=" [ tags ] ">
			<c-emoji>{{ emojis.tag }}</c-emoji>
			<small>tagged</small>
			{% if tags_filtered.length > 1 %}<ul class=" [ cluster ] [ meta__list ] [ small ] ">{% endif %}
				{% for tag in tags_filtered -%}
					{% if tags_filtered.length > 1 %}<li>{% endif %}<a class=" [ p-tag ] " href="/tag/{{ tag }}/">{{ tag }}</a>{% if tags_filtered.length > 1 %}</li>{% endif %}
				{%- endfor %}
			{% if tags_filtered.length > 1 %}</ul>{% endif %}
		</li>
	{% endif %}
	{% if style %}
		<li class=" [ style ] ">
			<c-emoji>{{ emojis.style }}</c-emoji>
			<small>style</small>
			<strong>{{ style | safe }}</strong>
		</li>
	{% endif %}
	{% if authors %}
		{%- set authors = authors | toArray -%}
		<li class=" [ authors ] ">
			{% if category == 'beer' %}
				<c-emoji>{{ emojis.beer }}</c-emoji>
				<small>brewed by</small>
			{% elif category == 'book' %}
				<c-emoji>{{ emojis.book }}</c-emoji>
				<small>written by</small>
			{% elif category == 'game' %}
				<c-emoji>{{ emojis.game }}</c-emoji>
				<small>produced by</small>
			{% elif category == 'music' %}
				<c-emoji>{{ emojis.music }}</c-emoji>
				<small>created by</small>
			{% elif category == 'recipe' %}
				<c-emoji>{{ emojis.recipe }}</c-emoji>
				<small>sourced from</small>
			{% else %}
				<c-emoji>{{ emojis.author }}</c-emoji>
				<small>authored by</small>
			{% endif %}
			{% if authors.length > 1 %}<ul class=" [ cluster ] [ meta__list ] [ small ] ">{% endif %}
			{% for author in authors -%}
				{% if authors.length > 1 %}<li>{% endif %}{% set authorObject = people | getPerson(author, 'object') %}{% if authorObject.url %}<a href="{{ authorObject.url | toArray | first }}">{{ authorObject.title }}</a>{% else %}<strong>{{ author | safe }}</strong>{% endif %}{% if authors.length > 1 %}</li>{% endif %}
			{%- endfor %}
			{% if authors.length > 1 %}</ul>{% endif %}
			{% if console %}
				<small>for</small>
				<strong>{{ console | getConsole | safe }}</strong>
			{% endif %}
		</li>
	{% endif %}
	{% if release %}
		<li class=" [ date-released ] ">
			<c-emoji>{{ emojis.calendar }}</c-emoji>
			<small>released</small>
			<time class=" [ dt-released ] " datetime="{{ release | rfcDate }}">{{ release | friendlyDate }}</time>
		</li>
	{% endif %}
	{% if rating %}
		<li class=" [ review-rating ] ">
			<c-emoji>{{ emojis.stars }}</c-emoji>
			<small>my rating</small>
			{% if rating == 'Parti Pris' %}
				<data class=" [ p-rating ] " value="Parti Pris">Parti Pris</data>
			{% else %}
				<data class=" [ rating ] [ p-rating ] " value="{{ rating }}" title="{{ rating }} out of 5"> </data>
				<data class=" [ p-worst ] " value="0" hidden>0</data>
				<data class=" [ p-best ] " value="5" hidden>5</data>
			{% endif %}
		</li>
	{% endif %}
	{% if checkin %}
		<li class=" [ checkin ] ">
			<c-emoji>{{ emojis.checkin }}</c-emoji>
			<small>check-in</small>
			{% set checkin = checkin.title | default(checkin) | getPlace('object') %}
			{% if checkin.url %}
				<a class=" [ u-location ] " href="{{ checkin.url }}">{{ checkin.title }}</a>
			{% elif checkin.lat and checkin.long %}
				<a class=" [ u-location ] " href="http://www.openstreetmap.org/#map=13/{{ checkin.lat }}/{{ checkin.long }}">{{ checkin.title }}</a>
			{% else %}
				<strong class=" [ p-location ] ">{{ checkin.title | default(checkin) }}</strong>
			{% endif %}
		</li>
	{% endif %}
	{% if badges %}
		<li class=" [ badges ] ">
			<c-emoji>{{ emojis.trophy }}</c-emoji>
			<small><span class=" [ hidden ] ">earning</span> badges</small>
			{% if badges.length > 1 %}<ul class=" [ cluster ] [ meta__list ] [ small ] ">{% endif %}
			{% for badge in badges -%}
				{%- if badges.length > 1 %}<li>{% endif -%}
					{%- if badge.id -%}
						<a href="https://untappd.com/user/{{ author.untappd }}/badges/{{ badge.id }}">{{ badge.title | default(badge) }}</a>
					{%- else -%}
						<strong>{{ badge.title | default(badge) }}</strong>
					{%- endif -%}
				{%- if badges.length > 1 %}</li>{% endif -%}
			{%- endfor -%}
			{%- if badges.length > 1 %}</ul>{% endif -%}
		</li>
	{% endif %}
	{% if syndicate_to %}
		<li class=" [ syndicate-to ] ">
			<c-emoji>{{ emojis.syndication }}</c-emoji>
			<small>also on</small>
			<ul class=" [ cluster ] [ meta__list ] [ small ] ">
			{% for syndication in syndicate_to %}
				<li>
					<a href="{{ syndication }}">{{ syndication | getSyndicationTarget }}</a>
					{% if syndication.includes("twitter.com") %}
						(<indie-action do="reply" with="{{ site.url + page.url }}"><a href="https://twitter.com/intent/tweet?in_reply_to={{ syndication.split("/") | last }}">Reply</a></indie-action>, <indie-action do="repost" with="{{ site.url + page.url }}"><a href="https://twitter.com/intent/retweet?tweet_id={{ syndication.split("/") | last }}">Repost</a></indie-action>, <indie-action do="like" with="{{ site.url + page.url }}"><a href="https://twitter.com/intent/favorite?tweet_id={{ syndication.split("/") | last }}">Like</a></indie-action>)
						<is-land on:visible class="hidden">
							<template data-island="once">
								<script src="/js/vendor/indieconfig.js?v={{ pkg.version }}"></script>
								<script src="/js/vendor/webaction.js?v={{ pkg.version }}"></script>
							</template>
						</is-land>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</li>
	{% endif %}
	{% if posting_method %}
		<li class=" [ posting-method ] ">
			<c-emoji>{{ emojis.posting_method }}</c-emoji>
			<small>posted with</small>
			{% if posting_method | getPostingMethod('url') %}
				<a href="{{ posting_method }}">{{ posting_method | getPostingMethod }}</a>
			{% else %}
				<strong>{{ posting_method }}</strong>
			{% endif %}
		</li>
	{% endif %}
	<li class=" [ shorturl ] ">
		{%- set shorturl_id %}{{ page.date | newBase60(prefix, collections[category]) }}{% endset -%}
		<c-emoji>{{ emojis.link }}</c-emoji>
		<a href="https://repc.co/{{ shorturl_id }}">repc.co/{{ shorturl_id }}</a>
	</li>
	<li hidden>
		<a href="https://fed.brid.gy"></a>
	</li>
</ul>
{% if title or of.title %}
	<data class=" [ p-name ] " value="{{ title | default(of.title) | safe }}" hidden></data>
{% endif %}
<data class=" [ u-url ] " value="{{ page.url }}" hidden></data>
<div class=" [ h-card  p-author ] " hidden>
	<data class=" [ p-name ] " value="{{ author.name }}"></data>
	<data class=" [ u-url  u-uid ] " value="/"></data>
	<data class=" [ u-url ] " value="/about"></data>
	<data class=" [ u-photo ] " value="{{ author.avatar }}"></data>
</div>

<div class=" [ box ] [ flow ] ">
	{% include 'meta/sub/categories.njk' %}
	{% include 'meta/sub/tags.njk' %}
</div>
