{%- from 'macros/feedItem.njk' import feedItem -%}
{%- set related_page = site.url + '/' + related_collection + '/' -%}
{%- set related_page = related_page | replace('featurePosts/', '') | replace('writingPosts', 'writing') -%}
<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/"  xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>

        <title>{{ site.title | striptags(true) }} – {{ title | striptags(true) }}</title>
        <description>{{ lede | striptags(true) }}</description>
        <language>{{ site.locale }}</language>
        <link>{{ related_page }}</link>
        <lastBuildDate>{{ global.now | rssDateFormat }}</lastBuildDate>
        <managingEditor>{{ author.email }} ({{ author.name }})</managingEditor>
        <webMaster>{{ author.email }} ({{ author.name }})</webMaster>
        <image>
            <title>{{ site.title | striptags(true) }} – {{ title | striptags(true) }}</title>
            <link>{{ related_page | replace('featurePosts/', '') | replace('writingPosts', 'writing') }}</link>
            <url>{{ site.url + "/images/avatar.jpg" }}</url>
            <width>100</width>
            <height>100</height>
        </image>
        <generator>Eleventy v{{ pkg['dependencies']['@11ty/eleventy'] | replace('^', '') }}</generator>
        <atom:link rel="self" href="{{ site.url + page.url }}" type="application/rss+xml" />
        <atom:link rel="hub" href="{{ author.urls.switchboard }}" />

        {% for item in collections[related_collection] | limit(site.limits.feed) %}
            {{ feedItem(item, site) }}
        {% endfor %}

    </channel>
</rss>
