---
layout: base
---
{%- set of = bookmark_of | default(drink_of) | default(like_of) | default(listen_of) | default(play_of) | default(read_of) | default(watch_of) | default(link) -%}
{%- set of_url = of -%}
{%- if of.url -%}
    {% set of_url = of.url %}
{%- endif -%}
{%- set of_title = of_url -%}
{%- if of.title -%}
    {% set of_title = of.title %}
{%- endif -%}
{%- if not authors -%}
    {% set of_author_by_url = of_url | getPerson('object') %}
    {% if of_author_by_url != of_url %}
        {% set authors = of_author_by_url %}
    {% endif %}
{%- endif -%}

{%- set in_reply_to_url = in_reply_to -%}
{%- if in_reply_to.url -%}
    {% set in_reply_to_url = in_reply_to.url %}
{%- endif -%}
{%- set in_reply_to_title = in_reply_to_url -%}
{%- if in_reply_to.title -%}
    {% set in_reply_to_title = in_reply_to.title %}
{%- endif -%}
{%- if in_reply_to.authors -%}
    {% set in_reply_to_authors = in_reply_to.authors %}
{%- else -%}
    {% set in_reply_to_author_lookup = in_reply_to_url | getPerson('object') %}
    {% if in_reply_to_author_lookup != in_reply_to_url %}
        {% set in_reply_to_authors = in_reply_to_author_lookup %}
    {% endif %}
{%- endif -%}

{%- if drink_of -%}
    {% set syndicate_to = ["https://untappd.com/user/chrisburnell/checkin/" + page.fileSlug] %}
{%- endif -%}
{%- if listen_of -%}
    {% set of_url = "https://album.link/s/" + of_url %}
    {% set syndicate_to = [of_url] %}
{%- endif -%}
{%- if read_of -%}
    {% set of_url = "https://openlibrary.org/isbn/" + read_of %}
    {% set syndicate_to = [of_url] %}
{%- endif -%}

{%- set previousPost = collections.posts | getPreviousCollectionItem(page) -%}
{%- set nextPost = collections.posts | getNextCollectionItem(page) -%}
<article id="content" class=" [ content ] [ wrap ] [ post h-{{ mf_root }} ] ">

    <h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] {{ '[ hidden ] ' if not title and not of_title }}">
        {% if of_title %}
            <span>{{ categoryProper | default(category) | title }} of “{{ title | default(of_title) | striptags(true) | safe }}”</span>
        {% elif title %}
            <span>{{ title | safe }}</span>
        {% else %}
            <span>{{ categoryProper | default(category) | title }} from {{ page.date | dateFormat }}</span>
        {% endif %}
    </h1>

    <div class=" [ details  details--published ] ">
        <p>This <a class="[ u-category ] " href="/{{ categoryPlural | default(category) }}/">{{ categoryProper | default(category) }}</a> was published on <time class=" [ dt-published ] " datetime="{{ date | w3DateFormat }}">{{ date | dateFormat }}</time>{% if updated %} and last updated on <time class=" [ dt-updated ] " datetime="{{ updated | w3DateFormat }}">{{ updated | dateFormat }}</time>{% endif %}.</p>
    </div>

    <div class=" [ content__body ] ">

        {% include 'banner.njk' %}

        {% include 'cover.njk' %}

        {% include 'photo.njk' %}

        {% if lede %}
            <p class=" [ lede ] [ p-summary ] ">{{ lede | safe }}</p>
        {% endif %}

        {% include 'updated.njk' %}

        {% if of_url %}
            {% set of_label = 'Read more' %}
            {%- if of_url.includes('https://untappd.com') -%}
                {% set of_label = 'See more on Untappd' %}
            {%- elif of_url.includes('https://album.link') -%}
                {% set of_label = 'See more on Odesli' %}
            {%- elif of_url.includes('http://abookapart.com') -%}
                {% set of_label = 'Read more on A Book Apart' %}
            {%- elif of_url.includes('https://www.goodreads.com') -%}
                {% set of_label = 'Read more on Goodreads' %}
            {%- elif of_url.includes('https://openlibrary.org') -%}
                {% set of_label = 'Read more on Open Library' %}
            {%- endif -%}
            <nav class=" [ navigator ] ">
                <a class=" [ button ] {% if mf_property %}[ u-{{ mf_property }} ] {% endif %}" href="{{ of_url }}">{{ of_label }} →</a>
            </nav>
        {% endif %}

        {% if listen_of %}
            <iframe width="100%" height="150" src="https://embed.song.link/?url=spotify:album:{{ listen_of.url | default(listen_of) }}&theme=dark" fframeborder="0" allowtransparency sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox" loading="lazy"></iframe>
        {% endif %}

        {% if category == 'recipe' %}
            {% if makes or serves %}
                <p id="serves">{% if makes %}Makes{% else %}Serves{% endif %} {{ makes | default(serves) }}.</p>
            {% endif %}

            {% if prep_time or cooking_time %}
                <dl>
                    {% if prep_time %}
                        <dt>Prep Time:</dt>
                        <dd>{{ prep_time }}</dd>
                    {% endif %}
                    {% if cooking_time %}
                        <dt>Cooking Time:</dt>
                        <dd>{{ cooking_time }}</dd>
                    {% endif %}
                </dl>
            {% endif %}

            <table>
                <thead>
                    <tr>
                        <th colspan="3">Ingredients</th>
                    </tr>
                    <tr class="hidden">
                        <th>Name</th>
                        <th>Amount</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ingredients %}
                        {% if item.g %}
                            {% set metric = item.g | round(2) + ' g' %}
                            {% set us = metric %}
                            {% if item.g >= cooking_units.mass.kg %}
                                {% set metric = item.g / cooking_units.mass.kg | round(2) + ' kg' %}
                            {% endif %}
                            {% set canada = metric %}
                            {% if item.g >= cooking_units.mass.lb %}
                                {% set us = item.g / cooking_units.mass.lb | round(2) + ' lb' %}
                            {% elif item.g >= cooking_units.mass.oz %}
                                {% set us = item.g / cooking_units.mass.oz | round(2) + ' oz' %}
                            {% endif %}
                            {% set uk = us %}
                        {% elif item.ml %}
                            {% set metric = item.ml %}
                            {% if metric >= cooking_units.volume.l %}
                                {% set metric = metric / cooking_units.volume.l | round(2) + ' L' %}
                            {% else %}
                                {% set metric = metric | round(2) + ' mL' %}
                            {% endif %}
                            {% set canada = item.ml %}
                            {% if canada >= cooking_units.volume.quarter_cup %}
                                {% set canada = canada / cooking_units.volume.cup | round(2) + ' cup' %}
                                {% if item.ml > cooking_units.volume.cup %}
                                    {% set canada = canada + 's' %}
                                {% endif %}
                            {% elif canada >= cooking_units.volume.tbsp %}
                                {% set canada = canada / cooking_units.volume.tbsp | round(2) + ' tbsp' %}
                            {% else %}
                                {% set canada = canada / cooking_units.volume.tsp | round(2) + ' tsp' %}
                            {% endif %}
                            {% set uk = item.ml %}
                            {% if uk >= cooking_units.volume.gallon %}
                                {% set uk = uk / cooking_units.volume.gallon | round(2) + ' gallon' %}
                                {% if item.ml > cooking_units.volume.gallon %}
                                    {% set uk = uk + 's' %}
                                {% endif %}
                            {% elif uk >= cooking_units.volume.quart %}
                                {% set uk = uk / cooking_units.volume.quart | round(2) + ' quart' %}
                                {% if item.ml > cooking_units.volume.quart %}
                                    {% set uk = uk + 's' %}
                                {% endif %}
                            {% elif uk >= cooking_units.volume.pint %}
                                {% set uk = uk / cooking_units.volume.pint | round(2) + ' pint' %}
                                {% if item.ml > cooking_units.volume.pint %}
                                    {% set uk = uk + 's' %}
                                {% endif %}
                            {% elif uk >= cooking_units.volume.quarter_cup_uk %}
                                {% set uk = uk / cooking_units.volume.cup_uk | round(2) + ' cup' %}
                                {% if item.ml >= cooking_units.volume.cup_uk %}
                                    {% set uk = uk + 's' %}
                                {% endif %}
                            {% elif uk >= cooking_units.volume.tbsp %}
                                {% set uk = uk / cooking_units.volume.tbsp | round(2) + ' tbsp' %}
                            {% else %}
                                {% set uk = uk / cooking_units.volume.tsp | round(2) + ' tsp' %}
                            {% endif %}
                            {% set us = item.ml %}
                            {% if us >= cooking_units.volume.gallon_us %}
                                {% set us = us / cooking_units.volume.gallon_us | round(2) + ' gallon' %}
                                {% if item.ml > cooking_units.volume.gallon_us %}
                                    {% set us = us + 's' %}
                                {% endif %}
                            {% elif us >= cooking_units.volume.quart_us %}
                                {% set us = us / cooking_units.volume.quart_us | round(2) + ' quart' %}
                                {% if item.ml > cooking_units.volume.quart_us %}
                                    {% set us = us + 's' %}
                                {% endif %}
                            {% elif us >= cooking_units.volume.pint_us %}
                                {% set us = us / cooking_units.volume.pint_us | round(2) + ' pint' %}
                                {% if item.ml > cooking_units.volume.pint_us %}
                                    {% set us = us + 's' %}
                                {% endif %}
                            {% elif us >= cooking_units.volume.quarter_cup_us %}
                                {% set us = us / cooking_units.volume.cup_us | round(2) + ' cup' %}
                                {% if item.ml > cooking_units.volume.cup_us %}
                                    {% set us = us + 's' %}
                                {% endif %}
                            {% elif us >= cooking_units.volume.floz_us %}
                                {% set us = us / cooking_units.volume.floz_us | round(2) + ' fl. oz' %}
                            {% elif us >= cooking_units.volume.tbsp %}
                                {% set us = us / cooking_units.volume.tbsp | round(2) + ' tbsp' %}
                            {% else %}
                                {% set us = us / cooking_units.volume.tsp | round(2) + ' tsp' %}
                            {% endif %}
                        {% elif item.amount %}
                            {% set metric = item.amount %}
                            {% set canada = metric %}
                            {% set uk = metric %}
                            {% set us = metric %}
                        {% endif %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>
                                {% if item.g %}
                                    {{ item.g }} g
                                {% elif item.ml %}
                                    {{ item.ml }} ml
                                {% elif item.amount %}
                                    {{ item.amount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.notes %}
                                    <ul class>
                                        {% for note in item.notes %}
                                            <li>{{ note }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if preheat %}
                <p id="preheat">There is a <a href="#preheat-step">preheat</a> step in this recipe.<p>
            {% endif %}
        {% endif %}

        {% if content.length %}
            <div class=" [ e-content ] ">
                {{ content | safe }}
            </div>
        {% endif %}

        {% include 'webmentions.njk' %}
    </div>

    {% include 'meta.njk' %}

    {% include 'ads.njk' %}
</article>
