<script type="text/template" id="search-template-page">
    <li>
        <a href="@@url@@">
            <h4 class="small-article-title">@@title@@</h4>
            <p class="small-article-lede">@@lede@@</p>
        </a>
    </li>
</script>
<script type="text/template" id="search-template-article">
    <li>
        <a href="@@url@@">
            <h4 class="small-article-title">@@title@@</h4>
            <time class="small-article-date" datetime="@@date@@">@@date_friendly@@</time>
            <p class="small-article-lede">@@lede@@</p>
        </a>
    </li>
</script>
<script type="text/template" id="search-template-pen">
    <li>
        <a href="@@url@@">
            <svg class="icon--codepen"><use xlink:href="#svg--codepen" /></svg>
            <h4 class="small-article-title">@@title@@</h4>
            <time class="small-article-date" datetime="@@date@@">@@date_friendly@@</time>
            <p class="small-article-lede">@@lede@@</p>
        </a>
    </li>
</script>