$breakpoints: (
  tiny: 500px,
  small: 700px,
  medium: 850px,
  large: 1000px,
  gigantic: 1200px,
  behemoth: 1600px
);
$colors-hex: (
  lynx: #1e272c,
  wolf: #2f404c,
  bowhead: #415c6d,
  raven: #5f8aa6,
  highland: #8aa7bb,
  coyote: #a6bac8,
  bear: #c2cdd5,
  thunder: #0b0b0b,
  mineshaft: #282828,
  kaiser: #494949,
  nickel: #696969,
  yeti: #cbcbcb,
  snowy: #f9f9f9,
  aspen: #eab538,
  conifer: #3d8137,
  maple: #e0161b
);
$colors-secondary: (
  aspen: oklch(80.1% 0.1469 83.99),
  conifer: oklch(54.1% 0.1282 142.13),
  maple: oklch(57.6% 0.2268 27.77)
);
$colors-tertiary-hex: (
  shadow: #0f0f0f,
  css: #0181d9,
  html: #e54d26,
  javascript: #f1c54c,
  json: #a9a9a9,
  liquid: #7ab55c,
  nunjucks: #448f3d,
  php: #7d85b4,
  scss: #c6538c,
  webc: #5aad8b,
  yaml: #ee2b34
);
$colors-tertiary: (
  shadow-light: oklch(66.2% 0 0),
  shadow-dark: oklch(16.8% 0 0),
  css: oklch(59.1% 0.1627 248.29),
  html: oklch(62.6% 0.1981 29.54),
  javascript: oklch(84.1% 0.144 88.57),
  json: oklch(73.5% 0 0),
  liquid: oklch(71.2% 0.136 132.27),
  nunjucks: oklch(58.3% 0.14 141.86),
  php: oklch(62.81% 0.071 276.67),
  scss: oklch(60.6% 0.1586 7.66),
  webc: oklch(68.6% 0.0967 164.98),
  yaml: oklch(61.4% 0.2304 18.49),
  rss: oklch(75.05% 0.179 58.28)
);
$colors: (
  thunder: oklch(14.96% 0 0),
  snowy: oklch(98.21% 0 0),
  mineshaft: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 83.6%),
  kaiser: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 66.6%),
  nickel: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 51.8%),
  yeti: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 10.2%),
  raven: oklch(61.29% 0.0636 237.73),
  lynx: oklch(from var(--color-raven) calc(l * (1 - 0.6)) calc(c * 0.3) h),
  wolf: oklch(from var(--color-raven) calc(l * (1 - 0.4)) calc(c * 0.6) h),
  bowhead: oklch(from var(--color-raven) calc(l * (1 - 0.2)) calc(c * 0.8) h),
  highland: oklch(from var(--color-raven) calc(l * (1 + 0.2)) calc(c * 0.8) h),
  coyote: oklch(from var(--color-raven) calc(l * (1 + 0.4)) calc(c * 0.6) h),
  bear: oklch(from var(--color-raven) calc(l * (1 + 0.6)) calc(c * 0.3) h),
  aspen: oklch(80.1% 0.1469 83.99),
  conifer: oklch(54.1% 0.1285 142.09),
  maple: oklch(57.6% 0.2269 27.72)
);
$font-families: (
  sans: "'Proxima Vara', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif",
  serif: "Georgia, Times, Times New Roman, serif",
  monospace: "monospace",
  nineties: "Verdana",
  silly: "Comic Sans MS, Chalkboard SE, fantasy, serif"
);
$font-sizes: (
  small: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 14,
    maxSize: 16
  ),
  default: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 16,
    maxSize: 20
  ),
  delta: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 16,
    maxSize: 22
  ),
  gamma: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 20,
    maxSize: 26
  ),
  beta: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 23,
    maxSize: 32
  ),
  inbetween: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 28,
    maxSize: 42
  ),
  alpha: (
    minWidth: 500,
    maxWidth: 1200,
    minSize: 36,
    maxSize: 80
  )
);
$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  heavy: 900
);
$line-heights: (
  default: 1.875,
  small: 1.25,
  medium: 1.429,
  code: 2
);
$sizes-extra: (
  gutter: var(--size-medium),
  gap: calc(var(--size-gutter) * 2),
  space: clamp(1.5em, 0.04rem + 1.86vi, 2.25em),
  aside: 20rem,
  avatar: 100px,
  avatar-small: 48px,
  logo: clamp(9rem, -3.6rem + 28.8vi, 18rem),
  logo-small: 4rem,
  logo-brand: 1.5rem,
  character-limit: 65ch,
  line-length: clamp(21em, 100vi, 30em),
  border-default: 4px,
  border-thin: 2px,
  tap: 44px
);
$sizes: (
  tiny: (
    minWidth: 700,
    maxWidth: 1600,
    minSize: 5,
    maxSize: 6
  ),
  small: (
    minWidth: 700,
    maxWidth: 1600,
    minSize: 10,
    maxSize: 12
  ),
  medium: (
    minWidth: 700,
    maxWidth: 1600,
    minSize: 20,
    maxSize: 24
  ),
  large: (
    minWidth: 700,
    maxWidth: 1600,
    minSize: 36,
    maxSize: 42
  ),
  gigantic: (
    minWidth: 700,
    maxWidth: 1600,
    minSize: 64,
    maxSize: 72
  )
);
$z-indexes: (
  below: -1,
  root: 0,
  default: 1,
  above: 2,
  menu: 3,
  modal: 4,
  dialog: 5,
  notification: 6
);
