---
title: Conferences and Meet-ups
related_collection: attendances
tags:
  - archive
eleventyComputed:
  description: "All {{ collections.attendances.length | numberStringFormat }} of my conference and meet-up attendances."
---
