---
title: Conferences and Meetups
related_collection: attendances
eleventyComputed:
  description: "All {{ collections.attendances.length | numberStringFormat }} of my conference and meetup attendances."
---
