---
title: Checkins
related_collection: checkins
tags:
  - archive
sitemap:
  exclude: true
eleventyComputed:
  description: "All {{ collections.checkins.length | numberStringFormat }} of my checkins."
---
