---
title: Hot Posts
related_collection: hot
by_year: false
truncate: true
eleventyComputed:
  description: "Top {{ site.limits.feed }} posts ordered by Webmentions per day. You can also browse <a href=\"/popular/\">popular posts</a>."
---
