---
title: Hot Pages
related_collection: hot
no_feed: true
by_year: false
eleventyComputed:
  description: "Top {{ site.limits.feed | numberStringFormat }} pages ordered by the <a href=\"https://en.wikipedia.org/wiki/Moving_average#Exponential_moving_average\">exponential moving average</a> of responses across time. <br>You can also browse <a href=\"/posts/#latest\">latest posts</a> and <a href=\"/popular/\">popular pages</a>."
---
