---
title: Popular Pages by Responses
related_collection: popularByResponses
no_feed: true
by_year: false
list: deck
show_popularity: false
show_hotness: false
excludeFromCollections: true
excludeFromSearch: true
sitemap:
  exclude: true
eleventyComputed:
  description: "Top {{ site.limits.feed | numberStringFormat }} pages ordered by responses. <br>You can also browse <a href=\"/posts/#latest\">latest posts</a>, <a href=\"/popular/\">popular pages</a>, <a href=\"/popular-by-pageviews/\">popular pages by pageviews</a>, and <a href=\"/hot/\">hot pages</a>."
---
