---
title: Popular Pages
related_collection: popular
by_year: false
truncate: true
eleventyComputed:
  description: "Top {{ site.limits.feed }} pages ordered by number of interactions.<br>You can also browse <a href=\"/latest/\">latest posts</a> and <a href=\"/hot/\">hot pages</a>."
---
