---
title: Writing
related_collection: writings
show_category_icon: false
show_category: false
show_collections: false
show_pinned: false
feed_name: writing
tags:
  - archive
eleventyComputed:
  description: "A more serious collection of {{ collections.writings.length | numberStringFormat }} ideas and bits of prose."
---
