---
title: Writing
related_collection: writingPosts
feed_name: writing
show_photos: false
tags:
  - archive
eleventyComputed:
  description: "A more serious collection of {{ collections.writingPosts.length | numberStringFormat }} ideas and bits of prose."
---
