---
title: Writing
related_collection: writingPosts
show_photos: false
eleventyComputed:
  description: "A more serious collection of {{ collections.writingPosts.length | numberStringFormat }} ideas and bits of prose."
---
