/*------------------------------------*\
    #UTILS - Helpers
\*------------------------------------*/

.hide,
.hidden {
    width: 100%;
    position: absolute;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.remove,
.removed {
    display: none !important;
}
