//
// #UTILS - Mixins
//

/// Linear Gradient
@mixin gradient($top, $bottom, $direction: "to bottom") {
    background-image: linear-gradient(#{$direction}, #{$top} 0%, #{$bottom} 100%);
}

/// Transition
@mixin transition($values...) {
    $transition: ();
    @if( length($values) == 0 ) {
        $transition: all #{$transition-time} #{$transition-function};
    }
    @else if( str-index(""+$values+"", " ") == null and $values != "none" ) {
        $transition: #{$values} #{$transition-time} #{$transition-function};
    }
    @else if( str-index(""+$values+"", ",") > 0 ) {
        @each $value in $values {
            @if( str-index(""+$value+"", " ") == null ) {
                $transition: append($transition, unquote("#{$value} #{$transition-time} #{$transition-function}"), comma);
            }
            @else {
                $transition: append($transition, unquote("#{$value}"), comma);
            }
        }
    }
    @else {
        $transition: #{$values};
    }
    transition: #{$transition};
}

/// Will-change
@mixin will-change($values...) {
    will-change: #{$values};
}

/// Center
@mixin center() {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/// Animation
@mixin animation($values...) {
    animation: #{$values};
}

/// Animation Play State
@mixin animation-play-state($values...) {
    animation-play-state: #{$values};
}

/// Z-index Management
@mixin z-index($values...) {
    @if( #{$values} == "below" ) {
        $values: -1;
    }
    @else if( #{$values} == "above" ) {
        $values: 1;
    }
    z-index: #{$values};
}
