/*------------------------------------*\
    #UTILS - Placeholders
\*------------------------------------*/

// We're goin' up around the bend
%rounded {
    background-clip: padding-box;
    border-radius: $default-border-radius;
}

// Non-selectable stuff
%non-selectable {
    user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
}
