//
// #UTILS - Variables (Global)
//

/// Wrapper padding
/// @type Length
$wrapper-padding: 1.25rem !default;
/// Wrapper max width
/// @type Length
$max-wrapper-width: 1140px !default;
/// Wrapper medium width
/// @type Length
$medium-wrapper-width: 768px !default;
/// Wrapper small width
/// @type Length
$small-wrapper-width: 500px !default;

/// Breakpoints
/// overwrite `_include-media.scss`
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
$breakpoints: (
    "small":  $small-wrapper-width,
    "medium": $medium-wrapper-width,
    "large":  $max-wrapper-width
) !default;


/// Default margin
/// @type Length
$default-margin: $wrapper-padding !default;
/// Thin margin
/// @type Length
$thin-margin: ($default-margin / 2) !default;
/// Default padding
/// @type Length
$default-padding: 2.250rem !default;
/// Thin padding
/// @type Length
$thin-padding: ($default-padding / 2) !default;
/// Default border
/// @type Length
$default-border: 0.250rem !default;
/// Thin border
/// @type Length
$thin-border: ($default-border / 2) !default;
/// Default border-radius
/// @type Length
$default-border-radius: 0.375rem !default;
/// Thin border-radius
/// @type Length
$thin-border-radius: ($default-border-radius / 1.5) !default;
/// Aside width
/// @type Length
$aside-width: 15.875rem !default;


/// Opacities
/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
$opacities: (
    'low':    0.05,
    'medium': 0.10,
    'high':   0.25,
    'ultra':  0.70
) !default;


/// Brand color
/// @type Color
$brand:  #5f8aa6 !default;
/// Text color
/// @type Color
$text-color: #4f4f4f !default;
/// Alternate text color
/// @type Color
$text-color-alt: #737373 !default;
/// Light text color
/// @type Color
$text-color-light: #dddddd !default;
/// White
/// @type Color
$white: #f9f9f9 !default;
/// Black
/// @type Color
$black: #060606 !default;
/// Black, low opacity
/// @type Color
$black-light: rgba($black, map_get($opacities, 'low')) !default;
/// Black, medium opacity
/// @type Color
$black-medium: rgba($black, map_get($opacities, 'medium')) !default;
/// Black, high opacity
/// @type Color
$black-dark: rgba($black, map_get($opacities, 'high')) !default;


/// Base font size
/// @type Length
$base-font-size: 16px !default;
/// Base line height
/// @type Number
$base-line-height: 1.875 !default;
/// Primary font stack
/// @type List
$primary-font-stack: "ff-meta-serif-web-pro", Georgia, serif !default;
/// Secondary font stack
/// @type List
$secondary-font-stack: "proxima-nova", sans-serif !default;
/// Heading font stack
/// @type List
$heading-font-stack: "league-gothic", Impact, sans-serif !default;


/// Transition time
/// @type Length
/// @see {mixin} transition
$transition-time: 0.2s !default;
/// Transition function
/// @type String
/// @see {mixin} transition
$transition-function: ease !default;

/// z-indexes
/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {function} z-index
$z-indexes: (
    'below':  -1,
    'default': 1,
    'above':   2
) !default;
