////
/// Variables (Branding)
/// @group utils
////

/// Icon size
/// @type Length
$icon-size: 40px !default;


/// CodePen color
/// @type Color
$codepen-color: #212121 !default;
/// GitHub color
/// @type Color
$github-color: #333333 !default;
/// Last.FM color
/// @type Color
$lastfm-color: #e31b23 !default;
/// Twitter color
/// @type Color
$twitter-color: darken(#55acee, 10%) !default;


/// Brands
/// @type Map
/// @prop {String} name - Brand name
/// @prop {Color} color - Brand color
/// @prop {Number} opacity - Brand icon opacity
$brands: codepen $codepen-color 1.025,
         github  $github-color  0.950,
         lastfm  $lastfm-color  1.000,
         rss     $brand         0.775,
         twitter $twitter-color 0.925,
         article $brand         0.900,
         feather $brand         0.725,
         heart   $brand         1.000,
         tag     $brand         1.000;
