---
title: Network Offline
lede: <span class=" [ canada ] ">Sorry</span>, it looks like there's a problem with your Internet connection.
js: offline.js
---

<nav class=" [ buttons-list ] " role="navigation">
    <button onclick="window.location.reload()" aria-label="Refresh">Refresh!</button>
</nav>
