---
date: 2022-11-11T21:38:00+0000
updated: 2023-12-09T20:49:17+0000
title: "clamp() Calculator"
description: "Handy little tool for calculating viewport/container-based clamped values for use in CSS"
tags:
  - css
  - calculator
  - design-systems
emoji: 🗜
---

<noscript><p class=" [ box  box--error ] ">Unfortunately, the calculator requires JavaScript to function correctly!</p></noscript>

<!-- </textarea> -->
<!-- '"´ -->
<form id="clamp-calculator" class=" [ grid ] [ clamp-calculator ] " data-layout="50-50">
	<legend class=" [ visually-hidden ] ">
		<h2>{{ title }}</h2>
	</legend>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="size-min" class=" [ delta ] ">Minimum Size <small>(px)</small></label>
		<input id="size-min" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="number" step="0.001" min="0" inputmode="numeric" pattern="^[1-9]\d*(\.\d+)?$" lang="en" value="16" data-default="16"></input>
	</fieldset>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="size-max" class=" [ delta ] ">Maximum Size <small>(px)</small></label>
		<input id="size-max" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="number" step="0.001" min="0" inputmode="numeric" pattern="^[1-9]\d*(\.\d+)?$" lang="en" value="18" data-default="18"></input>
	</fieldset>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="viewport-min" class=" [ delta ] ">Minimum Viewport <small>(px)</small></label>
		<input id="viewport-min" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="number" step="1" min="1" inputmode="numeric" pattern="^[1-9]\d*(\.\d+)?$" lang="en" value="500" data-default="500"></input>
	</fieldset>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="viewport-max" class=" [ delta ] ">Maximum Viewport <small>(px)</small></label>
		<input id="viewport-max" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="number" step="1" min="2" inputmode="numeric" pattern="^[1-9]\d*(\.\d+)?$" lang="en" value="1000" data-default="1000"></input>
	</fieldset>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="font-size-root" class=" [ center  delta ] ">Root Font Size <small>(px)</small></label>
		<input id="font-size-root" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="number" step="0.001" min="0" inputmode="numeric" pattern="^[1-9]\d*(\.\d+)?$" lang="en" value="16" data-default="16"></input>
	</fieldset>
	<fieldset class=" [ clamp-calculator__fieldset ] ">
		<label for="viewport-units" class=" [ center  delta ] ">Viewport Units</label>
		<select id="viewport-units" class=" [ center  monospace ] " style="inline-size: 100%; padding-block: 0.86rem;" lang="en">
			<option value="vw">Width (vw)</opton>
			<option value="vh">Height (vh)</opton>
			<option value="vi" selected data-default="true">Inline (vi)</opton>
			<option value="vb">Block (vb)</opton>
			<option value="vmin">Minimum (vmin)</opton>
			<option value="vmax">Maximum (vmax)</opton>
			<option value="svw">Small Width (svw)</opton>
			<option value="svh">Small Height (svh)</opton>
			<option value="svi">Small Inline (svi)</opton>
			<option value="svb">Small Block (svb)</opton>
			<option value="svmin">Small Minimum (svmin)</opton>
			<option value="svmax">Small Maximum (svmax)</opton>
			<option value="lvw">Large Width (lvw)</opton>
			<option value="lvh">Large Height (lvh)</opton>
			<option value="lvi">Large Inline (lvi)</opton>
			<option value="lvb">Large Block (lvb)</opton>
			<option value="lvmin">Large Minimum (lvmin)</opton>
			<option value="lvmax">Large Maximum (lvmax)</opton>
			<option value="dvw">Dynamic Width (dvw)</opton>
			<option value="dvh">Dynamic Height (dvh)</opton>
			<option value="dvi">Dynamic Inline (dvi)</opton>
			<option value="dvb">Dynamic Block (dvb)</opton>
			<option value="dvmin">Dynamic Minimum (dvmin)</opton>
			<option value="dvmax">Dynamic Maximum (dvmax)</opton>
			<option value="cqw">Container Width (cqw)</opton>
			<option value="cqh">Container Height (cqh)</opton>
			<option value="cqi">Container Inline (cqi)</opton>
			<option value="cqb">Container Block (cqb)</opton>
			<option value="cqmin">Container Minimum (cqmin)</opton>
			<option value="cqmax">Container Maximum (cqmax)</opton>
		</select>
	</fieldset>
	<details id="optional-rounding" class=" [ no-border  no-padding ] " style="grid-column: span 2;">
		<summary>Optional: Rounding</summary>
		<div class=" [ grid ] " data-layout="50-50">
			<fieldset class=" [ clamp-calculator__fieldset ] ">
				<label for="rounding-strategy" class=" [ center  delta ] ">Rounding Strategy</label>
				<select id="rounding-strategy" class=" [ center  monospace ] " style="inline-size: 100%; padding-block: 0.86rem;" lang="en">
					<option value="none" selected data-default="true">None</opton>
					<option value="up">Up</opton>
					<option value="down">Down</opton>
					<option value="nearest">Nearest</opton>
					<option value="to-zero">To Zero</opton>
				</select>
			</fieldset>
			<fieldset class=" [ clamp-calculator__fieldset ] ">
				<label for="rounding-value" class=" [ center  delta ] ">Rounding Value</label>
				<input id="rounding-value" class=" [ center  monospace ] " style="inline-size: 100%; line-height: 3;" type="text" lang="en" value="0.5em" data-default="0.5em" disabled></input>
			</fieldset>
		</div>
	</details>
	<fieldset class=" [ grid  navigator ] " style="grid-column: span 2;">
		<button style="--button-min-inline-size: 10em;" type="submit">Calculate</button>
		<button style="--button-min-inline-size: 10em; background-color: color-mix(in oklab, var(--color-maple), var(--color-mineshaft) 40%);" type="reset">Reset</button>
	</fieldset>
	<fieldset style="grid-column: span 2; margin-block-start: 1em;">
		<label for="output" class=" [ center  gamma ] ">The Result</label>
		<input id="output" class=" [ clamp-calculator__result ] [ center  monospace ] " style="inline-size: 100%; margin-inline: auto; line-height: 3;" type="text" value="clamp(1rem, 0.875rem + 0.4vw, 1.125rem)" readonly></input>
	</fieldset>
</form>

<div id="examples" class="gamma">Visual Example</div>

<div class=" [ box ] [ flow ] ">
	<ul id="visual" class=" [ clamp-calculator__fieldset ] [ flow ] " style="--flow-space: 1.5rem; font-size: 16px; line-height: var(--line-height-small);">
		<li id="visual-root">
			<span>Root Size: 16px</span>
			<div class="size-example" style="margin-block-start: 0.5rem; inline-size: 1em; block-size: 1em;"></div>
		</li>
		<li id="visual-output" style="font-size: clamp(1em, 0.875em + 0.4vw, 1.125em)">
			<span>Clamped Size: 16–18px</span>
			<div class="size-example" style="margin-block-start: 0.5rem; inline-size: 1em; block-size: 1em;"></div>
		</li>
		<li id="visual-calculated" class="requires-js">
			<span>Current Size: 16px<span>
		</li>
		<li id="visual-viewport" class="requires-js">
			<span>Viewport Size: 9001px</span>
		</li>
	</ul>
</div>

<h2 id="how">How does this work?</h2>

<p>This calculator uses <code>rem</code> units which require knowing the font size at the document’s root. In most cases, that refers to the <code>html</code> element and this calculator is currently operating with a root font size of <code id="how-root">16px</code>.</p>

<p><strong aria-hidden="true">1.</strong> We need to figure out the rate of change: how much the size needs to change across a distance across the viewport. In other words, for every pixel of change across the viewport, how many pixels of change should there be in size? We can calculate this by dividing the difference in size by the difference in viewport.</p>

<pre class="language-none"><code id="how-x">Change = (sizeMax - sizeMin) / (viewportMax - viewportMin)
Change = (18px - 16px) / (1000px - 500px)
Change = 0.004</code></pre>

<p><strong aria-hidden="true">2.</strong> Next, let’s figure out what our <em>preferred</em> size should be (this is different from our <em>minimum</em> font size). We do this by asking how much change is applied to the size when the viewport is at its maximum size, and subtracting that from our desired size at the maximum viewport size.</p>

<pre class="language-none"><code id="how-a">A = sizeMax - viewportMax * Change
A = 18px - 1000px * 0.004
A = 14px = 0.875rem</code></pre>

<p><strong aria-hidden="true">3.</strong> The last piece of the puzzle is the most straightforward: we need to represent the rate of change as a value relative to the viewport, and we do so by multiplying the rate of change with <code>100vw</code>.</p>

<pre class="language-none"><code id="how-b">B = 100vw * Change
B = 100vw * 0.004
B = 0.4vw</code></pre>

<p><strong aria-hidden="true">4.</strong> Let’s put everything together with the <code>clamp()</code> function, otherwise our calculated value will be incorrect above and below our designated viewport bounds.</p>

<pre class="language-none"><code id="how-result">Result = clamp(sizeMin, A + B, sizeMax)
Result = clamp(1rem, 0.875rem + 0.4vw, 1.125rem)</code></pre>

<p><strong aria-hidden="true">Optional.</strong> We can perform a simple check that our calculations are correct by plugging in our minimum and maximum viewport values and seeing if they result in our desired minimum and maximum sizes.</p>

<p>Let’s not forget that viewport-based units (<code>vw</code>, <code>vh</code>, etc.) are kind of like a percentage, which we can factor into our calculations by dividing <code>B</code> by 100 when figuring out the true pixel-value result.</p>

<p><em>Note: Because of rounding, there may be some loss of accuracy around the {{ 3 | ordinal | safe }} decimal place in these calculations, but the browser will interpret them well.</em></p>

<pre class="language-none"><code id="how-check">A + B = 0.875rem + 0.4vw
A + B = 14px + 0.4vw

Minimum Size ≈ 14px + (0.004 * 500px)
Minimum Size ≈ 14px + 2px
Minimum Size ≈ 16px

Maximum Size ≈ 14px + (0.004 * 1000px)
Maximum Size ≈ 14px + 4px
Maximum Size ≈ 18px</code></pre>

<h2 id="more">Learn more</h2>

<p>Wondering why we don’t need <code>calc()</code> around the middle value of the <code>clamp()</code> function? <a href="https://css-irl.info">Michelle Barker’s</a> got you covered with <a href="https://css-irl.info/quick-tip-you-might-not-need-calc/">this quick tip</a>, and you can <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/clamp">check out <code>clamp()</code> on MDN</a> (and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/round"><code>round()</code></a>) to learn more.</p>

<p>Shoutout to <a href="https://www.hustlersquad.net/">James Gilyead</a> and <a href="https://www.trysmudford.com/">Trys Mudford</a> for building <a href="https://utopia.fyi/">Utopia</a> which first introduced me to this amazing technique! <em>Utopia</em> helps you in calculating fluid type, space, and grids for fluid responsive designs, and includes tonnes of great information about <em>Utopian Design</em>.</p>

{% css -%}{% renderFile 'src/css/pages/styleguide.scss' %}{%- endcss -%}
<script type="module">{% include '../../../js/pages/clamp-calculator.js' %}</script>
