---
date: 2025-02-07T11:32:16-0400
title: "Currency Converter"
description: "Simple utility to convert between a couple of different currencies"
tags:
  - calculator
emoji: 💸
eleventyComputed:
  updated: "{{ (currencies.date + 'T00:00:00+0000') }}"
---

<noscript><p class=" [ box  box--error ] ">Unfortunately, the converter requires JavaScript to function correctly!</p></noscript>

<!-- </textarea> -->
<!-- '"´ -->
<form id="currency-converter" class=" [ grid  currency-converter ] " data-layout="50-50-small" autocomplete="off">
	<legend class=" [ visually-hidden ] ">
		<h2>{{ title }}</h2>
	</legend>
	<fieldset>
		<label class=" [ gamma ] " for="AUD">
			<span>AUD</span>
			<var>$</var>
			<small>🇦🇺 Australian Dollar</small>
		</label>
		<input id="AUD" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.AUD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="CAD">
			<span>CAD</span>
			<var>$</var>
			<small>🇨🇦 Canadian Dollar</small>
		</label>
		<input id="CAD" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.CAD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="CHF">
			<span>CHF</span>
			<var style="font-size: calc(var(--font-size-beta) * 0.8);">Fr</var>
			<small>🇨🇭 Swiss Franc</small>
		</label>
		<input id="CHF" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.CHF) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="CNY">
			<span>CNY</span>
			<var>¥</var>
			<small>🇨🇳 Chinese Yuan</small>
		</label>
		<input id="CNY" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.CNY) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="DKK">
			<span>DKK</span>
			<var style="font-size: calc(var(--font-size-beta) * 0.8);">kr</var>
			<small>🇩🇰 Danish Krone</small>
		</label>
		<input id="DKK" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.DKK) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="EUR">
			<span>EUR</span>
			<var>€</var>
			<small>🇪🇺 Euro</small>
		</label>
		<input id="EUR" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.amount) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="GBP">
			<span>GBP</span>
			<var>£</var>
			<small>🇬🇧 Pounds Sterling</small>
		</label>
		<input id="GBP" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.GBP) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="HKD">
			<span>HKD</span>
			<var>$</var>
			<small>🇭🇰 Hong Kong Dollar</small>
		</label>
		<input id="HKD" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.HKD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="IDR">
			<span>IDR</span>
			<var style="font-size: calc(var(--font-size-beta) * 0.8);">Rp</var>
			<small>🇮🇩 Indonesian Rupiah</small>
		</label>
		<input id="IDR" class=" [ monospace ] " type="number" min="0" step="1" inputmode="numeric" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.IDR) | maxDecimals(0) }}" data-decimals="0">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="INR">
			<span>INR</span>
			<var>₹</var>
			<small>🇮🇳 Indian Rupee</small>
		</label>
		<input id="INR" class=" [ monospace ] " type="number" min="0" step="1" inputmode="numeric" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.INR) | maxDecimals(0) }}" data-decimals="0">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="JPY">
			<span>JPY</span>
			<var>¥</var>
			<small>🇯🇵 Japanese Yen</small>
		</label>
		<input id="JPY" class=" [ monospace ] " type="number" min="0" step="1" inputmode="numeric" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.JPY) | maxDecimals(0) }}" data-decimals="0">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="MXN">
			<span>MXN</span>
			<var>$</var>
			<small>🇲🇽 Mexican Peso</small>
		</label>
		<input id="MXN" class=" [ monospace ] " type="number" min="0" step="1" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.MXN) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="MYR">
			<span>MYR</span>
			<var style="font-size: calc(var(--font-size-beta) * 0.8);">RM</var>
			<small>🇲🇾 Malaysian Ringgit</small>
		</label>
		<input id="MYR" class=" [ monospace ] " type="number" min="0" step="1" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.MYR) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="NZD">
			<span>NZD</span>
			<var>$</var>
			<small>🇳🇿 New Zealand Dollar</small>
		</label>
		<input id="NZD" class=" [ monospace ] " type="number" min="0" step="1" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.NZD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="PLN">
			<span>PLN</span>
			<var style="font-size: calc(var(--font-size-beta) * 0.8);">zł</var>
			<small>🇵🇱 Polish Złoty</small>
		</label>
		<input id="PLN" class=" [ monospace ] " type="number" min="0" step="1" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.PLN) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="SGD">
			<span>SGD</span>
			<var>$</var>
			<small>🇸🇬 Singaporean Dollar</small>
		</label>
		<input id="SGD" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.SGD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="THB">
			<span>THB</span>
			<var>฿</var>
			<small>🇹🇭 Thai Baht</small>
		</label>
		<input id="THB" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.THB) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="USD">
			<span>USD</span>
			<var>$</var>
			<small>🇺🇸 U.S. Dollar</small>
		</label>
		<input id="USD" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.USD) | maxDecimals(2, false) }}">
	</fieldset>
	<fieldset>
		<label class=" [ gamma ] " for="ZAR">
			<span>ZAR</span>
			<var>R</var>
			<small>🇿🇦 South African Rand</small>
		</label>
		<input id="ZAR" class=" [ monospace ] " type="number" min="0" step="0.01" inputmode="decimal" placeholder="{{ (1 / currencies.rates.CAD * currencies.rates.ZAR) | maxDecimals(2, false) }}">
	</fieldset>
</form>

<hr>

<p class=" [ center  italic ] ">Currency data last updated on <time datetime="{{ (currencies.date + 'T00:00:00+0000') | rfc3339Date }}">{{ (currencies.date + 'T00:00:00+0000') | friendlyDateLong | safe }}</time>.</p>

{% css -%}{% renderFile 'src/css/pages/currency-converter.scss' %}{%- endcss -%}
<script>
const currencies = { {%- for code, value in currencies.rates %}
	{{ code }}: {{ value }},{% endfor %}
};
</script>
<script type="module" defer>{% include '../../../js/pages/currency-converter.js' %}</script>
