////
/// Colors
/// @group abstracts
////

// Process hex values defined in palette and convert into HSL values
$hsl-palette: ();
@each $name, $color in $palette {
	$hsl-palette: map-merge($hsl-palette, (#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)}));
}

// Generate versions of each color in HSL Palette
$full-palette: ();
@each $name, $color in $palette {
	$full-palette: map-merge($full-palette, (#{$name}: hsl(var(--hsl-#{$name}))));
	@each $opacity, $value in $opacities {
		$full-palette: map-merge($full-palette, (#{$name}--#{$opacity}: hsla(var(--hsl-#{$name}) / var(--opacity-#{$opacity}))));
	}
}

$language-colors: (
	css: #016fba,
	html: #e54d26,
	javascript: #f1c54c,
	liquid: #7ab55c,
	markdown: #4a525a,
	nunjucks: #3d8137,
	scss: #c6538c,
);

// Now that opacity-versions are generated, merge all colors together
$all-colors: map-multiple-merge(
	$full-palette,
	(
		transparent: rgba(0, 0, 0, 0%),
		shadow: 0deg 0% 60%,
	),
	$language-colors
);
