////
/// Colors
/// @group abstracts
////

// Process hex values defined in palette and convert into HSL values
$hsl-palette: ();
@each $name, $color in $palette {
	$hsl-palette: map-merge($hsl-palette, (#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)}));
}
$shadow-palette: (
	shadow: var(--hsl-alto),
);

$language-colors: (
	css: #016fba,
	html: #e54d26,
	javascript: #f1c54c,
	liquid: #7ab55c,
	markdown: #4a525a,
	nunjucks: #3d8137,
	scss: #c6538c,
);

// Now that opacity-versions are generated, merge all colors together
$all-colors: map-multiple-merge($language-colors);
