////
/// CSS Variables
/// @group abstracts
////

:root {
    --base-font-size: #{$base-font-size};

    @each $key, $value in $measures {
        --measure-#{$key}: #{$value};
    }

    @each $key, $value in $opacities {
        --opacity-#{$key}: #{$value};
    }

    @each $key, $value in $all-colors {
        --color-#{$key}: #{$value};
    }

    @each $key, $value in $border-widths {
        --border-width-#{$key}: #{$value};
    }

    @each $key, $value in $border-styles {
        --border-style-#{$key}: #{$value};
    }

    @each $key, $value in $border-radii {
        --border-radius-#{$key}: #{$value};
    }

    @each $key, $value in $font-displays {
        --font-display-#{$key}: #{$value};
    }

    @each $key, $value in $font-families {
        --font-family-#{$key}: #{$value};
    }

    @each $key, $value in $font-sizes {
        --font-size-#{$key}: #{$value};
    }

    @each $key, $value in $font-stretches {
        --font-stretch-#{$key}: #{$value};
    }

    @each $key, $value in $font-variants {
        --font-variant-#{$key}: #{$value};
    }

    @each $key, $value in $font-weights {
        --font-weight-#{$key}: #{$value};
    }

    @each $key, $value in $unicode-ranges {
        --unicode-range-#{$key}: #{$value};
    }

    @each $key, $value in $line-heights {
        --line-height-#{$key}: #{$value};
    }

    @each $key, $value in $letter-spacings {
        --letter-spacing-#{$key}: #{$value};
    }

    --animation-duration: #{$animation-duration};
    --animation-function: #{$animation-function};
    --animation-fill-mode: #{$animation-fill-mode};

    --rotation-default: #{$rotation-default};

    --transition-duration-default: #{$transition-duration-default};
    --transition-duration-long: #{$transition-duration-long};
    --transition-function: #{$transition-function};

    @each $key, $value in $z-indexes {
        --z-index-#{$key}: #{$value};
    }

    --max-columns: #{$max-columns};

    --color-scheme: "light";
}
