$generated-tokens: (
  measure: (
    breakpoint-small: 500px,
    breakpoint-medium: 700px,
    breakpoint-large: 1000px,
    breakpoint-gigantic: 1200px,
    gap: 2.5rem,
    gutter: 1.25rem,
    avatar: 100px,
    avatar-small: 48px,
    tiny: 0.3125rem,
    small: 0.625rem,
    medium: 1.25rem,
    large: 2.25rem,
    gigantic: 4rem,
    line-length-minimum: 21em,
    line-length-maximum: 30em,
    line-length-clamp: clamp(21em, 100vw, 30em)
  ),
  opacity: (
    alpha: 0.9,
    beta: 0.5,
    gamma: 0.1,
    delta: 0.05
  ),
  color: (
    transparent: rgba(0, 0, 0, 0),
    bowhead: #4f758e,
    raven: #5f8aa6,
    coyote: #7298b1,
    bear: #eaeef1,
    lynx: #303537,
    canada: #eb2d37,
    black: #060606,
    mineshaft: #2b2b2b,
    kaiser: #4f4f4f,
    dove: #737373,
    alto: #dddddd,
    white: #f9f9f9,
    highlight: gold,
    black--alpha: rgba(6, 6, 6, 0.9),
    black--beta: rgba(6, 6, 6, 0.5),
    black--gamma: rgba(6, 6, 6, 0.1),
    black--delta: rgba(6, 6, 6, 0.05),
    white--alpha: rgba(249, 249, 249, 0.9),
    white--beta: rgba(249, 249, 249, 0.5),
    white--gamma: rgba(249, 249, 249, 0.1),
    white--delta: rgba(249, 249, 249, 0.05),
    raven--alpha: rgba(95, 138, 166, 0.9),
    raven--beta: rgba(95, 138, 166, 0.5),
    raven--gamma: rgba(95, 138, 166, 0.1),
    raven--delta: rgba(95, 138, 166, 0.05),
    coyote--alpha: rgba(114, 152, 177, 0.9),
    coyote--beta: rgba(114, 152, 177, 0.5),
    coyote--gamma: rgba(114, 152, 177, 0.1),
    coyote--delta: rgba(114, 152, 177, 0.05),
    bowhead--alpha: rgba(79, 117, 142, 0.9),
    bowhead--beta: rgba(79, 117, 142, 0.5),
    bowhead--gamma: rgba(79, 117, 142, 0.1),
    bowhead--delta: rgba(79, 117, 142, 0.05),
    highlight-alpha: #586e75,
    highlight-beta: #abbbbb,
    highlight-gamma: lightgreen,
    highlight-delta: #cb4b16,
    highlight-epsilon: mediumspringgreen,
    highlight-zeta: #dc322f,
    highlight-eta: skyblue,
    highlight-theta: #b58900,
    css: #016fba,
    haml: #e54d26,
    html: #e54d26,
    jade: #e54d26,
    javascript: #f1c54c,
    liquid: #7ab55c,
    markdown: #4a525a,
    nunjucks: #3d8137,
    sass: #c6538c,
    scss: #c6538c,
    liquid-white: #e0ebda
  ),
  border-width: (
    default: 0.25rem,
    thin: 0.125rem,
    hairline: 1px,
    button: 0.182em
  ),
  font-family: (
    default: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    alpha: "Heebo", sans-serif,
    serif: Georgia, Times, Times New Roman, serif,
    monospace: monospace
  ),
  font-weight: (
    default: 400,
    bold: 600
  ),
  line-height: (
    default: 1.875,
    small: 1.25,
    medium: 1.429,
    code: 2
  ),
  letter-spacing: (
    default: 0,
    uppercase: 1px
  ),
  transition-duration: (
    default: 0.2s,
    long: 1s
  ),
  transition-function: (
    default: ease,
    alternate: linear
  ),
  z-index: (
    below: -1,
    root: 0,
    default: 1,
    above: 2,
    modal: 3,
    dialog: 4,
    notification: 5
  )
);
