////
/// Lists
/// @group abstracts
////

/// @type List
$font-family-default: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
/// @type List
$font-family-alpha: "Heebo", sans-serif;
/// @type List
$font-family-serif: Georgia, Times, Times New Roman, serif;
/// @type List
$font-family-monospace: monospace;
