////
/// Lists
/// @group abstracts
////

/// @type List
$font-family-default: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
/// @type List
$font-family-alpha: "Heebo", sans-serif !default;
/// @type List
$font-family-serif: Georgia, Times, Times New Roman, serif !default;
/// @type List
$font-family-monospace: monospace !default;

/// @type List
/// @prop {String} Body / Primary Navigation Class
$navigation-classes: about, archive, search !default;

/// @type List
/// @prop {String} Generic Property Value
$generic-values: auto, inherit, initial, none, revert, unset, 0, 1, 100%, currentColor !default;
