////
/// Maps
/// @group abstracts
////

/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
/// @see {Mixin} media
$breakpoints: (
    small: 500px,
    medium: 700px,
    large: 1000px,
    gigantic: 1200px,
);

$language-colors: (
    css: "css",
    html: "html",
    javascript: "javascript",
    liquid: "liquid",
    markdown: "markdown",
    twig: "nunjucks",
    scss: "scss"
);

/// @type Map
/// @prop {String} family - Font Family
/// @prop {String} name - Font Family Friendly Name
/// @prop {String} display - Font Display
/// @prop {String} stretch - Font Stretch
/// @prop {String} style - Font Style
/// @prop {String} variant - Font Variant
/// @prop {Number} weight - Font Weight
/// @prop {String} filename - Font Filename
$font-faces: (
    (
        family: "Heebo",
        name: "Black",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: default,
        filename: "heebo-black",
    ),
    (
        family: "Proxima Nova",
        name: "Regular",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: default,
        filename: "proxima-nova-regular",
    ),
    (
        family: "Proxima Nova",
        name: "Italic",
        display: default,
        stretch: default,
        style: italic,
        variant: default,
        weight: default,
        filename: "proxima-nova-italic",
    ),
    (
        family: "Proxima Nova",
        name: "Semibold",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: bold,
        filename: "proxima-nova-semibold",
    ),
) !default;
