////
/// Maps
/// @group abstracts
////

/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
/// @see {Mixin} media
$breakpoints: (
    small: $measure-breakpoint-small,
    medium: $measure-breakpoint-medium,
    large: $measure-breakpoint-large
) !default;

/// @type Map
/// @prop {String} key - Measure name
/// @prop {Length} value - Measure value
/// @see {Mixin} v
$measures: (
    breakpoint-small: $measure-breakpoint-small,
    breakpoint-medium: $measure-breakpoint-medium,
    breakpoint-large: $measure-breakpoint-large,
    gap: $measure-gap,
    gutter: $measure-gutter,
    aside: $measure-aside,
    content: $measure-content,
    avatar: $measure-avatar,
    avatar-small: $measure-avatar-small,
    icon: $measure-icon,
    logo: $measure-logo,
    small: $measure-small,
    small-relative: $measure-small-relative,
    small-proportional: $measure-small-proportional,
    medium: $measure-medium,
    medium-relative: $measure-medium-relative,
    medium-proportional: $measure-medium-proportional,
    large: $measure-large,
    large-relative: $measure-large-relative,
    large-proportional: $measure-large-proportional,
    gigantic: $measure-large,
    gigantic-relative: $measure-large-relative,
    gigantic-proportional: $measure-large-proportional,
    one: $measure-one,
    one-relative: $measure-one-relative,
    line-length-minimum: $measure-line-length-minimum,
    line-length-maximum: $measure-line-length-maximum,
    line-length-responsive: $measure-line-length-responsive,
    line-length-clamp: $measure-line-length-clamp
) !default;

/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
/// @see {Function} opacities
/// @see {Mixin} v
$opacities: (
    alpha: $opacity-alpha,
    beta: $opacity-beta,
    gamma: $opacity-gamma,
    delta: $opacity-delta
) !default;

/// @type Map
/// @prop {String} key - Color Name
/// @prop {Color} value - Color Value
/// @see {Mixin} v
$site-colors: (
    transparent: $color-transparent,
    bowhead: $color-bowhead,
    raven: $color-raven,
    coyote: $color-coyote,
    canada: $color-canada,
    black: $color-black,
    mineshaft: $color-mineshaft,
    kaiser: $color-kaiser,
    dove: $color-dove,
    alto: $color-alto,
    white: $color-white,
    highlight: $color-highlight,
    black--alpha: $color-black--alpha,
    black--gamma: $color-black--gamma,
    black--delta: $color-black--delta,
    raven--gamma: $color-raven--gamma
) !default;

/// @type Map
/// @prop {String} key - Color Name
/// @prop {Color} value - Color Value
$palette-colors: (
    bowhead: $color-bowhead,
    raven: $color-raven,
    coyote: $color-coyote,
    canada: $color-canada,
    black: $color-black,
    mineshaft: $color-mineshaft,
    kaiser: $color-kaiser,
    dove: $color-dove,
    alto: $color-alto,
    white: $color-white
) !default;

/// @type Map
/// @prop {String} key - Highlight Color Name
/// @prop {Color} value - Highlight Color Value
$highlight-colors: (
    highlight-alpha: $color-highlight-alpha,
    highlight-beta: $color-highlight-beta,
    highlight-gamma: $color-highlight-gamma,
    highlight-delta: $color-highlight-delta,
    highlight-epsilon: $color-highlight-epsilon,
    highlight-zeta: $color-highlight-zeta,
    highlight-eta: $color-highlight-eta,
    highlight-theta: $color-highlight-theta
) !default;

/// @type Map
/// @prop {String} key - Language name
/// @prop {Color} value - Language color
$language-colors: (
    css: $color-css,
    haml: $color-html,
    html: $color-html,
    jade: $color-html,
    javascript: $color-javascript,
    liquid: $color-liquid,
    markdown: $color-markdown,
    sass: $color-sass,
    scss: $color-sass,
    liquid-white: $color-liquid-white
) !default;

/// @type Map
/// @prop {String} key - Language name
/// @prop {Color} value - Language color
$brand-colors: (
    codepen: $color-codepen,
    github: $color-github,
    lastfm: $color-lastfm,
    nintendo: $color-nintendo,
    spotify: $color-spotify,
    twitter: $color-twitter
) !default;

/// @type Map
$all-colors: map-multiple-merge($site-colors, $highlight-colors, $language-colors, $brand-colors);

/// @type Map
/// @prop {String} key - Border Width Name
/// @prop {Color} value - Border Width Value
/// @see {Mixin} v
$border-widths: (
    default: $border-width-default,
    thin: $border-width-thin,
    hairline: $border-width-hairline,
    button: $border-width-button
) !default;

/// @type Map
/// @prop {String} key - Border Style Name
/// @prop {Color} value - Border Style Value
/// @see {Mixin} v
$border-styles: (
    default: $border-style-default,
    alternate: $border-style-alternate
) !default;

/// @type Map
/// @prop {String} key - Border Radius Name
/// @prop {Color} value - Border Radius Value
/// @see {Mixin} v
$border-radii: (
    default: $border-radius-default,
    thin: $border-radius-thin,
    hairline: $border-radius-hairline
) !default;


/// @type Map
/// @prop {String} family - Font Family
/// @prop {String} name - Font Family Friendly Name
/// @prop {String} display - Font Display
/// @prop {String} stretch - Font Stretch
/// @prop {String} style - Font Style
/// @prop {String} variant - Font Variant
/// @prop {Number} weight - Font Weight
/// @prop {String} filename - Font Filename
$font-faces: (
    (
        family: "Heebo",
        name: "Black",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: default,
        filename: "heebo-black"
    ),
    (
        family: "Proxima Nova",
        name: "Regular",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: default,
        filename: "proxima-nova-regular"
    ),
    (
        family: "Proxima Nova",
        name: "Italic",
        display: default,
        stretch: default,
        style: italic,
        variant: default,
        weight: default,
        filename: "proxima-nova-italic"
    ),
    (
        family: "Proxima Nova",
        name: "Semibold",
        display: default,
        stretch: default,
        style: normal,
        variant: default,
        weight: bold,
        filename: "proxima-nova-semibold"
    )
) !default;

/// @type Map
/// @prop {String} key - Font Display Name
/// @prop {String} value - Font Display Value
/// @see {Mixin} v
$font-displays: (
    default: $font-display-default
) !default;

/// @type Map
/// @prop {String} key - Font Family name
/// @prop {Number} value - Font Family Value
/// @see {Mixin} font-family
/// @see {Mixin} v
$font-families: (
    default: $font-family-default,
    alpha: $font-family-alpha,
    serif: $font-family-serif,
    monospace: $font-family-monospace
) !default;

/// @type Map
/// @prop {String} key - Font Size Name
/// @prop {Number} value - Font Size Value
/// @see {Mixin} v
$font-sizes: (
    default: $font-size-default,
    alpha: $font-size-alpha,
    beta: $font-size-beta,
    gamma: $font-size-gamma,
    large: $font-size-large,
    large-relative: $font-size-large-relative,
    small: $font-size-small,
    small-relative: $font-size-small-relative,
    tiny: $font-size-tiny,
    tiny-relative: $font-size-tiny-relative
) !default;

/// @type Map
/// @prop {String} key - Font Stretch Name
/// @prop {String} value - Font Stretch Value
/// @see {Mixin} v
$font-stretches: (
    default: $font-stretch-default
) !default;

/// @type Map
/// @prop {String} key - Font Variant Name
/// @prop {String} value - Font Variant Value
/// @see {Mixin} v
$font-variants: (
    default: $font-variant-default
) !default;

/// @type Map
/// @prop {String} key - Font Weight Name
/// @prop {Color} value - Font Weight Value
/// @see {Mixin} v
$font-weights: (
    default: $font-weight-default,
    bold: $font-weight-bold
) !default;

/// @type Map
/// @prop {String} key - Unicode Range Name
/// @prop {String} value - Unicode Range Value
/// @see {Mixin} v
$unicode-ranges: (
    default: $unicode-range-default
) !default;

/// @type Map
/// @prop {String} key - Line Height Name
/// @prop {Number} value - Line Height Value
/// @see {Mixin} v
$line-heights: (
    default: $line-height-default,
    small: $line-height-small,
    medium: $line-height-medium,
    code: $line-height-code
) !default;

/// @type Map
/// @prop {String} key - Letter Spacing Name
/// @prop {Number} value - Letter Spacing Value
/// @see {Mixin} v
$letter-spacings: (
    default: $letter-spacing-default,
    uppercase: $letter-spacing-uppercase
) !default;

/// @type Map
/// @prop {String} key - Transition Duration Name
/// @prop {Number} value - Transition Duration Value
/// @see {Mixin} v
$transition-durations: (
    default: $transition-duration-default,
    long: $transition-duration-long
) !default;

/// @type Map
/// @prop {String} key - Transition Function Name
/// @prop {Number} value - Transition Function Value
/// @see {Mixin} v
$transition-functions: (
    default: $transition-function-default,
    alternate: $transition-function-alternate
) !default;

/// @type Map
/// @prop {String} key - z-index Name
/// @prop {Number} value - z-index Value
/// @see {Function} z-index
/// @see {Mixin} v
$z-indexes: (
    below: $z-index-below,
    root: $z-index-root,
    default: $z-index-default,
    above: $z-index-above,
    modal: $z-index-modal,
    dialog: $z-index-dialog,
    notification: $z-index-notification
) !default;

/// @type Map
/// @prop {Array} key - Aspect Ratio
/// @prop {Length} value - Percentage for sizing
$aspect-ratios: (
    "16-by-9": 56.25%,
    "4-by-3": 75%
) !default;

/// @type Map
/// @prop {String} name - Brand name
/// @prop {Color} color - Icon color
/// @prop {Number} opacity - Brand icon opacity
$brand-details: (
    (
        name: "codepen",
        color: white,
        ratio: 1
    ),
    (
        name: "github",
        color: white,
        ratio: 1
    ),
    (
        name: "lastfm",
        color: lastfm,
        ratio: 1
    ),
    (
        name: "switch",
        color: nintendo,
        ratio: 0.9
    ),
    (
        name: "rss",
        color: white,
        ratio: 0.775
    ),
    (
        name: "spotify",
        color: spotify,
        ratio: 0.925
    ),
    (
        name: "twitter",
        color: twitter,
        ratio: 0.925
    ),
    (
        name: "article",
        color: white,
        ratio: 0.9
    ),
    (
        name: "feather",
        color: white,
        ratio: 0.725
    ),
    (
        name: "heart",
        color: white,
        ratio: 1
    ),
    (
        name: "link",
        color: white,
        ratio: 1
    ),
    (
        name: "search",
        color: white,
        ratio: 1
    ),
    (
        name: "tag",
        color: white,
        ratio: 1
    )
) !default;

/// @type Map
/// @see {Mixin} v
$variable-map: (
    border-radii: $border-radii,
    border-style: $border-styles,
    border-width: $border-widths,
    color: $all-colors,
    font-display: $font-displays,
    font-family: $font-families,
    font-size: $font-sizes,
    font-stretch: $font-stretches,
    font-variant: $font-variants,
    font-weight: $font-weights,
    letter-spacing: $letter-spacings,
    line-height: $line-heights,
    measure: $measures,
    opacity: $opacities,
    transition-duration: $transition-durations,
    transition-function: $transition-functions,
    unicode-range: $unicode-ranges,
    z-index: $z-indexes
) !default;

/// @type Map
/// @see {Mixin} v
$property-map: (
    width: measure,
    min-width: measure,
    min-inline-size: measure,
    max-width: measure,
    max-inline-size: measure,
    height: measure,
    min-height: measure,
    min-block-size: measure,
    max-height: measure,
    max-block-size: measure,
    padding: measure,
    padding-block: measure,
    padding-inline: measure,
    padding-top: measure,
    padding-block-start: measure,
    padding-right: measure,
    padding-inline-end: measure,
    padding-bottom: measure,
    padding-block-end: measure,
    padding-left: measure,
    padding-inline-start: measure,
    margin: measure,
    margin-block: measure,
    margin-inline: measure,
    margin-top: measure,
    margin-block-start: measure,
    margin-right: measure,
    margin-inline-end: measure,
    margin-bottom: measure,
    margin-block-end: measure,
    margin-left: measure,
    margin-inline-start: measure,
    outline-offset: measure,
    flex-basis: measure,
    grid-gap: measure,
    column-gap: measure,
    row-gap: measure,
    top: measure,
    bottom: measure,
    left: measure,
    right: measure,
    background-color: color,
    color: color,
    caret-color: color,
    border-color: color,
    border-block-color: color,
    border-inline-color: color,
    border-top-color: color,
    border-block-start-color: color,
    border-right-color: color,
    border-inline-start-color: color,
    border-bottom-color: color,
    border-block-end-color: color,
    border-left-color: color,
    border-inline-end-color: color,
    outline-color: color,
    fill: color,
    stroke: color,
    text-decoration-color: color,
    text-emphasis-color: color,
    border-style: border-style,
    border-block-style: border-style,
    border-inline-style: border-style,
    border-top-style: border-style,
    border-block-start-style: border-style,
    border-right-style: border-style,
    border-inline-start-style: border-style,
    border-bottom-style: border-style,
    border-block-end-style: border-style,
    border-left-style: border-style,
    border-inline-end-style: border-style,
    outline-style: border-style,
    border-width: border-width,
    border-block: border-width,
    border-inline: border-width,
    border-top-width: border-width,
    border-block-start-width: border-width,
    border-right-width: border-width,
    border-inline-start-width: border-width,
    border-bottom-width: border-width,
    border-block-end-width: border-width,
    border-left-width: border-width,
    border-inline-end-width: border-width,
    outline-width: border-width,
    text-decoration-thickness: border-width,
    text-underline-offset: border-width,
    border-radius: border-radii,
    border-top-left-radius: border-radii,
    border-start-start-radius: border-radii,
    border-top-right-radius: border-radii,
    border-start-end-radius: border-radii,
    border-bottom-right-radius: border-radii,
    border-end-end-radius: border-radii,
    border-bottom-left-radius: border-radii,
    border-end-start-radius: border-radii,
    opacity: opacity,
    font-display: font-display,
    font-family: font-family,
    font-size: font-size,
    font-stretch: font-stretch,
    font-variant: font-variant,
    font-weight: font-weight,
    letter-spacing: letter-spacing,
    line-height: line-height,
    transition-duration: transition-duration,
    transition-function: transition-function,
    unicode-range: unicode-range,
    z-index: z-index
) !default;

/// @type Map
/// @see {Mixin} t
/// @see {Mixin} v
/// @see /src/scss/themes
/// Unused with CSS Variables
// $themes: (
//     ...
// ) !default;
