////
/// Mixins
/// @group abstracts
////

///
/// Add a border-radius.
///
/// @author Chris Burnell
///
/// @param {String} $thickness - Thickness of Border Radius
/// @param {String} $border-radius - Type of Border Radius
///
/// @example scss - Zero parameters
///   @include radius;
///   // border-radius: 0.375rem;
///
/// @example scss - One parameter
///   @include radius(1em);
///   // border-radius: 1em;
///
@mixin border-radius($thickness: default, $border-radius: null) {
    @if not is-length($thickness) {
        @if map-has-key($border-radii, $thickness) {
            $thickness: map-get($border-radii, $thickness);
        }
        @else if is-edge($thickness) {
            $border-radius: $thickness;
            $thickness: $border-radius-default;
        }
        @else {
            @error "There is no `thickness` named `#{$thickness}` in `$border-radii`. `thickness` should be one of `#{map-keys($border-radii)}`.";
        }
    }

    @if $border-radius and is-edge($border-radius) {
        $top-left: if($border-radius == "top" or $border-radius == "left" or $border-radius == "top-left", $thickness, 0);
        $top-right: if($border-radius == "top" or $border-radius == "right" or $border-radius == "top-right", $thickness, 0);
        $bottom-right: if($border-radius == "bottom" or $border-radius == "right" or $border-radius == "bottom-right", $thickness, 0);
        $bottom-left: if($border-radius == "bottom" or $border-radius == "left" or $border-radius == "bottom-left", $thickness, 0);

        $border-radius: $top-left $top-right $bottom-right $bottom-left;
    }
    @else {
        $border-radius: $thickness;
    }

    background-clip: padding-box;
    border-radius: $border-radius;
}

///
/// Change the case of text and apply appropriate letter-spacing.
///
/// @param {String} $case - Case of Text
/// @param {String} $letter-spacing [null] - Letter-spacing of Text
///
/// @example scss
///   @include case(uppercase);
///   // text-transform: uppercase;
///   // letter-spacing: 1px;
///
@mixin case($case, $letter-spacing: null) {
    @if not $case {
        @error "case() expects at least one parameter.";
    }

    text-transform: $case;

    @if $letter-spacing != null {
        letter-spacing: $letter-spacing;
    }
    @else if $case == "uppercase" {
        letter-spacing: $letter-spacing-uppercase;
    }
}

///
/// Clear an element of floats.
///
@mixin clear() {
    clear: both;
    zoom: 1;

    &::before,
    &::after {
        content: "";
        display: table;
    }

    &::after {
        clear: both;
    }
}

///
/// Specify a font-family.
///
/// @author Chris Burnell
///
/// @param {String} $family - Font-family value
///
/// @example scss - One family
///   @include font-family(default);
///   // font-family: "Proxima Nova", sans-serif;
///
/// @example scss - One family, one display
///   @include font-family(serif, auto);
///   // font-family: Georgia, serif;
///
/// @throw Error if no parameters are passed.
/// @throw Error if parameter passed does not match a key in $font-families.
///
@mixin font-family($family) {
    @if not $family {
        @error "font-family() expects at least one parameter.";
    }

    @if not map-has-key($font-families, $family) {
        @error "There is no `font-family` named `#{$family}` in `$font-families`. `font-family` should be one of `#{map-keys($font-families)}`.";
    }

    @include v(font-family, $family);

    @if $family == "monospace" {
        font-variant-ligatures: none;
    }
}

///
/// Hyphenate words.
///
@mixin hyphenate() {
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

///
/// Break words.
///
@mixin break-words() {
    overflow-wrap: break-word;
    word-break: break-word;
}

///
/// Make text non-selectable.
///
@mixin non-selectable() {
    user-select: none;
    -webkit-touch-callout: default;
    -webkit-touch-callout: none;
}

///
/// Absolutely position an element.
///
/// @author Chris Burnell
///
/// @param {String} $position - Position of the element
/// @param {String} $offset [0] - How much to offset from the position
///
/// @example scss
///   @include absolute(bottom-left);
///   // position: absolute;
///   // bottom: 0;
///   // left: 0;
///
/// @example scss
///   @include absolute(right, 1em);
///   // position: absolute;
///   // right: 1em;
///   // top: 50%;
///   // transform: translateY(-50%);
///
/// @example scss
///   @include absolute(top-full);
///   // position: absolute;
///   // top: 0;
///   // right: 0;
///   // left: 0;
///
/// @example scss
///   @include absolute(top-full, 1em);
///   // position: absolute;
///   // top: 1em;
///   // right: 0;
///   // left: 0;
///
/// @example scss
///   @include absolute(top-full-offset, 1em);
///   // position: absolute;
///   // top: 1em;
///   // right: 1em;
///   // left: 1em;
///
/// @throw Error if no parameters are passed.
///
@mixin absolute($position, $offset: 0) {
    @if not $position {
        @error "absolute() expects one parameter.";
    }
    @else if $position == none {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }
    @else if $position == center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    @else if str-index(#{$position}, "full") {
        position: absolute;

        @if str-index(#{$position}, "top") {
            top: $offset;

            @if str-index(#{$position}, "offset") {
                right: $offset;
                left: $offset;
            }
            @else {
                right: 0;
                left: 0;
            }
        }
        @else if str-index(#{$position}, "right") {
            right: $offset;

            @if str-index(#{$position}, "offset") {
                top: $offset;
                bottom: $offset;
            }
            @else {
                top: 0;
                bottom: 0;
            }
        }
        @else if str-index(#{$position}, "bottom") {
            bottom: $offset;

            @if str-index(#{$position}, "offset") {
                right: $offset;
                left: $offset;
            }
            @else {
                right: 0;
                left: 0;
            }
        }
        @else if str-index(#{$position}, "left") {
            left: $offset;

            @if str-index(#{$position}, "offset") {
                top: $offset;
                bottom: $offset;
            }
            @else {
                top: 0;
                bottom: 0;
            }
        }
        @else {
            top: $offset;
            right: $offset;
            bottom: $offset;
            left: $offset;
        }
    }
    @else if is-edge($position) {
        position: absolute;

        @if str-index(#{$position}, "top") {
            top: $offset;
            @if not str-index(#{$position}, "-") {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @if str-index(#{$position}, "right") {
            right: $offset;
            @if not str-index(#{$position}, "-") {
                top: 50%;
                transform: translateY(-50%);
            }
        }
        @if str-index(#{$position}, "bottom") {
            bottom: $offset;
            @if not str-index(#{$position}, "-") {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @if str-index(#{$position}, "left") {
            left: $offset;
            @if not str-index(#{$position}, "-") {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

///
/// Define characters for quotes
///
/// @author Chris Burnell
///
/// @example scss
///   @include quotes;
///   // quotes: "“" "”" "‘" "’";
///
@mixin quotes() {
    hanging-punctuation: first;

    &,
    :lang(en) & {
        quotes: "“" "”" "‘" "’";
    }

    :lang(de) &,
    :lang(pl) & {
        quotes: "„" "“" "‚" "‘";
    }

    :lang(fr) & {
        quotes: "« " " »" "‹ " " ›";
    }
}

///
/// Reset Font Size
///
/// @author Chris Burnell
///
/// @example scss
///   ul {
///       @include reset-font-size(li);
///   }
///   // ul {
///   //     font-size: 0;
///   // }
///   // ul > li {
///   //     font-size: 1rem;
///   // }
///
@mixin reset-font-size($child: null, $font-size: default) {
    font-size: 0;

    @if ($child) {
        #{$child} {
            @include v(font-size, $font-size);
        }
    }
    @else {
        & > * {
            @include v(font-size, $font-size);
        }
    }
}

///
/// Tabular Lining Numerals
///
/// @author Chris Burnell
///
@mixin tabular-lining-numerals() {
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "lnum", "tnum";
}

///
/// Generate transitions based on flexible input parameters.
/// Pass zero or more properties and zero to two further parameters.
/// If passing two or more properties, quotation marks must be used.
///
/// @author Chris Burnell
///
/// @param {String} $transitions - Transitions
///
/// @example scss - Zero parameters
///   @include transition;
///   // transition: all 0.2s ease;
///
/// @example scss - One property
///   @include transition(color);
///   // transition: color 0.2s ease;
///
/// @example scss - Two properties
///   @include transition(color, border);
///   // transition: color 0.2s ease, border 0.2s ease;
///
/// @example scss - One property, one duration
///   @include transition(color 0.5s);
///   // transition: color 0.5s ease;
///
/// @example scss - One property, one duration, one timing function
///   @include transition(color 1s linear);
///   // transition: color 1s linear;
///
/// @example scss - Two properties, two durations, two timing functions
///   @include transition(color 2s ease-in-out, border 1s linear);
///   // transition: color 2s ease-in-out, border 1s linear;
///
@mixin transition($transitions...) {
    $transition: ();

    // if no parameter, transition all with default duration and function
    @if length($transitions) == 0 {
        $transition: all #{$transition-duration-default} #{$transition-function};
    }
    // if parameter just set to `none` then just transition nothing
    @else if $transitions == none {
        $transition: none;
    }
    // if the parameter contains a comma then operating on multiple properties
    @else if str-index(#{$transitions}, ",") {
        @each $transition-segment in $transitions {
            $transition: append($transition, unpack-transition($transition-segment), comma);
        }
    }
    @else {
        $transition: unpack-transition($transitions...);
    }

    transition: $transition;
}

///
/// Describes CSS changes to the browser; to be coupled with any transitions.
///
/// @author Chris Burnell
///
/// @param {String} $changes - Changes
///
/// @example scss - One parameter
///   @include will-change(color);
///   // will-change: color;
///
/// @example scss - Multiple parameters
///   @include will-change(color, border);
///   // will-change: color, border;
///
/// @throw Error if no parameters are passed.
///
@mixin will-change($changes...) {
    @if length($changes) == 0 {
        @error "will-change() expects at least one parameter.";
    }

    will-change: $changes;
}

///
/// Select a CSS variable and provide a fallback
///
@mixin v($property, $value, $negative: false, $important: false, $hide: false) {
    $map-name: map-get($property-map, $property);
    $nest-name: null;
    $nest-map-name: null;
    $map: null;
    $variable-fallback: null;
    $variable-output: null;

    // if a Nested List, we need to go deeper
    @if type-of($map-name) == list {
        $nest-name: nth($map-name, 1);
        $nest-map-name: nth($map-name, 2);
    }

    // if it is a Nested List
    @if $nest-name {
        // get the map from nested map-name
        $map: map-get($variable-map, $nest-name);
        // get the nested map
        $nest-map: map-get($map, $nest-map-name);
        // throw a warning if the value does not exist
        @if not map-has-key($nest-map, $value) {
            @warn "There is no value named `#{$value}` in the `#{$nest-name}` variable list. The value should be one of `#{map-keys($nest-map)}`. As a result, the fallback value cannot be provided.";
        }
        // fallback value, get the var value from the nested map
        $variable-fallback: map-get($nest-map, $value);
        // our CSS Variable output
        $variable-output: var(--#{$nest-name}-#{$nest-map-name}-#{$value});
    }
    @else {
        // get the map from map name
        $map: map-get($variable-map, $map-name);
        // throw a warning if the value does not exist
        @if not map-has-key($map, $value) {
            @warn "There is no value named `#{$value}` in the `#{$map-name}` variable map. The value should be one of `#{map-keys($map)}`. As a result, the fallback value cannot be provided.";
        }
        // fallback value, grab the variable's value from the map
        $variable-fallback: map-get($map, $value);
        // our CSS Variable output
        $variable-output: var(--#{$map-name}-#{$value});
    }

    // output the value from SCSS as-is as well as the associated CSS variable
    @if $important {
        @if $hide != "fallback" {
            @if $negative {
                #{$property}: #{$variable-fallback * -1} !important;
            }
            @else {
                #{$property}: $variable-fallback !important;
            }
        }
        @if $hide != "output" {
            @if $negative {
                #{$property}: calc(#{$variable-output} * -1) !important;
            }
            @else {
                #{$property}: $variable-output !important;
            }
        }
    }
    @else {
        @if $hide != "fallback" {
            @if $negative {
                #{$property}: #{$variable-fallback * -1};
            }
            @else {
                #{$property}: $variable-fallback;
            }
        }
        @if $hide != "output" {
            @if $negative {
                #{$property}: calc(#{$variable-output} * -1);
            }
            @else {
                #{$property}: $variable-output;
            }
        }
    }
}

///
/// Output properties and values for all defined themes
///
@mixin t($properties...) {
    @each $theme, $data in $themes {
        @if $theme == "light" {
            @each $property in $properties {
                @if map-has-key($data, $property) {
                    @include v($property, map-get($data, $property));
                }
            }
        }
        @else {
            .#{$theme} & {
                @each $property in $properties {
                    @if map-has-key($data, $property) {
                        @include v($property, map-get($data, $property));
                    }
                }
            }
        }
    }
}

///
/// Simplify z-index.
///
/// @param {String} $z-index - Generic level
///
/// @example scss
///   @include z-index(above);
///   // z-index: 2;
///
/// @throw Error if no parameters are passed.
/// @throw Error if `$z-index` parameter passed does not match a key in `$z-indexes`.
///
@mixin z-index($z-index) {
    @if not $z-index {
        @error "`z-index()` expects at least one parameter.";
    }

    @if not map-has-key($z-indexes, $z-index) {
        @error "There is no `$z-index` named `#{$z-index}` in `$z-indexes`. `$z-index` should be one of `#{map-keys($z-index)}`.";
    }

    z-index: map-get($z-indexes, $z-index);
}

///
/// Visually hide an element properly.
///
@mixin hidden() {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    border: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
}

///
/// Space out elements evenly
///
@mixin owl() {
    & > * + * {
        @include v(margin-top, large);
    }
}
