////
/// Tokens
/// @group abstracts
////

$tokens: (
	measure: (
		breakpoint-small: 500px,
		breakpoint-medium: 700px,
		breakpoint-large: 1000px,
		breakpoint-gigantic: 1200px,
		gap: 2.5rem,
		gutter: 1.25rem,
		avatar: 100px,
		avatar-small: 48px,
		logo: clamp(5rem, 6.667vw + 0.825rem, 7.5rem),
		logo-large: clamp(9rem, 28.8vw + -3.6rem, 18rem),
		tiny: 0.3125rem,
		small: 0.625rem,
		medium: 1.25rem,
		large: 2.25rem,
		gigantic: 4rem,
		line-length-clamp: clamp(21em, 100vw, 30em),
		border-default: 0.25rem,
		border-thin: 0.125rem,
		border-hairline: 1px,
		border-button: 0.182em,
	),
	opacity: $opacities,
	hsl: map-multiple-merge($hsl-palette, $shadow-palette),
	color: $all-colors,
	font-family: (
		default: "Proxima Nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif",
		alpha: "Heebo, sans-serif",
		serif: "Georgia, Times, Times New Roman, serif",
		monospace: monospace,
	),
	font-size: (
		// 1200px (1.25) – 1600px (1.333)
		small: clamp(0.875rem, 0.5vw + 0.5rem, 1rem),
		// 1200px (1.25) – 1600px (1.333)
		default: clamp(1rem, 0.5vw + 0.625rem, 1.125rem),
		// 500px (1.25) – 1200px (1.333)
		gamma: clamp(1.125rem, 0.571vw + 0.946rem, 1.375rem),
		// 500px (1.25) – 1200px (1.333)
		beta: clamp(1.25rem, 0.571vw + 1.071rem, 1.5rem),
		// 500px (1.25) – 1200px (1.333)
		alpha: clamp(2rem, 2.286vw + 1.286rem, 3rem),
	),
	font-weight: (
		default: 400,
		bold: 600,
	),
	line-height: (
		default: 1.875,
		small: 1.25,
		medium: 1.429,
		code: 2,
	),
	letter-spacing: (
		default: 0,
		uppercase: 1px,
	),
	transition-duration: (
		default: 0.2s,
		long: 1s,
	),
	transition-function: (
		default: ease,
		alternate: linear,
	),
	z-index: (
		below: -1,
		root: 0,
		default: 1,
		above: 2,
		modal: 3,
		dialog: 4,
		notification: 5,
	),
	box-shadow: (
		small: "0.5px 1px 1px hsla(var(--hsl-shadow) / 0.7)",
		medium: "1px 2px 2px hsla(var(--hsl-shadow) / 0.333), 2px 4px 4px hsla(var(--hsl-shadow) / 0.333), 3px 6px 6px hsla(var(--hsl-shadow) / 0.333)",
		large: "1px 2px 2px hsla(var(--hsl-shadow) / 0.2), 2px 4px 4px hsla(var(--hsl-shadow) / 0.2), 4px 8px 8px hsla(var(--hsl-shadow) / 0.2), 8px 16px 16px hsla(var(--hsl-shadow) / 0.2), 16px 32px 32px hsla(var(--hsl-shadow) / 0.2)",
		inset: "inset 0 calc(var(--measure-border-button) * -1) 0 0 hsl(var(--hsl-shadow))",
	),
);
