---
title: Advent 2021
description: Advent items for the year of 2021.
theme: christmas
---
{%- set collection = collections.advent2021 | arePublished | reverse -%}
{%- set count = collection.length -%}
{%- set latest_day = collection[0].date.getDate() -%}
{%- set first_day = collection[count-1].date.getDate() -%}

{%- set day = latest_day -%}
<h2>{{ day | numberOrdinalFormat(true) | safe }}</h2>
<nav class=" [ shelf ] ">
	{% set hfeed = true %}
	{% for item in collection %}
		{% set count = count - 1 %}
		{% if item.date.getDate() != day %}
			{%- set day = item.date.getDate() -%}
			</nav>
			<h2>{{ day | numberOrdinalFormat(true) | safe }}</h2>
			<nav class=" [ shelf ] ">
		{% endif %}
		{%- set responses = item.url | getWebmentions -%}
		{% include 'items/shelf.njk' %}
		{% if advent2021[count].crackling %}
			<article>
				<h3>{{ advent2021[count].crackling | replace('👍', '') }} Crackling</h3>
				{% if advent2021[count].crackling.includes('👍') %}
					<div>👍</div>
				{% endif %}
			</article>
		{% endif %}
		{% if advent2021[count].popcorn %}
			<article>
				<h3>{{ advent2021[count].popcorn | replace('👍', '') }} Popcorn</h3>
				{% if advent2021[count].popcorn.includes('👍') %}
					<div>👍</div>
				{% endif %}
			</article>
		{% endif %}
		{% if advent2021[count].chocolate %}
			<article>
				<h3>{{ advent2021[count].chocolate | replace('👍', '') }} Chocolate</h3>
				{% if advent2021[count].chocolate.includes('👍') %}
					<div>👍</div>
				{% endif %}
			</article>
		{% endif %}
	{% endfor %}
</nav>
