---
title: Advent 2021
description: "Beer reviews from the 2021 <a href=\"http://corporate.honestbrew.co.uk/collections/christmas/products/beer-advent-calendar\">HonestBrew Beer Advent Calendar</a>."
---
{%- from "macros/shelfItem.njk" import shelfItem -%}
{%- set collection = collections.advent2021 | arePublished | reverse -%}

<c-librarian>
	<p>You can sort these beer reviews:</p>
	<ul class=" [ cluster ] ">
		<li><c-librarian-button key="title">by title</c-librarian-button></li>
		<li><c-librarian-button key="author">by brewery</c-librarian-button></li>
		<li><c-librarian-button key="rating">by rating</c-librarian-button></li>
		<li><c-librarian-button key="chronological" default="descending">by publish date</c-librarian-button></li>
	</ul>
</c-librarian>

<div class=" [ grid ] [ shelf  shelf--thin ] " aria-live="polite" data-rows="masonry">
	{% for item in collection %}
		{{ shelfItem(item) }}
	{% endfor %}
</div>
