---
title: Advent 2021
description: "Beer reviews from the 2021 <a href=\"http://corporate.honestbrew.co.uk/collections/christmas/products/beer-advent-calendar\">HonestBrew Beer Advent Calendar</a>."
theme: christmas
---
{%- set collection = collections.advent2021 | arePublished | reverse -%}

<div class=" [ box ] [ flow ] ">
	<div>
		You can sort these beer reviews:
		<button class=" [ anchor  strong  non-selectable ] " data-sort="title" aria-sort="none">by title</button>,
		<button class=" [ anchor  strong  non-selectable ] " data-sort="author" aria-sort="none">by author</button>,
		<button class=" [ anchor  strong  non-selectable ] " data-sort="rating" aria-sort="none">by rating</button>, or
		<button class=" [ anchor  strong  non-selectable ] " data-sort="chronological" aria-sort="descending">by publish date</button>.
		<noscript>Although, you will need to enable JavaScript.</noscript>
	</div>
</div>
<nav class=" [ shelf ] " aria-live="polite">
	{% for item in collection %}
		{% include 'items/shelf.njk' %}
	{% endfor %}
</nav>
