---
layout: base
title: All Posts
description: Browse all of my posts by a variety of metrics.
hfeed: true
truncate: true
---
{%- set collection = collections.posts -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">Browse all {{ collections.posts.length }} of my posts by a variety of metrics, dating from {{ first_year }}–{{ latest_year }}.</p>
	</div>

	{% sparkline collection, first_year, latest_year %}

	<div class=" [ content__body ] [ h-feed ] {% if toc %}[ generate-toc ] {% endif %}">
		{% for lookup in collections.categories %}
			{%- if lookup.title == 'note' -%}
				{% set lookup_collection = collections.notesWithoutReplies %}
			{%- else -%}
				{% set lookup_collection = collections[lookup.title] | arePublished | reverse %}
			{%- endif -%}
			<h2 id="{{ lookup.plural }}">
				<a href="/{{ lookup.plural }}/">{{ lookup.properPlural | title }}</a>
			</h2>
			{% if lookup_collection[0].data.list == 'shelf' %}
				<nav class=" [ shelf {% if lookup_collection[0].data.read_of %}shelf--books {% endif %}] " aria-labelledby="{{ lookup.plural }}">
					{%- for item in lookup_collection | limit(site.limits.shelf) -%}
						{% include 'items/shelf.njk' %}
					{%- endfor -%}
				</nav>
				{% if lookup_collection.length > site.limits.shelf %}
					<nav class=" [ navigator ] " aria-label="All {{ lookup.properPlural | title }}">
						<a class=" [ button ] " href="/{{ lookup.plural }}/">All {{ lookup.properPlural | title }}</a>
					</nav>
				{% endif %}
			{% else %}
				<nav class=" [ deck ] " aria-labelledby="{{ lookup.plural }}">
					{%- for item in lookup_collection | limit(site.limits.deck) -%}
						{%- set responses = item.url | getWebmentions -%}
						{% include 'items/deck.njk' %}
					{%- endfor -%}
				</nav>
				{% if lookup_collection.length > site.limits.deck %}
					<nav class=" [ navigator ] " aria-label="All {{ lookup.properPlural | title }}">
						<a class=" [ button ] " href="/{{ lookup.plural }}/">All {{ lookup.properPlural | title }}</a>
					</nav>
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include 'webmentions.njk' %}
	</div>

	<div class=" [ meta ] ">
		{% include 'meta/archive.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
