---
layout: base
title: All Posts
description: Browse all of my posts by a variety of metrics.
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections.posts -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div class=" [ pantheon ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		<p>Browse all {{ collections.posts.length }} of my posts by a variety of metrics, dating from {{ first_year }}–{{ latest_year }}.</p>
	</div>

	{% sparkline collection, first_year, latest_year %}

	<div id="content" class=" [ content ] [ flow ] ">
		<h2>Categories</h2>

		<ul class=" [ grid ] [ shelf ] " data-layout="natural">
			{%- for item in collections.categories -%}
				{%- set count = collections[item.title] | arrayKeyIncludes('data.tags', 'post') | arePublished | getCollectionCount(false, true) -%}
				<li><a href="/{{ item.plural }}/" class=" [ strong ] " style="font-size: 1.25em;">{{ item.properPlural | title }} <sup>{{ count }}</sup></a></li>
			{%- endfor -%}
		</ul>

		<h2>Tags</h2>

		<ul class=" [ grid ] [ shelf ] " data-layout="natural">
			{%- set lowest = 9001 -%}
			{%- set highest = 0 -%}
			{%- for item in collections.tags | sort -%}
				{%- set count = collections[item] | arrayKeyIncludes('data.tags', 'post') | arePublished | getCollectionCount(false, true) -%}
				{%- if count < lowest -%}
					{%- set lowest = count -%}
				{%- elif count > highest -%}
					{%- set highest = count -%}
				{%- endif -%}
			{%- endfor -%}
			{%- for item in collections.tags | sort -%}
				{%- set count = collections[item] | arrayKeyIncludes('data.tags', 'post') | arePublished | getCollectionCount(false, true) -%}
				{# map range from lowest–highest to 1–1.375, 3 decimal places #}
				{%- set fontSize = count | rangeMap(lowest, highest, 1, 1.375, 3) -%}
				<li><a href="/tag/{{ item }}/" class=" [ strong ] " style="font-size: {{ fontSize }}em;">{{ item }} <sup>{{ count }}</sup></a></li>
			{%- endfor -%}
		</ul>
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/index.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
