---
title: Blogroll
description: I've had the pleasure of meeting, knowing of, knowing personally, and spending great time with a lot of amazing people that have inspired me in different ways over my years on this Earth. Here are a handful of them.
---
{%- set collection = blogroll | keySort('title') -%}

<nav class=" [ shelf ] ">
{% for item in collection %}
	{% include 'items/shelf.njk' %}
{% endfor %}
</nav>
