---
title: Blogroll
description: "I've had the pleasure of meeting, knowing of, knowing personally, and spending great time with a lot of amazing people that have inspired me in different ways."
wide: true
---

<div class=" [ box ] [ center ] " style="margin-block-end: var(--size-large); font-size: var(--font-size-beta-min);">
	<p>This list is also available as an <a href="/blogroll.opml">OPML file</a>.</p>
</div>

<div class=" [ grid ] [ shelf ] " style="--min-inline-size: 12em;">
{% for blog in blogroll %}
	{%- set blogURL = blog.url | toArray | first -%}
	{%- set blogRSS = blog.rss | toArray -%}
	<article id="{{ blog.title | slugify }}" class=" [ person ] ">
		<div class=" [ person__avatar ] ">
			<a href="{{ blogURL | getOrigin }}" rel="external nofollow">
				<img src="https://v1.indieweb-avatar.11ty.dev/{{ blogURL | getOrigin | urlencode }}/" class=" [ avatar ] " width="60" height="60" alt="{{ blog.title | safe }}’s avatar" loading="lazy" decoding="async">
			</a>
		</div>
		<div class=" [ person__meta ] [ flow ] ">
			<h1>
				<a href="{{ blogURL }}" rel="external noopener">
					{{ blog.title | safe }}
					<br>
					{%- set protocol = blogURL | getProtocol -%}
					<small aria-hidden="true">{{ blogURL | replace(protocol, '') | replace('//', '') }}</small>
				</a>
			</h1>
			{% for feed in blogRSS -%}
				<div>
					<a href="{{ feed.url | default(feed) }}" rel="external noopener"><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>{{ feed.shorttitle | default(feed.title) | default('RSS') }}</a>
				</div>
			{% endfor -%}
		</div>
	</article>
{% endfor %}
</div>
