---
title: Blogroll
description: I've had the pleasure of meeting, knowing of, knowing personally, and spending great time with a lot of amazing people that have inspired me in different ways over my years on this Earth. Here are a handful of them.
full_width: true
---
{%- css %}{%- include '../../../css/components/shelf.css' -%}{% endcss -%}
{%- set collection = blogroll | keySort('title') -%}

<nav class=" [ grid ] [ shelf ] ">
{% for item in collection %}
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ item.url | urlencode }}/" class=" [ avatar ] " width="30" height="30" alt="{{ item.title | safe }}’s avatar" loading="lazy" decoding="async">
		<h1>
			<a href="{{ item.url }}" rel="{{ item.ref }}">
				{{ item.title | safe }}
				<br>
				<small aria-hidden="true">{{ item.url | getHost }}</small>
			</a>
		</h1>
	</article>
{% endfor %}
</nav>
