---
layout: base
title: Hot Posts
description: Top 10 posts ordered by webmentions per day. You can also <a href="/popular/">order strictly by webmentions</a>.
related_collection: hot
hfeed: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ perch ] [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] [ h-feed ] {% if toc %}[ generate-toc ] {% endif %}">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions -%}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	{% include 'meta/archive.njk' %}

	{% include 'ads.njk' %}

</div>
