---
layout: base
title: Hot Posts
description: Top 10 posts ordered by webmentions per day. You can also <a href="/popular/">order strictly by webmentions</a>.
related_collection: hot
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li>
			<a href="/archive/">All Posts</a>
		</li>
		<li aria-hidden="true">
			Hot Posts
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ description | markdownFormat | safe }}
	</div>

	<div class=" [ content ] [ flow ] [ h-feed ] ">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions -%}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/archive.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
