---
title: Links
description: Find me all over the web (mostly)!
wide: true
---

<div class=" [ grid ] [ shelf ] ">
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://32bit.cafe' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://discourse.32bit.cafe/u/{{ author.thirtytwobitcafe }}/summary" rel="external noopener">
				32-Bit Café
				<br>
				<small>{{ author.thirtytwobitcafe }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] " hidden>
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://bsky.app' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://bsky.app/profile/{{ author.bluesky }}" rel="external noopener">
				Bluesky
				<br>
				<small>@{{ author.bluesky }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://www.buymeacoffee.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="external noopener">
				Buy Me a Coffee
				<br>
				<small>{{ author.buymeacoffee }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://codepen.io' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://codepen.io/{{ author.codepen }}" rel="external noopener">
				CodePen
				<br>
				<small>{{ author.codepen }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://discord.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://discordapp.com/users/{{ author.discord_id }}" rel="external noopener">
				Discord
				<br>
				<small>@{{ author.discord }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://11ty.dev' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://11ty.dev/authors/{{ author.eleventy }}" rel="external noopener">
				Eleventy
				<br>
				<small>{{ author.eleventy }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://github.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://github.com/{{ author.github }}" rel="external noopener">
				GitHub
				<br>
				<small>@{{ author.github }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://indieweb.org' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://indieweb.org/User:{{ author.indieweb }}" rel="external noopener">
				IndieWeb
				<br>
				<small>{{ author.indieweb }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://last.fm' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://last.fm/user/{{ author.lastfm }}" rel="external noopener">
				Last.fm
				<br>
				<small>{{ author.lastfm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://linkedin.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://www.linkedin.com/in/{{ author.linkedin }}" rel="external noopener">
				LinkedIn
				<br>
				<small>@{{ author.linkedin }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ ('https://' + author.mastodon_domain) | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://{{ author.mastodon_domain }}/{{ author.mastodon.split('@')[1] }}" rel="external noopener">
				Mastodon
				<br>
				<small>{{ author.mastodon }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://npmjs.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://npmjs.com/~{{ author.npm }}" rel="external noopener">
				npm
				<br>
				<small>{{ author.npm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://speakerdeck.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://speakerdeck.com/{{ author.speakerdeck }}" rel="external noopener">
				Speakerdeck
				<br>
				<small>{{ author.speakerdeck }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] " hidden>
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://spotify.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://open.spotify.com/user/{{ author.spotify }}" rel="external noopener">
				Spotify
				<br>
				<small>{{ author.name }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://untappd.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://untappd.com/user/{{ author.untappd }}" rel="external noopener">
				Untappd
				<br>
				<small>{{ author.untappd }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://xmpp.org' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			XMPP
			<br>
			<small>{{ author.xmpp }}</small>
		</h1>
	</article>
</div>
