---
title: Links
description: Find me all over the web (mostly)!
full_width: true
---

<nav class=" [ grid ] [ shelf ] ">
	<article class=" [ flow ] ">
		<h1>
			<a href="https://codepen.io/{{ author.codepen }}">CodePen</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://last.fm/user/{{ author.lastfm }}">Discord</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://github.com/{{ author.github }}">GitHub</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://last.fm/user/{{ author.lastfm }}">Last.fm</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://{{ author.mastodon.split('@') | last }}/users/{{ author.mastodon.split('@') | first }}">Mastodon</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="{{ author.urls.spotify }}">Spotify</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://twitter.com/{{ author.twitter }}">Twitter</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://untappd.com/user/{{ author.untappd }}">Untappd</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://londonwebstandards.org">London Web Standards</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="https://stateofthebrowser.com">State of the Browser</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<h1>
			<a href="{{ author.employer.url }}">Squiz (I work for them!)</a>
		</h1>
	</article>
</nav>
