---
title: Links
description: Find me all over the web (mostly)!
wide: true
---

<div class=" [ grid ] [ shelf ] ">
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://bsky.app' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://bsky.app/profile/{{ author.bluesky }}">
				Bluesky
				<br>
				<small aria-hidden="true">@{{ author.bluesky }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://codepen.io' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://codepen.io/{{ author.codepen }}">
				CodePen
				<br>
				<small aria-hidden="true">@{{ author.codepen }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://discord.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			Discord
			<br>
			<small>@{{ author.discord }}</small>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://11ty.dev' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://11ty.dev/authors/{{ author.eleventy }}">
				Eleventy
				<br>
				<small aria-hidden="true">@{{ author.eleventy }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://github.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://github.com/{{ author.github }}">
				GitHub
				<br>
				<small aria-hidden="true">@{{ author.github }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://indieweb.org' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://indieweb.org/User:{{ author.indieweb }}">
				IndieWeb
				<br>
				<small aria-hidden="true">{{ author.indieweb }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://last.fm' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://last.fm/user/{{ author.lastfm }}">
				Last.fm
				<br>
				<small aria-hidden="true">@{{ author.lastfm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://linkedin.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://www.linkedin.com/in/{{ author.linkedin }}">
				LinkedIn
				<br>
				<small aria-hidden="true">@{{ author.linkedin }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ ('https://' + author.mastodon_domain) | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://{{ author.mastodon_domain }}/users/{{ author.mastodon.split('@') | first }}">
				Mastodon
				<br>
				<small aria-hidden="true">@{{ author.mastodon }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://npmjs.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://npmjs.com/~{{ author.npm }}">
				npm
				<br>
				<small aria-hidden="true">@{{ author.npm }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://speakerdeck.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://speakerdeck.com/{{ author.speakerdeck }}">
				Speakerdeck
				<br>
				<small aria-hidden="true">@{{ author.speakerdeck }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://spotify.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="{{ author.urls.spotify }}">
				Spotify
				<br>
				<small aria-hidden="true">{{ author.name }}</small>
			</a>
		</h1>
	</article>
	<article class=" [ flow ] ">
		<img src="https://v1.indieweb-avatar.11ty.dev/{{ 'https://untappd.com' | urlencode }}/" class=" [ avatar ] " width="30" height="30" loading="lazy" decoding="async">
		<h1>
			<a href="https://untappd.com/user/{{ author.untappd }}">
				Untappd
				<br>
				<small aria-hidden="true">@{{ author.untappd }}</small>
			</a>
		</h1>
	</article>
</div>

{%- css 'critical' %}{% include '../../../css/components/shelf.css' %}{% endcss %}
