---
title: Pig's Ear 2019
description: Beer reviews from Pig's Ear CAMRA Beer & Cider Festival in 2019
---
{%- set collection = collections.pigsear2019 | arePublished | reverse -%}

<librarian-component>
	You can sort these beer reviews:
	<librarian-button key="title">by title</librarian-button>,
	<librarian-button key="author">by author</librarian-button>,
	<librarian-button key="rating">by rating</librarian-button>, or
	<librarian-button key="chronological" default="descending">by publish date</librarian-button>.
</librarian-component>

<nav class=" [ grid ] [ shelf ] " aria-live="polite">
	{% for item in collection %}
		{% include 'items/shelf.njk' %}
	{% endfor %}
</nav>
