---
title: Pig's Ear 2022
description: Beer reviews from Pig's Ear CAMRA Beer & Cider Festival in 2022
---
{%- from "macros/shelfItem.njk" import shelfItem -%}
{%- set collection = collections.pigsear2022 | arePublished | keySort('data.rating') | reverse -%}

<p>{{ categoryIntroductions.beer | safe }}</p>

<c-librarian>
	<p>You can sort these beer reviews:</p>
	<ul class=" [ cluster ] ">
		<li><c-librarian-button key="title">by title</c-librarian-button></li>
		<li><c-librarian-button key="author">by author</c-librarian-button></li>
		<li><c-librarian-button key="rating" default="descending">by rating</c-librarian-button></li>
		<li><c-librarian-button key="chronological">by publish date</c-librarian-button></li>
	</ul>
</c-librarian>

<div class=" [ grid ] [ shelf ] " aria-live="polite">
	{% for item in collection %}
		{{ shelfItem(item) }}
	{% endfor %}
</div>
