---
title: Pig's Ear 2021
description: Beer reviews from Pig's Ear CAMRA Beer & Cider Festival in 2021
---
{%- set collection = collections.pigsear2021 | arePublished | keySort('data.rating') | reverse -%}

<p>{{ categoryIntroductions.beer | safe }}</p>

<c-librarian>
	You can sort these beer reviews:
	<br>
	<ul class=" [ cluster ] ">
		<li><c-librarian-button key="title">by title</c-librarian-button></li>
		<li><c-librarian-button key="author">by author</c-librarian-button></li>
		<li><c-librarian-button key="rating" default="descending">by rating</c-librarian-button></li>
		<li><c-librarian-button key="chronological">by publish date</c-librarian-button></li>
	</ul>
</c-librarian>

<div class=" [ grid ] [ shelf ] " aria-live="polite">
	{% for item in collection %}
		{% include 'items/shelf.njk' %}
	{% endfor %}
</div>
