---
layout: base
title: Popular Posts
description: Top 10 most interacted-with pieces of writing, cause, y'know, ego, I guess? You can also <a href="/hot/">order by webmentions per day</a>.
related_collection: popular
hfeed: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] [ h-feed ] ">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions -%}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	<div class=" [ meta ] ">
		{% include 'meta/archive.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
