---
layout: base
title: Popular Posts
description: Top 10 most interacted-with pieces of writing, cause, y'know, ego, I guess? You can also <a href="/hot/">order by webmentions per day</a>.
related_collection: popular
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li>
			<a href="/archive/">All Posts</a>
		</li>
		<li aria-hidden="true">
			Popular Posts
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ description | markdownFormat | safe }}
	</div>

	<div class=" [ content ] [ flow ] [ h-feed ] ">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/archive.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
