---
title: Projects
description: A list of my personal projects and rabbit-hole deep-dives.
hfeed: false
simple: true
truncate: false
---

<h2>Personal projects</h2>

<nav class=" [ deck ] [ h-feed ] ">
	{% for item in collections.projects %}
		{%- set responses = item.url | getWebmentions -%}
		{% include 'items/deck.njk' %}
	{% endfor %}
</nav>

<h2>Previous versions of chrisburnell.com</h2>

<nav class=" [ deck ] [ h-feed ] ">
	{% for item in projects.previousVersions %}
		{%- set responses = item.url | getWebmentions -%}
		{% include 'items/deck.njk' %}
	{% endfor %}
</nav>
