---
title: Projects
description: A list of my projects and rabbit hole deep-dives.
perch: true
hfeed: false
truncate: false
---

<h2>Web Projects</h2>

<div class=" [ deck ] ">
	{% for item in collections.projects %}
		{% include 'items/deck.njk' %}
	{% endfor %}
	{% for item in projects.web %}
		{% include 'items/deck.njk' %}
	{% endfor %}
</div>

<h2>Personal Projects</h2>

<div class=" [ deck ] ">
	{% for item in projects.personal %}
		{% include 'items/deck.njk' %}
	{% endfor %}
</div>

<h2>{{ site.url | getHost }} in the past</h2>

<div class=" [ deck ] ">
	{% for item in projects.previousVersions %}
		{% include 'items/deck.njk' %}
	{% endfor %}
</div>
