---
layout: root
title: What has creating a website done for me?
description: "My submission for the <a href=\"https://tilde.32bit.cafe/~hermit/community_jam_3/\">32bit.cafe Community Code Jam #3</a>, celebrating its one-year anniversary!<br><a href=\"https://tilde.32bit.cafe/~hermit/community_jam_3/submissions.html\" rel=\"external noopener\">Check out the other submissions!</a>"
show_webmentions: true
theme: light
---

<main>
	<article id="content" class=" [ page ] ">
		<div class=" [ full-space ] [ themed-section ] " data-color-scheme="dark" style="background-image: linear-gradient(160deg, var(--color-bowhead), var(--color-wolf));">
			<h1 style="max-inline-size: 30ch; text-wrap: balance;">{{ title | safe }}</h1>
			<p class=" [ gamma ] " style="max-inline-size: 45ch; margin-inline: auto; margin-block-start: var(--size-gigantic); text-wrap: balance;">{{ description | safe }}</p>
		</div>
		<div class=" [ full-space  image-split ] [ themed-section ] ">
			<figure>
				{% image './images/content/carbonated-water-device.png', 'Savaresse’s machine with oscillating cylinder by P. Broux.', undefined, [400] %}
			</figure>
			<div class=" [ flow ] ">
				<p class=" [ gamma ] " style="max-inline-size: 45ch; text-wrap: balance;">My website is, <em>without question</em>, my favourite thing that I own.</p>
				<p>Ever since the late 90’s when I got my first taste of building for the web, there was something about the web that <em>spoke to me</em>: customising the HTML of my first Neopets profile page and building a Geocities website all about a cow-themed trading card game I made with a friend was so fun.</p>
				<p>I remember spending hours playing with <code>&lt;FONT&gt;</code>, <code>&lt;BGSOUND&gt;</code>,<code>&lt;IMG&gt;</code>, and <code>&lt;TABLE&gt;</code> tags to make pages feel like my own.</p>
				<p>Not much has changed about how I feel about building for the web in the ~25 years since then. Today, my website gives me the same freedom to express myself, share stuff I like and have learned, and connect with other people across the world wide web.</p>
				<p class="strong">My website has been my passion project for over 16 years, and I can’t imagine that changing any time soon.</p>
			</div>
		</div>
		<div class=" [ full-space  image-split  image-split--alternate ] [ themed-section ] " style="--image-split-min: 180px; --image-split-max: 273px;" data-theme="koala">
			<figure>
				{% image './images/content/diving-machine.png', 'Klingert’s diving machine P. Broux.', undefined, [273] %}
			</figure>
			<div class=" [ flow ] ">
				<p class=" [ gamma ] " style="max-inline-size: 45ch; text-wrap: balance;">My website is a place to experiment, lay out research, and deep-dive.</p>
				<p>Besides breathing (and <em>sometimes</em> sleeping), I spend more time developing and immersing myself in the web than anything else.</p>
				<p>Whether it’s writing about web development, reviewing music and video games, creating tabletop RPG campaigns, or building little tools and libraries to simplify mundane tasks or help me learn something new, I feel most at home and unhindered when I do it here, on my website.</p>
				<p>My website is in a constant state of change as I learn more about the web and front end development. I have a deep passion for keeping on the pulse of the latest technologies and features for front end development, and because my website is <em>my own</em>, I’m free to experiment and try out new things, <q>live</q> and <q>in production</q>.</p>
				<p class="strong">On my website, there are no stakeholders but me.</p>
			</div>
		</div>
		<div class=" [ full-space  image-split  image-split ] [ themed-section ] " data-theme="red-alert">
			<figure>
				{% image './images/content/dancing-master.png', 'The dancing master by Christophe Huet.', undefined, [400] %}
			</figure>
			<div class=" [ flow ] ">
				<p class=" [ gamma ] " style="max-inline-size: 45ch; text-wrap: balance;">My website is an extension of <em>me</em>, and the place I feel most comfortable sharing <em>who I am</em>.</p>
				<p>Through owning my website and the passion that comes from making it feel like my own, I’ve found other amazing websites and made even more incredible friends. People I would never have been so lucky as to know if I hadn’t made a home on the web.</p>
				<p>As someone who’s quite reserved and quiet in-person, I don’t feel half the anxiety about sharing myself and my thoughts here. In a way, it’s one of the best ways to get to know me. In fact, I’ve managed to get past a lot of my real-life social anxieties through my wesbite: each time I hit publish on a new article or release some new software, I get a massive dopamine hit that makes me feel connected.</p>
				<p>To date, the highest compliments I’ve ever received were from people letting me know that they’ve enjoyed reading something on my website, used something I built, or found me in-person just to tell me they found me through my online presence.</p>
				<p>In a strange way, having a website also gives me a sense of immortality. The idea that even when I’m gone, the physical me, my website will continue on as a digital archive of <em>who Chris Burnell was</em>.</p>
				<p class="strong">Nothing makes me feel so <em>seen and understood</em> as the connections to other people I’ve made through my website.</p>
			</div>
		</div>
		<div class=" [ full-space ] [ flow ] [ themed-section ] " data-color-scheme="dark" data-theme="nineties">
			<p class=" [ gamma ] " style="max-inline-size: 45ch; text-wrap: balance;">Stay awhile and listen.</p>
			<p style="margin-inline: auto">
				<img src="/images/animated/deckard-cain.gif" alt="an idly-standing Deckard Cain from the video game, Diablo" width="72" height="130" loading="lazy">
			</p>
			<p>The rose-tinted glasses of nostalgia are difficult to take off.</p>
			<p>In the past year, I’ve been deep-diving into the teeming soup of nostalgia for <q>the old web</q>. The web that I remember first immersing myself in the late ’90s and early 2000s. And what better place to chase those feelings I had first building websites than here, in 2024.</p>
			<p>Sadly, I haven’t been able to find any archives of my old Neopets profile page or Geocities website, but if I do, they’ll live here for as long as I live (or longer).</p>
			<p class="strong">On my website.</p>
			<p style="margin-inline: auto">
				<a href="{{ site.url }}"><img src="/images/animated/88x31.gif?v7" alt="chrisburnell.com 88x31 badge" loading="lazy"></a>
			</p>
		</div>
	</article>
</main>

{% css -%}
html {
	background-color: #adaeb0;
	scrollbar-color: var(--color-bowhead) transparent;
}

h1,
h1 + p {
	max-inline-size: 80vi;
	text-align: center;
	text-wrap: balance;
}

.full-space {
	box-shadow: inset 0 0 0 calc(var(--size-medium-large) / 3) #adaeb0;
}
.full-space:not([data-theme*="nineties"]) {
	background-image: linear-gradient(var(--degree, 200deg), transparent, var(--color-highland));
}

.image-split {
	gap: var(--size-gutter);

	@media (width > 700px) {
		grid-template-columns:
			[image-start]
			clamp(var(--image-split-min, 250px), 40%, var(--image-split-max, 400px))
			[image-end content-start]
			auto
			[content-end];
		grid-template-rows: auto;
	}
}

.image-split--alternate {
	--degree: 160deg;

	@media (width > 700px) {
		grid-template-columns:
			[content-start]
			auto
			[content-end image-start]
			clamp(var(--image-split-min, 150px), 40%, var(--image-split-max, 300px))
			[image-end];
	}
}

.image-split figure {
	@media (width > 700px) {
		grid-column: image;
		grid-row: 1;
		{# align-self: start; #}
	}
}

.image-split .flow {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (width > 700px) {
		grid-column: content;
		grid-row: 1;
	}
}
{%- endcss %}
