---
title: 88x31
description: A collection of 88x31 GIFs I have made.
show_webmentions: true
theme: dark  nineties
full: true
---

<div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 2em; margin-inline: auto;">
	<img src="/images/animated/88x31.gif" alt="chrisburnell.com 88x31 badge" loading="lazy" style="margin-inline: 0;">
	<img src="/images/animated/bat-country.gif" alt="visions of bats in Hunter S. Thompson's sunglasses in the movie, Fear and Loathing in Las Vegas" loading="lazy" style="margin-inline: 0;">
</div>
