---
title: Advent 2021
description: Things wot we received from advents
---

<table>
	<thead>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Sunday</th>
			<th>Sunday</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> </td>
			<td> </td>
			<td data-day="1">
				<a href="/beer/1105189257/"><q>Christmas in Florida</q></a>
			</td>
			<td data-day="2">
				<a href="/beer/1105190997/"><q>10|Coffee Porter – Coffee &amp; Vanilla</q></a>
			</td>
			<td data-day="3">
				Cherry Berliner Weisse
			</td>
			<td data-day="4"> </td>
			<td data-day="5"> </td>
		</tr>
		<tr>
			<td data-day="6"> </td>
			<td data-day="7"> </td>
			<td data-day="8"> </td>
			<td data-day="9"> </td>
			<td data-day="10"> </td>
			<td data-day="11"> </td>
			<td data-day="12"> </td>
		</tr>
		<tr>
			<td data-day="13"> </td>
			<td data-day="14"> </td>
			<td data-day="15"> </td>
			<td data-day="16"> </td>
			<td data-day="17"> </td>
			<td data-day="18"> </td>
			<td data-day="19"> </td>
		</tr>
		<tr>
			<td data-day="20"> </td>
			<td data-day="21"> </td>
			<td data-day="22"> </td>
			<td data-day="23"> </td>
			<td data-day="24"> </td>
			<td data-day="25"> </td>
			<td data-day="26"> </td>
		</tr>
		<tr>
			<td data-day="27"> </td>
			<td data-day="28"> </td>
			<td data-day="29"> </td>
			<td data-day="30"> </td>
			<td data-day="31"> </td>
			<td> </td>
			<td> </td>
		</tr>
	</tbody>
</table>
