---
layout: null
title: This page intentionally left blank.
---
<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>{{ title }}</title>
	<style>
		*, *::before, *::after {
			box-sizing: border-box;
		}
		:where(body) {
			min-block-size: 100vh;
			min-block-size: 100dvb;
			display: grid;
			place-items: center;
			margin: 0;
		}
	</style>
	<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64">
	<link rel="icon" href="{{ site.logo }}" type="image/svg+xml">
	<link rel="author" href="/humans.txt">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="canonical" href="{{ canonical }}">
	<meta name="author" content="{{ author.name }}">
	<meta name="description" content="{{ title }}">
	<meta name="generator" content="{{ eleventy.generator }}">
	<meta name="color-scheme" content="light dark">
</head>
<body>
	<h1>{{ title }}</h1>
</body>
</html>
