---
layout: null
---
<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>This page intentionally left blank.</title>
	<style>
		*, *::before, *::after {
			box-sizing: border-box;
		}
		:where(body) {
			min-block-size: 100vh;
			min-block-size: 100dvb;
			display: grid;
			place-items: center;
			margin: 0;
		}
	</style>
	<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64">
	<link rel="icon" href="/images/raven.svg" type="image/svg+xml">
	<link rel="icon" href="/images/favicon-64.png">
	<link rel="author" href="/humans.txt">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="canonical" href="https://chrisburnell.com/blank/">
	<meta name="author" content="Chris Burnell">
	<meta name="description" content="This page intentionally left blank.">
	<meta name="generator" content="Eleventy v3.0.0">
	<meta name="color-scheme" content="light dark">
</head>
<body>
	<h1>This page intentionally left blank.</h1>
</body>
</html>
