---
title: Contact
lede: Let's get in touch!
---

<dl>
    <dt>Email:</dt>
    <dd><a class="canada" href="mailto:{{ author.email }}">{{ author.email }}</a></dd>
    <dt>Twitter:</dt>
    <dd><a class="canada" href="{{ author.urls.twitter }}">{{'@' + author.twitter }}</a></dd>
    <dt>Twitter Direct Message:</dt>
    <dd><a class="canada" href="https://twitter.com/messages/compose?recipient_id={{ author.twitter }}">{{ '@' + author.twitter }}</a></dd>
    <dt>Mastdon:</dt>
    <dd><a class="canada" href="{{ author.urls.mastodon }}">{{ '@' + author.mastodon }}</a></dd>
</dl>

<p>There are a number of Feeds you can also subscribe to:</p>

<ul class="shelf" role="navigation">
    <li><a class="button" href="/feed.xml" rel="alternate">Main Posts</a></li>
    <li><a class="button" href="/writing.xml" rel="alternate">Writing</a></li>
    <li><a class="button" href="/replies.xml" rel="alternate">Replies</a></li>
    <li><a class="button" href="/checkins.xml" rel="alternate">Checkins</a></li>
    <li><a class="button" href="/rsvps.xml" rel="alternate">RSVPs</a></li>
</ul>
