---
draft: true
title: Following
lede: I've had the pleasure of meeting, knowing of, knowing personally, and spending great time with a lot of amazing people that have inspired me in different ways over my years on this Earth. Here are a handful of them.
---

<p>This page is still being built!</p>

<h2>Rachel Tan</h2>
<p>Testing</p>

<h2><a rel="friend" href="https://letorey.co.uk/">Dave Letorey</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://forgotten.media/">Ben Walters</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="http://www.pilifter.com/">Dominic Patmore</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://peach.smartart.it/">Matteo Pescarin</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://flyknifecomics.com/">Bruce Delo</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://calumryan.com/">Calum Ryan</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://ohhelloana.blog/">Ana Rodriguez</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://blog.voss.co/">Jonas Voss</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://doubleloop.net/">Neil Mather</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://realize.be/">Kristof De Jaeger</a></h2>
<p>Testing</p>

<h2><a rel="friend" href="https://vincentp.me/">Vincent Pickering</a></h2>
<p>Testing</p>
