---
title: My Guestbook
description: Welcome to my guestbook, powered by <a href="https://indieweb.org/Webmention">Webmentions</a>!
show_webmentions: true
theme: matrix  nineties
---

<figure>
	<audio src="/audio/mononoke-hime.mp3" controls loop>
</figure>

<figure>
	<img src="/images/animated/tamagotchi.gif" alt="" loading="lazy">
	<figcaption><p>Please don’t bother my Tamagotchi, he’s excercising right now.</p></figcaption>
</figure>

<marquee>
	<img src="/images/animated/canada.gif" alt="" loading="lazy">
</marquee>

<p>
	<img src="/images/animated/wizard.gif" alt="" loading="lazy">
	<img src="/images/animated/cow.gif" alt="" loading="lazy">
	<br>
	Give me back my Horadric Cube!
	<img src="/images/animated/kodama.gif" alt="" loading="lazy" style="float: right">
</p>

<figure>
    {% image './images/content/bowhead.png', '', 'pixelated' %}
</figure>

<figure>
	<img src="/images/animated/computerlearningmonth.gif" alt="" loading="lazy">
</figure>

<figure>
	<img src="/images/animated/visitor-counter.gif" alt="" loading="lazy">
</figure>

<h2>Sign my guestbook! <img src="/images/animated/guestbook.gif" alt="" loading="lazy"></h2>

<style>
	* {
		cursor: url("/images/animated/dinosaur.gif"), auto;
	}
	.webmentions__response__avatar img {
		filter: sepia(50%) saturate(75%) contrast(75%);
	}
</style>
