---
title: My Guestbook
description: Remember the '90s, man? Those dope little guestbooks below the endlessly spinning visitor counter… Well, here’s my guestbook—counter included—and it runs on <a href="https://indieweb.org/Webmention">Webmentions</a>!
show_webmentions: true
theme: matrix  nineties
---

<h2>Welcome to my Guestbook! <img src="/images/animated/guestbook.gif" alt="" loading="lazy"></h2>

<figure>
	<img src="/images/animated/tamagotchi.gif" alt="" loading="lazy">
	<figcaption><p>Please don’t bother my Tamagotchi, he’s excercising right now.</p></figcaption>
</figure>

<p>
	<img src="/images/animated/wizard.gif" alt="" loading="lazy">
	<img src="/images/animated/cow.gif" alt="" loading="lazy">
	<br>
	Give me back my Horadric Cube!
</p>

<p>
	<img src="/images/animated/kodama.gif" alt="" loading="lazy">
	<img src="/images/animated/triforce.gif" alt="" loading="lazy">
	<img src="/images/animated/canada.gif" alt="" loading="lazy">
</p>

<figure>
	<img src="/images/animated/computerlearningmonth.gif" alt="" loading="lazy">
</figure>

<figure>
	<img src="/images/animated/visitor-counter.gif" alt="" loading="lazy">
</figure>

<style>
	* {
		cursor: url("/images/animated/dinosaur.gif"), auto;
	}
	.webmentions__response__avatar img {
		filter: sepia(50%) saturate(75%) contrast(75%);
	}
</style>
