---
title: My Guestbook
description: Remember the '90s, man? Those dope little guestbooks below the endlessly spinning visitor counter… Well, here’s my guestbook—counter included—and it runs on <a href="https://indieweb.org/Webmention">WebMentions</a>!
show_webmentions: true
theme: dark  matrix
---

<figure>
	<img src="/images/content/visitor-counter.gif">
</figure>

<style>

</style>
