---
layout: base
title: Hot Posts
description: |
  Top 10 posts ordered by webmentions per day.


  You can also <a href="/popular/">order strictly by webmentions</a>.
related_collection: hot
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] [ h-feed ] {% if toc %}[ generate-toc ] {% endif %}">
		<nav class=" [ deck ] ">
			{% set hfeed = true %}
			{% set truncate = true %}
			{% set lineclamp = false %}
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions(['mention-of', 'in-reply-to', 'like-of', 'repost-of', 'bookmark-of']) -%}
				{% include 'deck-item.njk' %}
			{% endfor %}
		</nav>
	</div>

	{% include 'meta-archive.njk' %}

	{% include 'ads.njk' %}

</div>
