---
layout: null
permalink: /humans.txt
sitemap:
  exclude: true
---
# humanstxt.org

/* OWNER & DEVELOPER */

    Name: {{ site.author.name }}
    Email: {{ site.author.email }}
    GitHub: {{ site.author.urls.github }}
    Mastodon: {{ site.author.urls.mastodon }}
    Twitter: {{ site.author.urls.twitter }}
    PGP: {{ site.author.pgp }}

/* SITE */

    Last updated:  {{ site.time | date: '%F' }}
    URL:           {{ site.live_url }}
    Language:      {{ site.language }}
    Doctype:       HTML5
    Fonts:         Heebo, Proxima Nova
    Compiled with: Jekyll

/* LANGUAGES */

    HTML
    CSS (SCSS)
    JavaScript
    JSON
    Liquid
    Markdown
    XML
    YAML

/* SERVICES */

    Aperture:      https://aperture.p3k.io
    Atlas:         https://atlas.p3k.io
    CodePen:       https://codepen.io
    Disqus:        https://disqus.com
    IndieAuth:     https://indieauth.com
    Switchboard:   https://switchboard.p3k.io
    Telegraph:     https://telegraph.p3k.io
    Twitter:       https://dev.twitter.com
    Webmention.io: https://webmention.io
