---
title: Listening
description: What have I been listening to?
wide: true
js: listening.js
---

<p>Powered by <a href="https://last.fm">Last.fm</a>. Check out my <a href="/music/">Music Reviews</a> for more musical data.</p>

<p>To see (almost) my entire listening history, checkout my <a href="https://last.fm/user/{{ author.lastfm }}">Last.fm profile</a>.</p>

{% css %}@layer components { {%- include '../../css/components/shelf.css' -%} }{% endcss -%}
<nav id="listening" class=" [ grid ] [ shelf ] [ js-lastfm-feed ] "></nav>
