---
title: Listening
lede: What have I been listening to?
js: listening.js
---

<p>Powered by <a href="https://last.fm">LastFM</a>. Check out my <a href="/music/">Music Reviews</a> for more musical data.</p>

<p>To see (almost) my entire listening history, checkout my <a href="https://last.fm/user/{{ author.lastfm }}">LastFM profile</a>.</p>

<nav id="listening" class=" [ shelf ] [ js-lastfm-feed ] "></nav>
