---
title: "/now"
tagline: Now
description: Stuff that I’m doing now (or at least recently)!
toc: true
---
{%- from 'macros/deckItem.njk' import deckItem -%}
{%- from "macros/shelfItem.njk" import shelfItem -%}
<div class=" [ box ] [ center ] " style="inline-size: var(--size-line-length); inline-size: fit-content; margin-block-end: var(--size-large); text-wrap: balance;">
	<p>This is a <a href="https://nownownow.com/about" rel="external noopener">now page</a>, and if you have your own website, you should make one, too!</p>
</div>

<h2>Website Tinkering</h2>

{% set last_updated = "2024-05-09T02:10:55+0800" -%}
<p><strong>Last updated:</strong> <time datetime="{{ last_updated | rfc3339Date }}">{{ last_updated | friendlyDate | safe }} @ {{ last_updated | friendlyTime | safe }}</time></p>

<p>You can read more things I’d like to work on <a href="/ideas/">my /ideas page</a>, which is kind of like my TODO list for this website.</p>

<h3 id="writing">Writing</h3>

<ul>
	<li>Review drafts (perpetually on-going)</li>
	<li>Get around to adding more to my /interests page</li>
</ul>

<h3 id="website-admin">Website Admin</h3>

<ul>
	<li>as above, but for RSS-only posts (which become visible on the site <code>site.limits.recentDays</code> days after publishing)</li>
	<li>work out how to feature more tags/collections in the post meta description (alongside `writing`-tagged posts)</li>
	<li>explore using the new <code>eleventy-img</code> transform function instead of my image shortcode</li>
	<li>finish transcript for <q>Middle Out in CSS</q></li>
</ul>

{% if collections.rsvpsToday.length or collections.rsvpsUpcoming.length -%}
	<hr>

	<h2>
		<a href="/rsvps/">Events</a>
	</h2>

	{% if collections.rsvpsToday.length -%}
		<h3>Events I’m attending today</h3>
		<ol class=" [ deck ] [ flow ] ">
			{% for item in collections.rsvpsToday -%}
				{{ deckItem(item) }}
			{%- endfor %}
		</ol>
	{%- endif %}

	{% if collections.rsvpsUpcoming.length -%}
		<h3>Upcoming Events</h3>
		<ol class=" [ deck ] [ flow ] ">
			{% for item in collections.rsvpsUpcoming -%}
				{{ deckItem(item) }}
			{%- endfor %}
		</ol>
	{%- endif %}
{%- endif %}

{% set currentlyReading = collections.book | arePublished | arrayKeyNotSet('data.end') | sortByDate -%}
{% set recentlyRead = collections.book | arePublished | arrayKeySet('data.end') | recentFilter('data.end') | sortByDate -%}
{% if currentlyReading.length or recentlyRead.length -%}
	<hr>

	<h2>
		<a href="/books/">Books</a>
	</h2>

	{% if currentlyReading.length %}
		<h3 id="currently-reading">Currently reading</h3>
		<ol class=" [ grid ] [ shelf  shelf--portrait ] ">
			{% for item in currentlyReading -%}
				{{ shelfItem(item) }}
			{%- endfor %}
		</ol>
	{% endif %}

	{% if recentlyRead.length %}
		<h3 id="recently-read">Recently finished reading</h3>
		<ol class=" [ grid ] [ shelf  shelf--portrait ] ">
			{% for item in recentlyRead -%}
				{{ shelfItem(item) }}
			{%- endfor %}
		</ol>
	{% endif %}
{%- endif %}

{% set currentlyPlaying = collections.game | arePublished | arrayKeyNotSet('data.rating') | sortByDate -%}
{% set recentlyPlayed = collections.game | arePublished | arrayKeySet('data.rating') | recentFilter('data.date') | sortByDate -%}
{% if currentlyPlaying.length or recentlyPlayed.length -%}
	<hr>

	<h2>
		<a href="/games/">Games</a>
	</h2>

	{% if currentlyPlaying.length %}
		<h3 id="currently-playing">Currently playing</h3>
		<ol class=" [ grid ] [ shelf  shelf--square ] ">
			{% for item in currentlyPlaying -%}
				{{ shelfItem(item) }}
			{%- endfor %}
		</ol>
	{% endif %}

	{% if recentlyPlayed.length %}
		<h3 id="recently-played">Recently finished playing</h3>
		<ol class=" [ grid ] [ shelf  shelf--square ] ">
			{% for item in recentlyPlayed -%}
				{{ shelfItem(item) }}
			{%- endfor %}
		</ol>
	{% endif %}
{%- endif %}

<hr>

<h2>
	<a href="/music/">Music</a>
</h2>

{% set currentlyListening = collections.music | arePublished | arrayKeyNotSet('data.rating') | sortByDate -%}
{% if currentlyListening.length -%}
	<h3 id="currently-listening">Currently reviewing</h3>
	<ol class=" [ grid ] [ shelf  shelf--square ] ">
		{% for item in currentlyListening -%}
			{{ shelfItem(item) }}
		{%- endfor %}
	</ol>
{%- endif %}

{% set recentlyListened = collections.music | arePublished | arrayKeySet('data.rating') | recentFilter('data.date') | sortByDate -%}
{% if recentlyListened.length -%}
	<h3 id="recently-listened">Recently reviewed</h3>
	<ol class=" [ grid ] [ shelf  shelf--square ] ">
		{% for item in recentlyListened -%}
			{{ shelfItem(item) }}
		{%- endfor %}
	</ol>
{%- endif %}

<h3 id="listening"><a href="/listening/">Latest listens</a></h3>

<lastfm-listening url="https://api.chrisburnell.com/lastfm-recenttracks?username={{ author.lastfm }}{% if global.personalApiKeyForLocal %}&secret={{ global.personalApiKeyForLocal }}{% endif %}" limit="3" aria-live="true">
	<ol class=" [ grid ] [ shelf  shelf--square ] ">
		{% for track in (lastfm.recentTracks | limit(3)) -%}
			<article class=" [ flow ] ">
				<a href="{{ track.url }}" aria-hidden="true" tabindex="-1" class=" [ cover-anchor ] ">
					<img src="{{ track.imageUrl }}" alt="" role="presentation" loading="lazy" decoding="async" class=" [ cover ] [ u-photo ] ">
				</a>
				<h1>
					<a href="{{ track.url }}">{{ track.name | safe }}</a>
				</h1>
				<div>
					<a href="{{ track.artist.url }}" class=" [ h-cite ] " rel="external noopener">{{ track.artist.name }}</a>
				</div>
				<div>
					<relative-time><time datetime="{{ track.datetime | rfc3339Date }}" class=" [ dt-published ] ">{{ track.datetime | friendlyDate }}</time></relative-time>
				</div>
			</article>
		{%- endfor %}
	</ol>
</lastfm-listening>
<noscript><p>Unfortunately, this Web Component requires JavaScript to function correctly!</p></noscript>

{% if lastfm.topAlbums.length -%}
	<h3 id="top-albums">Top Albums <small>of the last 7 days</small></h3>

	<ol class=" [ grid ] [ shelf  shelf--square ] ">
		{% for album in (lastfm.topAlbums | limit(3)) -%}
			{%- set item = collections.music | arePublished | arrayKeyValueEquals('data.title', album.name, false) | first -%}
			{% if item -%}
				{{ shelfItem(item) }}
			{%- else -%}
				<article class=" [ flow ] ">
					<a href="{{ album.url }}" aria-hidden="true" tabindex="-1" class=" [ cover-anchor ] ">
						<img src="{{ album.imageUrl }}" alt="Cover art for {{ album.name | safe }}" loading="lazy" decoding="async" class=" [ cover ] [ u-photo ] ">
					</a>
					<h1>
						<a href="{{ album.url }}">{{ album.name | safe }}</a>
					</h1>
					<div>
						<a href="{{ album.artist.url }}" class=" [ h-cite ] " rel="external noopener">{{ album.artist.name }}</a>
					</div>
				</article>
			{%- endif %}
		{%- endfor %}
	</ol>
{%- endif %}

{% if lastfm.topAlbums.length -%}
	<h3 id="top-artists">Top Artists <small>of the last 7 days</small></h3>

	<ol class=" [ grid ] [ shelf  shelf--square ] ">
		{% for artist in (lastfm.topArtists | limit(3)) -%}
			<article class=" [ flow ] ">
				<a href="{{ artist.url }}" aria-hidden="true" tabindex="-1" class=" [ cover-anchor ] ">
					<img src="{{ artist.imageUrl }}" alt="Artist picture for {{ artist.name | safe }}" loading="lazy" decoding="async" class=" [ cover ] [ u-photo ] ">
				</a>
				<h1>
					<a href="{{ artist.url }}">{{ artist.name | safe }}</a>
				</h1>
			</article>
		{%- endfor %}
	</ol>
{%- endif %}

{%- js 'module' -%}{% include '../js/components/lastfm-listening.js' %}{%- endjs -%}
