---
title: "/now"
tagline: Now
description: Stuff that I’m doing now (or at least recently)!
toc: true
---

<div class=" [ box ] [ center ] " style="inline-size: var(--size-line-length); inline-size: fit-content; margin-block-end: var(--size-large); text-wrap: balance;">
	<p>This is a <a href="https://nownownow.com/about" rel="external noopener">now page</a>, and if you have your own website, you should make one, too!</p>
</div>

<h2>Website Tinkering</h2>

{% set last_updated = "2024-03-30T17:50:00+0800" -%}
<p><strong>Last updated:</strong> <time datetime="{{ last_updated | rfc3339Date }}">{{ last_updated | friendlyDate | safe }} {{ last_updated | friendlyTime | safe }}</time></p>

<p>You can read more things I’d like to work on <a href="/ideas/">my /ideas page</a>, which is kind of like my TODO list for this website.</p>

<h3>Writing</h3>

<ul>
	<li>brainstorming for a post about the <q>concept</q> of an /interests page</li>
</ul>

<h3>Website Admin</h3>

<ul>
	<li>figure out how I want to denote and present pinned posts in Eleventy</li>
	<li>as above, but for RSS-only posts (which become visible on the site <code>site.upcomingDaysLead</code> days after publishing)</li>
	<li>get dates (and descriptions?) working for OG images</li>
	<li>explore using the new <code>eleventy-img</code> transform function instead of my image shortcode</li>
	<li>rework clients logo list into <code>&lt;marquee&gt;</code>-style presentation</li>
	<li>finish transcription cleanup for <q>Middle Out in CSS</q></li>
</ul>

{% if collections.rsvpsToday.length or collections.rsvpsUpcoming.length %}
	<hr>

	<h2>
		<a href="/rsvps/">Events</a>
	</h2>
	<div class=" [ deck ] [ flow ] ">
		{% for item in collections.rsvpsToday %}
			{% include 'items/deck.njk' %}
		{% endfor %}
		{% for item in collections.rsvpsUpcoming %}
			{% include 'items/deck.njk' %}
		{% endfor %}
	</div>
{% endif %}

{% set currentlyReading = collections.book | arePublished | arrayKeyNotSet('data.rating') | sortByDate | limit(site.limits.shelf) -%}
{% if currentlyReading.length -%}
	<hr>

	<h2>
		<a href="/books/">Books</a>
	</h2>

	<div class=" [ grid ] [ shelf  shelf--portrait ] ">
		{% for item in currentlyReading %}
			{% include 'items/shelf.njk' %}
		{% endfor %}
	</div>
{%- endif %}

{% set currentlyPlaying = collections.game | arePublished | arrayKeyNotSet('data.rating') | sortByDate | limit(site.limits.shelf) -%}
{% if currentlyPlaying.length -%}
	<hr>

	<h2>
		<a href="/games/">Games</a>
	</h2>

	<div class=" [ grid ] [ shelf  shelf--square ] ">
		{% for item in currentlyPlaying %}
			{% include 'items/shelf.njk' %}
		{% endfor %}
	</div>
{%- endif %}

{% set currentlyListening = collections.music | arePublished | arrayKeyNotSet('data.rating') | sortByDate | limit(site.limits.shelf) -%}
{% if currentlyListening.length -%}
	<hr>

	<h2>
		<a href="/music/">Music Albums</a>
	</h2>

	<div class=" [ grid ] [ shelf  shelf--square ] ">
		{% for item in currentlyListening %}
			{% include 'items/shelf.njk' %}
		{% endfor %}
	</div>
{%- endif %}

<hr>

<h2>
	<a href="/listening/">Latest Tracks</a>
</h2>

<is-land on:visible>
</is-land>
<script type="module">{% renderFile 'src/js/components/lastfm-listening.js' %}</script>
<lastfm-listening username="{{ author.lastfm }}" limit="3">
	<p>Unfortunately, this component requires JavaScript to function.</p>
</lastfm-listening>
