---
draft: true
title: "/now"
tagline: Now
description: Stuff that I’m doing now (or at least recently)!
toc: true
---

- near-upcoming events
- reviews (books, games, etc?) that don't yet have a review (i.e. are currently being read/played/etc.)
