---
layout: base
title: Popular Posts
description: |
  Top 10 most interacted-with pieces of writing, cause, y'know, ego, I guess?


  You can also <a href="/hot/">order by webmentions per day</a>.
related_collection: popular
hfeed: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] [ h-feed ] {% if toc %}[ generate-toc ] {% endif %}">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions(['mention-of', 'in-reply-to', 'like-of', 'repost-of', 'bookmark-of']) -%}
				{% include 'item-deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	{% include 'meta-archive.njk' %}

	{% include 'ads.njk' %}

</div>
