---
layout: base
title: Popular Posts
description: Top 10 most interacted-with pieces of writing, cause, y'know, ego, I guess?
related_collection: popular
---
{% from 'macros/deckItem.njk' import deckItem %}
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] [ h-feed ] ">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{{ deckItem(item, global.now, collections.all, people, webmentions) }}
			{% endfor %}
		</nav>
	</div>

	{% include 'meta-archive.njk' %}

	{% include 'ads.njk' %}

</div>
