---
layout: base
title: Popular
lede: Top 10 most interacted-with pieces of writing, cause, y'know, ego, I guess?
related_collection: popular
---
{% from 'macros/deckItem.njk' import deckItem %}
{%- set collection = collections[related_collection] -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

    <h1 id="title" class=" [ title ] ">
        <span class=" [ p-name ] ">{{ title | safe }}</span>
        {% sparkline title, collection %}
    </h1>

    <div class=" [ details ] ">
        <p class=" [ p-summary ] ">{{ lede | safe }}</p>
    </div>

    <div class=" [ content__body ] [ h-feed ] ">
        <nav class=" [ deck ] ">
            {% for item in collection %}
                {{ deckItem(item, global.now, collections.all, webmentions) }}
            {% endfor %}
        </nav>
    </div>

    <div class=" [ meta ] [ box ] ">
        <h3>Browse by category:</h3>
        <ul class=" [ meta__list ] ">
            {% for lookup in collections.categories %}<li><a href="/{{ lookup.plural }}/">{{ lookup.properPlural }}</a></li>{% endfor %}
        </ul>
        <h3>Browse by tag:</h3>
        <ul class=" [ meta__list ] ">
            {% for lookup in collections.tags | sort %}<li><a href="/tag/{{ lookup }}">#{{ lookup }}</a></li>{% endfor %}
        </ul>
        <h3>Latest projects:</h3>
        <div class=" [ meta__list ] ">
            {% for lookup in projects.personal | limit(2) %}
                <h4><a href="{{ lookup.url }}">{{ lookup.data.title }}</a></h4>
                {{ lookup.data.lede | markdownFormat | safe }}
            {% endfor %}
        </div>
    </div>

    {% include 'ads.njk' %}

</div>
