---
title: Projects
lede: A list of my personal projects, work, and rabbit-hole deep-dives.
---
{% from 'macros/deckItem.njk' import deckItem %}

<h2>Personal projects</h2>

<nav class=" [ deck ] [ h-feed ] ">
    {% for item in projects.personal %}
        {{ deckItem(item, global.now, [], [], false, false) }}
    {% endfor %}
</nav>

<h2>Work and work projects</h2>

<nav class=" [ deck ] [ h-feed ] ">
    {% for item in projects.work %}
        {{ deckItem(item, global.now, [], [], false, false) }}
    {% endfor %}
</nav>

<h2>Previous versions of chrisburnell.com</h2>

<nav class=" [ deck ] [ h-feed ] ">
    {% for item in projects.previousVersions %}
        {{ deckItem(item, global.now, [], [], false, false) }}
    {% endfor %}
</nav>
