---
title: Search
description: Search for something on my website!
noindex: true
nofollow: true
sitemap:
  exclude: true
---

<script type="module" src="/js/pages/pagefind-search.js"></script>

<pagefind-search>
	<!-- </textarea> -->
	<!-- '"´ -->
	<form action="https://duckduckgo.com/" method="get" style="min-height: 3.2em;">
		<label>
			Search for:
			<input type="search" name="q" autocomplete="off" autofocus>
		</label>
		<input type="hidden" name="sites" value="chrisburnell.com">
		<button type="submit">Search</button>
	</form>
</pagefind-search>
