---
draft: true
title: Search
lede: Search for something!
---

<form id="search" class="search" method="get" name="search" action="https://duckduckgo.com/" onsubmit="prepend()">
    <input id="search-query" type="search" name="q" value="site:chrisburnell.com ">
    <button class="button" type="submit">Submit</button>
</form>

<p>Search provided by <a href="https://duckduckgo.com">DuckDuckGo</a>: <q>The Internet privacy company that empowers you to seamlessly take control of your personal information online, without any tradeoffs.</q></p>

{% block foot %}
<script>
    const input = document.querySelector("input");

    input.value = "";

    function prepend() {
        input.value = "site:chrisburnell.com " + input.value;
    }
</script>
{% endblock foot %}
