---
title: Stats
description: Numbers, cause why not?
excludeFromSearch: true
---

{%- set collection = collections.posts | rssOnlyFilter -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.year | default(collection[0].year) -%}
{%- set first_year = collection[count-1].data.year | default(collection[count-1].year) -%}

{%- set latest_post = collections.blogPosts | first -%}
{%- set first_post = collections.blogPosts | last -%}

{%- set wordiest_post_index = 0 -%}
{%- set wordiest_blog_post = 0 -%}
{%- set blog_wordcount = 0 -%}
{%- for item in collections.blogPosts | rssOnlyFilter -%}
	{%- set wordCount = item.content | cleanTagsForWordcount | striptags | safe | wordcount -%}
	{%- set blog_wordcount = blog_wordcount + wordCount -%}
	{%- if wordCount > wordiest_blog_post -%}
		{%- set wordiest_blog_post = wordCount -%}
		{%- set wordiest_post_index = loop.index0 -%}
	{%- endif -%}
{%- endfor -%}

{%- set blog_count = 0 -%}
{%- set blog_count_highest_per_year = 0 -%}
{%- for i in range(first_year, latest_year + 1) -%}
	{%- set count = collections.blogPosts | rssOnlyFilter | getCollectionCountByYear(i) -%}
	{%- set blog_count = blog_count + count -%}
	{%- if count > blog_count_highest_per_year -%}
		{%- set blog_count_highest_per_year = count -%}
	{%- endif -%}
{%- endfor -%}

{%- set blog_count_highest_per_weekday = 0 -%}
{%- for weekday in ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] -%}
	{%- set count = collections.blogPosts | rssOnlyFilter | getCollectionCountByWeekday(weekday) -%}
	{%- if count > blog_count_highest_per_weekday -%}
		{%- set blog_count_highest_per_weekday = count -%}
	{%- endif -%}
{%- endfor -%}

{%- set blog_count_highest_per_category = 0 -%}
{%- for item in collections.categories -%}
	{%- set count = collections[item.title] | arePublished | rssOnlyFilter | getCollectionCount -%}
	{%- if count > blog_count_highest_per_category -%}
		{%- set blog_count_highest_per_category = count -%}
	{%- endif -%}
{%- endfor -%}

{%- set blog_count_highest_per_tag = 0 -%}
{%- for item in collections.tags -%}
	{%- set count = collections[item] | arePublished | rssOnlyFilter | getCollectionCount -%}
	{%- if count > blog_count_highest_per_tag -%}
		{%- set blog_count_highest_per_tag = count -%}
	{%- endif -%}
{%- endfor -%}

{%- set first_commit = repository.information.created_at | epoch -%}
{%- set days_since_first_commit = (global.nowEpoch - first_commit) / 86400002 -%}
{%- set commits_per_day = repository.contributors[0].contributions / days_since_first_commit -%}

<dl>
	<dt>№ Posts</dt>
	<dd>{{ collection.length | numberStringFormat }}</dd>
	<dt>№ Blog Posts <a href="#fn1" id="fnref1"><sup class="footnote-ref">[1]</sup></a></dt>
	<dd>{{ blog_count | numberStringFormat }}</dd>
	<dt>First Blog Post</dt>
	<dd><a href="{{ first_post | keyValue('url') }}">{{ first_post | keyValue('data.title') | safe }}</a><br><time datetime="{{ first_post | keyValue('data.date') | rfc3339Date | safe }}">{{ first_post | keyValue('data.date') | friendlyDateLong | safe }}</time></dd>
	<dt>Latest Blog Post</dt>
	<dd><a href="{{ latest_post | keyValue('url') }}">{{ latest_post | keyValue('data.title') | safe }}</a><br><time datetime="{{ latest_post | keyValue('data.date') | rfc3339Date | safe }}">{{ latest_post | keyValue('data.date') | friendlyDateLong | safe }}</time></dd>
	<dt>Blog Word Count</dt>
	<dd>{{ blog_wordcount | numberStringFormat }}</dd>
	<dt>Most Verbose</dt>
	<dd><a href="{{ collections.blogPosts[wordiest_post_index].url }}">{{ collections.blogPosts[wordiest_post_index].data.title }}</a> <small>with</small> {{ wordiest_blog_post | numberStringFormat }} words</dd>
	<dt>№ Projects</dt>
	<dd><a href="/projects/">{{ (projects.web.length + projects.personal.length + collections.projects.length) | numberStringFormat }}</a></dd>
	<dt>№ Blogs in my Blogroll</dt>
	<dd><a href="/blogroll/">{{ blogroll | length | numberStringFormat }}</a></dd>
	<dt>№ Webmentions Received</dt>
	<dd>{{ webmentionsAll | length | numberStringFormat }}</dd>
	<dt>Commits <small>per</small> Day</dt>
	<dd><a href="https://github.com/{{ author.github }}/{{ site.repository }}/commits/{{ site.branch }}">{{ commits_per_day | maxDecimals(2) }}</a> <small>({{ repository.contributors[0].contributions | numberStringFormat }} commits over <span title="since {{ repository.information.created_at | friendlyDate }}">{{ (days_since_first_commit / 365.2422) | maxDecimals(2) }} years</span>)</small></dd>
</dl>

<hr>

<h2>Blog Posts</h2>

<div class=" [ grid  center ] " style="--min-inline-size: 100%;">{% sparkline collections.blogPosts, first_year, false %}</div>

<c-details open="true" force-close="(max-width: 850px)" force-restore>
	<summary>Blog Posts by year</summary>
	<table style="border-block-start: 0;">
		<tbody>
			{% for i in range(first_year, global.currentYear + 1) -%}
				{% set count = collections.blogPosts | rssOnlyFilter | getCollectionCountByYear(i) -%}
				<tr>
					<th class=" [ numeral ] ">{{ i }}</th>
					<td class=" [ numeral  strong ] " style="padding-inline-start: 1lh; padding-inline-end: var(--size-medium);">{{ count }}</td>
					<td style="inline-size: 100%; padding-inline: 0;">
						<div class=" [ background--raven ] " style="background-image: linear-gradient(to bottom, transparent, color-mix(in oklab, var(--color-mineshaft), transparent calc(100% - var(--opacity-beta)))); inline-size: {{ (count / blog_count_highest_per_year * 100) | maxDecimals }}%; block-size: 1lh; border-radius: var(--size-border-default);"></div>
					</td>
				</tr>
			{%- endfor %}
		</tbody>
	</table>
</c-details>

<c-details open="true" force-close="(max-width: 850px)" force-restore>
	<summary>Blog Posts by weekday</summary>
	<table style="border-block-start: 0;">
		<tbody>
			{% for weekday in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] -%}
				{% set count = collections.blogPosts | rssOnlyFilter | getCollectionCountByWeekday(weekday) -%}
				<tr>
					<th>{{ weekday }}</th>
					<td class=" [ numeral  strong ] " style="padding-inline-start: 1lh; padding-inline-end: var(--size-medium);">{{ count }}</td>
					<td style="inline-size: 100%; padding-inline: 0;">
						<div class=" [ background--raven ] " style="background-image: linear-gradient(to bottom, transparent, color-mix(in oklab, var(--color-mineshaft), transparent calc(100% - var(--opacity-beta)))); inline-size: {{ (count / blog_count_highest_per_weekday * 100) | maxDecimals }}%; block-size: 1lh; border-radius: var(--size-border-default);"></div>
					</td>
				</tr>
			{%- endfor %}
		</tbody>
	</table>
</c-details>

<c-details open="true" force-close="(max-width: 850px)" force-restore>
	<summary>Blog Posts by category</summary>
	<table style="border-block-start: 0;">
		<tbody>
			{% for item in collections.categories -%}
				{%- set count = collections[item.title] | arePublished | rssOnlyFilter | getCollectionCount -%}
				<tr>
					<th>{{ item.properPlural | supertitle }}</th>
					<td class=" [ numeral  strong ] " style="padding-inline-start: 1lh; padding-inline-end: var(--size-medium);">{{ count }}</td>
					<td style="inline-size: 100%; padding-inline: 0;">
						<div class=" [ background--raven ] " style="background-image: linear-gradient(to bottom, transparent, color-mix(in oklab, var(--color-mineshaft), transparent calc(100% - var(--opacity-beta)))); inline-size: {{ (count / blog_count_highest_per_category * 100) | maxDecimals }}%; block-size: 1lh; border-radius: var(--size-border-default);"></div>
					</td>
				</tr>
			{%- endfor %}
		</tbody>
	</table>
</c-details>

<c-details open="true" force-close="(max-width: 850px)" force-restore>
	<summary>Blog Posts by tag</summary>
	<table style="border-block-start: 0;">
		<tbody>
			{% for item in collections.tags | sort -%}
				{%- set count = collections[item] | arePublished | rssOnlyFilter | getCollectionCount -%}
				<tr>
					<th>{{ item }}</th>
					<td class=" [ numeral  strong ] " style="padding-inline-start: 1lh; padding-inline-end: var(--size-medium);">{{ count }}</td>
					<td style="inline-size: 100%; padding-inline: 0;">
						<div class=" [ background--raven ] " style="background-image: linear-gradient(to bottom, transparent, color-mix(in oklab, var(--color-mineshaft), transparent calc(100% - var(--opacity-beta)))); inline-size: {{ (count / blog_count_highest_per_tag * 100) | maxDecimals }}%; block-size: 1lh; border-radius: var(--size-border-default);"></div>
					</td>
				</tr>
			{%- endfor %}
		</tbody>
	</table>
</c-details>

<hr style="--rule-space: var(--size-medium);">

<nav aria-label="Footnotes">
	<ol>
		<li id="fn1" class=" [ flow ] ">
			<p>What’s the difference between a <q>post</q> and <q>blog post</q>? </p>
			<p>Well, there are a number of <a href="/posts/#categories">post categories</a> (e.g. <a href="/music/">music reviews</a>) that aren’t very <q>bloggy</q> per se, so I make the distinction that <strong>blog posts</strong> specifically have a decent heft of written content to them. <a href="#fnref1">↩︎</a></p>
		</li>
	</ol>
</nav>
