---
title: Style Guide
description: The style guide for <span class="canada">this website</span>.
wide: true
toc: true
hfeed: false
show_photos: true
truncate: true
---

{% css -%}{% renderFile 'src/css/pages/styleguide.scss' %}{%- endcss -%}

<h2>Colours</h2>

<figure>
	<ul id="colors" class=" [ palette ] ">
		{%- for name, color in designTokens.colors -%}
			<li class=" [ background--{{ name }} ] {% if name == 'aspen' or name == 'conifer' or name == 'maple' %}[ third ] {% endif %}"{% if name == 'raven' or name == 'thunder' or name == 'snowy' %} style="flex: 1 0 100%;"{% endif %}>
				<h3>{{ name | title }}</h3>
				<pre style="font-size: var(--font-size-small-min);">{{ color }}</pre>
				{% if name == 'raven' -%}
					<pre  style="display: none;">color-mix(in oklab, goldenrod 15.33%, steelblue)</pre>
					<pre  style="display: none;">#5f8aa6</pre>
				{% elif name == 'thunder' -%}
					<pre  style="display: none;">color-mix(in oklab, black 69.77%, darkgray)</pre>
					<pre  style="display: none;">#1b1b1b</pre>
				{% elif name == 'snowy' -%}
					<pre  style="display: none;">color-mix(in oklab, black 1.79%, white)</pre>
					<pre  style="display: none;">#f9f9f9</pre>
				{%- endif %}
			</li>
		{%- endfor -%}
	</ul>
	<figcaption>
		<p>Available as a <a href="/Ravenous.gpl">palette file</a> for your favourite image/pixel editor!</p>
	</figcaption>
</figure>

<h2>Sizes</h2>

<dl>
	{%- for name, size in designTokens.sizes -%}
		{%- if not '-' in name -%}
			<dt>{{ name | replace('-', ' ') | title | replace(' ', '–') }}</dt>
			<dd><div class=" [ size-example  size-example--{{ name }} ] " title="{{ size }}"></div></dd>
		{%- endif -%}
	{%- endfor -%}
</dl>

<c-details>
	<summary class=" [ gamma ] ">Multi-Steps</summary>
	<dl>
		{%- for name, size in designTokens.sizes -%}
			{%- if '-' in name and not '-min' in name and not '-max' in name -%}
				<dt>{{ name | replace('-', ' ') | title | replace(' ', '–') }}</dt>
				<dd><div class=" [ size-example  size-example--{{ name }} ] " title="{{ size }}"></div></dd>
			{%- endif -%}
		{%- endfor -%}
	</dl>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">Fluid Size Scale values</summary>
	<p>Values generated using <strong><a href="/clamp-calculator/">clamp() Calculator</a></strong> with the following values:</p>
	<dl>
		<dt>Root Font Size</dt>
		<dd>
			<pre>16px</pre>
		</dd>
		<dt>Viewport Widths</dt>
		<dd>
			<pre>700px – 1600px</pre>
		</dd>
		<dt>Sizes <small>(px)</small></dt>
		<dd>
			<pre>64 – 72
36 – 42
20 – 24
10 – 12
 5 –  6</pre>
		</dd>
	</dl>
</c-details>

<h2>Font Families</h2>

<div class=" [ flow ] " style="--flow-space: 1rem">
	<div style="font-family: var(--font-family-sans);">{{ designTokens['font-families']['sans'] | replace('"', '') | replace("'", '') }}</div>
	<div style="font-family: var(--font-family-serif);">{{ designTokens['font-families']['serif'] | replace('"', '') | replace("'", '') }}</div>
	<div style="font-family: var(--font-family-monospace);">{{ designTokens['font-families']['monospace'] | replace('"', '') | replace("'", '') }}</div>
</div>

<h2>Headings</h2>

<div class=" [ flow ] " style="--flow-space: 1rem">
	<div class="alpha">Heading Level 1</div>
	<div class="beta">Heading Level 2</div>
	<div class="gamma">Heading Level 3</div>
	<div class="delta">Heading Level 4</div>
	<div class="epsilon">Heading Level 5</div>
	<div class="zeta">Heading Level 6</div>
</div>

<c-details>
	<summary class=" [ gamma ] ">Fluid Type Scale values</summary>
	<p>Values generated using <strong><a href="/clamp-calculator/">clamp() Calculator</a></strong> with the following values:</p>
	<dl>
		<dt>Root Font Size</dt>
		<dd>
			<pre>16px</pre>
		</dd>
		<dt>Viewport Widths</dt>
		<dd>
			<pre>700px – 1600px</pre>
		</dd>
		<dt>Type Scales</dt>
		<dd>
			<strong>Min:</strong> Minor Third <span class="monospace">1.2</span>
			<br>
			<strong>Max:</strong> Perfect Fourth <span class="monospace">1.333</span>
			<br>
			<strong>*:</strong> Augmented Fourth <span class="monospace">1.414</span>
		</dd>
		<dt>Font Sizes <small>(px)</small></dt>
		<dd>
			<pre>33.178 – 72.000 (*)
27.648 – 42.666
23.040 – 32.000
19.200 – 24.000
16.000 – 18.000
14.000 – 16.000 (Custom)</pre>
		</dd>
	</dl>
</c-details>

<h2>Paragraph</h2>

<p>A paragraph (from the Greek paragraphos, <q>to write beside</q> or <q>written beside</q>) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<p class="columns">A paragraph (from the Greek paragraphos, <q>to write beside</q> or <q>written beside</q>) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<!--
<h2>Aside</h2>

<aside>
	<p>An aside represents a section of the page with content connected tangentially to the rest, which could be considered separate from that content.</p>
</aside>
-->

<p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

<h2>Inline Elements</h2>

<p><a href="#paragraph">This is a text link</a></p>

<p><strong>Strong is used to indicate strong importance</strong></p>

<p><em>This text has added emphasis</em></p>

<p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>

<p>The <i>i element</i> is text that is set off from the normal text</p>

<p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>

<p>The <del>del element</del> denotes removed content while the <ins>ins element</ins> indicates content that has been added</p>

<p>The <s>s element</s> denotes content that has been revised but kept for historical sake</p>

<p>Superscript for things like: {{ 4 | ordinal | safe }} of August; a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>; 5,490.35 km<sup>2</sup></p>

<p>Subscript for things like: H<sub>2</sub>O; H<sub>2</sub>SO<sub>4</sub>; C<sub>24</sub>H<sub>26</sub>O<sub>7</sub></p>

<p>The <small>small element</small> is for fine print</p>

<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>

<p>Acronym: <abbr class="acronym" title="National Aeronautics and Space Administration">Nasa</abbr></p>

<p>This text has <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">a short inline quotation</q></p>

<p>This text has <q>a short inline quotation with <q>another short inline quotation</q> spoken by a different voice</q></p>

<p>This text has <span lang="fr"><q>une citation en incise</q></span> demonstrating quotes from non-English languages.</p>

<p>The <dfn title="definition element">dfn element</dfn> indicates a definition</p>

<p>The <mark>mark element</mark> indicates a highlight</p>

<p>This is what <code>inline code</code> looks like</p>

<p>This is <samp>sample output</samp> from a computer program</p>

<p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>

<p>Keyboard input: <kbd>Ctrl</kbd> <kbd>Alt</kbd> <kbd>Del</kbd></p>

<h2>Blockquotes</h2>

<blockquote>
	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
	<cite>Quote Source</cite>
</blockquote>

<h2>Unordered Lists</h2>

<ul>
	<li>This is a list item in an unordered list</li>
	<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
	<li>
		Lists can be nested inside of each other
		<ul>
			<li>This is a nested list item</li>
			<li>This is another nested list item in an unordered list</li>
		</ul>
	</li>
	<li>This is the last list item</li>
</ul>

<h2>Ordered Lists</h2>

<ol>
	<li>This is a list item in an ordered list</li>
	<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
	<li>
		Lists can be nested inside of each other
		<ol>
			<li>This is a nested list item</li>
			<li>This is another nested list item in an ordered list</li>
		</ol>
	</li>
	<li>This is the last list item</li>
</ol>

<c-details>
	<summary class=" [ gamma ] ">Reversed</summary>
	<ol reversed>
		<li>This is a list item in an ordered list</li>
		<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
		<li>This is the last list item</li>
	</ol>
</c-details>

<h2>Description Lists</h2>

<dl>
	<dt>Description List</dt>
	<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
	<dt>This is a term.</dt>
	<dd>This is the description of that term, which both live in a <code>dl</code>.</dd>
	<dt>And another term.</dt>
	<dd>And it gets a description too, which is this line.</dd>
</dl>

<h2>Tables</h2>

<table>
	<thead>
		<tr>
			<th>Heading A</th>
			<th>Heading B</th>
			<th>Heading C</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cell A-1</td>
			<td>Cell B-1</td>
			<td>Cell C-1</td>
		</tr>
		<tr>
			<td>Cell A-2</td>
			<td>Cell B-2</td>
			<td>Cell C-2</td>
		</tr>
		<tr>
			<td>Cell A-3</td>
			<td>Cell B-3</td>
			<td>Cell C-3</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>Foot A</th>
			<th>Foot B</th>
			<th>Foot C</th>
		</tr>
	</tfoot>
</table>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Rows</summary>
	<table class="zebra--horizontal">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
			</tr>
			<tr>
				<td>Cell A-4</td>
				<td>Cell B-4</td>
				<td>Cell C-4</td>
			</tr>
			<tr>
				<td>Cell A-5</td>
				<td>Cell B-5</td>
				<td>Cell C-5</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Columns</summary>
	<table class="zebra--vertical">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
				<th>Heading D</th>
				<th>Heading E</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
				<td>Cell D-1</td>
				<td>Cell E-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
				<td>Cell D-2</td>
				<td>Cell E-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
				<td>Cell D-3</td>
				<td>Cell E-3</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
				<th>Foot D</th>
				<th>Foot E</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Alternating Rows & Columns</summary>
	<table class="zebra">
		<thead>
			<tr>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
				<th>Heading D</th>
				<th>Heading E</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
				<td>Cell D-1</td>
				<td>Cell E-1</td>
			</tr>
			<tr>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
				<td>Cell D-2</td>
				<td>Cell E-2</td>
			</tr>
			<tr>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
				<td>Cell D-3</td>
				<td>Cell E-3</td>
			</tr>
			<tr>
				<td>Cell A-4</td>
				<td>Cell B-4</td>
				<td>Cell C-4</td>
				<td>Cell D-4</td>
				<td>Cell E-4</td>
			</tr>
			<tr>
				<td>Cell A-5</td>
				<td>Cell B-5</td>
				<td>Cell C-5</td>
				<td>Cell D-5</td>
				<td>Cell E-5</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
				<th>Foot D</th>
				<th>Foot E</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<c-details>
	<summary class=" [ gamma ] ">With Sub-headings</summary>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Heading A</th>
				<th>Heading B</th>
				<th>Heading C</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Subheading 1</th>
				<td>Cell A-1</td>
				<td>Cell B-1</td>
				<td>Cell C-1</td>
			</tr>
			<tr>
				<th>Subheading 2</th>
				<td>Cell A-2</td>
				<td>Cell B-2</td>
				<td>Cell C-2</td>
			</tr>
			<tr>
				<th>Subheading 3</th>
				<td>Cell A-3</td>
				<td>Cell B-3</td>
				<td>Cell C-3</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th>Foot A</th>
				<th>Foot B</th>
				<th>Foot C</th>
			</tr>
		</tfoot>
	</table>
</c-details>

<h2>Figures</h2>

<figure>
	{% image './images/content/cabot-tower.jpg', 'A photograph of Cabot Tower on Signal Hill in St. John’s, Newfoundland, the site where Marconi’s first trans-Atlantic radio broadcast was received' %}
	<figcaption><p><a href="https://www.pc.gc.ca/apps/dfhd/page_fhbro_eng.aspx?id=3263">Cabot Tower</a> in <a href="https://www.openstreetmap.org/#map=12/47.5651/-52.7860">St. John’s, Newfoundland</a></p></figcaption>
</figure>

<!--
<h2>Meter</h2>

<meter value="40" min="0" low="10" optimum="50" high="90" max="100" style="padding-block: var(--size-small);"></meter>
-->

<!--
<h2>Progress</h2>

<progress style="padding-block: var(--size-small);">progress</progress>
-->

<h2>Preformatted Text</h2>

<pre>P R E F O R M A T T E D T E X T
! " # $ % & ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; < = > ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~</pre>

<h2>Code Blocks</h2>

<pre class="language-javascript"><code tabindex="0" class="language-javascript"><span class="token keyword">const</span> <span class="token function-variable function">cssnakedday</span> <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token operator">=&gt;</span> <span class="token punctuation">{</span>
	<span class="token keyword">const</span> now <span class="token operator">=</span> Date<span class="token punctuation">.</span><span class="token function">now</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
	<span class="token keyword">const</span> thisYear <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getFullYear</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
	<span class="token keyword">const</span> startEpoch <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token template-string"><span class="token template-punctuation string">`</span><span class="token interpolation"><span class="token interpolation-punctuation punctuation">${</span>thisYear<span class="token interpolation-punctuation punctuation">}</span></span><span class="token string">-04-09T00:00:00+1400</span><span class="token template-punctuation string">`</span></span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
	<span class="token keyword">const</span> endEpoch <span class="token operator">=</span> <span class="token keyword">new</span> <span class="token class-name">Date</span><span class="token punctuation">(</span><span class="token template-string"><span class="token template-punctuation string">`</span><span class="token interpolation"><span class="token interpolation-punctuation punctuation">${</span>thisYear<span class="token interpolation-punctuation punctuation">}</span></span><span class="token string">-04-09T23:59:59-1200</span><span class="token template-punctuation string">`</span></span><span class="token punctuation">)</span><span class="token punctuation">.</span><span class="token function">getTime</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
	<span class="token keyword">return</span> startEpoch <span class="token operator">&lt;=</span> now <span class="token operator">&amp;&amp;</span> now <span class="token operator">&lt;=</span> endEpoch
<span class="token punctuation">}</span></code></pre>

<h2>Buttons</h2>

<div class=" [ grid ] [ navigator ] ">
	<button>Button</button>
	<button disabled>Disabled</button>
	<a href="#buttons" class=" [ button ] ">Styled Anchor</a>
</div>

<h2>Details</h2>

<c-details>
	<summary>Summary</summary>
	<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
	<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
</c-details>

<h2>Audio</h2>

<figure class=" [ media ] ">
	<audio src="/audio/mononoke-hime.mp3" loading="lazy" decoding="async" controls style="max-inline-size: 480px; margin-inline: auto;"></audio>
</figure>

<h2>Video</h2>

<figure class=" [ media ] ">
	<video src="/images/animated/whywastetime.mp4" controls loading="lazy" decoding="async" style="max-inline-size: 480px; margin-inline: auto; aspect-ratio: 480 / 270;"></video>
</figure>

<h2>Boxes</h2>

<div class=" [ box ] [ flow ] ">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit id nulla vitae maximus.</p>
</div>

<div class=" [ box  box--success ] [ flow ] ">
	<p>Hey—this box means something good happened!</p>
</div>

<div class=" [ box  box--warning ] [ flow ] ">
	<p>Uh oh, this box might mean something went wrong.</p>
</div>

<div class=" [ box  box--error ] [ flow ] ">
	<p>Uh oh, this box <strong>definitely</strong> means something went wrong.</p>
</div>

<h2>Deck</h2>

<div id="list-deck" class=" [ deck ] ">
{% for item in collections.hot | limit(site.limits.deck) %}
	{% include 'items/deck.njk' %}
{% endfor %}
</div>

<h2>Shelf</h2>

<div id="list-shelf-beer" class=" [ grid ] [ shelf ] ">
{%- set hfeed = false -%}
{% for item in collections.beer | arePublished | keySort('data.rating') | reverse | limit(site.limits.shelf) %}
	{% include 'items/shelf.njk' %}
{% endfor %}
</div>

<div id="list-shelf-music" class=" [ grid ] [ shelf ] ">
{% for item in collections.music | arePublished | keySort('data.rating') | reverse | limit(site.limits.shelf) %}
	{% include 'items/shelf.njk' %}
{% endfor %}
</div>

<h2>Sparklines</h2>

<div class=" [ grid ] " style="--min-inline-size: 212px;">
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true" animate="true" start-label="Start" end-label="End"></svg-sparkline>
	</article>
	<article class="sparkline-dark" style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true" animate="true" start-label="Start" end-label="End"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" endpoint-color="var(--color-maple)"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" endpoint="false"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" fill="true" endpoint-color="var(--color-maple)"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="matrix">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="koala">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
	<article style="display: grid; place-items: center;" data-theme="red-alert">
		<svg-sparkline values="0,0,0,0,0,0,0,0,4,0,0,4,9,1,4,5,2,4,2,6,4,6,4,6,5,4" gradient-color="var(--color-raven)" fill="true" endpoint-color="var(--color-maple)" curve="true"></svg-sparkline>
	</article>
</div>

<p class="italic">Like these? Check out <a href="/svg-sparkline/">how they work</a> with out my custom Web Component, <code>&lt;svg-sparkline&gt;</code>.</p>

<p class="italic">Or the sound the make? <a href="/pentatonic/">Pentatonic</a> uses the Web Audio API to generate fun little melodies from data.</p>

<h2>Can I use... Widget</h2>

{% browserSupport 'css-has' %}

<p class="italic">I keep track of a whole bunch of different browser features over on my <a href="/feature-watch/">Browser Feature Watch</a> project.</p>
