---
title: /tip
tagline: Tip
description: Buy me a coffee?
---

<p class=" [ center  inline-center ] "><a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="external noopener" title="Buy me a coffee">
	<img src="/images/buy-me-a-coffee.png" alt="Buy me a coffee 88x31 badge" loading="lazy" decoding="async" width="264" height="93" class=" [ pixelated ] ">
</a></p>
