<h2>Browse by category</h2>
<ul class=" [ cluster ] ">
	{% for lookup in collections.categories %}
		<li>{% if '/' + lookup.plural + '/' == page.url %}<strong>{{ lookup.properPlural | capitalize }}</strong>{% else %}<a href="/{{ lookup.plural }}/"{% if category == lookup.title %} class="code-red"{% endif %}>{{ lookup.properPlural | capitalize }}</a>{% endif %}</li>
	{% endfor %}
</ul>
