<h2>Browse by category</h2>
<ul class=" [ grid ] " style="--min-inline-size: 10em; --row-gap: 0;">
	{% for lookup in collections.categories -%}
		<li>
			{% if page.url != '/' + lookup.plural + '/' -%}
				<a href="/{{ lookup.plural }}/" {% if category == lookup.title %}class=" [ button  button--text ] "{% endif %}>
			{%- else -%}
				<strong>
			{%- endif %}
				{% if category != lookup.title %}<c-emoji>{{ lookup.emoji | default(emojis.paper) }}</c-emoji>{% endif %}{{ lookup.properPlural | title }}
			{% if page.url != '/' + lookup.plural + '/' -%}
				</a>
			{%- else -%}
				</strong>
			{%- endif %}
		</li>
	{%- endfor %}
</ul>
