<h2>Browse collections</h2>
<ul class=" [ cluster ] ">
	{%- if eleventy.env.runMode !== "build" and page.url != '/drafts/' %}<li><a href="/drafts/">Drafts</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/">All Posts</a></li>{% endif -%}
	{%- if page.url != '/latest/' %}<li><a href="/latest/">Latest Posts</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/#categories">Categories</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/#tags">Tags</a></li>{% endif -%}
	{%- if page.url != '/writing/' %}<li><a href="/writing/">Writing</a></li>{% endif -%}
	{%- if page.url != '/replies/' %}<li><a href="/replies/">Replies</a></li>{% endif -%}
	{%- if page.url != '/rsvps/' %}<li><a href="/rsvps/">RSVPs</a></li>{% endif -%}
	{%- if page.url != '/hot/' %}<li><a href="/hot/">Hot Pages</a></li>{% endif -%}
	{%- if page.url != '/popular/' %}<li><a href="/popular/">Popular Pages</a></li>{% endif -%}
</ul>
