<h2>Browse collections</h2>
<ul class=" [ cluster ] " style="line-height: var(--line-height-code);">
	{%- if eleventy.env.runMode !== 'build' and page.url != '/drafts/' %}<li><a href="/drafts/"><c-icon><i class="fas fa-file-pen"></i></c-icon>Drafts</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/"><c-icon><i class="fas fa-table-list"></i></c-icon>All Posts</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/#latest"><c-icon><i class="fas fa-newspaper"></i></c-icon>Latest Posts</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/#categories"><c-icon><i class="fas fa-layer-group"></i></c-icon>Categories</a></li>{% endif -%}
	{%- if page.url != '/posts/' %}<li><a href="/posts/#tags"><c-icon><i class="fas fa-tags"></i></c-icon>Tags</a></li>{% endif -%}
	{%- if page.url != '/writing/' %}<li><a href="/writing/"><c-icon><i class="fas fa-feather-pointed"></i></c-icon>Writing</a></li>{% endif -%}
	{%- if page.url != '/rsvps/' %}<li><a href="/rsvps/"><c-icon><i class="fas fa-envelope"></i></c-icon>RSVPs</a></li>{% endif -%}
	{%- if page.url != '/hot/' %}<li><a href="/hot/"><c-icon style="--color-icon-active: var(--color-html);"><i class="fas fa-fire"></i></c-icon>Hot Pages</a></li>{% endif -%}
	{%- if page.url != '/popular/' %}<li><a href="/popular/"><c-icon style="--color-icon-active: var(--color-css);"><i class="fas fa-chart-line"></i></c-icon>Popular Pages</a></li>{% endif -%}
</ul>
