<h2>More pages</h2>
<ul class=" [ cluster ] " style="line-height: var(--line-height-code);">
	{%- if page.url != '/search/' %}<li><a href="/search/"><c-icon><svg width="20" height="20" aria-hidden="true" focusable="false"><use href="#svg--search"></use></svg></c-icon>Search</a></li>{% endif -%}
	{%- if page.url != '/cv/' %}<li><a href="/cv/"><c-icon style="--color-icon-active: var(--color-maple);"><i class="fas fa-address-card"></i></c-icon>CV</a></li>{% endif -%}
	{%- if page.url != '/blogroll/' %}<li><a href="/blogroll/"><c-icon style="--color-icon-active: var(--color-maple);"><i class="fas fa-heart-circle-plus"></i></c-icon>Blogroll</a></li>{% endif -%}
	{%- if page.url != '/explore/' %}<li><a href="/explore/"><c-icon><i class="fas fa-binoculars"></i></c-icon>Explore</a></li>{% endif -%}
	{%- if page.url != '/feeds/' %}<li><a href="/feeds/"><c-icon style="--color-icon-active: var(--color-rss);"><i class="fas fa-rss"></i></c-icon>Feeds</a></li>{% endif -%}
	{%- if page.url != '/guestbook/' %}<li><a href="/guestbook/"><c-icon><i class="fas fa-pen-fancy"></i></c-icon>Guestbook</a></li>{% endif -%}
	{%- if page.url != '/help/' %}<li><a href="/help/"><c-icon><i class="fas fa-question"></i></c-icon>Want my help?</a></li>{% endif -%}
	{%- if page.url != '/indieweb/' %}<li><a href="/indieweb/"><c-icon>{% image './images/content/indiewebcamp.svg', 'IndieWebCamp logo', '', ['auto'], 'inline-size: 1em; block-size: 1em; object-fit: contain; filter: sepia(100%) hue-rotate(160deg); vertical-align: middle;' %}</c-icon>IndieWeb</a></li>{% endif -%}
	{%- if page.url != '/links/' %}<li><a href="/links/"><c-icon><i class="fas fa-link"></i></c-icon>Links</a></li>{% endif -%}
	{%- if page.url != '/listening/' %}<li><a href="/listening/"><c-icon><i class="fas fa-headphones"></i></c-icon>Listening</a></li>{% endif -%}
	{%- if page.url != '/slashes/' %}<li><a href="/slashes/"><c-icon><i class="fas fa-link-slash"></i></c-icon>Slash Pages</a></li>{% endif -%}
	{%- if page.url != '/stats/' %}<li><a href="/stats/"><c-icon><i class="fas fa-bars-progress"></i></c-icon>Stats</a></li>{% endif -%}
	{%- if page.url != '/styleguide/' %}<li><a href="/styleguide/"><c-icon><i class="fas fa-palette"></i></c-icon>Style Guide</a></li>{% endif -%}
</ul>
