<h2>More pages</h2>
<ul class=" [ cluster ] ">
	{%- if page.url != '/search/' %}<li><a href="/search/"><c-emoji><svg width="20" height="20" aria-hidden="true" focusable="false"><use href="#svg--search"></use></svg></c-emoji>Search</a></li>{% endif -%}
	{%- if page.url != '/cv/' %}<li><a href="/cv/">CV</a></li>{% endif -%}
	{%- if page.url != '/blogroll/' %}<li><a href="/blogroll/">Blogroll</a></li>{% endif -%}
	{%- if page.url != '/explore/' %}<li><a href="/explore/">Explore</a></li>{% endif -%}
	{%- if page.url != '/feeds/' %}<li><a href="/feeds/">Feeds</a></li>{% endif -%}
	{%- if page.url != '/guestbook/' %}<li><a href="/guestbook/">Guestbook</a></li>{% endif -%}
	{%- if page.url != '/help/' %}<li><a href="/help/">Want my help?</a></li>{% endif -%}
	{%- if page.url != '/indieweb/' %}<li><a href="/indieweb/">IndieWeb</a></li>{% endif -%}
	{%- if page.url != '/links/' %}<li><a href="/links/">Links</a></li>{% endif -%}
	{%- if page.url != '/listening/' %}<li><a href="/listening/">Listening</a></li>{% endif -%}
	{%- if page.url != '/slashes/' %}<li><a href="/slashes/">Slash Pages</a></li>{% endif -%}
	{%- if page.url != '/stats/' %}<li><a href="/stats/">Stats</a></li>{% endif -%}
	{%- if page.url != '/styleguide/' %}<li><a href="/styleguide/">Style Guide</a></li>{% endif -%}
</ul>
