<h2>Browse by tag</h2>
<ul class=" [ cluster ] [ small ] " style="--padding-inline: 0.5em; line-height: var(--line-height-code);">
	{% for lookup in collections.tags | sort -%}
		<li>
			{% if page.url != '/tag/' + lookup + '/' -%}
				<a href="/tag/{{ lookup }}/" {% if lookup in tags %}class=" [ button  button--text ] "{% endif %}>
			{%- else -%}
				<strong>
			{%- endif %}
				{{ lookup }}
			{% if page.url != '/tag/' + lookup + '/' -%}
				</a>
			{%- else -%}
				</strong>
			{%- endif %}
		</li>
	{%- endfor %}
</ul>
