<div class="widget  widget--search">
    <h3 class="widget-title"><a href="/search">Search</a></h3>
    <form class="search-form" id="search-form" method="get" action="/search.html" role="search">
        <label class="search-label  hidden" for="query">Search for pages, articles, and pens</label>
        <input class="search-input" id="search-input" type="search" name="query" maxlength="30" placeholder="Search the website" disabled>
        <button class="button--small  search-submit" id="search-submit" type="submit" aria-label="Submit" disabled><svg class="icon--search"><use xlink:href="#svg--search"></svg></button>
    </form>
    <noscript>Please enable JavaScript to search.</noscript>
</div>
