////
/// Aside
/// @group layout
/// @link https://chrisburnell.com/styleguide/#aside
////

// The width of the asides is static above the medium breakpoint and always
// floated within an article or list of articles. The math is calculated as in
// `layout/_content.scss`.
aside {
    @include owl;

    @include media("screen", "below:medium") {
        flex: 1 0 100%;
    }

    @include media("screen", "above:medium") {
        @include v(width, aside);
        float: left;
        margin-left: #{($measure-aside + $measure-large) * -1};
        @include v(margin-bottom, large);
    }

    &:not([class]) {
        @include border-radius;
        @include font-family(serif);
        @include v(background-color, black--delta);
        padding: $measure-small $measure-medium;
        padding: var(--measure-small) var(--measure-medium);
    }

    &:not(.author):not(:last-child) {
        @include media("screen", "below:medium") {
            @include v(margin-bottom, medium);
        }
    }

    %gamma + & {
        @include v(margin-top, large);
    }

    figure {
        margin-bottom: 0;
    }

    figcaption,
    p {
        clear: both;

        @include media("screen", "above:small") {
            @include v(font-size, small);
        }
    }
}
