////
/// Content
/// @group layout
////

// The width of the content is fluid, and always has padding on the left-hand
// side to make room for any `aside`, which can appear anywhere inside
// `.content`.
.content {
    @include owl;
    @include v(padding-top, large);

    @include media("screen", "below:medium") {
        // Below the medium breakpoint, `.content` and `aside` become full width.
        display: flex;
        flex-direction: column;
    }

    :not(.stretch) > & {
        @include media("screen", "above:medium") {
            @include v(max-width, content);
            grid-area: content;
        }
    }

    .stretch > & {
        @include v(max-width, breakpoint-medium);
        margin: 0 auto;
    }
}

.content__body {
    @include owl(gigantic);
}
