////
/// Footer
/// @group layout
////

footer {
    width: 100%;
    padding: var(--measure-large) 0;
    @include v(border-top-width);
    @include v(border-top-style);
    @include v(border-top-color, raven);

    .wrap {
        display: grid;
        @include v(grid-gap, medium);
        align-items: center;

        @include media("screen", "below:medium") {
            grid-template-columns: 1fr;
        }

        @include media("screen", "above:medium") {
            // 1──────2─────3──────4
            // │ auto │ 1fr │ auto │
            // 2──────┴─────┴──────┘
            grid-template-columns: auto 1fr auto;
        }
    }
}
