////
/// Header
/// @group layout
////

header {
    display: grid;
    overflow: hidden;
    position: relative;

    @include media("screen", "below:medium") {
        // 1─────────────2
        // │     7em     │
        // 2─────────────┤
        // │ min-content │
        // 3─────────────┘
        grid-template-rows: 7rem min-content;
        justify-content: center;
    }

    @include media("screen", "above:medium") {
        // 1────────────────2─────────────3
        // │ measure-aside  │ min-content │
        // 2────────────────┴─────────────┘
        grid-template-columns: var(--measure-aside) min-content;
        justify-content: space-between;
    }

    &::before {
        content: "";
        @include v(background-color, raven);
        height: var(--border-width-default);
        position: absolute;
        bottom: 0;
        @include v(left, gutter);
        @include v(right, gutter);
    }
}
