////
/// Main
/// @group layout
////

main {
    @include owl;
    display: block;
    @include v(padding-bottom, large);

    &:not(.stretch) {
        @include media("screen", "above:medium") {
            display: grid;
            // 1────────2─────────3
            // │ author │ content │
            // 2────────┴─────────┘
            grid-template-columns: var(--measure-aside) minmax(1px, 1fr);
            grid-template-areas: "author content";
            @include v(column-gap, gap);
        }
    }
}
