////
/// Wrap
/// @group layout
////

.wrap {
    width: auto;
    @include v(max-width, breakpoint-large);
    @include v(padding-left, gutter);
    @include v(padding-right, gutter);
    margin-left: auto;
    margin-right: auto;
}
.wrap--full {
    max-width: 100%;
}
