<style>{% include_cached generated/critical-css.html %}</style>
<link rel="preload" as="style" href="/css/non-critical.min.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/non-critical.min.css"></noscript>

{% if page.caniuse == true %}
    <link rel="preload" as="script" href="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js">
{% endif %}
{% if page.codepen == true or page.codepen_slug %}
    <link rel="preload" as="script" href="//codepen.io/assets/embed/ei.js">
{% endif %}
{% if page.speakerdeck == true or page.speakerdeck_slug %}
    <link rel="preload" as="script" href="//speakerdeck.com/assets/embed.js">
{% endif %}
{% if page.twitter == true %}
    <link rel="preload" as="script" href="//platform.twitter.com/widgets.js">
{% endif %}
