<!-- Main Scripts -->
<script src="/js/main.min.js"></script>

{% if page.caniuse %}
    <!-- Can I Use Embeds -->
    <script src="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js" defer></script>
{% endif %}

{% if page.codepen == true or page.codepen_slug %}
    <!-- CodePen Embeds -->
    <script src="//codepen.io/assets/embed/ei.js" defer></script>
{% endif %}

{% if page.speakerdeck == true or page.speakerdeck_slug %}
    <!-- Speaker Deck Embeds -->
    <script src="//speakerdeck.com/assets/embed.js" defer></script>
{% endif %}

{% if page.twitter == true %}
    <!-- Twitter Cards -->
    <script src="//platform.twitter.com/widgets.js" defer></script>
{% endif %}

<!-- ServiceWorker -->
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js').then(registration => {
            console.log('ServiceWorker registration successful with scope:', registration.scope);
            // TODO: Figure this out!
            // registration.installing.onstatechange = () => {
            //     if (registration.installing.state === 'activated' && !navigator.serviceWorker.controller) {
            //         document.querySelector('body').classList.add('offline-ready');
            //         document.querySelector('.network').innerHTML = 'All cached and good to go!';
            //     }
            // };
        }).catch( (err) => {
            console.log('ServiceWorker registration failed: ', err);
        });
        window.addEventListener('load', () => {
            function updateNetwork(event) {
                if (navigator.onLine) {
                    console.log('You have regained your network connection.');
                    document.querySelector('.network').innerHTML = 'You have regained your network connection.';
                    document.querySelector('body').classList.remove('is-offline');
                    setTimeout(() => {
                        document.querySelector('body').classList.add('is-online');
                    }, 5);
                }
                else {
                    console.log('You have lost your network connection.');
                    document.querySelector('.network').innerHTML = 'You have lost your network connection.';
                    document.querySelector('body').classList.remove('is-online');
                    setTimeout(() => {
                        document.querySelector('body').classList.add('is-offline');
                    }, 5);
                }
            }
            window.addEventListener('online', updateNetwork);
            window.addEventListener('offline', updateNetwork);
            if (navigator.serviceWorker.controller != null) {
                navigator.serviceWorker.controller.postMessage({ 'command': 'trimCaches' });
            }
        });
    }
</script>
