<!-- Load in the main styles -->
<script>loadCSS('/css/main.min.css');</script>

<!-- ServiceWorker -->
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/serviceworker.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
    }
</script>

<!-- Main Scripts -->
<script src="/js/main.min.js" defer></script>

{% if page.caniuse %}
    <!-- Can I Use Embeds -->
    <script src="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js" defer></script>
{% endif %}

{% if page.codepen == true or page.codepen_slug %}
    <!-- CodePen Embeds -->
    <script src="//codepen.io/assets/embed/ei.js" defer></script>
{% endif %}

{% if page.speakerdeck == true or page.speakerdeck_slug %}
    <!-- Speaker Deck Embeds -->
    <script src="//speakerdeck.com/assets/embed.js" async defer></script>
{% endif %}

{% if page.twitter == true %}
    <!-- Twitter Cards -->
    <script src="//platform.twitter.com/widgets.js" async defer></script>
{% endif %}
