{% if page.page_class contains 'not-found' or page.page_class contains 'offline' %}
    <meta name="robots" content="noindex,nofollow">
{% else %}
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <!-- Twitter Microdata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ site.author.twitter }}">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_lede }}">
    <meta name="twitter:image" content="{{ meta_image }}">
    <meta name="twitter:domain" content="{{ site.url | remove: 'http://' | remove: 'https://' }}">
    {% if page.twitter == true %}
        <meta name="twitter:widgets:theme" content="light">
        <meta name="twitter:widgets:link-color" content="#{{ site.color }}">
        <meta name="twitter:widgets:border-color" content="#{{ site.color }}">
    {% endif %}
    <!-- OpenGraph Microdata -->
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_lede }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{{ meta_image }}">
    <!-- Google Sitelinks Searchbox -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            {% if page.layout == 'post' %}
                "@type": "TechArticle",
            {% else %}
                "@type": "WebSite",
            {% endif %}
            "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
            "headline": "{{ meta_title }}",
            "description": "{{ meta_lede }}",
            "image": "{{ meta_image }}",
            "author": {
                "@type": "Person",
                "name": "{{ site.author.name }}"
            },
            {% if page.layout == 'post' %}
                "datePublished": "{{ page.date | date: '%d %b, %Y' }}",
                {% if page.edit_date %}
                    "dateModified": "{{ page.edit_date | date: '%d %B, %Y' }}",
                {% endif %}
                "wordcount": "{{ content | number_of_words }}",
            {% endif %}
            "sameAs": [
                "{{ site.urls.codepen }}",
                "{{ site.urls.github }}",
                "{{ site.urls.lastfm }}",
                "{{ site.urls.twitter }}"
            ],
            "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ site.baseurl | prepend: site.url }}/search?query={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
{% endif %}
