<!-- CSS rel="preload" Polyfill -->
<script>
{% include_cached generated/css-rel-preload.html %}
</script>

<!-- Main Scripts -->
<script src="/js/main.min.js"></script>

{% if page.caniuse %}
    <!-- Can I Use Embeds -->
    <script src="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js" async defer></script>
{% endif %}

{% if page.codepen or page.codepen_slug %}
    <!-- CodePen Embeds -->
    <script src="//codepen.io/assets/embed/ei.js" async defer></script>
{% endif %}

{% if page.speakerdeck or page.speakerdeck_slug %}
    <!-- Speaker Deck Embeds -->
    <script src="//speakerdeck.com/assets/embed.js" async defer></script>
{% endif %}

{% if page.twitter or page.in_reply_to.first contains 'twitter.com' %}
    <!-- Twitter Cards -->
    <script src="//platform.twitter.com/widgets.js" async defer></script>
{% endif %}

{% if page.mastodon or page.in_reply_to.first contains 'mastodon.social' %}
    <!-- Mastodon Cards -->
    <script src="https://mastodon.social/embed.js" async defer></script>
{% endif %}

<!-- ServiceWorker -->
<script>
    const notificationElement = document.querySelector(".notification");

    let updateNotification = (text, type = "positive") => {
        notificationElement.innerHTML = text;
        notificationElement.classList.add(`notification--${type}`);
        notificationElement.classList.remove("hidden");
        setTimeout(() => {
            notificationElement.classList.add("hidden");
            notificationElement.classList.remove(`notification--${type}`);
        }, 1000);
    };

    let updateNetwork = (event) => {
        if (navigator.onLine) {
            console.log("You have regained your network connection.");
            notificationElement.innerHTML = "👍 You have regained your network connection.";
            notificationElement.classList.add("notification--positive");
        } else {
            console.log("You have lost your network connection.");
            notificationElement.innerHTML = "👎 You have lost your network connection.";
            notificationElement.classList.add("notification--negative");
        }
        notificationElement.classList.remove("hidden");
        setTimeout(() => {
            notificationElement.classList.add("hidden");
            notificationElement.classList.remove("notification--positive", "notification--negative");
        }, 1000);
    };

    if ("serviceWorker" in navigator) {
        navigator.serviceWorker
            .register("/serviceworker.js")
            .then(registration => {
                console.log("ServiceWorker registration successful with scope:", registration.scope);
                let serviceWorker;
                if (registration.installing) {
                    serviceWorker = registration.installing;
                }
                else if (registration.waiting) {
                    serviceWorker = registration.waiting;
                }
                else if (registration.active) {
                    serviceWorker = registration.active;
                }
                if (serviceWorker) {
                    serviceWorker.addEventListener("statechange", () => {
                        if (registration.active && !navigator.serviceWorker.controller) {
                            updateNotification("🤩 All cached and ready to go offline!", "positive");
                        }
                    });
                }
            })
            .catch(err => {
                console.log("ServiceWorker registration failed:", err);
            });
        window.addEventListener("load", () => {
            window.addEventListener("online", updateNetwork);
            window.addEventListener("offline", updateNetwork);
            if (!!navigator.serviceWorker.controller) {
                navigator.serviceWorker.controller.postMessage({
                    command: "trimCaches"
                });
            }
        });
    } else {
        console.log("ServiceWorkers are not supported in your browser.");
    }
</script>
