<!-- Critical CSS -->
<style>{% include generated/critical-css.html %}</style>

<!-- LoadCSS -->
<script>{% include generated/loadcss.html %}</script>

<!-- Serve the main styles straight up if you haven't got JavaScript -->
<link rel="preload" as="style" href="/css/main.min.css?version={{ site.time | date: '%F_%H%M' }}" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/main.min.css?version={{ site.time | date: '%F_%H%M' }}"></noscript>

<!-- Preload some assets -->
<link rel="preload" as="script" href="/js/main.min.js">
{% if page.caniuse == true %}
    <link rel="preload" as="script" href="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js">
{% endif %}
{% if page.codepen == true or page.codepen_slug %}
    <link rel="preload" as="script" href="//codepen.io/assets/embed/ei.js">
{% endif %}
{% if page.speakerdeck == true or page.speakerdeck_slug %}
    <link rel="preload" as="script" href="//speakerdeck.com/assets/embed.js">
{% endif %}
{% if page.twitter == true %}
    <link rel="preload" as="script" href="//platform.twitter.com/widgets.js">
{% endif %}
