{% if page.page_class contains 'error' or page.page_class contains 'offline' %}
    <meta name="robots" content="noindex,nofollow">
{% else %}
    <!-- The URL -->
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.live_url }}">
    {% if page.shorturl %}
        <link rel="shortlink" href="{{ page.shorturl | prepend: site.shorturl }}">
    {% endif %}
    {% if page.previous.url %}
        <link rel="prev" href="{{ page.previous.url }}">
    {% endif %}
    {% if page.next.url %}
        <link rel="next" href="{{ page.next.url }}">
    {% endif %}
    <!-- Twitter Microdata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ site.author.twitter }}">
    <meta name="twitter:title" content="{{ meta_title }}">
    <meta name="twitter:description" content="{{ meta_lede }}">
    <meta name="twitter:image" content="{{ meta_image }}">
    <meta name="twitter:domain" content="{{ site.live_url | remove: 'http://' | remove: 'https://' }}">
    {% if page.twitter == true %}
        <meta name="twitter:widgets:theme" content="light">
        <meta name="twitter:widgets:link-color" content="#{{ site.color }}">
        <meta name="twitter:widgets:border-color" content="#{{ site.color }}">
    {% endif %}
    <!-- OpenGraph Microdata -->
    {% if page.layout == 'post' %}
        <meta property="og:type" content="article">
    {% elsif page.page_class contains 'about' %}
        <meta property="og:type" content="profile">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
    <meta property="og:description" content="{{ meta_lede }}">
    <meta property="og:locale" content="{{ site.language }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ meta_image }}">
    {% if page.layout == 'post' %}
        <meta property="article:published_time" content="{{ page.date | date: '%F_%H%M' }}">
        {% if page.edit_date %}
            <meta property="article:modified_time" content="{{ page.edit_date | date: '%F_%H%M' }}">
        {% endif %}
        <meta property="article:author" content="{{ site.author.name }}">
        {% for tag in page.tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% elsif page.page_class contains 'about' %}
        <meta property="profile:first_name" content="{{ meta_first_name }}">
        <meta property="profile:last_name" content="{{ meta_last_name }}">
        <meta property="profile:username" content="{{ site.shortname }}">
    {% endif %}
{% endif %}
