<script type="text/template" class="js-search-template-page">
    <li role="listitem">
        <a href="@@URL@@">
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
        </a>
    </li>
</script>
<script type="text/template" class="js-search-template-article">
    <li role="listitem">
        <a href="@@URL@@">
            {% include content/svg.html type='article' %}
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
        </a>
    </li>
</script>
<script type="text/template" class="js-search-template-link">
    <li role="listitem">
        <a href="@@URL@@">
            {% include content/svg.html type='link' %}
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
        </a>
    </li>
</script>
<script type="text/template" class="js-search-template-pen">
    <li role="listitem">
        <a href="@@URL@@">
            {% include content/svg.html type='codepen' %}
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
        </a>
    </li>
</script>
<script type="text/template" class="js-search-template-talk">
    <li role="listitem">
        <a href="@@URL@@">
            {% include content/svg.html type='bullhorn' %}
            <h4 class="title">@@TITLE@@</h4>
            <p class="lede">@@LEDE@@</p>
            <time class="date" datetime="@@DATE@@">@@DATE_FRIENDLY@@</time>
        </a>
    </li>
</script>
