////
/// 32bit.cafe Code Jam #3
/// @group pages
/// @link https://chrisburnell.com/32-bit-cafe-code-jam-3/
////

@layer pages {
	html {
		background-color: #adaeb0;
		scrollbar-color: var(--color-bowhead) transparent;
	}

	h1,
	h1 + p {
		max-inline-size: 80vi;
		text-align: center;
		text-wrap: balance;
	}

	.full-space {
		box-shadow: inset 0 0 0 calc(var(--size-medium-large) / 3) #adaeb0;
	}
	.full-space:not([data-theme*="nineties"]) {
		background-image: linear-gradient(var(--degree, 200deg), transparent, var(--color-highland));
	}

	.image-split {
		gap: var(--size-gutter);

		@media (width > 700px) {
			grid-template-columns:
				[image-start]
				clamp(var(--image-split-min, 250px), 40%, var(--image-split-max, 400px))
				[image-end content-start]
				auto
				[content-end];
			grid-template-rows: auto;
		}
	}

	.image-split--alternate {
		--degree: 160deg;

		@media (width > 700px) {
			grid-template-columns:
				[content-start]
				auto
				[content-end image-start]
				clamp(var(--image-split-min, 150px), 40%, var(--image-split-max, 300px))
				[image-end];
		}
	}

	.image-split figure {
		@media (width > 700px) {
			grid-column: image;
			grid-row: 1;
		}
	}

	.image-split .flow {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (width > 700px) {
			grid-column: content;
			grid-row: 1;
		}
	}

	.themed-section {
		background-color: color-mix(in oklab, light-dark(var(--color-bear), var(--color-mineshaft)), light-dark(var(--color-snowy), var(--color-wolf)), light-dark(90%, 40%));
		color: light-dark(var(--color-kaiser), var(--color-yeti));
	}
}
