////
/// Style Guide
/// @group pages
////

.page-style-guide {
    .lede + %delta {
        margin-top: 0;
    }
}

.color-block-list {
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;

    li {
        color: $color-white;
        height: 6.5rem;
        display: table-cell;
        font-family: $font-stack-monospace;
        font-size: $font-size-small;
        font-weight: 600;
        // 6.5 / $font-size-small
        line-height: 7.429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        @include media("<=small") {
            width: 6.5rem;
            display: inline-block;
        }

        &[data-color="#{$color-brand}"] {
            background-color: $color-brand;
        }

        &[data-color="#{$color-white}"] {
            background-color: $color-white;
            color: $color-text;
        }

        &[data-color="#{$color-text}"] {
            background-color: $color-text;
        }

        &[data-color="#{$color-text-alt}"] {
            background-color: $color-text-alt;
        }

        &[data-color="#{$color-text-light}"] {
            background-color: $color-text-light;
            color: $color-text;
        }
    }
}
