////
/// Style Guide
/// @group pages
////


.page--style-guide {
    .lede + h3 {
        margin-top: 0;
    }
}

.color-block-list {
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;

    li {
        height: 6.5rem;
        display: table-cell;
        font-family: $font-family-monospace;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
        // 7.429 = 6.5 (height) / $font-size-small (0.875rem)
        line-height: 7.429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;

        @include media("<=small") {
            width: 6.5rem;
            display: inline-block;
        }

        @each $main-color in $main-colors {
            &[data-color="#{$main-color}"] {
                background-color: $main-color;
                color: contrasting-color($main-color);
            }
        }
    }
}
