////
/// clamp() Calculator
/// @group pages
/// @link https://chrisburnell.com/clamp-calculator/
////

@use "sass:color";
@use "sass:math";
@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../generated/tokens";
@use "../abstracts/collections";

@layer pages {
	.clamp-calculator__fieldset {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}
