////
/// The Environment-Aware Wrapper
/// @group pages
/// @link https://chrisburnell.com/article/environment-aware-wrapper/
////

@layer pages {
    .notched {
        border: var(--size-tiny) solid currentColor;
        inline-size: 100%;
        max-inline-size: var(--size-breakpoint-tiny);
        aspect-ratio: 2532 / 1170;
        margin-inline: auto;
        border-radius: 2em;
        overflow: hidden;
        position: relative;
    }

    .notched::before {
        content: "";
        background-color: currentColor;
        inline-size: 5%;
        block-size: 50%;
        position: absolute;
        inset-block-start: 50%;
        inset-inline-start: 0;
        transform: translateY(-50%);
        border-radius: 0 1.5vw 1.5vw 0;
    }

    .notched .wrap {
        max-block-size: 100%;
        overflow-y: hidden;
    }

    .notched p {
        max-inline-size: 100%;
    }
}
