/**
 * Pseudo color-contrast()
 * @group pages
 * @link https://chrisburnell.com/article/pseudo-color-contrast/
 */

@layer pages {
	.demo {
		--image: 24px;
		--size: 24ch;

		--l: 0.75;
		--c: 0.064;
		--h: 237.73;
		--color-a: oklch(0 var(--c) var(--h));
		--color-b: oklch(1 var(--c) var(--h));
		--bg: oklch(var(--l) var(--c) var(--h));

		display: grid;
		column-gap: 2em;
		row-gap: 1em;
		padding: 1em;
		border: var(--size-border-thin) solid currentColor;
		border-radius: var(--size-border-thin);
		@container (inline-size <= 500px) {
			grid-template-areas:
				"lightness"
				"graph"
				"inverse"
				"example"
				"interact"
				"output";
		}
		@container (inline-size > 500px) {
			grid-template-areas:
				"lightness lightness"
				"graph graph"
				"inverse inverse"
				"example example"
				"interact output";
		}

		&[id="demo-1"] {
			--text: oklch(from var(--bg) calc(1 - l) c h);
		}
		&[id="demo-2"] {
			--text: oklch(from var(--bg) calc(1 - round(l)) c h);
		}
		&[id="demo-3"] {
			--text: oklch(from var(--bg) calc(1 - round(l)) 0 h);
		}
		&[id="demo-4"] {
			--text: oklch(
				from var(--bg) calc((1 - round(l)) * 0.7 + round(l) * 0.3) 0 h
			);
		}
	}

	.graph {
		--gradient-block-size: 4rem;
		grid-area: graph;
		container-type: inline-size;
		background-image: linear-gradient(
			to right in oklch,
			var(--color-a),
			var(--color-b)
		);
		block-size: var(--gradient-block-size);
		margin-inline: 8px;
		position: relative;
		overflow: hidden;
		z-index: 1;
		will-change: background-image;
		:is([id="demo-3"], [id="demo-4"]) & {
			--gradient-block-size: 6rem;
			background-image:
				linear-gradient(
					to bottom,
					transparent,
					transparent calc(50% - 14px),
					black calc(50% + 14px),
					black
				),
				linear-gradient(
					to right in oklch,
					var(--color-a),
					var(--color-b)
				);
			background-blend-mode: saturation;
		}
		&::before,
		&::after {
			--indicator-size: 9px;
			--edge-size: calc((var(--indicator-size) - 1px) / 2);
			--unit-size: calc((100% - 1px) / 4);
			content: "";
			background-image: linear-gradient(
				to right,
				var(--color-snowy),
				var(--color-snowy) var(--unit-size),
				var(--color-thunder) var(--unit-size),
				var(--color-thunder) calc(50% - 0.5px),
				transparent calc(50% - 0.5px),
				transparent calc(50% + 0.5px),
				var(--color-thunder) calc(50% + 0.5px),
				var(--color-thunder) calc(100% - var(--unit-size)),
				var(--color-snowy) calc(100% - var(--unit-size)),
				var(--color-snowy)
			);
			inline-size: var(--indicator-size);
			block-size: calc(var(--gradient-block-size) / 2);
			position: absolute;
			z-index: 2;
			will-change: transform;
		}
		&::before {
			inset-block-start: 0;
			inset-inline-start: calc(var(--edge-size) * -1);
			transform: translateX(calc(var(--l) * (100cqi - 1px)));
		}
		&::after {
			inset-block-end: 0;
			inset-inline-end: calc(var(--edge-size) * -1);
			transform: translateX(calc(var(--l) * (-100cqi + 1px)));
		}
		:is([id="demo-2"], [id="demo-3"]) & {
			&::after {
				transform: translateX(calc(round(var(--l)) * (-100cqi + 1px)));
			}
		}
		[id="demo-4"] & {
			&::after {
				transform: translateX(
					calc(
						(1 - round(var(--l))) * (-30cqi + 1px) +
							round(var(--l)) * (-70cqi + 1px)
					)
				);
			}
		}
	}
	.example {
		grid-area: example;
		background-color: var(--bg);
		color: var(--text);
		padding: 0.5em;
		border: var(--size-border-thin) solid currentColor;
		font-size: 2em;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		user-select: none;
		will-change: background-color, color, border-color;
	}
	:is(.interact, .output) {
		container-type: inline-size;
		min-inline-size: 50%;
		flex-grow: 1;
		& form {
			display: grid;
			row-gap: 0.5em;
			column-gap: 1em;
			@container (inline-size > 300px) {
				grid-template-columns: auto 1fr;
			}
		}
		& fieldset {
			display: contents;
		}
		& fieldset + fieldset legend {
			margin-block-start: 1em;
		}
		& legend {
			grid-column: 1 / -1;
			font-weight: var(--font-weight-semibold);
		}
	}
	.interact {
		grid-area: interact;
	}
	.output {
		grid-area: output;
	}
	.lightness {
		grid-area: lightness;
	}
	.inverse {
		grid-area: inverse;
	}
}
