////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////

@use "sass:color";
@use "sass:math";

@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/generated";
@import "../abstracts/collections";

.palette {
	background-color: h(snowy);
	inline-size: 100%;
	display: flex;
	flex-wrap: wrap;

	@include cq(null, null, "tiny") {
		flex-direction: column;
	}

	li {
		max-inline-size: 100%;
		padding: var(--size-medium) 0;
		font-size: var(--font-size-small);
		text-align: center;
		white-space: nowrap;
		font-variant-numeric: tabular-nums;

		@include cq(null, null, "tiny") {
			flex: 1 0 100%;
		}

		@include cq(null, "tiny", "small") {
			flex: 1 0 50%;
		}

		@include cq(null, "small") {
			flex: 1 0 33.333%;
		}

		%heading {
			margin-block-end: 0;
			font-size: var(--font-size-default);
		}
	}
}

.sparkline-dark {
	background-color: h(kaiser);
	color: h(snowy);

	@media (prefers-color-scheme: dark) {
		html:not([data-theme]) & {
			background-color: h(snowy);
			color: h(kaiser);
		}
	}
	[data-theme*="dark"] &,
	.dark & {
		background-color: h(snowy);
		color: h(kaiser);
	}
}
