////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////

@use "../abstracts/mixins";

@layer pages {
	.palette {
		inline-size: 100%;
		display: flex;
		flex-wrap: wrap;

		@include mixins.cqi(null, null, "tiny") {
			flex-direction: column;
		}

		& li {
			--flow-space: var(--size-tiny);
			max-inline-size: 100%;
			padding: var(--size-small-medium) var(--size-small);
			font-size: var(--font-size-small);
			text-align: center;
			break-inside: avoid;
			font-variant-numeric: tabular-nums;

			@include mixins.cqi(null, null, "tiny") {
				flex: 1 0 100%;
			}

			@include mixins.cqi(null, "tiny") {
				flex: 1 0 50%;
			}

			& > * + * {
				margin-block-start: var(--size-tiny);
			}
		}

		&.thirds li,
		& .third {
			@include mixins.cqi(null, "tiny") {
				flex: 1 0 33.333%;
			}
		}

		& :is(h1, h2, h3, h4, h5, h6) {
			margin-block-end: 0;
			font-size: var(--font-size-default);
		}

		& pre {
			inline-size: fit-content;
			line-height: var(--line-height-medium);
			margin-inline: auto;
		}
	}

	.sparkline-dark {
		background-color: light-dark(var(--color-kaiser), var(--color-snowy));
		color: light-dark(var(--color-snowy), var(--color-kaiser));
	}
}
