////
/// Style Guide
/// @group pages
/// @link https://chrisburnell.com/styleguide/
////

@use "../abstracts/collections";

@layer pages {
	.palette {
		inline-size: 100%;
		display: flex;
		flex-wrap: wrap;

		@apply --inline-below(var(--size-breakpoint-tiny)) {
			flex-direction: column;
		}

		& li {
			--flow-space: var(--size-tiny);
			max-inline-size: 100%;
			padding: var(--size-small-medium) var(--size-small);
			font-size: var(--font-size-small);
			text-align: center;
			break-inside: avoid;
			font-variant-numeric: tabular-nums;

			@apply --inline-below(var(--size-breakpoint-tiny)) {
				flex: 1 0 100%;
			}

			@apply --inline-above(var(--size-breakpoint-tiny)) {
				flex: 1 0 50%;
			}

			& > * + * {
				margin-block-start: var(--size-tiny);
			}
		}

		&.thirds li,
		& .third {
			@apply --inline-above(var(--size-breakpoint-tiny)) {
				flex: 1 0 33.333%;
			}
		}

		& #{collections.$heading} {
			margin-block-end: 0;
			font-size: var(--font-size-default);
		}

		& pre {
			inline-size: fit-content;
			line-height: var(--line-height-medium);
			margin-inline: auto;
		}
	}

	.sparkline-dark {
		background-color: var(--color-kaiser);
		color: var(--color-snowy);

		@media (prefers-color-scheme: dark) {
			:root:not(:has([name="color-scheme"] [value*="light"]:checked), .light, [data-color-scheme*="light"]) & {
				background-color: var(--color-snowy);
				color: var(--color-kaiser);
			}
		}
		:root:has([name="theme"] [value*="dark"]:checked):not(.light, [data-color-scheme*="light"]) &,
		[data-color-scheme*="dark"] &,
		.dark & {
			background-color: var(--color-snowy);
			color: var(--color-kaiser);
		}
	}
}
