---
layout: base
---
{%- from 'macros/deckItem.njk' import deckItem -%}
{%- set collection = collections[related_collection] -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.year | default(collection[0].year) -%}
{%- set first_year = collection[count-1].data.year | default(collection[count-1].year) -%}
{%- if limit -%}
	{% set collection = collection | limit(limit) %}
{%- endif -%}
<div class=" [ pantheon{% if full %}  full{% elif wide %}  wide{% endif %} ] [ wrap ] [ archive ] {% if perch %}[ perch ] {% endif %}">

	<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
		<li><a href="/posts/">← All Posts</a></li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] ">
		{% if by_year %}
			<p class=" [ p-summary ] ">
				{{ description | replace('.', '') | safe }}{% if first_year != latest_year %}, dating from <span class=" [ no-wrap ] "><a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a></a>{% endif %}.
				{% if 'archive' in tags -%}
					<a href="{{ site.url }}/{{ feed_name | default(related_collection) }}.xml" title="{{ title | safe }} Feed" class=" [ icon-anchor ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji></a>
				{%- endif %}
			</p>
		{% else %}
			<p class=" [ p-summary ] ">
				{{ description.split('<br>') | first | safe }}
				{% if 'archive' in tags -%}
					<a href="{{ site.url }}/{{ feed_name | default(related_collection) }}.xml" title="{{ title | safe }} Feed" class=" [ icon-anchor ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji></a>
				{%- endif %}
				{% if description.includes('<br>') -%}
					<br>
					{{ description.split('<br>') | last | safe }}
				{%- endif %}
			</p>
		{% endif %}
	</div>

	{# Only show sparkline if displaying by year and there is more than 1 year of data #}
	{% if by_year and first_year != latest_year %}
		{% sparkline collection, first_year %}
	{% endif %}

	<div id="content" class=" [ content ] [ flow ] [ h-feed ] ">
		{% if global.isJSNakedDay -%}
			{% include 'js-naked-day.njk' %}
		{%- endif %}

		{%- if by_year -%}
			{% for year, posts in collection | groupby('data.year') | dictsort | reverse %}
				<h2 id="{{ year }}">
					{{ year }} <small>{{ posts | length }} post{{ 's' if posts | length > 1 }}</small>
				</h2>
				<div id="list-{{ year }}" class=" [ deck ] ">
					{% for item in posts %}
						{{ deckItem(item, { hfeed: true, show_photos: true, truncate: true }) }}
					{% endfor %}
				</div>
			{% endfor %}
		{%- else -%}
			<div class=" [ deck ] ">
				{% for item in collection %}
					{{ deckItem(item, { hfeed: true, show_photos: true, truncate: true }) }}
				{% endfor %}
			</div>
		{%- endif -%}

		<hr>

		{% if not no_feed %}
			<div class=" [ grid ] [ navigator ] ">
				<a href="/{{ feed_name | default(related_collection) }}.xml" class=" [ button ] ">
					<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>{{ title | safe }} Feed
				</a>
			</div>
		{% endif %}
	</div>

	<aside class=" [ meta ] [ flow ] " role="complementary" data-pagefind-ignore>
		{% include 'meta/collection.njk' %}
	</aside>
</div>
