---
layout: base
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.date | default(collection[0].date) | friendlyDate('yyyy') -%}
{%- set first_year = collection[count-1].data.date | default(collection[count-1].date) | friendlyDate('yyyy') -%}
{%- if limit -%}
	{% set collection = collection | limit(limit) %}
{%- endif -%}
<div class=" [ pantheon{% if full %}  full{% elif wide %}  wide{% endif %} ] [ wrap ] [ archive ] {% if perch %}[ perch ] {% endif %}">

	<ul class=" [ cluster ] [ breadcrumbs ] " hidden>
		<li><a href="/posts/">← All Posts</a></li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		{%- if perch %}
			<span class=" [ perch ] [ p-name ] ">
				{{ title | safe }}
				<img src="{{ site.logo }}" alt="{{ site.name }}" width="324" height="324" loading="lazy" decoding="async" role="presentation" hidden>
			</span>
		{%- else -%}
			<span class=" [ p-name ] ">{{ title | safe }}</span>
		{%- endif %}
	</h1>

	<div class=" [ description ] [ flow ] ">
		{% if by_year %}
			<p class=" [ p-summary ] ">
				{{ description | replace('.', '') | safe }}{% if first_year != latest_year %}, dating from <a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a>{% endif %}.
				{% if "archive" in tags -%}
					<a href="{{ site.url }}/{{ feed_name | default(related_collection) }}.xml" title="{{ title | safe }} Feed"><svg width="20" height="20" aria-hidden="true" focusable="false" style="fill: #ff8c00"><use href="#svg--rss"></use></svg></a>
				{%- endif %}
			</p>
		{% else %}
			<p class=" [ p-summary ] ">
				{{ description.split('<br>') | first | safe }}
				{% if "archive" in tags -%}
					<a href="{{ site.url }}/{{ feed_name | default(related_collection) }}.xml" title="{{ title | safe }} Feed"><svg width="20" height="20" aria-hidden="true" focusable="false" style="fill: #ff8c00"><use href="#svg--rss"></use></svg></a>
				{%- endif %}
				{% if description.includes('<br>') -%}
					<br>
					{{ description.split('<br>') | last | safe }}
				{%- endif %}
			</p>
		{% endif %}
	</div>

	{% if by_year %}
		{% sparkline collection, first_year, latest_year %}
	{% endif %}

	<div id="content" class=" [ content ] [ flow ] [ h-feed ] ">
		{% include 'css-naked-day.njk' %}

		{%- if by_year -%}
			{%- set year = latest_year -%}
			<h2 id="{{ year }}">
				{{ year }} <small>{{ collection | getCollectionCount(year) }} post{{ 's' if collection | getCollectionCount(year) > 1 }}</small>
			</h2>
			<div id="list-{{ year }}" class=" [ deck ] ">
				{% for item in collection %}
					{%- set check = item.data.date | default(item.date) | friendlyDate('yyyy') -%}
					{% if check != year %}
						{%- set year = check -%}
						</div>
						<h2 id="{{ year }}">
							{{ year }} <small>{{ collection | getCollectionCount(year) }} post{{ 's' if collection | getCollectionCount(year) > 1 }}</small>
						</h2>
						<div id="list-{{ year }}" class=" [ deck ] ">
					{% endif %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</div>
		{%- else -%}
			<div class=" [ deck ] ">
				{% for item in collection %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</div>
		{%- endif -%}

		{% include 'state-of-the-browser.njk' %}
	</div>

	<aside class=" [ meta ] [ flow ] " role="complementary">
		{% include 'meta/collection.njk' %}
	</aside>

	{% include 'ads.njk' %}
</div>
