---
layout: base
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[related_collection] -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div class=" [ pantheon{% if wide %}  wide{% endif %} ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li><a href="/archive/">All Posts</a></li><li aria-hidden="true">{{ title | safe }}</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{% if by_year %}
			<p>{{ description | replace('.', '') | safe }}{% if first_year != latest_year %}, dating from <a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a>{% endif %}.</p>
		{% else %}
			{{ description | markdownFormat | safe }}
		{% endif %}
	</div>

	{% if by_year %}
		{% sparkline collection, first_year, latest_year %}
	{% endif %}

	<div id="content" class=" [ content ] [ flow ] [ h-feed ] ">
		{%- if by_year -%}
			{%- set year = latest_year -%}
			<h2 id="{{ year }}">
				{{ year }} <small><em>{{ collection | getCollectionCount(year, true) }} post{{ 's' if collection | getCollectionCount(year, true) > 1 }}</em></small>
			</h2>
			<nav id="list-{{ year }}" class=" [ deck ] ">
				{% for item in collection %}
					{% if item.date.getFullYear() != year %}
						{%- set year = item.date.getFullYear() -%}
						</nav>
						<h2 id="{{ year }}">
							{{ year }} <small><em>{{ collection | getCollectionCount(year, true) }} post{{ 's' if collection | getCollectionCount(year, true) > 1 }}</em></small>
						</h2>
						<nav id="list-{{ year }}" class=" [ deck ] ">
					{% endif %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
		{%- else -%}
			<nav class=" [ deck ] ">
				{% for item in collection %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
		{%- endif -%}
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/collection.njk' %}
	</div>

	{% include 'ads.njk' %}

</div>
