---
layout: root
---
<header class=" [ header ] ">
	<div class=" [ wrap ] ">
		<a href="/" rel="home" class=" [ logo ] [ canada ] " aria-label="{{ site.title }}">
			<img src="{{ site.logo }}" alt="raven logo" title="Go to Home" width="120" height="120" aria-hidden="true">
		</a>
		<nav class=" [ navigation ] " aria-label="Website">
			<ol class=" [ navigation__list ] ">
				{% for link in navigation %}
					{% if link.header %}
						<li>
							<a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ol>
			<button class=" [ anchor ] [ popover-settings-button ] [ requires-js ] " popovertarget="popover-settings" title="Open Settings">
				<svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--cog"></use></svg>
			</button>
			{% if not global.isCSSNakedDay -%}
				<button class=" [ anchor ] [ popover-navigation-button ] " popovertarget="popover-navigation" title="Open Navigation">
					<svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--hamburger"></use></svg>
				</button>
			{%- endif %}
		</nav>
	</div>
</header>

<div id="popover-settings" class=" [ popover-settings ] [ flow ] [ gamma ] [ requires-js ] " popover>
	{%- include 'settings.njk' -%}
</div>

{% if not global.isCSSNakedDay -%}
	<div id="popover-navigation" class=" [ popover-navigation ] [ flow ] [ gamma ] " popover>
		<ol class=" [ navigation__list ] ">
			{% for link in navigation %}
				{% if link.header %}
					<li>
						<a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ol>
	</div>
{%- endif %}

<main class=" [ main ] [ flow ] "{% if not excludeFromSearch and not sitemap.exclude and not draft and published !== false and not 'ignore' in tags %} data-pagefind-body{% endif %}>
	{% if global.isCSSNakedDay -%}
		{% include 'css-naked-day.njk' %}
	{%- endif %}

	{{- content | safe -}}
</main>

<footer class=" [ footer ] ">
	<div class=" [ wrap ] [ footer__grid ] ">
		{% include 'author.njk' %}
		<ul class=" [ cluster ] [ footer__navigation ] [ strong ] ">
			{%- for link in navigation -%}
				{%- if link.footer -%}
					<li><a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a></li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
		<ul class=" [ cluster ] [ footer__navigation ] ">
			<li class=" [ requires-js ] ">
				<button class=" [ anchor ] " popovertarget="popover-settings"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-raven);"><use href="#svg--cog"></use></svg></c-emoji>Open Settings</button>
			</li><li><a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/{{ site.branch }}/{{ page.inputPath }}" id="edit"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-raven);"><use href="#svg--edit"></use></svg></c-emoji>Edit this page</a></li><li>{% include 'share.njk' %}</li>
		</ul>
		<ul class=" [ cluster ] [ footer__navigation ] ">
			<li><a href="/license/" id="copyright" rel="license">© {{ site.established }}–{{ global.thisYear }} <span class=" [ canada ] ">{{ author.name }}</span></a></li>
			{%- for item in socials -%}
				{%- if item.show -%}
					<li><a href="{{ item.url }}" rel="me"><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"{% if item.fill %} style="fill: {{ item.fill }};"{% endif %}><use href="#svg--{{ item.title | lower }}"></use></svg></c-emoji>{{ item.title }}</a></li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
		{% include 'badges-88x31.njk' %}
		{% include 'webrings.njk' %}
		{% if speedlify[canonical] -%}
			<p class=" [ speedlify ] "><a href="{{ site.urls.speedlify }}/{{ site.speedlify }}/#site-{{ speedlify[canonical].hash }}" class="[ speedlify-anchor ] " title="Link to this page's Speedlify Score"><c-speedlify-score hash="{{ speedlify[canonical].hash }}" score weight requests></c-speedlify-score></a></p>
		{%- endif %}
	</div>
</footer>
