---
layout: root
---
<header class=" [ header ] ">
	<div class=" [ wrap ] ">
		<a href="/" rel="home me" class=" [ logo ] [ canada ] ">
			<img src="{{ site.logo }}" alt="chrisburnell.com logo, to the homepage" width="120" height="120">
		</a>
		<nav class=" [ navigation ] " aria-label="Website">
			<ol class=" [ navigation__list ] ">
				{% for link in navigation -%}
					{% if link.header -%}
						<li><a href="{{ link.url }}"{% if link.rel %} rel="{{ link.rel }}"{% endif %}{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a></li>
					{%- endif %}
				{%- endfor %}
			</ol>
			<button class=" [ anchor ] [ popover-settings-button ] [ requires-js ] " popovertarget="popover-settings" title="Open Settings">
				<svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--settings"></use></svg>
			</button>
			{% if not global.isCSSNakedDay -%}
				<button class=" [ anchor ] [ popover-navigation-button ] " popovertarget="popover-navigation" title="Open Navigation">
					<svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--hamburger"></use></svg>
				</button>
			{%- endif %}
		</nav>
	</div>

	<div popover id="popover-settings" class=" [ popover-settings ] [ flow ] [ gamma ] [ requires-js ] ">
		{%- include 'settings.njk' -%}
	</div>

	{% if not global.isCSSNakedDay -%}
		<div popover id="popover-navigation" class=" [ popover-navigation ] [ flow ] [ gamma ] ">
			<h2 id="navigation">Navigation</h2>
			<ol class=" [ navigation__list ] ">
				{% for link in navigation -%}
					{% if link.header -%}
						<li><a href="{{ link.url }}"{% if link.rel %} rel="{{ link.rel }}"{% endif %}{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a></li>
					{%- endif %}
				{%- endfor %}
			</ol>
			<div class=" [ navigator ] ">
				<button popovertarget="popover-navigation" class=" [ button--small ] " style="font-size: inherit;">Close</button>
			</div>
		</div>
	{%- endif %}
</header>

<main class=" [ main ] [ flow ] "{% if not excludeFromSearch and not excludeFromSitemap and not sitemap.exclude and not noindex and not draft and published !== false and not 'ignore' in tags and not 'like' in tags %} data-pagefind-body{% endif %}>
	{% if global.isCSSNakedDay -%}
		{% include 'css-naked-day.njk' %}
	{%- endif %}

	{{- content | safe -}}
</main>

<footer class=" [ footer ] ">
	<div class=" [ wrap ] [ footer__grid ] ">
		{% include 'author.njk' %}
		<ul class=" [ cluster ] [ footer__navigation ] [ strong ] ">
			{% for link in navigation -%}
				{% if link.footer -%}
					<li><a href="{{ link.url }}"{% if link.rel %} rel="{{ link.rel }}"{% endif %}{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | safe }}</a></li>
				{%- endif %}
			{%- endfor %}
		</ul>
		<ul class=" [ cluster ] [ footer__navigation ] ">
			<li class=" [ requires-js ] "><button class=" [ anchor ] " popovertarget="popover-settings"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-raven);"><use href="#svg--settings"></use></svg></c-emoji>Open Settings</button></li><li><a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/{{ site.branch }}/{{ page.inputPath }}" id="edit" rel="edit"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-raven);"><use href="#svg--edit"></use></svg></c-emoji>Edit this page</a></li><li class=" [ requires-js ] ">{% include 'share.njk' %}</li>
		</ul>
		<ul class=" [ cluster ] [ footer__navigation ] ">
			<li><a href="/license/" id="copyright" rel="license"><strong>©</strong> {{ site.established }}–{{ global.currentYear }} <span class=" [ canada ] ">{{ author.name }}</span></a></li>
			<li><a href="/feed.xml" rel="me"><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>RSS</a></li>
			<li><a href="/about/#contact"><c-emoji>📧</c-emoji>Contact <span class=" [ canada ] ">me</span></a></li>
			<li><a href="/help/"><c-emoji>❓</c-emoji>Want <span class=" [ canada ] ">my</span> help?</a></li>
			<li><a href="/links/"><c-emoji>🔗</c-emoji>Find <span class=" [ canada ] ">me</span> elsewhere</a></li>
		</ul>
		{% include 'badges-88x31.njk' %}
		{% include 'webrings.njk' %}
		{% if speedlify[canonical] -%}
			<p class=" [ speedlify ] "><a href="{{ site.urls.speedlify }}/{{ site.speedlify }}/#site-{{ speedlify[canonical].hash }}" class="[ speedlify-anchor ] " title="Link to this page's Speedlify Score"><c-speedlify-score hash="{{ speedlify[canonical].hash }}" score weight requests></c-speedlify-score></a></p>
		{%- endif %}
	</div>
</footer>
