{%- from 'macros/feedItem.njk' import feedItem -%}
{%- set related_page = site.url + '/' + ('tag/' if tag_collection) + related_collection + '/' -%}
{%- set related_page = related_page | replace('features/', '') | replace('writings', 'writing') -%}
{%- set collection = collections[related_collection] | arePublished | sortByDate -%}
{%- set limit = limit | default(site.limits.feed) -%}
<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.locale }}" xml:base="{{ site.url }}">
	<title>{{ site.title | striptags(true) }} · {{ title | striptags(true) }}</title>
	<subtitle>{{ description | stripNewLines | stripStrikethrough | striptags(true) }}</subtitle>
	<id>{{ related_page }}</id>
	<link href="{{ site.url + page.url }}" rel="self" />
	<link href="{{ related_page }}" rel="alternate" />
	<author>
		<name>{{ author.name }}</name>
		<uri>{{ site.url + '/' }}</uri>
		<email>{{ author.email }}</email>
	</author>
	<logo>{{ site.url + site.logo }}</logo>
	<image>{{ site.url + author.avatar }}</image>
	<updated>{{ (collection | getNewestCollectionItemDate).toISOString() | rfc3339Date }}</updated>
	<generator>{{ eleventy.generator }}</generator>
	{% for item in collection | limit(limit) -%}
		{{ feedItem(item, site) }}
	{% endfor %}
</feed>
