{%- set related_page = site.url + '/' + related_collection + '/' -%}
{%- set related_page = related_page | replace('featurePosts/', '') | replace('writingPosts', 'writing') -%}
{%- set collection = collections[related_collection] | arePublished | sort(true, false, 'date') -%}
{%- set limit = limit_collection | default(site.limits.feed) -%}
<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.locale }}" xml:base="{{ site.url }}">
	<title>{{ site.title | striptags(true) }} – {{ title | striptags(true) }}</title>
	<subtitle>{{ description | striptags(true) }}</subtitle>
	<id>{{ related_page }}</id>
	<link href="{{ site.url + page.url }}" rel="self"/>
	<link href="{{ related_page }}" rel="alternate"/>
	<author>
		<name>{{ author.name }}</name>
		<uri>{{ site.url + '/' }}</uri>
		<email>{{ author.email }}</email>
	</author>
	<logo>{{ site.url + site.logo }}</logo>
	<image>{{ site.url + author.avatar }}</image>
	<updated>{{ collection | getNewestCollectionItemDate | rfc3339Date }}</updated>
	<generator>{{ eleventy.generator }}</generator>
	{% for item in collection | limit(limit) -%}
	{%- set item_of = item.data.bookmark_of | default(item.data.drink_of) | default(item.data.like_of) | default(item.data.listen_of) | default(item.data.play_of) | default(item.data.read_of) | default(item.data.watch_of) -%}
	{%- set item_of_url = item_of -%}
	{% if item_of.url -%}
		{% set item_of_url = item_of.url %}
	{%- endif %}
	{%- set item_of_title = item_of_url -%}
	{% if item_of.title -%}
		{% set item_of_title = item_of.title %}
	{%- endif %}
	{% if item.data.title or item_of_title -%}
		{% set item_title = item.data.title | default(item_of_title) %}
	{%- else -%}
		{% set item_date = item.date | friendlyDate | striptags(true) %}
		{% set item_title = item.data.categoryProper | default(item.data.category) | title %}
		{% set item_title = item_title + " from " + item_date %}
	{%- endif %}
	<entry>
		<id>{{ site.url + item.url }}</id>
		<title>{{ item_title }}</title>
		<published>{{ item.date | rfc3339Date }}</published>
		<updated>{{ item.data.updated | default(item.date) | rfc3339Date }}</updated>
		<category term="{{ item.data.category }}" scheme="{{ site.url + '/' + item.data.category + '/' }}" label="{{ item.data.categoryProper | default(item.data.category) | title }}" />
		{% if item.data.description and item.content != '' -%}
		<summary>{{ item.data.description | markdownFormat | replace("\n", " ") | striptags(true) | safe }}</summary>
		<content type="html">
			{{ item.content | markdownFormat }}
		</content>
		{% elif not item.data.description and item.content != '' -%}
		<summary>{{ item.content | markdownFormat | replace("\n", " ") | striptags(true) | maxSentences(2) | safe }}</summary>
		<content type="html">
			{{ item.content | markdownFormat }}{% if item_of_url %}<p>Original post can be found at: <a href="{{ item_of_url }}">{{ item_of_title }}</a></p>{% endif %}
		</content>
		{% elif item.data.description and not item.content -%}
		<summary>{{ item.data.description | markdownFormat | replace("\n", " ") | striptags(true) | safe }}</summary>
		<content type="html">
			{% if item_of_url %}<p>Original post can be found at: <a href="{{ item_of_url }}">{{ item_of_title }}</a></p>{% endif %}
		</content>
		{% else -%}
		<summary>{{ item.data.categoryProperPlural | default(item.data.categoryPlural) | default(item.data.category) | title | safe }}</summary>
		<content xml:lang="{{ site.locale }}" type="html">
			{% if item_of_url %}<p>Original post can be found at: <a href="{{ item_of_url }}">{{ item_of_title }}</a></p>{% endif %}
		</content>
		{%- endif %}
		{% if item_of_url -%}
		<link rel="alternate" href="{{ item_of_url }}" />
		{%- endif %}
		{% if item.data.in_reply_to -%}
		<link rel="related" href="{{ item.data.in_reply_to.url | default(item.data.in_reply_to) }}" />
		{%- endif %}
	</entry>
	{%- endfor %}
</feed>
