{%- set related_page = site.url + '/' + ('tag/' if tag_collection) + related_collection + '/' -%}
{%- set related_page = related_page | replace('features/', '') | replace('writings', 'writing') -%}
{%- set collection = collections[related_collection] | arePublished | dateSortFilter -%}
{%- set limit = limit | default(site.limits.feed) -%}
<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.locale }}" xml:base="{{ site.url }}">
	<title>{{ site.title | striptags(true) }} – {{ title | striptags(true) }}</title>
	<subtitle>{{ description | stripNewLines | stripStrikethrough | striptags(true) }}</subtitle>
	<id>{{ related_page }}</id>
	<link href="{{ site.url + page.url }}" rel="self" />
	<link href="{{ related_page }}" rel="alternate" />
	<author>
		<name>{{ author.name }}</name>
		<uri>{{ site.url + '/' }}</uri>
		<email>{{ author.email }}</email>
	</author>
	<logo>{{ site.url + site.logo }}</logo>
	<image>{{ site.url + author.avatar }}</image>
	<updated>{{ collection | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<generator>{{ eleventy.generator }}</generator>
	{% for item in collection | limit(limit) -%}
	<entry>
		<id>{{ site.url + item.url }}</id>
		<link href="{{ site.url + item.url }}" />
		<title>{{ item.data.meta_title }}</title>
		<published>{{ item.data.date | rfc3339Date }}</published>
		<updated>{{ item.data.updated | default(item.data.date) | default(global.now) | rfc3339Date }}</updated>
		{% if item.data.category -%}
		<category term="{{ item.data.category }}" scheme="{{ site.url + '/' + item.data.category + '/' }}" label="{{ item.data | getCategoryName }}" />
		{%- endif %}
		{% if item.data.excerpt and item.content != '' -%}
		<summary>{{ item.data.excerpt | striptags | safe }}</summary>
		<content type="html">
			{{ item.content | formatAsMarkdown }}
		</content>
		{% elif item.data.description and item.content != '' -%}
		<summary>{{ item.data.meta_description | stripStrikethrough | safe }}</summary>
		<content type="html">
			{{ item.content | formatAsMarkdown }}
		</content>
		{% elif not item.data.description and item.content != '' -%}
		<summary>{{ item.content | formatAsMarkdown | stripNewLines | stripStrikethrough | striptags(true) | maxWords(40) }}</summary>
		<content type="html">
			{{ item.content | formatAsMarkdown }}{% if item.data.of_url %}<p>Original post can be found at: <a href="{{ item.data.of_url }}">{{ item.data.of_url }}</a></p>{% endif %}
		</content>
		{% elif item.data.description and not item.content -%}
		<summary>{{ item.data.meta_description | stripStrikethrough | striptags(true) | safe }}</summary>
		<content type="html">
			{% if item.data.of_url %}<p>Original post can be found at: <a href="{{ item.data.of_url }}">{{ item.data.of_url }}</a></p>{% endif %}
		</content>
		{% else -%}
		<summary>{{ item.data.of_title_fallback | safe }}</summary>
		<content xml:lang="{{ site.locale }}" type="html">
			{% if item.data.of_url %}<p>Original post can be found at: <a href="{{ item.data.of_url }}">{{ item.data.of_url }}</a></p>{% endif %}
		</content>
		{% endif -%}
		{% if item.data.of_url -%}
		<link rel="alternate" href="{{ item.data.of_url }}" />
		{% endif -%}
		{% if item.data.reply_url -%}
		<link rel="related" href="{{ item.data.reply_url }}" />
		{% endif -%}
	</entry>
	{% endfor %}
</feed>
