---
layout: base
---
<article id="content" class=" [ pantheon{% if wide %}  wide{% endif %} ] [ wrap ] [ page ] ">

	{% if 'project' in tags %}
		<ul class=" [ cluster ] [ breadcrumbs ] ">
			<li><a href="/projects/">← Projects</a></li>
		</ul>
	{% endif %}

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] {% if perch %}[ perch ] {% endif %}">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ descriptionLong | default(description) | markdownFormat | safe }}
	</div>

	<div class=" [ content{% if full_width %}  full{% endif %} ] [ flow ] ">
		<div class=" [ e-content ] [ flow ] {% if contentClass %}[ {{ contentClass }} ] {% endif %}{% if toc %}generate-toc{% endif %}">
			{{ content | safe }}
		</div>
	</div>

	{% if not toc %}
		<div class=" [ meta ] [ flow ] ">
			{% include 'meta/page.njk' %}
		</div>
	{% endif %}

	{% include 'responses.njk' %}

	{% include 'ads.njk' %}
</article>
