---
layout: base
---
<article id="content" class=" [ pantheon{% if full %}  full{% endif %} ] [ wrap ] [ page ] {% if perch %}[ perch ] {% endif %}">
	{% if 'project' in tags %}
		<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
			<li><a href="/projects/">← Projects</a></li>
		</ul>
	{% endif %}

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] " style="view-transition-name: title-{{ page.fileSlug }};">
		{% if 'project' in tags and emoji -%}
			<c-emoji>{{ emoji | safe }}</c-emoji>
		{% endif -%}
		<span class=" [ p-name ] ">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ descriptionLong | default(description) | markdownFormat | safe }}
	</div>

	<div class=" [ content ] [ flow ] ">
		{% if global.isJSNakedDay -%}
			{% include 'js-naked-day.njk' %}
		{%- endif %}

		{% if draft %}
			{% include 'draft.njk' %}
		{% endif %}

		<div class=" [ e-content ] [ flow ] {% if content_class %}[ {{ content_class }} ] {% endif %}{% if toc %}generate-toc{% endif %}">
			{% for pre_include in (pre_includes | toArray) -%}
				{% include pre_include %}
			{%- endfor %}

			{{- content | safe -}}

			{% for post_include in (post_includes | toArray) -%}
				{% include post_include %}
			{%- endfor %}
		</div>
	</div>

	{% include 'responses.njk' %}

	<div class=" [ meta ] " data-pagefind-ignore>
		<div class=" [ grid ] " data-rows="masonry">
			{% include 'meta/page.njk' %}
		</div>
	</div>
</article>
