---
layout: base
---
<article id="content" class=" [ pantheon{% if full %}  full{% elif wide %}  wide{% endif %} ] [ wrap ] [ page ] {% if perch %}[ perch ] {% endif %}">

	{% if 'project' in tags %}
		<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
			<li><a href="/projects/">← Projects</a></li>
		</ul>
	{% endif %}

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] " style="view-transition-name: title-{{ page.fileSlug }};">
		<span class=" [ p-name ] ">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ descriptionLong | default(description) | formatAsMarkdown | safe }}
	</div>

	<div class=" [ content ] [ flow ] ">
		{% if draft %}
			<p class=" [ box  box--warning ] [ flow ] [ line-length ] ">This is still a <em>draft</em>! The quality of this page may not be up to snuff, and is probably far from being complete.</p>
		{% endif %}

		<div class=" [ e-content ] [ flow ] {% if content_class %}[ {{ content_class }} ] {% endif %}{% if toc %}generate-toc{% endif %}">
			{{- content | safe -}}
		</div>

		{% include 'responses.njk' %}
	</div>

	{% if not full and not toc %}
		<aside class=" [ meta ] [ flow ] " role="complementary" data-pagefind-ignore>
			{% include 'meta/page.njk' %}
		</aside>
	{% endif %}
</article>
