---
layout: base
---
<article {% if not content.length %}id="content"{% endif %} class=" [ pantheon{% if full %}  full{% elif wide %}  wide{% endif %} ] [ wrap ] [ post h-{{ mf_root }} ] {% if perch %}[ perch ] {% endif %}">

	<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
		<li><a href="/posts/">All Posts</a></li><li><a href="/{{ categoryPlural | default(category) }}/">{{ categoryProperPlural | default(categoryPlural) | default(category) | title }}</a></li>
	</ul>

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] {{ '[ visually-hidden ] ' if not title and not of_title }}" style="view-transition-name: title-{{ page.fileSlug }};">
		<span class=" [ p-name ] ">{{ title | default(of_title) | default(of_title_fallback) | default(meta_title) | striptags(true) | safe }}</span>
	</h1>

	<div class=" [ description  description--published ] ">
		<p>
			{%- if rsvp %}
				This <a href="/rsvps/" class=" [ u-category ] ">RSVP</a>
			{%- else %}
				This <a href="/{{ categoryPlural | default(category) }}/" class=" [ u-category ] ">{{ categoryProper | default(category) }}</a>{% if 'writing' in tags %}, part of the <a href="/writing/">writing</a> collection{% if not in_reply_to %},{% endif %}{% endif %}
			{%- endif -%}
			{%- if draft %}
				has not yet been published
			{%- else -%}
				{%- if in_reply_to and not rsvp -%}
					{%- if 'writing' in tags %} and{% else %},{% endif %} in reply to
					<a href="{{ reply_url }}" class=" [ h-cite  u-in-reply-to ] ">{{ reply_title }}</a>
					{%- if reply_author_string and (reply_author_string | striptags) != reply_title %}
						by {{ reply_author_string | safe }}
					{%- endif %},
				{%- endif %}
				was published on <time datetime="{{ date | rfc3339Date }}" class=" [ dt-published ] ">{{ date | friendlyDateLong | safe }}</time>
				{%- if updated %}
					and last updated on <time datetime="{{ updated | rfc3339Date }}" class=" [ dt-updated ] ">{{ updated | friendlyDateLong | safe }}</time>
				{%- endif -%}
			{%- endif -%}.
		</p>
	</div>

	<div class=" [ content ] [ flow ] {% if toc %}generate-toc{% endif %}">
		{% if global.cssnakedday -%}
			{% include 'css-naked-day.njk' %}
		{%- endif %}

		{% if draft %}
			<p class=" [ box  box--warning ] [ flow ] [ line-length ] ">This is still a <em>draft</em>! The quality of this {{ categoryProper | default(category) | default('post') }} may not be up to snuff, and is probably far from being complete.</p>
		{% endif %}

		{% include 'banner.njk' %}

		{% if cover %}
			{% set alt = 'Art for ' + (title | default(of_title) | striptags(true) | safe) -%}
			{% image './images/covers/' + cover, alt, ' [ cover ] [ u-photo ] ', [400] %}
		{% endif %}

		{% include 'photo.njk' %}

		{% if description %}
			<div class=" [ description ] [ flow ] [ p-summary ] ">
				{{ description | formatAsMarkdown | safe }}
			</div>
		{% endif %}

		{% include 'updated.njk' %}

		{% if category == 'recipe' %}
			{% include 'post/recipe.njk' %}
		{% endif %}

		{% if content.length %}
			<div id="content" class=" [ e-content ] [ flow ] ">
				{{- content | safe -}}
			</div>
		{% endif %}

		{% if of_label %}
			<nav class=" [ grid ] [ navigator ] ">
				<a href="{{ of_url }}" class=" [ button ] {% if mf_property %}[ u-{{ mf_property }} ] {% endif %}">{{ of_label }} →</a>
			</nav>
		{% endif %}

		{% if listen_of %}
			<c-odesli id="{{ listen_of.split('/') | last }}"></c-odesli>
		{% endif %}

		{% include 'responses.njk' %}

		{% include 'browse.njk' %}
	</div>

	<aside class=" [ meta ] [ flow ] " role="complementary" data-pagefind-ignore>
		{% include 'meta/post.njk' %}
	</aside>
</article>
