---
layout: base
---
{%- set of = bookmark_of | default(drink_of) | default(like_of) | default(listen_of) | default(play_of) | default(read_of) | default(watch_of) | default(link) -%}
{%- set of_url = of -%}
{%- if of.url -%}
	{% set of_url = of.url %}
{%- endif -%}
{%- set of_title = of_url -%}
{%- if of.title -%}
	{% set of_title = of.title %}
{%- endif -%}
{%- if of_url and not authors -%}
	{% set of_author_by_url = people | getPerson(of_url, 'object') %}
	{% if of_author_by_url != of_url %}
		{% set authors = of_author_by_url %}
	{% endif %}
{%- endif -%}

{%- set in_reply_to_url = in_reply_to -%}
{%- if in_reply_to.url -%}
	{% set in_reply_to_url = in_reply_to.url %}
{%- endif -%}
{%- set in_reply_to_title = in_reply_to_url -%}
{%- if in_reply_to.title -%}
	{% set in_reply_to_title = in_reply_to.title %}
{%- endif -%}
{%- if in_reply_to.authors -%}
	{% set in_reply_to_authors = in_reply_to.authors %}
{%- else -%}
	{% set in_reply_to_author_lookup = people | getPerson(in_reply_to_url, 'object') %}
	{% if in_reply_to_author_lookup != in_reply_to_url %}
		{% set in_reply_to_authors = in_reply_to_author_lookup %}
	{% endif %}
{%- endif -%}

{%- if drink_of -%}
	{% set syndicate_to = ["https://untappd.com/user/" + author.untappd + "/checkin/" + page.fileSlug] %}
{%- endif -%}
{%- if listen_of -%}
	{% set of_url = "https://album.link/s/" + listen_of %}
	{% set syndicate_to = [of_url] %}
{%- endif -%}
{%- if read_of -%}
	{% set of_url = "https://openlibrary.org/isbn/" + read_of %}
	{% set syndicate_to = [of_url] %}
{%- endif -%}

<article id="content" class=" [ pantheon{% if wide %}  wide{% endif %} ] [ wrap ] [ post h-{{ mf_root }} ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li>
			<a href="/archive/">All Posts</a>
		</li>
		<li>
			<a href="/{{ categoryPlural | default(category) }}/">{{ categoryProperPlural | default(categoryPlural) | default(category) | capitalize }}</a>
		</li>
	</ul>

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] {{ '[ hidden ] ' if not title and not of_title }}">
		{% if of_title %}
			<span>{{ categoryProper | default(category) | title }} of <q>{{ title | default(of_title) | striptags(true) | safe }}</q></span>
		{% elif title %}
			<span>{{ title | safe }}</span>
		{% else %}
			<span>{{ categoryProper | default(category) | title }} from {{ page.date | friendlyDateLong | safe }}</span>
		{% endif %}
	</h1>

	<div class=" [ description  description--published ] ">
		<p>
			{% if rsvp %}
				This <a class=" [ u-category ] " href="/rsvps/">RSVP</a>
			{% else %}
				This <a class=" [ u-category ] " href="/{{ categoryPlural | default(category) }}/">{{ categoryProper | default(category) }}</a>{% if "writing" in tags %}, part of the <a href="/writing/">writing</a> collection,{% endif %}
			{% endif %}
			{%- if draft %}
				has not yet been published
			{%- else %}
				{% if in_reply_to and not rsvp %}
					in reply to <a href="{{ in_reply_to_url }}">{{ people | getPerson(in_reply_to_title) | getInternalTarget(collections.all) | getMastodonHandle | getTwitterHandle }}</a>
					{% if in_reply_to_authors -%}
						{% set first_author = in_reply_to_authors | toArray | first %}
						{% set first_author_person = people | getPerson(first_author) %}
						{% if first_author_person != people | getPerson(in_reply_to_title) %}
							by
							{% for author in in_reply_to_authors | toArray %}
								{% set author = people | getPerson(author, 'object') %}
								{% if not loop.first %}{% if in_reply_to_authors.length > 2 %}, {% endif %}{% if loop.last %} and {% endif %}{% endif %}
								{% if author.url %}
									<a href="{{ author.url | toArray | first }}">{{ author.title }}</a>
								{% else %}
									{{ author }}
								{% endif %}
							{% endfor %}
						{% endif %}
					{%- endif -%}
				{%- endif %}
				was published on <time class=" [ dt-published ] " datetime="{{ date | rfcDate }}">{{ date | friendlyDateLong | safe }}</time>
				{%- if updated %}
					and last updated on <time class=" [ dt-updated ] " datetime="{{ updated | rfcDate }}">{{ updated | friendlyDateLong | safe }}</time>
				{%- endif -%}
			{%- endif %}.
		</p>
	</div>

	<div class=" [ content ] [ flow ] {% if toc %}generate-toc{% endif %}">

		{% if draft %}
			<p class=" [ box  box--warning ] [ flow ] ">This is still a <em>draft</em>! The quality of this {{ categoryProper | default(category) | default('post') }} may not be up to snuff, and is probably far from being complete.</p>
		{% endif %}

		{% include 'banner.njk' %}

		{% include 'cover.njk' %}

		{% include 'photo.njk' %}

		{% if description %}
			<p class=" [ description ] [ flow ] [ p-summary ] ">{{ description | safe }}</p>
		{% endif %}

		{% include 'updated.njk' %}

		{% if of_url %}
			{% set of_url_lookup = of_url | getSyndicationTarget %}
			{% if of_url_lookup %}
				{% if category == 'beer' and of_url_lookup %}
					{% set of_label = 'See more on ' + of_url_lookup %}
				{% elif category == 'music' and of_url_lookup %}
					{% set of_label = 'Find out where to listen with ' + of_url_lookup %}
				{% else %}
					{% set of_label = 'Read more on ' + of_url_lookup %}
				{% endif %}
			{% else %}
				{% set of_label = 'Read more on ' + of_title %}
			{% endif %}
			<nav class=" [ grid ] [ navigator ] ">
				<a class=" [ button ] {% if mf_property %}[ u-{{ mf_property }} ] {% endif %}" href="{{ of_url }}">{{ of_label }} →</a>
			</nav>
		{% endif %}

		{% if listen_of %}
			{% include 'post/odesli.njk' %}
		{% endif %}

		{% if category == 'recipe' %}
			{% include 'post/recipe.njk' %}
		{% endif %}

		{% if content.length %}
			<div class=" [ e-content ] [ flow ] ">
				{{ content | safe }}
			</div>
		{% endif %}

		{% include 'responses.njk' %}

		{% include 'browse.njk' %}
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/post.njk' %}
	</div>

	{% include 'ads.njk' %}
</article>
