<!DOCTYPE html>
<html lang="{{ site.locale }}" class="{% if theme %}{{ theme }}  {% endif %}no-js" profile="http://gmpg.org/xfn/11">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

		<title>{% if page.url != '/' %}{{ title | default(meta_title) | striptags | safe }} · {% endif %}{{ site.title }}</title>

		{# Critical JS -#}
		{% include 'js-critical.njk' %}

		{# All CSS -#}
		{% include 'css.njk' %}

		<link rel="preload" href="/fonts/proxima-vara-subset.woff2" as="font" type="font/woff2" crossorigin>

		{% if eleventy.env.runMode === 'build' -%}
		<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64">
		<link rel="icon" href="{{ site.logo }}" type="image/svg+xml">
		<link rel="icon" href="/images/favicon-64.png">
		<link rel="apple-touch-icon" href="/images/favicon-180.png">
		<link rel="apple-touch-icon-precomposed" href="/images/favicon-180.png">
		<link rel="msapplication-square310x310logo" href="/images/favicon-310.png">
		{%- else -%}
		<link rel="icon" href="/images/favicon-bw.ico" sizes="16x16 32x32 48x48 64x64">
		<link rel="icon" href="/images/favicon-64-bw.png">
		<link rel="apple-touch-icon" href="/images/favicon-180-bw.png">
		<link rel="apple-touch-icon-precomposed" href="/images/favicon-180-bw.png">
		<link rel="msapplication-square310x310logo" href="/images/favicon-310-bw.png">
		{%- endif %}

		<link rel="self" href="{{ site.url + '/feed.xml' }}">
		<link rel="alternate" type="application/atom+xml" title="Chris Burnell RSS Feed" href="{{ site.url + '/feed.xml' }}">
		<link rel="blogroll" type="text/xml" title="Chris Burnell Blogroll" href="{{ site.url + '/blogroll.opml' }}">
		<link rel="pingback" href="https://webmention.io/{{ site.url | getHost }}/xmlrpc">
		<link rel="webmention" href="https://webmention.io/{{ site.url | getHost }}/webmention">
		<link rel="authorization_endpoint" href="{{ site.urls.indieauth_endpoint }}">
		<link rel="token_endpoint" href="{{ site.urls.indieauth_token }}">
		<link rel="micropub" href="{{ site.urls.micropub }}">
		<link rel="openid.delegate" href="{{ site.url }}">
		<link rel="openid.server" href="{{ site.urls.openid }}">{% if page.url == '/' %}
		<link rel="me" href="https://github.com/{{ author.github }}">{% endif %}

		<link rel="author" href="/humans.txt">
		<link rel="manifest" href="{{ webmanifest | default('/site.webmanifest') }}">

		<meta name="author" content="{{ author.name }}">
		<meta name="description" content="{{ meta_description | safe }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">

		<meta name="theme-color" content="{{ designTokens['colors-hex'] | keyValue('raven') }}">
		<meta name="color-scheme" content="light dark">

		{% if (tags and 'httpstatus' in tags) or (noindex and nofollow) -%}
		<meta name="robots" content="noindex,nofollow">
		{%- else -%}
		{% if noindex -%}
		<meta name="robots" content="noindex">
		{% elif nofollow -%}
		<meta name="robots" content="nofollow">
		{% endif -%}

		<link rel="canonical" href="{{ canonical }}">
		{% if category and not category.title -%}
			{%- set previous_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | rssOnlyFilter | getPreviousCollectionItem(page) -%}
			{%- set next_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | rssOnlyFilter | getNextCollectionItem(page) -%}
		{%- endif -%}
		{% if previous_post -%}
		<link rel="prev" href="{{ site.url + previous_post.url }}">
		{%- endif %}
		{% if next_post -%}
		<link rel="next" href="{{ site.url + next_post.url }}">
		{%- endif %}

		{# Fediverse -#}
		<meta property="fediverse:creator" content="@chrisburnell@repc.co">

		{# OpenGraph Microdata -#}
		{% if mf_root == 'review' -%}
		<meta property="og:type" content="review">
		{%- elif layout == 'post' -%}
		<meta property="og:type" content="article">
		{%- elif '/about' in page.url -%}
		<meta property="og:type" content="profile">
		{%- else -%}
		<meta property="og:type" content="website">
		{%- endif %}
		<meta property="og:url" content="{{ canonical }}">
		<meta property="og:title" content="{{ meta_title | safe }}">
		<meta property="og:description" content="{{ meta_description | safe }}">
		<meta property="og:locale" content="{{ site.locale }}">
		<meta property="og:site_name" content="{{ site.title }}">
		{% if not env.GENERATE_OG_IMAGES or og_image or banner or cover or photo or not meta_title or meta_title == '' or draft or page.url == '/' -%}
			<meta property="og:image" content="{{ meta_image }}" data-pagefind-meta="image[content]">
		{%- else -%}
			<meta property="og:image" content="{{ site.url }}{% ogImage './eleventy/layouts/og-image.og.njk', { title: meta_title, description: description, date: date } %}" data-pagefind-meta="image[content]">
		{%- endif %}
		<meta property="og:image:alt" content="{{ meta_title | safe }}" data-pagefind-meta="image_alt[content]">

		{% if date -%}
			<meta property="og:publish_date" content="{{ date | rfc3339Date | safe }}">
			<meta property="article:published_time" content="{{ date | rfc3339Date | safe }}">
		{%- endif %}
		{% if updated or end -%}
			<meta property="article:modified_time" content="{{ updated | default(end) | rfc3339Date | safe }}">
		{%- endif %}
		{% if layout == 'post' -%}
			<meta property="article:author" content="{{ author.name }}">
		{% for tag in tags | categoryFilter | tagFilter -%}
			<meta property="article:tag" content="{{ tag }}">
		{% endfor %}
		{%- elif '/about' in page.url -%}
		<meta property="profile:first_name" content="{{ author.firstname }}">
		<meta property="profile:last_name" content="{{ author.lastname }}">
		<meta property="profile:username" content="{{ author.shortname }}">
		{%- endif %}

		{%- endif %}{# end non-httpstatus #}
	</head>
	<body>
		<a href="#content" class=" [ button ] [ skip-link ] [ visually-hidden ] ">Skip to main content</a>

		{# SVG Sprites -#}
		{% set svg %}{% include '../../../images/sprites.svg' %}{% endset -%}
		{{ svg | replace('<?xml version="1.0" encoding="utf-8"?>', '') | replace('<svg', '<svg display="none" aria-hidden="true"') | safe }}

		{{- content | safe -}}

		{% if eleventy.env.runMode === 'build' and not noServiceWorker -%}
		{# ServiceWorker -#}
		<script>{% include '../../js/navigator.js' %} //# sourceURL=inline:navigator.js</script>
		{%- endif %}

		{# Deferred JS -#}
		{% include 'js-defer.njk' %}
	</body>
</html>
