---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
eleventyComputed:
  title: "Tagged: <q>{{ tag | capitalizeFormat }}</q>"
  description: "All of my posts tagged <q>{{ tag | capitalizeFormat }}</q>."
---
{%- set collection = collections[tag] | arePublished | reverse -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div id="content" class=" [ content ] [ wrap ] [ archive ] ">

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Only one{% endif %} of my posts tagged <q>{{ tag | capitalizeFormat }}</q>.</p>
	</div>

	<div class=" [ content__body ] {% if toc %}[ generate-toc ] {% endif %}">
		<nav class=" [ deck ] [ h-feed ] ">
			{% set hfeed = true %}
			{% set truncate = true %}
			{% set lineclamp = false %}
			{% for item in collection %}
				{%- set responses = item.url | getWebmentions(['mention-of', 'in-reply-to', 'like-of', 'repost-of', 'bookmark-of']) -%}
				{% include 'deck-item.njk' %}
			{% endfor %}
		</nav>
	</div>

	{% include 'meta-archive.njk' %}

</div>
