{% if page.carbon %}
<div class="ads">
    <!-- Handmade Ads -->
    <!--
        <div class="ad">
            <div class="ad__wrap">
                <a href="#_" class="ad__split  ad__image">
                    <img src="" alt="">
                </a>
                <a href="#_" class="ad__split  ad__content">
                    <p>words and words and more words here</p>
                </a>
            </div>
            <a href="#_" class="ad__label">Ad brought to you by demo</a>
        </div>
    -->
    <!-- Carbon Ads  -->
    <script async type="text/javascript" src="https://cdn.carbonads.com/carbon.js?serve=CE7D523U&placement=chrisburnellcom" id="_carbonads_js"></script>
</div>
{% endif %}
