<p class="beta  lede  lede--featured" id="lede">All my posts from {{ page.title }}.</p>

{%- assign current_year = page.title | minus: 0 -%}
<div class="h-feed">
    <ol class="deck" role="list">
        {% for page in site.posts %}
            {% unless page.hidden or page.ignore %}
                {%- assign year = page.date | date: '%Y' | minus: 0 -%}
                {% if year == current_year %}
                    {% include components/item_deck.liquid %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    </ol>
</div>
