<p class="beta  lede  lede--featured" id="lede">All my posts from {{ page.title }}.</p>

{%- assign current_year = page.title | minus: 0 -%}
<ol class="content-list  h-feed" role="list">
    {% for page in site.posts %}
        {% unless page.hidden or page.ignore %}
            {%- assign year = page.date | date: '%Y' | minus: 0 -%}
            {% if year == current_year %}
                {% include components/item_content_list.liquid %}
            {% endif %}
        {% endunless %}
    {% endfor %}
</ol>
