{% comment %}

  Consolidate markup for Small Articles List Items.

{% endcomment %}
<li role="listitem">
    <h2 class="title">
        <a class="title-anchor" href="{{ post.url }}" tabindex="-1">{{ post.title }}</a>
    </h2>
    <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d %B, %Y' }}</time>
    {% if post.lede %}
        <p class="lede">{{ post.lede }}</p>
    {% endif %}
    <a class="button" href="{{ post.url }}"><span>Continue reading ‘{{ post.title }}’ – </span>Read Full Article</a>
    {% if post.comments == true %}
        <a class="comments-anchor" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#disqus_thread">Leave a comment</a>
    {% endif %}
</li>
