{% include assets/yml-author.liquid %}

<aside class="author  h-card  hcard  vcard" role="complementary">

    <div class="clear  author-information">
        <a rel="author  me" class="author-image  canada  p-author  u-url  u-uid" href="/" title="{{ site.author.name }}" tabindex="-1">
            <picture class="u-photo">
                <source srcset="/images/avatar.webp 1x,
                                /images/avatar@2x.webp 2x,
                                /images/avatar@3x.webp 3x,
                                /images/avatar@4x.webp 4x"
                        type="image/webp">
                <img alt="Photo of me" class="u-photo  photo"
                     src="/images/avatar.png"
                     srcset="/images/avatar@2x.png 2x,
                             /images/avatar@3x.png 3x,
                             /images/avatar@4x.png 4x"
                     role="presentation">
            </picture>
        </a>
        <div class="author-name">
            <span>about</span>
            <a rel="author  me" href="/about/" class="canada  p-name  u-url">{{ site.author.name }}</a>
        </div>
    </div>

    <div class="clear  author-biography  p-note">
        <p>I’m a <span class="canada">Canadian</span> <span class="p-job-title">{{ site.author.employer.role }}</span> working for <a rel="external" href="{{ site.author.employer.url }}"><span class="p-org">{{ site.author.employer.name }}</span></a> and <span class="p-role">Organiser</span> for <a rel="external" href="{{ site.urls.londonwebstandards }}"><span class="p-org">London Web Standards</span></a>. I’m driven by a passion for web standards, lean CSS, and an open and semantic web, and this is my personal website where I think, write, and share—<a href="{{ site.urls.rss }}">subscribe via RSS</a>, if you’d like.</p>
        <p>I also <a rel="external  me  publisher" href="{{ site.urls.twitter }}">tweet nonsense</a>, <a rel="external  me  publisher" href="{{ site.urls.codepen }}">pen code</a>, <a rel="external  me  publisher" href="{{ site.urls.github }}">commit code</a>, <a rel="external  me  publisher" href="{{ site.urls.speakerdeck }}">speak (on rare occasions)</a>, <a rel="external  me  publisher" href="{{ site.urls.lastfm }}">listen to music (often)</a>, <a rel="external  me" href="/bookshelf">read books</a>, and <a rel="external  me" href="/recipes">bake bread</a> if {{ author_biography_closer }}.</p>
    </div>

    {% unless page.page_class contains 'search' %}
        {% include components/widget-search.html %}
    {% endunless %}

</aside>
