{% include assets/yml-author.html %}

<aside class="author  h-card" role="complementary" itemscope itemtype="https://schema.org/Person">

    <div class="clear  author-information">
        <a class="author-image  canada  u-url" href="/about/" title="About me" tabindex="-1">
            <picture class="u-photo">
                <source srcset="/images/avatar.webp 1x,
                                /images/avatar@2x.webp 2x,
                                /images/avatar@3x.webp 3x,
                                /images/avatar@4x.webp 4x"
                        type="image/webp">
                <img alt="Photo of me" class="photo"
                     src="/images/avatar.png"
                     srcset="/images/avatar@2x.png 2x,
                             /images/avatar@3x.png 3x,
                             /images/avatar@4x.png 4x"
                     role="presentation" itemprop="photo">
            </picture>
        </a>
        <div class="author-name">
            <span>about</span>
            <a class="u-url" href="/about/" tabindex="-1">
                <span class="canada  p-name" itemprop="author">{{ site.author.name }}</span>
            </a>
        </div>
    </div>

    <div class="author-biography">
        <p>I’m a <span class="canada" itemprop="nationality">Canadian</span> <span class="p-job-title" itemprop="jobTitle">{{ site.author.job_title }}</span> living in <span class="p-region" itemprop="homeLocation">{{ site.author.location }}</span> and working at <a rel="external" href="{{ site.author.employer.url }}"><span class="p-org" itemprop="worksFor">{{ site.author.employer.name }}</span></a>. Driven by a passion for lean CSS and a semantic web, I love to create rich and engaging user experiences, which I write about on this website—<a href="/feed.xml">subscribe if you’d like</a>.</p>
        <p>I also <a rel="me publisher external" href="{{ site.urls.twitter }}">tweet</a>, <a rel="me publisher external" href="{{ site.urls.codepen }}">pen code</a>, <a rel="me publisher external" href="{{ site.github.owner_url }}">commit code</a>, <a href="/hip-hop">listen to hip hop</a>, and <a rel="me external" href="//recipes.chrisburnell.com" class="u-url">bake bread</a> if {{ author_biography_closer }}.</p>
    </div>

    {% unless page.page_class contains 'search' %}
        {% include components/widget-search.html %}
    {% endunless %}

</aside>
