{% include assets/yml-author.liquid %}

<aside class="author  h-card  hcard  vcard  p-author" role="complementary">

    <div class="clear  author-information">
        <a rel="author  me" class="author-image  canada  u-url  u-uid" href="/" title="{{ site.author.name }}" tabindex="-1">
            <picture>
                <source srcset="/images/avatar.webp 1x,
                                /images/avatar@2x.webp 2x,
                                /images/avatar@3x.webp 3x,
                                /images/avatar@4x.webp 4x"
                        type="image/webp">
                <img alt="Photo of me" class="photo  u-photo"
                     src="/images/avatar.png"
                     srcset="/images/avatar@2x.png 2x,
                             /images/avatar@3x.png 3x,
                             /images/avatar@4x.png 4x"
                     role="presentation">
            </picture>
        </a>
        <div class="author-name">
            <span>about</span>
            <a rel="author  me" href="/about/" class="u-url"><span class="canada  fn  n  p-name">{{ site.author.name }}</span></a>
        </div>
    </div>

    <div class="clear  author-biography">
        <p class="p-note">I’m a <span class="canada">Canadian</span> <span class="p-job-title">{{ site.author.employer.role }}</span> working for <a rel="external" href="{{ site.author.employer.url }}"><span class="p-org">{{ site.author.employer.name }}</span></a> and an <span class="p-role">Organiser</span> for <a rel="external" href="{{ site.urls.londonwebstandards }}"><span class="p-org">London Web Standards</span></a>. I’m driven by a passion for web standards, lean CSS, and an open and semantic web, and this is my personal website where I think, write, and share.</p>
        <p>I also <a rel="external  me  publisher" href="{{ site.urls.twitter }}">tweet nonsense</a>, <a rel="external  me  publisher" href="{{ site.urls.mastodon }}">toot drivel</a>, <a rel="external  me  publisher" href="{{ site.urls.codepen }}">pen code</a>, <a rel="external  me  publisher" href="{{ site.urls.github }}">commit code</a>, <a rel="external  me  publisher" href="{{ site.urls.speakerdeck }}">speak (on rare occasions)</a>, <a href="/music/">listen to music (often)</a>, <a href="/beer/">enjoy beer</a>, <a href="/bookshelf/">read books</a>, and participate in <a href="https://indieweb.org/" rel="external">IndieWeb</a> if {{ author_biography_closer }}. <a href="/contact/">Get in touch.</a></p>
    </div>

    <div class="clear  webring-links">
        <a rel="external" id="indiewebring" class="webring-links__previous" href="{{ site.urls.webring }}/previous" title="Previous Page in the IndieWeb Webring">←</a>
        <a rel="external" class="webring-links__home" href="https://🕸💍.ws/" title="IndieWeb WebRing">🕸💍</a>
        <a rel="external" id="webring" class="webring-links__next" href="{{ site.urls.webring }}/next" title="Next Page in the IndieWeb Webring">→</a>
    </div>

    {% unless page.page_class contains 'search' %}
        {% include components/widget-search.html %}
    {% endunless %}

</aside>
