{% if page.banner %}
    {% if page.banner_mobile %}
        <img alt="" class="banner" role="presentation" itemprop="image"
             src="/images/banners/{{ page.banner_mobile }}"
             sizes="(min-width: 769px) calc(100vw - 18.375em),
                    calc(100vw - 2.5em)"
             srcset="/images/banners/{{ page.banner_mobile }} 540w,
                     /images/banners/{{ page.banner }} 810w">
    {% else %}
        <img alt="" class="banner" role="presentation" itemprop="image"
             src="/images/banners/{{ page.banner }}">
    {% endif %}
{% endif %}
