{%- comment -%}

  Generates a Buttons List from the `archives` or `feeds` datasets.

  @param {String} type *
  @param {String} include
  @param {String} exclude

{%- endcomment -%}
{% if include.type == 'feeds' %}
    {%- assign data = site.data.feeds -%}
{% elsif include.type == 'archives' %}
    {%- assign data = site.data.archives -%}
{% endif %}
<nav class="buttons-list" role="navigation">
    {% include components/webmentions-button.html %}
    {% include components/comments-button.html %}
    {% for link in data %}
        {%- assign title = link.title | downcase -%}
        {%- if include.type == 'feeds' -%}
            {%- assign url = link.url -%}
        {%- elsif include.type == 'archives' -%}
            {%- assign url = link.type | prepend: '/' | append: '/' -%}
        {%- endif -%}
        {% if include.include %}
            {% if link.type contains include.include or include.include contains link.type or link.type == 'all' %}
                <a class="button"{% if link.rel %} rel="{{ link.rel }}"{% endif %} href="{{ url }}">
                    {% include_cached content/svg.html type=link.icon %}
                    {{ link.title }}
                </a>
            {% endif %}
        {% elsif include.exclude %}
            {% unless link.type contains include.exclude or include.exclude contains link.type %}
                <a class="button"{% if link.rel %} rel="{{ link.rel }}"{% endif %} href="{{ url }}">
                    {% include_cached content/svg.html type=link.icon %}
                    {{ link.title }}
                </a>
            {% endunless %}
        {% else %}
            <a class="button"{% if link.rel %} rel="{{ link.rel }}"{% endif %} href="{{ url }}">
                {% include_cached content/svg.html type=link.icon %}
                {{ link.title }}
            </a>
        {% endif %}
    {% endfor %}
</nav>
