{% if page.comments == 'disqus' %}
    <button role="button" type="button" class="button--show-comments  js-show-comments" id="show-comments" aria-label="Leave a comment" aria-controls="disqus_thread" aria-expanded="false" aria-pressed="false" aria-disabled="true" disabled>
        {% include_cached content/svg.liquid type='feather' %}
        <span class="disqus-comment-count" data-disqus-url="{{ canonical }}">Leave a Comment</span>
    </button>
{% elsif page.comments == 'codepen' and page.codepen_slug %}
    <a class="button" rel="external" href="{{ site.urls.codepen }}/{{ site.codepen.page }}/{{ page.codepen_slug }}/#comment-list">
        {% include_cached content/svg.liquid type='feather' %}
        <span class="button-text">Comments on CodePen</span>
    </a>
{% endif %}
