{% if page.comments == 'disqus' %}
    <section class="comments  js-comments" id="comments" aria-label="Comments" hidden>
        <div id="disqus_thread" aria-live="polite"></div>
        <noscript>Please enable JavaScript to view comments.</noscript>
    </section>
{% endif %}
