{% comment %}

  Consolidate markup for Content List Items.

{% endcomment %}
{% if page.layout == 'post' %}
    {% assign itemtype = "TechArticle" %}
{% elsif page.layout == "page" %}
    {% assign itemtype = "Article" %}
{% endif %}
<li role="listitem">
    <article class="h-entry" role="article" itemscope itemtype="https://schema.org/{{ itemtype }}">
        <a class="u-url" href="{{ page.url }}">
                {% if page.categories contains 'article' %}
                    {% include content/svg.html type='article' %}
                {% elsif page.categories contains 'link' %}
                    {% include content/svg.html type='link' %}
                {% elsif page.categories contains 'pen' %}
                    {% include content/svg.html type='codepen' %}
                {% elsif page.categories contains 'talk' %}
                    {% include content/svg.html type='bullhorn' %}
                {% endif %}
            <h4 class="title  p-name" itemprop="name">{{ page.title }}</h4>
            <p class="lede  e-content" itemprop="description">
                {% if page.lede %}
                    {{ page.lede | strip_html | truncatewords: 20 }}
                {% elsif page.categories contains 'link' %}
                    Shared Link
                {% elsif page.categories contains 'pen' %}
                    Featured Pen
                {% elsif page.categories contains 'talk' %}
                    Talk{% if page.location %} – Given at {{ page.location }}{% endif %}
                {% endif %}
            </p>
            <time class="date  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </a>
    </article>
</li>
