<nav class="elsewhere" role="navigation">
    <ul class="elsewhere__list">
        {% for link in site.data.elsewhere %}
            {% assign svg = link.svg | default: 'feather' %}
            <li{% if link.hidden %} class="hidden"{% endif %}>
                <a{% if link.class %} rel="{{ link.class }}"{% endif %}{% if link.rel %} rel="{{ link.rel }}"{% endif %} href="{{ link.url }}" title="{{ link.title }}">
                    {% if link.svg %}
                        {% include content/svg.html type=svg title=link.title %}
                    {% else %}
                        {{ link.content | default: link.title }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
