<footer class="clear  dark-background" role="contentinfo">
    <div class="wrap">

        <a rel="home" class="footer-home-anchor" href="/" title="Home">
            {% include content/svg.html type='raven' title=site.title %}
        </a>

        <div class="footer-links">
            <a rel="license" href="/license">© 2008–{{ 'now' | date: '%Y' }} <span class="canada">{{ site.author.name }}</span></a>
            <a href="/styleguide">Style Guide</a>
            <a href="/privacy">Privacy</a>
            <a rel="external  noopener" href="https://xn--sr8hvo.ws/💘🇹🇫/previous" title="Previous Page in the IndieWebRing 🕸💍">←</a>
            <a rel="external  noopener" href="https://xn--sr8hvo.ws/💘🇹🇫/next" title="Next Page in the IndieWebRing 🕸💍">→</a>
        </div>

        {% include components/social-icons.html %}

    </div>
</footer>
