<div id="codefund" class="codefund"></div>

<footer class="clear  dark-background" role="contentinfo">
    <div class="wrap">

        <a rel="home" class="footer-home-anchor" href="/" title="Home">
            {% include_cached content/svg.liquid type='raven' title=site.title %}
        </a>


        <div class="footer-links">
            <a rel="license" href="/license">© {{ site.birth }}–{{ site.time | date: '%Y' }} <span class="canada">{{ site.author.name }}</span></a>
            <a href="/styleguide">Style Guide</a>
            <a href="/privacy">Privacy</a>
            <div class="footer-links--indieweb" class="pixelated">
                <a href="https://indieweb.org" rel="external" title="IndieWebCamp" aria-label="IndieWebCamp">
                    {% include content/img.liquid src='/images/button-indiewebcamp.svg' alt='' width='80' height='15' %}
                </a>
                <a href="http://microformats.org" rel="external" title="Microformats" aria-label="Microformats">
                    {% include content/img.liquid src='/images/button-microformats.svg' alt='' width='80' height='15' %}
                </a>
                <a href="https://webmention.net" rel="external" title="WebMention" aria-label="WebMention">
                    {% include content/img.liquid src='/images/button-webmention.svg' alt='' width='80' height='15' %}
                </a>
            </div>
        </div>

        {% include components/elsewhere.liquid %}

    </div>
</footer>
