    <div class="notification" hidden aria-hidden="true"></div>

    {% include assets/assets_body.liquid %}

    <script>
        performance.mark("Page — End");
        performance.measure("Page — Time", "Page — Start", "Page — End");
        performance.measure("Head — Time", "Head — Start", "Head — End");
        performance.measure("CSS — Time", "CSS — Start", "CSS — End");
        console.log(performance.getEntriesByType("mark"));
        console.log(performance.getEntriesByType("measure"));
        performance.clearMarks();
        performance.clearMeasures();
    </script>

</body>
</html>
