{% if page.further_reading %}
    <section class="further-reading" aria-label="Further Reading">
        {% include_cached content/heading.liquid title='Further Reading' %}
        <ul>
            {%- assign further_readings = page.further_reading | uniq -%}
            {% for further_reading in further_readings %}
                {% if further_reading.link contains site.live_url %}
                    {% assign rel = '' %}
                {% else %}
                    {% assign rel = ' rel="external"' %}
                {% endif %}
                {% if further_reading.title == null or further_reading.title == empty %}
                    {% assign title = further_reading.link %}
                {% else %}
                    {% assign title = further_reading.title %}
                {% endif %}
                <li>
                    <a href="{{ further_reading.link }}"{{ rel }}>{{ title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
