<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>

    {%- include assets/yml-head.liquid -%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <title>{{ meta_title }}</title>

    {% if page.comments == 'disqus' %}
        <link rel="dns-prefetch" href="//a.disquscdn.com">
        <link rel="dns-prefetch" href="//chrisburnell.disqus.com">
    {% endif %}
    {% if page.caniuse == true %}
        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    {% endif %}
    {% if page.codepen == true or page.codepen_slug %}
        <link rel="dns-prefetch" href="//codepen.io">
        <link rel="dns-prefetch" href="//assets.codepen.io">
        <link rel="dns-prefetch" href="//s.codepen.io">
    {% endif %}
    {% if page.speakerdeck == true or page.speakerdeck_slug %}
        <link rel="dns-prefetch" href="//speakerdeck.com">
    {% endif %}
    {% if page.twitter == true %}
        <link rel="dns-prefetch" href="//platform.twitter.com">
    {% endif %}
    {% if page.vimeo == true or page.vimeo_slug %}
        <link rel="dns-prefetch" href="//player.vimeo.com">
    {% endif %}
    {% if page.youtube == true or page.youtube_slug %}
        <link rel="dns-prefetch" href="//www.youtube.com">
    {% endif %}

    {% if page.bookmark_of %}
        {% assign url = page.bookmark_of.url | default: page.bookmark_of %}
        <link rel="prefetch" href="{{ url }}">
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="All Posts RSS Feed" href="{{ site.urls.rss }}">
    <link rel="alternate" type="application/rss+xml" title="Articles RSS Feed" href="{{ site.urls.rss_articles }}">
    <link rel="alternate" type="application/rss+xml" title="Bookmarks RSS Feed" href="{{ site.urls.rss_bookmarks }}">
    <link rel="alternate" type="application/rss+xml" title="Notes RSS Feed" href="{{ site.urls.rss_notes }}">
    <link rel="alternate" type="application/rss+xml" title="Pens RSS Feed" href="{{ site.urls.rss_pens }}">
    <link rel="alternate" type="application/rss+xml" title="Recipes RSS Feed" href="{{ site.urls.rss_recipes }}">
    <link rel="alternate" type="application/rss+xml" title="Reviews RSS Feed" href="{{ site.urls.rss_reviews }}">
    <link rel="alternate" type="application/rss+xml" title="Talks RSS Feed" href="{{ site.urls.rss_talks }}">
    <link rel="pingback" href="https://webmention.io/{{ site.live_url | remove: 'http://' | remove: 'https://' }}/xmlrpc">
    <link rel="webmention" href="https://webmention.io/{{ site.live_url | remove: 'http://' | remove: 'https://' }}/webmention">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="{{ site.urls.micropub }}">
    <link rel="microsub" href="{{ site.urls.microsub }}">
    <link rel="openid.delegate" href="{{ site.live_url }}" />
    <link rel="openid.server" href="https://openid.indieauth.com/openid" />

    <link rel="mask-icon" href="{{ 'favicon.svg' | relative_url }}" color="#{{ site.color }}">

    <link rel="author" href="{{ 'humans.txt' | relative_url }}">
    <link rel="manifest" type="application/manifest+json" href="{{ 'manifest.json' | relative_url }}">

    <meta name="author" content="{{ site.author.name }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="msapplication-starturl" content="{{ site.url }}">
    <meta name="description" content="{{ meta_lede }}">
    <meta name="theme-color" content="#{{ site.color }}">
    <meta name="msapplication-navbutton-color" content="#{{ site.color }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta http-equiv="cleartype" content="on">

    {% include assets/assets-social.html %}

    {% include assets/assets-head.html %}

</head>

<body{% if body_class_array != '' %} class="{{ body_class_array }}"{% endif %}>

    <a class="hidden" href="#content">Skip to main content</a>
