<head>

    {% if page.page_class contains 'page-home' %}
        {% capture meta_title %}{{ site.title }} – {{ site.tagline }}{% endcapture %}
    {% else %}
        {% capture meta_title %}{{ page.title }} – {{ site.title }}{% endcapture %}
    {% endif %}

    {% if page.lede %}
        {% capture meta_lede %}{{ page.lede | strip_html }}{% endcapture %}
    {% elsif page.categories contains 'link' %}
        {% capture meta_lede %}One of my shared links, {{ page.title }}{% endcapture %}
    {% elsif page.categories contains 'pen' %}
        {% capture meta_lede %}One of my CodePens, {{ page.title }}{% endcapture %}
    {% else %}
        {% capture meta_lede %}{{ site.lede | strip_html }}{% endcapture %}
    {% endif %}

    {% if page.banner_mobile %}
        {% capture meta_image %}{{ page.banner_mobile | prepend: '/images/banners/' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
    {% else if page.banner %}
        {% capture meta_image %}{{ page.banner | prepend: '/images/banners/' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
    {% else %}
        {% capture meta_image %}{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
    {% endif %}

    {% capture body_class %}
        {% for class in page.page_class %}
            {{ class }}
        {% endfor %}
        {% if page.categories contains 'article' %}page-article{% endif %}
        {% if page.categories contains 'link' %}page-link{% endif %}
        {% if page.categories contains 'pen' %}page-pen{% endif %}
    {% endcapture %}
    {% assign body_class_array = body_class | split: ' ' %}

    {% assign code_toggle_count = 0 %}
    {% assign code_toggle_button_count = 0 %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <title>{{ meta_title }}</title>

    <link rel="preload" href="/css/main.min.css" as="style">

    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="dns-prefetch" href="//a.disquscdn.com">
    <link rel="dns-prefetch" href="//chrisburnell.disqus.com">
    <link rel="dns-prefetch" href="//codepen.io">
    <link rel="dns-prefetch" href="//assets.codepen.io">
    <link rel="dns-prefetch" href="//s.codepen.io">
    <link rel="dns-prefetch" href="//platform.twitter.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    {% if page.categories contains 'link' and page.link_urls %}
        {% for link in page.link_urls %}
            <link rel="prefetch" href="//{{ link | remove: 'http://' | remove: 'https://' | split: '/' | first }}">
        {% endfor %}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">

    <link rel="author" href="/humans.txt">

    {% unless page.page_class contains 'page-not-found' %}
        <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    {% endunless %}

    <meta name="apple-mobile-web-app-title" content="{{ meta_title }}">
    <meta name="description" content="{{ meta_lede }}">
    <meta name="theme-color" content="#{{ site.color_brand }}">
    <meta name="msapplication-navbutton-color" content="#{{ site.color_brand }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#{{ site.color_brand }}">

    <meta http-equiv="cleartype" content="on">

    {% if page.page_class contains 'page-not-found' %}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <!-- Twitter Microdata -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@{{ site.author_twitter }}">
        <meta name="twitter:title" content="{{ meta_title }}">
        <meta name="twitter:description" content="{{ meta_lede }}">
        <meta name="twitter:image:src" content="{{ meta_image }}">
        <meta name="twitter:domain" content="{{ site.url | remove: 'http://' | remove: 'https://' }}">
        {% if page.twitter == true %}
            <meta name="twitter:widgets:theme" content="light">
            <meta name="twitter:widgets:link-color" content="#{{ site.color_brand }}">
            <meta name="twitter:widgets:border-color" content="#{{ site.color_brand }}">
        {% endif %}
        <!-- OpenGraph Microdata -->
        <meta property="og:title" content="{{ meta_title }}">
        <meta property="og:description" content="{{ meta_lede }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}

    {% include components/assets-head.html %}

</head>
