<header class="wrap" role="banner">

    <a rel="home" class="logo" href="/" title="{{ site.title }}">
        {% include content/svg.liquid type='raven' title=site.title %}
    </a>

    {% include components/nav_primary.liquid %}

</header>
