{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
{%- assign date_human = page.date | date_to_long_string -%}
{%- if include.relative_year == true -%}
    {%- assign year_today = site.time | date: '%Y' -%}
    {%- assign year_then = page.date | date: '%Y' -%}
    {%- assign date_human = year_today | minus: year_then | append: ' years ago' -%}
{%- endif -%}
<li role="listitem">
    <article class="h-entry" role="article">
        <a class="u-url" href="{{ page.url }}">
            {% if page.category == 'article' or page.category == 'recipe' %}
                {% include_cached content/svg.html type='article' %}
            {% elsif page.category == 'bookmark' %}
                {% include_cached content/svg.html type='link' %}
            {% elsif page.category == 'note' %}
                {% include_cached content/svg.html type='feather' %}
            {% elsif page.category == 'pen' %}
                {% include_cached content/svg.html type='codepen' %}
            {% else %}
                {% include_cached content/svg.html type='bullhorn' %}
            {% endif %}
            <h3 class="delta  title  p-name"{% if page.category == 'note' %} hidden{% endif %}>
                {% if page.category == 'note' %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title | strip_html }}
                {% endif %}
            </h3>
            <p class="lede  p-summary">
                {% if page.in_reply_to.first %}
                    <span class="emoji">↩️</span> In reply to:
                    {% if page.in_reply_to.first contains 'mastodon.social' %}
                        <span class="h-cite  u-in-reply-to">a Toot</span>
                    {% elsif page.in_reply_to.first contains 'twitter.com' %}
                        {% if page.in_reply_to.first contains '/status/' %}
                            <span class="h-cite  p-in-reply-to">@{{ page.in_reply_to.first | split: '/status/' | first | split: 'twitter.com/' | last }}</span>
                        {% else %}
                            <span class="h-cite  p-in-reply-to">a Tweet</span>
                        {% endif %}
                    {% elsif page.in_reply_to.first contains 'hwclondon.co.uk' %}
                        <span class="h-cite  p-in-reply-to">Homebrew Website Club London</span>
                    {% else %}
                        <span class="h-cite  p-in-reply-to">{{ page.in_reply_to.first }}</span>
                    {% endif %}
                    <br>
                {% endif %}
                {% if page.emoji %}
                    <span class="emoji">{{ page.emoji }}</span>
                {% endif %}
                {% if page.rsvp %}
                    <span class="emoji">📅</span>
                {% endif %}
                {% if page.banner or page.banner_mobile or page.mf-photo or page.cover or page.content contains '<img' %}
                    {% unless page.mf_root == 'review' %}
                        <span class="emoji">🖼️</span>
                    {% endunless %}
                {% endif %}
                {% if page.lede %}
                    {{ page.lede | strip_html | truncatewords: 20 }}
                {% elsif page.category == 'travel' %}
                    Travel from {{ page.depart }} to {{ page.arrive }}.
                {% elsif page.category == 'note' %}
                    {%- assign content = page.content | markdownify | strip_html | replace: '&lt;figcaption&gt;', '' | replace: '&lt;/figcaption&gt;', '' | replace: '&lt;p&gt;', '' | replace: '&lt;/p&gt;', '' | truncatewords: 20 | strip -%}
                    {{ content }}
                {% elsif page.category == 'music' %}
                    Album
                {% else %}
                    {% include content/capitalizer.html input=page.category %}
                {% endif %}
                {% if page.category == 'talk' and page.location %}
                    — Given at {{ page.location }}
                {% endif %}
                {% if page.authors %}
                    by
                    {%- assign authors = page.authors | uniq -%}
                    {%- for author in authors -%}
                        {% unless forloop.first %}, {% endunless %}
                        {{ author | strip }}
                    {%- endfor -%}
                {% endif %}
                {% if page.rating %}
                    {%- assign rating_base = page.rating | default: 0 | at_least: 0 | at_most: 5 | floor -%}
                    {%- assign rating_fraction = page.rating | minus: rating_base -%}
                    <data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data>
                    <data class="p-worst" hidden>0</data>
                    <data class="p-best" hidden>5</data>
                {% endif %}
                {%- if page.badges -%}
                    <data value="{{ page.badges.size }}">🏅 Earned {{ page.badges.size }} badge{% if page.badges.size > 1 %}s{% endif %}.</data>
                {%- endif -%}
            </p>
            <time class="date  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ date_human }}</time>
        </a>
        {% if page.mf_property %}
            {%- assign link = page.bookmark_of.url | default: page.bookmark_of | default: page.like_of.url | default: page.like_of | default: page.link.url | default: page.link | default: null -%}
            <data class="u-{{ page.mf_property }}" hidden>{{ link }}</data>
        {% endif %}
        <a class="u-author" href="/" hidden tabindex="-1"></a>
    </article>
</li>
