{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
<li role="listitem">
    <article class="h-entry" role="article">
        <a class="u-url" href="{{ page.url }}">
                {% if page.categories contains 'article' %}
                    {% include_cached content/svg.html type='article' %}
                {% elsif page.categories contains 'bookmark' %}
                    {% include_cached content/svg.html type='link' %}
                {% elsif page.categories contains 'note' %}
                    {% include_cached content/svg.html type='feather' %}
                {% elsif page.categories contains 'pen' %}
                    {% include_cached content/svg.html type='codepen' %}
                {% elsif page.categories contains 'recipe' %}
                    {% include_cached content/svg.html type='article' %}
                {% elsif page.categories contains 'review' %}
                    {% include_cached content/svg.html type='article' %}
                {% elsif page.categories contains 'talk' %}
                    {% include_cached content/svg.html type='bullhorn' %}
                {% endif %}
            <h3 class="delta  title  p-name{% if page.categories contains 'note' %}  hidden{% endif %}">
                {% if page.categories contains 'note' %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title | strip_html }}
                {% endif %}
            </h3>
            <p class="lede  p-summary">
                {% if page.lede %}
                    {{ page.lede | strip_html | truncatewords: 20 }}
                {% elsif page.categories contains 'article' %}
                    Shared Article
                {% elsif page.categories contains 'bookmark' %}
                    Bookmark
                {% elsif page.categories contains 'note' %}
                    {%- assign content = page.content -%}
                    {%- if content contains '<img' -%}
                        {%- assign content = content | prepend: '🖼️' -%}
                    {%- endif -%}
                    {{ content | markdownify | strip_html | truncatewords: 20 | strip }}
                {% elsif page.categories contains 'pen' %}
                    Featured Pen
                {% elsif page.categories contains 'recipe' %}
                    Recipe
                {% elsif page.categories contains 'review' %}
                    Review
                {% elsif page.categories contains 'talk' %}
                    Talk{% if page.location %} – Given at {{ page.location }}{% endif %}
                {% endif %}
            </p>
            <time class="date  dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </a>
        <a class="u-author" href="/" hidden tabindex="-1"></a>
    </article>
</li>
