{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
{%- assign link = page.bookmark_of.link | default: page.bookmark_of | default: page.like_of.link | default: page.like_of | default: page.link.url | default: page.link | default: null -%}
{%- if link contains 'amazon' -%}
    {%- assign link_title = page.title | append: ' on Amazon' -%}
{%- elsif link contains 'bandcamp' -%}
    {%- assign link_clean = page.title | append: ' on Bandcamp' -%}
{%- elsif link contains 'soundcloud' -%}
    {%- assign link_clean = page.title | append: ' on SoundCloud' -%}
{%- elsif link contains 'spotify' -%}
    {%- assign link_clean = page.title | append: ' on Spotify' -%}
{%- elsif link contains 'untappd' -%}
    {%- assign link_clean = page.title | append: ' on Untappd' -%}
{%- elsif link contains 'youtube' -%}
    {%- assign link_clean = page.title | append: ' on YouTube' -%}
{%- endif -%}
{%- if page.rating -%}
    {%- assign rating_base = page.rating | default: 0 | at_least: 0 | at_most: 5 | floor -%}
    {%- assign rating_fraction = page.rating | minus: rating_base -%}
{%- endif -%}
{%- if page.category == 'book' -%}
    {%- assign read_status = 'to-read' -%}
    {%- if page.finish -%}
        {%- assign read_status = 'finished' -%}
    {%- elsif page.date -%}
        {%- assign read_status = 'reading' -%}
    {%- endif -%}
{%- endif -%}
<li role="listitem" class="h-review">
    {% if page.cover %}
        {% unless page.category == 'beer' or page.category == 'movie' or page.category == 'tv' %}
            <a class="cover" href="{{ page.url }}" title="{{ link_title }}">
                {% include components/cover.html %}
            </a>
        {% endunless %}
    {% endif %}
    <div class="h-cite{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}">
        <h2 class="delta">
            {% if page.category == 'beer' %}
                <a href="{{ page.url }}"><cite class="p-name  p-summary">{{ page.title | strip_html }}</cite></a>{% if link and page.mf_property %} <a class="u-{{ page.mf_property }}" href="{{ link }}" rel="external">↗</a>{% endif %}
            {% elsif page.category == 'like' %}
                <a {% if page.mf_property %}class="u-{{ page.mf_property }}"{% endif %} href="{{ link }}" rel="external"><cite class="p-name">Liked: {{ link | remove: 'http://' | remove: 'https://' }}</cite></a>
            {% elsif page.category == 'tv' %}
                <a href="{{ page.url }}"><cite class="p-name  p-summary">{{ page.title | strip_html }}<br>Season {{ page.season }}, Episode {{ page.episode }}</cite></a>{% if link and page.mf_property %} <a class="u-{{ page.mf_property }}" href="{{ link }}" rel="external">↗</a>{% endif %}
            {% else %}
                <a href="{{ page.url }}"><cite class="p-name  p-summary">{{ page.title | strip_html }}</cite></a>{% if link and page.mf_property %} <a class="u-{{ page.mf_property }}" href="{{ link }}" rel="external">↗</a>{% endif %}
            {% endif %}
        </h2>
        <div>
            {% assign authors = page.authors | uniq %}
            {%- for author in authors -%}
                {% unless forloop.first %}, {% endunless %}
                {%- if author.link -%}
                    <a class="h-cite" href="{{ author.link }}" title="" rel="external">{{ author.name | default: author | strip }}</a>
                {%- else -%}
                    <span class="h-cite">{{ author.name | default: author | strip }}</span>
                {%- endif -%}
            {%- endfor -%}
            {%- if page.date -%}
                {%- if page.category == 'beer' -%}
                    <div><time class="dt-published" datetime="{{ page.release | default: page.date | date_to_xmlschema }}">{{ page.release | default: page.date | date: '%d %B %Y' }}</time></div>
                {%- elsif page.category == 'like' -%}
                    <span><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}"><small>on</small> {{ page.date | date: '%d %B %Y' }}</time></span>
                {%- else -%}
                    <span> <time class="dt-published" datetime="{{ page.release | default: page.date | date_to_xmlschema }}">({{ page.release | default: page.date | date: '%Y' }})</time></span>
                {%- endif -%}
            {%- endif -%}
        </div>
        {% if page.isbn %}
            <data class="p-uid" value="{{ page.isbn }}" aria-hidden="true" hidden>{{ page.isbn }}</data>
        {% endif %}
        {% if page.rating and page.rating == 'Parti Pris' %}
            <data class="p-worst" aria-hidden="true" hidden>0</data>
            <data class="p-best" aria-hidden="true" hidden>5</data>
        {% endif %}
        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <details>
                {% if page.rating and page.rating == 'Parti Pris' %}
                    <summary>Parti Pris</summary>
                {% elsif page.rating %}
                    <summary><data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data></summary>
                {% else %}
                    <summary>Review</summary>
                {% endif %}
                <div class="e-content">{{ page.content | markdownify }}</div>
            </details>
        {% endif %}
        {% if content == empty and page.rating and page.rating == 'Parti Pris' %}
            <data value="Parti Pris">Parti Pris</data>
        {% elsif content == empty and page.rating %}
            <data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data>
        {% endif %}
        {% if page.badges %}
            <data class="badges" value="{{ page.badges.size }}"><span class="emoji">🏅</span> Earned {{ page.badges.size }} badge{% if page.badges.size > 1 %}s{% endif %}.</data>
        {% endif %}
        {% if page.isbn %}
            <strong{% if read_status == 'finished' %} aria-hidden="true" hidden{% endif %}><data class="p-status  p-read-status  p-x-read-status" value="{{ read_status }}">{% include_cached content/titleize.html title=read_status %}</data></strong>
        {% endif %}
        {% if page.category == 'book' and page.date %}
            <data class="p-start-date" value="{{ page.date | date: '%Y-%m-%d' }}" aria-hidden="true" hidden>{{ page.date | date: '%Y-%m-%d' }}</data>
        {% endif %}
        {% if page.category == 'book' and page.finish %}
            <data class="p-end-date" value="{{ page.finish | date: '%Y-%m-%d' }}" aria-hidden="true" hidden>{{ page.finish | date: '%Y-%m-%d' }}</data>
        {% endif %}
        {% if link and page.mf_property %}
            <data class="u-{{ page.mf_property }}" aria-hidden="true" hidden>{{ link }}</data>
        {% endif %}
        <data class="u-category" value="/{{ category_link }}/" aria-hidden="true" hidden>{{ page.category }}</data>
        <a class="u-author" href="/" aria-hidden="true" hidden tabindex="-1"></a>
    </div>
</li>
