{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
{%- if page.link contains 'amazon' -%}
    {%- assign link_title = page.title | append: ' on Amazon' -%}
{%- elsif page.link contains 'spotify' %}
    {%- assign link_title = page.title | append: ' on Spotify' -%}
{%- endif -%}
{%- if page.rating -%}
    {%- assign rating_base = page.rating | default: 0 | at_least: 0 | at_most: 5 | floor -%}
    {%- assign rating_fraction = page.rating | minus: rating_base -%}
{%- endif -%}
{%- if page.collection == 'books' -%}
    {%- assign read_status = 'to-read' -%}
    {%- if page.finish -%}
        {%- assign read_status = 'finished' -%}
    {%- elsif page.date -%}
        {%- assign read_status = 'reading' -%}
    {%- endif -%}
{%- endif -%}
<li role="listitem" class="h-review">
    {% if page.cover %}
        {% unless page.collection == 'beer' %}
            {% if page.link %}
                <a class="cover" href="{{ page.link }}" rel="external" title="{{ link_title }}">
            {% endif %}
            {% include components/cover.html %}
            {% if page.link %}
                </a>
            {% endif %}
        {% endunless %}
    {% endif %}
    <div class="h-cite  p-{{ page.mf_property }}">
        <h2 class="delta">
            {% if page.link and page.collection == 'beer' %}
                <a href="{{ page.link }}" rel="external"><cite class="p-name  p-summary">{{ page.title | strip_html }}</cite></a>
            {% elsif page.link and page.collection == 'likes' %}
                <a href="{{ page.link }}" rel="external"><cite class="p-name">Liked: {{ page.link | remove: 'http://' | remove: 'https://' }}</cite></a>
            {% else %}
                <cite class="p-name  p-summary">{{ page.title | strip_html }}</cite>
            {% endif %}
        </h2>
        <div>
            {% assign authors = page.authors | uniq %}
            {%- for author in authors -%}
                {% unless forloop.first %}, {% endunless %}
                {%- if page.authors_link and page.authors_link[1] -%}
                    <a class="p-author  h-card" href="{{ page.authors_link[forloop.index0] }}" title="" rel="external">
                {%- elsif page.authors_link -%}
                    <a class="p-author  h-card" href="{{ page.authors_link }}" title="" rel="external">
                {%- endif -%}
                {{ author | strip }}
                {%- if page.authors_link -%}
                    </a>
                {%- endif -%}
            {%- endfor -%}
            {%- if page.date -%}
                {%- if page.collection == 'beer' -%}
                    <div><time class="dt-published" datetime="{{ page.release | default: page.date | date_to_xmlschema }}"><a href="{{ page.url | absolute_url }}">{{ page.release | default: page.date | date: '%d %B %Y' }}</a></time></div>
                {%- elsif page.collection == 'likes' -%}
                    <span><time class="dt-published" datetime="{{ page.release | default: page.date | date_to_xmlschema }}"><small>on</small> <a href="{{ page.url | absolute_url }}">{{ page.release | default: page.date | date: '%d %B %Y' }}</a></time></span>
                {%- else -%}
                    <span> (<time class="dt-published" datetime="{{ page.release | default: page.date | date_to_xmlschema }}">{{ page.release | default: page.date | date: '%Y' }}</time>)</span>
                {%- endif -%}
            {%- endif -%}
        </div>
        {% if page.isbn %}
            <data class="p-uid" value="{{ page.isbn }}" hidden>{{ page.isbn }}</data>
        {% endif %}
        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <details>
                {% if page.rating %}
                    <summary><data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data></summary>
                {% else %}
                    <summary>Review</summary>
                {% endif %}
                <div class="e-content">{{ page.content | markdownify }}</div>
            </details>
        {% elsif page.rating %}
            <data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data>
        {% endif %}
        {% if page.rating %}
            <data class="p-worst" hidden>1</data>
            <data class="p-best" hidden>5</data>
        {% endif %}
        {% if page.badges %}
            <div class="badges"><data value="{{ page.badges.size }}">earned {{ page.badges.size }} badges</data></div>
        {% endif %}
        {% if page.isbn %}
            <strong{% if read_status == 'finished' %} hidden{% endif %}><data class="p-status  p-read-status  p-x-read-status" value="{{ read_status }}">{% include_cached content/titleize.html title=read_status %}</data></strong>
        {% endif %}
        {% if page.collection == 'books' and page.date %}
            <data class="p-start-date" value="{{ page.date | date: '%Y-%m-%d' }}" hidden>{{ page.date | date: '%Y-%m-%d' }}</data>
        {% endif %}
        {% if page.collection == 'books' and page.finish %}
            <data class="p-end-date" value="{{ page.finish | date: '%Y-%m-%d' }}" hidden>{{ page.finish | date: '%Y-%m-%d' }}</data>
        {% endif %}
        <data class="u-{{ page.mf_property }}" hidden>{{ page.bookmark_of | default: page.link }}</data>
        <a class="u-author" href="/" hidden tabindex="-1"></a>
    </div>
</li>
