{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
{%- if page.link contains 'amazon' -%}
    {%- assign link_title = page.title | prepend: 'Open ' | append: ' on Amazon' -%}
{%- elsif page.link contains 'spotify' %}
    {%- assign link_title = page.title | prepend: 'Open ' | append: ' on Spotify' -%}
{%- endif -%}
{%- assign rating_base = page.rating | default: 0 | at_least: 0 | at_most: 5 | floor -%}
{%- assign rating_fraction = page.rating | minus: rating_base -%}
{%- assign read_status = 'to-read' -%}
{%- if page.date_end -%}
    {%- assign read_status = 'finished' -%}
{%- elsif page.date_start -%}
    {%- assign read_status = 'reading' -%}
{%- endif -%}
<li role="listitem" class="h-review">
    {% if page.cover %}
        {% if page.link %}
            <a class="cover" href="{{ page.link }}" rel="external" title="{{ link_title }}">
        {% endif %}
        {% include components/cover.html %}
        {% if page.link %}
            </a>
        {% endif %}
    {% endif %}
    <div class="p-read-of  h-cite">
        <h2 class="delta"><cite class="p-name  p-summary">{{ page.title | strip_html }}</cite></h2>
        <div>
            {% assign authors = page.authors | split: ', ' | uniq | sort %}
            {%- for author in authors -%}
                {% unless forloop.first %}, {% endunless %}
                {%- if page.authors_link and page.authors_link[1] -%}
                    <a class="p-author  h-card" href="{{ page.authors_link[forloop.index0] }}" title="" rel="external">
                {%- elsif page.authors_link -%}
                    <a class="p-author  h-card" href="{{ page.authors_link }}" title="" rel="external">
                {%- endif -%}
                {{ author | strip }}
                {%- if page.authors_link -%}
                    </a>
                {%- endif -%}
            {%- endfor -%}
            {%- if page.date -%}
                <span> (<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y' }}</time>)</span>
            {%- endif -%}
        </div>
        {% if page.isbn %}
            <data class="p-uid" value="{{ page.isbn }}" hidden>{{ page.isbn }}</data>
        {% endif %}
    </div>
    {%- assign content = page.content | strip_newlines -%}
    {% if content != empty %}
        <details>
            {% if page.rating %}
                <summary><data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data></summary>
            {% else %}
                <summary>Review</summary>
            {% endif %}
            <div class="e-content">{{ page.content | markdownify }}</div>
        </details>
    {% elsif page.rating %}
        <data class="p-rating  rating  delta" value="{{ page.rating }}">{% for count in (1..rating_base) %}★{% endfor %}{% if rating_fraction == 0.25 %}¼{% elsif rating_fraction == 0.5 %}½{% elsif rating_fraction == 0.75 %}¾{% endif %}</data>
    {% endif %}
    {% if page.rating %}
        <data class="p-worst" hidden>1</data>
        <data class="p-best" hidden>5</data>
    {% endif %}
    {% if page.isbn %}
        <strong><data class="p-status  p-read-status  p-x-read-status" value="{{ read_status }}"{% if read_status == 'finished' %} hidden{% endif %}>{% include_cached content/titleize.html title=read_status %}</data></strong>
    {% endif %}
    {% if page.date_start %}
        <data class="p-start-date" value="{{ page.date_start | date: '%Y-%m-%d' }}" hidden>{{ page.date_start | date: '%Y-%m-%d' }}</data>
    {% endif %}
    {% if page.date_end %}
        <data class="p-end-date" value="{{ page.date_end | date: '%Y-%m-%d' }}" hidden>{{ page.date_end | date: '%Y-%m-%d' }}</data>
    {% endif %}
    <a class="u-author" href="/" hidden tabindex="-1"></a>
</li>
