{%- comment -%}

  Consolidate markup for Content List Items.

{%- endcomment -%}
<li role="listitem">
    <article class="h-entry" role="article">
        <a class="u-url" href="{{ page.url }}">
                {% if page.categories contains 'article' %}
                    {% include content/svg.html type='article' %}
                {% elsif page.categories contains 'link' %}
                    {% include content/svg.html type='link' %}
                {% elsif page.categories contains 'note' %}
                    {% include content/svg.html type='feather' %}
                {% elsif page.categories contains 'pen' %}
                    {% include content/svg.html type='codepen' %}
                {% elsif page.categories contains 'recipe' %}
                    {% include content/svg.html type='article' %}
                {% elsif page.categories contains 'talk' %}
                    {% include content/svg.html type='bullhorn' %}
                {% endif %}
            <h3 class="delta  title  p-name">
                {% if page.categories contains 'note' %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h3>
            <p class="lede  e-content">
                {% if page.lede %}
                    {{ page.lede | strip_html | truncatewords: 20 }}
                {% elsif page.categories contains 'article' %}
                    Shared Articled
                {% elsif page.categories contains 'link' %}
                    Shared Link
                {% elsif page.categories contains 'note' %}
                    {{ page.content | markdownify | strip_html | truncatewords: 20 }}
                {% elsif page.categories contains 'pen' %}
                    Featured Pen
                {% elsif page.categories contains 'recipe' %}
                    Recipe
                {% elsif page.categories contains 'talk' %}
                    Talk{% if page.location %} – Given at {{ page.location }}{% endif %}
                {% endif %}
            </p>
            <time class="date  dt-published{% if page.categories contains 'note' %}  hidden{% endif %}" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </a>
    </article>
</li>
