<dt class="js-lastfm  requires-js" aria-live="off" aria-hidden="true" hidden>
    <h2 class="delta">
        <a class="js-lastfm-label" href="{{ site.urls.lastfm }}" rel="me  external"></a>
    </h2>
</dt>
<dd class="leading-small  js-lastfm  requires-js" aria-live="off" aria-hidden="true" hidden>
    <img class="last-fm__cover  js-lastfm-cover" src=" " alt="">
    <div class="last-fm__track  js-lastfm-track"></div>
    <span class="last-fm__artist  js-lastfm-artist"></span>
    <a class="js-lastfm-link" href="" rel="external">↗</a>
    <data class="js-lastfm-status" value="" hidden></data>
    <time class="js-lastfm-datetime" datetime="" hidden></time>
</dd>
