<div class="meta">
    <time class="date  dt-published{% if page.categories contains 'note' %}  hidden{% endif %}" datetime="{{ page.date | date_to_xmlschema }}">
        <span>published on</span>
        {% if page.url %}
            <a class="u-uid  u-url" href="{{ page.url | absolute_url }}" title="Permalink: {{ page.url | absolute_url }}">
        {% elsif page.shorturl %}
            <a href="{{ page.shorturl | prepend: site.shorturl }}" title="Permalink: {{ page.shorturl | prepend: site.shorturl }}" rel="external  me">
        {% else %}
            <strong>
        {% endif %}
        {{ page.date | date_to_long_string }}
        {% if page.url or page.shorturl %}
            </a>
        {% else %}
            </strong>
        {% endif %}
    </time>
    {% if page.edit_date %}
        <time class="date  dt-updated{% if page.categories contains 'note' %}  hidden{% endif %}" datetime="{{ page.edit_date | date_to_xmlschema }}">
            <span>updated on</span>
            <strong>{{ page.edit_date | date_to_long_string }}</strong>
        </time>
    {% endif %}
    {% if page.tags.size > 0 %}
        {% assign tags_sorted = page.tags | sort %}
        <div class="tags">
            <span>tagged under</span>
            <span>
                {% for tag in tags_sorted %}{% unless forloop.first %}, {% endunless %}<a class="p-category" href="/tags/#{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% endfor %}
            </span>
        </div>
    {% endif %}
    {% if page.categories contains 'article' %}
        {% assign words = site.emptyArray %}
        {% assign open_figure_splits = content | split: '<figure class="highlight">' %}
        {% assign words = words | push: open_figure_splits[0] %}
        {% assign open_figure_splits = open_figure_splits | shift %}
        {% for open_figure_split in open_figure_splits %}
            {% assign close_figure_split = open_figure_split | split: '</figure>' | last %}
            {% assign words = words | push: close_figure_split %}
        {% endfor %}
        {% assign words = words | join: ' ' | number_of_words %}
        <div class="reading-time">
            <span>reading time</span>
            <strong>~{{ words | divided_by: 50 | round | times: 50 }} words</strong>
            {% if words < 250 %}
                <strong hidden aria-hidden="true">~1 min</strong>
            {% else %}
                <strong hidden aria-hidden="true">~{{ words | divided_by: 250 }} mins</strong>
            {% endif %}
        </div>
    {% endif %}
    {% if page.location %}
        <div class="location">
            {% if page.categories contains 'talk' %}
                <span>given at</span>
            {% endif %}
            {% if page.location_url %}
                <a class="p-location" rel="external" href="{{ page.location_url }}">{{ page.location }}</a>
            {% else %}
                <strong class="p-location">{{ page.location }}</strong>
            {% endif %}
        </div>
    {% endif %}
    {% assign syndications = page.syndicate_to | default: page.syndicate-to | default: page.mf-syndicate-to | default: nil %}
    {% if syndications or page.codepen_slug or page.speakerdeck_slug or page.vimeo_slug or page.youtube_slug %}
        <div class="syndication">
            <span>also on</span>
            {% assign syndication_count = 0 %}
            {% for syndication in syndications %}
                {% if syndication contains 'codepen.io' %}
                    {% assign syndication_slug = syndication | split: '/' | last %}
                    {% capture syndication_codepen %}<a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/pen/{{ syndication_slug }}">CodePen</a>
                                                     <small class="strong">
                                                         (<a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/details/{{ syndication_slug }}">Details</a>,
                                                         <a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/full/{{ syndication_slug }}">Full</a>)
                                                     </small>{% endcapture %}
                {% elsif syndication contains 'gist.github.com' %}
                    {% capture syndication_gist %}<a class="u-syndication" rel="syndication" href="{{ syndication }}">GitHub Gist</a>{% endcapture %}
                {% elsif syndication contains 'github.com' or syndication contains 'github.io' %}
                    {% capture syndication_github %}<a class="u-syndication" rel="syndication" href="{{ syndication }}">GitHub</a>{% endcapture %}
                {% elsif syndication contains 'mastodon' %}
                    {% capture syndication_mastodon %}<a class="u-syndication" rel="syndication" href="{{ syndication }}">Mastodon</a>
                                                     <small class="strong">
                                                         (<a rel="external" href="https://mastodon.social/interact/{{ syndication | split: '/' | last }}">Interact</a>)
                                                     </small>{% endcapture %}
                {% elsif syndication contains 'twitter.com' %}
                    {% capture syndication_twitter %}<a class="u-syndication" rel="syndication" href="{{ syndication }}">Twitter</a>
                                                     <small class="strong">
                                                         (<a rel="external" href="https://twitter.com/intent/like?tweet_id={{ syndication | split: '/' | last }}">Like</a>,
                                                         <a rel="external" href="https://twitter.com/intent/tweet?in_reply_to={{ syndication | split: '/' | last }}">Reply</a>,
                                                         <a rel="external" href="https://twitter.com/intent/retweet?tweet_id={{ syndication | split: '/' | last }}">Retweet</a>)
                                                     </small>{% endcapture %}
                {% endif %}
            {% endfor %}
            {% if page.codepen_slug %}
                <a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/pen/{{ page.codepen_slug }}">CodePen</a>
                <small class="strong">
                    (<a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/details/{{ page.codepen_slug }}">Details</a>,
                    <a class="u-syndication" rel="syndication" href="{{ site.urls.codepen }}/full/{{ page.codepen_slug }}">Full</a>)
                </small>
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if page.speakerdeck_slug %}
                {% if syndication_count > 0 %},{% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.speakerdeck_slug | prepend: '/' | prepend: site.urls.speakerdeck }}">Speaker Deck</a>
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if page.vimeo_slug %}
                {% if syndication_count > 0 %},{% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.vimeo_slug | prepend: 'https://vimeo.com/' }}">Vimeo</a>
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if page.youtube_slug %}
                {% if syndication_count > 0 %},{% endif %}
                <a class="u-syndication" rel="syndication" href="{{ page.youtube_slug | prepend: 'https://www.youtube.com/watch?v=' }}">YouTube</a>
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if syndication_codepen %}
                {% if syndication_count > 0 %},{% endif %}
                {{ syndication_codepen }}
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if syndication_gist %}
                {% if syndication_count > 0 %},{% endif %}
                {{ syndication_gist }}
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if syndication_github %}
                {% if syndication_count > 0 %},{% endif %}
                {{ syndication_github }}
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if syndication_twitter %}
                {% if syndication_count > 0 %},{% endif %}
                {{ syndication_twitter }}
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
            {% if syndication_mastodon %}
                {% if syndication_count > 0 %},{% endif %}
                {{ syndication_mastodon }}
                {% assign syndication_count = syndication_count | plus: 1 %}
            {% endif %}
        </div>
    {% endif %}
    {% assign in_reply_to = page.in_reply_to | default: page.in-reply-to | default: page.mf-in-reply-to | default: nil %}
    {% if in_reply_to %}
        <div class="in-reply-to">
            {% if page.rsvp %}
                <span class="p-rsvp  hidden">{{ page.rsvp }}</span>
                <span>responded</span> <strong>{{ page.rsvp | capitalize }}</strong> <span>to</span>
            {% else %}
                <span>in reply to</span>
            {% endif %}
            {% for reply in in_reply_to %}
                {% if reply contains 'mastodon.social' %}
                    <a class="h-cite  u-in-reply-to" rel="external" href="{{ reply }}">a Toot</a>
                {% elsif reply contains 'twitter.com' %}
                    {% if reply contains '/status/' %}
                        <a class="h-cite  u-in-reply-to" rel="external" href="{{ reply }}">@{{ reply | split: '/status/' | first | split: 'twitter.com/' | last }}</a>
                    {% else %}
                        <a class="h-cite  u-in-reply-to" rel="external" href="{{ reply }}">a Tweet</a>
                    {% endif %}
                {% elsif reply contains 'hwclondon.co.uk' %}
                    <a class="h-cite  u-in-reply-to" rel="external" href="{{ reply }}">Homebrew Website Club London</a>
                {% else %}
                    <strong>{{ reply }}</strong>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if page.categories contains 'pen' and page.codepen_featured == true %}
        <div class="featured">
            <span>featured on</span>
            <a rel="external" href="https://codepen.io/collection/hfqlg/">the CodePen Homepage</a>
        </div>
    {% endif %}
</div>
