<nav class="nav-tertiary" role="navigation">
    <ul class="nav-tertiary-list">
    {% for link in site.data.nav-tertiary %}
        {% capture link_slug %}{{ link.title | slugify | prepend:"url_" }}{% endcapture %}
        {% if link.url %}
            {% assign url = link.url %}
        {% else if site.link_slug != null or site.link_slug != empty or site.link_slug != false %}
            {% assign url = site.link_slug %}
        {% endif %}
        <li>
            <a{% if link.rel %} rel="{{ link.rel }}"{% endif %} class="icon  link--{{ link.title | slugify }}"{% if url %} href="{{ url | liquify }}"{% endif %} title="{{ link.title }}">
                <svg><use xlink:href="#svg--{{ link.title | slugify }}" /></svg>
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
