<nav class="nav-primary" role="navigation">
    <ol class="nav-primary-list" role="list">
    {% for item in site.data.nav_primary %}
        <li class="nav-primary--{{ item.title | slugify }}" role="listitem">
            <a{% if item.rel %} rel="{{ item.rel }}"{% endif %} href="{{ item.link }}">{{ item.title }}</a>
        </li>
    {% endfor %}
    </ol>
</nav>
