{%- if input.type = 'beer' -%}b{%- elsif input.type = 'like' -%}l{%- elsif input.type = 'post' -%}t{%- endif -%}
{%- assign n = include.input | date: '%s' | divided_by: 86400 -%}
{%- assign s = "" -%}
{%- assign m = "0123456789ABCDEFGHJKLMNPQRSTUVWXYZ_abcdefghijkmnopqrstuvwxyz" | split: "" -%}
{%- if n == empty or n == 0 -%}0{%- endif -%}
{%- for i in (1..9999) -%}
    {%- assign d = n | modulo: 60 -%}
    {%- assign s = m[d] | append: s -%}
    {%- assign n = n | minus: d | divided_by: 60 -%}
    {%- if n <= 0 -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}{{ s }}
