{%- assign all_posts = site.posts | concat: site.beer | concat: site.music -%}
{%- assign yesteryear_posts = site.emptyArray -%}
{%- assign year = site.time | date: '%Y' -%}
{%- assign yesteryear = site.time | date: '%Y' | minus: 1 -%}
{%- assign today_yesteryear = site.time | date_to_long_string | replace: year, yesteryear -%}
{% for page in all_posts %}
    {% assign check_today = page.date | date_to_long_string %}
    {% if check_today == today_yesteryear %}
        {% assign yesteryear_posts = yesteryear_posts | push: page %}
    {% endif %}
{% endfor %}

{% if yesteryear_posts.size > 0 %}
    <h2 class="gamma">On This Day</h2>

    <section class="on-this-day">

        <p>I posted this one year ago!</p>

        <ol class="content-list  h-feed" role="list">
            {% for page in yesteryear_posts %}
                {% include components/item-content-list.html %}
            {% endfor %}
        </ol>

    </section>
{% endif %}
