{%- assign on_this_day_posts = site.emptyArray -%}
{%- assign day = site.time | date: '%d' -%}
{%- assign month = site.time | date: '%m' -%}
{%- assign year = site.time | date: '%Y' -%}
{%- for page in include.posts -%}
    {%- assign check_day = page.date | date: '%d' -%}
    {%- assign check_month = page.date | date: '%m' -%}
    {%- assign check_year = page.date | date: '%Y' -%}
    {%- if check_day == day and check_month == month and check_year != year -%}
        {%- assign on_this_day_posts = on_this_day_posts | push: page -%}
    {%- endif -%}
{%- endfor -%}

{% if on_this_day_posts.size > 0 %}
    <h2 id="on-this-day" class="gamma">On This Day</h2>
    <section class="on-this-day">
        <ol class="content-list" role="list">
            {% for page in on_this_day_posts %}
                {% include components/item-content-list.html relative_year=true strip_h=true %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
