{% if include.photo %}
    {%- assign links = site.emptyArray -%}
    {%- for photo in include.photo -%}
        {%- assign source = photo.link | default: photo -%}
        {%- if source.first -%}
            {%- for link in source -%}
                {%- assign links = links | push: link -%}
            {%- endfor -%}
        {%- else -%}
            {%- assign links = links | push: source -%}
        {%- endif -%}
        {%- assign links = links | sort -%}
        {%- assign alt = photo.alt | default: '' -%}
        <figure class="media">
            <img alt="{{ alt }}" class="u-photo"
                src="{{ links | first }}"{% if source.first %}
                srcset="{% for link in links %}{{ link }} {% if link contains '@' or photo contains '@' %}{{ link | split: '@' | last | split: '.' | first }}{% else %}1x{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}"{% endif %}>
        </figure>
    {% endfor %}
{% endif %}
