{%- assign todays_rsvps = site.emptyArray -%}
{%- assign upcoming_rsvps = site.emptyArray -%}
{%- assign day = site.time | date: '%d' -%}
{%- assign month = site.time | date: '%m' -%}
{%- assign year = site.time | date: '%Y' -%}
{%- for page in include.posts -%}
    {%- if page.rsvp.value != 'no' -%}
        {%- assign start_day = page.rsvp.date | date: '%d' -%}
        {%- assign start_month = page.rsvp.date | date: '%m' -%}
        {%- assign start_year = page.rsvp.date | date: '%Y' -%}
        {%- assign finish_day = page.rsvp.finish | default: page.rsvp.date | date: '%d' -%}
        {%- assign finish_month = page.rsvp.finish | default: page.rsvp.date | date: '%m' -%}
        {%- assign finish_year = page.rsvp.finish | default: page.rsvp.date | date: '%Y' -%}
        {%- if start_year == year and start_month == month and start_day == day -%}
            {%- assign todays_rsvps = todays_rsvps | push: page -%}
        {%- elsif finish_year == year and finish_month == month and finish_day == day -%}
            {%- assign todays_rsvps = todays_rsvps | push: page -%}
        {%- elsif start_year > year -%}
            {%- assign upcoming_rsvps = upcoming_rsvps | push: page -%}
        {%- elsif start_year == year and start_month > month -%}
            {%- assign upcoming_rsvps = upcoming_rsvps | push: page -%}
        {%- elsif start_year == year and start_month == month and start_day >= day -%}
            {%- assign upcoming_rsvps = upcoming_rsvps | push: page -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{% if todays_rsvps.size > 0 %}
    <section class="todays-rsvps" aria-label="Today's RSVPs">
        {% include content/heading.liquid title='Events I’m attending today' id='todays-rsvps' %}
                <ol class="deck" role="list">
            {% for page in todays_rsvps %}
                {% include components/item_deck.liquid strip_h=true %}
            {% endfor %}
        </ol>
    </section>
{% endif %}

{% if upcoming_rsvps.size > 0 %}
    <section class="upcoming-rsvps" aria-label="Upcoming RSVPs">
        {% include content/heading.liquid title='Upcoming events I’m attending' id='upcoming-rsvps' %}
                <ol class="deck" role="list">
            {% for page in upcoming_rsvps %}
                {% include components/item_deck.liquid strip_h=true %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
