<!-- </textarea> --><!-- '"´ -->
<form class="search-form  js-search-form" id="search" name="search" method="get" action="/search/" role="search">
    <label class="search-label  hidden" id="search-label" for="search-input">Search for pages and posts</label>
    <input type="search" class="search-input  js-search-input" id="search-input" name="query" value="" maxlength="30" aria-labelledby="search-label" aria-required="true" required aria-disabled="true" disabled>
    <input type="submit" class="button  search-submit  js-search-submit" id="search-button" value="Search" role="button" aria-disabled="true" disabled>
</form>
<noscript>Please enable JavaScript to search.</noscript>

{% raw %}
<template class="search-template--page">
    <li role="listitem">
        <article role="article" itemscope itemtype="https://schema.org/Article">
            <a href="{{ url }}">
                <h3 class="delta  title" itemprop="name">{{ title }}</h3>
                <p class="lede" itemprop="description">{{ lede }}</p>
            </a>
        </article>
    </li>
</template>
{% endraw %}

{% raw %}
<template class="search-template--post">
    <li role="listitem">
        <article role="article" itemscope itemtype="https://schema.org/TechArticle">
            <a href="{{ url }}">
                <svg class="icon  icon--{{ icon }}" role="img"><use xlink:href="/images/sprites.svg#svg--{{ icon }}" /></svg>
                <h3 class="delta  title" itemprop="name">{{ title }}</h3>
                <p class="lede" itemprop="description">{{ lede }}</p>
                <time class="date{{ date_class }}" datetime="{{ date }}">{{ date_friendly }}</time>
            </a>
        </article>
    </li>
</template>
{% endraw %}
