{% raw %}
<template class="search-template--page">
    <li role="listitem">
        <article role="article">
            <a href="#">
                <h3 class="delta  title">{{ title }}</h3>
                <p class="lede">{{ lede }}</p>
            </a>
        </article>
    </li>
</template>
<template class="search-template--post">
    <li role="listitem">
        <article role="article">
            <a href="#">
                <svg class="icon  icon--{{ icon }}" role="img"><use xlink:href="/images/sprites.svg#svg--{{ icon }}" /></svg>
                <h3 class="delta  title">{{ title }}</h3>
                <p class="lede">{{ lede }}</p>
                <time class="date  {{ date_class }}" datetime="{{ date_full }}">{{ date_friendly }}</time>
            </a>
        </article>
    </li>
</template>
{% endraw %}
