<template class="search-template--page">
    <li role="listitem">
        <article role="article" itemscope itemtype="https://schema.org/Article">
            <a href="URL">
                <h3 class="delta  title" itemprop="name">TITLE</h3>
                <p class="lede" itemprop="description">LEDE</p>
            </a>
        </article>
    </li>
</template>

<template class="search-template--post">
    <li role="listitem">
        <article role="article" itemscope itemtype="https://schema.org/TechArticle">
            <a href="URL">
                <svg class="icon  icon--ICON" role="img"><use xlink:href="/images/sprites.svg#svg--ICON" /></svg>
                <h3 class="delta  title" itemprop="name">TITLE</h3>
                <p class="lede" itemprop="description">LEDE</p>
                <time class="date  DATE_CLASS" datetime="DATE">DATE_FRIENDLY</time>
            </a>
        </article>
    </li>
</template>
