<!-- </textarea> --><!-- '"´ -->
<form class="search-form  js-search-form" id="search" method="get" action="/search/" role="search">
    <label class="search-label  visually-hidden" id="search-label" for="search-input">Search for pages and posts</label>
    <input type="search" class="search-input  js-search-input" id="search-input" name="query" value="" placeholder="Search the website" maxlength="30" aria-labelledby="search-label" aria-required="true" required aria-disabled="true" disabled>
    <button type="submit" class="search-submit  js-search-submit" id="search-button" role="button" aria-controls="search-results" aria-disabled="true" disabled>Search</button>
</form>
<noscript>Please enable JavaScript to search.</noscript>
