{% comment %}

  Consolidate markup for Small Content List Items.

{% endcomment %}
<li role="listitem">
    <a href="{{ page.url }}">
        {% if page.categories contains 'article' %}
            {% include content/svg.html type='article' %}
        {% elsif page.categories contains 'link' %}
            {% include content/svg.html type='link' %}
        {% elsif page.categories contains 'pen' %}
            {% include content/svg.html type='codepen' %}
        {% elsif page.categories contains 'talk' %}
            {% include content/svg.html type='bullhorn' %}
        {% endif %}
        <h4 class="title">{{ page.title }}</h4>
        {% if page.lede %}
            <p class="lede">{{ page.lede | truncatewords: 20 }}</p>
        {% elsif page.categories contains 'link' %}
            <p class="lede"><em>Shared Link</em></p>
        {% elsif page.categories contains 'pen' %}
            <p class="lede"><em>Featured Pen</em></p>
        {% elsif page.categories contains 'talk' and page.location %}
            <p class="lede"><em>Talk – Given at {{ page.location }}.</em></p>
        {% endif %}
        <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d %B, %Y' }}</time>
    </a>
</li>
