{%- assign starting_month = include.starting_month -%}
{%- assign ending_month = include.ending_month -%}
{% for tracking_year in (include.starting_year..include.ending_year) %}
    {%- unless forloop.first %}{%- assign starting_month = 1 -%}{% endunless -%}
    {%- assign outside_first = forloop.first -%}
    {% for tracking_month in (starting_month..12) %}
        {%- if tracking_year == include.ending_year and tracking_month > ending_month -%}
            {% break %}
        {%- else -%}
            {%- unless outside_first and forloop.first -%},{%- endunless -%}
        {%- endif -%}
        {%- assign count = 0 -%}
        {%- for page in include.target reversed -%}
            {%- assign year = page.date_end | default: page.date | date: '%Y' | plus: 0 -%}
            {%- assign month = page.date_end | default: page.date | date: '%-m' | plus: 0 -%}
            {%- if year == tracking_year and month == tracking_month -%}
                {%- assign count = count | plus: 1 -%}
            {%- endif -%}
        {%- endfor -%}
        {{ count | at_most: limit_y }}
    {% endfor %}
{% endfor %}
