{%- assign starting_week = include.starting_week -%}
{%- assign ending_week = include.ending_week -%}
{% for tracking_year in (include.starting_year..include.ending_year) %}
    {%- unless forloop.first %}{%- assign starting_week = 1 -%}{% endunless -%}
    {%- assign outside_first = forloop.first -%}
    {% assign last_week_of_the_year = "December 31 " | append: tracking_year | date: '%W' %}
    {% for tracking_week in (starting_week..last_week_of_the_year) %}
        {%- if tracking_year == include.ending_year and tracking_week > ending_week -%}
            {% break %}
        {%- else -%}
            {%- unless outside_first and forloop.first -%},{%- endunless -%}
        {%- endif -%}
        {%- assign count = 0 -%}
        {%- for page in include.target reversed -%}
            {%- assign year = page.finish | default: page.date | date: '%Y' | plus: 0 -%}
            {%- assign week = page.finish | default: page.date | date: '%-W' | plus: 0 -%}
            {%- if year == tracking_year and week == tracking_week -%}
                {%- assign count = count | plus: 1 -%}
            {%- endif -%}
        {%- endfor -%}
        {{ count | at_most: limit_y }}
    {% endfor %}
{% endfor %}
