{%- assign limit_x = site.sparklines.limit_x -%}
{%- assign limit_y = site.sparklines.limit_y -%}
{%- assign ending_week = site.time | date: '%-W' | plus: 0 -%}
{%- assign ending_year = site.time | date: '%Y' | plus: 0 -%}
{%- assign starting_week = ending_week -%}
{%- assign starting_year = ending_year -%}
{%- for i in (1..limit_x) -%}
    {%- assign starting_week = starting_week | minus: 1 -%}
    {%- if starting_week < 0 -%}
        {%- assign starting_year = starting_year | minus: 1 -%}
        {%- assign last_week_of_the_year = "December 31 " | append: starting_year | date: '%W' -%}
        {%- assign starting_week = last_week_of_the_year -%}
    {%- endif -%}
{%- endfor -%}
{%- for tracking_year in (starting_year..ending_year) -%}
    {%- unless forloop.first %}{%- assign starting_week = 1 -%}{% endunless -%}
    {%- assign outside_first = forloop.first -%}
    {%- assign last_week_of_the_year = "December 31 " | append: tracking_year | date: '%W' -%}
    {%- for tracking_week in (starting_week..last_week_of_the_year) -%}
        {%- if tracking_year == ending_year and tracking_week > ending_week -%}
            {% break %}
        {%- else -%}
            {%- unless outside_first and forloop.first -%},{%- endunless -%}
        {%- endif -%}
        {%- assign count = 0 -%}
        {%- for page in include.target reversed -%}
            {%- assign year = page.finish | default: page.date | date: '%Y' | plus: 0 -%}
            {%- assign week = page.finish | default: page.date | date: '%-W' | plus: 0 -%}
            {%- if year == tracking_year and week == tracking_week -%}
                {%- assign count = count | plus: 1 -%}
            {%- endif -%}
        {%- endfor -%}
        {{ count | at_most: limit_y }}
    {%- endfor -%}
{%- endfor -%}
