<h1 class="title{% if page.page_class contains 'success' %}  title--success{% elsif page.page_class contains 'error' %}  title--error{% endif %}" id="article">
    {% unless page.reacji or page.titlefree %}
        <span class="p-name">
    {% endunless %}
    {% if page.category == 'like' %}
        Liked: {{ link_title }}
    {% elsif page.titlefree %}
        {{ page.date | date: '%A, %d %B %Y' }}
    {% else %}
        {{ page.title | strip_html }}
    {% endif %}
    {% unless page.reacji or page.titlefree %}
        </span>
    {% endunless %}
    {% if page.sparkline %}
        {% include content/sparkline.liquid title=page.sparkline values=page.category %}
    {% endif %}
</h1>
