{%- assign upcoming_rsvps = site.emptyArray -%}
{%- assign day = site.time | date: '%d' -%}
{%- assign month = site.time | date: '%m' -%}
{%- assign year = site.time | date: '%Y' -%}
{%- for page in include.posts -%}
    {%- if page.rsvp.going -%}
        {%- assign check_day = page.rsvp.date | date: '%d' -%}
        {%- assign check_month = page.rsvp.date | date: '%m' -%}
        {%- assign check_year = page.rsvp.date | date: '%Y' -%}
        {%- if check_year > year or (check_year == year and check_month > month) or (check_year == year and check_month == month and check_day >= day) -%}
            {%- assign upcoming_rsvps = upcoming_rsvps | push: page -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{% if upcoming_rsvps.size > 0 %}
    <h2 id="upcoming-rsvps" class="gamma">Upcoming Events</h2>
    <section class="upcoming-rsvps">
        <ol class="content-list" role="list">
            {% for page in upcoming_rsvps %}
                {% include components/item_content_list.liquid strip_h=true %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
