<div class="webmentions__responses  js-webmentions-responses" aria-hidden="true">
    <h2 class="gamma  js-webmention-count" data-webmentions-url="{{ page.url | absolute_url }}">Responses</h2>
    <dl class="webmentions__list" aria-live="polite">
        <dt class="js-webmentions-likes-label" aria-hidden="true">Likes:</dt>
        <dd class="js-webmentions-likes-content" aria-hidden="true"></dd>
        <dt class="js-webmentions-reposts-label" aria-hidden="true">Reposts:</dt>
        <dd class="js-webmentions-reposts-content" aria-hidden="true"></dd>
        <dt class="js-webmentions-replies-label" aria-hidden="true">Replies:</dt>
        <dd aria-hidden="true">
            <ol class="webmentions__list__replies  default-list  js-webmentions-replies-content"></ol>
        </dd>
    </dl>
    <noscript>Please enable JavaScript to view Webmentions.</noscript>
</div>
