{% raw %}
<template class="webmentions-template-default">
    <a href="{{ author_url }}" id="webmentions-{{ id }}" class="webmentions__response" data-type="{{ type }}" rel="external">{{ author }}</a>
</template>
<template class="webmentions-template-reply">
    <li id="webmentions-{{ id }}" class="webmentions__response" data-type="{{ type }}">
        <div>{{ content }} <a href="{{ response_url }}" rel="external">↗</a></div>
        <div>by <a href="{{ author_url }}" rel="external">{{ author }}</a> {{ date }}</div>
    </li>
</template>
{% endraw %}
