{% if site.related_posts %}
    <div class="widget  widget--related-articles">
        <h3 id="related-articles" class="widget-title">
            <a href="/articles">Related Articles</a>
            {% include content/heading-anchor.html id='related-articles' %}
        </h3>
        <ol class="small-articles-list" role="list">
            {% for page in site.related_posts limit: 2 %}
                {% include components/small-articles-list-item.html %}
            {% endfor %}
        </ol>
        <a class="widget-featured-anchor" href="/articles">All Articles</a>
    </div>
{% endif %}
