{% if site.related_posts %}
    <div class="widget  widget--related-articles">
        <h3 class="widget-title">
            <a href="/articles">Related Articles</a>
        </h3>
        <ol class="small-articles-list" role="list">
            {% for post in site.related_posts limit: 2 %}
                {% include components/small-articles-list-item.html %}
            {% endfor %}
        </ol>
        <a class="widget-featured-anchor" href="/articles">All Articles</a>
    </div>
{% endif %}
