<div class="widget  widget--search">
    <h3 id="search" class="widget-title">
        <a href="/search">Search</a>
        {% include content/heading-anchor.html id='search' %}
    </h3>
    <form class="search-form  js-search-form" method="get" action="/search" role="search">
        <label class="search-label  visually-hidden" for="search-input">Search for pages, articles, and pens</label>
        <input class="search-input  js-search-input" type="search" name="query" maxlength="30" value="" placeholder="Search the website" aria-required="true" aria-diabled="true" disabled required>
        <button class="button--small  search-submit  js-search-submit" type="submit" title="Submit" aria-label="Submit" aria-diabled="true" disabled>
            {% include content/svg.html type='search' %}
        </button>
    </form>
    <noscript>Please enable JavaScript to search.</noscript>
</div>
