<div class="widget  widget--shared-links">
    <h3 id="shared-links" class="widget-title">
        <a href="/links">Shared Links</a>
        {% include content/heading-anchor.html id='shared-links' tabindex='-1' %}
    </h3>
    <ol class="small-articles-list" role="list">
        {% for page in site.categories.link limit: 2 %}
            {% include components/small-articles-list-item.html %}
        {% endfor %}
    </ol>
    <a class="widget-featured-anchor" href="/links">All Shared Links</a>
</div>
