{%- if page.previous or page.next -%}
    <section class="widget  widget--browse-posts">
        {%- if page.previous -%}
            <a class="widget-previous-anchor" href="{{ page.previous.url }}">
                {%- if page.previous.categories contains 'note' -%}
                    Note from {{ page.previous.date | date: '%A, %d %B %Y' }}
                {%- else -%}
                    {{ page.previous.title }}
                {%- endif -%}
            </a>
        {%- endif -%}
        {%- if page.next -%}
            <a class="widget-next-anchor" href="{{ page.next.url }}">
                {%- if page.next.categories contains 'note' -%}
                    Note on {{ page.next.date | date: '%A, %d %B %Y' }}
                {%- else -%}
                    {{ page.next.title }}
                {%- endif -%}
            </a>
        {%- endif -%}
    </section>
{%- endif -%}
