<section class="widget  widget--latest-articles">
    <h3 class="widget-title" id="latest-articles">
        <a href="/articles">Latest Articles</a>
        {% include content/fragment-anchor.html id='latest-articles' tabindex='-1' %}
    </h3>
    <ol class="small-content-list" role="list">
        {% assign max_list_count = 2 %}
        {% assign current_list_count = 0 %}
        {% assign current_path = page.path %}
        {% for page in site.categories.article %}
            {% unless current_list_count == max_list_count %}
                {% unless page.path == current_path %}
                    {% assign current_list_count = current_list_count | plus: 1 %}
                    {% include components/small-content-list-item.html %}
                {% endunless %}
            {% endunless %}
        {% endfor %}
    </ol>
    <a class="widget-featured-anchor" href="/articles">All Articles</a>
</section>
