<section class="widget  widget--latest-links">
    {% include content/heading.html title='Latest Links' href='/links/' id='' %}
    <ol class="content-list" role="list">
        {% assign max_list_count = 2 %}
        {% assign current_list_count = 0 %}
        {% assign current_path = page.path %}
        {% for page in site.categories.link %}
            {% unless current_list_count == max_list_count %}
                {% unless page.path == current_path %}
                    {% assign current_list_count = current_list_count | plus: 1 %}
                    {% include components/item-content-list.html %}
                {% endunless %}
            {% endunless %}
        {% endfor %}
    </ol>
    <a class="widget-related-anchor" href="/links/">All Shared Links</a>
</section>
