<section class="widget  widget--latest-pens">
    {% include content/heading.html title='Latest Pens' href='/pens/' %}
    <ol class="content-list" role="list">
        {% assign max_list_count = 2 %}
        {% assign current_list_count = 0 %}
        {% assign current_path = page.path %}
        {% for page in site.categories.pen %}
            {% unless current_list_count == max_list_count %}
                {% unless page.path == current_path %}
                    {% assign current_list_count = current_list_count | plus: 1 %}
                    {% include components/content-list-item.html %}
                {% endunless %}
            {% endunless %}
        {% endfor %}
    </ol>
    <a class="widget-related-anchor" href="/pens/">All Featured Pens</a>
</section>
