////
/// Typography (Global)
/// @group base
////

html {
    color: $color-text;
    font: 400 normal #{$base-font-size}/#{$base-line-height} $font-stack-primary;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {

}

p {
    margin: 0 0 $spacing-medium;
    &:last-child {
        margin-bottom: 0;
    }
    &:empty {
        @extend .removed;
    }
}

a {
    &:link {

    }
    &:visited {

    }
    &:hover,
    &:focus,
    &:active {

    }
    span:not([class]):not([itemprop]) {
        @extend .hidden;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        position: relative;
        &:last-child {

        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    ol:not([class]),
    ul:not([class]),
    .default-list {

    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &:before {
            content: counter(ordered-list) ".";
        }
    }
}
ul:not([class]) li:before,
ul.default-list li:before {
    content: "\2022";
}
dl {
    width: 100%;
    overflow: hidden;
    &:not(:last-child) {

    }
    dt {
        width: auto;
        min-width: 10rem;
        float: left;
        clear: left;
        @include media("<=small") {
            float: none;
        }
    }
    dd {
        width: $wrapper-width-large;
        display: table-cell;
        margin: 0;
        overflow: hidden;
        vertical-align: top;
        &:not(:last-child) {

        }
        @include media("<=small") {
            width: auto;
            display: block;
        }
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {

    img,
    svg {

    }
    a:link,
    a:visited,
    figcaption {

    }
}

abbr[title],
blockquote,
cite,
dfn[title] {

}
abbr[title],
dfn[title] {
    cursor: help;
}
ins {
    text-decoration: none;
}

q {
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    p {
        &:last-of-type {
            margin-bottom: 0 !important;
            &:after {
                content: "\201C";
                padding-left: .1875rem;
            }
        }
        &:before {
            content: "\201D";
            padding-right: .1875rem;
        }
    }
    cite {
        display: block;
        &:before {
            content: "\2014\00a0";
        }
    }
}
/*blockquote*/.twitter-tweet {

}

hr {

}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: none;
    overflow-x: hidden;
}
iframe {

}

::selection {

}
