////
/// Typography (Code)
/// @group base
////

code,
kbd,
samp,
var,
.monospace {
}
    p code,
    ol code,
    ul code,
    ins,
    kbd,
    mark,
    samp,
    var {
        // force text to wrap inside the container
        word-wrap: break-word;
    }

pre {
    // disallow text from wrapping inside the container
    overflow-x: auto;
    overflow-y: hidden;
    code {
        min-width: 100%;
        display: block;
    }
}
