////
/// Typography (Code)
/// @group base
////

code,
kbd,
samp,
var,
.monospace {
    font-family: $font-stack-code;
    font-size: .875rem;
    line-height: 1.429;
}
    p code,
    ol code,
    ul code,
    ins,
    kbd,
    mark,
    samp,
    var {
        background-color: rgba($color-brand, map-get($opacities, 'medium'));
        padding: .25rem;
        // force text to wrap inside the container
        word-wrap: break-word;
        border-radius: $border-radius-thin;
    }

pre {
    // override `normalize.css`
    margin-top: 0;
    margin-bottom: $spacing-medium;
    [data-lang] & {
        margin-bottom: 0;
        text-align: left;
    }
    &:not(.codepen) {
        @extend %rounded;
        background-color: $color-black-low;
        padding: 1.5rem 1.5rem 1rem;
        // disallow text from wrapping inside the container
        overflow-x: auto;
        overflow-y: hidden;
        line-height: 1.5;
        code {
            min-width: 100%;
            display: block;
        }
    }
}
