////
/// Variables (Global)
/// @group utils
////


/// @type Length
$wrapper-padding: 1.25rem !default;
/// @type Length
$wrapper-width-small: 500px !default;
/// @type Length
$wrapper-width-medium: 768px !default;
/// @type Length
$wrapper-width-large: 1140px !default;
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
$breakpoints: (
    "small":  $wrapper-width-small,
    "medium": $wrapper-width-medium,
    "large":  $wrapper-width-large
) !default;


/// @type Length
$spacing-small: ($wrapper-padding / 2) !default;
/// @type Length
$spacing-medium: $wrapper-padding !default;
/// @type Length
$spacing-large: 2.250rem !default;
/// @type Length
$border-default: 0.250rem !default;
/// half of $border-default
/// @type Length
$border-thin: ($border-default / 2) !default;
/// @type Length
$border-radius-default: 0.375rem !default;
/// same length as $border-default
/// @type Length
$border-radius-thin: $border-default !default;
/// @type Length
$aside-width: 15.875rem !default;


/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
$opacities: (
    'low':    0.05,
    'medium': 0.10,
    'high':   0.25,
    'ultra':  0.70
) !default;


/// @type Color
$color-brand:  #5f8aa6 !default;
/// @type Color
$color-text: #4f4f4f !default;
/// @type Color
$color-text-alt: #737373 !default;
/// @type Color
$color-text-light: #dddddd !default;
/// @type Color
$color-white: #f9f9f9 !default;
/// @type Color
$color-black: #060606 !default;
/// @type Color
$color-black-low: rgba($color-black, map_get($opacities, 'low')) !default;
/// @type Color
$color-black-medium: rgba($color-black, map_get($opacities, 'medium')) !default;


/// @type Length
$base-font-size: 16px !default;
/// @type Number
$base-line-height: 1.875 !default;
/// @type List
$font-stack-primary: "ff-meta-serif-web-pro", Georgia, serif !default;
/// @type List
$font-stack-secondary: "proxima-nova", sans-serif !default;
/// @type List
$font-stack-heading: "league-gothic", Impact, sans-serif !default;


/// @type Length
/// @see {mixin} transition
$transition-time: 0.2s !default;
/// @type String
/// @see {mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {function} z-index
$z-indexes: (
    'below':  -1,
    'default': 1,
    'above':   2
) !default;
