/*------------------------------------*\
    #COMPONENTS - Article
\*------------------------------------*/

.article-banner {
    @extend %rounded;
    width: 810px;
    margin-bottom: 1rem;
    @include media("<=small") {
        width: 500px;
    }
}
.article-title,
.page-title,
.site-tagline {
    margin-bottom: $default-padding;
}
.site-lede {
    max-width: 24em;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.article-lede,
.page-lede {
    margin-bottom: $default-margin;
    font-size: 1.25rem;
    line-height: 1.5;
}
.page-lede,
.site-lede,
.article-lede {
    @include media(">medium") {
        margin-top: -0.5rem; // align text to the `aside`
    }
}
.article-lede {
    .article-banner + & {
        margin-top: 0;
    }
}
.pens-lede {
    padding-bottom: $default-margin;
    border-bottom: ($default-border / 2) solid $black-medium;
}
.article-title,
.article-date,
.article-lede {
    @include media("<=medium") {
        text-align: left;
    }
}
.article-title {
    width: 100%;
    .article-title-link {
        @include transition(border-color);
        @include will-change(color, border-bottom-color);
        display: inline-block;
        padding: 0 .5rem;
        border-bottom: .1825rem solid transparent;
        margin-left: -0.5rem;
        &:hover,
        &:focus,
        &:active {
            color: $text-color;
            border-bottom-color: $brand;
            text-decoration: none;
        }
    }
}
.articles-list .article-date {
    margin-bottom: .75rem;
    &:before {
        content: "\2013\0020";
        color: $text-color-alt;
    }
}
.article-edit {
    @extend %rounded;
    background-color: rgba($brand, $opacity-low);
    padding: 1rem;
    margin: 0 $default-padding $default-margin;
    font-style: italic;
    line-height: 1.5;
}
