////
/// Aside Widgets
/// @group components
////

.widget-search,
.widget-related-articles,
.widget-featured-pens {
    @include media(">medium") {
        margin-top: $spacing-medium;
    }
}
.widget-search-title,
.widget-related-articles-title,
.widget-featured-pens-title {
    margin-top: 0;
}
.widget-featured-pens-link {
    width: 100%;
    display: block;
    margin-top: $spacing-small;
    font-weight: 600;
    text-align: right;
    @include media("<=medium") {
        margin-bottom: $spacing-medium;
        text-align: center;
    }
    &:after {
        content: "\00a0\2192";
    }
}
