////
/// Footer
/// @group components
////

.copyright,
.nav-tertiary {
    overflow: hidden;
    @include media("<=medium") {
        width: 100%;
        text-align: center;
    }
}
.copyright {
    @include media(">medium") {
        float: left;
    }
}
.footer-home-link,
.footer-copyright-link,
.footer-style-guide-link {
    display: inline-block;
    white-space: nowrap;
}
.footer-home-link {
    @include transition(transform);
    @include will-change(transform);
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    overflow: hidden;
    vertical-align: middle;
    text-indent: 100%;
    white-space: nowrap;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
    &:active {
        transform: translateY(.143rem);
    }
    @include media("<=small") {
        margin-right: .5rem;
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
.footer-copyright-link,
.footer-style-guide-link {
    &:link,
    &:visited {
        color: $color-text-light;
    }
}
.footer-style-guide-link {
    @include media("<=small") {
        display: block;
    }
}
.footer-spacer {
    color: $color-text-alt;
    @include media("<=small") {
        display: none;
    }
}
