////
/// Icons
/// @group components
////

/*a*/.icon {
    @include transition;
    @include will-change(opacity, transform);
    opacity: map-get($opacities, 'ultra');
    height: $icon-size;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    &:hover,
    &:focus,
    &:active {
        opacity: 1;
        text-decoration: none;
    }
    &:active {
        transform: translateY(.125rem);
    }
    @each $color-brand in $color-brands {
        $name:  nth($color-brand, 1);
        $ratio: nth($color-brand, 3);
        &.icon--#{$name},
        &.link--#{$name} {
            width: ($ratio * $icon-size);
        }
    }
    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
