/*------------------------------------*\
    #COMPONENTS - Search
\*------------------------------------*/

.main-search,
.aside-search {
    position: relative;
    overflow: hidden;
}
.main-search {
    max-width: $small-wrapper-width;
    margin-bottom: $default-margin;
}
    .search-results {
        margin-top: $default-margin;
    }
.search-label,
.search-submit {
    position: absolute;
    top: 0;
    left: 100%;
}
.search-input {
    box-sizing: inherit !important;
    width: 100%;
    padding: .5rem;
    border: ($default-border / 2) solid $text-color-light;
    outline: none;
    font-family: $secondary-font-stack;
    @include transition(background-color $transition-time $transition-function,
                        border-color     $transition-time $transition-function);
    @include will-change(background-color, border-color);
    &:focus {
        background-color: transparent;
        border-color: $brand;
    }
    &[disabled] {
        background-color: darken($text-color-light, 5%);
    }
}