////
/// Search
/// @group components
////

.search-main {
    max-width: $wrapper-width-small;
    margin-bottom: $spacing-medium;
}
    .search-results {
        margin-top: $spacing-medium;
    }

.search-form {
    position: relative;
    // width of button + spacing
    padding-right: (2.75rem + $spacing-small);
}

.search-input {
    @include transition(background-color, border-color);
    @include will-change(background-color, border-color);
    box-sizing: inherit !important;
    width: 100%;
    padding: .5rem;
    border: $border-thin solid $color-text-light;
    outline: none;
    font-family: $font-stack-secondary;
    border-radius: $border-radius-thin;
    &:focus {
        background-color: transparent;
        border-color: $color-brand;
    }
    &[disabled] {
        background-color: darken($color-text-light, 5%);
    }
}
.search-submit {
    width: 2em;
    min-width: 1px;
    height: 1.819em;
    display: block;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    &:active {
        height: 1.637em;
    }
    .icon--search {
        display: block;
        margin-right: 0;
        position: absolute;
        top: .4em;
        left: 50%;
        transform: translateX(-50%);
    }
}
