---
date: 2022-11-11T21:38:00+0000
title: "clamp() Calculator"
description: "Handy little tool for calculating viewport-based clamped values."
js_module: clamp-calculator.js
---

<form id="clamp-calculator" class=" [ grid ] " data-layout="50-50">
	<fieldset>
		<label for="font-size-min" class=" [ center  delta ] ">Minimum Font Size <small>(px)</small></label>
		<input id="font-size-min" class=" [ center  delta ] " style="inline-size: 100%;" type="text" inputmode="numeric" pattern="[0-9]{1,4}" value="16"></input>
	</fieldset>
	<fieldset>
		<label for="font-size-max" class=" [ center  delta ] ">Maximum Font Size <small>(px)</small></label>
		<input id="font-size-max" class=" [ center  delta ] " style="inline-size: 100%;" type="text" inputmode="numeric" pattern="[0-9]{1,4}" value="18"></input>
	</fieldset>
	<fieldset>
		<label for="viewport-width-min" class=" [ center  delta ] ">Minimum Viewport Width <small>(px)</small></label>
		<input id="viewport-width-min" class=" [ center  delta ] " style="inline-size: 100%;" type="text" inputmode="numeric" pattern="[0-9]{1,5}" value="500"></input>
	</fieldset>
	<fieldset>
		<label for="viewport-width-max" class=" [ center  delta ] ">Maximum Viewport Width <small>(px)</small></label>
		<input id="viewport-width-max" class=" [ center  delta ] " style="inline-size: 100%;" type="text" inputmode="numeric" pattern="[0-9]{1,5}" value="1000"></input>
	</fieldset>
	<fieldset class=" [ center ] " style="grid-column: span 2; margin-block-start: 1em;">
		<button id="submit" class="margin-inline: auto;" type="submit">Calculate!</button>
	</fieldset>
	<fieldset style="grid-column: span 2; margin-block-start: 1em;">
		<label for="output" class=" [ center  delta ] ">The Result</label>
		<input id="output" class=" [ center  gamma  strong ] " style="inline-size: 100%; margin-inline: auto; line-height: 3;" type="text" readonly></input>
	</fieldset>
</form>


<h2 id="how">How does this work?</h2>
	<pre><code>P = (fontSizeMax - fontSizeMin) / (viewportWidthMax - viewportWidthMin)
R = fontSizeMax - viewportWidthMax * P
V = P * 100

Inner clamp value = R + V</code></pre>
<p>
