---
published: false
title: "&lt;cow-pen&gt;"
description: A Web Component that gives you a 90s-era adopted cow for your web pages.
# github: chrisburnell/cow-pen
# branch: main
# npm: "@chrisburnell/cow-pen"
emoji: 🐍
license: MIT
tags:
  - html
  - javascript
  - package
  - web-components
---

<script type="module" src="/js/components/cow-pen.js"></script>

<cow-pen datetime="2024-02-17T22:00:00+08:00"></cow-pen>
