---
date: 2022-04-01T12:00:00+0100
updated: 2022-04-04T16:14:00+0100
title: Browser Feature Watch
photo: feature-watch.png
description: This page serves as an one-stop shop for me to keep track of feature compatability in browsers, ordered by level of support and updated daily.
emoji: 🏄
wide: true
toc: true
inlinejs: true
---

<table>
	<thead>
		<tr>
			<td></td>
			{% for browser in browsersByType %}
				<th class=" [ sideways ] " style="padding-block: var(--size-small-medium); vertical-align: bottom;">{{ browser.name }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for feature in browserFeaturesSorted %}
			{% browserSupportRow feature %}
		{% endfor %}
	</tbody>
</table>

<hr>

{% for feature in browserFeaturesSorted -%}
	<section class=" [ flow ] " style="margin-block-start: var(--size-large-gigantic);">
		<h2 id="{{ feature.id }}">{{ feature.title | safe }}{% if feature.language %} <small>{{ feature.language | capitalizeFormat }}</small>{% endif %}{% if feature.supports or feature.supportsJS %} <small id="support-{{ feature.id }}" title="Supported by your browser" hidden>✅</small>{% endif %}</h2>
		{{ feature.description | markdownFormat | safe }}
		<ul>
			{% for link in feature.links -%}
				<li>{{ link | markdownFormat | safe }}</li>
			{%- endfor %}
		</ul>
		{% browserSupport feature.id %}
	</section>
{%- endfor %}

<hr>

<p>A lot of inspiration for this living collection comes from <a href="https://css-irl.info">Michelle Barker</a>, who wrote about upcoming browser features <a href="https://www.smashingmagazine.com/2022/03/new-css-features-2022/">on Smashing Magazine</a> and on <a href="https://css-irl.info/exciting-times-for-browsers-and-css/">CSS { In Real Life }</a>.</p>

<p>Please feel free to <a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/{{ site.branch }}/src/data/browserFeatures.json">suggest new features</a> or even <a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/{{ site.branch }}/src/data/browsersByType.json">other browsers</a>.</p>

{%- css %}@layer components { {%- include '../../../css/components/browser-support.css' -%} }{% endcss -%}

{%- set utilities_css -%}
	@layer utilities {
		{%- for feature in browserFeaturesSorted -%}
			{%- if feature.supports -%}
				@supports ({{ feature.supports}}) {
					[id="support-{{ feature.id }}"] {
						display: inline;
					}
				}
			{%- endif %}
		{%- endfor -%}
	}
{%- endset -%}
{%- css %}{{ utilities_css | cssmin | safe }}{% endcss -%}

{%- for feature in browserFeaturesSorted -%}
	{%- if feature.supportsJS -%}
		{%- js -%}
			if (window["{{ feature.supportsJS }}"]) {
				document.getElementById("support-{{ feature.id }}").style.display = "inline"
			}
		{%- endjs -%}
	{%- endif %}
{%- endfor -%}
