---
date: 2022-04-01T12:00:00+0100
updated: 2022-04-04T16:14:00+0100
title: Browser Feature Watch
photo: feature-watch.png
description: This page serves as an one-stop shop for me to keep track of feature compatability in browsers, ordered by level of support and updated daily.
emoji: 🏄
toc: true
---

<p>A lot of inspiration for this living collection comes from <a href="https://css-irl.info">Michelle Barker</a>, who wrote about upcoming browser features on <a href="https://www.smashingmagazine.com/2022/03/new-css-features-2022/">Smashing Magazine</a> and on <a href="https://css-irl.info/exciting-times-for-browsers-and-css/">CSS { In Real Life }</a>.</p>

<p>Please feel free to <a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/main/src/data/browserFeatures.json">suggest new features</a> or even <a href="https://github.com/{{ author.github }}/{{ site.repository }}/tree/main/src/data/browsersByType.json">other browsers</a>.</p>

{% for feature in browserFeaturesSorted %}
	<section class=" [ owl--medium ] ">
		<h2 id="{{ feature.id }}">{{ feature.title | safe }}{% if feature.language %} <small>({{ feature.language | capitalizeFormat }})</small>{% endif %}</h2>
		{{ feature.description | markdownFormat | safe }}
		<ul>
			{% for link in feature.links %}
				<li>{{ link | markdownFormat | safe }}</li>
			{% endfor %}
		</ul>
		{% caniuse feature.id %}
	</section>
{% endfor %}
