////
/// chrisburnell.com
/// Critical CSS
/// @author Chris Burnell <me@chrisburnell.com>
/// @link https://github.com/chrisburnell/chrisburnell.com/tree/main/src/css
////

@use "sass:meta";

// Fonts
@include meta.load-css("global/fonts");

// Abstracts
// @include meta.load-css("abstracts/functions");
// @include meta.load-css("abstracts/mixins");

@layer reset, global, compositions, blocks, utilities, themes, components, pages, thirdparty, overrides;

// Reset
@layer reset {
	@include meta.load-css("global/variables");
	@include meta.load-css("global/reset");
}

// Global
@layer global {
	@include meta.load-css("global/page");
	@include meta.load-css("global/color-schemes");
	@include meta.load-css("global/modals");
	@include meta.load-css("global/anchors");
	@include meta.load-css("global/buttons");
	@include meta.load-css("global/headings");
	@include meta.load-css("global/prose");
	@include meta.load-css("global/lists");
	@include meta.load-css("global/images");
	@include meta.load-css("global/details");
}

// Compositions
@layer compositions {
	@include meta.load-css("compositions/wrap");
	@include meta.load-css("compositions/pantheon");
	@include meta.load-css("compositions/grid");
	@include meta.load-css("compositions/box");
	@include meta.load-css("compositions/cluster");
}

// Blocks
@layer blocks {
	@include meta.load-css("blocks/logo");
	@include meta.load-css("blocks/perch");
	@include meta.load-css("blocks/anchors");
	@include meta.load-css("blocks/header");
	@include meta.load-css("blocks/navigation");
	@include meta.load-css("blocks/settings");
	@include meta.load-css("blocks/main");
	@include meta.load-css("blocks/content");
	@include meta.load-css("blocks/breadcrumbs");
	@include meta.load-css("blocks/context");
	@include meta.load-css("blocks/title");
	@include meta.load-css("blocks/description");
	@include meta.load-css("blocks/pills");
	@include meta.load-css("blocks/meta");
	@include meta.load-css("blocks/table-of-contents");
}

// Utilities
@layer utilities {
	@include meta.load-css("utilities/flow");
	@include meta.load-css("utilities/helpers");
	@include meta.load-css("utilities/fit-text");
	@include meta.load-css("utilities/canada");
}

// Components
@layer components {
	@include meta.load-css("components/sparklines");
	@include meta.load-css("components/deck");
	@include meta.load-css("components/shelf");
	@include meta.load-css("components/stack");
	@include meta.load-css("components/web-components");
}

// Themes
@layer themes {
	@include meta.load-css("themes/high-contrast");
	@include meta.load-css("themes/sepia");
	@include meta.load-css("themes/red-alert");
	@include meta.load-css("themes/koala");
	@include meta.load-css("themes/matrix");
	@include meta.load-css("themes/midwinter");
	@include meta.load-css("themes/nineties");
}
