////
/// chrisburnell.com
/// Deferred CSS
/// @author Chris Burnell <me@chrisburnell.com>
/// @link https://git.chrisburnell.com/chrisburnell/chrisburnell.com/src/branch/main/src/css/defer.scss
////

@use "sass:meta";

// Abstracts
// @include meta.load-css("abstracts/functions");
// @include meta.load-css("abstracts/mixins");

// Global
@layer global {
	@include meta.load-css("global/figure");
	@include meta.load-css("global/embeds");
	@include meta.load-css("global/quotes");
	@include meta.load-css("global/code");
	@include meta.load-css("global/form");
	@include meta.load-css("global/table");
}

// Compositions
@layer compositions {
	@include meta.load-css("compositions/media");
	// @include meta.load-css("compositions/inline-aside");
}

// Blocks
@layer blocks {
	@include meta.load-css("blocks/settings");
	@include meta.load-css("blocks/pills");
	@include meta.load-css("blocks/navigator");
	@include meta.load-css("blocks/meta");
	@include meta.load-css("blocks/table-of-contents");
	@include meta.load-css("blocks/cover");
	@include meta.load-css("blocks/rating");
	@include meta.load-css("blocks/footer");
	@include meta.load-css("blocks/author");
	@include meta.load-css("blocks/tablist");
	@include meta.load-css("blocks/code-blocks");
	@include meta.load-css("blocks/images");
	@include meta.load-css("blocks/embeds");
	@include meta.load-css("blocks/browse");
}

// Utilities
@layer utilities {
	@include meta.load-css("utilities/canada");
}

// Components
@layer components {
	@include meta.load-css("components/sparklines");
	@include meta.load-css("components/badges");
	@include meta.load-css("components/updated");
	@include meta.load-css("components/librarian");
	@include meta.load-css("components/responses");
	@include meta.load-css("components/browser-support");
	@include meta.load-css("components/storage-form");
	@include meta.load-css("components/web-components");
}

// Overrides
@layer overrides {
	@include meta.load-css("overrides/footer");
}
