speedlify-score {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
/* The Lighthouse scoring circles */
.speedlify-score {
	font-size: var(--font-size-small);
	inline-size: var(--size-large);
	block-size: var(--size-large);
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: calc(var(--size-border-thin) * 1.5) solid hsl(var(--hsl-conifer));
	margin-inline-start: var(--size-tiny-small);
}
.speedlify-score-ok {
	color: hsl(var(--hsl-aspen));
	border-color: currentColor;
}
.speedlify-score-bad {
	color: hsl(var(--hsl-maple));
	border-color: currentColor;
}
.speedlify-rank {
	display: none;
}
.speedlify-rank:before {
	content: "Rank #";
}
.speedlify-rank-change {
	font-size: var(--font-size-small);
}
.speedlify-rank-change:before {
	line-height: 1;
}
// .speedlify-rank-change.up {
// 	color: hsl(var(--hsl-conifer));
// }
.speedlify-rank-change.up:before {
	content: "↑ ";
}
// .speedlify-rank-change.down {
// 	color: hsl(var(--hsl-maple));
// }
.speedlify-rank-change.down:before {
	content: "↓ ";
}
speedlify-score > :not(.speedlify-score) {
	margin-inline-start: 1em;
	font-size: var(--font-size-small);
}
speedlify-score > :first-child {
	margin-inline-start: 0;
}
