    <footer role="contentinfo">
        <div class="wrap  clear">
            <section class="copyright">
                <a rel="home" class="footer-home-anchor" href="/" title="Home">
                    <svg class="icon  icon--raven"><use xlink:href="#svg--raven" /></svg>
                </a>
                <a rel="license" class="footer-copyright-anchor" href="{{ site.url_copyright }}">© {{ site.time | date: '%Y' }} <span class="canada">{{ site.author }}</span></a>
                <a class="footer-style-guide-anchor" href="/styleguide">Style Guide</a>
            </section>

            {% include components/nav-tertiary.html %}

        </div>
    </footer>

    {% include body/body-css-js.html %}

</body>
</html>
