<!DOCTYPE html>

<!--R
  AVENOU
    SRAVENO
      USRAVENO
       USRAVEN
       OUSRAVEN               O
        USRAVEN             O US
        RAVENOUS         RA VENO U
         SRAVENOU     SRAVENOUSRAV
          ENOUSRAVENOUSRAVENOUSRAV
           ENOUSRAVENOUSRAVENOUSRA
VEN      OUSRAVENOUSRAVENOUSRAVENO
 USRAVENOUSRAVENOUSRAVENOUSR
  AVENOUSRAVENOUSRAVENOUSR
   AVENOUSRAVENOUSRAVENOU
     SRAVENOUSRAVENOUSRAVE
            NOUSR     AVE
          NOUSR        AV
          E NO
            US

Checking out the source code, eh? Check out the git repository:
{{ site.url_repository }}
Contact me if you want to know more about the code, or if you want to use a
snippet of code on a project of your own. -->

<html lang="en">

{% include head/head.html %}

{% capture body_class %}
    {% for class in page.page_class %}
        {{ class }}
    {% endfor %}
    {% if page.categories contains 'article' %}page-article{% endif %}
    {% if page.categories contains 'link' %}page-link{% endif %}
    {% if page.categories contains 'pen' %}page-pen{% endif %}
{% endcapture %}
{% assign body_class_array = body_class | split: ' ' %}

<body{% if body_class != '' %} class="{{ body_class_array | join:'  ' }}"{% endif %} itemscope itemtype="http://data-vocabulary.org/WebPage">

    {% include components/svg.html %}

    <header class="wrap  clear" role="banner">

        <a rel="home" class="logo" href="/" title="{{ site.title }}" tabindex="1">
            <svg class="icon  icon--raven"><use xlink:href="#svg--raven" /></svg>
        </a>

        {% include components/nav-primary.html %}

    </header>
