////
/// Author
/// @group components
////

.author {
    // override the default <aside> font-family
    @include font-family(default);

    @include media("screen", "<=medium") {
        display: flex;
        flex-direction: column;
        order: 999;
        @include v(margin-top, large);
    }

    .content:not(.content--full) + & {
        @include media("screen", ">medium") {
            float: none;
            grid-area: author;
            margin-left: 0;
            margin-top: #{$measure-large * 2 + $font-size-alpha};
        }
    }
}

// More information about the Author
.author-information {
    @include font-family(serif);
    display: flex;
    flex-direction: row;
    @include v(margin-bottom, medium);
    @include v(font-size, small);
    font-style: italic;
    @include v(line-height, medium);

    @include media("screen", "<=medium") {
        @include v(padding-top, large);
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, black--gamma);
        @include v(margin-bottom, small);
    }

    a,
    %strong {
        @include case(uppercase, 0);
        @include font-family(default);
        color: inherit;
        font-style: normal;
        @include v(font-weight, bold);
    }

    a {
        // remove when text-decoration-color is supported
        @supports (not (text-decoration-color: transparent)) {
            text-decoration: none;
        }
        @include v(text-decoration-color, transparent);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }

        &:active {
            @include v(color, white);
        }
    }
}

// Photograph of MY FACE
.author-image {
    flex: 0 0 $avatar-size;
    float: left;
    position: relative;
    text-decoration: none;

    &,
    &::before,
    %image-elements {
        @include border-radius(50%);
        width: $avatar-size;
        height: $avatar-size;

        @supports (shape-outside: circle(50%)) {
            shape-outside: circle(50%);
        }
    }

    &::before {
        content: "";
        // base64-encoded SVG generated from `/images/avatar@4x.png`
        // https://github.com/technopagan/sqip
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MDAgNDAwIj48ZmlsdGVyIGlkPSJiIj48ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz48L2ZpbHRlcj48cGF0aCBmaWxsPSIjNzk4MTg5IiBkPSJNMCAwaDQwMHY0MDBIMHoiLz48ZyBmaWx0ZXI9InVybCgjYikiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC44IC44KSBzY2FsZSgxLjU2MjUpIiBmaWxsLW9wYWNpdHk9Ii41Ij48ZWxsaXBzZSBmaWxsPSIjMjQwMDAwIiBjeD0iMTE4IiBjeT0iMjI1IiByeD0iNTkiIHJ5PSIxOTkiLz48ZWxsaXBzZSBmaWxsPSIjZTBmZmZmIiByeD0iMSIgcnk9IjEiIHRyYW5zZm9ybT0ibWF0cml4KC01NS42MTU0OCA3LjcyOTI3IC0xNS45MzM2NyAtMTE0LjY0OTcgMjE5IDU5LjcpIi8+PGVsbGlwc2UgZmlsbD0iI2Q4ZjhmZiIgY3g9IjkiIGN5PSI4OCIgcng9IjM3IiByeT0iMTE1Ii8+PGVsbGlwc2UgZmlsbD0iIzBiMDYwYSIgcng9IjEiIHJ5PSIxIiB0cmFuc2Zvcm09InJvdGF0ZSg4OSAtOTIuNCAxNDUuNSkgc2NhbGUoMzIuOTQxMjQgMTU4LjE2NTA1KSIvPjxwYXRoIGZpbGw9IiNkZWZiZmYiIGQ9Ik0xNDEuNyAxNzQuMmwzOC4xLTc0LjkgMjguNSAxNC41LTM4LjEgNzQuOXoiLz48ZWxsaXBzZSBmaWxsPSIjYTFkZGZmIiBjeD0iMTEzIiBjeT0iMTEiIHJ4PSIyNTUiIHJ5PSIyMiIvPjxlbGxpcHNlIGZpbGw9IiMzMzBjMDAiIGN4PSI4NCIgY3k9IjkwIiByeD0iNDEiIHJ5PSI0MSIvPjxlbGxpcHNlIGZpbGw9IiNmZmZhZTgiIGN4PSI1MyIgY3k9IjE2NSIgcng9IjE1IiByeT0iNDIiLz48L2c+PC9zdmc+");
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    @include media("screen", "<=medium") {
        @include v(margin-right, medium);
    }

    @include media("screen", ">medium") {
        @include v(margin-right, small);
    }

    %image-elements {
        @include transition(opacity);
        display: block;
    }

    &:hover,
    &:focus,
    &:active {
        &::before {
            z-index: z-index(default);
        }

        & > %image-elements {
            // stylelint-disable no-unknown-animations
            animation: peek $transition-duration-long $transition-function $animation-duration $animation-fill-mode;
            animation: peek var(--transition-duration-long) var(--transition-function) var(--animation-duration) var(--animation--fill-mode);
            // stylelint-disable max-nesting-depth
            @at-root {
                @keyframes peek {
                    0% {
                        transform: none;
                    }
                    50% {
                        transform: translateY(-#{$avatar-size * 0.7});
                    }
                    75% {
                        transform: translateY(-#{$avatar-size * 0.45});
                    }
                    100% {
                        transform: translateY(-#{$avatar-size * 0.6});
                    }
                }
            }
            // stylelint-enable no-unknown-animations, max-nesting-depth
        }
    }
}

.author-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
