////
/// Bookshelf
/// @group components
/// @link https://chrisburnell.com/reading
////

.bookshelf {
    li {
        @include v(background-color, raven--gamma, true);
        @include v(padding, small);
        text-align: center;
    }

    %image-elements {
        max-width: 100%;
        max-height: 16em;
        display: block;
        @include v(margin-bottom, small);
    }

    .title {
        @include v(margin-bottom, small);
    }
}
