////
/// Bookshelf
/// @group components
/// @link https://chrisburnell.com/bookshelf
////

.bookshelf {
    display: grid;
    grid-template-columns: 1fr;
    @include v(grid-gap, medium);

    @include media("screen", ">small") {
        // 1───────────────────2→
        // │ minmax(12em, 1fr) │→
        // 2───────────────────┴→
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    li {
        @include v(margin-bottom, medium);
    }

    .bookcover {
        display: inline-block;
        margin: 0 0 $measure-small;
        margin: 0 0 var(--measure-small);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-transparent;
        }
    }

    %image-elements {
        max-width: 100%;
        max-height: 16em;
        display: block;
        object-fit: contain;
        margin: 0;
    }

    .rating {
        letter-spacing: 2px;
    }
}
