////
/// Code
/// @group components
////


/**
 * Highlighted Code Blocks
 */
code[data-lang] {
    padding-top: $measure-large;

    &::before {
        @include border-radius(top);
        @include case(uppercase);
        @include position(top);
        @include transition;
        content: attr(data-lang);
        background-color: $color-text-alt;
        color: $color-white;
        padding: 0 $measure-medium;
        font-size: $font-size-large;
        font-family: $font-family-default;
        font-weight: $font-weight-bold;
        line-height: $measure-large;
        text-shadow: none;
    }
}

/**
 * Highlighted Code Block Labels
 */
@each $language, $color in $coding-languages {
    &.language-#{$language} {
        &::before {
            background-color: #{$color} !important;
        }
    }
}

/**
 * Code Block Visibility Toggling
 */
.code-toggle {
    @include position(relative);
}

.code-toggle-label {
    @include position(full);
    cursor: pointer;

    .code-toggle-input:checked ~ & {
        display: none;
        visibility: hidden;
    }

    button {
        @include position(center);
        pointer-events: none;
    }
}

.code-toggle-input {
    & + .highlight pre {
        @include transition(max-height);
        // conservative super-tall buffer for code blocks
        max-height: 1000vh;
    }

    &:not(:checked) + .highlight pre {
        // limit number of lines of code
        max-height: ($measure-medium * 10);
        overflow-x: hidden;

        &::after {
            @include position(bottom);
            @include border-radius(bottom);
            content: "";
            background-image: linear-gradient(to bottom,
                                              rgba($color-black, 0.2) 0,
                                              rgba($color-black, 0.2) 2rem,
                                              rgba($color-black, 0.4) 2rem,
                                              rgba($color-black, 0.4) 4rem,
                                              rgba($color-black, 0.6) 4rem,
                                              rgba($color-black, 0.6) 6rem,
                                              rgba($color-black, 0.8) 6rem,
                                              rgba($color-black, 0.8) 8rem);
            // fade out over the last four lines
            height: ($measure-medium * 5.6);
        }
    }
}
