////
/// Code
/// @group components
/// @link https://chrisburnell.com/styleguide/#code-block-with-language
////

// Highlighted Code Blocks
code[data-lang] {
    @include v(padding-top, large);
    padding-top: #{$measure-large + $measure-small};
    padding-top: calc(var(--measure-large) + var(--measure-small));

    &::before {
        @include absolute(top-full);
        @include border-radius(top);
        @include font-family(alpha);
        @include transition;
        content: attr(data-lang);
        @include v(background-color, dove);
        @include v(color, white);
        padding: 0 $measure-medium;
        padding: 0 var(--measure-medium);
        @include v(font-size, large);
        letter-spacing: $letter-spacing-uppercase;
        line-height: #{$measure-large + $measure-small};
        text-shadow: none;
        text-transform: capitalize;
    }

    &[data-lang="html"]::before,
    &[data-lang="css"]::before {
        @include case(uppercase);
    }

    &[data-lang="javascript"]::before {
        content: "JavaScript";
        text-transform: none;
    }
}

// Highlighted Code Block Labels
@each $language, $color in $language-colors {
    &.language-#{$language} {
        &::before {
            background-color: #{$color} !important;
            color: contrasting-color($color, $color-mineshaft, $color-white) !important;
        }
    }
}

// Code Block Visibility Toggling
.code-toggle {
    position: relative;
}

.code-toggle-label {
    @include absolute(full);
    cursor: pointer;

    .code-toggle-input:checked ~ & {
        display: none;
        visibility: hidden;
    }

    button {
        @include absolute(center);
        pointer-events: none;
    }
}

.code-toggle-input {
    & + .highlight pre {
        @include transition(max-height);
        // conservative super-tall buffer for code blocks
        max-height: 1000vh;
    }

    &:not(:checked) ~ .highlight pre {
        // limit number of lines of code
        // font size * line height * 5 lines + padding + code block header
        max-height: #{$font-size-small * 2 * 5 + $measure-medium * 2 + 1};
        overflow-x: hidden;

        &::after {
            @include border-radius(bottom);
            content: "";
            background-image: scrim-gradient($color-transparent, $color-black--alpha);
            // fade out over the last four lines
            // font size * line height * 4 lines
            background-size: 100% #{$font-size-small * $line-height-code * 4};
            background-position: bottom;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            bottom: $measure-medium;
            left: 0;
        }
    }
}
