////
/// Code
/// @group components
////


/**
 * Highlighted Code Blocks
 */
code[data-lang] {
    padding-top: $measure-large;

    &::before {
        @include absolute(top-full);
        @include border-radius(top);
        @include case(uppercase);
        @include font-family(default);
        @include transition;
        content: attr(data-lang);
        @include v(background-color, dove);
        @include v(color, white);
        padding: 0 $measure-medium;
        @include v(font-size, large);
        @include v(font-weight, bold);
        line-height: $measure-large;
        text-shadow: none;
    }
}

/**
 * Highlighted Code Block Labels
 */
@each $language, $color in $language-colors {
    &.language-#{$language} {
        &::before {
            background-color: #{$color} !important;
        }
    }
}

/**
 * Code Block Visibility Toggling
 */
.code-toggle {
    position: relative;
}

.code-toggle-label {
    @include absolute(full);
    cursor: pointer;

    .code-toggle-input:checked ~ & {
        display: none;
        visibility: hidden;
    }

    button {
        @include absolute(center);
        pointer-events: none;
    }
}

.code-toggle-input {
    & + .highlight pre {
        @include transition(max-height);
        // conservative super-tall buffer for code blocks
        max-height: 1000vh;
    }

    &:not(:checked) ~ .highlight pre {
        // limit number of lines of code
        // font size * line height * 5 lines + padding + code block header
        max-height: #{$font-size-small * 2 * 5 + $measure-medium * 2 + 1};
        overflow-x: hidden;

        &::after {
            @include absolute(full);
            @include border-radius(bottom);
            content: "";
            background-image: linear-gradient(to bottom,
                                              $color-transparent,
                                              $color-black--alpha);
            // fade out over the last four lines
            // font size * line height * 4 lines
            background-size: 100% #{$font-size-small * $line-height-code * 4};
            background-position: bottom;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            bottom: $measure-medium;
            left:  0;
        }
    }
}
