////
/// Comments
/// @group components
////


// Appears only in `.content-list`
.comments-anchor {
    display: inline-block;
    margin-top: 1.625em;
    font-weight: $font-weight-bold;
    line-height: 2;

    &::after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }
}

// Appears only on article pages
.comments {
    text-align: center;

    // apply margin only if comments are shown
    iframe {
        margin-top: $measure-large;
    }

    noscript {
        font-size: $font-size-large;
        font-style: italic;
    }
}

// Also appears only on article pages
.button--show-comments {
    &,
    &:active {
        &::before {
            // override default `.button:active::before` behaviour
            @include absolute(none);
        }
    }
}
