////
/// Content
/// @group components
////


.title,
.tagline {
    width: 100%;
    margin-bottom: $measure-large;
}

/**
 * Banner / Hero Image
 * Can take two images, which are displayed with `srcset`
 */
.banner {
    @include border-radius;
    width: $article-width;
    margin-bottom: $measure-large;

    @include media("screen", "<=small") {
        width: $wrapper-width-small;
    }
}

/**
 * Post Meta
 */
.meta {
    padding-bottom: $measure-medium;
    overflow: hidden;
    font-style: italic;

    aside + & {
        // pull up to align with `.author`
        margin-top: -$measure-small;
    }

    time,
    div {
        display: inline-block;
        margin-right: $measure-large;
    }

    time + div,
    div + div {
        position: relative;

        &::before {
            // EM-DASH
            content: "—";
            @include v(color, dove);
            position: absolute;
            left: -$measure-medium;
            transform: translateX(-50%);
        }
    }

    a,
    strong {
        color: inherit;
        @include v(font-weight, bold);
        font-style: normal;
    }

    a {
        @include v(text-decoration-color, transparent);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }

        &:active {
            @include v(color, white);
        }
    }
}

/**
 * Page Introduction / Description
 */
.lede {
    @extend %gamma !optional;
    margin-bottom: $measure-large;

    @include media("screen", "<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -$measure-small;
    }

    .meta + & {
        border-top: $border-width-thin $border-style-default $color-alto;
        padding-top: $measure-medium;
    }
}
.lede--featured {
    max-width: 24em;
    @include v(font-size, large);
    @include v(font-weight, bold);
}

/**
 * Explain required terminology for the content
 */
/*dl*/.terminology {
    padding-bottom: $measure-large;
    border-bottom: $border-width-thin $border-style-default $color-black--gamma;
}

/**
 * Page Edit Notes
 */
.edit {
    @include border-radius;
    @include v(background-color, raven--gamma);
    width: 100%;
    max-width: $line-length-responsive;
    padding: $measure-medium;
    margin: 0 auto $measure-large;
    line-height: $line-height-medium;

    time {
        margin-bottom: $measure-small;
        @include v(font-size, gamma);
        @include v(font-weight, bold);
    }
}
