////
/// Content List
/// @group components
////


.content-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $measure-large;
    line-height: $line-height-small;

    .page--home &,
    .widget & {
        margin-bottom: 0;
    }

    li {
        @include media("screen", "<=small") {
            width: 100%;
            display: inline-block;

            // Push all list items down (after the first one, in the default
            // one-column format)
            & + li {
                margin-top: $measure-medium;
            }
        }

        @include media("screen", ">small") {
            width: #{($article-width - ($max-columns - 1)) / $max-columns / $article-width * 100%};
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        // Push all list items down (after the first two, in the two-column
        // format)
        &:nth-child(n+3) {
            @include media("screen", ">small") {
                margin-top: $measure-medium;
            }
        }

        aside & {
            width: 100%;

            // Push all list items down (after the first one, in the <aside>'s
            // one-column format)
            & + li {
                margin-top: $measure-small;
            }
        }
    }

    article {
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
    }

    a {
        @include border-radius;
        flex: 1 0 100%;
        display: block;
        padding: $measure-medium;
        border-bottom-width: 0;
        overflow: hidden;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-raven--gamma !important;
        }

        aside & {
            padding: $measure-small;
        }
    }

    .title,
    .lede,
    .date {
        text-shadow: 0 $border-width-hairline 0 $color-white;
    }

    .title {
        @include transition(border-color);
        @include will-change(border-color);
        width: auto;
        display: inline-block;
        border-bottom: $border-width-hairline $border-style-default $color-alto;
        margin-bottom: 0;
    }
    a:hover,
    a:focus,
    a:active {
        .title {
            color: $color-raven;
            border-bottom-color: $color-canada;
        }
    }

    .lede,
    .date {
        color: $color-dove;
        margin-top: $measure-small;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }

    .lede {
        margin-bottom: 0;
    }

    .date {
        @include media("screen", ">medium") {
            text-align: right;
        }

        &::before {
            // EN DASH, NO-BREAK SPACE
            content: "– ";
        }
    }

    svg {
        @include transition(opacity, transform);
        @include will-change(opacity, transform);
        opacity: opacity("delta");
        stroke: $color-kaiser;
        // override `_icons.scss` + 4px
        width:  6.25em !important;
        height: 6.25em !important;
        position: absolute;
        top: 50%;
        right: $measure-small;
        transform: translateY(-50%);
        z-index: z-index(root);

        @include media("screen", "<=small") {
            width:  4em !important;
            height: 4em !important;
        }
    }
    a:hover,
    a:focus,
    a:active {
        svg {
            opacity: opacity("gamma");
            transform: translateX(-$measure-large) translateY(-50%) scale(1.2);
        }
    }
}
