////
/// Content
/// @group components
////


.title,
.tagline {
    width: 100%;
    @include v(margin-bottom, large);
}

// Banner
// Can take two images, which are displayed with `srcset`
.banner {
    @include border-radius;
    width: $article-width;
    width: var(--article-width);
    @include v(margin-bottom, large);

    @include media("screen", "<=small") {
        width: $wrapper-width-small;
        width: var(--wrapper-width-small);
    }
}

// Post Meta
.meta {
    @include v(padding-bottom, medium);
    overflow: hidden;
    font-style: italic;

    aside + & {
        // pull up to align with `.author`
        margin-top: -($measure-small);
        margin-top: -(var(--measure-small));
    }

    time,
    div {
        display: inline-block;
        @include v(margin-right, large);
    }

    time + div,
    div + div {
        position: relative;

        &::before {
            // EN-DASH
            content: "–";
            @include v(color, dove);
            position: absolute;
            left: -($measure-medium);
            left: -(var(--measure-medium));
            transform: translateX(-50%);
        }
    }

    a,
    strong {
        color: inherit;
        @include v(font-weight, bold);
        font-style: normal;
    }

    a {
        @include v(text-decoration-color, transparent);

        &:hover,
        &:focus,
        &:active {
            @include v(text-decoration-color, canada);
        }

        &:active {
            @include v(color, white);
        }
    }
}

// Page Introduction / Description
.lede {
    @extend %gamma !optional;
    @include v(margin-bottom, large);

    @include media("screen", "<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -($measure-small);
        margin-top: -(var(--measure-small));
    }

    .meta + & {
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, alto);
        @include v(padding-top, medium);
    }
}
.lede--featured {
    max-width: 24em;
    @include v(font-size, large);
    @include v(font-weight, bold);
}

// Explain required terminology for the content
/*dl*/.terminology {
    @include v(padding-bottom, large);
    @include v(border-bottom-width, thin);
    @include v(border-bottom-style, default);
    @include v(border-bottom-color, black--gamma);
}

// Page Edit Notes
.edit {
    @include border-radius;
    @include v(background-color, raven--gamma);
    width: 100%;
    max-width: $line-length-responsive;
    max-width: var(--line-length-responsive);
    @include v(padding, medium);
    margin: 0 auto $measure-large;
    margin: 0 auto var(--measure-large);
    @include v(line-height, medium);

    time {
        @include v(margin-bottom, small);
        @include v(font-size, gamma);
        @include v(font-weight, bold);
    }
}
