////
/// Content
/// @group components
////


.title,
.tagline {
    width: 100%;
    margin-bottom: $measure-large;
}

/**
 * Banner / Hero Image
 * Can take two images, which are displayed with `srcset`
 */
.banner {
    @include border-radius;
    width: $article-width;
    margin-bottom: $measure-large;

    @include media("<=small") {
        width: $wrapper-width-small;
    }
}

/**
 * Page Introduction / Description
 */
.lede {
    @extend %gamma !optional;
    margin-bottom: $measure-large;

    @include media("<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -$measure-small;
    }
}
.lede--featured {
    max-width: 24em;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

/**
 * Explain required terminology for the content
 */
/*dl*/.terminology {
    padding-bottom: $measure-large;
    border-bottom: $border-width-thin $border-style-default $color-black--light;
}

/**
 * Page Edit Notes
 */
.edit {
    @include border-radius;
    background-color: $color-brand--light;
    padding: $measure-medium;
    margin: 0 $measure-large $measure-large;
    font-style: italic;
    line-height: 1.5;

    time {
        margin-bottom: $measure-small;
    }
}

// Stylised em-dash, with hair spaces on either side
.em-dash,
.m-dash {
    display: inline-block;

    &::before {
        //
        content: " — ";
    }
}

// Stylised en-dash, can replace an em-dash
.en-dash,
.n-dash {
    display: inline-block;

    &::before {
        //
        content: " – ";
    }
}

// Minus sign
.minus {
    display: inline;

    &::before {
        content: "−";
    }
}
