////
/// Edit
/// @group components
////


.edit {
    @include border-radius;
    @include v(background-color, raven--gamma);
    width: 100%;
    max-width: $line-length-responsive;
    max-width: var(--line-length-responsive);
    @include v(padding, medium);
    margin: 0 auto $measure-large;
    margin: 0 auto var(--measure-large);
    @include v(line-height, medium);

    time {
        @include v(margin-bottom, small);
        @include v(font-size, gamma);
        @include v(font-weight, bold);
    }
}
