////
/// Social Icons
/// @group components
////

.elsewhere {
    @include v(max-height, icon);

    @include media("screen", "<=medium") {
        text-align: center;
    }
}

.elsewhere__list {
    li {
        display: inline-block;

        & + li {
            @include v(margin-left, one);
        }
    }

    a {
        display: block;
        text-decoration: none;

        .icon {
            @include transition(opacity, transform);
            @include will-change(opacity, transform);
            @include v(opacity, beta);
            @include v(height, icon);

            @include media("screen", "reduced-motion") {
                @include transition(none);
            }
        }

        &:hover,
        &:focus,
        &:active {
            .icon {
                opacity: 1;
            }
        }

        &:active {
            background-color: $color-transparent;
            outline-width: 0;

            .icon {
                transform: translateY($border-width-thin);
            }
        }
    }
}
