////
/// Footer
/// @group components
////


footer {
    @include v(background-color, kaiser);
    @include v(color, alto);
    @include v(font-weight, bold);
    text-transform: uppercase;

    div {
        display: flex;
        justify-content: space-between;

        @include media("screen", "<=medium") {
            flex-direction: column;
        }
    }

    a[rel*="external"] {
        &::after {
            content: "";
        }
    }
}

.license,
.nav-tertiary {
    overflow: hidden;

    @include media("screen", "<=medium") {
        flex: 1 0 100%;
        text-align: center;
    }
}

.footer-home-anchor,
.footer-license-anchor,
.footer-style-guide-anchor {
    display: inline-block;
    white-space: nowrap;
}

.footer-home-anchor {
    width:  3.125rem;
    height: 3.125rem;
    @include v(margin-right, small);
    vertical-align: middle;
    text-indent: 100%;
    text-decoration: none;
    white-space: nowrap;

    &:active {
        @include v(background-color, transparent);
    }

    .icon {
        @include transition(opacity, transform);
        @include will-change(opacity, transform);
        @include v(opacity, alpha);
        @include v(fill, raven);
        width: 100%;
        height: 100%;
        display: block;

        @include media("screen", "prefers-reduced-motion") {
            @include transition(none);
        }
    }

    &:hover,
    &:focus,
    &:active {
        .icon {
            opacity: 1;
        }
    }

    &:active {
        .icon {
            transform: translateY($border-width-thin);
        }
    }
}

.footer-license-anchor,
.footer-style-guide-anchor {
    @include case(uppercase);
    @include v(margin-left, small);
    @include v(margin-right, small);
    // coming soon!
    // @include v(text-decoration-width, thin);
    text-underline-position: under;
}
