////
/// Footer
/// @group components
////


footer {
    background-color: $color-kaiser;
    color: $color-alto;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    div {
        display: flex;
        justify-content: space-between;

        @include media("screen", "<=medium") {
            flex-direction: column;
        }
    }
}

.license,
.nav-tertiary {
    overflow: hidden;

    @include media("screen", "<=medium") {
        flex: 1 0 100%;
        text-align: center;
    }
}

.footer-home-anchor,
.footer-license-anchor,
.footer-style-guide-anchor {
    display: inline-block;
    white-space: nowrap;
}

.footer-home-anchor {
    width:  3.125rem;
    height: 3.125rem;
    margin-right: $measure-small;
    border-bottom-width: 0;
    vertical-align: middle;
    text-indent: 100%;
    white-space: nowrap;

    &:active {
        background-color: $transparent;
    }

    .icon {
        @include transition(opacity, transform);
        @include will-change(opacity, transform);
        opacity: opacity("alpha");
        width: 100%;
        height: 100%;
        display: block;
        fill: $color-raven;

        @include media("screen", "prefers-reduced-motion") {
            @include transition(none);
        }
    }

    &:hover,
    &:focus,
    &:active {
        .icon {
            opacity: 1;
        }
    }

    &:active {
        .icon {
            transform: translateY($border-width-thin);
        }
    }
}

.footer-license-anchor,
.footer-style-guide-anchor {
    @include case(uppercase);
    margin-left:  $measure-small;
    margin-right: $measure-small;
}
