////
/// Footer
/// @group components
////


footer {
    background-color: $color-text;
    color: $color-text-light;
    font-family: $font-family-gamma;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

.copyright,
.nav-tertiary {
    overflow: hidden;

    @include media("<=medium") {
        width: 100%;
        text-align: center;
    }
}

.copyright {
    @include media(">medium") {
        float: left;
    }
}

.footer-home-anchor,
.footer-copyright-anchor,
.footer-style-guide-anchor {
    display: inline-block;
    white-space: nowrap;
}

.footer-home-anchor {
    @include transition(transform);
    @include will-change(transform);
    width:  3.125rem;
    height: 3.125rem;
    margin-right: $measure-small;
    border-bottom-width: 0;
    vertical-align: middle;
    text-indent: 100%;
    white-space: nowrap;

    &:active {
        transform: translateY(0.2rem);
    }

    .icon {
        @include transition(opacity);
        @include will-change(opacity);
        opacity: opacity("90-percent");
        width: 100%;
        height: 100%;
        display: block;
        fill: $color-brand;
    }
    &:hover,
    &:focus,
    &:active {
        .icon {
            opacity: opacity(1);
        }
    }
}

.footer-copyright-anchor,
.footer-style-guide-anchor {
    @include case(uppercase);
    margin-left:  $measure-small;
    margin-right: $measure-small;

    &:link,
    &:visited {
        color: $color-white;
        border-bottom-color: $color-text-alt;

        &:hover,
        &:focus,
        &:active {
            border-bottom-color: $color-white;
        }
    }
}
