////
/// Helpers
/// @group components
////


// We're goin' up around the bend
.border-radius,
.round,
.rounded {
    @include border-radius;
}
.border-radius--thin,
.round--thin,
.rounded--thin {
    @include border-radius(thin);
}

// Hide elements visually
[hidden],
[aria-hidden="true"],
.hidden {
    &:not([href]),
    &[href]:not(:focus):not(:active) {
        @include hidden;
    }
}

// Hyphenate any looooooooooooooooooooo-
// oooooong text
.hyphen,
.hyphenate {
    @include hyphenate;
}

// Make things non-selectable
.non-selectable {
    @include non-selectable;
}

// Make things non-interactive
.non-interactive {
    pointer-events: none;
    cursor: not-allowed; // kind of redundant
}
