////
/// Icon
/// @group components
/// @link https://chrisburnell.com/styleguide/#icons
////

.icon {
    display: block;
    overflow: hidden;
    speak: none;

    %button-elements &,
    .fragment-anchor & {
        fill: currentColor;
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
    }

    %button-elements & {
        width: $font-size-default;
        height: $font-size-default;
        margin-right: $measure-small;
    }

    .fragment-anchor & {
        width: $font-size-gamma;
        height: $font-size-gamma;
    }

    .icons-list & {
        @include v(fill, kaiser);
        height: #{$measure-large * 2};
    }
}

// Brand Icon Widths and Colors
@each $color-brand in $brand-details {
    $name: nth($color-brand, 1);
    $icon-color: nth($color-brand, 2);
    $ratio: nth($color-brand, 3);

    .icon--#{$name} {
        width: #{$ratio * $icon-size};
        fill: $icon-color;
    }
}

.emoji {
    height: 1.5em;
    vertical-align: middle;
}
