////
/// Icon
/// @group components
////


.icon {
    display: block;
    overflow: hidden;

    %button-elements & {
        fill: currentColor;
        width:  0.8em;
        height: 0.8em;
        display: inline-block;
        margin-right: 0.25em;
        pointer-events: none;
        vertical-align: middle;
    }

    // Used on the Style Guide page
    .icons-list & {
        fill: $color-kaiser;
        height: #{$measure-large * 2};
    }
}

/**
 * Brand Icon Widths and Colors
 */
@each $color-brand in $color-brands {
    $name:       nth($color-brand, 1);
    $icon-color: nth($color-brand, 2);
    $ratio:      nth($color-brand, 3);

    .icon--#{$name} {
        width: #{$ratio * $icon-size};

        @if $name == "rss" {
            &,
            %button-elements & {
                fill: $icon-color;
            }
        } @else {
            fill: $icon-color;
        }
    }
}

.emoji {
    height: 1.5em;
    vertical-align: middle;
}
