////
/// Lede
/// @group components
////

.lede {
    @extend %gamma !optional;
    @include v(margin-bottom, large);

    @include media("screen", "<=medium") {
        text-align: left;
    }

    aside + & {
        // pull up to align with `.author`
        margin-top: -($measure-small);
        margin-top: -(var(--measure-small));
    }

    .meta + & {
        @include v(border-top-width, thin);
        @include v(border-top-style, default);
        @include v(border-top-color, alto);
        @include v(padding-top, medium);
    }
}

.lede--featured {
    max-width: $line-length-responsive !important;
    @include v(margin-bottom, large, false, true);
    @include v(font-size, large, true);
    @include v(font-weight, bold, true);
}
