////
/// Logo
/// @group components
////

.logo {
    @include non-selectable;
    @include v(height, avatar);
    flex-grow: 1;
    flex-shrink: 0;
    @include v(flex-basis, aside);
    display: inline-block;
    position: relative;
    text-decoration: none;

    .icon {
        @include absolute(top);
        @include transition(transform $transition-duration-long);
        @include transition(transform var(--transition-duration-long));
        @include will-change(transform);
        @include v(fill, raven);
        @include v(width, logo);
        @include v(height, logo);
        transform: translateX(-65%) translateY(-40%) rotateZ($rotation-default);
        transform: translateX(-65%) translateY(-40%) rotateZ(var(--rotation-default));

        @include media("screen", "reduced-motion") {
            @include transition(none);
        }
    }

    &[href]:hover,
    &[href]:focus {
        .icon {
            transform: translateX(-40%) translateY(-30%);
        }
    }

    &[href]:active {
        @include v(background-color, transparent);

        .icon {
            transition-duration: $transition-duration-default;
            transition-duration: var(--transition-duration-default);
            transform: translateX(-30%) translateY(-25%);
        }
    }
}
