////
/// Logo
/// @group components
////


.logo {
    @include non-selectable;
    height: $avatar-size;
    flex: 1 0 $aside-width;
    display: inline-block;
    position: relative;
    border-bottom-width: 0;

    svg {
        @include absolute(top);
        @include transition(transform $transition-duration-long);
        @include will-change(transform);
        fill: $color-raven;
        width:  $logo-size;
        height: $logo-size;
        transform: translateX(-65%) translateY(-40%) rotateZ($rotation-default);

        @include media("screen", "prefers-reduced-motion") {
            @include transition(none);
        }
    }

    &:hover,
    &:focus {
        svg {
            transform: translateX(-40%) translateY(-30%);
        }
    }

    &:active {
        background-color: $transparent;

        svg {
            transition-duration: $transition-duration;
            transform: translateX(-30%) translateY(-25%);
        }
    }
}
