////
/// Logo
/// @group components
////


.logo {
    @include non-selectable;
    height: $avatar-size;
    flex: 1 0 $aside-width;
    flex: 1 0 var(--aside-width);
    display: inline-block;
    position: relative;
    text-decoration: none;

    .icon {
        @include absolute(top);
        @include transition(transform $transition-duration-long);
        @include transition(transform var(--transition-duration-long));
        @include will-change(transform);
        @include v(fill, raven);
        width:  $logo-size;
        width:  var(--logo-size);
        height: $logo-size;
        height: var(--logo-size);
        transform: translateX(-65%) translateY(-40%) rotateZ($rotation-default);
        transform: translateX(-65%) translateY(-40%) rotateZ(var(--rotation-default));

        @include media("screen", "prefers-reduced-motion") {
            @include transition(none);
        }
    }

    &:hover,
    &:focus {
        svg {
            transform: translateX(-40%) translateY(-30%);
        }
    }

    &:active {
        @include v(background-color, transparent);

        .icon {
            transition-duration: $transition-duration-default;
            transition-duration: var(--transition-duration-default);
            transform: translateX(-30%) translateY(-25%);
        }
    }
}
