////
/// Media
/// @group components
/// @link https://chrisburnell.com/styleguide/#figure
////


// Contains embedded media properly and allows them to be dynamically resized
// inside a set aspect ratio container.
.media {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    %media-elements {
        @include absolute(full);
        // necessary for `iframe`
        height: 100%;
        margin-bottom: 0;
    }
}


@each $aspect-ratio, $percentage in $aspect-ratios {
    $aspect-ratio-x: nth($aspect-ratio, 1);
    $aspect-ratio-y: nth($aspect-ratio, 2);

    .media--#{$aspect-ratio-x}-by-#{$aspect-ratio-y} {
        padding-top: $percentage;
    }
}

.media--vimeo,
.media--youtube {
    @extend .media--16-by-9 !optional;
}

.media--speakerdeck {
    @extend .media--4-by-3 !optional;
}


// CodePen Embeds
.cp_embed_wrapper {
    @include v(margin-bottom, medium);
    resize: both;
    overflow: auto;

    iframe {
        margin-bottom: 0;
    }
}
