////
/// Media
/// @group components
////


/**
 * Contains embedded media properly and allows them to be dynamically resized
 * inside a set aspect ratio container.
 */
.media {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    %media-elements {
        @include absolute(full);
        // necessary for `iframe`
        height: 100%;
        margin-bottom: 0;
    }
}


@each $aspect-ratio, $percentage in $aspect-ratios {
    .media--#{nth($aspect-ratio, 1)}-by-#{nth($aspect-ratio, 2)} {
        padding-top: $percentage;
    }
}

.media--vimeo,
.media--youtube {
    @extend .media--16-by-9;
}

.media--speakerdeck {
    @extend .media--4-by-3;
}
