////
/// Media
/// @group components
////


embed,
iframe,
object,
video {
    @extend %media-elements !optional;
}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: 0;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $measure-medium;
    contain: strict;
}

/**
 * Contains embedded media properly and allows them to be dynamically resized
 * inside a set aspect ratio container.
 */
.media {
    @include position(relative);
    width: 100%;
    height: auto;
    overflow: hidden;

    %media-elements {
        @include position(full);
        // necessary for `iframe`
        height: 100%;
        margin-bottom: 0;
    }
}


@each $aspect-ratio, $percentage in $aspect-ratios {
    .media--#{nth($aspect-ratio, 1)}-by-#{nth($aspect-ratio, 2)} {
        padding-top: $percentage;
    }
}

.media--vimeo,
.media--youtube {
    @extend .media--16-by-9;
}

.media--speackerdeck {
    @extend .media--4-by-3;
}
