////
/// Primary Navigation
/// @group components
////


.nav-primary {
    padding-top: $measure-medium;
    padding-bottom: $measure-medium;
    white-space: nowrap;

    @include media("screen", "<=medium") {
        flex: 1 0 100%;
        padding-top: $measure-small;
        text-align: center;
    }
}

.nav-primary-list {
    height: 3.75rem;
    // remove space between list items
    font-size: 0;

    li {
        display: inline-block;
        // reset font-size
        font-size: 1rem;

        & + li {

            @include media("screen", "<=small") {
                margin-left: 0.25em;
            }

            @include media("screen", ">small", "<=medium") {
                margin-left: 0.5em;
            }

            @include media("screen", ">medium") {
                margin-left: 1em;
            }
        }
    }

    a {
        @include case(uppercase);
        @include font-family(alpha);
        @include transition(color, padding-bottom, border-bottom-width, transform);
        @include will-change(color, padding-bottom, border-bottom-width, transform);
        color: $color-dove;
        display: block;
        padding: 0.75rem 1rem;
        border-bottom-width: 0;
        border-bottom-color: $color-raven;
        margin-bottom: 0.25rem;
        font-size: $font-size-large;
        line-height: $line-height-small;
        text-decoration: none;

        &:active {
            background-color: $transparent;
            transform: translateY(0.2rem);
        }

        @include media("screen", "<=small") {
            padding-left:  0.5rem;
            padding-right: 0.5rem;
        }
    }
}

// Effect for interactions and active paths
.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
%nav-primary-anchor {
    color: $color-kaiser;
    padding-bottom: 0.5rem;
    border-bottom-width: $border-width-default;
}
@each $body-class, $navigation-class in $navigation-links {
    .page--#{$body-class} .nav-primary--#{$navigation-class} a {
        @extend %nav-primary-anchor !optional;
    }
}

// Complementary to the Effect for interactions and active paths
%nav-primary-anchor-arrow {
    content: "";
    border-top:   0.5em $border-style-default $color-raven;
    border-right: 0.5em $border-style-default $transparent;
    border-left:  0.5em $border-style-default $transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
@each $body-class, $navigation-class in $navigation-links {
    .page--#{$body-class} .nav-primary--#{$navigation-class} a::after {
        @extend %nav-primary-anchor-arrow !optional;
    }
}
