////
/// Secondary Navigation / Buttons List
/// @group components
////


/**
 * Contains buttons and internal links.
 */
.nav-secondary,
.buttons-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include media("<=small") {
        flex-direction: column;
    }

    @include media(">small") {
        flex-direction: row;
        justify-content: center;
    }

    %button-elements {
        @include media(">small") {
            margin-left:  $measure-small;
            margin-right: $measure-small;
        }

        @include media("<=small") {
            margin-left:  auto;
            margin-right: auto;

            & + %button-elements {
                margin-top: $measure-small;
            }
        }
    }
}

.nav-secondary {
    margin-top: $measure-large;
    border-top: $border-width-thin $border-style-default $color-black--light;
    padding-top: #{$measure-large - 0.182rem};

    .page--home & {
        margin-top: 0;
        border-top: 0;
    }

    .page--about & {
        border-top: 0;
        padding: 0 0 $measure-medium;
    }

    %content-elements + & {
        margin-top: $measure-medium;
    }
}

.buttons-list {
    margin: 0 0 $measure-medium;

    .lede + & {
        margin-bottom: $measure-large;
    }
}
