////
/// Tertiary Navigation
/// @group components
////


.nav-tertiary {
    @include media(">medium") {
        // 5px
        margin-top: ($measure-small / 2);
    }

    @include media("<=medium") {
        margin-top: $measure-medium;
    }
}

.nav-tertiary-list {
    li {
        display: inline-block;

        & + li {
            margin-left: 1rem;
        }
    }

    a {
        border-bottom-width: 0;

        .icon {
            @include transition;
            @include will-change(opacity, transform);
            opacity: opacity(0.7);
            height: $icon-size;
        }

        &:hover,
        &:focus,
        &:active {
            .icon {
                opacity: opacity(1);
            }
        }

        &:active {
            .icon {
                transform: translateY(0.125rem);
            }
        }
    }
}
