////
/// Primary Navigation
/// @group components
////


.nav-primary {
    @include v(padding-top, medium);
    @include v(padding-bottom, medium);
    white-space: nowrap;

    @include media("screen", "<=medium") {
        flex: 1 0 100%;
        @include v(padding-top, small);
        text-align: center;
    }
}

.nav-primary-list {
    @include reset-font-size(li);
    height: 3.75rem;

    li {
        display: inline-block;

        & + li {
            @include media("screen", "<=small") {
                margin-left: 0.25em;
            }

            @include media("screen", ">small", "<=medium") {
                margin-left: 0.5em;
            }

            @include media("screen", ">medium") {
                margin-left: $measure-one-relative;
                margin-left: var(--measure-one-relative);
            }
        }
    }

    a {
        @include case(uppercase);
        @include font-family(alpha);
        @include transition(color, padding-bottom, border-bottom-width, transform);
        @include will-change(color, padding-bottom, border-bottom-width, transform);
        @include v(color, dove);
        display: block;
        padding: #{$measure-one - $border-width-default} $measure-one;
        border-width: 0;
        @include v(border-style, default);
        @include v(border-color, raven);
        margin-bottom: $border-width-default;
        margin-bottom: var(--border-width-default);
        @include v(font-size, large);
        @include v(line-height, small);
        text-decoration: none;

        &:active {
            @include v(background-color, transparent);
            transform: translateY(0.2rem);
        }

        @include media("screen", "<=small") {
            padding-left:  0.5rem;
            padding-right: 0.5rem;
        }
    }
}

// Effect for interactions and active paths
.nav-primary-list a:hover,
.nav-primary-list a:focus,
.nav-primary-list a:active,
%nav-primary-anchor {
    @include v(color, kaiser);
    padding-bottom: 0.5rem;
    @include v(border-bottom-width, default);
}
@each $body-class, $navigation-class in $navigation-links {
    .page--#{$body-class} .nav-primary--#{$navigation-class} a {
        @extend %nav-primary-anchor !optional;
    }
}

// Complementary to the Effect for interactions and active paths
%nav-primary-anchor-arrow {
    content: "";
    border-width: 0.5em 0.5em 0;
    @include v(border-style, default);
    @include v(border-color, transparent);
    @include v(border-top-color, raven);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
@each $body-class, $navigation-class in $navigation-links {
    .page--#{$body-class} .nav-primary--#{$navigation-class} a::after {
        @extend %nav-primary-anchor-arrow !optional;
    }
}
