////
/// Notification
/// @group components
////

.notification {
    @include v(background-color, mineshaft);
    @include v(color, white);
    display: block;
    padding: $measure-small $measure-medium;
    padding: var(--measure-small) var(--measure-medium);
    position: fixed;
    @include v(bottom, medium);
    @include v(right, medium);
    @include v(left, medium);
    @include v(font-size, gamma);
    @include v(font-weight, bold);

    @include media("screen", "above:small") {
        left: auto;
    }

    &:not([class*="hidden"]) {
        animation: fade-out $transition-duration-default $animation-function $animation-duration $animation-fill-mode;
        animation: fade-out var(--transition-duration-default) var(--animation-function) var(--animation-duration) var(--animation-fill-mode);

        @at-root {
            @keyframes fade-out {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    &.notification--positive {
        background-color: $color-liquid;
    }

    &.notification--negative {
        @include v(background-color, canada);
    }
}
