////
/// Search
/// @group components
////


.search-main {
    max-width: $wrapper-width-small;
    margin-bottom: $measure-large;
}
.search-results {
    margin-top: $measure-medium;

    .content-list {
        margin-bottom: 0;
    }
}

.search-form {
    @include position(relative);
    display: flex;
}

.search-input {
    min-width: 1px;
    flex: 1;
}

.search-submit {
    min-width: auto;
    margin-left: $measure-small;
    margin-top: 0;
}
