////
/// Search
/// @group components
////


.search-main {
    max-width: $wrapper-width-small;
    margin-bottom: $measure-large;
}
.search-results {
    margin-top: $measure-medium;

    .content-list {
        margin-bottom: 0;
    }
}

.search-form {
    position: relative;
    display: flex;
}

.search-input {
    min-width: 1px;
    flex: 1 1 0;
    font-size: $font-size-small;
}

.search-submit {
    min-width: auto;
    margin-left: $measure-small;
    margin-top: 0;
}
