////
/// Search
/// @group components
/// @link https://chrisburnell.com/styleguide/#forms
////

.search-main {
    max-width: $wrapper-width-small;
    max-width: var(--wrapper-width-small);
    @include v(margin-bottom, large);
}
.search-results {
    @include v(margin-top, medium);

    .content-list {
        margin-bottom: 0;
    }
}

.search-form {
    flex-direction: row;
    align-items: stretch;
}

.search-input {
    @include v(background-color, white);
    min-width: 1px;
    flex: 1 1 0;
    @include v(font-size, small);
}

.search-submit {
    min-width: auto;
    @include v(margin-left, small);
    margin-top: 0;
}
