////
/// Shelf
/// @group components
////

.shelf {
    display: grid;
    grid-template-columns: 1fr;
    @include v(grid-gap, medium);

    @include media("screen", "above:small") {
        // 1───────────────────2→
        // │ minmax(12em, 1fr) │→
        // 2───────────────────┴→
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    }

    li {
        @include v(margin-bottom, medium);
    }

    .cover {
        display: inline-block;
        margin: 0 0 $measure-small;
        margin: 0 0 var(--measure-small);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            background-color: $color-transparent;
            outline: $border-width-thin $border-style-default $color-raven;
            outline: var(--border-width-thin) var(--border-style-default) var(--color-raven);
            outline-offset: $border-width-thin;
            outline-offset: var(--border-width-thin);
        }
    }

    %image-elements {
        max-width: 100%;
        height: 16em;
        display: block;
        object-fit: contain;
        margin: 0;
    }

    .emoji {
        @include v(margin-right, small);
    }
}
