////
/// Social Icons
/// @group components
////

.social-icons {
    @include media("screen", "<=medium") {
        text-align: center;
    }
}

.social-icons-list {
    li {
        display: inline-block;

        & + li {
            @include v(margin-left, one);
        }
    }

    a {
        text-decoration: none;

        .icon {
            @include transition(opacity, transform);
            @include will-change(opacity, transform);
            @include v(opacity, beta);
            height: $icon-size;
            height: var(--icon-size);

            @include media("screen", "prefers-reduced-motion") {
                @include transition(none);
            }
        }

        &:hover,
        &:focus,
        &:active {
            .icon {
                opacity: 1;
            }
        }

        &:active {
            .icon {
                transform: translateY($border-width-thin);
            }
        }
    }
}
