////
/// Sparklines
/// @group components
/// @link https://chrisburnell.com/styleguide
////

.sparkline {
    @include non-selectable;
    @include transition;
    // !important here prevents jumping when sparklines load
    width: 120px !important;
    height: 22px !important;

    &:hover {
        @include v(background-color, highlight);
        outline: $border-width-thin $border-style-default $color-highlight;
        outline: var(--border-width-thin) var(--border-style-default) var(--color-highlight);
    }

    &:active {
        @include v(background-color, canada);
        outline: $border-width-thin $border-style-default $color-canada;
        outline: var(--border-width-thin) var(--border-style-default) var(--color-canada);
    }

    %heading-elements & {
        @include media("screen", "<=small") {
            display: none !important; // this needs to override the inline style
        }

        @include media("screen", ">small") {
            float: right;
            margin-left: $measure-medium;
        }
    }

    %alpha & {
        @include media("screen", ">small") {
            margin-top: $measure-medium;
        }
    }
}
