////
/// Webmentions
/// @group components
////

// Appears only on article pages
.webmentions {
    @include v(margin-top, large);
}

.webmention__form,
.webmentions__thread {
    @include v(margin-top, medium);
}

.webmentions__label {
    @extend %delta !optional;
    grid-column: 1 / span 2;
    margin-bottom: 0;
    @include v(margin-bottom, small);

    @include media("<=small") {
        @include v(margin-bottom, medium);
    }
}

.webmentions__submit {
    min-width: 5em;
    margin-top: 0;
}

.webmentions__list {
    a {
        word-break: break-word;
    }

    .webmentions__list__replies {
        margin-top: 0;
    }
}

// Also appears only on article pages
.button--show-webmentions {
    &,
    &:active {
        &::before {
            // override default `.button:active::before` behaviour
            @include absolute(none);
        }
    }
}
