////
/// Webmentions
/// @group components
////

// Appears only on article pages
.webmentions {
    @include v(margin-top, large);
}

.webmentions__thread {
    @include v(margin-top, medium);
}

.webmentions__form {
    max-width: $wrapper-width-small;
    max-width: var(--wrapper-width-small);
    margin: 0 auto;
}

.webmentions__label {
    @extend %delta !optional;
    grid-column: 1 / span 2;
    @include v(margin-bottom, small);

    @include media("<=small") {
        @include v(margin-bottom, medium);
    }
}

.webmentions__submit {
    min-width: 5em;
    margin-top: 0;
}

.webmentions__list {
    @include media("screen", ">medium") {
        grid-template-columns: minmax(6rem, max-content) minmax(12em, 1fr);
    }

    a {
        word-break: break-word;
    }

    .webmentions__list__replies ol {
        margin-top: 0;
    }
}

.webmentions__response {
    .webmentions__list__replies & + & {
        @include v(margin-top, medium);
    }

    img {
        @include border-radius(50%);
        width: auto;
        max-width: 3rem;
        max-height: 3rem;
        height: auto;
        display: block;
    }

    time {
        @include v(color, dove);
        font-style: italic;
    }
}

.webmentions__list__likes,
.webmentions__list__reposts {
    a {
        display: inline-block;
        @include v(margin-right, small);
    }
}

// Also appears only on article pages
.button--show-webmentions {
    &,
    &:active {
        &::before {
            // override default `.button:active::before` behaviour
            @include absolute(none);
        }
    }
}
