////
/// WebMentions
/// @group components
////


// Appears only on article pages
.webmentions {
    @include v(margin-top, large);
}

.webmention__form,
.webmentions-thread {
    @include v(margin-top, medium);
}

.webmentions__form {
    flex-direction: row;

    @include media("<=small") {
        flex-wrap: wrap;
    }
}

.webmentions-label {
    @extend %delta !optional;
    align-self: center;
    @include v(padding-right, medium);
    margin-bottom: 0;

    @include media("<=small") {
        flex: 1 0 100%;
        @include v(margin-bottom, medium);
    }

    @include media(">small") {
        flex: 1 1 auto;
    }
}

.webmentions-input {
    flex: 1 0 auto;
    align-self: flex-end;
    margin-top: $border-width-default;
    line-height: $line-height-medium;
}

.webmentions-submit {
    align-self: flex-end;
    @include v(margin-left, small);
}

.webmentions-thread {
    a {
        word-break: break-all;
    }
}

.webmentions__item__image {
    @include border-radius(50%);
    width:  $font-size-gamma;
    height: $font-size-gamma;
    display: inline-block;
    vertical-align: middle;
    margin-right: $border-width-default;
}

.webmentions__item__name {
    @include v(font-weight, bold);
}

// Also appears only on article pages
.button--show-webmentions {
    &,
    &:active {
        &::before {
            // override default `.button:active::before` behaviour
            @include absolute(none);
        }
    }
}
