////
/// Widget
/// @group components
////


.widget {
    display: flex;
    flex-direction: column;

    aside & {
        @include clear;
    }
}

.widget-related-anchor {
    align-self: flex-end;
    @include v(margin-top, medium);
    @include v(font-weight, bold);
    text-underline-position: under;

    &::after {
        // NO-BREAK SPACE, LEFTWARDS ARROW WITH HOOK
        content: " ↩︎";
    }
}
