////
/// Widgets
/// @group components
////


.widget {
    @include media("<=medium") {
        display: flex;
        flex-direction: column;
        order: 999;
    }

    aside & {
        @include clear;
    }
}

.widget-featured-anchor {
    float: right;
    margin-top: $measure-medium;
    font-family: $font-family-gamma;
    font-weight: $font-weight-bold;

    &::after {
        // NO-BREAK SPACE, RIGHTWARDS ARROW
        content: " →";
    }

    @include media("<=medium") {
        align-self: flex-end;
    }
}
