////
/// Widgets
/// @group components
////


.widget {
    display: flex;
    flex-direction: column;
    order: 999;

    aside & {
        @include clear;
    }
}

.widget-featured-anchor {
    align-self: flex-end;
    margin-top: $measure-medium;
    font-weight: $font-weight-bold;

    &::after {
        // NO-BREAK SPACE, LEFTWARDS ARROW WITH HOOK
        content: " ↩︎";
    }
}
