////
/// Widget
/// @group components
////


.widget {
    display: flex;
    flex-direction: column;

    aside & {
        @include clear;
    }
}

.widget--browse-posts {
    flex-direction: row;
    justify-content: space-between;
}

.widget-related-anchor,
.widget-previous-anchor,
.widget-next-anchor {
    @include v(margin-top, medium);
    @include v(font-weight, bold);
    text-underline-position: under;
}

.widget-related-anchor {
    align-self: flex-end;

    &::after {
        // NO-BREAK SPACE, LEFTWARDS ARROW WITH HOOK
        content: " ↩︎";
    }
}

.widget-previous-anchor,
.widget-next-anchor {
    flex: 1 0 calc(50% - #{$gutter-width / 2});

    &::before {
        display: block;
    }
}

.widget-previous-anchor {
    &::before {
        content: "← Older";
    }
}

.widget-next-anchor {
    text-align: right;
    margin-left: auto;

    &::before {
        content: "Newer →";
    }
}
