////
/// Aside
/// @group layout
////


/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `layout/_content.scss`.
 */
aside {
    @include font-family(serif);

    @include media("<=medium") {
        width: 100%;
    }

    @include media(">medium") {
        width: $aside-width;
        float: left;
        margin-left: #{($aside-width + $measure-large) * -1};
        margin-bottom: $measure-large;

        // @supports (display: grid) {
        //     grid-area: aside;
        //     margin-left: 0;
        // }
    }

    &:not(.author):not(:last-child) {
        @include media("<=medium") {
            margin-bottom: $measure-medium;
        }
    }

    h3 + & {
        margin-top: $measure-large;
    }

    figure {
        margin-bottom: 0;
    }

    figcaption,
    p {
        clear: both;

        @include media(">small") {
            font-size: $font-size-small;
        }
    }
}
