////
/// Aside
/// @group layout
////


/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `layout/_content.scss`.
 */
aside {
    font-family: $font-family-serif;

    @include media(">medium") {
        width: $aside-width;
        float: left;
        margin-left: -($aside-width + $measure-large);
    }

    @include media("<=medium") {
        width: 100%;

        &:not(.author):not(:last-child) {
            margin-bottom: $measure-medium;
        }
    }

    h3 + & {
        margin-top: $measure-large;
    }

    figure {
        margin-bottom: 0;
    }

    figcaption,
    p {
        clear: both;

        @include media(">small") {
            font-size: $font-size-small;
        }
    }
}
