////
/// Aside
/// @group layout
/// @link https://chrisburnell.com/styleguide/#aside
////


/**
 * The width of the asides is static above the medium breakpoint and always
 * floated within an article or list of articles. The math is calculated as in
 * `layout/_content.scss`.
 */
aside {
    @include font-family(serif);

    @include media("screen", "<=medium") {
        flex: 1 0 100%;
    }

    @include media("screen", ">medium") {
        width: $aside-width;
        width: var(--aside-width);
        float: left;
        margin-left: #{($aside-width + $measure-large) * -1};
        @include v(margin-bottom, large);

        // @supports (display: grid) {
        //     grid-area: aside;
        //     margin-left: 0;
        // }
    }

    &:not(.author):not(:last-child) {
        @include media("screen", "<=medium") {
            @include v(margin-bottom, medium);
        }
    }

    h3 + & {
        @include v(margin-top, large);
    }

    figure {
        margin-bottom: 0;
    }

    figcaption,
    p {
        clear: both;

        @include media("screen", ">small") {
            @include v(font-size, small);
        }
    }
}
