////
/// Content
/// @group layout
////

// The width of the content is fluid, and always has padding on the left-hand
// side to make room for any `aside`, which can appear anywhere inside
// `.content`.
.content {
    @include v(padding-top, large);

    @include media("screen", "<=medium") {
        // Below the medium breakpoint, `.content` and `aside` become full width.
        display: flex;
        flex-direction: column;
    }

    :not(.stretch) > & {
        @include media("screen", ">medium") {
            max-width: $content-width;
            grid-area: content;
        }
    }

    .stretch > & {
        max-width: $wrapper-width-medium;
        margin: 0 auto;
    }
}
