////
/// Footer
/// @group layout
////

footer {
    width: 100%;
    padding: $measure-large 0;
    padding: var(--measure-large) 0;
    @include v(border-top-width, default);
    @include v(border-top-style, default);
    @include v(border-top-color, raven);
}
