////
/// Header
/// @group layout
////


header {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;

    @include media("<=small") {
        flex-direction: column;
    }

    @include media("<=medium") {
        justify-content: center;
    }

    @include media(">medium") {
        @supports (display: grid) {
            display: grid;
            grid-template-columns: unquote("[left] #{$aside-width} [middle] min-content [right]");
        }
    }
}
