////
/// Header
/// @group layout
////


header {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;

    @include media("<=medium") {
        // center .logo below the `medium` breakpoint
        text-align: center;
    }

    @include media("<=small") {
        flex-direction: column;
    }
}
