////
/// Header
/// @group layout
////


header {
    display: flex;
    overflow-y: hidden;

    @supports (display: grid) {
        display: grid;
    }

    @include media("<=medium") {
        flex-direction: column;
        justify-content: center;

        @supports (display: grid) {
            grid-template-rows: repeat(2, min-content);
        }
    }

    @include media(">medium") {
        justify-content: space-between;

        @supports (display: grid) {
            grid-template-columns: $aside-width min-content;
        }
    }
}
