////
/// Main
/// @group layout
////

main {
    display: block;
    @include v(padding-bottom, large);

    @include media("screen", ">medium") {
        display: grid;
        // I don't understand why this works:
        grid-template-columns: #{$aside-width} minmax(1px, 1fr);
        grid-template-areas: "author content";
        grid-column-gap: $gap-width;
    }
}
