////
/// Wrap
/// @group layout
////


main {
    display: block;
    padding-bottom: $measure-large;

    // @supports (display: grid) {
    //     display: grid;
    //     grid-template-columns: unquote("[aside] #{$aside-width} [content] 1fr");
    //     grid-column-gap: $gutter-width;
    // }
}

.wrap {
    width: auto;
    max-width: $wrapper-width-large;
    padding-left:  $gutter-width;
    padding-right: $gutter-width;
    margin-left:  auto;
    margin-right: auto;
}
.wrap--full-width {
    max-width: 100%;
}

.clear {
    @include clear;
}
