////
/// Wrap
/// @group layout
////


.wrap {
    width: auto;
    max-width: $wrapper-width-large;
    padding-left:  $gutter-width;
    padding-right: $gutter-width;
    margin-left:  auto;
    margin-right: auto;
}
.wrap--full-width {
    max-width: 100%;
}

.clear {
    @include clear;
}
