////
/// Wrap
/// @group layout
////


main {
    display: flex;
    padding-top:    $measure-large;
    padding-bottom: $measure-large;

    @supports (display: grid) {
        display: grid;
    }

    @include media("<=medium") {
        flex-direction: column;

        @supports (display: grid) {
            grid-template-rows: unquote("[content] max-content [main-aside] max-content");
            grid-column-gap: $measure-large;
        }
    }

    @include media(">medium") {
        flex-direction: row-reverse;

        @supports (display: grid) {
            grid-template-columns: unquote("[main-aside] #{$aside-width} [content] 1fr");
            grid-column-gap: $gutter-width;
        }
    }
}

.wrap {
    width: auto;
    max-width: $wrapper-width-large;
    padding-left:  $gutter-width;
    padding-right: $gutter-width;
    margin-left:  auto;
    margin-right: auto;
}
.wrap--full-width {
    max-width: 100%;
}

.clear {
    @include clear;
}
