////
/// Functions
/// @group abstracts
////

@function --transparent(--color <color>, --alpha <number>) returns <color> {
	result: oklch(from var(--color) l c h / var(--alpha));
}

@function --range-map(--number <number>, --oldMin <number>, --oldMax <number>, --newMin <number>, --newMax <number>) returns <number> {
	result: calc(var(--newMin) + (var(--number) - var(--oldMin)) * (var(--newMax) - var(--newMin)) / (var(--oldMax) - var(--oldMin)));
}

@function --animation(--name <custom-ident>, --function <easing-function>: var(--animation-function)) returns <string> {
	result: var(--name) var(--function);
}

@function --transition(--name <single-transition-property>, --duration <time>: var(--transition-duration), --function <easing-function>: var(--transition-function), --delay <time>: 0) returns <string> {
	result: var(--name) var(--duration) var(--function) var(--delay);
}
