$breakpoints: (
	tiny: 500px,
	small: 700px,
	medium: 850px,
	large: 1000px,
	gigantic: 1200px,
	behemoth: 1600px,
);
$colors-extra: (
	shadow-light: #9c9c9c,
	shadow-dark: #0f0f0f,
	css: #0181d9,
	html: #e54d26,
	javascript: #f1c54c,
	json: #a9a9a9,
	liquid: #7ab55c,
	nunjucks: #448f3d,
	scss: #c6538c,
	webc: #00bcd4,
	yaml: #ee2b34,
);
$colors-oklch: (
	hue-brand: 237.73,
	brand: (
		lynx: (
			lightness: 17.58%,
			chroma: 0.017,
		),
		wolf: (
			lightness: 30.65%,
			chroma: 0.031,
		),
		bowhead: (
			lightness: 45.82%,
			chroma: 0.045,
		),
		raven: (
			lightness: 61.29%,
			chroma: 0.064,
		),
		highland: (
			lightness: 75.29%,
			chroma: 0.074,
		),
		coyote: (
			lightness: 87.72%,
			chroma: 0.038,
		),
		bear: (
			lightness: 95.99%,
			chroma: 0.012,
		),
	),
	monochrome: (
		thunder: (
			lightness: 12.21%,
		),
		mineshaft: (
			lightness: 28.91%,
		),
		kaiser: (
			lightness: 42.76%,
		),
		nickel: (
			lightness: 55.55%,
		),
		yeti: (
			lightness: 89.75%,
		),
		snowy: (
			lightness: 98.21%,
		),
	),
	utility: (
		aspen: (
			lightness: 88.68%,
			chroma: 0.182,
			hue: 95.33,
		),
		conifer: (
			lightness: 54.11%,
			chroma: 0.128,
			hue: 142.09,
		),
		maple: (
			lightness: 57.59%,
			chroma: 0.227,
			hue: 27.03,
		),
	),
);
$colors: (
	lynx: #091217,
	wolf: #20323d,
	bowhead: #3e5c6d,
	raven: #5f8aa6,
	highland: #80b7d7,
	coyote: #c0dbed,
	bear: #ebf3f9,
	thunder: #060606,
	mineshaft: #2b2b2b,
	kaiser: #4f4f4f,
	nickel: #737373,
	yeti: #dddddd,
	snowy: #f9f9f9,
	aspen: #ffd700,
	conifer: #3d8137,
	maple: #e0151f,
);
$font-families: (
	sans: "'Proxima Vara', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif",
	serif: "Georgia, Times, Times New Roman, serif",
	monospace: "monospace",
	nineties: "Courier",
	silly: "Comic Sans MS, Chalkboard SE, fantasy, serif",
	sophisticated: "Papyrus, serif",
);
$font-sizes: (
	alpha: clamp(2.074rem, 0.186rem + 4.314vw, 4.5rem),
	inbetween: clamp(1.728rem, 0.998rem + 1.669vw, 2.667rem),
	beta: clamp(1.438rem, 1rem + 1vw, 2rem),
	gamma: clamp(1.2rem, 0.967rem + 0.533vw, 1.5rem),
	default: clamp(1rem, 0.903rem + 0.222vw, 1.125rem),
	small: clamp(0.875rem, 0.778rem + 0.222vw, 1rem),
);
$font-weights: (
	light: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	heavy: 900,
);
$line-heights: (
	default: 1.875,
	small: 1.25,
	medium: 1.429,
	code: 2,
);
$opacities: (
	alpha: 0.9,
	beta: 0.5,
	gamma: 0.1,
	delta: 0.05,
);
$sizes-extra: (
	gutter: var(--size-medium),
	gap: calc(var(--size-gutter) * 2),
	space: clamp(1.5em, 0.04rem + 1.86vw, 2.25em),
	header: calc(3.75rem + var(--size-small) * 2),
	aside: clamp(15rem, 7.71rem + 13.71vw, 18rem),
	avatar: 100px,
	avatar-small: 48px,
	logo: clamp(9rem, -3.6rem + 28.8vw, 18rem),
	logo-small-min: 3.75rem,
	logo-small: clamp(var(--size-logo-small-min), 1.071rem + 8.571vw, 7.5rem),
	logo-brand: 1.5rem,
	character-limit: 60ch,
	line-length: clamp(21em, 100vw, 30em),
	border-default: 4px,
	border-thin: 2px,
);
$sizes: (
	gigantic: clamp(4rem, 3.611rem + 0.889vw, 4.5rem),
	large: clamp(2.25rem, 1.958rem + 0.667vw, 2.625rem),
	medium: clamp(1.25rem, 1.056rem + 0.444vw, 1.5rem),
	small: clamp(0.625rem, 0.528rem + 0.222vw, 0.75rem),
	tiny: clamp(0.313rem, 0.264rem + 0.111vw, 0.375rem),
	large-gigantic: clamp(2.25rem, 0.5rem + 4vw, 4.5rem),
	medium-gigantic: clamp(1.25rem, -1.278rem + 5.778vw, 4.5rem),
	small-gigantic: clamp(0.625rem, -2.389rem + 6.889vw, 4.5rem),
	tiny-gigantic: clamp(0.313rem, -2.944rem + 7.444vw, 4.5rem),
	medium-large: clamp(1.25rem, 0.181rem + 2.444vw, 2.625rem),
	small-large: clamp(0.625rem, -0.931rem + 3.556vw, 2.625rem),
	tiny-large: clamp(0.313rem, -1.486rem + 4.111vw, 2.625rem),
	small-medium: clamp(0.625rem, -0.056rem + 1.556vw, 1.5rem),
	tiny-medium: clamp(0.313rem, -0.611rem + 2.111vw, 1.5rem),
	tiny-small: clamp(0.313rem, -0.028rem + 0.778vw, 0.75rem),
);
$z-indexes: (
	below: -1,
	root: 0,
	default: 1,
	above: 2,
	menu: 3,
	modal: 4,
	dialog: 5,
	notificaton: 6,
);
