////
/// Mixins
/// @group abstracts
////

///
/// Visually hide an element properly.
///
@mixin hidden() {
	inline-size: 1px !important;
	block-size: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	border: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(100%) !important;
}

///
/// Iralicise words..
///
@mixin italic() {
	font-style: italic;
	font-synthesis: none;
	font-variation-settings: "ital" 125;
}

///
/// Break words.
///
@mixin break-words() {
	overflow-wrap: break-word;
	word-break: break-word;
}

///
/// Hyphenate words.
///
@mixin hyphenate() {
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

///
/// Make something non-selectable.
///
@mixin non-selectable() {
	user-select: none;
	-webkit-touch-callout: default;
	-webkit-touch-callout: none;
}

///
/// Make something non-interactive.
///
@mixin non-interactive() {
	@include non-selectable;
	pointer-events: none;
	cursor: not-allowed; // kind of redundant
}

///
///
///
@mixin nullify-animations() {
	*,
	*::before,
	*::after,
	::view-transition-old(*),
	::view-transition-new(*) {
		background-attachment: initial !important;
		animation-delay: 0s !important;
		animation-duration: 0s !important;
		animation-iteration-count: 1 !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}
