////
/// Mixins
/// @group abstracts
////

@use "sass:map";
@use "../generated/tokens";

///
/// Nest an inline-size-based container query.
///
@mixin cqi($name, $min: null, $max: null) {
	@if $min and $max {
		@container #{$name} (#{map.get(tokens.$breakpoints, $min)} < inline-size <= #{map.get(tokens.$breakpoints, $max)}) {
			@content;
		}
	} @else if $max {
		@container #{$name} (inline-size <= #{map.get(tokens.$breakpoints, $max)}) {
			@content;
		}
	} @else {
		@container #{$name} (inline-size > #{map.get(tokens.$breakpoints, $min)}) {
			@content;
		}
	}
}

///
/// Nest an block-size-based container query.
///
@mixin cqb($name, $min: null, $max: null) {
	@if $min and $max {
		@container #{$name} (#{map.get(tokens.$breakpoints, $min)} < block-size <= #{map.get(tokens.$breakpoints, $max)}) {
			@content;
		}
	} @else if $max {
		@container #{$name} (block-size <= #{map.get(tokens.$breakpoints, $max)}) {
			@content;
		}
	} @else {
		@container #{$name} (block-size > #{map.get(tokens.$breakpoints, $min)}) {
			@content;
		}
	}
}

///
/// Visually hide an element properly.
///
@mixin visually-hidden() {
	inline-size: 1px !important;
	block-size: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	border: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(100%) !important;
}

///
/// Italicise words
///
@mixin italic() {
	font-style: italic;
	font-synthesis: none;
	font-variation-settings: "ital" 125;
}
@mixin soft-italic() {
	font-style: italic;
	font-synthesis: none;
	font-variation-settings: "ital" 83;
}

///
/// Hyphenate words.
///
@mixin hyphenate() {
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

///
/// Make something non-selectable.
///
@mixin non-selectable() {
	user-select: none;
	-webkit-touch-callout: none;
}

///
/// Make something non-interactive.
///
@mixin non-interactive() {
	@include non-selectable;
	pointer-events: none;
}
