////
/// Variables (Code)
/// @group abstracts
////


/// @type Color
$color-css: #016fba !default;
/// @type Color
$color-html: #e54d26 !default;
/// @type Color
$color-haml: $color-html !default;
/// @type Color
$color-javascript: #f1c54c !default;
/// @type Color
$color-liquid: #7ab55c !default;
/// @type Color
$color-markdown: #515151 !default;
/// @type Color
$color-sass: #c6538c !default;
/// @type Color
$color-scss: $color-sass !default;


/// @type Map
/// @prop {String} key - Language name
/// @prop {Color} value - Language color
/// @require {Variable} $color-css
/// @require {Variable} $color-haml
/// @require {Variable} $color-html
/// @require {Variable} $color-javascript
/// @require {Variable} $color-liquid
/// @require {Variable} $color-markdown
/// @require {Variable} $color-sass
/// @require {Variable} $color-scss
$coding-languages: css        $color-css,
                   haml       $color-haml,
                   html       $color-html,
                   javascript $color-javascript,
                   liquid     $color-liquid,
                   markdown   $color-markdown,
                   sass       $color-sass,
                   scss       $color-scss;
