{% if env.ELEVENTY_PRODUCTION and site.carbon and ads != false %}
	{% set ads_css %}
		@layer components {
			{% include '../../../css/components/ads.css' %}
		}
	{% endset %}
	{%- css %}{{ ads_css | cssmin | safe }}{% endcss -%}
	<div class=" [ ads ] ">
		<!-- Carbon Ads -->
		<script async src="https://cdn.carbonads.com/carbon.js?serve={{ site.carbon }}&placement={{ site.url | getHost | replace(".", "") }}" id="_carbonads_js"></script>
	</div>
{% endif %}
