<div class=" [ author ] [ h-card  p-author ] ">
	<a href="{{ site.url }}/about/" class=" [ author__information ] [ flow ] [ u-url u-uid ] " rel="author me">
		<picture>
			<source srcset="/images/avatar.avif 1x,
							/images/avatar@2x.avif 2x,
							/images/avatar@3x.avif 3x,
							/images/avatar@4x.avif 4x"
					type="image/avif" />
			<source srcset="/images/avatar.webp 1x,
							/images/avatar@2x.webp 2x,
							/images/avatar@3x.webp 3x,
							/images/avatar@4x.webp 4x"
					type="image/webp" />
			<img src="/images/avatar.jpeg"
				srcset="/images/avatar.jpeg 1x,
						/images/avatar@2x.jpeg 2x,
						/images/avatar@3x.jpeg 3x,
						/images/avatar@4x.jpeg 4x"
				alt="{{ author.name }}"
				class=" [ author__image ] [ canada ] [ u-photo ] "
				width="100" height="100" loading="lazy" decoding="async">
		</picture>
		<div class=" [ author__name ] [ canada ]">
			<small>about</small>
			<span class=" [ anchor ] [ p-name ] ">{{ author.name }}</span>
		</div>
	</a>
	<div class=" [ author__biography ] [ flow ] ">
		<p style="text-wrap: balance;"><a href="/cv/">I’m looking for new work opportunities in <span class=" [ canada ] " style="white-space: nowrap;">Halifax, Canada <c-emoji>🇨🇦</c-emoji></span> or remotely!</a></a>
		<p class=" [ p-note ] ">{{ author.description | safe }}</p>
		<data class=" [ p-x-pronoun-nominative ] " value="he" hidden> </data>
		<data class=" [ p-x-pronoun-oblique ] " value="him" hidden> </data>
		<data class=" [ p-x-pronoun-possessive ] " value="his" hidden> </data>
	</div>
</div>
