<ol id="badges" class=" [ footer__navigation ] [ badges ] ">
	<li>
		<a href="https://notbyai.fyi" rel="external noopener" class=" [ badge ] " style="background-color: var(--color-yeti); color: var(--color-thunder);">
			<c-emoji>😄</c-emoji>
			<span>Written by <br>a <strong>human</strong></span>
		</a>
	</li>
	<li>
		<a href="https://www.11ty.dev/authors/{{ author.eleventy }}/" rel="external noopener" class=" [ badge ] " style="background-color: var(--color-thunder); color: var(--color-yeti);">
			<c-emoji>🎈</c-emoji>
			<span>Built with <br><strong>Eleventy</strong></span>
		</a>
	</li>
	<li>
		<a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="external noopener" class=" [ badge ] " style="background-color: var(--color-aspen); color: var(--color-mineshaft);">
			<c-emoji>☕</c-emoji>
			<span>Buy me <br>a <strong>coffee</strong></span>
		</a>
	</li>
</ol>
