<ol id="badges" class=" [ footer__navigation ] [ badges ] ">
	<li>
		<img src="/images/animated/88x31.gif" alt="chrisburnell.com 88x31 animated badge" loading="lazy" decoding="async" class=" [ pixelated ] [ requires-motion ] ">
		<img src="/images/88x31.png" alt="chrisburnell.com 88x31 badge" loading="lazy" decoding="async" class=" [ pixelated ] [ requires-static ] ">
	</li>
	<li>
		<a href="https://notbyai.fyi" rel="external noopener" title="Written by a human">
			<img src="/images/written-by-a-human.png" alt="Written by a human 88x31 badge" loading="lazy" decoding="async" class=" [ pixelated ] ">
		</a>
	</li>
	<li>
		<a href="https://www.11ty.dev/authors/{{ author.eleventy }}/" rel="external noopener" title="Built with Eleventy">
			<img src="/images/built-with-eleventy.png" alt="Built with Eleventy 88x31 badge" loading="lazy" decoding="async" class=" [ pixelated ] ">
		</a>
	</li>
	<li>
		<a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="external noopener" title="Buy me a coffee">
			<img src="/images/buy-me-a-coffee.png" alt="Buy me a coffee 88x31 badge" loading="lazy" decoding="async" class=" [ pixelated ] ">
		</a>
	</li>
</ol>
