<ol id="badges" class=" [ footer__navigation ] [ badges ] ">
	<li>
		<img src="/images/animated/88x31.gif?v7" alt="chrisburnell.com 88x31 animated badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] [ requires-motion ] ">
		<img src="/images/88x31.gif" alt="chrisburnell.com 88x31 badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] [ requires-static ] ">
	</li>
	<li>
		<img src="/images/written-by-a-human.gif" alt="Written by a human 88x31 badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] ">
	</li>
	<li>
		<a href="https://www.buymeacoffee.com/{{ author.buymeacoffee }}" rel="external noopener" title="Buy me a coffee" style="--color-active-border: #988529;">
			<img src="/images/buy-me-a-coffee.gif" alt="Buy me a coffee 88x31 badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] ">
		</a>
	</li>
	<li>
		<a href="https://echofeed.app/@{{ author.echofeed }}/" rel="external noopener" title="Powered by EchoFeed" style="--color-active-border: #7e523c;">
			<img src="/images/powered-by-echofeed-orange.gif" alt="Powered by EchoFeed 88x31 badge by Robb Knight" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] ">
		</a>
	</li>
	<li>
		<a href="https://www.11ty.dev/authors/{{ author.eleventy }}/" rel="external noopener" title="Built with Eleventy" style="--color-active-border: #060606;">
			<img src="/images/animated/built-with-eleventy.gif" alt="Built with Eleventy 88x31 animated badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] [ requires-motion ] ">
			<img src="/images/built-with-eleventy.gif" alt="Built with Eleventy 88x31 badge" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] [ requires-static ] ">
		</a>
	</li>
	<li>
		<a href="https://hillhouse.neocities.org/cliques/library/" rel="external noopener" title="Little Pixel Library">
			<img src="/images/little-pixel-library-card.gif" alt="My Little Pixel Library Card" loading="lazy" decoding="async" width="88" height="31" class=" [ pixelated ] ">
		</a>
	</li>
</ol>
