{% if banner -%}
	{% set banner_url = banner.url | default(banner) -%}
	{% set banner_alt = banner.alt | default('') -%}
	<figure>
		{% image './images/banners/' + banner_url, banner_alt, ' [ banner ] [ u-photo ] ' %}
		{% if banner.caption -%}
			<figcaption>{{ banner.caption | formatAsMarkdown | safe }}</figcaption>
		{%- endif %}
	</figure>
{%- endif %}
