{%- if category and not category.title -%}
	{% set previous_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | getPreviousCollectionItem(page) %}
	{% set next_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | getNextCollectionItem(page) %}

	{% if previous_post or next_post %}
		<nav class=" [ browse ] " aria-label="Browse to Previous and Next Posts">
			<ol class=" [ browse__list ] ">
				{% if previous_post %}
					<li>
						<a href="{{ previous_post.url }}" class=" [ browse__previous ] ">
							<strong>← Older</strong>
							<br>
							{{ previous_post.data.title | default(previous_post.data.of_title) | default(previous_post.data.of_title_fallback) | striptags(true) | safe }}
						</a>
					</li>
				{% endif %}
				{% if next_post %}
					<li>
						<a href="{{ next_post.url }}" class=" [ browse__next ] ">
							<strong>Newer →</strong>
							<br>
							{{ next_post.data.title | default(next_post.data.of_title) | default(next_post.data.of_title_fallback) | striptags(true) | safe }}
						</a>
					</li>
				{% endif %}
			</ol>
		</nav>
	{% endif %}
{%- endif -%}
