{%- if category and not category.title -%}
	{% set previous_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | rssOnlyFilter | getPreviousCollectionItem(page) -%}
	{% set next_post = collections[category] | arrayKeyIncludes('data.tags', 'post') | arePublished | rssOnlyFilter | getNextCollectionItem(page) -%}

	{% if previous_post or next_post %}
		<nav class=" [ browse ] " aria-label="Browse to Previous and Next Posts">
			<ol class=" [ browse__list ] ">
				{% if previous_post %}
					<li>
						<a href="{{ previous_post.url }}" class=" [ browse__previous ] ">
							<strong>← Older</strong>
							<br>
							{% if item.data.title or item.data.of_title or item.data.of_title_fallback -%}
								{{ previous_post.data.title | default(previous_post.data.of_title) | default(previous_post.data.of_title_fallback) | default(previous_post.data.meta_title) | default('Untitled') | striptags(true) | safe }}
							{%- elif item.data.rsvp -%}
								RSVP: {{ item.data.reply_title }}
							{%- else -%}
								Untitled
							{%- endif %}
						</a>
					</li>
				{% endif %}
				{% if next_post %}
					<li>
						<a href="{{ next_post.url }}" class=" [ browse__next ] ">
							<strong>Newer →</strong>
							<br>
							{% if item.data.title or item.data.of_title or item.data.of_title_fallback -%}
								{{ next_post.data.title | default(next_post.data.of_title) | default(next_post.data.of_title_fallback) | default(next_post.data.meta_title) | default('Untitled') | striptags(true) | safe }}
							{%- elif item.data.rsvp -%}
								RSVP: {{ item.data.reply_title }}
							{%- else -%}
								Untitled
							{%- endif %}
						</a>
					</li>
				{% endif %}
			</ol>
		</nav>
	{% endif %}
{%- endif -%}
