<aside class=" [ box ] [ flow ] " data-pagefind-ignore>
	<hr>
	<h2 class="no-fragment">Is this page broken?</h2>
	<p>Not at all! I’m participating in <strong><a href="https://css-naked-day.github.io/">CSS Naked Day</a></strong> with the hopes of helping to promote <q>proper use of HTML, semantic markup, [and] a good hierarchy structure</q>.</p>
	<p>This is an excellent exercise in making sure there is a clear separation of concerns between HTML and CSS and ensuring that the <em>content</em> of a website is accessible and navigable, particularly for visitors that won’t have the benefit of CSS to style the page (e.g. those using screen readers or RSS feed readers). I highly recommend trying it out and participating yourself!</p>
	<script type="module" src="/js/components/cssnakedday-countdown.js"></script>
	<cssnakedday-countdown></cssnakedday-countdown>
	<hr>
</aside>
