{% if global.cssnakedday -%}
	<aside class=" [ box ] [ flow ] ">
		<hr>
		<h2 class="no-fragment">Is this page broken?</h2>
		<p>Not at all! I’m participating in <strong><a href="https://css-naked-day.github.io/">CSS Naked Day</a></strong> with the hopes of helping to promote <q>proper use of HTML, semantic markup, [and] a good hierarchy structure</q>. In preparing for this event, I actually discovered a number of improvements that were easily-spotted when I didn't style the page, so I highly recommend trying it out and participating yourself!</p>
		<hr>
	</aside>
{%- endif %}
