<div data-pagefind-ignore>
	<hr>
	<details open>
		<summary>Is this page broken?</summary>
		<p>Not at all! I’m participating in <strong><a href="https://css-naked-day.github.io/"><abbr title="Cascading Style Sheets">CSS</abbr> Naked Day</a></strong> with the hope of helping to promote <q>proper use of HTML, semantic markup, [and] a good hierarchy structure</q>.</p>
		<p>This is an excellent exercise in making sure there is a clear separation of concerns between HTML and CSS and ensuring that the <em>content</em> of a website is accessible and navigable, particularly for visitors that won’t have the benefit of CSS to style the page (e.g. those using screen readers or RSS feed readers). I highly recommend trying it out and <a href="https://css-naked-day.github.io/#participate" rel="external noopener">participating yourself</a>!</p>
		<script type="module" src="/js/components/event-countdown.js"></script>
		<event-countdown name="CSS Naked Day" annual="true" max-division="hour"><time start datetime="{{ global.thisYear }}-04-09T00:00:00+14:00">9 April {{ global.thisYear }} 00:00:00 UTC+14</time>–<time end datetime="{{ global.thisYear }}-04-09T23:59:59-12:00">9 April {{ global.thisYear }} 23:59:59 UTC-12</time></event-countdown>
	</details>
	<hr>
</div>
