<p class=" [ box  box--warning ] [ flow ] [ line-length ] ">This is still a <em>draft</em>! The quality of this {% if 'post' in tags %}{{ categoryProper | default(category) | default('post') }}{% else %}page{% endif %} may not be up to snuff, and is probably far from being complete.</p>
