{% if npm -%}
Install the package, which is <a href="https://www.npmjs.com/package/{{ npm }}" rel="external noopener">available on npm</a>:

```bash
npm install {{ npm }}{% if dev %} --save-dev{% endif %}
```
{%- endif %}

{% if github -%}
You can also download it directly <a href="https://github.com/{{ github }}" rel="external noopener">from GitHub</a>:

<samp><a href="https://github.com/{{ github }}/archive/{{ branch | default('main')}}.zip" rel="external noopener">https://github.com/{{ github }}/archive/{{ branch | default('main')}}.zip</a></samp>
{%- endif %}
