{# Critical JS -#}
{%- if eleventy.env.runMode !== 'build' %}
		{# External files (local dev live reload will refresh without page reload) -#}
		<script src="{% getBundleFileUrl 'js', 'critical' %}"></script>
{%- else %}
		{# Inlined (fastest site performance on live) -#}
		<script>{% getBundle 'js', 'critical' %}</script>
{%- endif -%}

{# Render out Critical JS -#}
{%- js 'critical' -%}{% renderFile 'src/js/critical.js' %}{%- endjs %}
