{# Critical JS -#}
{%- if eleventy.env.runMode !== "build" %}
	{# External files (local dev live reload will refresh without page reload) -#}
	<script src="{% getBundleFileUrl 'js', 'critical' %}"></script>
{%- else  %}
	{# Inlined (fastest site performance in production) -#}
	<script>{% getBundle 'js', 'critical' %}</script>
{%- endif %}

{%- js 'critical' -%}{% renderFile 'src/js/critical.js' %}{%- endjs -%}
