{# Deferred JS -#}
<script type="module" src="{% getBundleFileUrl 'js', 'deferred' %}"></script>
<script src="{% getBundleFileUrl 'js' %}"></script>

{%- js 'deferred' -%}{% renderFile 'src/js/defer.js' %}{%- endjs -%}
{%- js -%}{% renderFile 'src/js/imports/settings.js' %}{%- endjs -%}
{%- js -%}{% renderFile 'src/js/imports/masonry-polyfill.js' %}{%- endjs -%}
{%- if eleventy.env.runMode === 'build' -%}
{%- js -%}{% renderFile 'src/js/imports/fathom.js' %}{%- endjs -%}
{%- endif -%}


