		{# Deferred JS -#}
		<script type="module" src="{% getBundleFileUrl 'js', 'module' %}" defer></script>
		<script src="{% getBundleFileUrl 'js' %}" defer></script>

{# JS Module Includes -#}
{%- if (js_module_includes | toArray) | length %}
		{%- for js_module_include in (js_module_includes | toArray) %}
		{%- js js_module_include -%}{% renderFile js_module_include %}{%- endjs %}
		<script src="{% getBundleFileUrl 'js', js_module_include %}" type="module" defer></script>
		{%- endfor -%}
{%- endif %}

{# JS Includes -#}
{%- if (js_includes | toArray) | length %}
		{%- for js_include in (js_includes | toArray) %}
		{%- js js_include -%}{% renderFile js_include %}{%- endjs %}
		<script src="{% getBundleFileUrl 'js', js_include %}" defer></script>
		{%- endfor -%}
{%- endif %}

{# Render out Deferred JS -#}
{%- js 'module' -%}{% renderFile 'src/js/defer.js' %}{%- endjs -%}
{%- js -%}{% renderFile 'src/js/imports/settings.js' %}{%- endjs -%}
