<div class=" [ box  box--warning  box--line-length ] [ flow ] " data-pagefind-ignore>
	<details class=" [ no-border ] ">
		<summary>It’s JS Naked Day!</summary>
		<p>I’m participating in <strong><a href="https://js-naked-day.org/" rel="external noopener"><abbr title="JavaScript">JS</abbr> Naked Day</a></strong> with the hope of helping to promote <q>the rule of least power</q>. This means that your browsing experience on this website during the 50 hours that make up JS Naked Day <em>should be</em> identical to one where you have disabled JavaScript in your browser.</p>
		<p>This is an excellent exercise in making sure there is a clear separation of concerns between HTML for markup, CSS for styling, and JavaScript for interactivity. I highly recommend trying it out and <a href="https://js-naked-day.org/#participate" rel="external noopener">participating yourself</a>!</p>
	</details>
</div>
