{# Critical JS -#}
{%- if eleventy.env.runMode === "serve" %}
	{# External files (local dev live reload will refresh without page reload) -#}
	<script src="{% getBundleFileUrl 'js', 'critical' %}"></script>
{%- else  %}
	{# Inlined (fastest site performance in production) -#}
	<script>{% getBundle 'js', 'critical' %}</script>
{%- endif %}

{# Deferred JS -#}
<script type="module" src="{% getBundleFileUrl 'js', 'module' %}"></script>
<script src="{% getBundleFileUrl 'js' %}"></script>

{%- js 'critical' -%}{% include '../../js/critical.js' %}{%- endjs -%}
{%- js 'module' -%}
	{% include '../../../node_modules/@daviddarnes/storage-form/storage-form.js' %}
	{% include '../../../node_modules/@11ty/is-land/is-land.js' %}
	{% include '../../../node_modules/@chrisburnell/svg-sparkline/svg-sparkline.js' %}
	{% include '../../js/imports/website-sounds.js' %}
	{% include '../../../node_modules/@daviddarnes/share-button/share-button.js' %}
	{% include '../../../node_modules/@zachleat/details-utils/details-utils.js' %}
	{% include '../../js/imports/welcome.js' %}
{%- endjs -%}
