<div id="lfw" class=" [ box  box--line-length ] [ flow ] [ no-print ] " style="margin-block-end: var(--size-large-gigantic);" data-pagefind-ignore>
	<p class=" [ gamma ] ">I’m looking for work!</p>
	<p>After 12 years in London, I made the decision to move to <span style="white-space: nowrap;">Singapore <span aria-hidden="true">🇸🇬</span></span>, and I’m now looking for new work opportunities, and hoping to transition from a Software Engineer into a Developer Relations role (but open to both)!</p>
	<p>If you’d like to get in touch, you can <a href="/about/#contact">contact me</a>, connect with me on <a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a>, or check out my <a href="/cv/">CV / resumé</a>.</p>
</div>
