<div id="lfw" class=" [ looking-for-work ] [ box  box--line-length ] [ flow ] [ no-print ] " data-pagefind-ignore>
	<style data-keep>
		.hide-lfw .looking-for-work,
		.looking-for-work:has(:checked) {
			display: none;
		}
	</style>
	<style>
		@layer blocks {
			.looking-for-work {
				--raven-lightness: 59.5%;
				--raven-chroma: 0.196;
				--raven-hue: 24.53;
				--color-raven: oklch(var(--raven-lightness) var(--raven-chroma) var(--raven-hue));
				--color-bowhead: color-mix(in oklab, var(--color-raven), var(--color-thunder) 33%);
				--color-highland: color-mix(in oklab, var(--color-raven), var(--color-snowy) 33%);
				margin-block-end: var(--size-large-gigantic);
			}
			.looking-for-work form {
				margin-block-start: 1em;
				text-align: center;
			}
		}
	</style>
	<hr class="[ visually-hidden ] ">
	<p class=" [ gamma ] ">I’m looking for work!</p>
	<p>I’m looking for new work opportunities in <strong style="white-space: nowrap;"><c-emoji>🇨🇦</c-emoji> Halifax, Canada</strong> or remotely as a <strong>Front End Developer</strong> / <strong>Software Engineer</strong>!</p>
	<p>If you’re hiring or know somewhere that I would be a good fit for, please <a href="/about/#contact">contact me</a>{% if page.url == '/cv/' %} or {% else %},{% endif %} connect with me on <a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a>{% if page.url != '/cv/' %}, or check out my <a href="/cv/">CV / résumé</a>{% endif %}.</p>
	<storage-form class="requires-js">
		<form>
			<label for="hide-lfw-toggler" class=" [ strong ] ">Hide this message</label>
			<input type="hidden" name="hide-lfw" value />
			<input type="checkbox" id="hide-lfw-toggler" name="hide-lfw" value="true" />
		</form>
	</storage-form>
	<hr class="[ visually-hidden ] ">
</div>
