{% if git -%}
<p class=" [ inline-center  center ] ">
	{% set git_user = git.split('/')[0] -%}
	{% set git_repo = git.split('/')[1] -%}
	<a href="https://git.chrisburnell.com/{{ git_user }}/{{ git_repo }}/src/branch/{{ branch | default('main') }}/LICENSE" title="Go to this project’s license" rel="external noopener"><img src="https://img.shields.io/badge/License-{{ license }}-5f8aa6" alt="{{ git_repo }} License" height="20" loading="lazy" decoding="async"></a>
	<a href="https://git.chrisburnell.com/{{ git_user }}/{{ git_repo }}" title="Go to repository on my personal Forgejo: {{ git_repo }}" rel="external noopener"><img src="https://img.shields.io/static/v1?label={{ git_user }}&message={{ git_repo }}&color=5f8aa6&logo=forgejo" alt="{{ git_repo }} on Forgejo" height="20" loading="lazy" decoding="async"></a>
	<a href="https://github.com/{{ git_user }}/{{ git_repo }}" title="Go to repository on GitHub: @{{ git_user }}/{{ git_repo }}" rel="external noopener"><img src="https://img.shields.io/static/v1?label={{ git_user }}&message={{ git_repo }}&color=5f8aa6&logo=github" alt="{{ git_repo }} on GitHub" height="20" loading="lazy" decoding="async"></a>
	<a href="https://www.npmjs.com/package/{{ npm }}" title="Go to @{{ git_user }}/{{ git_repo }} on npm" rel="external noopener"><img src="https://img.shields.io/github/release/{{ git_user }}/{{ git_repo }}?include_prereleases&sort=semver&color=5f8aa6&logo=npm" alt="{{ git_repo }} Releases" height="20" loading="lazy" decoding="async"></a>
</p>
{%- endif %}
