{% if item.data.photo or photo %}
	{% set photos = item.data.photo | default(photo) | toArray %}
	{% for lookup in photos %}
		<figure>
			{% set lookup_url = lookup.url | default(lookup) %}
			{% set lookup_alt = lookup.alt | default('') %}
			{% set lookup_classes = lookup.classes | default('') %}
			{% set lookup_widths = lookup.widths %}
			{% if item.data.photo and not lookup.widths %}
				{% set lookup_widths = [320, 480] %}
			{% endif %}
			{% if 'gif' in lookup_url %}
				<picture>
					<img src="/images/animated/{{ lookup_url }}" alt="{{ lookup_alt }}" class="{{ lookup_classes }}" loading="lazy" decoding="async">
				</picture>
			{% else %}
				{% image './images/content/' + lookup_url, lookup_alt, lookup_classes, lookup_widths %}
			{% endif %}
			{% if lookup.caption %}
				<figcaption>{{ lookup.caption | formatAsMarkdown | safe }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
{% endif %}
