{% if show_webmentions %}
	<div id="respond" class=" [ box ] [ flow ] [ responses ] " data-pagefind-ignore>
		<!-- </textarea> -->
		<!-- '"´ -->
		<form id="form" class=" [ responses__form ] " method="post" action="https://webmention.io/{{ site.url | getHost }}/webmention">
			<label class=" [ responses__label ] " for="responses-source">
				Have you published a <a href="https://indieweb.org/responses" rel="external noopener" target="_blank">response</a> to this {{ categoryProper | default(category) | default('page') }}? <small><a href="/privacy/#activity" class="">(Privacy)</a></small>
				<br>
				<a href="https://indieweb.org/reply#How_To" rel="external noopener" target="_blank">Learn how to send a Webmention</a> or let me know the <abbr title="Uniform Resource Locator">URL</abbr>:
			</label>
			<url-input><input type="url" inputmode="url" enterkeyhint="send" id="responses-source" class=" [ responses__input ] " name="source" size="20" aria-required="true" required style="font-size: 1em;" /></url-input>
			<input type="hidden" name="target" value="{{ canonical }}">
			<button class=" [ responses__submit ] " type="submit">Send</button>
			<p style="grid-column: 1 / span 2;">You can also <a href="https://quill.p3k.io/?dontask=1&me=https://commentpara.de&reply={{ canonical }}" class=" [ button  button--small ] " rel="external noopener">send an anonymous reply</a> <small>(using <a href="https://quill.p3k.io" rel="external noopener">Quill</a> and <a href="https://commentpara.de" rel="external noopener">Comment Parade</a>)</small>.</p>
		</form>
		{% if webmentions.length or stargazers > 0 %}
			{%- set webmentions = webmentions | replaceWebmentions -%}
			{%- set bookmarks = webmentions | getWebmentionsByTypes(['bookmark-of']) -%}
			{%- set likes = webmentions | getWebmentionsByTypes(['like-of']) -%}
			{%- set reposts = webmentions | getWebmentionsByTypes(['repost-of']) -%}
			{%- set links = webmentions | getWebmentionsByTypes(['mention-of']) -%}
			{%- set socialReplies = webmentions | getSocialReplies -%}
			{%- set reactions = bookmarks.concat(likes).concat(reposts).concat(links).concat(socialReplies) -%}
			{%- set directReplies = webmentions | getDirectReplies -%}
			{%- set stargazers = stargazers | default(0) -%}
			{%- set responsesLength = reactions.length + directReplies.length + stargazers -%}
			<div id="responses" class=" [ responses__thread ] [ flow ] ">
				<h2 class=" [ no-fragment ] [ sticky ] ">{{ responsesLength }} Response{{ 's' if responsesLength > 1 }}</h2>
				{% if reactions.length or stargazers %}
					<ol id="reactions" class=" [ reactions ] [ cluster ] [ strong ] ">
						{% if bookmarks.length -%}
							<li><c-emoji>🔖</c-emoji> {{ bookmarks.length }} Bookmark{{ 's' if bookmarks.length > 1 }}</li>
						{%- endif %}
						{% if likes.length -%}
							<li><c-emoji>❤️</c-emoji> {{ likes.length }} Like{{ 's' if likes.length > 1 }}</li>
						{%- endif %}
						{% if reposts.length -%}
							<li><c-emoji>🔄️</c-emoji> {{ reposts.length }} Repost{{ 's' if reposts.length > 1 }}</li>
						{%- endif %}
						{% if links.length -%}
							<li><c-emoji>🔗</c-emoji> {{ links.length }} Link{{ 's' if links.length > 1 }}</li>
						{%- endif %}
						{% if socialReplies.length -%}
							<li><c-emoji>⤴️</c-emoji> {{ socialReplies.length }} Social {% if socialReplies.length > 1 %}Replies{% else %}Reply{% endif %}{% if syndicate_to.length %} <small>(on {% for syndication in syndicate_to -%}<a href="{{ syndication | tweetback }}" rel="external noopener">{{ syndication | getSyndicationTitle }}</a>{%- if not loop.last %}, {% endif %}{%- endfor %})</small>{% endif %}</li>
						{%- endif %}
						{% if stargazers -%}
							<li><c-emoji>✨</c-emoji> <a href="https://github.com/{{ github }}">{{ stargazers }} Stargazer{{ 's' if stargazers > 1 }}</a></li>
						{%- endif %}
					</ol>
				{% endif %}
				{% if directReplies.length %}
					<ol id="replies" class=" [ replies ] [ flow ] ">
						{% for webmention in directReplies %}
							{%- set wmId = webmention['wm-id'] -%}
							{%- set wmType = webmention | getWebmentionType -%}
							{%- set wmDate = webmention | getWebmentionPublished -%}
							{%- set wmSource = webmention | getWebmentionSource | tweetback -%}
							{%- set wmURL = webmention | getWebmentionURL | tweetback -%}
							{%- set wmContent = webmention | getWebmentionContent -%}
							{%- set authorPhoto = webmention.author.photo -%}
							{%- set authorUrl = webmention.author.url | default(wmURL) | tweetback -%}
							{%- set authorName = webmention.author.name | default('Anonymous') -%}
							{%- if authorName == '' -%}{% set authorName = 'Anonymous' %}{%- endif -%}
							<li id="response-{{ wmId }}" class=" [ person ] [ h-cite  p-comment ] " data-type="{{ wmType }}">
								<div class=" [ person__avatar ] ">
									<a href="{{ authorUrl }}" rel="external nofollow" tabindex="-1">
										{% avatar authorPhoto, wmURL, authorUrl %}
									</a>
								</div>
								<div class=" [ person__meta ] ">
									<a href="#response-{{ wmId }}" class=" [ person__permalink ] [ gamma  extrabold ] " title="Permalink to this response" tabindex="-1">#</a>
									<a href="{{ authorUrl }}" class=" [ p-author  h-card  u-url ] " rel="external nofollow"><bdi class=" [ p-name ] ">{{ authorName }}</bdi></a>
									<small>wrote</small>
									<a href="{{ wmURL }}" class=" [ u-url  u-{{ wmType }} ] " rel="external nofollow" title="Read externally"><relative-time><time datetime="{{ wmDate | rfc3339Date }}" class=" [ dt-published ] "><small>on</small> {{ wmDate | friendlyDate | safe }}</time></relative-time></a>
								</div>
								<div class=" [ flow ] [ e-content ] ">
									{{ wmContent | safe }}
								</div>
							</li>
						{% endfor %}
					</ol>
				{% endif %}
			</div>
		{% endif %}
	</div>
	<script type="module" src="/js/components/url-input.js"></script>
{% endif %}
