{% if show_responses %}
	<div id="respond" class=" [ box ] [ flow ] [ responses ] ">
		<!-- </textarea> -->
		<!-- '"´ -->
		<form id="form" class=" [ responses__form ] " method="post" action="https://webmention.io/{{ site.url | getHost }}/webmention">
			<label class=" [ responses__label ] " for="responses-source">
				Have you published a <a href="https://indieweb.org/responses" rel="external noopener" target="_blank">response</a> to this {{ categoryProper | default(category) | default('page') }}? <small><a href="/privacy/#activity-and-interaction" class="">(Privacy)</a></small>
				<br>
				<a href="https://indieweb.org/reply#How_To" rel="external noopener" target="_blank">Learn how to send a Webmention</a> or let me know the <abbr title="Uniform Resource Locator">URL</abbr>:
			</label>
			<c-url-input id="responses-source" class=" [ responses__input ] " name="source" size="1" aria-required="true" required></c-url-input>
			<input type="hidden" name="target" value="{{ canonical }}">
			<button class=" [ responses__submit ] " type="submit">Send</button>
		</form>
		{% if webmentions.length or stargazers > 0 %}
			{%- set bookmarks = webmentions | getWebmentionsByTypes(['bookmark-of']) -%}
			{%- set likes = webmentions | getWebmentionsByTypes(['like-of']) -%}
			{%- set links = webmentions | getAllLinks -%}
			{%- set reposts = webmentions | getWebmentionsByTypes(['repost-of']) -%}
			{%- set reactions = bookmarks.concat(likes).concat(links).concat(reposts) -%}
			{%- set replies = webmentions | getAllReplies -%}
			{%- set stargazers = stargazers | default(0) -%}
			{%- set responsesLength = reactions.length + replies.length + stargazers -%}
			<div id="responses" class=" [ responses__thread ] [ flow ] ">
				<h2 class=" [ no-fragment ] [ sticky ] ">{{ responsesLength }} Response{{ 's' if responsesLength > 1 }}</h2>
				{% if reactions.length or stargazers %}
					<ol id="reactions" class=" [ reactions ] [ cluster ] [ strong ] ">
						{% if stargazers -%}
							<li><c-emoji>{{ emojis.stars }}</c-emoji> <a href="https://github.com/{{ github }}">{{ stargazers }} Stargazer{{ 's' if stargazers > 1 }}</a></li>
						{%- endif %}
						{% if bookmarks.length -%}
							<li><c-emoji>{{ emojis.bookmark }}</c-emoji> {{ bookmarks.length }} Bookmark{{ 's' if bookmarks.length > 1 }}</li>
						{%- endif %}
						{% if likes.length -%}
							<li><c-emoji>{{ emojis.heart }}</c-emoji> {{ likes.length }} Like{{ 's' if likes.length > 1 }}</li>
						{%- endif %}
						{% if links.length -%}
							<li><c-emoji>{{ emojis.link }}</c-emoji> {{ links.length }} Link{{ 's' if links.length > 1 }}</li>
						{%- endif %}
						{% if reposts.length -%}
							<li><c-emoji>{{ emojis.repost }}</c-emoji> {{ reposts.length }} Repost{{ 's' if reposts.length > 1 }}</li>
						{%- endif %}
					</ol>
				{% endif %}
				{% if replies.length %}
					<ol id="replies" class=" [ replies ] [ flow ] ">
						{% for webmention in replies %}
							{%- set wmId = webmention['wm-id'] -%}
							{%- set wmType = webmention | getWebmentionType -%}
							{%- set wmDate = webmention | getWebmentionPublished -%}
							{%- set wmSource = webmention | getWebmentionSource | tweetback -%}
							{%- set wmContent = webmention | getWebmentionContent -%}
							{%- set authorPhoto = webmention.author.photo -%}
							{%- set authorUrl = webmention.author.url | default(wmSource) | tweetback -%}
							{%- set authorName = webmention.author.name | default('Anonymous') -%}
							{%- if authorName == '' -%}{% set authorName = 'Anonymous' %}{%- endif -%}
							<li id="response-{{ wmId }}" class=" [ response ] [ h-cite  p-comment ] " data-type="{{ wmType }}">
								<div class=" [ response__avatar ] ">
									<a href="{{ authorUrl }}" rel="external nofollow" tabindex="-1">
										{% avatar authorPhoto, wmSource, authorUrl %}
									</a>
								</div>
								<div class=" [ response__meta ] ">
									<a href="#response-{{ wmId }}" class=" [ responses__permalink ] [ gamma  extrabold ] " title="Permalink to this response" tabindex="-1">#</a>
									<a href="{{ authorUrl }}" class=" [ p-author  h-card  u-url ] " rel="external nofollow"><span class=" [ p-name ] ">{{ authorName }}</span></a>
									<small>wrote on</small>
									<a href="{{ wmSource }}" class=" [ u-url  u-{{ wmType }} ] " rel="external nofollow" title="Read externally"><time class=" [ dt-published ] " datetime="{{ wmDate | rfc3339Date }}">{{ wmDate | friendlyDate | safe }}</time></a>
								</div>
								<div class=" [ e-content ] [ flow ] ">
									{{ wmContent | safe }}
								</div>
							</li>
						{% endfor %}
					</ol>
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endif %}
