{% if not js_module_includes.includes('node_modules/@chrisburnell/url-input/url-input.js') -%}
	{%- set js_module_includes = (js_module_includes.push('node_modules/@chrisburnell/url-input/url-input.js'), js_module_includes) -%}
{%- endif -%}

{% if show_responses and (show_replies != false or show_reactions != false) -%}
	{% set replies = webmentions.directReplies -%}
	{% set reactions = webmentions.bookmarks.concat(webmentions.likes).concat(webmentions.reposts).concat(webmentions.links).concat(webmentions.socialReplies) -%}
	{% set stargazers = stargazers | default(0) -%}
	<div id="respond" class=" [ box ] [ flow ] [ responses ] " data-pagefind-ignore>
		{% if webmentions.length or stargazers > 0 -%}
			<div id="responses" class=" [ responses__thread ] [ flow ] ">
				{% if webmentions.length %}<h2 class=" [ sticky ] [ no-fragment ] ">{{ webmentions.length }} Response{{ 's' if webmentions.length > 1 }}</h2>{% endif %}
				{% if reactions.length or stargazers -%}
					<ol id="reactions" class=" [ reactions ] [ cluster ] [ strong ] ">
						{% if webmentions.bookmarks.length -%}
							<li><c-emoji>🔖</c-emoji> {{ webmentions.bookmarks.length }} Bookmark{{ 's' if webmentions.bookmarks.length > 1 }}</li>
						{%- endif %}
						{% if webmentions.likes.length -%}
							<li><c-emoji>❤️</c-emoji> {{ webmentions.likes.length }} Like{{ 's' if webmentions.likes.length > 1 }}</li>
						{%- endif %}
						{% if webmentions.reposts.length -%}
							<li><c-emoji>🔄️</c-emoji> {{ webmentions.reposts.length }} Repost{{ 's' if webmentions.reposts.length > 1 }}</li>
						{%- endif %}
						{% if webmentions.links.length -%}
							<li><c-emoji>🔗</c-emoji> {{ webmentions.links.length }} Link{{ 's' if webmentions.links.length > 1 }}</li>
						{%- endif %}
						{% if webmentions.socialReplies.length -%}
							{% set syndication_array = [] -%}
							{% if syndicate_to.length -%}
								{% for syndication in syndicate_to -%}
									{% set syndication_item -%}<a href="{{ syndication | tweetback }}" target="_blank">{{ syndication | getSyndicationTitle }}</a>{%- endset -%}
									{% set syndication_array = (syndication_array.push(syndication_item), syndication_array) -%}
								{%- endfor %}
							{%- endif %}
							<li><c-emoji>⤴️</c-emoji> {{ webmentions.socialReplies.length }} Social {% if webmentions.socialReplies.length > 1 %}Replies{% else %}Reply{% endif %}{% if syndicate_to.length %} <small>(on {{ syndication_array | conjunction("narrow") | safe }})</small>{% endif %}</li>
						{%- endif %}
						{% if stargazers -%}
							<li><c-emoji>✨</c-emoji> <a href="https://github.com/{{ github }}">{{ stargazers }} Stargazer{{ 's' if stargazers > 1 }}</a></li>
						{%- endif %}
					</ol>
				{%- endif %}
				{% if replies.length -%}
					<ol id="replies" class=" [ replies ] [ flow ] ">
						{% for webmention in replies -%}
							{% set wmId = webmention['wm-id'] -%}
							{% set wmType = webmention | getWebmentionType -%}
							{% set wmDate = webmention | getWebmentionPublished -%}
							{% set wmSource = webmention | getWebmentionSource | tweetback -%}
							{% set wmURL = webmention | getWebmentionURL | tweetback -%}
							{% set wmContent = webmention | getWebmentionContent -%}
							{% set authorPhoto = webmention.author.photo -%}
							{% set authorUrl = webmention.author.url | default(wmURL) | tweetback -%}
							{% set authorName = webmention.author.name | default('Anonymous') -%}
							{% if authorName == '' -%}{% set authorName = 'Anonymous' %}{%- endif -%}
							<li id="response-{{ wmId }}" class=" [ person ] [ h-cite  p-comment ] " data-type="{{ wmType }}">
								<div class=" [ person__avatar ] ">
									<a href="{{ authorUrl }}" rel="external nofollow" tabindex="-1">
										{%- avatar authorPhoto, wmURL, authorUrl -%}
									</a>
								</div>
								<div class=" [ person__meta ] ">
									<a href="#response-{{ wmId }}" class=" [ person__permalink ] [ gamma  extrabold ] " title="Permalink to this response" tabindex="-1">#</a>
									<a href="{{ authorUrl }}" class=" [ p-author  h-card  u-url ] " rel="external nofollow"><bdi class=" [ p-name ] ">{{ authorName }}</bdi></a>
									<small>wrote</small>
									<a href="{{ wmURL }}" class=" [ u-url  u-{{ wmType }} ] " rel="external nofollow" title="Read externally"><relative-time><time datetime="{{ wmDate | rfc3339Date }}" class=" [ dt-published ] "><small>on</small> {{ wmDate | friendlyDate | safe }}</time></relative-time></a>
								</div>
								<div class=" [ flow ] [ e-content ] ">
									{{ wmContent | safe }}
								</div>
							</li>
						{%- endfor %}
					</ol>
				{%- endif %}
			</div>
		{%- endif %}
		{% if show_responses_form != false -%}
			<!-- </textarea> -->
			<!-- '"´ -->
			<form id="form" class=" [ responses__form ] " method="post" action="https://webmention.io/{{ site.url | getHost }}/webmention">
				<label class=" [ responses__label ] " for="responses-source">
					Have you published a <a href="https://indieweb.org/responses" rel="external noopener" target="_blank">response</a> to this {{ categoryProper | default(category) | default('page') }}? <small><a href="/privacy/#activity" class="">(Privacy)</a></small>
					<br>
					<a href="https://indieweb.org/reply#How_To" rel="external noopener" target="_blank">Learn how to send a Webmention</a> or let me know the <abbr title="Uniform Resource Locator">URL</abbr>:
				</label>
				<url-input><input type="url" inputmode="url" enterkeyhint="send" id="responses-source" class=" [ responses__input ] " name="source" size="20" aria-required="true" required /></url-input>
				<input type="hidden" name="target" value="{{ canonical }}">
				<button class=" [ responses__submit ] " type="submit">Send</button>
				<p>You can also <a href="https://quill.p3k.io/?dontask=1&me=https://commentpara.de&reply={{ canonical }}" class=" [ button  button--small ] " rel="external noopener">send an anonymous reply</a> <small>(using <a href="https://quill.p3k.io" rel="external noopener">Quill</a> and <a href="https://commentpara.de" rel="external noopener">Comment Parade</a>)</small>.</p>
			</form>
		{%- endif %}
	</div>
{%- endif %}
