<storage-form class=" [ flow ] " style="--flow-space: 1em;">
	{% if not global.isCSSNakedDay -%}
		<form>
			<label for="theme-selector">Select a theme:</label>
			<select id="theme-selector" name="theme" autocomplete="off">
				<optgroup label="Select a theme">
					<option value="" selected>Browser Default</option>
					{% for theme in themes %}
						<option value="{{ theme.id }}">
							{{ theme.title }}
						</option>
					{% endfor %}
				</optgroup>
			</select>
		</form>
		<form>
			<label for="high-contrast-toggler">High Contrast</label>
			<input type="hidden" name="high-contrast" value="false" />
			<input type="checkbox" id="high-contrast-toggler" name="high-contrast" value="true" />
			<p class=" [ indeterminate ] ">Using operating system default.</p>
		</form>
		<form>
			<label for="smooth-scroll-toggler">Smooth Scroll</label>
			<input type="hidden" name="smooth-scroll" value="false" />
			<input type="checkbox" id="smooth-scroll-toggler" name="smooth-scroll" value="true" />
			<p class=" [ indeterminate ] ">Using operating system default.</p>
		</form>
	{%- endif %}
	<form>
		<label for="user-sounds-toggler">Website Sounds</label>
		<input type="hidden" name="user-sounds" value />
		<input type="checkbox" id="user-sounds-toggler" name="user-sounds" value="true" />
	</form>
	<div>
		<button class=" [ button--small ] [ settings-reset ] " style="font-size: inherit;">Reset</button>
	</div>
</storage-form>
