<share-button id="share"><button class="anchor"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-highland);"><use href="#svg--share"></use></svg></c-emoji>Share</button><a href="mailto:?subject={{ meta_title | striptags(true) | safe }}&body={{ canonical }}"><c-emoji><svg width="16" height="16" aria-hidden="true" focusable="false" style="fill: var(--color-highland);"><use href="#svg--share"></use></svg></c-emoji>Share</a></share-button>
