<webcare-webshare id="share" share-text="{% if page.url != '/' %}{{ title | default(meta_title) | striptags | safe }} · {% endif %}{{ site.title }}" share-url="{{ canonical }}" label-copy="📋 Copy URL" label-after-copy="✅ Copied to Clipboard">
	<button class=" [ anchor ] " disabled><c-emoji><i class="fas fa-share"></i></c-emoji>Share</button>
</webcare-webshare>
