{% if global.sotb_upcoming -%}
	<div hidden id="sotb-banner" class=" [ box  box--line-length ] [ flow ] [ small ] " data-theme="koala" style="--box-border-color: #c61440; margin-block-end: var(--size-large);">
		<a href="{{ site.sotb.url }}" rel="external" style="display: block;" tabindex="-1">{% image './images/content/sotb-banner.svg', 'State of the Browser logo', '', [400] %}</a>
		<p><a href="{{ site.sotb.url }}" class=" [ delta ] " rel="external">State of the Browser</a>, a yearly one-day, single-track conference with widely-varying talks about the modern web, accessibility, web standards, and more, is back! <br>Join us in-person in London or online in {{ global.now | daysUntil(site.sotb.date) }} days on <strong><time datetime="{{ site.sotb.date }}">{{ site.sotb.date | friendlyDate }}</time></strong>!</p>
		<div class=" [ grid  navigator  center ] " style="--flow-space: 1rem;">
			<a class=" [ button ] " href="{{ site.sotb.url }}/tickets/" style="background-color: #df3180 !important; color: #f7f5f5 !important; --outline-color: #df3180;"><c-emoji>🔗</c-emoji> Get yourself a ticket!</a>
			<button id="sotb-banner-button" style="background-color: #f22670 !important; color: #f7f5f5 !important; --outline-color: #f22670;">Hide this banner</button>
		</div>
	</div>
{%- endif %}
