<ul class=" [ replies ] [ flow ] ">
	<li class=" [ person ] ">
		<div class=" [ person__avatar ] ">
			<a href="https://andy-bell.co.uk" rel="external nofollow" tabindex="-1">
				{% image './images/content/andy-bell.jpeg', 'Andy Bell’s profile photo', 'avatar' %}
			</a>
		</div>
		<div class="[ person__meta ]">
			<a href="https://andy-bell.co.uk" rel="external nofollow">
				<strong>Andy Bell</strong>
			</a>
		</div>
		<div class=" [ flow ] ">
			<p><q>Chris is such a superb person. I couldn't recommend you hire him more if I tried.</q></p>
		</div>
	</li>
	<li class=" [ person ] ">
		<div class=" [ person__avatar ] ">
			<a href="https://www.linkedin.com/in/elliotrylands" rel="external nofollow" tabindex="-1">
				{% image './images/content/elliot-rylands.jpeg', 'Elliot Ryland’s profile photo', 'avatar' %}
			</a>
		</div>
		<div class="[ person__meta ]">
			<a href="https://www.linkedin.com/in/elliotrylands" rel="external nofollow">
				<strong>Elliot Rylands</strong>
			</a>
		</div>
		<div class=" [ flow ] ">
			<p><q>Chris is a SUPER talented front end developer I had the pleasure of working with for 5 years, and would suggest any of my contacts in talent or general team leads in the market for a super knowledgeable, efficient dev snag him pronto.</q></p>
		</div>
	</li>
</ul>
