<storage-form>
	<form>
		<label for="theme-selector" class=" [ visually-hidden ] ">Select a theme</label>
		<select id="theme-selector" name="theme" autocomplete="off">
			<optgroup label="Select a theme">
				<option value="" selected>Browser Default</option>
				{% for theme in themes %}
					<option value="{{ theme.id }}">
						{{ theme.title }}
					</option>
				{% endfor %}
			</optgroup>
		</select>
	</form>
</storage-form>
