<hr data-pagefind-ignore>
<div id="unusual-rotations" class=" [ box  box--line-length ] [ flow ] " data-pagefind-ignore>
	<p class="small">This post is part of <a href="/tag/unusualrotations2026/">Unusual Rotations 2026</a>, a year-long project to immerse myself in 12 different musical genres that aren’t in my <q>usual</q> rotation over the course of a year, one genre of focus per month, in an effort to expand the horizons of my musical tastes, learn more about how genres have evolved and grown over time, and expose myself to a rich history of music that I might have otherwise overlooked!</p>
	<ol>
		<li><a href="/article/unusual-rotations-2026-01/">January: Grunge</a></li>
	</ol>
	<p class="small">More to come…</p>
</div>
