{% if updated_text %}
	<div id="updated" class=" [ updated ] [ box ] [ flow ] ">
		{% if updated %}
			<time datetime="{{ updated | rfc3339Date }}">Updated {{ updated | friendlyDateLong | safe }}:</time>
		{% endif %}
		{{ updated_text | formatAsMarkdown | safe }}
	</div>
{% endif %}
