{% if updated_text %}
	{% set updated_css %}
		@layer components {
			{% include '../../../css/components/updated.css' %}
		}
	{% endset %}
	{%- css %}{{ updated_css | cssmin }}{% endcss -%}
	<div id="updated" class=" [ updated ] [ box ] [ flow ] ">
		{% if updated %}
			<time datetime="{{ updated | rfc3339Date }}">Updated {{ updated | friendlyDateLong | safe }}:</time>
		{% endif %}
		{{ updated_text | markdownFormat | safe }}
	</div>
{% endif %}
