<div class=" [ box  box--line-length ] [ flow ] [ no-print ] " data-pagefind-ignore>
	<p>This post is part of <a href="/tag/weblogpomo2024/">#WeblogPoMo2024 / Weblog Posting Month 2024</a>, a one-month challenge to post as often as possible (daily, ideally) for the duration of May 2024!</p>
	<p><a href="https://weblog.anniegreens.lol/weblog-posting-month-2024" rel="external noopener">Learn more on Anne Sturdivant’s website</a>.</p>
</div>
