<div id="webrings" class=" [ webrings ] ">
	<ol class=" [ cluster ] ">
		<li>
			<a href="https://webri.ng/webring/cssjoy/previous?via={{ (site.url + '/') | urlencode }}" class=" [ small  no-wrap ] " rel="external noopener" title="Previous website in the CS.Sjoy.lol Webring">← Previous</a>
		</li>
		<li>
			<a href="https://cs.sjoy.lol/" class=" [ no-wrap ] " rel="external noopener" title="CS.Sjoy.lol Webring">CS.Sjoy.lol Webring</a>
		</li>
		<li>
			<a href="https://webri.ng/webring/cssjoy/random?via={{ (site.url + '/') | urlencode }}" class=" [ small  no-wrap ] " rel="external noopener" title="Random website in the CS.Sjoy.lol Webring">{{ 'Random' | spongebob }}</a>
		</li>
		<li>
			<a href="https://webri.ng/webring/cssjoy/next?via={{ (site.url + '/') | urlencode }}" class=" [ small  no-wrap ] " rel="external noopener" title="Next website in the CS.Sjoy.lol Webring">Next →</a>
		</li>
	</ol>
	<ol class=" [ cluster ] ">
		<li>
			<a href="https://xn--sr8hvo.ws/💘🇹🇫/previous" class=" [ small  no-wrap ] " rel="external noopener" title="Previous website in the IndieWeb Webring">← Previous</a>
		</li>
		<li>
			<a href="https://xn--sr8hvo.ws/" class=" [ no-wrap ] " rel="external noopener" title="IndieWeb Webring">IndieWeb Webring</a>
		</li>
		<li>
			<a href="https://xn--sr8hvo.ws/random" class=" [ small  no-wrap ] " rel="external noopener" title="Random website in the IndieWeb Webring">{{ 'Random' | spongebob }}</a>
		</li>
		<li>
			<a href="https://xn--sr8hvo.ws/💘🇹🇫/next" class=" [ small  no-wrap ] " rel="external noopener" title="Next website in the IndieWeb Webring">Next →</a>
		</li>
	</ol>
</div>
