////
/// Dark
/// @group themes
////

@include media("dark") {
    :root {
        --color-scheme: "dark";
    }

    :root:not([data-user-color-scheme]) {
        --color-black: #{$color-white};
        --color-mineshaft: #{$color-alto};
        --color-kaiser: #{$color-dove};
        --color-dove: #{$color-kaiser};
        --color-alto: #{$color-mineshaft};
        --color-white: #{$color-black};
    }
}

[data-user-color-scheme="dark"] {
    --color-black: #{$color-white};
    --color-mineshaft: #{$color-alto};
    --color-kaiser: #{$color-dove};
    --color-dove: #{$color-kaiser};
    --color-alto: #{$color-mineshaft};
    --color-white: #{$color-black};
}
