////
/// Dark
/// @group themes
////


@mixin theme-dark() {
    --color-kaiser: #{$color-dove};
    --color-dove: #{$color-kaiser};
    --color-coyote: #{$color-bowhead};
    --color-bowhead: #{$color-coyote};
    $color-bear: mix($color-raven, $color-mineshaft, $opacity-gamma * 100);
    --color-bear: #{$color-bear};

    .header,
    .main {
        color: var(--color-white);
    }

    .main {
        background-color: var(--color-mineshaft);
    }

    .footer {
        background-image: linear-gradient(to bottom, var(--color-black--gamma), var(--color-black--gamma));
    }

    h1 {
        text-shadow: 0.025em -0.025em 0 var(--color-mineshaft), 0.025em -0.0125em 0 var(--color-mineshaft), 0.025em 0.025em 0 var(--color-mineshaft), 0 0.025em 0 var(--color-mineshaft), -0.025em 0.025em 0 var(--color-mineshaft), -0.025em -0.0125em 0 var(--color-mineshaft), -0.025em -0.025em 0 var(--color-mineshaft);
    }

    a,
    .anchor {
        @include v(text-decoration-color, kaiser);
    }

    h2 a {
        @include v(color, alto);
        @include v(text-decoration-color, transparent);
    }

    .rating {
        &::before {
            @include v(color, kaiser);
        }

        &::after {
            @include v(color, alto);
        }
    }
}

@include media("dark") {
    :root {
        --color-scheme: "dark";
    }

    :root:not([data-user-color-scheme]) {
        @include theme-dark;
    }
}

[data-user-color-scheme="dark"] {
    @include theme-dark;
}
