////
/// Dark
/// @group themes
////

img,
svg,
[role="img"],
embed,
iframe,
object,
video {

}

@mixin theme-dark() {
    --color-black: #{$color-white};
    --color-mineshaft: #{$color-alto};
    --color-kaiser: #{$color-dove};
    --color-dove: #{$color-kaiser};
    --color-alto: #{$color-mineshaft};
    --color-white: #{$color-black};
}

@include media("dark") {
    :root {
        --color-scheme: "dark";
    }

    :root:not([data-user-color-scheme]) {
        @include theme-dark;
    }
}

/*:root*/[data-user-color-scheme="dark"] {
    @include theme-dark;
}
