////
/// The Matrix has you...
/// @group themes
////

$matrix-palette: (
	lynx: #273d27,
	bowhead: #00ee00,
	raven: #00dd00,
	coyote: #00cc00,
	bear: #e0f6e0,
);

@mixin theme-matrix() {
	@each $name, $color in $matrix-palette {
		--hsl-#{$name}: #{color.hue($color)} #{color.saturation($color)} #{color.lightness($color)};
	}
}

.matrix {
	@include theme-dark;
	@include theme-matrix;
}
