////
/// Outrun
/// @group themes
////

.outrun {
    --color-black: darkslateblue;
    --color-mineshaft: slateblue;
    --color-kaiser: mediumslateblue;
    --color-dove: mediumorchid;
    --color-alto: violet;
    --color-white: pink;
    --color-raven: skyblue; // hsl(24, 100%, 55%)
    --color-bowhead: #f56200; // hsl(24, 100%, 48%)
    --color-coyote: #ff8b3d; // hsl(24, 100%, 62%)
}
