////
/// Silly goose
/// @group themes
////

@mixin theme-silly() {
	--font-family-default: "Comic Sans MS", monospace;
	--font-family-alpha: "Papyrus", "Comic Sans MS", monospace;
	--font-family-serif: "Comic Sans MS", monospace;
}

.silly {
	@include theme-silly;
}
