////
/// Style Guide
/// @group pages
////

.color-block-list {
    width: 100%;
    display: table;
    margin: 0 auto;
    text-align: center;
    li {
        color: $color-white;
        height: 6.5rem;
        display: table-cell;
        font-family: $font-stack-code;
        font-size: $font-size-small;
        font-weight: 600;
        line-height: 7.429; // 6.5 / $font-size-small
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        &[data-color="#{$color-brand}"] {
            background-color: $color-brand;
        }
        &[data-color="#{$color-white}"] {
            background-color: $color-white;
            color: $color-text;
        }
        &[data-color="#{$color-text}"] {
            background-color: $color-text;
        }
        &[data-color="#{$color-text-alt}"] {
            background-color: $color-text-alt;
        }
        &[data-color="#{$color-text-light}"] {
            background-color: $color-text-light;
            color: $color-text;
        }
        @include media("<=small") {
            width: 6.5rem;
            display: inline-block;
        }
    }
}

.page-style-guide {
    :not(.lede) + [id] {
        margin-top: (1.5 * $spacing-large);
    }
}
