////
/// Anchor
/// @group blocks
////

@use "../abstracts/collections";
@use "../abstracts/functions";
@use "../abstracts/mixins";

h2 #{collections.$anchor}:not(:hover, :focus, :active) {
	text-decoration: none;
}

// Skip to main content
.skip-link {
	--outline-color: var(--color-bowhead);

	background-color: var(--color-bowhead);
	color: var(--color-snowy);
	display: block;
	padding: 1em 1.5em;
	position: absolute;
	inset-block-start: var(--size-medium);
	inset-inline-start: 50%;
	transform: translateX(-50%);
	font-weight: var(--font-weight-semibold);
	text-align: center;
	z-index: var(--z-index-notificaton);
}

// Fragment Anchors inside Headings
.fragment-anchor {
	color: light-dark(var(--color-nickel), var(--color-yeti));
	padding-inline: var(--size-small);
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: 0;
	transform: translateY(calc(-50% - 0.2cap));
	font-family: var(--font-family-monospace);
	font-size: 0.8125em;
	font-weight: var(--font-weight-semibold);
	text-transform: lowercase;

	#{collections.$heading}:not(:hover, :focus-within) > &:not(:hover, :focus, :active) {
		@apply --visually-hidden;
	}
}

// Related Anchors
.related-anchor::after {
	// NO-BREAK SPACE, RIGHTWARDS ARROW
	content: " →";
}

// Anchors around Icons
.icon-anchor {
	inline-size: var(--size-tap);
	block-size: var(--size-tap);
	display: inline-grid;
	place-items: center;
}

// Fancy gradient anchor text
.colourful-anchor {
	&:is(:hover, :focus, :active) {
		@media not print {
			background-color: transparent;
			background-image: linear-gradient(to bottom, var(--color-raven), var(--color-maple));
			background-clip: text;
			-webkit-text-fill-color: transparent;
			box-decoration-break: clone;
		}
	}
}

// Give footnote anchors more space
:is([id^="fnref"], [href^="#fnref"]) {
	letter-spacing: 1px;

	&::before,
	&::after {
		content: "\00a0";
	}
}
