////
/// Anchor
/// @group blocks
////

%anchor {
	h2 & {
		color: h(kaiser) !important;
		text-decoration-color: transparent;
		text-decoration-thickness: var(--size-border-thin);
		text-underline-offset: var(--size-border-default);
	}
}

a {
	// hide extra content, text targetted only to screen readers
	:not(.cf-wrapper) > & span:not([class]) {
		@include hidden;
	}
}

// Fancy gradient anchor text
.colourful-anchor {
	&:is(:hover, :focus, :active) {
		background-image: linear-gradient(to bottom right, h(raven), h(maple));
		background-clip: text;
		text-fill-color: transparent;
		box-decoration-break: clone;
	}
}

// Fragment Anchors inside Headings
.fragment-anchor {
	display: none;
	visibility: hidden;
	color: h(dove);
	padding-inline: var(--size-small);
	position: absolute;
	inset-block-start: 50%;
	inset-inline-end: calc(var(--size-small) * -1);
	font-family: var(--font-family-monospace);
	font-size: inherit;
	font-weight: var(--font-weight-bold);
	text-transform: lowercase;
	transform: translateY(calc(-50% - (var(--size-border-thin) * 2)));

	%heading:is(:hover, :focus, :active) &,
	&:target {
		display: inline-block;
		visibility: visible;
	}
}

// Related Anchors
.related-anchor::after {
	// NO-BREAK SPACE, RIGHTWARDS ARROW
	content: " →";
}

// Skip to main content
.skip-link {
	background-color: h(bowhead);
	color: h(milou);
	display: block;
	padding: 1em 1.5em;
	outline: var(--size-border-thin) solid h(bowhead);
	outline-offset: var(--size-border-thin);
	position: absolute;
	inset-block-start: var(--size-medium);
	inset-inline-start: 50%;
	transform: translateX(-50%);
	inset-block-start: var(--size-medium);
	font-weight: var(--font-weight-bold);
	text-align: center;
	z-index: var(--z-index-notificaton);
}

// Anchor Target Animation
[id]:target {
	animation: var(--animation-duration) var(--animation-function) anchor-target reverse;

	@at-root {
		@keyframes anchor-target {
			50%,
			100% {
				background-color: h(aspen);
			}
		}
	}
}
