////
/// Author
/// @group blocks
////

.author__information {
	--flow-space: var(--size-small);
	--size-border: 0;

	color: inherit;
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-serif);
	font-size: var(--font-size-small);
	font-style: italic;
	line-height: var(--line-height-medium);
	text-align: center;
	text-decoration: none;

	@include media("below:small") {
		margin-block-end: var(--size-gutter);
	}

	@include media("below:medium") {
		float: left;
		float: inline-start;
		margin-inline-end: var(--size-gap);
		margin-block-end: var(--size-gap);
	}

	@include media("above:medium") {
		float: right;
		float: inline-end;
		margin-inline-start: var(--size-gap);
	}

	&::before {
		@include non-interactive;
		content: "";
		opacity: 0;
		background-image: url("/images/avatar-pixelated.png");
		background-size: 100%;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
		// prettier-ignore
		transition:
			opacity var(--transition-duration) var(--transition-function),
			visibility 0s linear var(--transition-duration);
		z-index: var(--z-index-default);
	}

	&:is(:hover, :focus, :active) {
		&::before {
			opacity: 1;
			transition: opacity var(--transition-duration) var(--transition-function);
			animation: var(--animation-duration) var(--animation-function) infinite glitch;

			@at-root {
				@keyframes glitch {
					0%,
					15% {
						opacity: 0;
						filter: none;
					}
					15.01%,
					20% {
						opacity: 1;
					}
					20.01%,
					41% {
						opacity: 0;
						transform: none;
					}
					41.01%,
					47% {
						opacity: 1;
						transform: scaleY(-1);
					}
					47.01%,
					73% {
						opacity: 0;
						transform: none;
					}
					73.01%,
					75% {
						opacity: 1;
					}
					75.01%,
					78% {
						opacity: 0;
					}
					78.01%,
					83% {
						opacity: 1;
					}
					83.01%,
					92% {
						opacity: 0;
						filter: none;
					}
					92.01%,
					100% {
						opacity: 1;
						filter: invert(1) hue-rotate(42deg);
					}
				}
			}
		}
	}

	%anchor {
		color: inherit;
		font-family: var(--font-family-sans);
		font-size: var(--font-size-default);
		font-style: normal;
		font-weight: var(--font-weight-bold);
		text-decoration-color: transparent;
	}

	&:is(:hover, :focus, :active) {
		%anchor {
			text-decoration-color: h(maple);
		}
	}
}

.author__image {
	flex-grow: 0;
	flex-shrink: 0;
	flex: 0 0 var(--size-avatar);
	float: left;
	float: inline-start;
	position: relative;
	text-decoration: none !important;
	transition: opacity var(--transition-duration) var(--transition-function);
}

.author__image,
.author__image %image,
.author__information::before {
	aspect-ratio: 1 / 1;
	inline-size: var(--size-avatar);
	block-size: var(--size-avatar);
	border-radius: 50%;

	@supports (shape-outside: circle(50%)) {
		shape-outside: circle(50%);
	}
}

.author__biography {
	--flow-space: var(--size-small);

	font-size: var(--font-size-small);

	@include media("above:medium") {
		text-align: end;
	}
}

.author__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
