.box {
	background-color: h(thunder, delta);
	max-inline-size: 100% !important;
	padding: var(--size-medium);
	border-block-start: var(--size-border-thin) solid h(raven, beta);
	border-radius: 1px 1px var(--size-border-default) var(--size-border-default);
	background-clip: padding-box;
	text-align: start;
	font-family: var(--font-family-default);
	font-style: normal;

	& > * + * {
		--flow-space: var(--size-medium);
	}

	.meta & > * + * {
		--flow-space: 0;
	}

	:is(h2, h3) {
		font-size: var(--font-size-default);
		line-height: var(--line-height-medium);
		text-transform: none;
		letter-spacing: 0;
	}

	%anchor {
		color: h(bowhead);
	}
}

.box--success {
	background-color: h(conifer, delta);
	border-block-start-color: h(conifer, beta);
}

.box--warning {
	background-color: h(aspen, delta);
	border-block-start-color: h(aspen, beta);
}

.box--error {
	background-color: h(maple, delta);
	border-block-start-color: h(maple, beta);
}
