////
/// Breadcrumbs
/// @group blocks
/// Extends Cluster
////

.breadcrumbs {
	--delineator: "→";
	--padding-inline: var(--size-small);

	max-inline-size: 100%;
	color: h(kaiser);
	display: block;
	margin-block-start: var(--size-gap);
	font-weight: var(--font-weight-semibold);

	@media print {
		display: none;
	}

	%anchor {
		color: inherit;
	}
}
