////
/// Breadcrumbs
/// @group blocks
/// Extends Cluster
////

.breadcrumbs {
	--delineator: "→";
	--padding-inline: var(--size-small);

	color: h(kaiser);
	margin-block-start: var(--size-gigantic);

	%anchor {
		color: inherit;
	}
}
