////
/// Breadcrumbs
/// @group blocks
////

.breadcrumbs {
	color: h(kaiser);
	margin-block-start: var(--size-gigantic);

	@include media("below:medium") {
		display: none;
	}

	li {
		display: inline-block;
		white-space: nowrap;

		&:not(:first-child) {
			&::before {
				content: "→";
				display: inline-block;
				padding-inline: var(--size-small);
			}
		}
	}

	%anchor {
		color: inherit;
	}
}
