////
/// Browse
/// @group blocks
////

.browse {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block-start: var(--size-large);
	font-weight: var(--font-weight-semibold);
}

.browse__previous,
.browse__next {
	flex: 0 1 50%;

	&::before {
		display: block;
		font-weight: var(--font-weight-semibold);
	}
	&:not(:active) {
		color: h(dove);
	}
}
.browse__previous {
	&::before {
		content: "← Previously";
	}
}
.browse__next {
	text-align: end;
	margin-inline-start: auto;

	&::before {
		content: "Next →";
	}
}
