////
/// Browser Support
/// @group blocks
////

.browser-support {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-small);

	li {
		border-radius: var(--size-border-default);
		padding-inline: var(--size-small);
		font-weight: var(--font-weight-semibold);
	}
}

.supported {
	@extend .background--conifer;
}

.partial {
	@extend .background--aspen;
}

.unsupported {
	@extend .background--maple;
}
