////
/// Highlighted Code Blocks
/// @group blocks
////

pre[class*="language-"] {
	min-inline-size: 0;
	max-inline-size: 100%;
	display: block;
	padding: var(--size-gutter);
	border-block-start: var(--size-border-thin) solid var(--border-color, h(raven, beta));
	border-radius: 1px 1px var(--size-border-default) var(--size-border-default);
	overflow: auto;
	scrollbar-gutter: stable;
	position: relative;

	&,
	code {
		background-color: h(lynx);
		color: h(milou);
		font-family: var(--font-family-monospace);
		line-height: var(--line-height-code);
		overflow-wrap: normal;
		white-space: pre;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
	}

	code {
		background-color: transparent;
	}
}

// code[class*="language-"] {
// 	&::before {
// 		background-color: h(dove);
// 		color: h(milou);
// 		block-size: var(--size-gap);
// 		display: flex;
// 		align-items: center;
// 		padding-inline: var(--size-gutter);
// 		position: absolute;
// 		inset-block-start: 0;
// 		inset-inline-start: 0;
// 		border-radius: var(--size-border-default) var(--size-border-default) 0 0;
// 	}

// 	// Highlighted Code Block Labels
// 	&.language-bash::before {
// 		content: "Terminal";
// 		background-color: h(kaiser);
// 		color: h(milou);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(kaiser)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 		margin-block-start: 0 !important;
// 	}
// 	&.language-css::before {
// 		content: "CSS";
// 		background-color: h(css);
// 		color: h(milou);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(css)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-html::before {
// 		content: "HTML";
// 		background-color: h(html);
// 		color: h(thunder);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(html)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-javascript::before {
// 		content: "JavaScript";
// 		background-color: h(javascript);
// 		color: h(mineshaft);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(javascript)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-json::before {
// 		content: "JSON";
// 		background-color: h(json);
// 		color: h(mineshaft);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(json)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-liquid::before {
// 		content: "Liquid";
// 		background-color: h(liquid);
// 		color: h(mineshaft);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(liquid)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-markdown::before {
// 		content: "Markdown";
// 		background-color: h(markdown);
// 		color: h(alto);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(markdown)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-nunjucks::before,
// 	&.language-twig::before {
// 		content: "Nunjucks";
// 		background-color: h(nunjucks);
// 		color: h(milou);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(nunjucks)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-scss::before {
// 		content: "SCSS";
// 		background-color: h(scss);
// 		color: h(thunder);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(scss)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// 	&.language-yaml::before {
// 		content: "YAML";
// 		background-color: h(yaml);
// 		color: h(milou);
// 		@supports (color: color-contrast()) {
// 			color: color-contrast(#{h(yaml)} vs var(--contrast-list) to var(--contrast-ratio));
// 		}
// 	}
// }

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #ffd700;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
