////
/// Highlighted Code Blocks
/// @group blocks
////

@use "../abstracts/mixins";

.code-block {
	position: relative;

	button {
		color: var(--color-yeti);
		position: absolute;
		inset-block-start: var(--size-tiny);
		inset-inline-end: var(--size-gutter);
		font-weight: var(--font-weight-medium);
		z-index: var(--z-index-default);

		&:not(:is(:hover, :focus, :active)) {
			text-decoration-color: transparent;
		}
	}
}

pre[class*="language-"] {
	--flow-space: var(--size-large);
	background-color: light-dark(var(--color-mineshaft), color-mix(in oklab, var(--color-mineshaft), var(--color-thunder)));
	border-block-start: var(--size-border-thin) solid var(--border-color, var(--color-raven));
	padding: var(--size-gutter);
	border-radius: 0 0 var(--border-radius, var(--size-border-thin)) var(--border-radius, var(--size-border-thin));
	box-shadow: var(--box-shadow, var(--box-shadow-low));

	& code {
		color: var(--color-snowy);
		padding: 0;
		line-height: var(--line-height-code);
		white-space: pre-wrap;
	}

	.flow > * + & {
		margin-block: var(--flow-space, var(--size-large));
	}
}

pre[data-language-friendly] {
	padding-block-start: var(--size-gap);

	&::before {
		content: attr(data-language-friendly);
		color: var(--color-snowy);
		position: absolute;
		inset-block-start: var(--size-tiny);
		inset-inline-start: var(--size-gutter);
		font-family: var(--font-family-sans);
		font-weight: var(--font-weight-semibold);
	}

	&[data-filename]::before {
		content: attr(data-language-friendly) " · " attr(data-filename);
	}
}

pre:is(
	[data-language-friendly="bash" i],
	[data-language-friendly="plaintext" i]
)::before {
	color: var(--color-yeti);
}
pre[data-language-friendly="css" i]::before {
	color: var(--color-css);
}
pre[data-language-friendly="html" i]::before {
	color: var(--color-html);
}
pre[data-language-friendly="javascript" i]::before {
	color: var(--color-javascript);
}
pre[data-language-friendly="json" i]::before {
	color: var(--color-json);
}
pre[data-language-friendly="liquid" i]::before {
	color: var(--color-liquid);
}
pre[data-language-friendly="markdown" i]::before {
	color: var(--color-snowy);
}
pre[data-language-friendly="nunjucks" i]::before {
	color: var(--color-nunjucks);
}
pre[data-language-friendly="php" i]::before {
	color: var(--color-php);
}
pre[data-language-friendly="scss" i]::before {
	color: var(--color-scss);
}
pre[data-language-friendly="webc" i]::before {
	color: var(--color-webc);
}
pre[data-language-friendly="yaml" i]::before {
	color: var(--color-yaml);
}

pre.language-none {
	padding-block-start: var(--size-gutter);
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #d4d0ab;
}

.token.punctuation {
	color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffa07a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
pre.language-css .token.string,
.style .token.string,
.token.variable {
	color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #eab538;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #eab538;
}

pre:has(.token:is(.inserted, .deleted):not(.prefix)) code {
	padding-inline-start: 3ch;
}

.token:is(.inserted, .deleted):not(.prefix) {
	display: block;
	padding-inline-start: 3ch;
	margin-inline-start: -3ch;
	position: relative;
}
.token.inserted:not(.prefix) {
	background-color: oklch(from var(--color-conifer) l c h / 0.333);
}
.token.deleted:not(.prefix) {
	background-color: oklch(from var(--color-maple) l c h / 0.333);
	@include mixins.non-selectable;
}

.token.prefix:is(.unchanged, .inserted, .deleted) {
	position: absolute;
	left: 0;
	padding-inline: 1ch;
	@include mixins.non-selectable;
}

.token:is(.important, .bold) {
	font-weight: var(--font-weight-semibold);
}
.token.italic {
	@include mixins.italic;
}

.token.entity {
	cursor: help;
}
