////
/// Context
/// @group blocks
////

.context {
	font-size: var(--font-size-default);
	font-family: var(--font-family-serif);
	margin-block-start: var(--size-gap);

	@apply --inline-below(var(--size-breakpoint-tiny)) {
		font-size: var(--font-size-small);
	}

	@apply --inline-above(var(--size-breakpoint-small)) {
		text-align: center;
	}

	& :is(p, blockquote, details, table, dl, ol, ul, figure:not([class])) {
		max-inline-size: var(--size-line-length);
		margin-inline: auto;
	}

	& time {
		@apply --italic;

		& sup::before {
			content: " ";
			font-size: 0.5em;
		}
	}
}
