////
/// Content
/// @group blocks
////

.content,
.e-content {
	--flow-space: var(--size-large);
}
.content {
	margin-block-start: var(--size-large);
	overflow: hidden;

	.description--published ~ & {
		@include media("below:medium") {
			margin-block-start: 0;
		}
	}

	.title[hidden] ~ &,
	.title.hidden ~ & {
		@include media("above:medium") {
			margin-block-start: var(--size-gigantic);
		}
	}
}
