////
/// Context
/// @group blocks
////

@use "../abstracts/collections";
@use "../abstracts/mixins";

.context {
	font-size: var(--font-size-default);
	font-family: var(--font-family-serif);
	margin-block-start: var(--size-gap);

	@include mixins.cqi(null, null, "tiny") {
		font-size: var(--font-size-small);
	}

	@include mixins.cqi(null, "small") {
		text-align: center;
	}

	#{collections.$content} {
		max-inline-size: var(--size-line-length);
		margin-inline: auto;
	}

	time {
		@include mixins.italic;

		sup::before {
			content: " ";
			font-size: 0.5em;
		}
	}
}
