////
/// Context
/// @group blocks
////

@use "../abstracts/mixins-scss" as *;

.context {
	font-size: var(--font-size-default);
	font-family: var(--font-family-serif);
	margin-block-start: var(--size-gap);

	@include cqi(null, null, "tiny") {
		font-size: var(--font-size-small);
	}

	@include cqi(null, "small") {
		text-align: center;
	}

	& :is(p, blockquote, details, table, dl, ol, ul, figure:not([class])) {
		max-inline-size: var(--size-line-length);
		margin-inline: auto;
	}

	& time {
		@include italic;

		& sup::before {
			content: " ";
			font-size: 0.5em;
		}
	}
}
