////
/// Content
/// @group blocks
////

.content,
.e-content {
	--flow-space: var(--size-space);
}
.content {
	// required: works like overflow for this .pantheon grid item
	min-width: 0;
	margin-block-start: var(--size-large);
}
