////
/// Deck
/// @group blocks
////

.deck {
	article {
		--flow-space: var(--size-tiny);

		max-inline-size: var(--size-line-length);

		&:not(:first-child) {
			padding-block-start: var(--size-medium);
		}

		&:not(:last-child) {
			padding-block-end: var(--size-medium);
		}
	}
	article + article {
		border-block-start: var(--size-border-thin) solid h(mineshaft, delta);
	}

	h1 {
		@extend %gamma;

		font-weight: var(--font-weight-semibold);

		.emoji {
			display: inline-block;
			padding-inline-end: var(--size-small);
		}
	}

	%anchor {
		&:not(:is(:hover, :focus, :active)) {
			color: inherit !important;
		}
	}

	figure {
		padding: var(--padding, 1em);
	}
}

.deck__context {
	font-family: var(--font-family-serif);
	font-style: italic;
	font-variation-settings: "ital" 1;
}

.deck__meta {
	--flow-space: var(--size-small);

	time {
		font-style: italic;
		font-variation-settings: "ital" 1;
		white-space: nowrap;
	}
}
