////
/// Deck
/// @group blocks
////

.deck {
	article {
		--flow-space: var(--size-tiny);

		max-inline-size: var(--size-line-length);

		&:not(:first-child) {
			padding-block-start: var(--size-medium);
		}

		&:not(:last-child) {
			padding-block-end: var(--size-medium);
		}
	}
	article + article {
		border-block-start: var(--size-border-thin) solid h(mineshaft, delta);
	}

	%heading {
		@extend %gamma;

		.emoji {
			display: inline-block;
			padding-inline-end: var(--size-small);
		}
	}

	%anchor {
		color: inherit;
	}
}

.deck__context,
.deck__meta {
	font-style: italic;
}

.deck__meta {
	li {
		display: inline-block;
		white-space: nowrap;

		&:not(:first-child) {
			&::before {
				content: "·";
				display: inline-block;
				padding-inline: var(--size-tiny);
			}
		}
	}
}
