////
/// Description
/// @group blocks
////

.description {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-default);

	.full &,
	.wide & {
		text-align: start;
	}

	.title[hidden] ~ &,
	.title.hidden ~ & {
		margin-block-start: var(--size-gigantic);
	}

	p {
		max-inline-size: var(--size-line-length);
	}

	%anchor {
		color: inherit;
	}

	time {
		font-style: italic;
		white-space: nowrap;
	}
}
.description--published {
	font-size: var(--font-size-default);

	@include media("below:medium") {
		order: -1;
		font-size: var(--font-size-small);
	}
}
