////
/// Description
/// @group blocks
////

.description {
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
	text-wrap: balance;

	p {
		@include cqi(null, "small") {
			margin-inline: auto;
		}
	}

	%anchor {
		color: inherit;
	}

	time {
		@include italic;
	}

	.title ~ & {
		margin-block-start: var(--size-gap);
	}

	.content & {
		margin-block-end: var(--size-gap);
	}
}

.title + .description {
	margin-block-start: var(--size-gap);
}
