////
/// Description
/// @group blocks
////

@use "../abstracts/collections";
@use "../abstracts/mixins";

.description {
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
	text-wrap: balance;

	p {
		@apply --inline-above(null, var(--size-breakpoint-small)) {
			margin-inline: auto;
		}
	}

	#{collections.$anchor} {
		color: inherit;
	}

	time {
		@apply --italic;

		sup::before {
			content: " ";
			font-size: 0.5em;
		}
	}

	.title ~ & {
		margin-block-start: var(--size-gap);
	}

	.content & {
		margin-block-end: var(--size-gap);
	}
}

.title + .description {
	margin-block-start: var(--size-gap);
}
