////
/// Description
/// @group blocks
////

@use "../abstracts/mixins-scss" as *;

.description {
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
	text-wrap: balance;

	& p {
		@include cqi(null, "small") {
			inline-size: 100%;
			max-inline-size: var(--size-line-length);
			margin-inline: auto;
		}
	}

	& :is(a:not(.button), .anchor) {
		color: inherit;
	}

	& time {
		@include italic;

		& sup::before {
			content: " ";
			font-size: 0.5em;
		}
	}

	.title ~ & {
		margin-block-start: var(--size-gap);
	}

	.content & {
		margin-block-end: var(--size-gap);
	}
}

.title + .description {
	margin-block-start: var(--size-gap);
}
