////
/// Embeds & Media
/// @group blocks
////

// Client-side Web Component Renderer
// a.k.a. "Partial Hydration" B-)
is-land {
	display: block;
}

// Codepen Embed, Speaker Deck Embed
:is(.cp_embed_wrapper, .speakerdeck-embed-wrapper) {
	--max-inline-size: auto;
	--gutter: 0;

	padding: 0;

	iframe {
		margin-block-end: 0;
	}
}

// CodePen Embeds
.cp_embed_wrapper {
	resize: both;
	overflow: auto;
}
