////
/// Embeds & Media
/// @group blocks
////

// Client-side Web Component Renderer
// a.k.a. "Partial Hydration" B-)
is-land {
	display: block;
}

// CodePen Embeds
.cp_embed_wrapper {
	@extend %box;
	--max-inline-size: auto;
	--gutter: 0;
	resize: both;
	overflow: auto;

	iframe {
		margin-block-end: 0;
	}
}

// Speakerdeck Embeds
.speakerdeck-embed-wrapper {
	@extend %box;
	--max-inline-size: auto;
	--gutter: 0;

	iframe {
		@extend %media-child;
	}
}
