////
/// Footer
/// @group blocks
////

@use "../abstracts/mixins";

.footer {
	container: footer / inline-size;
	background-color: var(--background-color, light-dark(var(--color-mineshaft), color-mix(in oklab, var(--color-thunder), var(--color-mineshaft) 80%)));
	padding-block: var(--size-large);
	border-block-start: var(--size-border-thin) solid var(--border-color, var(--color-raven));
	z-index: var(--z-index-menu);

	@media print {
		display: none;
	}

	&,
	& :is(a:not(.button), .anchor) {
		&:not(:hover, :focus, :active) {
			text-decoration-color: var(--color-kaiser);
		}
	}

	& button {
		font-size: inherit;
	}

	& svg {
		inline-size: calc(1lh - 1.25cap);
		block-size: calc(1lh - 1.25cap);
		transition: fill var(--transition-duration) var(--transition-function);
	}

	& span[title] {
		color: inherit;
	}
}

.footer__grid {
	@include mixins.cqi(null, null, "medium") {
		display: flex;
		flex-direction: column;
		gap: var(--size-gutter);
	}

	@include mixins.cqi(null, "medium") {
		display: grid;
		grid-template-columns:
			[left-start]
			1fr
			[left-end right-start]
			1fr
			[right-end];
		grid-auto-rows: auto;
		column-gap: var(--size-gap);
		row-gap: var(--size-gutter);
	}

	& .footer__navigation {
		--padding-inline: 0.625em;
		grid-column: left;
		display: flex;
		flex-wrap: wrap;
		row-gap: 0.5em;
		line-height: var(--line-height-code);

		& li {
			white-space: nowrap;
		}
	}

	& .author {
		grid-column: right;
		grid-row: 1/4;
	}

	& .webrings {
		grid-column: left;
		grid-row: 4;
	}

	& :is(.badges, .speedlify) {
		grid-column: right;
	}

	& .badges {
		column-gap: var(--size-small);

		@include mixins.cqi(null, "medium") {
			justify-content: end;
		}

		@include mixins.cqi(null, null, "medium") {
			margin-block-start: var(--size-small-medium);
		}
	}

	& .speedlify {
		@include mixins.cqi(null, "medium") {
			text-align: end;
		}
	}

	& summary:not(:hover, :focus, :active) {
		text-decoration-color: var(--color-kaiser);
	}

	& summary ~ * {
		line-height: var(--line-height-code);
	}
}
