////
/// Footer
/// @group blocks
////

.footer {
	background-color: h(mineshaft);
	padding-block-start: var(--size-large);
	padding-block-end: var(--size-large);
	border-block-start: var(--size-border-thin) solid h(highland);

	@include media("print") {
		display: none;
	}

	&,
	%anchor {
		color: h(milou) !important;

		&:not(:is(:hover, :focus, :active)) {
			text-decoration-color: h(kaiser);
		}
	}

	button {
		font-size: inherit;
	}
}

.footer__grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: var(--size-gutter);

	@include media("above:medium") {
		grid-template-columns:
			[left-start]
			1fr
			[left-end]
			var(--size-gap)
			[right-start]
			1fr
			[right-end];
		grid-template-rows: auto 1fr auto;
		column-gap: var(--size-gutter);
	}

	.author {
		grid-column: right;
		grid-row: 1/4;
	}

	// Represents the two navigations and Speedlify
	.footer__navigation,
	p {
		grid-column: left;
	}
}
