////
/// Header
/// @group blocks
////

.header {
	background-color: h(bear);
	z-index: var(--z-index-menu);

	// Media query is based on size of the logo, where the header is only
	// sticky when browser height is at least calc(5 * var(--size-logo-small))
	// Note: CSS Variables don't work in media queries
	@media (min-height: calc(5 * #{map-get($sizes, "logo-small")})) {
		position: sticky;
		top: 0;
	}

	@include media("print") {
		display: none;
	}

	.wrap {
		--max-inline-size: var(--size-breakpoint-large);
		inline-size: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: var(--size-small);
	}

	.logo,
	.navigation {
		flex: 0 1 auto;
	}
}
