////
/// Header
/// @group blocks
////

.header {
	container: header / inline-size;
	background-color: h(bear);
	overflow-y: hidden;
	box-shadow: var(--box-shadow-low);
	transition: all var(--transition-duration) var(--transition-function);
	z-index: var(--z-index-menu);

	@include media("print") {
		display: none;
	}

	.wrap {
		--max-inline-size: var(--size-breakpoint-large);

		inline-size: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: var(--size-small);
	}

	.logo {
		flex: 0 0 auto;
	}

	.navigation {
		flex: 0 1 auto;
		margin-inline-start: var(--size-gutter);
	}
}
