////
/// Images
/// @group blocks
////

.banner {
	box-shadow: var(--box-shadow, var(--box-shadow-medium));
}

.avatar {
	box-sizing: content-box;
	aspect-ratio: 1 / 1;
	display: inline-block;
	border-radius: 50%;
	border: var(--size-border-thin) solid h(raven, beta);
	box-shadow: var(--box-shadow, var(--box-shadow-low));
	transition: border-color var(--transition-duration) var(--transition-function);

	[href]:is(:hover, :focus, :active) & {
		border-color: h(maple);
	}

	.grid article & {
		float: left;
		float: inline-start;
		margin-inline-end: var(--size-small);

		& + * {
			margin-block-start: 0;
		}
	}
}

// Used inside h-resume / CV Page
.brand-logo {
	block-size: 1.5rem;
	inline-size: 1.5rem;
	display: inline-block;
	vertical-align: sub;
}

.pixelated {
	image-rendering: pixelated;
}

.dreamy,
%dreamy {
	filter: url("/images/dreamy.svg#dreamy");
}

.fsociety,
%fsociety {
	filter: url("/images/fsociety.svg#fsociety");
}
