////
/// Librarian
/// @group blocks
////

.librarian {
	background-color: mix(map-get($colors, thunder), map-get($colors, milou), map-get($opacities, delta) * 100%);
	position: sticky;
	inset-block-start: 0;
	z-index: var(--z-index-modal);

	.no-js & {
		display: none;
	}
}

.librarian-island {
	display: block;
	margin-block-start: var(--flow-space, 1em);
}
