////
/// Logo
/// @group blocks
////

@use "../abstracts/collections";

.logo {
	block-size: var(--size-logo-small);
	inline-size: var(--size-logo-small);
	display: flex;
	@apply --transition(all);

	& #{collections.$image} {
		max-block-size: 100%;
		object-fit: contain;
		@apply --transition(transform);
	}

	&[href]:is(:hover, :focus, :active) {
		background: none !important;

		&,
		& #{collections.$image} {
			outline: none;
		}

		& #{collections.$image} {
			transform: scale(1.5) rotate(6deg);
		}
	}
}
