////
/// Media
/// @group blocks
////

// Contains embedded media properly and allows them to be dynamically resized
// inside a set aspect ratio container.
.media {
	inline-size: 100%;

	& > * {
		aspect-ratio: 16 / 9;
		inline-size: 100% !important;
		block-size: auto !important;
		margin: 0 auto;
	}
}

.media--4-by-3 {
	& > * {
		aspect-ratio: 4 / 3;
	}
}

.banner {
	box-shadow: var(--box-shadow, var(--box-shadow-medium));
}

.avatar {
	box-sizing: content-box;
	aspect-ratio: 1 / 1;
	display: inline-block;
	border-radius: 50%;
	border: var(--size-border-thin) solid h(raven, beta);
	box-shadow: var(--box-shadow, var(--box-shadow-low));
	transition: border-color var(--transition-duration) var(--transition-function);

	[href]:is(:hover, :focus, :active) & {
		border-color: h(maple);
	}

	.grid article & {
		float: left;
		float: inline-start;
		margin-inline-end: var(--size-small);

		& + * {
			margin-block-start: 0;
		}
	}
}

.pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.dreamy,
%dreamy {
	filter: url("/images/dreamy.svg#dreamy");
}

.fsociety,
%fsociety {
	filter: url("/images/fsociety.svg#fsociety");
}

// CodePen Embeds
.cp_embed_wrapper {
	resize: both;
	overflow: auto;

	iframe {
		margin-block-end: 0;
	}
}
