////
/// Meta
/// @group blocks
////

.meta {
	--flow-space: var(--size-medium);
	margin-block-start: var(--size-large);

	@include media("above:medium") {
		align-self: stretch;
	}

	h2 {
		margin-block-end: var(--size-small);
	}

	%anchor,
	data,
	time {
		font-weight: var(--font-weight-bold);
	}

	.emoji {
		inline-size: calc(var(--size-medium) + var(--size-tiny));
		display: inline-block;
	}

	.rating {
		margin-inline-start: var(--size-tiny);
		vertical-align: text-bottom;
	}
}

.meta__information {
	line-height: var(--line-height-medium);
}

/// Extends Cluster
.meta__list {
	--padding-inline: 0;
	--delineator: ",\00a0";

	font-size: var(--font-size-small);

	&.cluster {
		display: inline;
	}

	.meta__information &.cluster {
		& > * {
			display: inline;
			white-space: normal;
		}
	}
}

// Table of Contents, meta box variant
.table-of-contents {
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	scrollbar-gutter: stable;

	@include media("below:medium") {
		max-block-size: 60vh;
	}

	@include media("above:medium") {
		max-block-size: calc(60vh - var(--size-medium) * 2);
		position: sticky;
		top: var(--size-medium);
	}

	li {
		&::marker {
			color: h(kaiser);
		}
	}
}
