////
/// Meta
/// @group blocks
////

.meta {
	container: meta / inline-size;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
	grid-template-rows: masonry;
	align-items: start;
	gap: var(--size-gap);
	margin-block-start: var(--size-gigantic);

	& > * {
		inline-size: 100%;
	}

	@media print {
		display: none;
	}

	h2 {
		margin-block-end: var(--size-small);
	}

	%anchor,
	data,
	time {
		font-weight: var(--font-weight-semibold);
	}

	.emoji {
		inline-size: calc(var(--size-medium) + var(--size-tiny));
		display: inline-block;
	}

	.rating {
		margin-inline-start: var(--size-tiny);
		vertical-align: text-bottom;
	}

	svg-sparkline {
		margin-inline: auto;
	}
}

.meta__information {
	--flow-space: var(--size-small);
	line-height: var(--line-height-medium);
}
