////
/// Meta
/// @group blocks
////

@use "../abstracts/mixins-scss" as *;

.meta {
	container: meta / inline-size;
	margin-block-start: var(--size-gigantic);

	// TODO Broken in Safari 🤔 https://bugs.webkit.org/show_bug.cgi?id=256047
	// Hotfix in place at the moment with nested, unnecessary div
	.grid {
		--placement: auto-fit;
		--grid-min-inline-size: 16em;
		--gap: var(--size-gap);

		& > div {
			inline-size: 100%;
		}

		&:has(.meta__information):has(.responses) {
			@include cqi(null, "medium") {
				grid-template-columns: repeat(6, 1fr);
				grid-template-rows: auto;

				& > div {
					grid-column: span 3;
				}
			}
		}

		&:has(.responses) .box:has(> .meta__information) {
			@include cqi(null, "medium") {
				grid-row: 1;
				grid-column: 1 / 3 !important;
			}
		}

		& .responses {
			grid-row: 1;
			grid-column: 1 / -1;
		}
		&:has(.meta__information) .responses {
			@include cqi(null, null, "medium") {
				grid-row: 2;
			}
			@include cqi(null, "medium") {
				grid-column: 3 / -1 !important;
			}
		}
	}

	@media print {
		display: none;
	}

	& h2 {
		margin-block-end: var(--size-small);
	}

	& :is(a:not(.button), .anchor),
	& data,
	& time {
		font-weight: var(--font-weight-semibold);
	}

	& .emoji {
		inline-size: calc(var(--size-medium) + var(--size-tiny));
		display: inline-block;
	}

	& .rating {
		margin-inline-start: var(--size-tiny);
		vertical-align: text-bottom;
	}

	& svg-sparkline {
		margin-inline: auto;
	}
}

.meta__information {
	--flow-space: var(--size-small);
	line-height: var(--line-height-medium);
}
