////
/// Meta
/// @group blocks
////

.meta {
	--flow-space: var(--size-medium);

	@include media("below:medium") {
		margin-block-start: var(--size-large);
	}

	@include media("above:medium") {
		align-self: stretch;
	}

	h2 {
		margin-block-end: var(--size-small);
	}

	%anchor,
	data,
	time {
		font-weight: var(--font-weight-semibold);
	}

	.emoji {
		inline-size: calc(var(--size-medium) + var(--size-tiny));
		display: inline-block;
	}

	.rating {
		margin-inline-start: var(--size-tiny);
		vertical-align: text-bottom;
	}
}

.meta__information {
	line-height: var(--line-height-medium);
}

/// Extends Cluster
.meta__list {
	--padding-inline: 0;
	--delineator: ",\00a0";

	&.cluster {
		display: inline;

		h2 + & {
			display: block;
		}
	}

	.meta__information &.cluster {
		& > * {
			display: inline;
			white-space: normal;
		}
	}
}
