////
/// Navigation
/// @group blocks
////

.navigation__list {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	column-gap: var(--size-small);
	row-gap: var(--size-tiny);
	text-align: center;

	@include media("above:tiny") {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: auto;
	}

	%anchor {
		background-color: transparent !important;
		color: inherit !important;
		display: inline-block;
		font-size: var(--font-size-default);
		font-weight: var(--font-weight-extrabold);
		padding: var(--size-tiny) var(--size-small);
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all var(--transition-duration) var(--transition-function);
		z-index: 0;

		&::before,
		&::after {
			@include non-interactive;
			content: "";
			opacity: 0;
			inline-size: 100%;
			block-size: 0.375em;
			position: absolute;
			inset-block-start: 100%;
			inset-inline-start: 0;
		}

		// Solid Colour
		&::before {
			background-color: h(raven);
			box-shadow: var(--box-shadow-low);
			transform: translateY(100%);
			transition:
				transform var(--transition-duration) ease-out,
				opacity calc(2 * var(--transition-duration)) linear;
		}

		// Fancy
		&::after {
			background-image: linear-gradient(to bottom, #005bbb, #005bbb 50%, #ffd500 50%, #ffd500);
		}

		&[aria-current="page"],
		&:is(:hover, :focus, :active) {
			&::before {
				opacity: 1;
				transform: none;
			}
		}
		&:is(:hover, :focus) {
			&::after {
				opacity: 1;
				transition: all var(--animation-duration) var(--transition-function) var(--transition-duration);
			}
		}
		&:active {
			&::after {
				opacity: 1;
				transition: none;
			}
		}
	}
}
