////
/// Navigator
/// @group blocks
/// Extends Auto Grid
////

.navigator {
	--placement: auto-fit;
	--max-inline-size: max-content;

	inline-size: 100%;
	align-items: center;
	justify-content: center;
}
