////
/// Perch
/// @group blocks
////

@use "../abstracts/mixins-scss" as *;

.perch {
	position: relative;

	&::after {
		@include non-interactive;
		content: "";
		background-image: url("/images/raven.svg");
		background-repeat: no-repeat;
		opacity: var(--opacity-10);
		inline-size: var(--size-logo);
		// depends on the specific dimensions of raven.svg
		block-size: calc(var(--size-logo) / 1.205);
		position: absolute;
		inset-inline-end: var(--size-gutter);
		inset-block-start: 0;
		transform: scaleX(-1) translateY(-20%);
		filter: hue-rotate(calc((var(--raven-hue) - 237.73) * 1deg)) saturate(calc(var(--raven-chroma) / 0.064 * 100%));
	}

	&.title::after {
		opacity: 1;
		inset-inline-start: 50%;
		inset-inline-end: auto;
		inset-block-start: 50%;
		transform: translateX(-50%) translateY(-25%);
	}
}

@property --perching-x-multiplier {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}
@property --perching-y-multiplier {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}
.box:has(> .perching) {
	position: relative;
	perspective: var(--size-breakpoint-tiny);
}
.perching {
	--perching-x-multiplier: 1;
	--perching-y-multiplier: 1;

	inline-size: 42px;
	position: absolute;
	inset-block-end: 100%;
	inset-inline-start: var(--size-border-default);
	transform:
		translateX(calc(-100vi * var(--perching-x-multiplier)))
		translateY(calc(-22vb * var(--perching-y-multiplier)))
		translateZ(0);
	transform-origin: center;
	pointer-events: none;

	.no-js & {
		--perching-x-multiplier: 0;
		--perching-y-multiplier: 0;
	}

	&.visible {
		will-change: transform;
		animation: perching-x var(--animation-duration-long) cubic-bezier(0.25, 0.45, 0.45, 0.95) forwards,
		           perching-y var(--animation-duration-long) cubic-bezier(0.3, 2.5, 0.7, 0.15) forwards;
	}
}
@keyframes perching-x {
	from { --perching-x-multiplier: 1; }
	to { --perching-x-multiplier: 0; }
}
@keyframes perching-y {
	from { --perching-y-multiplier: 1; }
	to { --perching-y-multiplier: 0; }
}
