////
/// Perch
/// @group blocks
////

@use "../abstracts/mixins";

.perch {
	position: relative;

	&::after {
		@include mixins.non-interactive;
		content: "";
		background-image: url("/images/raven.svg");
		background-repeat: no-repeat;
		opacity: var(--opacity-gamma);
		inline-size: var(--size-logo);
		// depends on the specific dimensions of raven.svg
		block-size: calc(var(--size-logo) / 1.205);
		position: absolute;
		inset-inline-end: var(--size-gutter);
		inset-block-start: 0;
		transform: scaleX(-1) translateY(-20%);
		filter: hue-rotate(calc((var(--raven-hue) - 237.73) * 1deg)) saturate(calc(var(--raven-chroma) / 0.064 * 100%));
	}

	&.title::after {
		opacity: 1;
		inset-inline-start: 50%;
		inset-inline-end: auto;
		inset-block-start: 50%;
		transform: translateX(-50%) translateY(-25%);
	}
}
