////
/// Perch
/// @group blocks
////

@use "../abstracts/mixins";

.perch {
	position: relative;

	&::after {
		@include mixins.non-interactive;
		content: "";
		background-image: url("/images/raven.svg");
		background-repeat: no-repeat;
		opacity: var(--opacity-10);
		inline-size: var(--size-logo);
		// depends on the specific dimensions of raven.svg
		block-size: calc(var(--size-logo) / 1.205);
		position: absolute;
		inset-inline-end: var(--size-gutter);
		inset-block-start: 0;
		transform: scaleX(-1) translateY(-20%);
		filter: hue-rotate(calc((var(--raven-hue) - 237.73) * 1deg)) saturate(calc(var(--raven-chroma) / 0.064 * 100%));
	}

	&.title::after {
		opacity: 1;
		inset-inline-start: 50%;
		inset-inline-end: auto;
		inset-block-start: 50%;
		transform: translateX(-50%) translateY(-25%);
	}
}

@property --perching-x {
	syntax: "<length>";
	inherits: false;
	initial-value: 0px;
}
@property --perching-y {
	syntax: "<length>";
	inherits: false;
	initial-value: 0px;
}
@property --perching-z {
	syntax: "<length>";
	inherits: false;
	initial-value: 0px;
}
.box:has(> .perching) {
	position: relative;
	perspective: var(--size-breakpoint-tiny);
}
.perching {
	--perching-x: -100vi;
	--perching-y: -22vb;
	--perching-z: calc(var(--size-large) * -1);

	inline-size: 42px;
	position: absolute;
	inset-block-end: 100%;
	inset-inline-start: var(--size-border-default);
	transform:
		translateX(var(--perching-x))
		translateY(var(--perching-y))
		translateZ(var(--perching-z));
	pointer-events: none;

	.no-js & {
		--perching-x: 0;
		--perching-y: 0;
		--perching-z: 0;
	}

	&.visible {
		animation: perching-x var(--animation-duration-long) cubic-bezier(0.25, 0.45, 0.45, 0.95) forwards,
		           perching-y var(--animation-duration-long) cubic-bezier(0.3, 2.5, 0.7, 0.15) forwards,
		           perching-z var(--animation-duration-long) ease-out forwards;
	}
}
@keyframes perching-x {
	to { --perching-x: 0; }
}
@keyframes perching-y {
	to { --perching-y: 0; }
}
@keyframes perching-z {
	to { --perching-z: 0; }
}
