////
/// Pills
/// @group blocks
////

@use "../abstracts/mixins-scss" as *;

:is(.pills, .pill) {
	@include non-selectable;
}

.pills {
	text-wrap: balance;
}

.pill {
	background-color: var(--body-background-color);
	color: var(--body-color);
	padding: 0.25em 0.5em;
	border: calc(var(--size-border-thin) / 2) solid oklch(from currentColor l c h / 0.5);
	border-radius: 1rem;
	font-size: var(--font-size-small);
	line-height: 1;
	text-decoration: none;
	white-space: nowrap;

	&[href] {
		font-weight: var(--font-weight-semibold);

		&:is(:hover, :focus, :active) {
			color: inherit;
			border-color: var(--color-maple);
			z-index: var(--z-index-above);
		}

		&:active {
			outline: calc(var(--size-border-thin) / 2) solid var(--color-maple);
		}
	}

	&[title]:not([href]) {
		@include soft-italic;
		cursor: help;
	}

	& .emoji {
		padding-inline-end: 0.625ch;
		vertical-align: initial !important;
	}
}
