////
/// Settings Popover
/// @group blocks
////

@supports not selector(:popover-open) {
	[popover]:not(.\:popover-open) {
		display: none;
	}
}

::backdrop {
	background-color: h(thunder, beta);
	backdrop-filter: blur(1px);
}

[popover] {
	--flow-space: var(--size-medium-large);

	background-color: color-mix(in oklab, h(bear), h(snowy));
	color: inherit;
	max-inline-size: 100vi;
	padding: var(--size-medium-large) var(--size-small-medium);
	border: var(--size-border-thin) solid h(raven);
	border-radius: var(--size-border-default);
	box-shadow: var(--box-shadow-medium);
	position: fixed;
	inset: initial;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.popover-settings {
	[id="sounds-toggle"] {
		color: inherit !important; // override themes
	}
}

.popover-navigation {
	padding-inline: var(--size-large);

	@media (width > #{map-get($breakpoints, "tiny")}) {
		display: none;
	}

	.navigation__list {
		flex-direction: column;

		a {
			font-size: var(--font-size-gamma);
			padding-inline: var(--size-small-medium);
		}
	}
}

:is(.popover-settings-button, .popover-navigation-button) {
	background-color: h(wolf);
	background-image: linear-gradient(160deg, var(--color-bowhead), var(--color-wolf));
	display: grid;
	place-items: center;
	padding: var(--size-tiny);
	margin-inline-start: 1ex;
	border-radius: 50%;

	svg {
		@include non-interactive;
		fill: h(snowy);
		min-inline-size: calc(var(--font-size-default) * var(--line-height-default));
		min-block-size: calc(var(--font-size-default) * var(--line-height-default));
		transition: transform var(--transition-duration) var(--transition-function);
	}
}

.popover-settings-button {
	svg {
		transform: scale(0.8);
	}

	&:is(:hover, :focus, :active) {
		svg {
			transform: scale(1) rotate(60deg);
		}
	}
}

.popover-navigation-button {
	@media (width > #{map-get($breakpoints, "tiny")}) {
		display: none;
	}

	svg {
		transform: scale(0.6);
	}

	&:is(:hover, :focus, :active) {
		svg {
			transform: scale(0.8);
		}
	}
}

// Align settings
.popover-settings form {
	display: grid;
	grid-template-columns: max-content auto;
	place-items: center;
	gap: 1em;

	label {
		inline-size: 100%;
		text-align: end;
	}

	select,
	[type="checkbox"] {
		margin-inline-end: auto;
	}

	select,
	[type="range"] {
		inline-size: 100%;
	}
}

// Hide custom hue input unless Custom theme is selected
:root:has([name="theme"] [value*="custom"]:not(:checked)) :is([for*="custom-hue"], [name="custom-hue"]) {
	display: none;
}

// Hide colour scheme input when 90s or Matrix theme is selected
:root:has([name="theme"] :is([value*="nineties"], [value*="matrix"]):checked) :is([for*="color-scheme"], [name="color-scheme"]) {
	display: none;
}
