////
/// Responses
/// @group blocks
////

.responses {
	--flow-space: var(--size-medium);

	inline-size: 100%;
	margin-block-start: var(--size-large);
}

.responses__form {
	max-inline-size: var(--size-line-length);
	display: grid;
	grid-gap: var(--size-small);
	grid-template-columns: 1fr min-content;
	margin-inline: auto;
}

.responses__label {
	grid-column: 1 / span 2;
	margin-block-end: var(--size-small);
}

.responses__submit {
	min-inline-size: 5em;
	margin-block-start: 0;
}

.responses__thread {
	contain: content;

	a {
		@include break-words;
	}
}

.response {
	--flow-space: var(--size-large);

	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	column-gap: var(--size-medium);
	row-gap: var(--size-small);

	.e-content {
		--flow-space: 0.5em;
	}
}

.response__avatar {
	--size-border: 0;

	grid-row: 1 / 3;
	inline-size: var(--size-avatar-small);
	border-radius: 50%;

	%image {
		display: block;
	}
}

.response__meta {
	a {
		color: inherit;
	}

	.p-author .p-name {
		font-weight: var(--font-weight-semibold);
	}
}
