////
/// Settings
/// @group blocks
////

@use "sass:map";
@use "../generated/tokens";

.popover-settings {
	max-block-size: 100vb;
	max-block-size: 100dvb;

	[id="sounds-toggle"] {
		color: inherit !important; // override themes
	}
}

.popover-navigation {
	padding-inline: var(--size-large);

	@media (width > #{map.get(tokens.$breakpoints, "tiny")}) {
		display: none;
	}

	h2 {
		padding-inline: 1em;
	}

	.navigation__list {
		flex-direction: column;

		a {
			font-size: var(--font-size-gamma);
			padding-inline: var(--size-small-medium);
		}
	}
}

:is(.popover-settings-button, .popover-navigation-button) {
	background-color: var(--color-wolf);
	background-image: linear-gradient(160deg, var(--color-bowhead), var(--color-wolf));
	display: grid;
	place-items: center;
	padding: var(--size-tiny);
	margin-inline-start: 1ex;
	border-radius: 50%;

	svg {
		@apply --non-interactive;
		fill: var(--color-snowy);
		min-inline-size: calc(var(--font-size-default) * var(--line-height-default));
		min-block-size: calc(var(--font-size-default) * var(--line-height-default));
		transition: --transition(transform);
		filter: drop-shadow(0 1px 1px var(--color-mineshaft));
	}
}

.popover-settings-button {
	svg {
		transform: scale(0.8);
	}

	&:is(:hover, :focus, :active) {
		svg {
			transform: scale(1) rotate(60deg);
		}
	}
}

.popover-navigation-button {
	@media (width > #{map.get(tokens.$breakpoints, "tiny")}) {
		display: none;
	}

	svg {
		transform: scale(0.6);
	}

	&:is(:hover, :focus, :active) {
		svg {
			transform: scale(0.8);
		}
	}
}

.popover-settings {

}

// Align settings
.popover-settings form {
	display: grid;
	place-items: center;
	gap: 1em;

	@apply --inline-above(null, var(--size-breakpoint-small)) {
		grid-template-columns: max-content auto;
	}

	@apply --inline-below(null, var(--size-breakpoint-small)) {
		min-inline-size: 66vi;
	}

	label {
		inline-size: 100%;

		@apply --inline-below(null, var(--size-breakpoint-small)) {
			text-align: start;
		}

		@apply --inline-above(null, var(--size-breakpoint-small)) {
			text-align: end;
		}
	}

	select,
	[type="checkbox"] {
		margin-inline-end: auto;
	}

	select,
	[type="range"] {
		inline-size: 100%;
		min-inline-size: min-content;
	}
}

// Hide custom hue input unless Custom theme is selected
:root:has([name="theme"] [value*="custom"]:not(:checked)) :is([for*="custom-hue"], [name="custom-hue"]) {
	display: none;
}

// Hide colour scheme input when 90s or Matrix theme is selected
:root:has([name="theme"] :is([value*="nineties"], [value*="matrix"]):checked) :is([for*="color-scheme"], [name="color-scheme"]) {
	display: none;
}
