////
/// Shelf
/// @group blocks
/// Extends Auto Grid
////

.shelf {
	--row-gap: var(--size-gap);
	--min-inline-size: 10em;

	article {
		--flow-space: var(--size-small);

		line-height: var(--line-height-medium);
	}

	%heading {
		@extend %delta;

		%anchor {
			color: inherit;
		}
	}

	.cover {
		margin: 0;
		object-fit: cover;
	}
}

.shelf--books {
	.cover {
		block-size: 240px;
	}
}

.librarian {
	background-color: mix(map-get($colors, milou), rgba(map-get($colors, thunder), map-get($opacities, delta)));
	position: sticky;
	top: 0;
	z-index: var(--z-index-above);
}
