////
/// spark-line Component
/// @group blocks
////

spark-line {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	font-family: var(--font-family-sans);
	font-size: var(--font-size-small);
	font-style: normal;
	font-variation-settings: normal;
	font-weight: var(--font-weight-semibold);
	speak: never;

	canvas {
		inline-size: auto;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	span {
		grid-column: 1 / 2;
		text-align: start;
	}
	canvas + span {
		grid-column: 2 / 3;
		text-align: end;
	}
}

// Musical Data
.pentatonic {
	cursor: pointer;
}
