////
/// Table of Contents
/// @group blocks
////

.table-of-contents {
	box-shadow: var(--box-shadow, var(--box-shadow-medium));
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: contain;
	scrollbar-gutter: stable;

	@include media("print") {
		display: none;
	}

	@include media("below:medium") {
		max-block-size: 60vh;
		max-block-size: 60dvb;
	}

	@include media("above:medium") {
		max-block-size: calc(60vh - var(--size-medium) * 2);
		max-block-size: calc(60dvb - var(--size-medium) * 2);
		position: sticky;
		inset-block-start: var(--size-medium);
	}

	li {
		&::marker {
			color: h(kaiser);
		}
	}
}
