////
/// Table of Contents
/// @group blocks
/// @extends Meta
////

.table-of-contents {
	@include media("print") {
		display: none;
	}
	@include media("above:medium") {
		position: sticky;
		inset-block-start: var(--size-medium);
		inset-block-start: var(--size-medium);
	}

	details {
		overflow: visible;
	}

	summary {
		font-size: var(--font-size-gamma);
	}

	.box {
		max-block-size: 40vh;
		max-block-size: 40dvb;
		box-shadow: var(--box-shadow, var(--box-shadow-medium));
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
		scrollbar-gutter: stable;

		@include media("above:small") {
			max-block-size: 60vh;
			max-block-size: 60dvb;
		}

		@include media("above:medium") {
			max-block-size: calc(100vh - 6rem);
			max-block-size: calc(100dvb - 6rem);
		}
	}
}
