////
/// Table of Contents
/// extends .meta
/// @group blocks
////

.table-of-contents {
	margin-block-start: var(--size-gap);

	@media print {
		display: none;
	}

	@include cqi("main", "medium") {
		position: sticky;
		inset-block-start: calc(var(--size-header, 0px) + 1rem);
	}

	details {
		overflow: visible;
	}

	summary {
		font-size: var(--font-size-gamma);
	}

	nav {
		max-block-size: 40vb;
		max-block-size: 40dvb;
		box-shadow: var(--box-shadow, var(--box-shadow-medium));
		overflow-x: hidden;
		overflow-y: auto;
		overscroll-behavior: contain;
		scrollbar-gutter: stable;
		animation: toc-shadow-inside linear;
		animation-timeline: scroll(self block);

		@include cqi("main", "medium") {
			max-block-size: calc(100vb - (1em * var(--line-height-default)) - var(--size-small) - var(--size-header, 0px) - (2 * var(--size-medium)));
			max-block-size: calc(100dvb - (1em * var(--line-height-default)) - var(--size-small) - var(--size-header, 0px) - (2 * var(--size-medium)));
		}
	}
}

@keyframes toc-shadow-inside {
	from {
		box-shadow:
			var(--box-shadow, var(--box-shadow-medium)),
			inset 0 -1em 1.5em 0 color-mix(in oklab, var(--color-shadow), transparent 60%);
	}
	to {
		box-shadow:
			var(--box-shadow, var(--box-shadow-medium)),
			inset 0 1em 1.5em 0 color-mix(in oklab, var(--color-shadow), transparent 60%);
	}
}
