////
/// Title
/// @group blocks
////

.title {
	display: block;
	gap: var(--size-gutter);
	padding-block-start: var(--size-large-gigantic);
	padding-block-end: var(--size-medium-large);
	overflow: hidden;
	position: relative;
	contain: content; // helps painting with .perch inside

	@include container("above:tiny") {
		text-align: center;
	}
}

.title--positive span,
.title--negative span {
	padding: var(--size-tiny) var(--size-small);
}
.title--positive > span {
	background-color: h(conifer);
	color: h(milou);
}
.title--negative > span {
	background-color: h(maple);
	color: h(milou);
}
