////
/// Webmentions
/// @group blocks
////

.webmentions {
	--flow-space: var(--size-medium);
	margin-block-start: var(--size-gigantic);
}

.webmentions__thread {
	margin-block-start: var(--size-medium);
}

.webmentions__form {
	max-inline-size: var(--size-breakpoint-small);
	grid-template-columns: 1fr min-content;
	margin-inline: auto;
}

.webmentions__label {
	grid-column: 1 / span 2;
	margin-block-end: var(--size-small);

	@include media("below:small") {
		margin-block-end: var(--size-medium);
	}
}

.webmentions__submit {
	min-inline-size: 5em;
	margin-block-start: 0;

	@include media("below:small") {
		font-size: var(--font-size-small);
	}
	@include media("above:medium", "below:large") {
		font-size: var(--font-size-small);
	}
}

.webmentions__responses {
	contain: content;

	%anchor {
		@include break-words;
	}
}

.webmentions__response {
	--flow-space: var(--size-large);

	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto auto;
	column-gap: var(--size-medium);
	row-gap: var(--size-small);

	.e-content {
		--flow-space: 0.5em;
	}
}

.webmentions__response__avatar {
	--size-border: 0;

	grid-row: 1 / 3;
	inline-size: var(--size-avatar-small);
	border-radius: 50%;

	%image {
		display: block;
	}
}

.webmentions__response__meta {
	font-style: italic;

	%anchor {
		color: inherit;
	}
}
