////
/// Webmentions
/// @group blocks
////

.webmentions {
	--flow-space: var(--size-medium);
	margin-block-start: var(--size-gigantic);
}

.webmentions__thread {
	margin-block-start: var(--size-medium);
}

.webmentions__form {
	max-inline-size: var(--size-breakpoint-small);
	grid-template-columns: 1fr min-content;
	margin-inline: auto;
}

.webmentions__label {
	grid-column: 1 / span 2;
	margin-block-end: var(--size-small);

	@include media("below:small") {
		margin-block-end: var(--size-medium);
	}
}

.webmentions__submit {
	min-inline-size: 5em;
	margin-block-start: 0;

	@include media("below:small") {
		font-size: var(--font-size-small);
	}
	@include media("above:medium", "below:large") {
		font-size: var(--font-size-small);
	}
}

.webmentions__responses {
	contain: content;

	%anchor {
		@include break-words;
	}
}

.webmentions__response {
	position: relative;
}

.webmentions__response__avatar {
	--size-border: 0;

	box-sizing: content-box;
	inline-size: var(--size-avatar-small);
	float: left;
	float: inline-start;
	margin-inline-end: var(--size-medium);
	margin-block-end: var(--size-small);
	border: var(--size-border-default) solid h(raven, beta);
	transition: border-color var(--transition-duration) var(--transition-function);

	&[href]:is(:hover, :focus, :active) {
		border-color: h(maple);
	}

	&,
	%image {
		border-radius: 50%;
	}

	%image {
		display: block;
	}
}

.webmentions__response__meta {
	font-style: italic;

	%anchor {
		color: inherit;
	}
}
