BEGIN:VCARD
FN:{{ author.firstname }} {{ author.lastname }}
N:{{ author.lastname }};{{ author.firstname }};;;
TITLE:{{ author.role }}
ORG:{{ site.url | getHost }}
EMAIL:{{ author.email }}
URL:{{ site.url }}
PHOTO:TYPE=JPEG;{{ site.url + author.avatar }}
NOTE:Chris Burnell is a {{ author.role}} based in Halifax, Canada.
END:VCARD
