{
  "version": "0.1.1",
  "url": "https://chrisburnell.com",
  "vouches": [
    {
      "url": "https://flamedfury.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://burgeonlab.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://eclecticpassions.net",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://letorey.co.uk",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://ohhelloana.blog",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://bobmonsour.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://rknight.me",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://adactio.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://shkspr.mobi",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://tylersticka.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://robinrendle.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://localghost.dev",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://www.joshtumath.uk",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://hidde.blog",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://flyknifecomics.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://ethanmarcotte.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://darn.es",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://daverupert.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://css-irl.info",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://coryd.dev",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://www.jacky.wtf",
      "vouched_at": "2026-03-21"
    },
		{
			"url": "https://joelchrono.xyz",
			"vouched_at": "2026-03-22"
		}
  ]
}
