{
  "version": "0.1.1",
  "url": "https://chrisburnell.com",
  "vouches": [
    {
      "url": "https://flamedfury.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://burgeonlab.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://eclecticpassions.net",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://letorey.co.uk",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://ohhelloana.blog",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://bobmonsour.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://rknight.me",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://adactio.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://shkspr.mobi",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://tylersticka.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://robinrendle.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://localghost.dev",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://www.joshtumath.uk",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://hidde.blog",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://flyknifecomics.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://ethanmarcotte.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://darn.es",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://daverupert.com",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://css-irl.info",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://coryd.dev",
      "vouched_at": "2026-03-21"
    },
    {
      "url": "https://www.jacky.wtf",
      "vouched_at": "2026-03-21"
    },
	{
		"url": "https://joelchrono.xyz",
		"vouched_at": "2026-03-22"
	},
	{
		"url": "https://artlung.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://jvns.ca",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://brennan.day",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://leilukin.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://darylsun.page",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://11tybundle.dev",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://mayank.co",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://hamatti.org",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://joshwcomeau.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://xandra.cc",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://jamesg.blog",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://darn.es",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://calumryan.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://mxb.dev",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://piccalil.li",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://andy-bell.co.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://css-irl.info",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://michellebarker.co.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://zachleat.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://alistairshepherd.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://benmyers.dev",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://remysharp.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://csswizardry.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://brucelawson.co.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://lynnandtonic.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://tink.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://www.sarasoueidan.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://brainbaking.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://jefklakscodex.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://www.thatsmood.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://sia.codes",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://trysmudford.com",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://sarajoy.dev",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://andydavies.me",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://ericwbailey.website",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://www.matuzo.at",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://amyhupe.co.uk",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://www.serendavies.me",
		"vouched_at": "2026-05-22"
	},
	{
		"url": "https://infrequently.org",
		"vouched_at": "2026-05-22"
	}
  ]
}
