---
permalink: /js/main.js
---
{% include "../js/helpers.js" %}
{% include "../js/sparkline-component.js" %}
{% include "../../node_modules/@chrisburnell/pentatonic/pentatonic.js" %}

;(function() {
    "use strict"

    {% include "../js/welcome.js" %}
    {% include "../js/neofetch.js" %}
    {% include "../js/navigator.js" %}
    {% include "../js/color-scheme.js" %}
    {% include "../js/librarian.js" %}
    {% include "../js/url-input.js" %}

    for (let target of document.querySelectorAll(".pentatonic, sparkline-component")) {
        target.addEventListener("click", () => {
            let values = target.values || target.dataset.values
            if (values) {
                pentatonic(values.split(","))
            }
        })
    }
})()

{% include "../js/share-button.js" %}
