---
permalink: /js/main.js
---
{% include "../js/helpers.js" %}
{% include "../../node_modules/@chrisburnell/pentatonic/pentatonic.js" %}
{% include "../../node_modules/@chrisburnell/spark-line/spark-line.js" %}

;(function() {
    "use strict"

    {% include "../js/welcome.js" %}
    {% include "../js/neofetch.js" %}
    {% include "../js/navigator.js" %}
    {% include "../js/color-scheme.js" %}
    {% include "../js/librarian.js" %}
    {% include "../js/url-input.js" %}

    for (let target of document.querySelectorAll(".pentatonic")) {
        target.addEventListener("click", () => {
            let values = target.values || target.dataset.values
            let duration = parseFloat(target.getAttribute("duration")) || 4000
            let keyStart = parseFloat(target.getAttribute("key-start")) || 29
            let keyIntervals = target.getAttribute("key-intervals") ? target.getAttribute("key-intervals").split(",").map(interval => parseFloat(interval)) : [2, 2, 3, 2, 3]
            let keyLimit = parseFloat(target.getAttribute("key-limit")) || {{ site.limits.sparkline }}
            if (values) {
                pentatonic(values.split(","), duration, 0.5, keyStart, keyIntervals, keyLimit)
            }
        })
    }
})()

{% include "../js/share-button.js" %}
