---
icon_sizes:
- 16
- 32
- 48
- 64
- 128
- 180
- 192
- 256
- 512
---
{
  "manifest_version": 2,
  "dir": "ltr",
  "lang": "{{ site.locale }}",
  "default_locale": "{{ site.locale }}",
  "name": "{{ site.title | striptags(true) }}",
  "short_name": "{{ site.url | getHost }}",
  "description": "{{ site.description | striptags(true) }}",
  "display": "minimal-ui",
  "orientation": "any",
  "start_url": "{{ site.url }}",
  "homepage_url": "{{ site.url }}",
  "theme_color": "{{ designTokens.colors | keyValue("raven") }}",
  "background_color": "{{ designTokens.colors | keyValue("mineshaft") }}",
  "background": {
    "persistent": false
  },
  "icons": [
    {
      "src": "/images/favicon.ico",
      "type": "image/ico",
      "sizes": "16x16 32x32 48x48 64x64"
    },
    {% for size in icon_sizes %}
      {
        "src": "/images/favicon-{{ size }}.png",
        "type": "image/png",
        "sizes": "{{ size }}x{{ size }}"{% if loop.last %},
        "purpose": "any maskable"{% endif %}
      },
      {
        "src": "/images/favicon-{{ size }}.avif",
        "type": "image/avif",
        "sizes": "{{ size }}x{{ size }}"
      },
      {
        "src": "/images/favicon-{{ size }}.webp",
        "type": "image/webp",
        "sizes": "{{ size }}x{{ size }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "screenshots": [
    {
     "src": "image/screenshot-1.png",
      "sizes": "810x1024",
      "type": "image/png"
    },
    {
     "src": "image/screenshot-2.png",
      "sizes": "810x1024",
      "type": "image/png"
    }
  ]
}
