<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd" xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for item in collections.all | keySort("inputPath") %}
		{%- set published = item | isPublished -%}
		{% if item.url and published and not item.data.sitemap.exclude %}
			<url>
				<loc>{{ site.url + item.url }}</loc>
				<lastmod>{{ item.data.update | default(item.date) | default(global.now) | w3cDate }}</lastmod>
				<changefreq>{{ item.data.sitemap.changefreq | default(site.sitemap.changefreq) }}</changefreq>
				<priority>{{ item.data.sitemap.priority | default(site.sitemap.priority) }}</priority>
			</url>
		{% endif %}
	{% endfor %}
</urlset>
