<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for item in collections.all | keySort("inputPath") | arePublished -%}
	{% if item.url and not item.data.sitemap.exclude -%}
	<url>
		<thing>{{ item.inputPath }}</thing>
		<loc>{{ site.url + item.url }}</loc>
		<lastmod>{{ item.data.updated | default(item.data.date) | default(item.date) | default(global.now) | w3cDate }}</lastmod>
		<changefreq>{{ item.data.sitemap.changefreq | default(site.sitemap.changefreq) }}</changefreq>
		<priority>{{ item.data.sitemap.priority | default(site.sitemap.priority) }}</priority>
	</url>
	{% endif %}
	{%- endfor %}
</urlset>
