{%- comment -%}

  Transform decimals into a fraction, if possible.

{%- endcomment -%}
{%- assign value = include.value | prepend: '__' | replace: ' ', '__ ' | replace: '.0__', '__' -%}
{%- assign fractionized = false -%}
{%- for fraction in site.data.fractions -%}
    {% assign leftover = include.value | modulo: 1 %}
    {% if value contains fraction[1] %}
        {% assign fractionized = true %}
        {% assign value = value | replace: fraction[1], fraction[0] %}
        {% break %}
    {% endif %}
{%- endfor -%}
{%- if fractionized -%}
    {%- assign value = value | replace: '0 ', '' -%}
{%- endif -%}
{{ value | replace: '__', '' | strip }}
