{% comment %}
  Create a Fragment Anchor for linking to a specific part of the page

  @param {String} id *
  @param {String} href *
  @param {String} title
  @param {String} rel
  @param {String} tabindex

  @example
    {% include content/fragment-anchor.html id='12345' %}
    // <a href="#12345" class="fragment-anchor">#12345</a>

{% endcomment %}
{% if include.id %}
    {% capture href %}{{ include.id | prepend: '#' }}{% endcapture %}
{% elsif include.href %}
    {% assign href = include.href %}
{% endif %}
{% if include.title %}
    {% capture title %}{{ include.title | prepend: 'title="' | append: '"' }}{% endcapture %}
{% endif %}
{% if include.rel %}
    {% capture rel %}{{ include.rel | prepend: 'rel="' | append: '"' }}{% endcapture %}
{% endif %}
{% if include.tabindex %}
    {% capture tabindex %}{{ include.tabindex | prepend: 'tabindex="' | append: '"' }}{% endcapture %}
{% endif %}
<a href="{{ href }}" class="fragment-anchor" {{ title }} {{ rel }} {{ tabindex }}>{{ href }}</a>
