{% comment %}
  Create a heading anchor for linking to a specific part of the page

  @param {String} id *
  @param {String} url *
  @param {String} title
  @param {String} rel
  @param {String} tabindex

  @example
    {% include content/heading-anchor.html id='12345' %}
    // <a href="#12345" class="heading-anchor" aria-hidden="true">#12345</a>

{% endcomment %}
{% if include.id %}
    {% capture href %}#{{ include.id }}{% endcapture %}
{% elsif include.url %}
    {% assign href = include.url %}
{% endif %}
{% if include.title %}
    {% capture title %} title="{{ include.title }}"{% endcapture %}
{% endif %}
{% if include.rel %}
    {% capture rel %} rel="{{ include.rel }}"{% endcapture %}
{% endif %}
{% if include.tabindex %}
    {% capture tabindex %} tabindex="{{ include.tabindex }}"{% endcapture %}
{% endif %}
<a href="{{ href }}" class="heading-anchor"{{ title }}{{ rel }}{{ tabindex }} aria-hidden="true">{{ href }}</a>
