{% comment %}

  This include lets you easily add a heading element with a fragment anchor.

  @param {String} title *
  @param {String} id [title | slugify]
  @param {String} href
  @param {Element} type [h3]

  @example
    {% include content/heading.html title='Let’s look at some code' %}
    // <h3 id="lets-look-at-some-code">
    //     Let’s look at some code
    //     <a href="#lets-look-at-some-code" class="fragment-anchor" aria-hidden="true">#lets-look-at-some-code</a>
    // </h3>

{% endcomment %}
{% assign heading_type = include.type | default: 'h3' %}
{% assign heading_id = include.id | default: include.title | slugify %}
<{{ heading_type }} id="{{ heading_id }}">
    {% if include.href %}
        <a href="{{ include.href }}">{{ include.title }}</a>
    {% else %}
        {{ include.title }}
    {% endif %}
    {% include content/fragment-anchor.html id=heading_id %}
</{{ heading_type }}>
