{% comment %}
  Create a heading anchor for linking to a specific part of the page

  @param {String} id *
  @param {String} url *
  @param {String} title
  @param {String} rel

  @example
    {% include content/heading-anchor.html id='12345' %}
    // <a href="#12345" class="heading-anchor" aria-hidden="true">#12345</a>

{% endcomment %}
{% if include.id %}
    {% capture url %}#{{ include.id }}{% endcapture %}
{% elsif include.url %}
    {% assign url = include.url %}
{% endif %}
{% assign title = '' %}
{% if include.title %}
    {% capture title %} title="{{ include.title }}"{% endcapture %}
{% endif %}
{% assign rel = '' %}
{% if include.rel %}
    {% capture rel %} rel="{{ include.rel }}"{% endcapture %}
{% endif %}
<a href="{{ url }}" class="heading-anchor"{{ title }}{{ rel }} aria-hidden="true">{{ url }}</a>
