{% comment %}

  This include lets you easily add a heading element with a fragment anchor.

  @param {String} title *
  @param {String} id [title | slugify]
  @param {String} href
  @param {String} class
  @param {Element} type [h3]

  @example
    {% include content/heading.html title='Let’s look at some code' %}
    // <h3 id="lets-look-at-some-code">
    //     Let’s look at some code
    //     <a href="#lets-look-at-some-code" class="fragment-anchor" aria-hidden="true">#lets-look-at-some-code</a>
    // </h3>

{% endcomment %}
{% assign heading_type = include.type | default: 'h3' %}
{% assign heading_id = include.id %}
{% unless include.id %}
    {% assign heading_id = include.title | slugify %}
{% endunless %}
{% assign heading_class = include.class | default: '' %}
{% assign heading_href = include.href | default: '' %}
<{{ heading_type }}{% unless heading_class == '' %} class="{{ heading_class }}"{% endunless %}{% unless heading_id == '' %} id="{{ heading_id }}"{% endunless %}>
    {% unless heading_href == '' %}
        <a href="{{ heading_href }}">
    {% endunless %}
    {{ include.title }}
    {% unless heading_href == '' %}
        </a>
    {% endunless %}
    {% unless heading_id == '' %}
        {% include content/fragment-anchor.html id=heading_id rel='bookmark' %}
    {% endunless %}
</{{ heading_type }}>
