////
/// Anchors
/// @group global
/// @link https://chrisburnell.com/styleguide/#inline-elements
////

@use "../abstracts/functions";
@use "../abstracts/mixins";

:is(a:not(.button), .anchor) {
	--outline-color: var(--color-raven);

	background-color: transparent;
	color: light-dark(var(--color-bowhead), var(--color-highland));
	border-radius: 1px;
	overflow-wrap: break-word;
	position: relative;
	text-decoration: underline;
	text-decoration-color: oklch(from currentColor l c h / 15%);
	text-decoration-thickness: var(--size-border-thin);
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.125em;
	// prettier-ignore
	transition:
		background-color var(--transition-duration) var(--transition-function),
		color var(--transition-duration) var(--transition-function),
		text-decoration-color var(--transition-duration) var(--transition-function),
		text-underline-offset var(--transition-duration-short) var(--transition-function);

	&[disabled] {
		@include mixins.non-selectable;
		opacity: var(--opacity-beta);
		cursor: not-allowed;
	}

	&:not([disabled]):is(:hover, :focus, :active) {
		text-decoration-color: var(--color-maple);
		text-underline-offset: 0.1875em;
	}

	&:not([disabled]):active {
		--outline-offset: 0;

		background-color: var(--color-maple);
		color: var(--color-snowy) !important;
		text-decoration-color: transparent;
	}

	@media print {
		text-decoration: none !important;
	}

	// Force heading anchors to take the color of the heading
	:is(h1, h2, h3, h4, h5, h6) &,
	th & {
		color: inherit !important;
	}
}

@media print {
	.e-content a::after {
		content: " (" attr(href) ") ";
	}

	.e-content a[href^="/"]::after {
		content: " (https://chrisburnell.com" attr(href) ") ";
	}
}
