////
/// Buttons
/// @group global
/// @link https://chrisburnell.com/styleguide/#buttons
///
/// --button-min-inline-size (8em)
///     Defines how wide the button should be as a minimum.
/// --padding (var(--size-small)
///     Defines the padding of the button.
/// --font-size (var(--font-size-default)
///     Defines the font size of the button.
/// --line-height (var(--line-height-medium)
///     Defines the line height of the button.
////

@use "../abstracts/mixins-scss" as *;

button {
	appearance: none;
	background: none;
	color: inherit;
	border: 0;
	font-family: inherit;
	font-size: 1em;
	cursor: pointer;
	user-select: text;

	&[disabled] {
		@include non-selectable;
		opacity: var(--opacity-50);
		cursor: not-allowed;
	}
}

:is(button:not(.anchor), .button, [type=button], [role=tab]) {
	--outline-color: var(--color-raven);

	@include non-selectable;
	background-color: var(--color-bowhead);
	color: var(--color-snowy) !important;
	min-inline-size: max(fit-content, var(--button-min-inline-size, 8em));
	display: inline-block;
	padding: var(--padding-block, var(--padding, var(--size-small))) var(--padding-inline, var(--padding, var(--size-medium)));
	// accounts for outline-width + outline-offset
	margin: var(--margin-block, var(--margin, calc(var(--size-border-thin) * 2))) var(--margin-inline, var(--margin, calc(var(--size-border-thin) * 2)));
	outline: var(--outline-width, var(--size-border-thin)) solid transparent;
	outline-offset: var(--outline-offset, var(--size-border-thin));
	border-radius: var(--border-radius, var(--size-border-default));
	box-shadow: var(--box-shadow, var(--box-shadow-low));
	overflow: visible;
	position: relative;
	font-size: var(--font-size, var(--font-size-default));
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height, var(--line-height-medium));
	text-align: center;
	text-decoration: none;
	transition: outline-color var(--transition-duration) var(--transition-function);

	&:not([disabled]):is(:hover, :focus, :active, [aria-selected="true"]) {
		outline-color: var(--outline-color, Highlight);
	}

	&:not([disabled]):active {
		background-color: var(--color-bowhead);
		color: var(--color-bear);
		transform: translateY(var(--size-border-default));

		&::before {
			content: "";
			block-size: var(--size-border-default);
			position: absolute;
			inset-inline: 0;
			inset-block-end: 100%;
		}
	}

	// prevent inline elements like code from displaying their background
	& * {
		background-color: transparent;
	}

	& svg {
		@include non-interactive;
	}
}

.button--small {
	--button-min-inline-size: 5em;
	--padding: var(--size-tiny);
	--font-size: var(--font-size-small);
	--line-height: 1;
}

.button--text {
	--button-min-inline-size: auto;
	--padding-block: 0;
	--padding-inline: var(--size-tiny);
	--margin: 0;
	--font-size: inherit;
	--line-height: inherit;
}
