////
/// Code
/// @group global
/// @link https://chrisburnell.com/styleguide/#code-block
////

%monospace {
	font-family: var(--font-family-monospace);
	font-size: var(--font-size-small);
	line-height: var(--line-height-medium);
	font-variant-numeric: proportional-nums;
}

:is(code, kbd, samp, mark) {
	padding: var(--size-border-default);
	border-radius: var(--size-border-default);
}

:is(code, samp, kbd) {
	background-color: h(bear);
}

kbd {
	font-weight: var(--font-weight-semibold);
	text-transform: uppercase;
	letter-spacing: 1px;
}

var {
	color: h(bowhead);
	font-style: normal;
	font-size: inherit;
	font-weight: var(--font-weight-semibold);
}

pre {
	min-inline-size: 0;
	max-inline-size: 100%;
	margin: 0;
	tab-size: 2;
	font-size: var(--font-size-default);
	hyphens: manual;
	white-space: pre-wrap;
	overflow: hidden;
	position: relative;

	@include media("above:small") {
		tab-size: 4;
	}

	&,
	code {
		display: block;
		font-family: var(--font-family-monospace);
		line-height: var(--line-height-code);
		overflow-wrap: normal;
		white-space: pre-wrap;
		word-break: normal;
		word-spacing: normal;
		word-wrap: normal;
	}

	code {
		background-color: transparent !important;
		padding: 0;
		border-radius: 0;
		overflow: auto;
		scrollbar-color: h(raven) h(mineshaft);
	}
}
