////
/// Dark
/// @group themes
////

@use "../abstracts/mixins";

:root {
	@media print {
		color-scheme: light !important;
	}

	&:where(:has([name="color-scheme"] [value="light"]:checked)),
	&:is(.light, [data-color-scheme="light"]) {
		color-scheme: light;
	}

	&:where(:has([name="color-scheme"] [value="dark"]:checked)),
	&:is(.dark, [data-color-scheme="dark"]) {
		color-scheme: dark;
	}
}
