////
/// Details
/// @group global
////

details {
	inline-size: 100%;
	overflow-x: auto;

	& > * {
		padding: 0 var(--size-gutter) var(--size-small);
	}
}

summary {
	--outline-offset: calc(var(--size-border-thin) * -1);

	@include non-selectable;
	display: list-item;
	padding: 0;
	font-weight: var(--font-weight-semibold);
	transition: padding var(--transition-duration) var(--transition-function);
	list-style: "+ " inside;

	&::marker {
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-gamma);
		font-weight: var(--font-weight-heavy);
	}

	&:hover {
		text-decoration: underline;
		text-decoration-color: h(yeti);
		text-decoration-thickness: var(--size-border-thin);
		text-decoration-skip-ink: auto;
		text-underline-offset: 0.125em;
	}

	[open] & {
		padding-block-end: var(--size-small);
		list-style: "- " inside;
	}

	& + * {
		border-block-start: var(--size-border-thin) solid h(yeti);
		padding-block-start: var(--size-medium);
	}
}
