////
/// Details
/// @group global
////

details {
	inline-size: 100%;
	border-radius: var(--size-border-default);
	overflow-x: auto;
	position: relative;

	& > * {
		padding: 0 var(--size-gutter) var(--size-small);
	}
}

summary {
	--outline-offset: calc(var(--size-border-thin) * -1);

	@include non-selectable;
	display: list-item;
	padding: 0;
	font-weight: var(--font-weight-semibold);
	transition: padding var(--transition-duration) var(--transition-function);

	&::-webkit-details-marker {
		display: none;
	}

	& + * {
		margin-block-start: var(--size-small);
		border-block-start: var(--size-border-thin) solid h(bowhead);
		padding-block-start: var(--size-medium);
	}
}
