////
/// Details
/// @group global
////

@use "../abstracts/functions";
@use "../abstracts/mixins";

details {
	inline-size: 100%;
	overflow-x: auto;

	// add spacing around non-summary children
	&:not(.no-padding) > :not(summary) {
		padding: 0 var(--size-gutter) var(--size-small);
	}

	// add a border above the first non-summary child
	&:not(.no-border) summary + * {
		margin-block-start: var(--size-small);
		border-block-start: var(--size-border-thin) solid oklch(from currentColor l c h / 15%);
		padding-block-start: var(--size-medium);
	}
}

summary {
	--outline-offset: calc(var(--size-border-thin) * -1);

	@include mixins.non-selectable;
	display: list-item;
	font-weight: var(--font-weight-semibold);
	text-decoration: underline;
	text-decoration-color: oklch(from currentColor l c h / 15%);
	text-decoration-thickness: var(--size-border-thin);
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.125em;
	transition: all var(--transition-duration) var(--transition-function);
	list-style: "+ " inside;

	&::marker {
		font-family: var(--font-family-monospace);
		font-size: var(--font-size-gamma);
		font-weight: var(--font-weight-heavy);
	}

	&:is(:hover, :focus, :active) {
		text-decoration-color: var(--color-maple);
	}

	[open] > & {
		list-style: "- " inside;
	}
}
