////
/// Embeds & Media
/// @group global
////

%media {
	inline-size: 100%;
	display: block;
	border: 0;
	overflow-x: hidden;
}
audio {
	max-inline-size: var(--size-breakpoint-small);

	&:not([controls]) {
		display: none;
		block-size: 0;
	}
}

iframe {
	max-inline-size: 100% !important;
	margin: 0;
}
