////
/// Figure
/// @group global
////

figure {
	max-inline-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;

	&:not(.no-counter) {
		counter-increment: figureNumber;
	}

	// Allow for content to overflow without breaking the page with scrollbar
	&:not(.highlight) {
		overflow-x: auto;
		overflow-y: hidden;
		scrollbar-gutter: stable;
	}

	%image,
	%media {
		max-block-size: 100vh;
	}

	& > a {
		display: block;
		text-decoration: none;
	}

	& > a figcaption {
		color: h(dove);
		font-style: italic;
	}

	figcaption {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block-start: var(--size-medium);
		font-family: var(--font-family-serif);
		line-height: var(--line-height-small);
	}
}
