////
/// Figure
/// @group global
////

@use "../abstracts/mixins-scss" as *;

figure {
	max-inline-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// Allow for content to overflow without breaking the page with scrollbar
	overflow-x: auto;
	overflow-y: hidden;

	&:not(.no-counter) {
		counter-increment: figureNumber;
	}

	& figcaption {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block-start: var(--size-medium);
		font-family: var(--font-family-serif);
		line-height: var(--line-height-small);
	}

	& :is(img, input[type=image], svg),
	& :is(audio, canvas, embed, iframe, lite-youtube, marquee, math, object, video) {
		display: block;
		max-block-size: 100vb;
		max-block-size: 100dvb;
	}

	& :is(img, input[type=image], svg) {
		border-radius: var(--border-radius, var(--size-border-thin));
	}

	& > a {
		display: block;
		text-decoration: none;
	}

	& > a figcaption {
		color: light-dark(var(--color-nickel), var(--color-yeti));
		@include italic;
	}
}
