////
/// Figure
/// @group global
////

figure {
	max-inline-size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	// Allow for content to overflow without breaking the page with scrollbar
	overflow-x: auto;
	overflow-y: hidden;

	&:not(.no-counter) {
		counter-increment: figureNumber;
	}

	figcaption {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block-start: var(--size-medium);
		font-family: var(--font-family-serif);
		line-height: var(--line-height-small);
	}

	%image,
	%media {
		display: block;
		max-block-size: 100vh;
		max-block-size: 100dvb;
	}

	%image {
		border-radius: var(--border-radius, var(--size-border-thin));
	}

	& > a {
		display: block;
		text-decoration: none;
	}

	& > a figcaption {
		color: h(nickel);
		@include italic;
	}
}
