////
/// Fonts
/// @group global
////

@font-face {
	font-family: "Proxima Vara";
	font-display: swap;
	font-weight: 100 900;
	src: url("/fonts/proxima-vara.woff2") format("woff2"), url("/fonts/proxima-vara.woff") format("woff");
	unicode-range: U+0020-007D, U+007F-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
