////
/// Headings
/// @group global
////

:is(h1, h2, h3, h4, h5, h6) {
	position: relative;
	font-family: var(--font-family-sans);
	text-wrap: balance;
	clear: both;
}

h1, .alpha {
	font-size: var(--font-size-alpha);
	font-weight: var(--font-weight-heavy);
	line-height: var(--line-height-medium);
}
h1 {
	z-index: var(--z-index-above);
}

h2, .beta {
	font-size: var(--font-size-beta);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-medium);
}
h2 {
	inline-size: fit-content;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 1ex;
	padding-block-end: var(--size-tiny);
	padding-inline-end: var(--size-large-gigantic);
	text-wrap: initial;
	box-shadow: inset 0 calc(-1 * var(--size-border-thin)) 0 oklch(from currentColor l c h / 15%);
}

h3,
.gamma,
:is(.stack, .deck) h1 {
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-medium);
}

h4,
.delta,
.shelf h1 {
	font-size: var(--font-size-default);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-default);
}

h5,
.epsilon {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-default);
}

h6,
.zeta {
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-default);
}

.riza {
	font-size: var(--font-size-default);
}
