////
/// Headings
/// @group global
////

%heading {
	padding: 0;
	margin: 0;
	position: relative;
}

h1,
.alpha,
%alpha {
	font-size: var(--font-size-alpha);
	font-weight: var(--font-weight-heavy);
	line-height: var(--line-height-medium);
}
h1 {
	z-index: var(--z-index-above);
}

h2,
.beta,
%beta {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-beta);
	font-weight: var(--font-weight-bold);
}
h2 {
	inline-size: auto;
	max-inline-size: 100%;
	display: inline-block;
	padding-inline-end: var(--size-large);
	border-block-end: var(--size-border-thin) solid h(alto);
}

h3,
.gamma,
%gamma {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-gamma);
	font-weight: var(--font-weight-semibold);
}

h4,
.delta,
%delta {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-default);
	font-weight: var(--font-weight-semibold);
}

h5,
.epsilon,
%epsilon {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-semibold);
}

h6,
.zeta,
%zeta {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-small);
	font-weight: var(--font-weight-default);
}

.riza,
%riza {
	font-size: var(--font-size-default);
}
