////
/// Images
/// @group global
////

@use "../abstracts/collections";

#{collections.$image} {
	margin-inline: auto;
	position: relative;
	break-inside: avoid;
}

img {
	object-fit: contain;
}

svg {
	fill: var(--fill, currentColor);

	#{collections.$anchor}:is(:hover, :focus, :active) > &,
	#{collections.$anchor}:is(:hover, :focus, :active) .emoji &,
	#{collections.$button}:is(:hover, :focus, :active) > &,
	#{collections.$button}:is(:hover, :focus, :active) .emoji & {
		fill: var(--fill-hover, var(--fill, currentColor));
	}
}
