////
/// Images
/// @group global
////

%image {
	margin-inline: auto;
	position: relative;
}

img {
	object-fit: contain;
}

svg {
	fill: var(--fill, currentColor);

	%anchor:is(:hover, :focus, :active) > &,
	%anchor:is(:hover, :focus, :active) .emoji &,
	%button:is(:hover, :focus, :active) > &,
	%button:is(:hover, :focus, :active) .emoji & {
		fill: var(--fill-hover, var(--fill, currentColor));
	}
}
