////
/// Images
/// @group global
////

%image {
	max-inline-size: 100%;
	block-size: auto;
	margin-inline: auto;
	position: relative;

	%anchor & {
		outline: var(--size-border, var(--size-border-thin)) solid var(--color, transparent);
		outline-offset: var(--size-border, var(--size-border-thin));
	}
	%anchor:is(:hover, :focus, :active) & {
		outline-color: h(raven);
	}
}
img {
	border-style: none;
}
picture {
	&,
	img,
	svg {
		display: block;
	}
}
svg:not(:root) {
	overflow: hidden;
}
