////
/// <dialog> and [popover]
/// @group global
////

::backdrop {
	background-color: oklch(from var(--color-thunder) l c h / var(--opacity-50));
	backdrop-filter: blur(1px);
	overscroll-behavior: contain;
}

:is(dialog, [popover], :where(.modal)) {
	--flow-space: var(--size-medium-large);

	background-color: var(--background-color, light-dark(color-mix(in oklab, var(--color-snowy), var(--color-yeti) 80%), color-mix(in oklab, var(--color-thunder), var(--color-mineshaft) 80%)));
	color: inherit;
	max-inline-size: 100vi;
	padding: var(--size-medium-large);
	border-block-start: var(--size-border-thin) solid var(--color-raven);
	border-radius: 0 0 var(--border-radius, var(--size-border-thin)) var(--border-radius, var(--size-border-thin));
	box-shadow: var(--box-shadow-medium);
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	inset: initial;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transition:
		opacity var(--transition-duration),
		transform var(--transition-duration);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

[popover]:popover-open {
	opacity: 1;
	transform: translateX(-50%) translateY(-50%);

	@starting-style {
		opacity: 0;
		transform: translateX(-50%) translateY(calc(-50% + var(--size-medium)));
	}
}
