////
/// <dialog> and [popover]
/// @group global
////

::backdrop {
	background-color: oklch(from var(--color-thunder) l c h / var(--opacity-beta));
	backdrop-filter: blur(1px);
}

:is(dialog, [popover]) {
	--flow-space: var(--size-medium-large);

	background-color: var(--background-color, light-dark(color-mix(in oklab, var(--color-bear), var(--color-snowy)), color-mix(in oklab, var(--color-thunder), var(--color-mineshaft) 80%)));
	color: inherit;
	max-inline-size: 100vi;
	padding: var(--size-medium-large) var(--size-small-medium);
	border: var(--size-border-default) solid var(--color-raven);
	border-radius: var(--size-border-default);
	box-shadow: var(--box-shadow-medium);
	position: fixed;
	inset: initial;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transition: opacity var(--transition-duration);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

[popover]:popover-open {
	opacity: 1;

	@starting-style {
		opacity: 0;
	}
}
