////
/// <dialog> and [popover]
/// @group global
////

@use "../abstracts/functions";

::backdrop {
	background-color: functions.h(thunder, beta);
	backdrop-filter: blur(1px);
}

:is(dialog, [popover]) {
	--flow-space: var(--size-medium-large);

	background-color: color-mix(in oklab, functions.h(bear), functions.h(snowy));
	color: inherit;
	max-inline-size: 100vi;
	padding: var(--size-medium-large) var(--size-small-medium);
	border: var(--size-border-default) solid functions.h(raven);
	border-radius: var(--size-border-default);
	box-shadow: var(--box-shadow-medium);
	position: fixed;
	inset: initial;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transition: opacity var(--transition-duration);
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

[popover]:popover-open {
	opacity: 1;

	@starting-style {
		opacity: 0;
	}
}
