////
/// Page
/// @group global
////

html {
	background-color: h(kaiser);
	position: relative;
	overflow-x: hidden;
	// prevent horizontal jump when navigating short page ←→ tall page
	overflow-y: scroll;
	overscroll-behavior: contain;
	scrollbar-gutter: stable;
	accent-color: h(raven);
	scrollbar-color: h(raven) h(milou);
	font-size: 100%;
	font-variant: common-ligatures proportional-nums;
	scroll-padding-top: var(--size-small);
}

body {
	background-color: h(milou);
	color: h(kaiser);
	display: grid;
	grid-template-rows:
		[header-start]
		auto
		[header-end main-start]
		1fr
		[main-end footer-start]
		auto
		[footer-end];
	font-family: var(--font-family-sans);
	font-size: var(--font-size-default);
	font-style: normal;
	font-variation-settings: normal;
	font-weight: var(--font-weight-default);
	line-height: var(--line-height-default);
	counter-reset: figureNumber;

	@include media("print") {
		display: block;
	}
}

.header {
	grid-row: header;
}

.main {
	grid-row: main;
}

.footer {
	grid-row: footer;
}
