////
/// Prose
/// @group global
////

@use "../abstracts/mixins-scss" as *;

:is(p, blockquote, details, table, dl, ol, ul, figure:not([class])) {
	break-inside: avoid;
}

:is(p, li, dd) {
	max-inline-size: var(--size-character-limit);
	text-wrap: pretty;
}

:is(abbr, dfn)[title] {
	@include italic;
	text-decoration: underline;
	text-decoration-color: var(--color-nickel);
	text-decoration-style: dotted;
	text-decoration-thickness: var(--size-border-thin);
	cursor: help;
}

ins {
	background-color: var(--color-conifer);
	color: var(--color-snowy);
	padding: var(--size-border-default);
	border-radius: var(--border-radius, var(--size-border-default));
	font-size: var(--font-size-default);
	text-decoration: none;
}

del {
	text-decoration-color: var(--color-maple);
	text-decoration-thickness: var(--size-border-thin);
}

s {
	text-decoration-thickness: var(--size-border-thin);
}

mark {
	background-color: var(--color-aspen) !important;
	background-image: none;
	background-clip: initial;
	color: var(--color-mineshaft) !important;
	-webkit-text-fill-color: initial;
	text-shadow: none;
}

:is(em, i),
.italic {
	font-style: italic !important;
	font-synthesis: none !important;
	font-variation-settings: "ital" 125 !important;
}
.soft-italic {
	@include soft-italic;
}

:is(b, strong),
.strong {
	font-style: normal !important;
	font-variation-settings: normal !important;
	font-weight: var(--font-weight-semibold);
}

u,
.underline {
	text-decoration: underline !important;
}

// Conflicts with .light class for color scheme
// .light {
// 	font-weight: var(--font-weight-light) !important;
// }
.regular {
	font-weight: var(--font-weight-regular) !important;
}
.medium {
	font-weight: var(--font-weight-medium) !important;
}
.semibold {
	font-weight: var(--font-weight-semibold) !important;
}
.bold {
	font-weight: var(--font-weight-bold) !important;
}
.extrabold {
	font-weight: var(--font-weight-extrabold) !important;
}
.heavy {
	font-weight: var(--font-weight-heavy) !important;
}

small,
.small {
	font-size: var(--font-size-small);
}

:is(sub, sup) {
	position: relative;
	font-size: 0.8125em;
	line-height: 0;
	text-transform: initial;
}
sub {
	inset-block-end: 0;
}
sup {
	inset-block-start: 0;

	em &::before {
		content: " ";
		font-size: 0.5em;
	}
}

hr {
	background-color: oklch(from currentColor l c h / 15%);
	inline-size: 100%;
	max-inline-size: 20ch;
	block-size: var(--size-border-thin);
	display: block;
	padding: 0 !important;
	border: 0;
	margin: var(--rule-space, var(--size-gigantic)) auto !important;
	position: relative;
	// show the overflow in Edge and IE
	overflow: visible;
}

aside:not([class]) {
	background-color: oklch(from var(--color-mineshaft) l c h / 20%);
	padding: var(--size-medium);
	border-radius: var(--size-border-thin);
}

meter,
progress {
	inline-size: var(--size-line-length);
	max-inline-size: 100%;
}

meter {
	&::-webkit-meter-bar {
		background-color: var(--color-nickel);
	}

	&::-webkit-meter-optimum-value {
		background-color: var(--color-conifer);
	}

	&::-webkit-meter-suboptimum-value {
		background-color: var(--color-aspen);
	}

	&::-webkit-meter-even-less-good-value {
		background-color: var(--color-maple);
	}
}

progress {
	&::-webkit-progress-bar {
		background-color: var(--color-nickel);
	}

	&::-webkit-progress-value {
		background-color: var(--color-raven);
	}
}

// Target Animation
:target {
	animation: var(--animation-duration) var(--transition-function) var(--transition-duration-short) target;
}
@keyframes target {
	0%, 33.333% {
		background-color: var(--color-aspen);
		color: var(--color-mineshaft);
		--fill: var(--color-mineshaft);
	}
}

// For some reason, ::selection and ::target-text don't play well together
::selection {
	background-color: light-dark(var(--color-wolf), var(--color-highland));
	background-image: none;
	background-clip: initial;
	color: light-dark(var(--color-snowy), var(--color-mineshaft));
	-webkit-text-fill-color: initial;
	text-shadow: none;
}
::target-text {
	background-color: light-dark(var(--color-wolf), var(--color-highland));
	background-image: none;
	background-clip: initial;
	color: light-dark(var(--color-snowy), var(--color-mineshaft));
	-webkit-text-fill-color: initial;
	text-shadow: none;
}

::spelling-error {
	text-decoration: var(--color-maple) wavy underline;
}

::grammar-error {
	text-decoration: var(--color-conifer) wavy underline;
}

.columns {
	column-count: var(--columns, 2);
	column-gap: var(--gap, 1em);
}
