////
/// Table
/// @group global
////

table {
	flex: 1 0 auto;
	align-self: flex-start;
	border-collapse: collapse;
	border-width: 0;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-gutter: stable;
	font-variant-numeric: tabular-nums;

	&.full {
		inline-size: 100%;
	}

	&.zebra,
	&.zebra--horizontal {
		tbody tr:nth-child(even) td {
			background-color: h(thunder, delta);
		}
	}
	&.zebra,
	&.zebra--vertical {
		tbody td:nth-child(odd) {
			background-color: h(thunder, delta);
		}
	}
}

// Cells
:is(th, td) {
	max-inline-size: 30vw;
	padding: var(--size-small);
	text-align: start;
	vertical-align: top;
	user-select: text;
	transition: background-color var(--transition-duration) var(--transition-function);

	.numeral &,
	&.numeral {
		text-align: end;
	}
}

// Heading Cells
th {
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-medium);
	// white-space: nowrap;

	&:not(:empty) {
		background-color: mix(map-get($colors, thunder), map-get($colors, snowy), map-get($opacities, delta) * 100%);
		position: sticky;
		z-index: var(--z-index-above);

		thead & {
			inset-block-start: var(--size-header);
		}

		tbody & {
			inset-inline-start: 0;
		}

		details & {
			position: initial;
		}
	}

	tbody & {
		inline-size: 1px;
	}
}

// Body Cells
td {
	.numeral &,
	&.numeral {
		white-space: nowrap;
	}
}
