////
/// Table
/// @group global
////

table {
	flex: 1 0 auto;
	align-self: flex-start;
	border-collapse: collapse;
	border-width: 0;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-gutter: stable;
	font-variant-numeric: tabular-nums;

	&.full {
		inline-size: 100%;
	}

	&.zebra,
	&.zebra--horizontal {
		tbody tr:nth-child(even) td {
			background-color: oklch(from var(--color-thunder) l c h / var(--opacity-05));
		}
	}
	&.zebra,
	&.zebra--vertical {
		tbody td:nth-child(odd) {
			background-color: oklch(from var(--color-thunder) l c h / var(--opacity-05));
		}
	}
}

// Cells
:is(th, td) {
	max-inline-size: 30vi;
	padding: var(--size-small);
	text-align: start;
	vertical-align: top;
	user-select: text;
	transition: background-color var(--transition-duration) var(--transition-function);

	.numeral &,
	&.numeral {
		text-align: end;
	}
}

// Heading Cells
th {
	font-weight: var(--font-weight-semibold);
	line-height: var(--line-height-medium);

	&:not(:empty) {
		background-color: light-dark(color-mix(in oklab, var(--color-yeti), var(--color-snowy) 40%), var(--color-mineshaft));
		position: sticky;
		z-index: var(--z-index-above);

		thead & {
			inset-block-start: 0;
			animation: block-shadow-outside linear;
			animation-timeline: scroll(nearest block);
		}

		tbody & {
			inset-inline-start: 0;
		}
		tbody &,
		.shadow-child {
			animation: inline-shadow-outside linear;
			animation-timeline: --scrollInline;
		}
		tbody &:has(.shadow-child) {
			padding: 0;
		}
		& .shadow-child {
			padding: var(--size-small);
		}

		details & {
			position: initial;
		}
	}

	tbody & {
		inline-size: 1px;
	}
}

// Body Cells
td {
	.numeral &,
	&.numeral {
		white-space: nowrap;
	}

	.scroll-inline-shadow & {
		position: relative;
		z-index: var(--z-index-below);
	}
}
