////
/// Variables
/// @group global
////

@use "sass:map";
@use "sass:math";
@use "../../../node_modules/utopia-core-scss/src/utopia" as utopia;
@use "../abstracts/mixins";
@use "../generated/tokens";

:root {
	// Monochrome colors components
	--snowy-lightness: 98.21%;
	--thunder-lightness: 14.96%;
	--monochrome-chroma: 0;
	--monochrome-hue: 0;
	// Monochrome colors
	--color-snowy: oklch(var(--snowy-lightness) var(--monochrome-chroma) var(--monochrome-hue));
	--color-thunder: oklch(var(--thunder-lightness) var(--monochrome-chroma) var(--monochrome-hue));
	--color-mineshaft: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 83.6%);
	--color-kaiser: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 66.6%);
	--color-nickel: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 51.8%);
	--color-yeti: color-mix(in oklab, var(--color-snowy), var(--color-thunder) 10.2%);

	// Raven color components
	--raven-lightness: 61.29%;
	--raven-chroma: 0.064;
	--raven-hue: 237.73;
	// Raven & Raven-based colors
	--color-raven: oklch(var(--raven-lightness) var(--raven-chroma) var(--raven-hue));
	--color-lynx: color-mix(in oklab, var(--color-raven), var(--color-thunder) 75%);
	--color-wolf: color-mix(in oklab, var(--color-raven), var(--color-thunder) 54%);
	--color-bowhead: color-mix(in oklab, var(--color-raven), var(--color-thunder) 33%);
	--color-highland: color-mix(in oklab, var(--color-raven), var(--color-snowy) 33%);
	--color-coyote: color-mix(in oklab, var(--color-raven), var(--color-snowy) 54%);
	--color-bear: color-mix(in oklab, var(--color-raven), var(--color-snowy) 75%);

	@each $name, $value in map.merge(tokens.$colors-secondary, tokens.$colors-tertiary) {
		--color-#{$name}: #{$value};
	}
	--body-background-color: light-dark(color-mix(in oklab, var(--color-bear), var(--color-snowy) 90%), color-mix(in oklab, var(--color-mineshaft), var(--color-wolf) 40%));
	--body-color: light-dark(var(--color-kaiser), var(--color-yeti));

	@for $x from 1 through 9 {
		--opacity-#{$x * 10}: #{math.div($x * 10, 100)};
	}
	--opacity-5: 0.05;

	@each $name, $data in tokens.$sizes {
		--size-#{$name}-min: #{math.div(map.get($data, "minSize"), 16) * 1rem};
		--size-#{$name}: #{utopia.calculateClamp((
			"minWidth": map.get($data, "minWidth"),
			"maxWidth": map.get($data, "maxWidth"),
			"minSize": map.get($data, "minSize"),
			"maxSize": map.get($data, "maxSize"),
		))};
		--size-#{$name}-max: #{math.div(map.get($data, "maxSize"), 16) * 1rem};
	}
	$sizes-seen: ();
	@each $a-name, $a-data in tokens.$sizes {
		@each $b-name, $b-data in $sizes-seen {
			--size-#{$b-name}-#{$a-name}: #{utopia.calculateClamp((
				"minWidth": map.get($b-data, "minWidth"),
				"maxWidth": map.get($a-data, "maxWidth"),
				"minSize": map.get($b-data, "minSize"),
				"maxSize": map.get($a-data, "maxSize"),
			))};
		}
		$sizes-seen: map.set($sizes-seen, $a-name, $a-data);
	}
	@each $name, $value in tokens.$sizes-extra {
		--size-#{$name}: #{$value};
	}
	@each $name, $value in tokens.$breakpoints {
		--size-breakpoint-#{$name}: #{$value};
	}

	@each $name, $value in tokens.$font-families {
		--font-family-#{$name}: #{$value};
	}

	@each $name, $data in tokens.$font-sizes {
		--font-size-#{$name}-min: #{math.div(map.get($data, "minSize"), 16) * 1rem};
		--font-size-#{$name}: #{utopia.calculateClamp((
			"minWidth": map.get($data, "minWidth"),
			"maxWidth": map.get($data, "maxWidth"),
			"minSize": map.get($data, "minSize"),
			"maxSize": map.get($data, "maxSize"),
		))};
		--font-size-#{$name}-max: #{math.div(map.get($data, "maxSize"), 16) * 1rem};
	}
	$font-sizes-seen: ();
	@each $a-name, $a-data in tokens.$font-sizes {
		@each $b-name, $b-data in $font-sizes-seen {
			--font-size-#{$b-name}-#{$a-name}: #{utopia.calculateClamp((
				"minWidth": map.get($b-data, "minWidth"),
				"maxWidth": map.get($a-data, "maxWidth"),
				"minSize": map.get($b-data, "minSize"),
				"maxSize": map.get($a-data, "maxSize"),
			))};
		}
		$font-sizes-seen: map.set($font-sizes-seen, $a-name, $a-data);
	}

	@each $name, $value in tokens.$font-weights {
		--font-weight-#{$name}: #{$value};
	}

	@each $name, $value in tokens.$line-heights {
		--line-height-#{$name}: #{$value};
	}

	@each $name, $value in tokens.$z-indexes {
		--z-index-#{$name}: #{$value};
	}

	--animation-duration: 2s;
	--animation-duration-long: 4s;

	--rotation-default: 5deg;

	--transition-duration: 0.2s;
	--transition-duration-short: 120ms;
	--transition-duration-long: 1s;
	--transition-function: ease;

	--line-clamp: 3;

	--aspect-ratio: 16 / 9;

	--contrast-list: var(--color-yeti), var(--color-snowy), var(--color-mineshaft), var(--color-thunder);
	--contrast-ratio: AA;

	--color-shadow: light-dark(var(--color-shadow-light), var(--color-shadow-dark));

	// Generated with: https://www.joshwcomeau.com/shadow-palette/
	--box-shadow-low: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 64%), 0.4px 0.8px 1px -1.2px oklch(from var(--color-shadow) l c h / 64%), 1px 2px 2.5px -2.5px oklch(from var(--color-shadow) l c h / 64%);
	--box-shadow-medium: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 64%), 0.8px 1.6px 2px -0.8px oklch(from var(--color-shadow) l c h / 64%), 2.1px 4.1px 5.2px -1.7px oklch(from var(--color-shadow) l c h / 64%), 5px 10px 12.6px -2.5px oklch(from var(--color-shadow) l c h / 64%);
	--box-shadow-high: 0.3px 0.5px 0.7px oklch(from var(--color-shadow) l c h / 64%), 1.5px 2.9px 3.7px -0.4px oklch(from var(--color-shadow) l c h / 64%), 2.7px 5.4px 6.8px -0.7px oklch(from var(--color-shadow) l c h / 64%), 4.5px 8.9px 11.2px -1.1px oklch(from var(--color-shadow) l c h / 64%), 7.1px 14.3px 18px -1.4px oklch(from var(--color-shadow) l c h / 64%), 11.2px 22.3px 28.1px -1.8px oklch(from var(--color-shadow) l c h / 64%), 17px 33.9px 42.7px -2.1px oklch(from var(--color-shadow) l c h / 64%), 25px 50px 62.9px -2.5px oklch(from var(--color-shadow) l c h / 64%);
}
