{% include header.html %}

    <section class="content  wrap  clear">
        <article role="main">

            <h1 id="article" class="article-title" role="heading">{{ page.title }}</h1>

            {% include main-aside.html %}

            {% if page.banner and page.banner_mobile %}
                <img alt="" class="article-banner" role="presentation"
                     src="/images/article-banners/{{ page.banner_mobile }}"
                     sizes="(min-width: 541px) 810px, 100vw"
                     srcset="/images/article-banners/{{ page.banner_mobile }} 500w, /images/article-banners/{{ page.banner }} 810w">
            {% endif %}

            {% if page.introduction %}
                <p class="article-introduction">{{ page.introduction }}</p>
            {% endif %}

            {{ content }}

            <ol class="pagination  clear">
                <li>{% if page.previous.url %}
                    <a rel="previous" class="button" href="{{ page.previous.url }}" title="Previous Article: {{ page.previous.title }}">Previous Article</a>
                {% endif %}</li><!--
             --><li>{% if page.next.url %}
                    <a rel="next" class="button" href="{{ page.next.url }}" title="Next Article: {{ page.next.title }}">Next Article</a>
                {% endif %}</li>
            </ol>

            <section class="comments  clear">
                <div id="disqus_thread"></div>
                <script type="text/javascript" aria-hidden="true">
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//chrisburnell.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript aria-hidden="true">Please enable Javascript to view comments.</noscript>
            </section>

        </article>
    </section>

{% include footer.html %}