{% include header.html %}

    <section class="content  wrap  clear">
        <article>

            <h1 class="article-title">{{ page.title }}</h1>

            <aside class="author">
                <div class="author-information">
                    <img src="/images/avatar-200.png" class="author-image" alt="">
                    <div class="author-name">by <strong>{{ site.author }}</strong></div>
                    <time class="article-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time>
                    <div class="article-tags">tagged under <strong>{{ page.tags | array_to_sentence_string }}</strong></div>
                </div>
                <div class="author-biography">
                    <p>I'm a Canadian front-end web developer living in London (UK) and working at <a rel="employer" href="{{ site.employer_url }}" title="{{ site.employer }}">{{ site.employer }}</a>. Driven by a passion for lean CSS and a semantic web, I love to create rich and engaging user experiences, which I write about here.</p>
                    <p>I also <a rel="me publisher" class="twitter-link" href="{{ site.twitter_url }}" title="{{ site.author }} on Twitter">tweet</a>, <a rel="me publisher" class="codepen-link" href="{{ site.codepen_url }}" title="{{ site.author }} on Codepen">write code</a>, and <a rel="me publisher" class="lastfm-link" href="{{ site.lastfm_url }}" title="{{ site.author }} on Last.FM">listen to music</a> if this article isn't your style, and makes you want to claw your eyeballs out.</p>
                </div>
                {% if site.related_posts %}<div class="related-articles">
                    <h3>Related Articles</h3>
                    <ul>{% for post in site.related_posts limit:3 %}
                        <li>
                            <a class="related-title" href="{{ post.url }}#disqus_thread">{{ post.title }}</a>
                            <time class="related-date" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </li>{% endfor %}
                    </ul>
                </div>{% endif %}
            </aside>
{% if page.banner %}
            <img alt="{{ page.introduction}}" class="article-banner" src="{{ site.url }}/images/article-banners/{{ page.banner }}">
{% endif %}{% if page.introduction %}
            <p class="article-introduction">{{ page.introduction }}</p>
{% endif %}
{{ content }}
            <section class="pagination  clear">{% if page.previous.url %}
                <a rel="prev" class="button  prev-link" href="{{ page.previous.url }}" title="Previous Article: {{ page.previous.title }}">&larr; Previous Article</a>{% endif %}{% if page.next.url %}
                <a rel="next" class="button  next-link" href="{{ page.next.url }}" title="Next Article: {{ page.next.title }}">Next Article &rarr;</a>{% endif %}
            </section>

            <section class="comments  clear">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//chrisburnell.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view comments.</noscript>
            </section>

        </article>
    </section>

{% include footer.html %}