{% include components/head.liquid %}
{% include components/header.liquid %}


<main class="wrap  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="article">

        <h1 class="title{% if page.page_class contains 'success' %}  title--success{% elsif page.page_class contains 'error' %}  title--error{% endif %}" id="article">
            {% unless page.reacji or page.titlefree %}
                <span class="p-name">
            {% endunless %}
            {% if page.category == 'like' %}
                Liked: {{ link_title }}
            {% elsif page.titlefree %}
                {{ page.date | date: '%A, %d %B %Y' }}
            {% else %}
                {{ page.title | strip_html }}
            {% endif %}
            {% unless page.reacji or page.titlefree %}
                </span>
            {% endunless %}
            {% if page.sparkline %}
                {% include content/sparkline.liquid title=page.sparkline values=page.category %}
            {% endif %}
        </h1>

        {% include components/meta.liquid %}
        {% include components/banner.liquid %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede | replace: "'", "’" }}</p>
        {% endif %}

        {% include components/reply_context.liquid %}

        {% if page.edit %}
            <div class="edit">
                {% if page.sitemap.lastmod %}
                    <time datetime="{{ page.sitemap.lastmod | date_to_xmlschema }}">Edited on {{ page.sitemap.lastmod | date_to_long_string }}:</time>
                {% endif %}
                {{ page.edit | markdownify }}
            </div>
        {% endif %}

        {% if link %}
            <nav class="buttons-list" role="navigation">
                <a class="button  u-{{ page.mf_property }}" href="{{ link }}" rel="external">{{ link_title }}</a>
            </nav>
        {% endif %}

        {% include components/photo.liquid photo=page.photo %}
        <div class="content__body{% unless page.eacji %}  e-content{% endunless %}">
            {% if page.reacji %}
                <span class="p-name  e-content">{{ page.reacji }}</span>
            {% else %}
                {{ content }}
            {% endif %}

            {% if checkin.lat and checkin.long %}
                <figure class="media">
                    <a href="https://www.openstreetmap.org/#map=13/{{ checkin.lat }}/{{ checkin.long }}" rel="external" title="Open with OpenStreetMap">
                        <picture>
                            <source media="all and (prefers-color-scheme: dark)" srcset="https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/{{ checkin.long }},{{ checkin.lat }},13,0,0/500x280?access_token=pk.eyJ1IjoiY2hyaXNidXJuZWxsIiwiYSI6ImNqbnlpNmM2NTBpM2MzcW54MGozNm0zenoifQ.nmCtk9G88dV3VpKMTTsusA 1x, https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/{{ checkin.long }},{{ checkin.lat }},13,0,0/500x280@2x?access_token=pk.eyJ1IjoiY2hyaXNidXJuZWxsIiwiYSI6ImNqbnlpNmM2NTBpM2MzcW54MGozNm0zenoifQ.nmCtk9G88dV3VpKMTTsusA 2x">
                            <source media="all" srcset="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/{{ checkin.long }},{{ checkin.lat }},13,0,0/500x280?access_token=pk.eyJ1IjoiY2hyaXNidXJuZWxsIiwiYSI6ImNqbnlpNmM2NTBpM2MzcW54MGozNm0zenoifQ.nmCtk9G88dV3VpKMTTsusA 1x, https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/{{ checkin.long }},{{ checkin.lat }},13,0,0/500x280@2x?access_token=pk.eyJ1IjoiY2hyaXNidXJuZWxsIiwiYSI6ImNqbnlpNmM2NTBpM2MzcW54MGozNm0zenoifQ.nmCtk9G88dV3VpKMTTsusA 2x">
                            <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/{{ checkin.long }},{{ checkin.lat }},13,0,0/500x280?access_token=pk.eyJ1IjoiY2hyaXNidXJuZWxsIiwiYSI6ImNqbnlpNmM2NTBpM2MzcW54MGozNm0zenoifQ.nmCtk9G88dV3VpKMTTsusA" alt="{{ checkin.name }} {{ checkin.address }}">
                        </picture>
                    </a>
                </figure>
            {% endif %}
        </div>

        {% include components/further_reading.liquid %}

        <hr>

        {% include components/webmentions.liquid %}
        {% include components/comments.liquid %}

        <hr>

        {% include components/buttons_categories.liquid %}
        {% include components/widget_browse_posts.liquid %}

    </article>

    {% include components/author.liquid %}
</main>


{% include components/footer.liquid %}
{% include components/foot.liquid %}
