{% include components/head.liquid %}
{% include components/header.liquid %}


<main class="wrap{% if page.longform == true %}  stretch{% endif %}  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="article">

        {% include components/title.liquid %}

        {% include components/meta.liquid %}

        {% include components/lede.liquid %}

        {% include components/reply_context.liquid %}

        {% include components/edit.liquid %}

        {% include components/link.liquid %}

        {% include components/photo.liquid %}

        <div class="content__body  e-content">
            {{ content }}
        </div>

        {% include components/further_reading.liquid %}

        {% include components/ads.liquid %}

        {% include components/webmentions.liquid %}

        {% include components/buttons_categories.liquid %}

        {% include components/widget_browse_posts.liquid %}

    </article>

    {% include components/author.liquid %}
</main>


{% include components/footer.liquid %}
{% include components/foot.liquid %}
