{% include header.html %}


<h1 id="article" class="article-title" role="heading">{{ page.title }}</h1>

{% include main-aside.html %}

{{ content }}

<ol class="pagination  clear">
    {% if page.previous.url %}<li>
        <a rel="previous" class="button  pagination-previous" href="{{ page.previous.url }}" title="Previous Article: ‘{{ page.previous.title }}’">Previous Article</a>
    </li>{% endif %}
    {% if page.next.url %}<li>
        <a rel="next" class="button  pagination-next" href="{{ page.next.url }}" title="Next Article: ‘{{ page.next.title }}’">Next Article</a>
    </li>{% endif %}
</ol>

{% if page.comments and page.comments == true %}
    <section id="comments" class="comments  clear">
        <a class="button  show-comments" href="{{ site.codepen_url }}/details/{{ page.codepen_slug }}/#comment-list" title="Comments on CodePen" target="_blank">View Comments</a>
    </section>
{% endif %}


{% include footer.html %}
