{% include header.html %}

    <section class="content  wrap  clear">
        <section class="articles" role="main">

        {% if page.title %}
            <h1 class="page-title" role="heading">{{ page.title }}</h1>
        {% else %}
            <h1 class="site-tagline" role="heading">{{ site.tagline }}.</h1>
        {% endif %}

            <aside class="author" role="complementary">
                <div class="clear  author-information">
                    <picture class="author-image" role="presentation">
                        <source srcset="/images/avatar.png 1x, /images/avatar-200.png 2x">
                        <img src="/images/avatar.png" alt="">
                    </picture>
                    <div class="author-name">about <strong>{{ site.author }}</strong></div>
                    <div class="author-age">I’m <strong>24</strong> years old</div>
                    <div class="author-employer">I’m a <strong>{{ site.job_title }}</strong></div>
                </div>
                {% include biography.html %}
            </aside>

            {% if page.page_class == "home-page" %}
                <h2 class="site-description">{{ site.description }}</h2>
            {% elsif page.description %}
                <h2 class="page-description">{{ page.description }}</h2>
            {% endif %}

            {{ content }}

        </section>
    </section>

{% include footer.html %}
