{% include header.html %}


<main class="wrap  clear  content" role="main">
    <article>

        {% if page.title %}
            <h1 class="page-title" role="heading">{{ page.title }}</h1>
        {% else %}
            <h1 class="site-tagline" role="heading">{{ site.tagline }}.</h1>
        {% endif %}

        {% include main-aside.html %}

        {% if page.page_class contains "page-home" %}
            <h2 class="site-description">{{ site.description }}</h2>
        {% elsif page.page_class contains "page-search" %}
            <h2 class="page-description" id="search-meta">Search for something!</h2>
        {% elsif page.description %}
            <h2 class="page-description">{{ page.description }}</h2>
        {% endif %}

        {{ content }}

    </article>
</main>


{% include footer.html %}
