{% include components/head.liquid %}


<main class="wrap  h-entry" role="main">
    <article class="content" id="content" role="article">

        <h1 class="title" id="article">
            {% unless page.reacji or page.titlefree %}<span class="p-name">{% endunless %}
                {% if page.category == 'like' %}
                    Liked a page on: {{ link_title | split: '/' | first }}
                {% elsif page.titlefree %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title | strip_html }}
                {% endif %}
            {% unless page.reacji or page.titlefree %}</span>{% endunless %}
        </h1>

        {% include components/meta.liquid %}
        {% include components/banner.liquid %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede | replace: "'", "’" }}</p>
        {% endif %}

        {% include components/reply_context.liquid %}

        {% if page.edit %}
            <div class="edit">
                {% if page.sitemap.lastmod %}
                    <time datetime="{{ page.sitemap.lastmod | date_to_xmlschema }}">Edited on {{ page.sitemap.lastmod | date_to_long_string }}:</time>
                {% endif %}
                {{ page.edit | markdownify }}
            </div>
        {% endif %}

        {% if link %}
            <nav class="buttons-list" role="navigation">
                {% assign title = page.bookmark_of.title | default: page.like_of.title | default: page.read_of.title | default: page.link.title | default: link_title %}
                <a class="button  u-{{ page.mf_property }}" href="{{ link }}" rel="external">{{ title }}</a>
            </nav>
        {% endif %}

        <div class="content__body  e-content">
            {% include components/photo.liquid photo=page.photo %}
            {{ content }}
        </div>

        {% include components/further_reading.liquid %}

    </article>
</main>


{% include components/foot.liquid %}
