{% include header.html %}

    <section class="content  wrap  clear">
        <section class="articles">

            <h1 class="site-tagline">{{ page.title }}.</h1>

            <aside class="author">
                <div class="author-information">
                    <img src="/images/avatar-200.png" class="author-image" alt="">
                    <div class="author-name">about<br><strong>{{ site.author }}</strong></div>
                    <div class="author-age">I'm <strong>23</strong> years old</div>
                    <div class="author-employer">I work at <a href="{{ site.employer_url }}">{{ site.employer }}</a></div>
                </div>
                <div class="author-biography">
                    <p>I'm a Canadian front-end web developer living in London (UK). Driven by a passion for lean CSS and a semantic web, I love to create rich and engaging user experiences, which I write about here.</p>
                    <p>I also <a href="{{ site.twitter_url }}" class="twitter-link" title="{{ site.author }} on Twitter">tweet</a>, <a href="{{ site.codepen_url }}" class="codepen-link" title="{{ site.author }} on Codepen">write code</a>, and <a href="{{ site.lastfm_url }}" class="lastfm-link" title="{{ site.author }} on Last.FM">listen to music</a> if my whimsical articles don't capture your child-like wonder.</p>
                </div>
            </aside>
            {% if page.page_class == "page-home" %}
            <h2 class="site-introduction">{{ site.description }}</h2>
{% endif %}
            {{ content }}

        </section>
    </section>

{% include footer.html %}