{% include components/header.html %}


<main class="wrap" role="main">
    <section class="content" id="content" role="document" itemscope itemtype="https://schema.org/WebSite">

        {% if page.page_class contains 'home' %}
            <h1 class="tagline" role="heading" itemprop="name">{{ site.tagline }}</h1>
        {% else %}
            <h1 class="title" role="heading" itemprop="name">{{ page.title }}</h1>
        {% endif %}

        {% include components/author.html %}

        {% include components/banner.html %}

        {% if page.page_class contains 'home' %}
            <h2 class="lede  lede--featured" id="lede" itemprop="description">{{ site.lede }}</h2>
        {% elsif page.page_class contains 'search' %}
            <h2 class="lede  lede--featured  js-search-meta" id="lede" itemprop="description">Search for something!</h2>
        {% elsif page.lede %}
            <h2 class="lede  lede--featured" id="lede" itemprop="description">{{ page.lede }}</h2>
        {% endif %}

        {{ content }}

    </section>
</main>


{% include components/footer.html %}
