{% include components/head.html %}
{% include components/header.html %}


<main class="wrap" role="main">
    <section class="content" id="content" role="document">

        {% if page.page_class contains 'home' %}
            <h1 class="tagline" role="heading">{{ site.tagline | replace: ' for', '<br>for' }}</h1>
        {% else %}
            <h1 class="title{% if page.page_class contains 'error' %}  title--error{% endif %}" role="heading">
                {{ page.title | strip_html }}
                {% if page.sparkline %}
                    <canvas id="sparkline-{{ page.sparkline }}" title="since 26 weeks ago" class="sparkline" width="160" height="24"></canvas>
                {% endif %}
            </h1>
        {% endif %}

        {% include components/banner.html %}

        {% if page.page_class contains 'home' %}
            <p class="beta  lede  lede--featured" id="lede">{{ site.lede }}</p>
        {% elsif page.page_class contains 'search' %}
            <p class="beta  lede  lede--featured  js-search-meta" id="lede">Search for something!</p>
        {% elsif page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede }}</p>
        {% endif %}

        <div class="content__body">
            {{ content }}
        </div>

    </section>

    {% include components/author.html %}
</main>


{% include components/footer.html %}
{% include_cached components/foot.html %}
