{% include layouts/header.html %}


<main class="wrap  clear" role="main">
    <article role="article" itemscope itemtype="http://schema.org/BlogPosting">

        <h1 id="article" class="title" role="heading">
            <span itemprop="name">{{ page.title }}</span>
            {% if page.shorturl %}
                {% capture h1_url %}{{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% capture h1_title %}Permalink: {{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% assign h1_rel = 'me' %}
                {% include content/fragment-anchor.html url=h1_url title=h1_title rel=h1_rel %}
            {% endif %}
        </h1>

        {% include components/main-aside.html %}

        {% include components/banner.html %}

        {% if page.lede %}
            <h2 id="lede" class="lede  lede--featured" itemprop="description">{{ page.lede }}</h2>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                {% if page.edit_date %}
                    <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edit ({{ page.edit_date | date: '%d %b, %Y' }}) —</time>
                {% endif %}
                <p>{{ page.edit_text }}</p>
            </div>
        {% endif %}

        {% if page.external_links and page.categories contains 'link' %}
            <nav class="buttons-list" role="navigation">
                {% assign link = page.external_links | first %}
                {% assign url = link.url %}
                {% if link.title == null or link.title == empty %}
                    {% assign title = url | remove: 'http://' | remove: 'https://' | split: '/' | first %}
                {% else %}
                    {% assign title = link.title %}
                {% endif %}
                <a rel="external" class="button" href="{{ url }}">{{ title }}</a>
            </nav>
        {% endif %}

        {{ content }}

        {% if page.external_links %}
            {% unless page.categories contains 'link' %}
                {% include content/heading.html title='Further Reading' %}
                <ul>
                    {% for link in page.external_links %}
                        {% assign url = link.url %}
                        {% if url contains site.url %}
                            {% assign rel = '' %}
                        {% else %}
                            {% assign rel = ' rel="external"' %}
                        {% endif %}
                        {% if link.title == null or link.title == empty %}
                            {% assign title = url %}
                        {% else %}
                            {% assign title = link.title %}
                        {% endif %}
                        <li>
                            <a{{ rel }} href="{{ url }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endunless %}
        {% endif %}

        {% include components/nav-secondary.html type='archives' include=page.categories.first %}

        {% include components/comments.html %}

        {% if page.categories contains 'article' %}
            {% include components/widget-latest-articles.html %}
        {% elsif page.categories contains 'pen' %}
            {% include components/widget-latest-pens.html %}
        {% elsif page.categories contains 'talk' %}
            {% include components/widget-latest-talks.html %}
        {% endif %}

    </article>
</main>


{% include layouts/footer.html %}
