{% include components/header.html %}


<main class="wrap" role="main">
    <article class="content" id="content" role="article" itemscope itemtype="https://schema.org/TechArticle">

        <h1 class="title" id="article" role="heading">
            <span itemprop="name">{{ page.title }}</span>
            {% if page.shorturl %}
                {% capture h1_href %}{{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% capture h1_title %}Permalink: {{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% assign h1_rel = 'me' %}
                {% include content/fragment-anchor.html href=h1_href title=h1_title rel=h1_rel %}
            {% endif %}
        </h1>

        {% include components/author.html %}

        <div class="meta">
            <time class="date" datetime="{{ page.date | date_to_xmlschema }}">
                <span>published on</span>
                {% if page.shorturl %}
                    <a href="{{ page.shorturl | prepend: site.shorturl }}" title="Permalink: {{ page.shorturl | prepend: site.shorturl }}" rel="me" itemprop="datePublished">
                {% else %}
                    <strong itemprop="datePublished">
                {% endif %}
                {{ page.date | date: '%d %B, %Y' }}
                {% if page.shorturl %}
                    </a>
                {% else %}
                    </strong>
                {% endif %}
            </time>
            {% if page.tags.size > 0 %}
                {% assign tags_sorted = page.tags | sort %}
                <div class="tags">
                    <span>tagged under</span>
                    <span itemprop="keywords">
                        {% for tag in tags_sorted %}{% unless forloop.first %}, {% endunless %}<a href="/tags/#{{ tag | slugify }}" rel="tag">{{ tag }}</a>{% endfor %}
                    </span>
                </div>
            {% endif %}
            {% if page.categories contains 'article' %}
                {% assign words = content | number_of_words %}
                <div class="reading-time">
                    <span>reading time</span>
                    {% if words < 360 %}
                        <strong>1 min</strong>
                    {% else %}
                        <strong>{{ words | divided_by: 180 }} mins</strong>
                    {% endif %}
                </div>
            {% elsif page.categories contains 'pen' and page.codepen_featured and page.codepen_featured == true %}
                <div class="featured">
                    <span>featured on</span>
                    <a rel="external" href="https://codepen.io/collection/hfqlg/">CodePen</a>
                </div>
            {% elsif page.categories contains 'talk' and page.location %}
                <div class="location">
                    <span>given at</span>
                    {% if page.location_url %}
                        <a rel="external" href="{{ page.location_url }}">{{ page.location }}</a>
                    {% else %}
                        <strong>{{ page.location }}</strong>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% include components/banner.html %}

        {% if page.lede %}
            <h2 class="lede  lede--featured" id="lede" itemprop="description">{{ page.lede }}</h2>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                {% if page.edit_date %}
                    <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edited on {{ page.edit_date | date: '%d %B, %Y' }}:</time>
                {% endif %}
                <p>{{ page.edit_text }}</p>
            </div>
        {% endif %}

        {% if page.external_url %}
            <nav class="buttons-list" role="navigation">
                {% assign url = page.external_url.url | default: page.external_url %}
                {% assign url_root = url | remove: 'http://' | remove: 'https://' | split: '/' | first %}
                {% assign title = page.external_url.title | default: url_root %}
                <a class="button" href="{{ url }}" rel="external">{{ title }}</a>
            </nav>
        {% endif %}

        {{ content }}

        {% if page.endnotes %}
            {% include content/heading.html title='Endnotes' %}
            <ol>
                {% for note in page.endnotes %}
                    <li class="endnote" id="endnote-{{ forloop.index }}">
                        {{ note }}
                        <a href="#note-{{ forloop.index }}" class="endnote-anchor" title="">↩︎</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}

        {% if page.further_reading %}
            {% include content/heading.html title='Further Reading' %}
            <ul>
                {% for link in page.further_reading %}
                    {% assign url = link.url %}
                    {% if url contains site.url %}
                        {% assign rel = '' %}
                    {% else %}
                        {% assign rel = ' rel="external"' %}
                    {% endif %}
                    {% if link.title == null or link.title == empty %}
                        {% assign title = url %}
                    {% else %}
                        {% assign title = link.title %}
                    {% endif %}
                    <li>
                        <a href="{{ url }}"{{ rel }}>{{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% include components/nav-secondary.html type='archives' include=page.categories.first %}

        {% include components/comments.html %}

        {% if page.categories contains 'article' %}
            {% include components/widget-latest-articles.html %}
        {% elsif page.categories contains 'pen' %}
            {% include components/widget-latest-pens.html %}
        {% elsif page.categories contains 'talk' %}
            {% include components/widget-latest-talks.html %}
        {% endif %}

    </article>
</main>


{% include components/footer.html %}
