{% include components/head.html %}
{% include components/header.html %}
{%- capture h -%}h-{% if page.categories contains 'review' %}review{% else %}entry{% endif %}{%- endcapture -%}


<main class="wrap  {{ h }}" role="main">
    <article class="content" id="content" role="article">

        <h1 class="title" id="article" role="heading">
            <span class="p-name">
                {% if page.categories contains 'note' %}
                    {{ page.date | date: '%A, %d %B %Y' }}
                {% else %}
                    {{ page.title | strip_html }}
                {% endif %}
            </span>
            {% if page.sparkline %}
                <canvas id="sparkline-{{ page.sparkline }}" class="sparkline" width="160" height="24"></canvas>
            {% endif %}
        </h1>

        {% include components/meta.html %}

        {% include components/banner.html %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede }}</p>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                {% if page.edit_date %}
                    <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edited on {{ page.edit_date | date_to_long_string }}:</time>
                {% endif %}
                {{ page.edit_text | markdownify }}
            </div>
        {% endif %}

        {% if page.bookmark_of %}
            <nav class="buttons-list" role="navigation">
                {% assign url = page.bookmark_of.url | default: page.bookmark_of %}
                {% assign url_root = url | remove: 'http://' | remove: 'https://' | split: '/' | first %}
                {% assign title = page.bookmark_of.title | default: url_root %}
                <a class="button" href="{{ url }}" rel="external">{{ title }}</a>
            </nav>
        {% endif %}

        <div class="content__body  e-content">
            {% for photo in page.mf-photo %}
                <figure class="media">
                    <a href="{{ photo }}"{% unless photo contains '//chrisburnell.com' %} rel="external"{% endunless %}>
                        <img src="{{ photo }}" alt="">
                    </a>
                </figure>
            {% endfor %}

            {{ content }}

            {% unless page.categories contains 'talk' %}
                {% if page.location_image %}
                    <figure class="media">
                        {% if page.location_url %}<a href="{{ page.location_url }}" rel="external"{% if page.location %} title="{{ page.location }}"{% endif %}>{% endif %}
                            <img src="{{ page.location_image | prepend: '/static/' | prepend: site.live_url }}" alt="">
                        {% if page.location_url %}</a>{% endif %}
                    </figure>
                {% endif %}
            {% endunless %}
        </div>

        {% include components/further-reading.html %}

        <hr>

        {% include components/buttons-list.html type='archives' include=page.categories.first %}

        {% include components/webmentions.html %}
        {% include components/comments.html %}

        <hr>

        {% include components/widget-browse-posts.html %}

    </article>

    {% include components/author.html %}
</main>


{% include components/footer.html %}
{% include components/foot.html %}
