{% include components/head.html %}
{% include components/header.html %}


<main class="wrap  h-entry" role="main">
    <article class="content" id="content" role="article">

        <h1 class="title" id="article" role="heading">
            <span class="p-name">
                {{ page.title }}
            </span>
            {% if page.shorturl %}
                {% capture h1_href %}{{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% capture h1_title %}Permalink: {{ page.shorturl | prepend: site.shorturl }}{% endcapture %}
                {% assign h1_rel = 'external  me' %}
                <!--{% include content/fragment-anchor.html href=h1_href title=h1_title rel=h1_rel %}-->
            {% endif %}
        </h1>

        {% include components/ingredients.html %}

        {% include components/banner.html %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede }}</p>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                {% if page.edit_date %}
                    <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edited on {{ page.edit_date | date_to_long_string }}:</time>
                {% endif %}
                <p>{{ page.edit_text }}</p>
            </div>
        {% endif %}

        <div class="content__body  e-content">
            {{ content }}
        </div>

        {% include components/further-reading.html %}
        {% include components/footnotes.html %}

        <hr>

        {% include components/webmentions.html %}

        <hr>

        {% include components/widget-browse-posts.html %}

    </article>
</main>


{% include components/footer.html %}
{% include components/foot.html %}
