{% include components/head.html %}
{% include components/header.html %}


<main class="wrap  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="article">

        <h1 class="title" id="article" role="heading">
            <span class="p-name">{{ page.title | strip_html }}</span>
            {% if page.sparkline %}
                <canvas id="sparkline-{{ page.sparkline }}" class="sparkline" data-values="{% include components/sparkline-data.html target=page.category %}" width="160" height="24"></canvas>
            {% endif %}
        </h1>

        {% include components/meta.html %}
        {% include components/banner.html %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede }}</p>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                {% if page.edit_date %}
                    <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edited on {{ page.edit_date | date_to_long_string }}:</time>
                {% endif %}
                {{ page.edit_text | markdownify }}
            </div>
        {% endif %}

        <div class="content__body  e-content">
            <input type="radio" id="metric" name="units" aria-hidden="true" hidden checked>
            <input type="radio" id="typical" name="units" aria-hidden="true" hidden>
            <div class="units">
                <label for="metric" class="button  button--small">Metric</label>
                <label for="typical" class="button  button--small">Typical</label>
            </div>

            {% include_cached content/heading.html title='Ingredients' %}
            {%- assign has_ingredients_notes = page.ingredients | where_exp: 'ingredient', 'ingredient.notes != nil' | first -%}
            <div class="ingredients">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Measure</th>
                            {% if has_ingredients_notes %}<th>Notes</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in page.ingredients %}
                            {%- if ingredient.g -%}
                                {%- assign metric = ingredient.g | prepend: '__' | append: ' g' -%}
                                {%- assign typical = ingredient.g | prepend: '__' | append: ' g' -%}
                                {%- if ingredient.g >= site.data.cooking_units.mass.lb -%}
                                    {%- assign typical = ingredient.g | divided_by: site.data.cooking_units.mass.lb | prepend: '__' | append: ' lb' -%}
                                {%- elsif ingredient.g >= site.data.cooking_units.mass.oz -%}
                                    {%- assign typical = ingredient.g | divided_by: site.data.cooking_units.mass.oz | prepend: '__' | append: ' oz' -%}
                                {%- endif -%}
                            {%- elsif ingredient.ml -%}
                                {%- assign metric = ingredient.ml | prepend: '__' | append: ' mL' -%}
                                {%- if ingredient.ml >= site.data.cooking_units.volume.cup -%}
                                    {%- assign typical = ingredient.ml | divided_by: site.data.cooking_units.volume.cup -%}
                                    {%- if typical > 1 -%}
                                        {%- assign typical = typical | prepend: '__' | append: ' cups' -%}
                                    {%- else -%}
                                        {%- assign typical = typical | prepend: '__' | append: ' cup' -%}
                                    {%- endif -%}
                                {%- elsif ingredient.ml >= site.data.cooking_units.mass.tbsp -%}
                                    {%- assign typical = ingredient.ml | divided_by: site.data.cooking_units.volume.tbsp | prepend: '__' | append: ' tbsp' -%}
                                {%- else -%}
                                    {%- assign typical = ingredient.ml | divided_by: site.data.cooking_units.volume.tsp | prepend: '__' | append: ' tsp' -%}
                                {%- endif -%}
                            {%- endif -%}
                            {%- assign metric = metric | replace: '__0.', '.' | replace: '.0 ', ' ' | replace: '.25 ', '¼ ' | replace: '.33 ', '⅓ ' | replace: '.5 ', '½ ' | replace: '.66 ', '⅔ ' | replace: '.67 ', '⅔ ' | replace: '.75 ', '¾ ' | replace: '__', '' -%}
                            {%- assign typical = typical | replace: '__0.', '.' | replace: '.0 ', ' ' | replace: '.25 ', '¼ ' | replace: '.33 ', '⅓ ' | replace: '.5 ', '½ ' | replace: '.66 ', '⅔ ' | replace: '.67 ', '⅔ ' | replace: '.75 ', '¾ ' | replace: '__', '' -%}
                            <tr class="ingredient" id="{{ ingredient.name | slugify }}">
                                <td>{{ ingredient.name }}</td>
                                <td>
                                    <span class="unit  unit--metric">{{ metric }}</span>
                                    <span class="unit  unit--typical">{{ typical }}</span>
                                </td>
                                <td>{% for note in ingredient.notes %}{% unless forloop.first %}<br>{% endunless %}• {{ note }}{% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include_cached content/heading.html title='Directions' %}
            <div class="directions">
                {% if page.preheat and page.preheat == true %}
                    <p class="preheat-step">There is a <a href="#preheat">preheat</a> step in this recipe.<p>
                {% endif %}
                {{ content }}
            </div>
        </div>

        {% include components/further-reading.html %}

        <hr>

        {% include components/webmentions.html %}
        {% include components/comments.html %}

        <hr>

        {% include components/buttons-categories.html %}
        {% include components/widget-browse-posts.html %}

    </article>

    {% include components/author.html %}
</main>


{% include components/footer.html %}
{% include components/foot.html %}
