{% include components/head.liquid %}
{% include components/header.liquid %}


<main class="wrap  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="article">

        <h1 class="title{% if page.page_class contains 'success' %}  title--success{% elsif page.page_class contains 'error' %}  title--error{% endif %}" id="article">
            <span class="p-name">{{ page.title | strip_html }}</span>
            {% if page.sparkline %}
                {% include content/sparkline.liquid title=page.sparkline values=page.category %}
            {% endif %}
        </h1>

        {% include components/meta.liquid %}
        {% include components/banner.liquid %}

        {% if page.lede %}
            <p class="beta  lede  lede--featured" id="lede">{{ page.lede | replace: "'", "’" }}</p>
        {% endif %}

        {% if page.edit %}
            <div class="edit">
                {% if page.sitemap.lastmod %}
                    <time datetime="{{ page.sitemap.lastmod | date_to_xmlschema }}">Edited on {{ page.sitemap.lastmod | date_to_long_string }}:</time>
                {% endif %}
                {{ page.edit | markdownify }}
            </div>
        {% endif %}

        <div class="content__body  e-content">
            <input type="radio" id="metric" name="units" hidden aria-hidden="true" checked>
            <input type="radio" id="canada" name="units" hidden aria-hidden="true">
            <input type="radio" id="uk" name="units" hidden aria-hidden="true">
            <input type="radio" id="us" name="units" hidden aria-hidden="true">
            <div class="units">
                <label for="metric" class="button  button--small">Metric</label>
                <label for="canada" class="button  button--small">Canada</label>
                <label for="uk" class="button  button--small">UK</label>
                <label for="us" class="button  button--small">US</label>
                <em>* Only metric is reliable while I figure this out!</em>
            </div>

            {% include_cached content/heading.liquid title='Ingredients' %}
            {%- assign has_ingredients_notes = page.ingredients | where_exp: 'ingredient', 'ingredient.notes != nil' | first -%}
            {%- assign has_ingredients_optional = page.ingredients | where_exp: 'ingredient', 'ingredient.optional != nil' | first -%}
            <div class="ingredients">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Measure</th>
                            {% if has_ingredients_notes or has_ingredients_optional %}<th>Notes</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in page.ingredients %}
                            {% if ingredient.g %}
                                {% assign metric = ingredient.g | round: 2 | append: ' g' %}
                                {% assign us = metric %}
                                {% if ingredient.g >= site.data.cooking_units.mass.kg %}
                                    {% assign metric = ingredient.g | divided_by: site.data.cooking_units.mass.kg | round: 2 | append: ' kg' %}
                                {% endif %}
                                {% assign canada = metric %}
                                {% if ingredient.g >= site.data.cooking_units.mass.lb %}
                                    {% assign us = ingredient.g | divided_by: site.data.cooking_units.mass.lb | round: 2 | append: ' lb' %}
                                {% elsif ingredient.g >= site.data.cooking_units.mass.oz %}
                                    {% assign us = ingredient.g | divided_by: site.data.cooking_units.mass.oz | round: 2 | append: ' oz' %}
                                {% endif %}
                                {% assign uk = us %}
                            {% elsif ingredient.ml %}
                                {% assign metric = ingredient.ml %}
                                {% if metric >= site.data.cooking_units.volume.l %}
                                    {% assign metric = metric | divided_by: site.data.cooking_units.volume.l | round: 2 | append: ' L' %}
                                {% else %}
                                    {% assign metric = metric | round: 2 | append: ' mL' %}
                                {% endif %}
                                {% assign canada = ingredient.ml %}
                                {% if canada >= site.data.cooking_units.volume.quarter_cup %}
                                    {% assign canada = canada | divided_by: site.data.cooking_units.volume.cup | round: 2 | append: ' cup' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.cup %}
                                        {% assign canada = canada | append: 's' %}
                                    {% endif %}
                                {% elsif canada >= site.data.cooking_units.volume.tbsp %}
                                    {% assign canada = canada | divided_by: site.data.cooking_units.volume.tbsp | round: 2 | append: ' tbsp' %}
                                {% else %}
                                    {% assign canada = canada | divided_by: site.data.cooking_units.volume.tsp | round: 2 | append: ' tsp' %}
                                {% endif %}
                                {% assign uk = ingredient.ml %}
                                {% if uk >= site.data.cooking_units.volume.gallon %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.gallon | round: 2 | append: ' gallon' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.gallon %}
                                        {% assign uk = uk | append: 's' %}
                                    {% endif %}
                                {% elsif uk >= site.data.cooking_units.volume.quart %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.quart | round: 2 | append: ' quart' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.quart %}
                                        {% assign uk = uk | append: 's' %}
                                    {% endif %}
                                {% elsif uk >= site.data.cooking_units.volume.pint %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.pint | round: 2 | append: ' pint' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.pint %}
                                        {% assign uk = uk | append: 's' %}
                                    {% endif %}
                                {% elsif uk >= site.data.cooking_units.volume.quarter_cup_uk %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.cup_uk | round: 2 | append: ' cup' %}
                                    {% if ingredient.ml >= site.data.cooking_units.volume.cup_uk %}
                                        {% assign uk = uk | append: 's' %}
                                    {% endif %}
                                {% comment %}
                                {% elsif uk >= site.data.cooking_units.volume.floz_uk %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.floz_uk | round: 2 | append: ' fl. oz' %}
                                {% endcomment %}
                                {% elsif uk >= site.data.cooking_units.volume.tbsp %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.tbsp | round: 2 | append: ' tbsp' %}
                                {% else %}
                                    {% assign uk = uk | divided_by: site.data.cooking_units.volume.tsp | round: 2 | append: ' tsp' %}
                                {% endif %}
                                {% assign us = ingredient.ml %}
                                {% if us >= site.data.cooking_units.volume.gallon_us %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.gallon_us | round: 2 | append: ' gallon' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.gallon_us %}
                                        {% assign us = us | append: 's' %}
                                    {% endif %}
                                {% elsif us >= site.data.cooking_units.volume.quart_us %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.quart_us | round: 2 | append: ' quart' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.quart_us %}
                                        {% assign us = us | append: 's' %}
                                    {% endif %}
                                {% elsif us >= site.data.cooking_units.volume.pint_us %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.pint_us | round: 2 | append: ' pint' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.pint_us %}
                                        {% assign us = us | append: 's' %}
                                    {% endif %}
                                {% elsif us >= site.data.cooking_units.volume.quarter_cup_us %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.cup_us | round: 2 | append: ' cup' %}
                                    {% if ingredient.ml > site.data.cooking_units.volume.cup_us %}
                                        {% assign us = us | append: 's' %}
                                    {% endif %}
                                {% elsif us >= site.data.cooking_units.volume.floz_us %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.floz_us | round: 2 | append: ' fl. oz' %}
                                {% elsif us >= site.data.cooking_units.volume.tbsp %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.tbsp | round: 2 | append: ' tbsp' %}
                                {% else %}
                                    {% assign us = us | divided_by: site.data.cooking_units.volume.tsp | round: 2 | append: ' tsp' %}
                                {% endif %}
                            {% elsif ingredient.amount %}
                                {% assign metric = ingredient.amount %}
                                {% assign canada = metric %}
                                {% assign uk = metric %}
                                {% assign us = metric %}
                            {% endif %}
                            <tr class="ingredient" id="{{ ingredient.name | slugify }}">
                                <td>{{ ingredient.name }}</td>
                                <td>
                                    {% if ingredient.g or ingredient.ml or ingredient.amount %}
                                        <span class="unit  unit--metric">{% include content/fractionize.liquid value=metric %}</span>
                                        <span class="unit  unit--canada" title="{% if ingredient.g %}{{ ingredient.g }} g{% else %}{{ ingredient.ml }} mL{% endif %}">{% include content/fractionize.liquid value=canada %}</span>
                                        <span class="unit  unit--uk" title="{% if ingredient.g %}{{ ingredient.g }} g{% else %}{{ ingredient.ml }} mL{% endif %}">{% include content/fractionize.liquid value=uk %}</span>
                                        <span class="unit  unit--us" title="{% if ingredient.g %}{{ ingredient.g }} g{% else %}{{ ingredient.ml }} mL{% endif %}">{% include content/fractionize.liquid value=us %}</span>
                                    {% endif %}
                                </td>
                                {% if has_ingredients_notes or has_ingredients_optional %}<td>{% if ingredient.optional == true %}• <em>optional</em><br>{% endif %}{% for note in ingredient.notes %}{% unless forloop.first %}<br>{% endunless %}• {{ note }}{% endfor %}</td>{% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include_cached content/heading.liquid title='Directions' %}
            <div class="directions">
                {% if page.preheat and page.preheat == true %}
                    <p class="preheat-step">There is a <a href="#preheat">preheat</a> step in this recipe.<p>
                {% endif %}
                {{ content }}
            </div>
        </div>

        {% include components/further_reading.liquid %}

        <hr>

        {% include components/webmentions.liquid %}
        {% include components/comments.liquid %}

        <hr>

        {% include components/buttons_categories.liquid %}
        {% include components/widget_browse_posts.liquid %}

    </article>

    {% include components/author.liquid %}
</main>


{% include components/footer.liquid %}
{% include components/foot.liquid %}
