{% include components/head.liquid %}
{% include components/header.liquid %}


<main class="wrap  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="document">

        <h1 class="title{% if page.page_class contains 'success' %}  title--success{% elsif page.page_class contains 'error' %}  title--error{% endif %}" id="article">
            <span class="p-name">{{ page.title | strip_html }}</span>
            {% if page.sparkline %}
                {% include content/sparkline.liquid title=page.sparkline values=page.category %}
            {% endif %}
        </h1>

        {% include components/banner.liquid %}

        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <p class="beta  lede  lede--featured  p-summary" id="lede">{{ content }}</p>
        {% endif %}

        <div class="content__body  e-content">
            {% if link %}
                <nav class="buttons-list" role="navigation">
                    <data class="p-item  h-product" value="{{ link }}" hidden>{{ page.title | strip_html }}</data>
                    <a class="button  h-cite  u-{{ page.mf_property }}" href="{{ link }}" rel="external">{{ page.bookmark_of.title | default: page.like_of.title | default: page.read_of.title | default: page.link.title | default: link_title }}</a>
                </nav>
                {% if page.category == 'music' %}
                    <figure>
                        <iframe width="100%" height="150" src="https://embed.song.link/?url={{ link }}&theme=dark" fframeborder="0" allowtransparency allowfullscreen sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox" loading="lazy"></iframe>
                    </figure>
                {% endif %}
            {% endif %}
            {% include components/checkin.liquid %}
        </div>

        {% include components/further_reading.liquid %}

        {% include components/meta.liquid %}

        {% include components/webmentions.liquid %}

        {% include components/widget_browse_posts.liquid %}

        {% include components/buttons_categories.liquid %}

        {% unless content contains 'carbonads' %}
            {% include components/ads.liquid %}
        {% endunless %}

    </article>

    {% include components/author.liquid %}
</main>


{% include components/footer.liquid %}
{% include components/foot.liquid %}
