{% include components/head.html %}
{% include components/header.html %}


<main class="wrap  h-{{ page.mf_root | default: 'entry' }}" role="main">
    <article class="content{% if page.mf_property %}  p-{{ page.mf_property }}{% endif %}" id="content" role="document">

        <h1 class="title" id="article">
            <span class="p-name">{{ page.title | strip_html }}</span>
            {% if page.sparkline %}
                {% include content/sparkline.html title=page.sparkline values=page.category %}
            {% endif %}
        </h1>

        {% include components/meta.html %}
        {% include components/banner.html %}

        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <p class="beta  lede  lede--featured  p-summary" id="lede">{{ content }}</p>
        {% endif %}

        {% if link %}
            <div class="content__body">
                <nav class="buttons-list" role="navigation">
                    <a class="p-item  h-product" href="{{ link }}" hidden>{{ page.title | strip_html }}</a>
                    <a class="button  h-cite  u-{{ page.mf_property }}" href="{{ link }}" rel="external">{{ page.bookmark_of.title | default: page.like_of.title | default: page.read_of.title | default: page.link.title | default: link_clean }}</a>
                </nav>
            </div>
        {% endif %}

        {% if checkin.image %}
            <figure class="media">
                {% if checkin.link %}<a href="{{ checkin.link }}" rel="external"{% if checkin.name %} title="{{ checkin.name }}"{% endif %}>{% endif %}
                    <img src="{{ checkin.image | prepend: site.static_url }}" alt="">
                {% if checkin.link %}</a>{% endif %}
            </figure>
        {% endif %}

        {% include components/further-reading.html %}

        <hr>

        {% include components/webmentions.html %}
        {% include components/comments.html %}

        <hr>

        {% include components/buttons-categories.html %}
        {% include components/widget-browse-posts.html %}

    </article>

    {% include components/author.html %}
</main>


{% include components/footer.html %}
{% include components/foot.html %}
