{% include components/head.html %}
{% include components/header.html %}
{%- assign link_clean = page.link | remove: 'http://' | remove: 'https://' -%}
{%- if page.categories contains 'beer' -%}
    {%- assign link_clean = page.title | append: ' on Untappd' -%}
    {%- assign untappd_url = site.urls.untappd | append: "checkin/" | append: page.slug -%}
    {%- assign syndicate_to = site.emptyArray | push: untappd_url -%}
{%- elsif page.categories contains 'music' -%}
    {%- assign link_clean = page.title | append: ' on Spotify' -%}
{%- endif -%}


<main class="wrap  h-{{ page.h | default: 'entry' }}" role="main">
    <article class="content  p-{{ page.mf_property }}" id="content" role="document">

        <h1 class="title  p-name" role="heading">
            {{ page.title | strip_html }}
        </h1>

        {% include components/meta.html %}

        {% include components/banner.html %}

        {%- assign content = page.content | strip_newlines -%}
        {% if content != empty %}
            <p class="beta  lede  lede--featured  p-summary" id="lede">{{ content }}</p>
        {% endif %}

        <div class="content__body">
            <nav class="buttons-list" role="navigation">
                <a class="p-item  h-product" href="{{ page.link }}" hidden>{{ page.title | strip_html }}</a>
                <a class="button  u-{{ page.mf_property }}" href="{{ page.link }}" rel="external">{{ page.link.title | default: link_clean }}</a>
            </nav>
        </div>

        {% include components/further-reading.html %}

        <hr>

        {% include components/webmentions.html %}
        {% include components/comments.html %}

        <hr>

        {% include components/buttons-list.html type='archives' include=page.categories.first %}
        {% include components/widget-browse-posts.html %}

    </article>

    {% include components/author.html %}
</main>


{% include components/footer.html %}
{% include components/foot.html %}
