---
is_homepage: true
layout: base
title: The Homepage
eleventyComputed:
  description: "{{ site.description | safe }}"
  tagline: "{{ site.tagline | safe }}"
sitemap:
  changefreq: daily
  priority: 1.0
truncate: true
---

<article id="content" class=" [ pantheon ] [ wrap ] [ page ] ">

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] ">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] " aria-hidden="true">
		{{ description | markdownFormat | safe | replace('href=', 'tabindex="-1" href=') }}
	</div>

	<div class=" [ content ] [ flow ] ">
		<div class=" [ e-content ] [ flow ] ">

			{%- set truncate = false -%}
			<h2 id="projects">
				<a href="/projects/" tabindex="-1">Latest Projects</a>
			</h2>
			<nav class=" [ deck ] " aria-labelledby="projects">
				{% for item in collections.projects | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
			<nav class=" [ grid ] [ navigator ] " aria-label="Projects Navigation">
				<a class=" [ button ] " href="/projects/">Browse Projects</a>
			</nav>
			{%- set truncate = true -%}

			{% if collections.todayRSVPs.length %}
				<hr>
				<h2 id="today-rsvps">
					<a href="/rsvps/">Events I’m Attending Today</a>
				</h2>
				<nav class=" [ deck ] " aria-labelledby="today-rsvps">
					{% for item in collections.todayRSVPs %}
						<div class=" [ box  {{ rsvp_class }} ] [ flow ] ">
							{%- set rsvp_class = 'box--error' -%}
							{%- if item.data.rsvp.value == 'yes' -%}
								{%- set rsvp_class = 'box--success' -%}
							{%- elif item.data.rsvp.value == 'maybe' or item.data.rsvp.value == 'interested' -%}
								{%- set rsvp_class = 'box--warning' -%}
							{%- endif -%}
							{%- set responses = item.url | getWebmentions -%}
							{% include 'items/deck.njk' %}
						</div>
					{% endfor %}
				</nav>
			{% endif %}

			{%- set hfeed = true -%}
			<hr>
			<h2 id="latest">
				<a href="/writing/">Latest Writing</a>
			</h2>
			<nav class=" [ deck ] [ h-feed ] " aria-labelledby="latest">
				{% for item in collections.writingPosts | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
			{% set hfeed = false %}

			{%- set show_photos = true -%}
			<h2 id="popular">
				<a href="/popular/">Popular Posts</a>
			</h2>
			<nav class=" [ deck ] " aria-labelledby="popular">
				{% for item in collections.popular | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
			<nav class=" [ grid ] [ navigator ] " aria-label="Posts Navigation">
				<a class=" [ button ] " href="/archive/">Browse All Posts</a>
			</nav>
			{%- set show_photos = false -%}

			{% if collections.upcomingRSVPs.length %}
				<hr>
				<h2 id="upcoming-rsvps">
					<a href="/rsvps/">Upcoming Events</a>
				</h2>
				<nav class=" [ deck ] " aria-labelledby="upcoming-rsvps">
					{% for item in collections.upcomingRSVPs %}
						<div class=" [ box  {{ rsvp_class }} ] [ flow ] ">
							{%- set rsvp_class = 'box--error' -%}
							{%- if item.data.rsvp.value == 'yes' -%}
								{%- set rsvp_class = 'box--success' -%}
							{%- elif item.data.rsvp.value == 'maybe' or item.data.rsvp.value == 'interested' -%}
								{%- set rsvp_class = 'box--warning' -%}
							{%- endif -%}
							{%- set responses = item.url | getWebmentions -%}
							{% include 'items/deck.njk' %}
						</div>
					{% endfor %}
				</nav>
			{% endif %}

			{% if collections.throwbackPosts.length %}
				{%- set relative_time = true -%}
				{%- set show_photos = true -%}
				<hr>
				<h2 id="on-this-day">On This Day</h2>
				<nav class=" [ deck ] " aria-labelledby="on-this-day">
					{% for item in collections.throwbackPosts | limit(site.limits.feature) %}
						{%- set responses = item.url | getWebmentions -%}
						{% include 'items/deck.njk' %}
					{% endfor %}
				</nav>
				{%- set relative_time = false -%}
				{%- set show_photos = false -%}
			{% endif %}
		</div>
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/index.njk' %}
	</div>

	{% include 'ads.njk' %}

</article>
