---
layout: base
title: The Homepage
eleventyComputed:
  description: "{{ site.description | safe }}"
  tagline: "{{ site.tagline | safe }}"
sitemap:
  changefreq: daily
  priority: 1.0
---

<article id="content" class=" [ content ] [ wrap ] [ page ] ">

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] ">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] " aria-hidden="true">{{ description | safe | replace('href=', 'tabindex="-1" href=') }}</p>
	</div>

	<div class=" [ content__body ] ">
		<div class=" [ e-content ] {% if toc %}[ generate-toc ] {% endif %}">
			{% if collections.todayRSVPs.length %}
				<h2 id="today-rsvps">
					<a href="/rsvps/">Events I’m Attending Today</a>
				</h2>
				<nav class=" [ deck ] " aria-labelledby="today-rsvps">
					{%- set hfeed = false -%}
					{%- set truncate = false -%}
					{% asyncAll item in collections.todayRSVPs %}
						{%- set responses = item.url | getWebmentions -%}
						{%- set rsvp_class = 'box--error' -%}
						{%- if item.data.rsvp.value == 'yes' -%}
							{%- set rsvp_class = 'box--success' -%}
						{%- elif item.data.rsvp.value == 'maybe' or item.data.rsvp.value == 'interested' -%}
							{%- set rsvp_class = 'box--warning' -%}
						{%- endif -%}
						<div class=" [ box  {{ rsvp_class }} ] ">
							{% include 'item-deck.njk' %}
						</div>
					{% endall %}
				</nav>
			{% endif %}

			<h2 id="latest">
				<a href="/writing/">Latest Writing</a>
			</h2>
			<nav class=" [ deck ] [ h-feed ] " aria-labelledby="latest">
				{%- set hfeed = true -%}
				{%- set truncate = true -%}
				{% asyncAll item in collections.writingPosts | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'item-deck.njk' %}
				{% endall %}
			</nav>

			<h2 id="popular">
				<a href="/popular/">Popular Posts</a>
			</h2>
			<nav class=" [ deck ] " aria-labelledby="popular">
				{% set hfeed = false %}
				{% set truncate = true %}
				{% asyncAll item in collections.popular | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'item-deck.njk' %}
				{% endall %}
			</nav>

			<nav class=" [ navigator ] " aria-label="Archive Navigation">
				<a class=" [ button ] " href="/archive/">Browse the Archive</a>
			</nav>

			<h2 id="projects">
				<a href="/projects/">Latest Projects</a>
			</h2>
			<nav class=" [ deck ] " aria-labelledby="projects">
				{%- set hfeed = false -%}
				{%- set truncate = true -%}
				{% asyncAll item in projects.personal | limit(site.limits.feature) %}
					{%- set responses = item.url | getWebmentions -%}
					{% include 'item-deck.njk' %}
				{% endall %}
			</nav>

			<nav class=" [ navigator ] " aria-label="Projects Navigation">
				<a class=" [ button ] " href="/projects/">Browse all Projects</a>
			</nav>

			{% if collections.upcomingRSVPs.length %}
				<h2 id="upcoming-rsvps">
					<a href="/rsvps/">Upcoming Events</a>
				</h2>
				<nav class=" [ deck ] " aria-labelledby="upcoming-rsvps">
					{%- set hfeed = false -%}
					{%- set truncate = true -%}
					{% asyncAll item in collections.upcomingRSVPs %}
						{%- set responses = item.url | getWebmentions -%}
						{%- set rsvp_class = 'box--error' -%}
						{%- if item.data.rsvp.value == 'yes' -%}
							{%- set rsvp_class = 'box--success' -%}
						{%- elif item.data.rsvp.value == 'maybe' or item.data.rsvp.value == 'interested' -%}
							{%- set rsvp_class = 'box--warning' -%}
						{%- endif -%}
						<div class=" [ box  {{ rsvp_class }} ] ">
							{% include 'item-deck.njk' %}
						</div>
					{% endall %}
				</nav>
			{% endif %}

			{% if collections.throwbackPosts.length %}
				<h2 id="on-this-day">On This Day</h2>
				<nav class=" [ deck ] " aria-labelledby="on-this-day">
					{%- set hfeed = false -%}
					{%- set truncate = true -%}
					{%- set relative_time = true -%}
					{% asyncAll item in collections.throwbackPosts | limit(site.limits.feature) %}
						{%- set responses = item.url | getWebmentions -%}
						{% include 'item-deck.njk' %}
					{% endall %}
				</nav>
			{% endif %}
		</div>

		{% include 'webmentions.njk' %}
	</div>

	{% include 'meta-index.njk' %}

	{% include 'ads.njk' %}

</article>
