---
permalink: /js/main.js
---
{% include "./js/helpers.js" %}

(() => {
    "use strict";
    {% include "./js/welcome.js" %}
    {% include "./js/navigator.js" %}
    {% include "./js/color-scheme.js" %}
    {% include "./js/sparklines.js" %}
    {% include "./js/pentatonic.js" %}
    {% include "./js/url-input.js" %}
})();
