---
permalink: /js/main.js
---
{% include "./js/helpers.js" %}
{% include "../node_modules/@chrisburnell/pentatonic/pentatonic.js" %}

(() => {
    "use strict";
    {% include "./js/welcome.js" %}
    {% include "./js/navigator.js" %}
    {% include "./js/color-scheme.js" %}
    {% include "./js/sparklines.js" %}
    {% include "./js/librarian.js" %}
    {% include "./js/url-input.js" %}

    for (let target of document.querySelectorAll(".pentatonic")) {
        target.addEventListener("click", () => {
            pentatonic(target.dataset.values.split(","));
        });
    }
})();
