speedlify-score {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
/* The Lighthouse scoring circles */
.speedlify-score {
	font-size: 12px;
	width: 2.6em;
	height: 2.6em;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #0cce6b;
	margin-left: 8px;
}
.speedlify-score-ok {
	color: #ffa400;
	border-color: currentColor;
}
.speedlify-score-bad {
	color: #ff4e42;
	border-color: currentColor;
}
.speedlify-rank:before {
	content: "Rank #";
}
.speedlify-rank-change {
	font-size: 12px;
}
.speedlify-rank-change:before {
	line-height: 1;
}
.speedlify-rank-change.up {
	color: green;
}
.speedlify-rank-change.up:before {
	content: "⬆";
}
.speedlify-rank-change.down {
	color: red;
}
.speedlify-rank-change.down:before {
	content: "⬇";
}
speedlify-score > :not(.speedlify-score) {
    margin-left: 1em;
    font-size: 12px;
}
speedlify-score > :first-child {
	margin-left: 0;
}
