<!DOCTYPE html>

<!--R
  AVENOU
    SRAVENO
      USRAVENO
       USRAVEN
       OUSRAVEN               O
        USRAVEN             O US
        RAVENOUS         RA VENO U
         SRAVENOU     SRAVENOUSRAV
          ENOUSRAVENOUSRAVENOUSRAV
           ENOUSRAVENOUSRAVENOUSRA
VEN      OUSRAVENOUSRAVENOUSRAVENO
 USRAVENOUSRAVENOUSRAVENOUSR
  AVENOUSRAVENOUSRAVENOUSR
   AVENOUSRAVENOUSRAVENOU
     SRAVENOUSRAVENOUSRAVE
            NOUSR     AVE
          NOUSR        AV
          E NO
            US

Checking out the source code, eh? Check out the git repository:
{{ site.github.repository_url }}
Contact me if you want to know more about the code, or if you want to use a
snippet of code on a project of your own. -->

{% if page.page_class contains 'home' %}
    {% capture meta_title %}{{ site.title }} – {{ site.tagline }}{% endcapture %}
{% else %}
    {% capture meta_title %}{{ page.title }} – {{ site.title }}{% endcapture %}
{% endif %}

{% if page.categories contains 'link' %}
    {% capture meta_lede %}One of my shared links, {{ page.title }}{% endcapture %}
{% elsif page.categories contains 'pen' %}
    {% capture meta_lede %}One of my CodePens, {{ page.title }}{% endcapture %}
{% elsif page.categories contains 'talk' %}
    {% capture meta_lede %}One of my talks, {{ page.title }}{% endcapture %}
{% elsif page.lede %}
    {% capture meta_lede %}{{ page.lede | strip_html }}{% endcapture %}
{% else %}
    {% capture meta_lede %}{{ site.lede | strip_html }}{% endcapture %}
{% endif %}

{% if page.banner %}
    {% capture meta_image %}{{ page.banner | prepend: '/images/banners/' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% elsif page.banner_mobile %}
    {% capture meta_image %}{{ page.banner_mobile | prepend: '/images/banners/' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% else %}
    {% capture meta_image %}{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
{% endif %}

{% capture body_class %}
    {% for class in page.page_class %}
        {{ class }}
    {% endfor %}
    {% if page.categories %}
        page--{{ page.categories | first }}
    {% endif %}
{% endcapture %}
{% assign body_class_array = body_class | split: ' ' | join: '  ' %}

{% assign code_toggle_count = 0 %}

<html amp lang="{{ site.language }}">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale-1.0, minimal-ui">

    <title>{{ meta_title }}</title>

    <link rel="dns-prefetch" href="//www.google-analytics.com">
    {% if page.comments == true %}
        <link rel="dns-prefetch" href="//a.disquscdn.com">
        <link rel="dns-prefetch" href="//chrisburnell.disqus.com">
    {% endif %}
    {% if page.codepen == true or (page.categories contains 'pen' and page.codepen_slug) %}
        <link rel="dns-prefetch" href="//codepen.io">
        <link rel="dns-prefetch" href="//assets.codepen.io">
        <link rel="dns-prefetch" href="//s.codepen.io">
    {% endif %}
    {% if page.speakerdeck == true %}
        <link rel="dns-prefetch" href="//speakertalk.com">
    {% endif %}
    {% if page.twitter == true %}
        <link rel="dns-prefetch" href="//platform.twitter.com">
    {% endif %}

    {% if page.categories contains 'link' and page.external_links %}
        {% assign link = page.external_links | first %}
        <link rel="prefetch" href="//{{ link.url | remove: 'http://' | remove: 'https://' | split: '/' | first }}">
    {% endif %}

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="shortcut icon" href="{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ '/favicon.png' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="author" href="/humans.txt">
    <link rel="manifest" href="/manifest.json">

    {% unless page.page_class contains 'not-found' or page.page_class contains 'offline' %}
        <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    {% endunless %}

    <meta name="apple-mobile-web-app-title" content="{{ meta_title }}">
    <meta name="description" content="{{ meta_lede }}">
    <meta name="theme-color" content="#{{ site.color_brand }}">
    <meta name="msapplication-navbutton-color" content="#{{ site.color_brand }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="#{{ site.color_brand }}">

    <meta http-equiv="cleartype" content="on">

    {% if page.page_class contains 'not-found' or page.page_class contains 'offline' %}
        <meta name="robots" content="noindex,nofollow">
    {% else %}
        <!-- Twitter Microdata -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@{{ site.author.twitter }}">
        <meta name="twitter:title" content="{{ meta_title }}">
        <meta name="twitter:description" content="{{ meta_lede }}">
        <meta name="twitter:image:src" content="{{ meta_image }}">
        <meta name="twitter:domain" content="{{ site.url | remove: 'http://' | remove: 'https://' }}">
        {% if page.twitter == true %}
            <meta name="twitter:widgets:theme" content="light">
            <meta name="twitter:widgets:link-color" content="#{{ site.color_brand }}">
            <meta name="twitter:widgets:border-color" content="#{{ site.color_brand }}">
        {% endif %}
        <!-- OpenGraph Microdata -->
        <meta property="og:title" content="{{ meta_title }}">
        <meta property="og:description" content="{{ meta_lede }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
        <meta property="og:image" content="{{ meta_image }}">
    {% endif %}

    {% include assets/assets-head.html %}

</head>

<body{% if body_class_array != '' %} class="{{ body_class_array }}"{% endif %} itemscope itemtype="http://schema.org/WebPage">

    {% include assets/svg-master.html %}

    <header class="wrap  clear" role="banner">

        <a rel="home" class="logo" href="/" title="{{ site.title }}" tabindex="1">
            {% include content/svg.html type='raven' %}
        </a>

        {% include components/nav-primary.html %}

    </header>
