{%- set of = bookmark_of | default(drink_of) | default(like_of) | default(listen_of) | default(play_of) | default(read_of) | default(watch_of) | default(link) -%}
{%- set of_url = of -%}
{%- if of.url -%}
	{% set of_url = of.url %}
{%- endif -%}
{%- set of_title = of_url -%}
{%- if of.title -%}
	{% set of_title = of.title %}
{%- endif -%}

{%- if category and of_title -%}
	{% set meta_title %}{{ categoryProper | default(category) | title }} of “{{ title | default(of_title) | striptags(true) | safe }}”{% endset %}
{%- elif title -%}
	{% set meta_title = title | striptags(true) | safe %}
{%- elif category -%}
	{% set meta_title %}{{ categoryProper | default(category) | title }} from {{ page.date | friendlyDateLong | safe }}{% endset %}
{%- else -%}
	{% set meta_title = site.tagline | striptags(true) | safe %}
{%- endif -%}

{%- set meta_description -%}A page on {{ site.url | getHost }}{%- endset -%}
{%- if description -%}
	{%- set meta_description = description | markdownFormat | replace("\n", " ") | striptags(true) | safe -%}
{%- elif category -%}
	{%- set meta_description = meta_description | replace('page', categoryProper | default(category) | title) -%}
{%- endif -%}
{%- set meta_image = site.url + site.favicon -%}
{%- if banner -%}
	{%- set meta_image -%}{{ site.url }}/images/built/{{ banner | replace('jpg', 'jpeg') }}{%- endset -%}
{%- elif cover -%}
	{%- set meta_image -%}{{ site.url }}/images/built/{{ cover | replace('jpg', 'jpeg') }}{%- endset -%}
{%- elif photo -%}
	{% set first_photo = photo | toArray | first %}
	{%- set meta_image -%}{{ site.url }}/images/built/{{ first_photo.url | default(first_photo) | replace('jpg', 'jpeg') }}{%- endset -%}
{%- endif -%}
{%- set canonical = site.url + page.url -%}
{%- if category and not category.title -%}
	{% set previous_post = collections[category] | arePublished | getPreviousCollectionItem(page) %}
	{% set next_post = collections[category] | arePublished | getNextCollectionItem(page) %}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ site.locale }}" class="{% if theme %}{{ theme }}  {% elseif site.theme %}{{ site.theme }}  {% endif %}no-js" profile="http://gmpg.org/xfn/11">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ meta_title | safe }} · {{ site.title }}</title>

	<meta name="description" content="{{ meta_description }}">

	<link rel="preload" href="/fonts/heebo-black.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/proxima-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/proxima-nova-italic.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/proxima-nova-semibold.woff2" as="font" type="font/woff2" crossorigin>

	{% if env.ELEVENTY_PRODUCTION %}
		<link rel="icon" href="/images/favicon.ico">
		<link rel="icon" href="/images/favicon-64.png">
		<link rel="apple-touch-icon" href="/images/favicon-180.png">
		<link rel="apple-touch-icon-precomposed" href="/images/favicon-180.png">
		<link rel="msapplication-square310x310logo" href="/images/favicon-310.png">
	{% else %}
		<link rel="icon" href="/images/favicon-bw.ico">
		<link rel="icon" href="/images/favicon-bw-64.png">
		<link rel="apple-touch-icon" href="/images/favicon-180-bw.png">
		<link rel="apple-touch-icon-precomposed" href="/images/favicon-180-bw.png">
		<link rel="msapplication-square310x310logo" href="/images/favicon-310-bw.png">
	{% endif %}

	<link rel="self" href="{{ site.url + '/feed.xml' }}">
	<link rel="alternate" type="application/rss+xml" title="Main Posts Feed" href="{{ site.url + '/feed.xml' }}">
	<link rel="alternate" type="application/rss+xml" title="Writing Feed" href="{{ site.url + '/writing.xml' }}">
	<link rel="alternate" type="application/rss+xml" title="Replies Feed" href="{{ site.url + '/replies.xml' }}">
	<link rel="alternate" type="application/rss+xml" title="RSVPs Feed" href="{{ site.url + '/rsvps.xml' }}">
	<link rel="alternate" type="application/rss+xml" title="Checkins Feed" href="{{ site.url + '/checkins.xml' }}">
	<link rel="pingback" href="https://webmention.io/{{ site.url | getHost }}/xmlrpc">
	<link rel="webmention" href="https://webmention.io/{{ site.url | getHost }}/webmention">
	<link rel="authorization_endpoint" href="{{ author.urls.indieauth_endpoint }}">
	<link rel="token_endpoint" href="{{ author.urls.indieauth_token }}">
	<link rel="micropub" href="{{ author.urls.micropub }}">
	<link rel="microsub" href="{{ author.urls.microsub }}">
	<link rel="openid.delegate" href="{{ site.url }}" />
	<link rel="openid.server" href="{{ author.urls.openid }}" />

	<link rel="author" href="/humans.txt">
	<link rel="manifest" href="/manifest.json">

	<meta name="generator" content="{{ eleventy.generator }}">
	<meta name="author" content="{{ author.name }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">

	<meta name="theme-color" content="{{ designTokens.colors | keyValue("raven") }}">
	<meta name="supported-color-schemes" content="light dark">

	<style>{%- include '../../css/main.css' -%}</style>
	{% if css -%}
		<style>{%- include '../../css/' + css -%}</style>
	{%- endif %}
	{% if speedlify[canonical] -%}
		<style>{%- include '../../css/speedlify-score.css' -%}</style>
	{%- endif %}

	{% if tags and tags.includes('httpstatus') %}
		<meta name="robots" content="noindex,nofollow">
	{% else %}
		<!-- The URL -->
		<link rel="canonical" href="{{ canonical }}">
		{% if previous_post %}
			<link rel="prev" href="{{ site.url + previous_post.url }}">
		{% endif %}
		{% if next_post %}
			<link rel="next" href="{{ site.url + next_post.url }}">
		{% endif %}

		<!-- OpenGraph Microdata -->
		{% if mf_root == 'review' %}
			<meta property="og:type" content="review">
		{% elif layout == 'post' %}
			<meta property="og:type" content="article">
		{% elif page.url.includes('/about') %}
			<meta property="og:type" content="profile">
		{% else %}
			<meta property="og:type" content="website">
		{% endif %}
		<meta property="og:url" content="{{ canonical }}">
		<meta property="og:title" content="{{ meta_title }}">
		<meta property="og:description" content="{{ meta_description }}">
		<meta property="og:locale" content="{{ site.locale }}">
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:image" content="{{ meta_image }}">

		<!-- Twitter Microdata -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@{{ author.twitter }}">
		<meta name="twitter:title" content="{{ meta_title }}">
		<meta name="twitter:description" content="{{ meta_description }}">
		<meta name="twitter:image" content="{{ meta_image }}">
		<meta name="twitter:domain" content="{{ site.url | getHost }}">
		{% if twitter %}
			<meta name="twitter:widgets:theme" content="light">
			<meta name="twitter:widgets:link-color" content="{{ designTokens.colors | keyValue("raven") }}">
			<meta name="twitter:widgets:border-color" content="{{ designTokens.colors | keyValue("raven") }}">
		{% endif %}

		{% if layout == 'post' %}
			<meta property="article:published_time" content="{{ page.date | friendlyDateLong | safe }}">
			{% if updated or finish %}
				<meta property="article:modified_time" content="{{ updated | default(finish) | friendlyDateLong | safe }}">
			{% endif %}
			<meta property="article:author" content="{{ author.name }}">
			{% for tag in tags | categoryFilter | tagFilter %}
				<meta property="article:tag" content="{{ tag }}">
			{% endfor %}
		{% elif page_about %}
			<meta property="profile:first_name" content="{{ author.firstname }}">
			<meta property="profile:last_name" content="{{ author.lastname }}">
			<meta property="profile:username" content="{{ author.shortname }}">
		{% endif %}

		{% if env.ELEVENTY_PRODUCTION and site.monetization and monetization != false %}
			<meta name="monetization" content="{{ site.monetization }}">
		{% endif %}
	{% endif %}

	<script>document.documentElement.classList.remove("no-js");</script>
</head>
<body>
	<a href="#content" class=" [ hidden ] ">Skip to main content</a>

	<header class=" [ header ] ">
		<div class=" [ wrap ] ">
			<a rel="home" class=" [ logo ] [ canada ] " href="/" title="{{ site.title }}">
				<img src="{{ site.logo }}" alt="" width="120" height="120">
			</a>
			<nav class=" [ navigation ] " aria-label="Website">
				<ol class=" [ navigation__list ] ">
					{% for link in navigation %}
						{% if link.primary %}
							<li>
								<a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</nav>
		</div>
	</header>

	<main class=" [ main ] [ flow ] ">
		{{ content | safe }}
	</main>

	<footer class=" [ footer ] ">
		<div class=" [ wrap ] [ footer__grid ] ">
			{% include 'author.njk' %}
			<ol class=" [ cluster ] [ footer__navigation ] ">
				{%- for link in navigation -%}
					{%- if link.secondary -%}
						<li><a href="{{ link.url }}"{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title }}</a></li>
					{%- endif -%}
				{%- endfor -%}
				<li class=" [ requires-js ] "><button id="color-scheme-toggle" class=" [ anchor ] [ js-color-scheme-toggle ] "><span class=" [ js-color-scheme-status ] ">Enable dark mode</span></button></li>
				<li class=" [ requires-js ] "><button id="sounds-toggle" class=" [ anchor ] [ js-sounds-toggle ] "><span class=" [ js-sounds-status ] ">Enable sounds</span></button></li>
			</ol>
			<ol class=" [ cluster ] [ footer__navigation ] ">
				<li>
					<a id="copyright" rel="license" href="/license/">© {{ site.established }}–{{ global.now | friendlyDate("yyyy") }} <span class=" [ canada ] ">{{ author.name }}</span></a>
				</li>
				{%- for item in socials -%}
					{%- if not item.hidden -%}
						<li {% if not item.primary %} hidden{% endif %}>
							{%- if item.url or item.split -%}
								{%- set url = item.url -%}
								{%- if item.key -%}
									{%- set url = url + author[item.key] -%}
								{%- endif -%}
								{%- if item.split -%}
									{%- set url -%}https://{{ author[item.key].split(item.split)[1] + '/' + item.split + author[item.key].split(item.split)[0] }}{%- endset -%}
								{%- endif -%}
								<a{% if not item.primary %} tabindex="-1"{% endif %}{% if item.mf_property %} class=" [ p-{{ item.mf_property }} ] "{% endif %} href="{{ url }}" rel="me">{{ item.title }}</a>
							{%- else -%}
								{%- set value = author[item.key] | default(item.value) -%}
								<data{% if item.mf_property %} class=" [ p-{{ item.mf_property }} ] "{% endif %} value="{{ value }}" rel="me">{{ item.title }}</data>
							{%- endif -%}
						</li>
					{%- endif -%}
				{%- endfor -%}
				<li>
					<a href="https://xn--sr8hvo.ws/💘🇹🇫/previous" class=" [ small ] " title="Previous website in the IndieWeb Web Ring">← Previous</a>
					<a href="https://xn--sr8hvo.ws/">IndieWeb Webring</a>
					<a href="https://xn--sr8hvo.ws/💘🇹🇫/next" class=" [ small ] " title="Next website in the IndieWeb Web Ring">Next →</a>
				</li>
			</ol>
			{% if speedlify[canonical] %}
				<p>
					<a class="speedlify-anchor" href="{{ author.urls.speedlify }}/{{ site.url | getHost }}/#site-{{ speedlify[canonical].hash }}">
						<speedlify-score hash="{{ speedlify[canonical].hash }}" speedlify-url="{{ author.urls.speedlify }}" score weight requests></speedlify-score>
					</a>
				</p>
			{% endif %}
		</div>
	</footer>

	<div class=" [ notification ] " hidden aria-hidden="true"></div>

	{% if env.ELEVENTY_PRODUCTION %}
		<script>{%- include '../../js/navigator.js' -%}</script>
	{% endif %}
	<script defer src="/js/main.js?v={{ pkg.version }}"></script>
	{% if js %}
		<script defer src="/js/pages/{{ js }}?v={{ pkg.version }}"></script>
	{% endif %}
	{% if speedlify[canonical] %}
		<script defer src="/js/speedlify-score.js"></script>
	{% endif %}
	{% if syndicate_to %}
		<script defer src="/js/indieconfig.js"></script>
		<script defer src="/js/webaction.js"></script>
	{% endif %}
</body>
</html>
