---
layout: base
---
<article id="content" class=" [ content ] [ wrap ] [ page ] ">

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] {% if perch %}[ perch ] {% endif %}">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">
			{{ description | safe }}
			{% if 'project' in tags %}
				<br>
				There are {{ github[page.fileSlug]['stargazers_count'] | numberStringFormat }} star-gazers <a href="https://github.com/chrisburnell/{{ page.fileSlug }}" rel="external">on GitHub</a> and it was downloaded {{ npm[page.fileSlug]['downloads'] | numberStringFormat }} times in the last month <a href="https://www.npmjs.com/package/@chrisburnell/{{ page.fileSlug }}" rel="external">on npm</a>.
			{% endif %}
		</p>
	</div>

	<div class=" [ content__body ] ">
		<div class=" [ e-content ] {% if toc %}[ generate-toc ] {% endif %}">
			{{ content | safe }}
		</div>

		{% include 'webmentions.njk' %}
	</div>

	{% if not toc %}
		{% include 'meta/page.njk' %}
	{% endif %}

	{% include 'ads.njk' %}

</article>
