---
layout: base
---
<article id="content" class=" [ content ] [ wrap ] [ page ] ">

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] ">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ details ] ">
		<p class=" [ p-summary ] ">{{ description | safe }}</p>
	</div>

	<div class=" [ content__body ] ">
		<div class=" [ e-content ] {% if toc %}[ generate-toc ] {% endif %}">
			{{ content | safe }}
		</div>

		{% include 'webmentions.njk' %}
	</div>

	{% include 'ads.njk' %}

</article>
