---
layout: base
---
<article id="content" class=" [ pantheon ] [ wrap ] [ page ] ">

	<h1 id="title" class=" [ title{% if title_error %} title--negative{% elif title_success %} title--positive{% endif %} ] ">
		<span class=" [ p-name ] {% if perch %}[ perch ] {% endif %}">{{ tagline | default(title) | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		{{ description | markdownFormat | safe }}
		{% if 'project' in tags and 'package' in tags %}
			<p>There are {{ github[page.fileSlug]['stargazers_count'] | numberStringFormat }} star-gazers <a href="https://github.com/chrisburnell/{{ page.fileSlug }}" rel="external">on GitHub</a> and it was downloaded {{ npm[page.fileSlug]['downloads'] | numberStringFormat }} times in the last month <a href="https://www.npmjs.com/package/@chrisburnell/{{ page.fileSlug }}" rel="external">on npm</a>.</p>
		{% endif %}
	</div>

	<div class=" [ content ] [ flow ] ">
		<div class=" [ e-content ] [ flow ] {% if toc %}[ generate-toc ] {% endif %}">
			{{ content | safe }}
		</div>

		{% include 'webmentions.njk' %}
	</div>

	{% if not toc %}
		<div class=" [ meta ] [ flow ] ">
			{% include 'meta/page.njk' %}
		</div>
	{% endif %}

	{% include 'ads.njk' %}

</article>
