---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /{{ category.plural }}/
eleventyComputed:
  title: "{{ category.properPlural | title }}"
  description: "All of my {{ category.properPlural }}."
---
{%- from 'macros/deckItem.njk' import deckItem -%}
{%- from "macros/shelfItem.njk" import shelfItem -%}
{%- set collection = collections[category.title] | arePublished | rssOnlyFilter | reverse -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.year | default(collection[0].year) -%}
{%- set first_year = collection[count-1].data.year | default(collection[count-1].year) -%}
<div class=" [ pantheon{% if category.full %}  full{% endif %} ] [ wrap ] [ archive ] ">
	<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
		<li>
			<a href="/posts/">All Posts</a>
		</li>
		<li aria-hidden="true">
			{{ category.properPlural | title }}
		</li>
	</ul>

	{# Only show sparkline if there is more than 1 year of data #}
	{% if first_year != latest_year %}
		{% sparkline collection, first_year %}
	{% endif %}

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] ">
		<p>
			<span class=" [ p-summary ] ">{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Just the one{% endif %} of my {{ category.properPlural }}{% if first_year != latest_year %}, dating from {% if collection[0].data.list == 'shelf' %}<span class=" [ no-wrap ] ">{{ first_year }}–{{ latest_year }}</span>{% else %}<span class=" [ no-wrap ] "><a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a></span>{% endif %}{% endif %}.</span>
			<a href="{{ site.url }}/{{ category.plural }}.xml" title="{{ title | safe }} Feed" class=" [ icon-anchor ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji></a>
		</p>
	</div>

	<div id="content" class=" [ content{% if collection[0].data.list == 'shelf' %}  full{% endif %} ] [ flow ] [ h-feed ] ">
		{% if categoryIntroductions[category.title] %}
			{{ categoryIntroductions[category.title] | join('\n\n') | markdownFormat | safe }}
		{% endif %}

		{% if collection[0].data.list == 'shelf' %}
			<c-librarian>
				<p>You can sort these {{ category.properPlural }}:</p>
				<ul class=" [ cluster ] ">
					<li><c-librarian-button key="title">by title</c-librarian-button></li>{% if category.review %}
					<li><c-librarian-button key="author">by {% if category == 'beer' %}brewery{% elif category == 'game' %}publisher{% elif category == 'music' %}artist{% else %}author{% endif %}</c-librarian-button></li>
					<li><c-librarian-button key="rating">by rating</c-librarian-button></li>{% endif %}{% if category.title != 'beer' and category.title != 'video' %}
					<li><c-librarian-button key="release">by release date</c-librarian-button></li>{% endif %}
					<li><c-librarian-button key="chronological" default="descending">by publish date</c-librarian-button></li>
				</ul>
			</c-librarian>
			<div class=" [ grid ] [ shelf {% if collection[0].data.shelfAlignment %} shelf--{{ collection[0].data.shelfAlignment }} {% endif %}] " aria-live="polite">
				{% for item in collection %}
					{{ shelfItem(item, { hfeed: true, show_images: true, truncate: true }) }}
				{% endfor %}
			</div>
		{% else %}
			{% for year, posts in collection | groupby('data.year') | dictsort | reverse %}
				<h2 id="{{ year }}">
					{{ year }} <small>{{ posts | length }} post{{ 's' if posts | length > 1 }}</small>
				</h2>
				<div id="list-{{ year }}" class=" [ deck ] ">
					{% for item in posts %}
						{{ deckItem(item, { hfeed: true, show_images: true, truncate: true }) }}
					{% endfor %}
				</div>
			{% endfor %}
		{% endif %}

		<hr>

		<div class=" [ grid ] [ navigator ] ">
			<a href="/{{ category.plural }}.xml" class=" [ button ] ">
				<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>{{ title | safe }} Feed
			</a>
		</div>
	</div>

	<div class=" [ meta ] " data-pagefind-ignore>
		{% include 'meta/archive.njk' %}
	</div>
</div>
