---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: /{{ category.plural }}/
eleventyComputed:
  title: "{{ category.properPlural | title }}"
  description: "All of my {{ category.properPlural }}."
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[category.title] | arePublished | reverse -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li>
			<a href="/archive/">All Posts</a>
		</li>
		<li aria-hidden="true">
			{{ category.properPlural | title }}
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		<p>{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Just the one{% endif %} of my {{ category.properPlural }}{% if first_year != latest_year %}, dating from {% if collection[0].data.list == 'shelf' %}{{ first_year }}–{{ latest_year }}{% else %}<a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a>{% endif %}{% endif %}.</p>
	</div>

	{% if first_year != latest_year %}
		{% sparkline collection, first_year, latest_year %}
	{% endif %}

	<div class=" [ content{% if collection[0].data.list == 'shelf' %}  full{% endif %} ] [ flow ] [ h-feed ] ">
		{% if categoryIntroductions[category.title] %}
			{{ categoryIntroductions[category.title] | join('\n\n') | markdownFormat | safe }}
		{% endif %}
		{% if collection[0].data.list == 'shelf' %}
			<div class=" [ box ] [ flow  sticky ] ">
				<div>
					You can sort these {{ category.properPlural }}:
					<button class=" [ anchor  strong  non-selectable ] " data-sort="title" aria-sort="none">by title</button>,
					<button class=" [ anchor  strong  non-selectable ] " data-sort="author" aria-sort="none">by author</button>,
					<button class=" [ anchor  strong  non-selectable ] " data-sort="rating" aria-sort="none">by rating</button>{% if category.title != 'beer' %},
					<button class=" [ anchor  strong  non-selectable ] " data-sort="release" aria-sort="none">by release date</button>{% endif %}, or
					<button class=" [ anchor  strong  non-selectable ] " data-sort="chronological" aria-sort="descending">by publish date</button>.
					<noscript>Although, you will need to enable JavaScript.</noscript>
				</div>
			</div>
			<nav class=" [ grid ] [ shelf {% if collection[0].data.read_of %}shelf--books {% endif %}] " aria-live="polite">
				{% for item in collection %}
					{% include 'items/shelf.njk' %}
				{% endfor %}
			</nav>
		{% else %}
			{%- set year = latest_year -%}
			<h2 id="{{ year }}">
				{{ year }} <small>({{ collection | getCountByYear(year) }})</small>
			</h2>
			<nav id="list-{{ year }}" class=" [ deck ] ">
				{% for item in collection %}
					{% if item.date.getFullYear() != year %}
						{%- set year = item.date.getFullYear() -%}
						</nav>
						<h2 id="{{ year }}">
							{{ year }} <small>({{ collection | getCountByYear(year) }})</small>
						</h2>
						<nav id="list-{{ year }}" class=" [ deck ] ">
					{% endif %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</nav>
		{% endif %}
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/archive.njk' %}
	</div>

</div>
