---
layout: null
pagination:
  data: collections.posts
  size: 1
  alias: item
permalink: "{{ item.date | NewBase60(item.data.categoryCode, collections[item.data.category]) }}/"
---

<!DOCTYPE html><html><head><meta http-equiv=refresh content="0; url={{ item.url }}">
