---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
eleventyComputed:
  title: "{{ tag | capitalizeFormat }}"
  description: "All of my posts tagged with <q>{{ tag | capitalizeFormat }}</q>."
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[tag] | arrayKeyIncludes('data.tags', 'post') | arePublished | reverse -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].date.getFullYear() -%}
{%- set first_year = collection[count-1].date.getFullYear() -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] ">
		<li>
			<a href="/archive/">All Posts</a>
		</li>
		<li>
			<a href="/archive/#tags">Tags</a>
		</li>
		<li aria-hidden="true">
			{{ tag | capitalizeFormat }}
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] " aria-title="Tagged: {{ tag | capitalizeFormat }}">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] [ p-summary ] ">
		<p>{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Just the one{% endif %} of my posts tagged <q>{{ tag | capitalizeFormat }}</q>.</p>
	</div>

	{% if first_year != latest_year %}
		{% sparkline collection, first_year, latest_year %}
	{% endif %}

	<div class=" [ content ] [ flow ] ">
		<nav class=" [ deck ] ">
			{% for item in collection %}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</nav>
	</div>

	<div class=" [ meta ] [ flow ] ">
		{% include 'meta/archive.njk' %}
	</div>

</div>
