---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
eleventyComputed:
  title: "{{ tag | title | specialCapitalize | replace('-', ' ') }}"
  description: "All of my posts tagged with <q>{{ tag }}</q>."
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[tag] | arePublished | sortByDate -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.date | friendlyDate('yyyy') -%}
{%- set first_year = collection[count-1].data.date | friendlyDate('yyyy') -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
		<li>
			<a href="/posts/">All Posts</a>
		</li>
		<li aria-hidden="true">
			{{ title | safe }}
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] ">
		<p>
			<span class=" [ p-summary ] ">{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Just the one{% endif %} of my posts tagged <q>{{ tag }}</q>{% if first_year != latest_year %}, dating from {% if collection[0].data.list == 'shelf' %}<span class=" [ no-wrap ] ">{{ first_year }}–{{ latest_year }}</span>{% else %}<span class=" [ no-wrap ] "><a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a></span>{% endif %}{% endif %}.</span>
			<a href="{{ site.url }}/{{ tag }}.xml" title="{{ tag | specialCapitalize }} Tag Feed" class=" [ icon-anchor ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji></a>
		</p>
	</div>

	{# Only show sparkline if there is more than 1 year of data #}
	{% if first_year != latest_year %}
		{% sparkline collection, first_year %}
	{% endif %}

	<div class=" [ content ] [ flow ] ">
		{% if global.cssnakedday -%}
			{% include 'css-naked-day.njk' %}
		{%- endif %}

		{%- set year = latest_year -%}
		{%- set count = collection | getCollectionCountByYear(year) -%}
		<h2 id="{{ year }}">
			{{ year }} <small>{{ count }} post{{ 's' if count > 1 }}</small>
		</h2>
		<div id="list-{{ year }}" class=" [ deck ] ">
			{% for item in collection %}
				{%- set check = item.data.date | friendlyDate('yyyy') -%}
				{% if check != year %}
					{%- set year = check -%}
					{%- set count = collection | getCollectionCountByYear(year) -%}
					</div>
					<h2 id="{{ year }}">
						{{ year }} <small>{{ count }} post{{ 's' if count > 1 }}</small>
					</h2>
					<div id="list-{{ year }}" class=" [ deck ] ">
				{% endif %}
				{% include 'items/deck.njk' %}
			{% endfor %}
		</div>

		<hr>

		<div class=" [ grid ] [ navigator ] ">
			<a href="/{{ tag }}.xml" class=" [ button ] ">
				<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>{{ title | safe }} Feed
			</a>
		</div>
	</div>

	<div class=" [ meta ] [ flow ] " data-pagefind-ignore>
		{% include 'meta/archive.njk' %}
	</div>

</div>
