---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: /tag/{{ tag }}/
eleventyComputed:
  title: "{{ tag | title | specialCapitalize | replace('-', ' ') }}"
  description: "All of my posts tagged with <q>{{ tag }}</q>."
hfeed: true
show_photos: true
truncate: true
---
{%- set collection = collections[tag] | arePublished | sortByDate -%}
{%- set count = collection.length -%}
{%- set latest_year = collection[0].data.year | default(collection[0].year) -%}
{%- set first_year = collection[count-1].data.year | default(collection[count-1].year) -%}
<div id="content" class=" [ pantheon ] [ wrap ] [ archive ] ">

	<ul class=" [ cluster ] [ breadcrumbs ] " data-pagefind-ignore>
		<li>
			<a href="/posts/">All Posts</a>
		</li>
		<li aria-hidden="true">
			{{ title | safe }}
		</li>
	</ul>

	<h1 id="title" class=" [ title ] ">
		<span class=" [ p-name ] ">{{ title | safe }}</span>
	</h1>

	<div class=" [ description ] [ flow ] ">
		<p>
			<span class=" [ p-summary ] ">{% if count > 1 %}All {{ count | numberStringFormat }}{% else %}Just the one{% endif %} of my posts tagged <q>{{ tag }}</q>{% if first_year != latest_year %}, dating from {% if collection[0].data.list == 'shelf' %}<span class=" [ no-wrap ] ">{{ first_year }}–{{ latest_year }}</span>{% else %}<span class=" [ no-wrap ] "><a href="#{{ first_year }}">{{ first_year }}</a>–<a href="#{{ latest_year }}">{{ latest_year }}</a></span>{% endif %}{% endif %}.</span>
			<a href="{{ site.url }}/{{ tag }}.xml" title="{{ tag | specialCapitalize }} Tag Feed" class=" [ icon-anchor ] "><c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji></a>
		</p>
	</div>

	{# Only show sparkline if there is more than 1 year of data #}
	{% if first_year != latest_year %}
		{% sparkline collection, first_year %}
	{% endif %}

	<div class=" [ content ] [ flow ] ">
		{% if global.isCSSNakedDay -%}
			{% include 'css-naked-day.njk' %}
		{%- endif %}

		{% for year, posts in collection | groupby('data.year') | dictsort | reverse %}
			<h2 id="{{ year }}">
				{{ year }} <small>{{ posts | length }} post{{ 's' if posts | length > 1 }}</small>
			</h2>
			<div id="list-{{ year }}" class=" [ deck ] ">
				{% for item in posts %}
					{% include 'items/deck.njk' %}
				{% endfor %}
			</div>
		{% endfor %}

		<hr>

		<div class=" [ grid ] [ navigator ] ">
			<a href="/{{ tag }}.xml" class=" [ button ] ">
				<c-emoji><svg width="24" height="24" aria-hidden="true" focusable="false"><use href="#svg--rss"></use></svg></c-emoji>{{ title | safe }} Feed
			</a>
		</div>
	</div>

	<div class=" [ meta ] [ flow ] " data-pagefind-ignore>
		{% include 'meta/archive.njk' %}
	</div>

</div>
