name: Branch Review

on:
  push:
    branches-ignore:
      - "**"
  pull_request:
    branches:
      - main

concurrency:
  group: review-live

jobs:
  build:
    name: Branch Build Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Setup
        uses: ./.github/actions/setup

      - name: Install
        uses: ./.github/actions/install

      - name: Test
        uses: ./.github/actions/test

      - name: Restore 11ty cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # 5.0.2
        with:
          path: .cache
          key: eleventy-cache-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            eleventy-cache-${{ github.run_id }}-
            eleventy-cache-

      - name: Restore Site cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # 5.0.2
        with:
          path: |
            _site
            !_site/og-images
            !_site/pagefind
          key: site-cache-${{ github.run_id }}
          restore-keys: site-cache-

      - name: Restore OG images cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # 5.0.2
        with:
          path: _site/og-images
          key: og-images-cache-${{ github.run_id }}
          restore-keys: og-images-cache-

      - name: Build
        uses: ./.github/actions/build-for-live
        env:
          FATHOM_SUMMARY_KEY: ${{ secrets.FATHOM_SUMMARY_KEY }}
          LASTFM_API_TOKEN: ${{ secrets.LASTFM_API_TOKEN }}
          MUSICTHREAD_API_KEY: ${{ secrets.MUSICTHREAD_API_KEY }}
          PERSONAL_API_KEY: ${{ secrets.PERSONAL_API_KEY }}
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          VIGENERE_SECRET: ${{ secrets.VIGENERE_SECRET }}
          WEBMENTION_IO_TOKEN: ${{ secrets.WEBMENTION_IO_TOKEN }}

      - name: Check Build
        uses: ./.github/actions/check
